[2022-05-04 19:13] JamieDanielson commented on #2945
I tested this locally to confirm this is the issue. Simplified output confirmed below:

**Works**: Collector 0.42.0 with `OTC_HOST=http://otel-collector:55681/v1/trace`
[code]

**Does Not Work**: Collector 0.43.0 with `OTC_HOST=http://otel-collector:55681/v1/trace`
[code]

**Works**: Collector 0.42.0 with `OTC_HOST=http://otel-collector:55681/v1/traces`
[code]

**Works**: Collector 0.43.0 with `OT

[2022-05-04 19:20] JamieDanielson commented on #2945
Another important note: [Collector Version 0.46.0](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.46.0) officially removed the deprecated port 55681 with [PR 4916](https://github.com/open-telemetry/opentelemetry-collector/pull/4916).

So the `docker-compose-yml` should also change to `OTC_HOST=http://otel-collector:4318/v1/traces` for environment, and use `"4318:4318"` f

[2022-05-04 20:51] sgracias1 commented on #2945
Thank you! can confirm that using the new url and port I don't see this issue anymore.
Closing this ticket

[2022-05-04 20:51] #2945 closed

[2022-05-04 21:03] #2886 closed

[2022-05-04 21:04] svetlanabrennan commented on #2873
A few questions on `OTEL_TRACES_EXPORTER`:

1. [This is the only place](https://github.com/open-telemetry/opentelemetry-js/blob/7870e9529f1fc293766357f55f303f889e4154c1/packages/opentelemetry-sdk-trace-base/src/BasicTracerProvider.ts#L251-L261) that I can find that uses `OTEL_TRACES_EXPORTER` but I don't see it setting up any exporters. From [this pr](https://github.com/open-telemetry/opentelemetr

[2022-05-05 03:32] #2943 closed

[2022-05-05 07:23] francisdb commented on #2873
This is what we currently use but it's far from complete

[code]

[2022-05-05 07:26] francisdb commented on #2873
There is a section on the default protocol for otlp:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#specify-protocol

[2022-05-05 11:08] SoftMemes commented on #2951
@Flarna thank you for your reply, I've now narrowed this issue down to specifically dealing with async generator functions.

I'm creating a middleware for [nice-grpc](https://github.com/deeplay-io/nice-grpc) which relies on async generators. While I've used context.with() on the invocation of the wrapped generator function, this is not by itself enough to automatically pass on the context as code

[2022-05-05 14:02] vmarchaud commented on #2873
Yes, i originally implemented few exporters in the PR before removing them because the sdk size.

From our discussion at the time we agreed that we didn't want this into the `sdk-trace-node` since its the core sdk that we want to be as lightweight as possible. However i do think this feature has its place into the `sdk-node` package where we bundle common exporters so end user can easily use them.

[2022-05-05 14:05] vmarchaud commented on #2951
I might be wrong but i don't think the low level promise hook covers generators on the V8 side and i don't think its covered by async hooks itself in Node either. So i think the workaround is the only reasonable solution for now

[2022-05-05 15:49] svetlanabrennan commented on #2873
Ah yes I see it now. @francisdb provided a link to it above - I must have missed. The default is `http/protobuf`.

[2022-05-05 19:16] Flarna commented on #2951
The corresponding issue in node repo: https://github.com/nodejs/node/issues/42237

[2022-05-06 13:13] #2782 closed

[2022-05-06 14:57] #2530 closed

[2022-05-08 04:24] longility commented on #1089
Has anyone made an attempt at hooking in Otel or have a simple approach or workaround?

[2022-05-09 06:40] #2792 closed

[2022-05-09 08:58] legendecas opened #2956 "Multi-instrument observable callback"
Tracking issue for recent spec change on async instruments:
- https://github.com/open-telemetry/opentelemetry-specification/pull/2363

TODOs:
- [x] https://github.com/open-telemetry/opentelemetry-js/pull/2822
- [x] https://github.com/open-telemetry/opentelemetry-js/pull/2742
- [ ] Batch callback API
  - [ ] Optional observable callback on `meter.createObservableXXX`

[2022-05-09 19:27] tylerreece22 opened #2957 "How do I flush metrics in-memory state or set a memory size limit?"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

I will be collecting a significant amount of data and there are points at which I would prefer to wipe in-memory metric state without restarting my application. I tried AggregationTemporality.DELTA but for my particular use case it will not start me from

[2022-05-09 19:44] dyladan commented on #2957
I'm not sure but I think there isn't a way to do this right now. The best you can get at the moment is to flush any collected data to an exporter, but this won't reset the SDK state to a like-new state. Can I ask what state specifically is kept that you would like cleared? The difference between a newly created SDK and one that has just flushed is pretty similar in terms of what it exports on the

[2022-05-09 20:11] tylerreece22 commented on #2957
Thank you for your response. So you are correct. I retested and data points are actually being flushed after each export when temporality is set to `AggregationTemporality.DELTA`

[2022-05-09 20:11] #2957 closed

[2022-05-09 20:56] dyladan commented on #2586
not stale

[2022-05-09 20:56] dyladan commented on #2586
@pichlermarc this is done now right?

[2022-05-10 07:31] pichlermarc commented on #2586
Yes this is done (according to the title) :slightly_smiling_face:

However:
- Move proto to a shared location if possible
  - **is not done:** currently there are two proto locations (down from 4 locations previously)
- Use autogenerated JS from the proto repo if possible
  - **is not done AFAIK:** we do not use autogenerated JS, or at least it is not documented that we do.

[2022-05-10 15:24] legendecas commented on #2774
Well done @pichlermarc 🎉

[2022-05-10 15:24] #2774 closed

[2022-05-10 17:40] spencerwilson opened #2961 "Move `Sampler` interface to an SDK package?"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Should `Sampler` be defined in an SDK package? It's defined in the SDK spec, but currently is implemented in the API package.

- https://github.com/open-telemetry/opentelemetry-js-api/blob/v1.1.0/src/trace/Sampler.ts
- https://github.com/open-telemetry/op

[2022-05-10 18:00] dyladan commented on #2961
Since the API is stable the best we can do is mark it deprecated there and duplicate it to the SDK. Personally I think the SDK is a better place for it.

[2022-05-10 18:09] gogreen53 commented on #2587
I'd like to put in a huge +1 to having this done. I'm working on metrics now and having to export a set of attributes to include in every call to an instrument is causing my eye to twitch. :)

Is there any ETA? Thanks!

[2022-05-10 20:30] dyladan commented on #2586
This should probably be a separate issue if we're going to handle it.

This is definitely not done and was a specific choice because the autogenerated code was difficult to package the way we wanted to keep bundles small. We can create a separate issue for this if it is something we want to try again in the future, but it will be tough to do in a non-breaking way after metrics is GA I think

[2022-05-10 20:31] #2586 closed

[2022-05-10 20:36] dyladan commented on #2804
Not stale and still experimental

[2022-05-10 20:38] dyladan commented on #2815
This could be solved 2 different ways:

- a general way to ignore requests in the http instrumentation (maybe this is already possible I can't remember
- a specific feature in the express instrumentation

I don't think this is stale

[2022-05-11 00:33] spencerwilson commented on #2961
Oops, just saw that this is basically a dupe of https://github.com/open-telemetry/opentelemetry-js-api/issues/148

[2022-05-11 00:47] spencerwilson opened #2974 "Support TraceStates on SamplingResults"
Spec v0.7.0 added the expectation that `SamplingResult` includes a `TraceState`. [Current spec text](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.11.0/specification/trace/sdk.md#shouldsample): A `SamplingResult` contains...

Task: Support ^ by adding a property `traceState?: TraceState` to `SamplingResult` ([src](https://github.com/open-telemetry/opentelemetry-js-api/blob/

[2022-05-11 09:03] r0kk opened #2977 "[ERROR] [plugin vite:dep-pre-bundle] Failed to resolve entry for package "@opentelemetry/otlp-exporter-base""
**vite** version: 2.8.3
**macOS Big Sur** version: 11.6.5

I tried to use this open telemetry initialisation: https://docs.honeycomb.io/getting-data-in/opentelemetry/browser-js/#initialization , but it fails.

I changed require imports to this:
[code]

Error log:
[code]

Thank you.

[2022-05-11 16:07] dyladan commented on #2910
@andyfleming any update on this?

[2022-05-11 19:54] #2947 closed

[2022-05-12 15:52] #2922 closed

[2022-05-12 16:32] gvelez17 opened #2962 "The prometheus example is a 404"
The link https://github.com/open-telemetry/opentelemetry-js/blob/main/examples/prometheus is not found

[2022-05-12 18:31] dyladan commented on #2962
Where did you find the link?

[2022-05-12 20:18] dyladan commented on #2587
There is no metrics API in 1.0 or 1.1 anyway so any metrics users will need to be at least on 1.2 (or whatever version we add metrics to the main API package).

[2022-05-12 20:49] Flarna commented on #2587
well, `@opentelemetry/instrumentation` depends on metrics API. So there are users effected not using metrics at all.

[2022-05-12 21:07] cartermp opened #2964 "`getNodeAutoInstrumentations` type error when initializing tracing in TypeScript"
Consider the following express app with tracing initialized from docs/readme:

`index.ts`:

[code]

`tracing.ts`:

[code]

And requiring `tracing.ts` in the npm manifest: `"start": "nodemon -r ./tracing.ts index.ts",`

a type error is present:

[code]

At face value, type types appear as though they would be compatible. If I change the `getNodeAutoInstrumentations()` line to cast to `any`, then ev

[2022-05-12 21:23] Flarna commented on #2964
I'm quite sure this is because no release from `@opentelemetry/auto-instrumentations-node` was made after the 1.2.0/0.28.0 release from core SDK components.
As a result you get a mix of newer and older components.

If you want to use instrumentations form contrib it's most likely needed to stick on SDK 1.0.0/0.27.0 until a new release is done here.

[2022-05-12 23:20] cartermp commented on #2964
Thanks @Flarna, that would make sense. I have an older app where this doesn't reproduce.

Are there circumstances where it's not a good idea to do instrumentation package releases after a core package? I'm not familiar with the release strategy here.

(also, would this issue be better in the contrib repo? Apologies if this is in the wrong place)

[2022-05-13 08:11] pichlermarc commented on #2962
I could not find this link in the repo anymore. :thinking:
The example has moved to: https://github.com/open-telemetry/opentelemetry-js/tree/main/experimental/examples/prometheus

[2022-05-13 08:15] Flarna commented on #2964
The work to get contrib modules released is ongoing. There are quite some changes needed to update dependencies and keep all the various npm modules happy. An the number of people working on this is not that high.

Yes and contrib repo would be better in this case but as the people involved are mostly the same it's not that cirical.

[2022-05-13 10:26] pranshuchittora opened #2967 "instrumentation-fetch is not able to get the relevant HTTP code"
status.code is always 0

![Screenshot 2022-05-13 at 15 55 30](https://user-images.githubusercontent.com/32242596/168264966-a20c3582-e278-428b-9371-91ea00226367.png)

Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
[code]
### What version of Node are you using?
v16.13.2

### Please provide the code you used to setup the OpenTelemetry S

[2022-05-13 14:30] cartermp commented on #2964
Thanks for the explanation @Flarna, I appreciate it! I'll let some folks who ran into this know for now, and keep my eyes peeled for the next release.

[2022-05-13 21:49] ghisguth opened #2971 "AbstractAsyncHooksContextManager breaks .removeListener for handlers which was added with .once"
### What version of OpenTelemetry are you using?

latest

@opentelemetry/context-async-hooks  1.2.0

### What version of Node are you using?

v16.14.0

### Please provide the code you used to setup the OpenTelemetry SDK

Code uses `req.once("abort", handler)` and after successful processing it calls `req.removeListener("abort", handler)`. Code works without OTEL. With OTEL removeListener is not re

[2022-05-14 09:18] vmarchaud commented on #2587
I fail to see in which scenario this will be a problem, there will be breaking changes for instrumentation anyway since metrics types will change no ?

[2022-05-14 10:53] Flarna commented on #2587
It's not really a problem. I have no problme with API 1.x
Most people wouldn't expect a side effect from metics to instrumentations. We have `^1.0.0` range for API at most places (e.g. all instrumentations) but as their common base requires 1.1 that could be a bit confusing.
But NPM,... is hopefully able to dedupe this.

[2022-05-15 08:02] vmarchaud commented on #2587
I meant that we'll need to bump all instrumentations to require 1.2 (or whatever will be the metrics version) since need to depend on the new API so duplicate issue will solves itself (at least until we ship another api minor) ?

[2022-05-16 06:42] #2808 closed

[2022-05-16 15:22] legendecas commented on #2974
I moved this issue since this is part of the SDK (though the Sampler interface is not moved to this repo yet).

[2022-05-16 15:33] legendecas commented on #2974
Both SGTM. Though, I don't find the semver-minor to be very clear as it has reached 1.9.0 already and our API package is not following the semantics.

[2022-05-16 15:45] legendecas commented on #2967
`Span.status.code` is not exactly the HTTP status code. It is coerced to the opentelemetry representation `SpanStatusCode`.

[2022-05-16 16:22] AlexRRR commented on #2784
@legendecas  @dyladan  : I wanted to document my findings, sadly just updating to the latest version of `jaeger-client`  won't be enough, as the PR that implemented it was closed (https://github.com/jaegertracing/jaeger-client-node/issues/421) without being merged, but I can confirm that the fix works and I was able to bundle via webpack. (I've created a a fork and applied the changes)

Vendoring

[2022-05-17 07:18] #2816 closed

[2022-05-17 14:08] #2884 closed

[2022-05-17 16:36] cartermp commented on #2964
The getting started guide as-written should work with the older package versions.

[2022-05-17 17:21] Flarna commented on #2964
OTel contrib pacakges were released yesterday but something went wrong and upload to NPM is missing, see https://github.com/open-telemetry/opentelemetry-js-contrib/pull/947

[2022-05-17 19:26] gvelez17 commented on #2962
ah it may not be in this repo, its at https://www.npmjs.com/package/@opentelemetry/instrumentation-express

see the link

 See [examples/express](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/express) for a short example.

 Maybe you can create a 301 from those pages?  since npmjs.com is linking to them

[2022-05-17 20:40] tigrannajaryan opened #2980 "Is it possible to add attributes to "instrumentation scope"?"
[This OTEP](https://github.com/open-telemetry/oteps/pull/201) proposed to add attributes to instrumentation scope.

This issue is a question for the maintainers of this repo: are we able to do this in a non-breaking manner and without significant performance impact?

[2022-05-18 04:01] andyfleming commented on #2910
Getting back to this now. Opened up a PR. There's an outstanding issue, but we can continue that discussion over there.

[2022-05-18 06:38] vmarchaud commented on #2980
It is feasible in a non-breaking way since we already use an object as options for the Tracer ([here](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-trace-base/src/BasicTracerProvider.ts#L93)) and Meter ([here](https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-sdk-metrics-base/src/MeterProvider.ts#L110)) becaus

[2022-05-18 13:26] Radik24 commented on #2675
It's still an issue with `"@opentelemetry/exporter-metrics-otlp-http": "0.28.0"` and `otel/opentelemetry-collector-contrib:0.51.0`. Any ideas how to fix it? Thanks

[2022-05-19 10:36] domasx2 commented on #2943
Hey, when can we expect a new npm release with fix for this?

[2022-05-19 23:39] GregoryBL opened #2984 "Success status code for grpc (rpc.grpc.status_code) incorrect using grpc-js"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
1.1.0
### What version of Node are you using?
16.14.0
### Please provide the code you used to setup the OpenTelemetry SDK
This shouldn't be relevant, but:
[code]
### What did you do?
Make a successful request after setting up a grpc server with grpc-js and registering `GrpcInstrumentatio

[2022-05-20 07:56] legendecas commented on #2977
Duplicated with https://github.com/open-telemetry/opentelemetry-js/issues/2943. We need to release a new version to fix this.

[2022-05-20 08:12] legendecas opened #2987 "Asynchronous instrument gaps and resets on delta temporality"
Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/supplementary-guidelines.md#asynchronous-example-attribute-removal-in-a-view

We need to detect gaps and resets and prevent producing negative outputs for observable counters aggregated by SumAggregator.

A basic implementation is to add [monotonicity support](https://github.com/open-telemetry/opent

[2022-05-20 09:03] legendecas commented on #2962
I believe the link has been removed in the latest express example: https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-express/examples. Closing. Please feel free to reopen if that's not the case.

[2022-05-20 09:03] #2962 closed

[2022-05-23 06:51] krutoo commented on #2845
same issue

[2022-05-23 17:41] dyladan commented on #2826
I would prefer to remove as it is not part of the spec.

[2022-05-23 20:22] dyladan commented on #2833
What is the usecase for this in JS. In swift and android it is obviously useful for mobile apps which may have limited network access and be terminated before exports are complete. In most restricted JS environments such as browser, lambda, webworkers, and edge compute, persisting to disk is not guaranteed to be easy or possible.

[2022-05-25 03:13] #2956 closed

[2022-05-25 14:40] gvelez17 commented on #2675
Using same versions here (0.28.0 and 0.51.0) and also not seeing metrics appearing in the collector

[2022-05-25 16:01] mplachter opened #2994 "opentelemetry api 1.2.0 not published to NPM"
The latest releases are not published to npm.

- [x] This only affects the JavaScript OpenTelemetry library

[2022-05-26 15:35] mplachter commented on #2675
gotta use `0.42.0` or older currently it seems.

[2022-05-27 06:18] lisuizhe commented on #1278
hi appreciate if any further progress on this issue?

[2022-05-27 08:52] legendecas opened #2997 "Ability to remove/flush unused attributes in metric instruments"
Removing/flushing unused dynamic attributes in metric instruments is very important to not leaking memories.

Spec issue: https://github.com/open-telemetry/opentelemetry-specification/issues/1297
Prometheus Suggestion: https://prometheus.io/docs/instrumenting/writing_clientlibs/#labels

*Opening this issue to keep track of this problem*.

[2022-05-27 15:26] #2910 closed

[2022-05-28 09:17] #2826 closed

[2022-05-29 20:37] naseemkullah commented on #2942
service name can be configured via `OTEL_SERVICE_NAME` or `OTEL_RESOURCE_ATTRIBUTES` as per https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#general-sdk-configuration

jaeger exporter can be configured via these env vars: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.

[2022-05-30 06:42] #2245 closed

[2022-05-30 06:42] #2223 closed

[2022-05-30 06:43] dailydismay opened #2999 "https://github.com/open-telemetry/opentelemetry-js/tree/ba3e3207edd217366710e10a769ba7ad4c4fa655/experimental/packages/opentelemetry-api-metrics"
latest otel package versions, node 12

[code]

I tried to set up custom boundaries for buckets (I need exclusive for each instance, not for agregator), there is no boundaries option
in `HistogramOptions` .

[2022-05-30 08:28] legendecas commented on #2999
This is intended. The boundaries now should be configured with Views. You can do it like

[code]

[2022-05-30 08:58] sstone1 commented on #2964
This is now happening again with the latest `0.29.0` release:

[code]

[2022-05-30 10:09] Flarna commented on #2964
Yes, unfortunately.
Work to update contrib components is ongoing, see https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1042

I fear such compatibility problems will persist as long metrics and instrumentations are in experimental phase.

[2022-05-30 11:39] dailydismay commented on #2999
@legendecas It will give those boundaries for each histogram created by `meter`. I need to create N histogram metrics with it's own boundaries per metric

[2022-05-30 12:28] pichlermarc opened #3001 "Histograms should not allow negative values to be recorded"
Currently, the Histograms allow for negative values to be recorded. However, the spec states this for parameters of the `record` function:

We should drop non-negative histogram values and log when they are recorded. The same is done in the [Python](https://github.com/open-telemetry/opentelemetry-python/blob/741389585b5d6d1af808a8939c5348113158f969/opentelemetry-sdk/src/opentelemetry/sdk/metrics/_

[2022-05-30 14:23] #2852 closed

[2022-05-30 14:52] blumamir opened #3003 "New resource detectors import "os" which doesn't work in browsers"
### What version of OpenTelemetry are you using?
1.3.0

### What version of Node are you using?
12

Versions 1.3.0 of stable added new resource detectors to `@opentelemetry/resources`: "OsDetector" and "HostDetector". They both "import {..} from 'os' which makes contrib tests fail with message:

Are these detectors meant to be used in the browser? As far as I understand, the `@opentelemetry/resour

[2022-05-30 17:07] dailydismay opened #3005 "Meter Provider interface from @opentelemetry/api-metrics has no addView method"
https://github.com/open-telemetry/opentelemetry-js/blob/fd95d42c19777cae60feafc35d32c9fa1a21c06d/experimental/packages/opentelemetry-api-metrics/src/types/MeterProvider.ts#L22

But it has those methods in it's instance

![image](https://user-images.githubusercontent.com/44939563/171036155-ce87ca9e-0885-4e04-8a2d-debfbf1e2df4.png)

[2022-05-30 17:20] legendecas commented on #3005
It is designed as intended in the metrics API and SDK spec:

- API MeterProvider Operations: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#meterprovider-operations
- SDK MeterProvider Views: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#view

[2022-05-30 21:37] gvelez17 opened #3006 "link broken on readme"
On https://github.com/open-telemetry/opentelemetry-js/blob/main/examples/README.md

the link to https://github.com/open-telemetry/opentelemetry-js/blob/main/examples/prometheus is a 404

[2022-05-31 08:56] dailydismay commented on #3005
@legendecas

[2022-05-31 11:14] Abhishek-saharn opened #3009 "TypeError: MeterRegistry is not a constructor"
- [ ] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I was following [this](https://dev.to/yuriatgoogle/custom-metrics-in-node-js-with-opentelemetry-and-prometheus-3dbd) blog for implementing metric measurements with exporter `@opentelemetry/exporter-metrics-otlp-http (not the Prometheus )`

I am facing **`

[2022-05-31 13:28] Abhishek-saharn commented on #3009
Could resolve `TypeError: PeriodicExportingMetricReader is not a constructor` issue by moving away from stable to experimental version.

[2022-05-31 16:08] dyladan commented on #2675
I'm sorry i forgot to create a release but 1.3.0/0.29.0 was released at the end of last week https://github.com/open-telemetry/opentelemetry-js/pull/2995 the most recent version should work

[2022-05-31 18:16] bryan-aguilar opened #3010 "Histogram min/max support"
- [ x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Does the metrics sdk support Histogram min/max values from the [data model](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#histogram)? I was poking around the sdk and did not see it in the Aggre

[2022-06-01 11:59] odidev opened #3011 "Add ARM64 Support"
Hi Team,

I'm working on testing opentelemetry js language library for arm64 platform.

### Is your feature request related to a problem? Please describe.

The js language library doesn’t have arm64 platform support.

### Describe the solution you'd like

I have explored the repository and CI being used in this library, arm64 builds can be added in the GitHub actions CI to enable test in the libra

[2022-06-01 12:06] vmarchaud commented on #3011
I'm not sure to understand why running those tests in arm64 would change anything, node itself support amd64 so running tests on amd64 doesn't add anything AFAIK

[2022-06-01 13:03] dyladan commented on #3011
While I agree with this in principle, there is always the chance that we have pulled in a dependency with a native component for an exporter or something like that. Also, there could be node bugs that affect only some architectures. I don't see harm in testing it on multiple platforms as long as the tests are parallel with existing tests and don't increase our test time too much. I don't think we

[2022-06-01 14:17] legendecas commented on #3005
Like I said above. The layering of API and SDK is to remove the frequently updated dependency on SDK from most instrumentations. We are following what the specification defines. To propose a change on an area that is defined in the specification, I'd suggest following our contributing guidelines to submit an issue to https://github.com/open-telemetry/opentelemetry-specification/issues/new.

[2022-06-01 14:17] #3005 closed

[2022-06-01 14:19] legendecas commented on #2999
Closing as the question has been answered. Please feel to reopen if that is not the case.

[2022-06-01 14:48] #3003 closed

[2022-06-01 15:55] #3006 closed

[2022-06-01 16:14] legendecas commented on #2574
Closed and keep tracking in https://github.com/open-telemetry/opentelemetry-js/milestone/15.

[2022-06-01 16:14] #2574 closed, assigned to nobody

[2022-06-01 17:42] dyladan commented on #2773
Can this be closed since it works with the latest SDK? The resource support is a separate issue and is already tracked in #867

[2022-06-01 20:31] sgracias1 commented on #2839
hello, I would like to add this documentation in. Seems like the best way to go would be to add a new section to the README and I am thinking of pulling these values based on whats in the src code unless there is a different reference point?

[2022-06-02 00:44] blumamir commented on #2980
Since the OTEP is merged, I think this issue can be closed

[2022-06-02 00:44] #2980 closed

[2022-06-02 03:02] legendecas opened #3014 "INT metric instrument integer overflow"
JavaScript integer numbers are coerced to floating-point values implicitly if the value goes over the Number.MAX_SAFE_INTEGER. A metric instrument with ValueType.INT should stick to integer values if possible.

Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/supplementary-guidelines.md#integer

[2022-06-02 03:56] legendecas commented on #2773
Yeah, I'll open a new tracking issue for the prometheus compatibility spec changes.

[2022-06-02 03:56] #2773 closed

[2022-06-02 04:00] legendecas opened #3015 "Export units in Prometheus exporter"
Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#otlp-metric-points-to-prometheus

Prometheus exporter needs to include units in the exported metric metadata.

[2022-06-02 15:52] jjhuff opened #3016 "Browser tracing without Metrics"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
1.3.0/0.29.1

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you expect to see?/What did you see instead?
OTLPTraceExporter ends up pulling sdk-metrics-base into the bundle -- even though I'm not using metrics.
Ends up adding an extra 50KB in my

[2022-06-02 16:21] mplachter commented on #2675
@dyladan trying both `0.29.0` and `0.29.1` and i'm getting these flooding the collector with no traces or metrics.

[code]

[2022-06-02 16:29] dyladan commented on #2675
That looks like a collector issue not an issue with OTel js

[2022-06-02 16:30] dyladan commented on #2675
@pichlermarc if you have time can you look into this?

[2022-06-02 16:31] mplachter commented on #2675
I'm running this locally in a docker compose.. Not in a deployed env.

I'll double check again to make sure nothing is trying to communicate with otel over the grpc port.

[2022-06-02 16:43] mplachter commented on #2675
Yeah I did double check and also i get this from the otel-js side.

[code]

[2022-06-02 16:45] mplachter commented on #2675
The `Go` sdk works no problem with the collectors only getting this behavior using the `js` packages.

[2022-06-02 17:05] jjhuff commented on #3003
I noticed that I still have to tell webpack to ignore `os`:
[code]

The way I'm reading the code, it looks like the `node` versions always get imported?

I'm importing Resource like:
`import { Resource } from '@opentelemetry/resources';`

[2022-06-02 17:13] blumamir commented on #3003
I think the fix is merged but not yet published

[2022-06-02 17:23] jjhuff commented on #3003
I think it went out with 0.29.1: https://github.com/open-telemetry/opentelemetry-js/pull/3013

[2022-06-02 17:28] blumamir commented on #3003
The version in npm is still 1.3.0: https://www.npmjs.com/package/@opentelemetry/resources

Looks like #3013 released experimental but not stable packages.
@dyladan - should we publish a release for 1.3.1?

[2022-06-02 17:35] blumamir commented on #3003
@dyladan will publish stable packages later today.
Thank you for reporting

[2022-06-03 11:50] pichlermarc commented on #2675
@mplachter you're using `@opentelemetry/exporter-metrics-otlp-grpc`, right? :thinking:

I looked into your issue and found that the `@opentelemetry/exporter-metrics-otlp-http` works, but `@opentelemetry/exporter-metrics-otlp-grpc` is currently broken. It seems like a PR after #2886 introduced another bug. This causes the exporter to try and open a secure connection on an insecure server.

I'm curr

[2022-06-04 19:25] lizthegrey opened #3020 "missing dependency on @types/long in @opentelemetry/otlp-transformer"
### What version of OpenTelemetry are you using?
v0.29.1

### What version of Node are you using?
v16.15.1

### Please provide the code you used to setup the OpenTelemetry SDK
n/a

### What did you do?
Build with yarn 3/4

### What did you expect to see?
Clean compile with yarn 3/4

### What did you see instead?
[code]

### Additional context
Adding this code (similar to grpc-js workaround) solves

[2022-06-05 14:46] shiftj18 opened #3021 "@opentelemetry/resources@1.3.0 › @opentelemetry/semantic-conventions@1.3.0] Can't find package @opentelemetry/semantic-conventions's version: 1.3.0"
rt,
Latest version of '@opentelemetry/semantic-conventions' is 1.2.0。。

[2022-06-05 14:50] shiftj18 commented on #3021
That's the question of TNpm which not sync it. Sorry about this.

[2022-06-05 14:50] #3021 closed

[2022-06-06 06:39] #2837 closed

[2022-06-07 06:58] legendecas commented on #3016
The problem here is that @opentelemetry/otlp-transformer depends on @opentelemetry/sdk-metrics-base. We have efforts on this, like https://github.com/open-telemetry/opentelemetry-js/pull/2973. However, with tree-shaking, it is supposed to add no additional bundle size if the metrics part is not used at all.

[2022-06-07 07:11] legendecas commented on #2977
Fixes has released in v0.29.2. Closing.

[2022-06-07 07:11] #2977 closed

[2022-06-07 07:12] legendecas commented on #2943
@domasx2 v0.29.2 containing the fixes has been released.

[2022-06-07 07:35] legendecas commented on #2894
I believe the problem is related to https://github.com/grpc/grpc-web/issues/1044.

We don't have any actionable items here as the code is generated with protoc and protoc-gen-grpc-web anyway: https://github.com/open-telemetry/opentelemetry-proto/blob/main/Makefile#L87. Closing as not planned.

[2022-06-07 07:35] #2894 closed

[2022-06-07 14:57] stevoland opened #3025 "Some 0.29.1 packages have dependencies pinned to 1.3.0"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

1.3.1

### What version of Node are you using?

14.18.2 but using web packages

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?

`yarn` (v1.22.17)

### What did you expect to see?

No nested `@opentelemetry` packages in `node_modules`

##

[2022-06-07 15:32] Flarna commented on #3025
Is this still an issue with 0.29.2?

[2022-06-07 16:11] stevoland commented on #3025
@Flarna Sorry, hadn't seen 0.29.2. All good, thanks!

[2022-06-07 16:11] #3025 closed

[2022-06-07 16:26] legendecas commented on #2664
Closing as the problem no longer exists on the latest Metrics SDK. Please feel free to reopen if there is anything new to update.

[2022-06-07 16:26] #2664 closed

[2022-06-07 17:16] #3020 closed

[2022-06-08 14:45] legendecas opened #3026 "Document latest Metrics SDK"
We need to update the standalone documents of Metrics SDK to help people understand the metrics spec changes and how JavaScript SDK implements them.

- [ ] https://github.com/open-telemetry/opentelemetry-js/blob/main/doc/processor-api.md needs to be replaced with Views API
- [x] https://github.com/open-telemetry/opentelemetry-js/blob/main/doc/exporter-guide.md#metrics needs to be replaced with Met

[2022-06-08 15:33] dyladan commented on #3026
I believe all docs should be moved to the website. We can iterate on them here and move them to the website when we're happy with them?

[2022-06-08 16:20] dyladan commented on #2855
We talked about this in the SIG meeting and agreed that this is safe for us. Even our modules which have side-effects do not execute those side-effects at load time and require a user to explicitly call a function. This will cause the static analysis of webpack to realize the module is used and not tree-shake it out.

[2022-06-09 15:10] icereed commented on #1412
Hi there, did any one success yet with Instrumentation using yarn 2 (with PnP) and webpack? I could only see modules like dns, tcp or http working out of the box. Modules like express, graphql or mongodb are not working.

Do I need to externalize some of the deps?

[2022-06-09 20:48] mhassan1 opened #3029 "[`@opentelemetry/instrumentation`] `require` performance grows linearly with each instrumentation plugin"
### What version of OpenTelemetry are you using?
`@opentelemetry/api@^1.1.0`

### What version of Node are you using?
`v16.14.2`

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?
[code]

### What did you expect to see?
`require` should not be much slower when instrumentation is enabled

### What did you see instead?
`require` is 3-5x slower when inst

[2022-06-09 22:30] jwatte opened #3030 "Using ZoneContextManager and FetchInstrumentation in browser causes lots of leaked Promises"
### What version of OpenTelemetry are you using?

    "@opentelemetry/api": "^1.1.0",
    "@opentelemetry/context-zone": "^1.3.0",
    "@opentelemetry/core": "^1.3.0",
    "@opentelemetry/exporter-trace-otlp-http": "^0.29.1",
    "@opentelemetry/instrumentation-fetch": "^0.29.1",
    "@opentelemetry/sdk-trace-base": "^1.3.0",
    "@opentelemetry/semantic-conventions": "^1.3.0",

### What version o

[2022-06-09 22:34] jwatte commented on #3030
Also: we do not use our own zone-js.

[2022-06-10 03:32] zahirhoney opened #3031 "[instrumentation http]: Missing http.host attribute on timed out requests"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
v1.0.2 (issue exists in latest release as well)

### What version of Node are you using?
14.18

### What did you expect to see?
The http.host attribute is missing on HTTP requests that timeout or have an error.  This looks to be due to the attribute only being set when a response is succ

[2022-06-10 08:30] vmarchaud commented on #3031
Totally think we could set most of the attributes at the begining of the request since we have most of the information, do you think you could make a PR for that ?

[2022-06-13 06:07] matschaffer opened #3033 "[opentelemetry-exporter-prometheus] Export PrometheusSerializer"
### Is your feature request related to a problem? Please describe.

I would like to implement a PrometheusExporter that fits into the kibana routing infrastrucure. The implementation of the exporter is simple if I can reuse the PrometheusSerializer, but it's not exported from the package index.

### Describe the solution you'd like

Exporting it should fix this, if it's acceptable to have as part

[2022-06-13 08:43] pichlermarc opened #3035 "Implement `InMemoryMetricExporter`"
### Is your feature request related to a problem? Please describe.

The Metrics Specification defines an [in-memory Metrics Exporter](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk_exporters/in-memory.md). This Exporter can be useful for testing.

### Describe the solution you'd like

We should implement an `InMemoryMetricsExporter` according to t

[2022-06-13 08:52] pichlermarc opened #3036 "Implement `ConsoleMetricsExporter`"
### Is your feature request related to a problem? Please describe.

The Metrics Specification defines an [standard output Exporter](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk_exporters/stdout.md). This Exporter can be useful for manual testing and troubleshooting.

### Describe the solution you'd like

We should implement a `ConsoleMetricsExpo

[2022-06-13 14:49] weyert commented on #3033
Can’t you use the request handler that’s available on PrometheusExporter?
That’s what I am using the expose a a metrics a endpoint on my services to avoid a second http server

[2022-06-13 14:49] weyert commented on #3033
Can’t you use the request handler that’s available on PrometheusExporter?
That’s what I am using the expose a a metrics a endpoint on my services to avoid a second http server

[2022-06-13 14:57] yordis commented on #2218
keep

[2022-06-14 01:12] matschaffer commented on #3033
See https://github.com/open-telemetry/opentelemetry-js/pull/3034#issuecomment-1154101611 for followup on above comment.

[2022-06-14 08:57] legendecas commented on #2205
Is this still valid after https://github.com/open-telemetry/opentelemetry-js/pull/2243 is landed?

[2022-06-14 09:44] legendecas commented on #2587
@dyladan Sorry, I just missed the fact that this issue was assigned before I got my hands on the stale issue https://github.com/open-telemetry/opentelemetry-js/issues/2585 😅.

I'd find the most smooth adoption path for the `Attributes` interface is
- Stick to `SpanAttributes` before we merge the `@opentelemetry/api-metrics` with `@opentelemetry/api`. This would allow us to not have two versions of

[2022-06-14 15:04] weyert commented on #3035
I am wondering if something like this would suffice for the exporter?

[code]

[2022-06-14 17:18] legendecas commented on #3035
@weyert It looks good to me. One more thing is that I would like a method for clearing the in-memory buffer.

[2022-06-15 04:47] odidev commented on #3011
@vmarchaud @dyladan Thanks for the quick response. I am interested in adding support for arm64 in opentelemetry-js and raising PR for the same too. I just need your suggestions in resolving the node-tests issues in CI.

[2022-06-15 08:07] pichlermarc commented on #3035
@weyert that looks good to me too. :slightly_smiling_face:

Just two small things: We'd probably need to store the `ResourceMetrics` instead of the `ScopeMetrics`, as we're losing data otherwise. When calling `export()` after `shutdown()` we should return `ExportResultCode.FAILED` instead. :slightly_smiling_face:

[2022-06-15 12:36] dyladan commented on #2587
Sounds good to me

[2022-06-15 12:40] dyladan commented on #2205
I think we are still using the unload event right? So the performance issue would still be there.

[2022-06-15 15:22] dyladan commented on #3030
Can you provide a minimal reproduction for this? It is hard to look at an entire instrumentation and see a memory leak. It may be caused by a particular option or method that is called.

[2022-06-15 15:33] dyladan commented on #3036
@pichlermarc looked into this and it seems like it doesn't even work, so i'm going to reopen this

[2022-06-15 15:34] dyladan commented on #3036
😫

https://github.com/open-telemetry/opentelemetry-js/blob/aabc5f6b89e3d9af6640fb854967212ca5b1a3b8/experimental/packages/opentelemetry-sdk-metrics-base/src/export/MetricExporter.ts#L48-L53

[2022-06-15 16:16] Rauno56 commented on #3029
No... you are actually absolutely right. We've been aware of this issue from the beginning, but haven't gotten around to fixing this.

RITM just patches require every time. Each last patch is added on top of the last one. If there's no other takes I'd like to take a stab at this.

[2022-06-15 16:24] MSNev commented on #2218
We also need (should) address the implicit setting / usage of the global context, as this causes issues for multiple components that each want to have their own set of details.

[2022-06-15 20:45] weyert commented on #3035
@pichlermarc Thank you! I will make the changes. Would this belong in its own package or part of the metrics base sdk package?

[2022-06-15 21:25] pichlermarc commented on #3035
@weyert awsome, thanks! 🙂 I think this belongs in the `@opentelemetry/sdk-metric-base` package. This way it is consistent with the location of its trace counterpart, which is in `@opentelemetry/sdk-trace-base` 🙂

[2022-06-15 23:34] weyert commented on #3035
I have created a draft PR for the exporter. Now I need to come up with a approach how to write unit tests for this

[2022-06-15 23:49] mattolson opened #3040 "gzip compression on OTLP exporter fails after first request"
### What version of OpenTelemetry are you using?
`"@opentelemetry/exporter-trace-otlp-http": "0.28.0"`

### What version of Node are you using?
`v14.18.1`

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?
I have confirmed that everything works correctly when I use `compression: 'none'` in the OTLPTraceExporter config. However, when setting it to `gzi

[2022-06-16 08:51] PritamSangani commented on #1089
same question as @longility - is there anyway to use in react native? Or are there plans to create a react native sdk?

[2022-06-16 15:28] jwatte commented on #3030
That would be a pretty heavy lift. Let me see what I can do, it may take some time.

[2022-06-16 20:14] dyladan commented on #3030
I'm sorry. I assumed since you had already narrowed your leak down to the fetch instrumentation that you had some idea of the cause. I really just wanted to know if the leak is in the "happy path" or if your application is doing anything unusual or esoteric that may be causing the leak.

[2022-06-17 01:38] JamesHearts opened #3045 "Checking if context headers are propagated properly."
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I would like some clarification on header propagation, specifically via Node.js code.

**Context:** I am expecting to have this service deployed where the gateway would be responsible for sending b3 headers.

**Code snippet:**

[code]
**What I understand:

[2022-06-17 10:25] damaon opened #3047 "Ability to attach file:line to spans"
It would be super useful for me to be able to see where given span starts exactly when debugging stuff.

So for example I know that given query takes a long time but how do I find it in code easily?

One way is to just run debugger once I know what function is called but that feels not-optimal to me.

I would love if it was possible to attach information about where given span starts, using someth

[2022-06-17 15:18] dyladan commented on #3045
Have you verified that the header is actually present/not present on the request? Perhaps make a request to something like webhook.site to inspect headers

That's a reasonable assumption but worth testing.

There is a private method you can call and inspect to ensure your expected propagator is registered https://github.com/open-telemetry/opentelemetry-js-api/blob/main/src/api/propagation.ts#L119

[2022-06-17 15:21] dyladan commented on #3047
While it would be technically _possible_ I think a feature like this is out of scope. One way to do it would be to use a span processor which creates the stacktrace in the onStart method. This method is called synchronously so you should be able to see the callsite of startSpan only a couple frames in.

[2022-06-17 15:24] #3033 closed

[2022-06-17 19:15] svetlanabrennan opened #3049 "`OTEL_ATTRIBUTE_VALUE_LENGTH_LIMIT` env value ignored with sdk-trace-base package v1.1.0"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
v18

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?
I exported:

`export OTEL_ATTRIBUTE_VALUE_LENGTH_LIMIT=10`

### What did you expect to see?
[code]

### What did you see instead?
[code]

[2022-06-17 20:55] dyladan commented on #3029
I think the way to handle this is to have a single wrapper that catches all of the instrumented packages and looks up the appropriate instrumentation.

[2022-06-18 09:01] logcorner opened #3050 "@opentelemetry/exporter-jaeger does not work in browser environments"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
   "@opentelemetry/api": "^1.1.0",
    "@opentelemetry/exporter-trace-otlp-http": "^0.29.2",
    "@opentelemetry/exporter-zipkin": "^1.3.1",
    "@opentelemetry/sdk-trace-base": "^1.3.1",
    "@opentelemetry/sdk-trace-web": "^1.0.1",
### What version of Node are you using?
node --version

[2022-06-19 12:00] weyert opened #3051 "Unhelpful message when instrumentation fails"
### Is your feature request related to a problem? Please describe.

When you try to activate instrumentation but the instrumentation doesn't support your version of the package you get a unhelpful message similar to `No modules instrumentation has been defined, nothing will be patched`. The current message doesn't tell which instrumentation is patching modules. Making it less easy to resolve the p

[2022-06-20 07:24] cuichenli commented on #3031
was checking the code and looks like the `port` part is from `response`, not sure if we want to set the value by inferring from `options` like what we did for `hostname`?
https://github.com/open-telemetry/opentelemetry-js/blob/3cc40d78b482fde87cfd873a2f5cb198de4d2308/experimental/packages/opentelemetry-instrumentation-http/src/http.ts#L565-L568
and when sending the requests, we are setting the att

[2022-06-20 07:46] vmarchaud commented on #3031
I think we can, port should be the same anyway

From the spec the peer name is simply the hostname so i think we can

[2022-06-20 08:22] Flarna commented on #3045
I think you should cleanup your dependencies. e.g. `@opentelemetry/tracing` is deprecated and has been replaced by `@opentelemetry/sdk-trace-base`.
`@opentelemetry/instrumentation-express` is available in 0.30.0 meanwhile.

Unfortunately it's not easy to find the correct matching versions across the opentelemetry-js and opentelemetry-js-contrib repos as they are independent numbers. But if there a

[2022-06-20 08:36] pichlermarc commented on #3035
Probably the following tests should be more then enough:
- `export`
  - `should return ExportResultCode.SUCCESS`
  - `with shutdown metric reader should return ExportResultCode.FAILED`
- `getMetrics`
  - `should return exported metrics`
  - `should return exported metrics`
- `forceFlush`
  -  `should clear metrics`
- `selectAggregationTemporality`
  - `should apply AggregationTemporalitySelector`

[2022-06-20 10:27] makeavish opened #3052 "Wrong data type for rpc.grpc.status_code"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
1.3.0

### What version of Node are you using?
v18.3.0

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?
Make a request after setting up a grpc server with grpc-js.

### What did you expect to see?
Expected `rpc.grpc.status_code` to be of

[2022-06-20 14:49] #2799 closed

[2022-06-20 14:56] asim47 commented on #2791
did you find any solution? I have the same problem

[2022-06-20 15:11] EddieEldridge commented on #2791
No, sorry.

[2022-06-21 01:35] weyert commented on #3036
I am wondering what is the expected output for this? How should it be logged to the console?

[2022-06-21 06:06] asim47 commented on #2791
I found a solution, Adding OTPL urls for both tracing and metrics fixed the issue.
I had to create separate exporterConfig for both tracing and metrics:

`
export const exporterConfigForTracing = {
  url:   process.env.OTPL_TRACE_URL
  headers: {
    'api-key': process.env.NR_TOKEN,
    'Content-Type': 'application/x-protobuf'
  }
};

export const exporterConfigForMetrics = {
  url:   process.env.

[2022-06-21 07:10] pichlermarc commented on #3036
I agree that it can be quite spammy. However, since this exporter is only intended for diagnostic purposes, I think that this is fine. :slightly_smiling_face: I looked into the Python, .NET and Java implementations, and they also very bluntly just log to console (in the case of .NET it also allows for configuring Console and/or Debug log as output), as does the collector `logging` exporter.

Follo

[2022-06-21 14:23] dyladan commented on #2791
Can you confirm if this is still happening with the latest version of the proto exporter? I believe this may have been caused by an inheritance issue. The otlp metrics exporters used to depend on the trace exporters as there was some shared transformation code. The code has since been factored out into its own package and the inheritance structure has been simplified

[2022-06-21 16:25] sgracias1 commented on #3036
does this issue still need help to be looked at?

[2022-06-21 16:26] dyladan commented on #3036
I think @weyert is implementing it? Can you please confirm and I can assign you?

[2022-06-21 18:44] weyert commented on #3036
Yes, I am happy to do it :)

[2022-06-21 18:47] dyladan commented on #3031
@cuichenli @zahirhoney do either of you want to be assigned this?

[2022-06-21 19:17] dyladan commented on #2786
One possibility we considered is instead of using .proto files we could check in code generated based on them but nobody has had the time to work on that. @pichlermarc was doing a lot of work factoring out the transformation code that might make that quite a bit easier of a project now if anyone is interested in taking it on.

[2022-06-21 19:51] dyladan commented on #3052
Possibly related #2984

[2022-06-22 01:53] cuichenli commented on #3031
yeah, i can work on it

[2022-06-22 06:39] siddhikhapare commented on #2839
@medikoo @dyladan  I want to work on this issue. Can you assign me?  Do you want small application outcome of observability after setup created using js? I need your help to understand this issue.

[2022-06-22 15:37] #2355 closed

[2022-06-22 17:00] dyladan commented on #2839
@sgracias1 and @siddhikhapare you are both welcome to work on this but I would suggest you coordinate so you don't duplicate work

[2022-06-22 17:37] dyladan opened #3055 "Consider synchronous resource detection"
@open-telemetry/javascript-maintainers Can this be considered a breaking change? Users _shouldn't_ be calling resource detectors directly but if they are I can easily see some code like `detect().then(something)` breaking (TypeError: detect(...).then is not a function).

_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-js/pull/2933#discussion_r902909061_

@aabmass

[2022-06-23 08:52] pichlermarc opened #3056 "View is not applied when `createInstrument()` is called before `addView()`"
## Description

When `create<instrument_name_here>()` is called before `addView()`, the `View` is not applied to the instrument.
Having `addView()` on the `MeterProvider` the gives the wrong impression that this can be done after creating instruments.

## Possible solution

Since view creation is considered part of the SDK initialization, we can move the functionality provided by `addView()` to th

[2022-06-23 09:01] Flarna commented on #3055
Why is this a spec violation? `OnEnd(span)` is still sync.
The only difference is that actual export may be later but no impact to the `span.end()` caller.

[2022-06-23 13:34] brechr opened #3057 "strange behaviour in azur app services/containers + opentelemetry-js"
- [?] This only affects the JavaScript OpenTelemetry library
- [?] This may affect other libraries, but I would like to get opinions here first

To be honest, I don't know if other libraries are affected or not, I'm only experiencing it in this certain environment with the otel-js library but that doesn't mean it's limited to this.

---

Hi coming from https://github.com/open-telemetry/community/d

[2022-06-23 14:49] dyladan commented on #3055
I guess it doesn't specify that onEnd must do all work synchronously, just that it must be called synchronously, but I interpreted the intention of the spec that the entire export should be sync until the exporter.

[2022-06-23 15:11] dyladan commented on #3057
Did you update dependencies recently? Can you provide your OTel setup code?

[2022-06-23 15:53] brechr commented on #3057
Hi @dyladan,

we do have a production service which didn't change at all since.. 10/11/2021 (shame on me) and it broke there too. The new service i'm working on is actually mostly on the latest versions (recently i had problems with compatibility issues as many but it appears to be fine now).

I've tried quite a few things, but it doesn't seem to matter at all, currently it looks like this:

[code

[2022-06-23 15:57] dyladan commented on #3057
instrumentation patching happens in sdk.start. Because you're not calling start until after all your imports in main.js it is likely modules have already been required when the patching happens. try calling start in your sdk.js file, exporting the returned promise, and awaiting that promise in bootstrap.

[2022-06-23 20:11] brechr commented on #3057
hi @dyladan, thanks for the hint, didn't know that this was critical.

just to rule out possible mistakes, i've added
`export const openTelemetrySDKPromise = openTelemetrySDK.start();`

in the `open-telementry-sdk.js` below the other export

and the `main.js` bootstrap() now starts like that:

[code]

sadly the result is still pretty much the same

[code]

except for

[code]

[2022-06-23 21:24] siddhikhapare commented on #2839
I will work on tracing part.

[2022-06-24 03:06] legendecas commented on #3050
@opentelemetry/exporter-jaeger currently is only supported on Node.js. For web environments, as Jaeger supports zipkin format reporting (https://www.jaegertracing.io/docs/1.35/apis/#zipkin-formats-stable), you can use https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-exporter-zipkin to report to Jaeger backends.

[2022-06-24 07:05] logcorner commented on #3050
Hi @legendecas
Do you some links on how to use zipkin and  report to Jaeger backends ?

[2022-06-24 12:52] #3010 closed

[2022-06-24 14:59] #3040 closed

[2022-06-24 19:26] hectorhdzg opened #3060 "PushMetricExporter forceFlush behavior"
I'm building a Metrics Exporter for Azure Monitor and noticed some weird behavior in [PushMetricExporter](https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-sdk-metrics-base/src/export/MetricExporter.ts#L28) interface, this one is exposing forceFlush, I would expect the MetricReader to be the one having a reference to the actual metrics to export and j

[2022-06-25 00:27] hectorhdzg commented on #3060
Same for selectAggregationTemporality this should be part of MetricReader and not Exporter, unless I'm missing how the PushMetric Exporter should work

[2022-06-27 08:45] kushal-ti opened #3061 "Allow exporting logs using OTLP exporter"
### Is your feature request related to a problem? Please describe.
Exporting logs from the application to otel collector directly using an otlp exporter is not possible

### A clear and concise description of what the problem is.
It is possible to export traces and metrics to an otel collector, from which they can then be processed and further exported to other sources as required. However, the sa

[2022-06-27 09:27] legendecas commented on #3050
I don't think we have any documents maintained in OpenTelemetry explaining how to use Zipkin exporter with jaeger backend. But there are documents on the jaeger website referring to Zipkin endpoints like https://www.jaegertracing.io/docs/1.6/getting-started/#all-in-one-docker-image

[2022-06-27 10:03] legendecas opened #3062 "CORS requirements on web exporters with navigator.sendBeacon"
- [x] This only affects the JavaScript OpenTelemetry library

`navigator.sendBeacon` with non-simple `content-type` header like "application/json" requires CORS checks like [Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers), [Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-All

[2022-06-27 10:05] legendecas commented on #3062
For the Zipkin compatible mode of the Jaeger server, I'm if it is behaving in an expected way. Maybe @yurishkuro can chime in here.

[2022-06-27 16:39] dyladan commented on #2932
not stale

[2022-06-27 16:52] dyladan commented on #3062
In https://www.jaegertracing.io/docs/1.35/cli/ I see the allowed headers and allowed origins, but I don't see the allow credentials response header. Is there somewhere else I should look for cors configs?

[2022-06-27 16:54] dyladan commented on #3061
We actually discussed this in the last SIG meeting and as far as I remember someone was interested in starting work on this. There were a couple people interested in the topic. Logs work hasn't really started yet in JS since the maintainers are already stretched a bit thin and trying to focus on getting the metrics SDK ready for GA.

[2022-06-27 16:55] legendecas commented on #3062
Yes, but as stated in the OP it is missing `Access-Control-Allow-Credentials` CORS header. This behavior is as same as Zipkin's. Yet, Zipkin supports interpreting simple content types like `text/plain` so `navigator.sendBeacon` (the API Zipkin exporter uses by default) can successfully send data to Zipkin servers. However, Jaeger (tested with 1.35) does not support simple content types and rejects

[2022-06-27 18:26] yurishkuro commented on #3062
Seems like easily added if needed. The full Options struct has a lot more fields than what Jaeger CLI flags currently support - https://github.com/rs/cors/blob/da52b0701de54d82f71776d634d4183b69c3a915/cors.go#L32

[2022-06-27 18:30] yurishkuro commented on #3062
Having said that, maybe it's better to implement this in OTLP receiver, then Jaeger could use that as well. I prefer to spend less effort on supporting legacy formats like Zipkin.

[2022-06-28 02:06] legendecas commented on #3056
The original thought of adding a view dynamically on a meter provider is that it can reduce the burden to setup a meter provider, like say similar to a metric reader or span processor -- we don't have to construct a metric reader or span processor strictly before the meter provider, which I think it is useful in practice.

However, as said specifically to views, it is more like a configuration rat

[2022-06-28 02:50] legendecas commented on #3061
I find that the logs specification is not yet feature-freeze, so it might be worth waiting for the spec to be ready?

[2022-06-28 03:09] legendecas commented on #3060
`forceFlush` stands for ensuring that the export of any Metrics the exporter has received and its returned promise indicates that the export is completed. Might be related: https://github.com/open-telemetry/opentelemetry-js/pull/3039#discussion_r904463781.

`selectAggregationTemporality` is needed to satisfy the requirements that a push metric exporter registered with a  PeriodicExportingMetricRea

[2022-06-28 03:16] legendecas commented on #3060
After checking with the spec, I found that for a metric reader if the preferred aggregation temporality is not specified, AggregationTemporality.Cumulative should be used instead of consulting the underlying metric exporter:

/cc @seemk

[2022-06-28 06:09] brechr commented on #3057
Hey @dyladan i've figured the difference out that is responsible for some spans being recorded and some not. Apparently, Azure decorates requests from 'the real world' with a http header i.e.`traceparent: '00-484ed2f97123456d6478e4128e509a7-18ab746f920611f6-00'`

I'm not sure why or what happens if this header is present, but if it is the incoming request will be a `NonRecordingSpan` .. is this in

[2022-06-28 06:37] Flarna commented on #3057
The final `00` (TraceFlags) indicated that this span was not sampled. If you use a parent based sampler it would follow this decision and create a `NonRecordingSpan`. But your sample code above seems to use an `AlwaysOnSampler` so that should not happen.

What will happen for sure is that your backend tool complains about a missing span.

In your sample above you use W3C _and_ B3 propagator which

[2022-06-28 14:28] icco commented on #2791
I am still seeing this.

packages:

[code]

code for initializing exporters:

[code]

[2022-06-28 14:43] icco commented on #2791
we're also using `NodeSDK`, I wonder if the bug could be in there?

[2022-06-28 17:25] #1663 closed

[2022-06-28 17:29] dyladan commented on #3056
This is not really a bug because it is working as designed, but is suggesting a change in design

[2022-06-28 17:31] dyladan commented on #3050
Removing bug label since this isn't really a bug. The jaeger exporter does not support browser and would not be expected to work in browser environments.

[2022-06-28 17:32] dyladan commented on #3031
Any update?

[2022-06-28 17:32] legendecas opened #3063 "Exporting `isMonotonic` flag to exporters"
I'm wondering if we should indicate `isMonotonic` in `SingularMetricData`. We have access to the data anyway, it is part of the proto, and it simplifies the transformation to OTLP.

_Originally posted by @pichlermarc in https://github.com/open-telemetry/opentelemetry-js/pull/2990#discussion_r907470789_

@pichlermarc you said you would like to work on this so I'm assigning this to you :).

[2022-06-28 17:34] dyladan commented on #3029
Assigning priority 3 since this causes a performance issue in end user applications

[2022-06-28 17:36] dyladan commented on #3016
Removing the bug label since this is not really a bug, but a requested enhancement.

[2022-06-28 17:37] dyladan commented on #3016
I am going to close this as it is covered by #2855

[2022-06-28 17:37] #3016 closed

[2022-06-28 17:40] dyladan commented on #2964
I believe it should be working with:

[code]

[2022-06-28 17:42] dyladan commented on #2951
Since this is a bug in node itself and not OTel is there anything we can do here? Should we close this issue or keep it around? Or maybe create a new issue to document the shortcoming?

[2022-06-28 17:42] #2987 closed

[2022-06-28 17:46] legendecas commented on #3030
I'll take a look at this one late this week.

[2022-06-28 18:54] cstansfld opened #3064 "suspicious that metrics is not exporting valid json -> "0.29.2""
- [x] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

suspicious that metrics is not exporting valid json per the contract -> opentelemetry.proto.metrics.v1.metrics.proto
  // Data determines the aggregation type (if any) of the metric, what is the
  // reported value type for the data points, as well as the

[2022-06-28 19:26] dyladan commented on #2791
Marking p2 since this is not crashing the app but is causing telemetry not to be emitted. I'm looking into this.

[2022-06-28 19:27] dyladan commented on #2675
@mplachter @pichlermarc can this be closed?

[2022-06-28 20:05] svetlanabrennan commented on #3049
Yes I'm working on this. Should open a pr for this soon.

[2022-06-29 13:18] cstansfld commented on #3064
Additionally suspicious that metrics is not exporting valid json per the contract -> opentelemetry.proto.metrics.v1.metrics.proto I believe the same scenario is true for:

// NumberDataPoint is a single data point in a timeseries that describes the
// time-varying scalar value of a metric.
message NumberDataPoint {

  // The value itself.  A point is considered invalid when one of the recognized

[2022-06-29 14:28] pichlermarc commented on #2675
@dyladan for me it is working again. But we have not released that fix yet.

[2022-06-29 15:19] dyladan opened #3067 "Implement `SpanExporter#forceFlush`"
Span exporter interface should have a `ForceFlush` as specified here: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#forceflush

Since we have already released the interface stable without this, we can only add it as an optional property on the interface.

[2022-06-29 16:34] dyladan commented on #2964
@cartermp can you confirm the above versions work for you?

[2022-06-29 16:38] dyladan commented on #2845
This was caused by a version mismatch between stable and experimental packages. We now release all of these packages in lockstep so this will not happen, but we should still change the API interface to only require interfaces and types so that we don't end up with mismatched versions based on private class properties.

[2022-06-29 16:38] #2845 closed

[2022-06-29 16:39] dyladan opened #3069 "Ensure all public interfaces only reference interfaces and types, not concrete classes"
This was caused by a version mismatch between stable and experimental packages. We now release all of these packages in lockstep so this will not happen, but we should still change the API interface to only require interfaces and types so that we don't end up with mismatched versions based on private class properties.

_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemet

[2022-06-29 16:54] cstansfld commented on #3064
Hi [dyladan](https://github.com/dyladan), so what is confusing is the handling of the oneof value { from https://raw.githubusercontent.com/open-telemetry/opentelemetry-proto/main/opentelemetry/proto/common/v1/common.proto the only difference being that this is a message and the Message metric references oneof data inline { so the exporter for a resource.attribute looks like the following (see atta

[2022-06-29 19:21] RichiCoder1 commented on #1214
Is the above something that otel would take as an official contribution? I'd love to get otel working edge environments.

[2022-06-29 19:37] stefee commented on #2964
Works for me.

[2022-06-29 19:43] cstansfld commented on #3064
[dyladan](https://github.com/dyladan), I reviewed the spec at https://raw.githubusercontent.com/open-telemetry/opentelemetry-proto/main/opentelemetry/proto/metrics/v1/metrics.proto -> please note the data property.

//     Metric
//  +------------+
//  |name          |
//  |description |
//  |unit             |       +------------------------------------+
//  |data            |---> |Gauge, Sum, Hi

[2022-06-29 21:56] #2964 closed

[2022-06-30 02:31] legendecas commented on #1214
@RichiCoder1 you are welcome to contribute to the project.

[2022-06-30 09:10] legendecas commented on #3069
Is this duplicated with https://github.com/open-telemetry/opentelemetry-js/issues/2932?

[2022-06-30 13:39] #3069 closed

[2022-06-30 18:01] dyladan commented on #3064
Yes, the data property is a `oneof` property which does not actually result in a JSON key. The `value` key you point to above references an `AnyValue` message, not a `oneof`. The `AnyValue` message contains a `oneof` (which is named value also, but it is actually not in the JSON either). The `KeyValue` contains 2 properties, `key` and `value`. `value` is type `AnyValue` which is a message which co

[2022-06-30 18:17] dyladan commented on #3064
Maybe this is a more helpful example. You can play with it yourself to see that this is actually the correct JSON representation.

[code]

[2022-06-30 20:31] Flarna commented on #3067
Isn't this a semver minor change? I think we discussed a similar issue in API a while ago and that time the agreement was that it is ok that a new minor has new APIs to be implemented by consumers.

[2022-07-01 10:40] pfdgithub commented on #1564
Is there any progress on this issue?

In 0.29.2, there are synchronous api `Counter` and asynchronous api `ObservableCounter`.
But `ObservableCounter` does not report absolute value, this is not conforming to specification.

[2022-07-01 13:17] legendecas commented on #1564
This issue is no longer applicable to the refurbished spec and the refactored SDK. I'm closing this to avoid further confusion.

@pfdgithub if you have any problem regarding the ObservableCounter in the new SDK, please open a new issue with your SDK set ups so that we can investigate if it is a new problem.

[2022-07-01 13:17] #1564 closed

[2022-07-01 13:18] legendecas commented on #488
Closing as the metrics SDK has been refactored with the new metrics spec.

[2022-07-01 13:18] #488 closed

[2022-07-01 13:20] legendecas commented on #928
Closing as the feature has been removed in the spec.

[2022-07-01 13:24] legendecas commented on #1144
Closing as the issue is no longer applicable.

[2022-07-01 13:24] #1144 closed

[2022-07-01 13:25] legendecas commented on #1114
Closing as the issue is no longer applicable.

[2022-07-01 13:25] #1114 closed

[2022-07-01 13:25] #1109 closed

[2022-07-01 13:26] legendecas commented on #1098
Closing as the issue (and its spec) is no longer applicable.

[2022-07-01 13:26] #1098 closed

[2022-07-01 13:29] legendecas commented on #1023
Closing as the issue is not being pursued at the moment.

[2022-07-01 13:29] #1023 closed

[2022-07-01 13:29] legendecas commented on #1012
Closing as the issue is no longer applicable.

[2022-07-01 13:29] #1012 closed

[2022-07-01 13:30] legendecas commented on #1006
Closing as the issue is no longer applicable.

[2022-07-01 13:30] #1006 closed

[2022-07-01 13:30] legendecas commented on #1489
Closing as the metrics SDK has been refactored with the new metrics spec.

[2022-07-01 13:30] #1489 closed

[2022-07-01 13:32] legendecas commented on #1477
Closing as the metrics SDK has been refactored with the new metrics spec.

[2022-07-01 13:32] #1477 closed

[2022-07-01 13:32] legendecas commented on #1441
Closing as the issue is no longer applicable.

[2022-07-01 13:32] #1441 closed

[2022-07-01 13:33] legendecas commented on #1313
Closing as https://github.com/open-telemetry/opentelemetry-js/blob/main/style.md has already landed.

[2022-07-01 13:33] #1313 closed

[2022-07-01 13:36] legendecas commented on #1726
Can this issue be considered as done now?

[2022-07-01 13:37] legendecas commented on #1695
Closing as the related PR is already landed. Thank you for the work on this!

[2022-07-01 13:37] #1695 closed

[2022-07-01 13:38] dyladan commented on #1726
yes

[2022-07-01 13:39] #1688 closed

[2022-07-01 13:41] legendecas commented on #1649
Given that the `PrometheusExporter.getMetricsRequestHandler` is being exposed, I'm closing this issue.

[2022-07-01 13:41] legendecas commented on #1645
Closing as the issue is no longer applicable.

[2022-07-01 13:41] #1645 closed

[2022-07-01 13:42] legendecas commented on #1928
Closing as the dependency on lodash.merge has been removed from the code base.

[2022-07-01 13:42] #1928 closed

[2022-07-01 13:44] legendecas commented on #1917
Closing as the `InstrumentType.OBSERVABLE_COUNTER` now is being exported as a Prometheus counter.

[2022-07-01 13:44] #1917 closed

[2022-07-01 13:45] #1798 closed

[2022-07-01 13:46] legendecas commented on #1786
Closing as the metrics SDK has been refactored with the new metrics spec, and the feature is supported with the new SDK.

[2022-07-01 13:49] legendecas commented on #2091
Closing as prettier has been removed from the probject.

[2022-07-01 13:49] #2091 closed

[2022-07-01 13:50] #2072 closed

[2022-07-01 13:51] legendecas commented on #2721
Does this still need to be worked on after https://github.com/open-telemetry/opentelemetry-js/pull/3048 has landed?

[2022-07-01 13:52] legendecas commented on #2690
Closing as the tests have covered ObservableCounter and ObservableUpDownCounter. Thank you for reporting.

[2022-07-01 13:52] #2690 closed

[2022-07-01 13:54] legendecas commented on #2554
Closing as the package otlp-transformer has been landed.

[2022-07-01 13:54] #2554 closed, assigned to dyladan

[2022-07-01 13:56] legendecas commented on #2935
Closing as https://github.com/open-telemetry/opentelemetry-js/pull/3048 has landed.

[2022-07-01 13:56] #2935 closed

[2022-07-01 13:56] dyladan commented on #2721
No

[2022-07-01 13:56] #2721 closed

[2022-07-01 14:02] dyladan commented on #3067
@open-telemetry/javascript-maintainers what do you think? @Flarna is right when I talked to ted about this he said it's ok that SDK implementers should have a lower expectation of stability. The spec does state force flush is a required method.

[2022-07-01 14:03] legendecas commented on #2124
Not sure which exporter you are using to export metrics to CloudWatch. As the metrics SDK has been refactored with the new metrics spec. And the metrics SDK didn't provide percentiles data points. Would you mind sharing the setup codes on the exporting pipeline so that we can investigate the problem in detail?

[2022-07-01 14:09] legendecas commented on #955
Closing as https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/packages/opentelemetry-host-metrics is published.

[2022-07-01 14:09] legendecas commented on #623
Closing as https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/packages/opentelemetry-host-metrics is published.

[2022-07-01 14:09] #623 closed

[2022-07-01 14:14] legendecas commented on #453
As of spec v1.12.0, the statement has been updated so I'm closing this issue.

[2022-07-01 14:14] #453 closed

[2022-07-01 14:19] #38 closed

[2022-07-01 14:28] legendecas commented on #987
Closing as both `SpanExporter.shutdown` and `PushMetricExporter.shutdown` returns a promise now.

[2022-07-01 14:28] #987 closed

[2022-07-01 15:26] pfdgithub opened #3073 "ObservableCounter should report absolute value"
### What happened?

## Steps to Reproduce

In api-metrics@0.29.2, there are synchronous api `Counter` and asynchronous api `ObservableCounter`.
But `ObservableCounter` does not report absolute value, this is not conforming to [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-counter-creation).

According to my colleagu

[2022-07-01 18:51] martinkuba commented on #3030
@jwatte I have started looking at this, and I am not seeing a significant overhead when making ~1000 fetch calls. Can you please provide a little more details on how to reproduce this? How did you come to the conclusion that the issue is with the fetch instrumentation and/or promises?

[2022-07-01 20:08] Flarna commented on #3067
I only read the argument why it needs to be optional and I don't agree with this. New API is semver minor in my opinion.

Looking into the linked spec part it says `forceFlush` is optional. But that spec is about SDK not exporters. SDK calls SpanProcessor and this one calls SpanExporter. Not sure at all here what `forceFlush` on SpanExporter should actually do as SpanExporters do not cache/store/c

[2022-07-01 21:22] Flarna commented on #3067
Seems I read the wrong part in spec as above link points to `TracerProvider#forceFlush`.
[`SpanExporter#forceFlus`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#forceflush-2) in turn is optional according to spec and therefore I think it's better to add it as optional.

There might be quite some exporters (e.g. `ConsoleExporter`,...) where Forc

[2022-07-02 02:18] kirmayrcosta commented on #1089
I have the same problem, I try test use open telemetry web, but the problem is because need specific customization in a package web in the webpack. React Native don't is node and web. Node uses native libraries and web use the DOM and native variables =/

[2022-07-04 08:07] roopeshshetty opened #3074 "Jaeger is not collecting the traces"
Hi Team,

**This is my app.js**

[code]
const express = require('express');
const PORT = process.env.PORT || "8080";
const app = express();

app.get('/', (req, res) =>{
    res.send('Web_Service_Demo_Enterprise');
});

app.listen(parseInt(PORT, 10), () => {
  console.log(`Listening for requests on http://localhost:${PORT}`);
});
[code]

**And This my tracing.js**

[code]

I am starting the applica

[2022-07-04 08:42] #3074 closed

[2022-07-04 09:51] legendecas commented on #3067
@Flarna sorry I didn't find an indication in the spec that says that `SpanExporter#forceFlush` is optional. Would you mind sharing where you find that?

[2022-07-04 11:34] Flarna commented on #3067
[Here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#interface-definition-1) spec says `The exporter must support two functions: Export and Shutdown.`
`ForceFlush` is a `SHOULD` API therefore optional.

[2022-07-04 16:09] fredericosilva opened #3272 "@opentelemetry/instrumentation-http crashes superagent"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
v16.15.1

### What did you do?
[code]

### What did you expect to see?
No crash

### What did you see instead?
[code]

### Additional context

Other requests work fine, there is something specific here that I'm not able to pinpoint.  Any help is appreciated.

I did try using multiple superagent version

[2022-07-04 16:48] legendecas commented on #3067
Thank you for pointing that out. In that sense, I agree that it is a good idea to mark the method as an optional one.

[2022-07-05 13:45] dyladan commented on #2888
Website docs just had a major overhaul

[2022-07-05 13:45] #2888 closed

[2022-07-05 13:49] dyladan commented on #2937
are we not using both names in traces?

[2022-07-05 13:51] dyladan commented on #2937
It looks like we use scope for the OTLP but not the internal SDK representation so this is minor in my opinion

[2022-07-05 17:18] AWare commented on #2786
I disagree that this is not a bug. Bundling is fairly common, and expecting libraries to support bundling is not entirely unreasonable.

The request is not that it work out of the box with webpack without configuration, but that it work with bundlers in general with a clearly documented workaround.

Such a workaround could be that https://github.com/open-telemetry/opentelemetry-js/blob/5d9ed3faa51

[2022-07-06 14:55] dyladan commented on #1089
Closing this as wontfix since we don't have sufficient bandwidth

[2022-07-06 14:57] dyladan commented on #1089
Actually i'm going to reopen this for now and talk about it at the SIG today to make sure, but I do expect this to be closed most likely.

[2022-07-06 15:02] dyladan commented on #3073
Assigning @legendecas since he wrote the PR that fixes this.

[2022-07-06 15:13] mac2000 opened #3078 "traces are not exported even by console log if there is an dynatrace agent installed on the host"
### What happened?

**Long story short:** somehow the same image works well on one kubernetes cluster and does not export traces in another 🤷‍♂️

Here is app setup:

<details>
<summary>package.json</summary>

[code]

</details>

<details>
<summary>otlp.js</summary>

[code]

</details>

<details>
<summary>index.js</summary>

[code]

</details>

<details>
<summary>Dockerfile</summary>

[code]

</det

[2022-07-06 16:43] legendecas commented on #3073
The fix will be released in https://github.com/open-telemetry/opentelemetry-js/pull/3065

[2022-07-06 17:39] dyladan opened #3250 "Add a `withSpan` (or similar) convenience API"
We can close this issue since the question is addressed and we can create new issues for proposed convenience APIs

_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-js-api/issues/164#issuecomment-1176500245_

I propose we add an API which takes a callback, automatically creating and ending a span. This has been proposed in the past and blocked for administrative re

[2022-07-07 14:28] icco commented on #3078
I don't think this is related, but https://github.com/open-telemetry/opentelemetry-js/issues/2791 is a similar issue where depending on what's imported and initialized in what order, traces begin sending empty data.

[2022-07-07 14:47] Flarna commented on #3078
Is there a reason why `@opentelemetry/exporter-trace-otlp-http` version 0.27 is used but all the other components are newer?

This old version of exporter depends on e.g. `@opentelemetry/core` version `1.0.1` resulting in doppelgangers.

[2022-07-07 15:03] mac2000 commented on #3078
@icco yep, my hypothesis is that dynatrace agent injects some kind of opentelemetry into pod which brokes everything (but can not prove it yet)

but also note that there is no metrics api involved, only traces, but still it might be a case, may be I can put some console logs into node modules to get logs of whats going on or something like this, but in other case gonna wait till we disable dynatra

[2022-07-07 15:14] Flarna commented on #3078
Ah haven't seen the last sentence regarding dynatrace. Here it depends on how you configured OneAgent.

If the feature `OpenTelemetry (Node.js)` is active it will disable your SDK and as a result the exporter will get nothing to export.

[2022-07-07 16:33] ty-elastic opened #3080 "Expected behavior of observable metrics"
- [X] This may affect other libraries, but I would like to get opinions here first

Hi, I'm trying to use the HTTP `OTLPMetricExporter` with a `PeriodicExportingMetricReader` collecting metrics from instruments created with `createObservableGauge` and `createObservableCounter` using a batch observer created with `addBatchObservableCallback`.

This works somewhat as expected: my callback is periodi

[2022-07-07 16:41] legendecas commented on #3056
@pichlermarc thank you for the explanation and the great work on this. I believe the proposed pattern can reduce the chance for people to get wrong with the views API. I'll take a look at the PR shortly.

[2022-07-07 17:07] ty-elastic commented on #3080
ah, ok. I tried setting:
`temporalityPreference: AggregationTemporality.DELTA` (rather than CUMULATIVE, which is the default) on the `OTLPMetricExporter`, and the output is now what I would expect (just one value, the latest, is emitted).

For CUMULATIVE, however, shouldn't the timestamps for each previous datapoint match their time of observation (rather than reflecting, it seems, the current tim

[2022-07-07 18:02] dyladan commented on #3067
Spec doesn't make this clear at all. Created https://github.com/open-telemetry/opentelemetry-specification/issues/2652 to get some clarity.

[2022-07-08 05:17] mac2000 commented on #3078
@Flarna yep, sorry, thats why I left a todo for myself to figure out and rename issue to be more precise

For dynatrace it seems that it is possible to ask agent to not touch given deployments - that's what I gonna try to prove if that's is a case

If it is then the question will be how to identify such cases, e.g. I bed there are/will be other tools like NewRelic, Dynatrace, etc who may issue thi

[2022-07-08 06:09] Flarna commented on #3078
Usually it's a bad idea to put more then one monitoring tool into a single process.
In general you don't gain more insight but you accumulate overhead. Besides that there is quite a risk of interoperability issues for several reasons:
* all these tools tend to monkey patch mostly the same places and it's hard to ensure no side effects happen
* all these tools create their own traceId/spanId so you

[2022-07-08 06:43] mac2000 commented on #3078
Yep, I'm totally agree with everything

For logging: if I understand everything correct we are:

- instantiating sdk
- registering instrumentations
- adding span processors

from what I see it seems that somehow dynatrace prevents registering global trace, context and propagation (but it is not proven yet)

wondering if library can check such an fact while adding span processors and just log this

[2022-07-08 07:28] Flarna commented on #3078
Yes, dynatrace OneAgent prevents registration of global `TracerProvider`, `Propagator` and `ContextManager` (if the corresponding feature is enabled).

But as of now it hides this from the users so `setGlobalTracerProvider` still returns `true`. Main reason is to avoid that code like this would causes problems just because OneAgent is added:
[code]
It's quite common that installation of OneAgent i

[2022-07-08 11:57] mac2000 commented on #3078
Have some results and can confirm that the root cause was the Dynatrace agent

After asking it to not auto instrument a demo pod everything appeared

Some useful links:

- [Ask Dynatrace agent to disable auto instrumentation for certain deployments](https://community.dynatrace.com/t5/Dynatrace-Open-Q-A/Is-there-a-way-to-disable-OneAgent-from-instrumenting-on-an/m-p/127449)
- [Troubleshooting OpenT

[2022-07-08 11:57] #3078 closed

[2022-07-08 12:25] ogxd commented on #2855
That would be awesome! Currently open telemetry packages are a no go for my company because it more than double our bundle size just for the sake of being able to trace 😥

[2022-07-08 15:12] dyladan commented on #3080
I'm having a hard time understanding what you're describing here. You used an observable gauge with CUMULATIVE temporality and it exported all data points, not just the last one? Is the observable counter important to the example given? This seems like it might be a bug

[2022-07-08 15:12] dyladan commented on #3080
@legendecas maybe you can shed some light on what is going on here

[2022-07-08 15:16] dyladan commented on #2855
@ogxd if you have time a PR would be welcome

[2022-07-08 15:23] ty-elastic commented on #3080
Hi @dyladan, if I set `temporalityPreference: AggregationTemporality.CUMULATIVE` on the (HTTP) `OTLPMetricExporter`, and create an `InstrumentType.OBSERVABLE_COUNTER`, and then observe the counter 4 times, after the fourth observation (for example), I see this coming into my collector:

[code]

Note that the timestamp is the same for all 4 datapoints. If I set `temporalityPreference: AggregationTe

[2022-07-08 15:25] dyladan commented on #3080
Yeah I think I would also expect only to see the most recent value with the timestamp set to the time that value was captured. @legendecas I think this is most likely a bug.

[2022-07-08 15:43] legendecas commented on #3080
I'm not sure I get the point here clearly. I suppose you are trying to get the initial time stamp that a metric stream starts to report -- yes, there is a problem with v0.29.0 that the start times for observable metrics are always the time SDK starts.

With https://github.com/open-telemetry/opentelemetry-js/pull/2990 (released in v0.30.0), the start time of metric streams will be the first event r

[2022-07-08 16:16] dyladan commented on #3080
It actually looks like you're providing different values for the attribute "quarter"? In which case each is a different metric stream and you are in fact seeing only the latest as you would expect. Can you provide the code you used to generate this?

[2022-07-08 18:11] dyladan commented on #3080
It makes sense but no there is no concept of non-identifying attributes in the SDK. you would simply ignore the attribute in queries on your backend when you were trying to see the full measurement aggregated. There have to be separate metric streams otherwise your backend would not know how to query only quarter 1 for example. This is the fundamental difference between counters and gauges. If you

[2022-07-08 18:12] dyladan commented on #3080
Given your responses I actually think this may not be a bug, but just a misunderstanding of the way metric streams work in the SDK. Your backend should be able to interpret these data correctly.

[2022-07-08 18:34] ty-elastic commented on #3080
@dyladan , I agree! thank you for your time and clarification. i am.. enlightened. :-)

[2022-07-08 18:34] #3080 closed

[2022-07-09 20:00] siddhikhapare commented on #2839
@dyladan @legendecas @medikoo  I have done my task.  can you please review it? Let me know if any changes required in same file.

[2022-07-11 08:00] ogxd commented on #2855
I'll do that :)
By the way, I notice that `exporter-trace-otlp-http` references `otl-exporter-base` which references `otlp-transformer` which references `sdk-metrics-base`. This `sdk-metrics-base` represents 50% of the bundle size according to [this](https://bundlephobia.com/package/@opentelemetry/exporter-trace-otlp-http@0.29.0), while `exporter-trace-otlp-http` is only about traces. It seems tha

[2022-07-11 08:13] medikoo commented on #2839
@siddhikhapare where I can see it?

[2022-07-11 10:44] sta-szek opened #3084 "Do not mark span as error for 404 (preferably 4xx) HTTP status code"
### Is your feature request related to a problem? Please describe.
Kind of yes - we see spans as broken when server responds with 404 - which, according to RESTful guidelines is standard response when server has no data.
Having no data is ok for the business.

Example problem:
![Screenshot 2022-07-11 at 12 38 02](https://user-images.githubusercontent.com/6240704/178246423-38e15792-c5a1-4a13-a842-0

[2022-07-11 12:00] dyladan commented on #3084
The current behavior is what is specified https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#status

[2022-07-11 12:01] dyladan commented on #2855
I'm working on refactoring the otlp exporters right now. they're a mess

[2022-07-11 13:18] sta-szek commented on #3084
mhm... i see.
It makes sense from the http point of view, but completely does not make sense if you apply RESTful rules on HTTP... 🤔

Just wondering, can we make it configurable, so we can mark the spans as "ok" or your recommendation is to apply filtering in kibana, grafana and jaeger, smth like: `AND NOT (http.status_code="4.." AND span.kind="client")` ?

The advantage would be that we can steer

[2022-07-11 15:14] klacabane commented on #867
Hi! To clarify things on my end: is this about exposing the resource attributes passed, for example to `MeterProvider`, in the exporter as the "target" info family metric like described [here](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#supporting-target-metadata-in-both-push-based-and-pull-based-systems) ?

[2022-07-11 16:05] pichlermarc opened #3085 "Histogram Aggregation on Up-Down-Counters results in wrong `max`"
### What happened?

HistogramAggregation incorrectly assumes positive-only values, and therfore produces wrong `max` values on export.

## Steps to Reproduce

1. Set up OTel JS Metrics
2. Create View that changes an `UpDownCounter` to have an `ExplicitBucketHistogramAggregation`
3. Create an `UpDownCounter`
4. Only add values `-1`

## Expected Result

Exported metrics should have a maximum of `< -

[2022-07-11 16:16] siddhikhapare commented on #2839
@medikoo I have created PR here :  https://github.com/open-telemetry/opentelemetry-js/pull/3082

[2022-07-11 16:26] siddhikhapare commented on #2839
May I have to mention concept of open telemetry from document such as how does tracing and logs work , architecture of collector, etc.

[2022-07-11 18:08] siddhikhapare commented on #2839
Do I  have to explain tag section of zipkin UI?

[2022-07-11 20:43] dyladan commented on #2839
#3082 seems to be adding some examples, but no formal documentation. The issue is asking for documentation on which telemetry should be generated by each instrumentation.

[2022-07-11 20:52] dyladan commented on #867
This is about including resource attributes as part of the serialized prometheus output data. As far as I know this behavior is actually _not_ in the specification so this issue might actually just be closed as not planned. It is open so we can determine what other SIGs do with resource data in prometheus and attempt to be consistent.

[2022-07-12 03:59] legendecas commented on #867
We have spec texts on how to transform OpenTelemetry resource attributes to Prometheus labels: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#resource-attributes-1.

[2022-07-12 04:25] siddhikhapare commented on #2839
@dyladan I will do it.

[2022-07-12 08:00] medikoo commented on #2839
@siddhikhapare as put above. My point is that the main [documentation](https://github.com/open-telemetry/opentelemetry-js/blob/038bbdb67ad16d6fd8a26a3a81e42726ceccf04e/experimental/packages/opentelemetry-instrumentation-http/README.md) should document the outcome of instrumentation. Currently, it's totally not clear what exactly metrics/telemetry will be generated.

[2022-07-12 09:18] klacabane commented on #867
So we should be able to update the [PrometheusSerializer.serialize](https://github.com/open-telemetry/opentelemetry-js/blob/97bc6321c0fe4da7414afb83038279b735a5ba65/experimental/packages/opentelemetry-exporter-prometheus/src/PrometheusSerializer.ts#L179-L185) function so that it also transforms the resource attributes available in the ResourceMetrics input to a target info group. Is there some oth

[2022-07-12 09:55] Oberon00 commented on #852
We are actually affected by this bug on Microsoft Azure, we observe time drifts of the span start in the order of 10 seconds relative to the wall clock time.

[2022-07-12 10:45] Oberon00 commented on #852
I think the wall clock time could get out of sync with the high resolution timer for _any_ number of reasons, so many that I think it can be taken for a fact that it _will_ drift if the application is running for any longer amount of time. Examples:

Only affecting wall clock time but not high resolution timer:
- NTP sync or other time correction
- Leap seconds (which do affect UTC, contratry to d

[2022-07-12 12:20] dyladan commented on #867
There is a related spec issue right now to determine precedence of keys https://github.com/open-telemetry/opentelemetry-specification/issues/2535

[2022-07-12 12:42] klacabane commented on #867
@legendecas I'm trying to evaluate the work required for our use case atm. I'm still questioning what should happen downstream, in the collectors, as the `info` type does not appear to be supported. I've tried two parsing libraries and both ended in a failure to parse the metric type `info`. So I assume this needs a corresponding implementation in the other end ?

[2022-07-12 14:29] alexis-hop commented on #3057
I have the same problem with AWS Lambda with [ADOT](https://aws-otel.github.io/docs/getting-started/lambda/lambda-js).
The wrapper uses current package versions.
[code]
 I am starting to check if this is a bug in the latest versions. I'll let you know if I can fix this by just rolling back version libraries.

[2022-07-12 18:16] dyladan commented on #2815
This is not stale.

[2022-07-12 18:18] dyladan commented on #3084
I think there may already be request/response hooks which are used for adding attributes but could also be used to set the status. I don't know exactly the order they're called in and if setting the status would be overridden.

[2022-07-13 09:52] AWare commented on #2786
@dyladan thanks for discussing this, what was the outcome of the discussion?

[2022-07-13 11:52] dyladan commented on #2786
We agreed this is not a bug. I'm currently reworking the exporters to use generated code instead of loading .proto files so that should fix the webpack issue.

[2022-07-13 12:52] brechr commented on #3057
after Flarnas hint I was able to get it to work with an extra `configureTraceProvider` call and removing the `B3Propagator` so it looks like this currently:

[code]

[2022-07-13 14:46] pichlermarc opened #3090 "Histogram `sum` is exported on instruments that allow negative measurements"
With a Histogram Aggregation, `sum` is currently collected even when using instruments like `UpDownCounter` or `ObservableGauge`, which allow negative measurements.

The [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/0b8aa6a375c60d7ed0a5cd4f99263f4800faca3a/specification/metrics/sdk.md?plain=1#L418-L419) states this:

instruments that record negative measurement

[2022-07-13 14:47] pichlermarc commented on #3090
I'll self-assign and start working on this. :slightly_smiling_face:

[2022-07-13 16:35] dyladan commented on #2196
I think this issue was fixed by #2466 @SolarLiner can you please confirm? If not I will close this issue in a week

[2022-07-13 16:37] #2144 closed

[2022-07-13 16:39] dyladan commented on #2124
This issue is from april 20 of last year and the SDK has been completely rewritten since then. I'm going to close this issue since it is no longer relevant.

[2022-07-13 16:39] #2124 closed

[2022-07-13 16:40] dyladan commented on #2116
`@opentelemetry/exporter-collector` has been deprecated for some time now. Please use the new OTLP exporter packages.

[2022-07-13 16:40] #2116 closed

[2022-07-13 16:42] t2t2 commented on #2410
Was brought up in sig today, already fixed in #2610 (10 Nov 2021)

separate question about how good current logic is (as in when enable should be called, during instrumentation instance init or during registerInstrumentation call):

instrumentation config: | `{enabled: false}` | `{enabled: true}`
---|---|---
during `new Instrumetnation()` | enable called | -
during `registerInstrumentation` | - |

[2022-07-13 16:45] dyladan commented on #2103
The example needs to be updated but I think the current example doesn't have this issue.

[2022-07-14 04:20] siddhikhapare commented on #2839
@medikoo All right. I have understood your point. Thank you.

[2022-07-14 10:36] scarshad opened #3091 "Child Spans are not connected with the parent span"
- [ ] This is implementation discussion, no effect on the library

I am making a wrapper over opentelemetry JS. I want that I don't need to pass the parent span in the the methods, just call the function and declare the wrapper library method`library.createSpan("span name")` and end when the method ends with just simple call `library.endSpan()`

So I am using this code to do provide this functiona

[2022-07-14 10:51] indolent-developer opened #3092 "Controlling parent-id being send to downstream services"
- [ ] This only affects the JavaScript OpenTelemetry library
- [ x] This may affect other libraries, but I would like to get opinions here first

Hi,

I see this code here.

if (requireParent === true && currentSpan === undefined) {
      span = trace.wrapSpanContext(INVALID_SPAN_CONTEXT);
    } else if (requireParent === true && currentSpan?.spanContext().isRemote) {
      span = currentSpan;

[2022-07-14 10:56] Flarna commented on #3091
You have to call `multi()` within `opentelemetry.context.with()` otherwise the `add` span is not the active one.

most likely you need to modify your `createChildSpan()` function similar to [startActiveSpan](https://github.com/open-telemetry/opentelemetry-js-api/blob/bafcf0d0756e6ecc79fcc75f221b9dd17641eba5/src/trace/tracer.ts#L85) where you pass a callback to execute with the right context set.

[2022-07-14 13:00] seemk opened #3094 "Eager exporting for BatchSpanProcessor"
Batch span processor currently exports batches with a strict interval: 5s interval, 512 batch size as per OTel's default conf (comes to around 100 spans per second for the throughput). However it does not do eager batch exporting. Assume after exporting there are still more than 512 spans in the span queue, with the current logic BSP will wait another 5 seconds instead of trying a new export. If t

[2022-07-14 13:02] dyladan commented on #3094
Would you suggest eager exporting to be the default or a configurable setting? Is there relevant spec guidance?

[2022-07-14 14:13] dyladan commented on #3094
I made a comment on the spec but there are 2 ways to solve this. 1 is to export multiple batches every `x` ms. The other is to export a batch as soon as the queue meets or exceeds the max export size.

[2022-07-14 14:25] trivikr opened #3095 "[JS] Add Project Status table for each Signal in README top section"
**Is your feature request related to a problem? Please describe.**

The Project Status of Traces/Metrics/Logs Signals in OpenTelemetry is difficult to find in OpenTelemetry for JavaScript.

**Describe the solution you'd like**
Add Project Status Table at the top of README, similar to how it's done in other implementations:

- .NET https://github.com/open-telemetry/opentelemetry-dotnet
- Go https:/

[2022-07-14 14:48] trivikr commented on #3095
On a quick look at version numbers and GitHub projects, this is what I think the table is:

| Signal  | Status       | Project |
| ------- | ------------ | ------- |
| Traces  | Stable       | N/A     |
| Metrics | Experimental | N/A     |
| Logs    | N/A          | N/A     |

If it's incorrect, please provide the correct table in this GitHub issue, so that it can be updated on README.

[2022-07-14 17:50] scarshad commented on #3091
Hey @Flarna
Thanks for the help, it works by calling `multi()` inside the `opentelemetry.context.with()` and I also tried to do it like you said but there is one concern for me like if I want to pass some argument in the callback function then I need to pass them as arguments, but I think it's hard to make a generalise function for all the methods calling this

like my code now is
[code]

and I am

[2022-07-14 19:31] vishnugupta20 opened #3096 "Unable to send a trace"
Hello All, I am getting the below error any suggestion what will be causing this issue? I have integrated the `splunk-otel` and one of the instrumentation used is `http`. Whenever an endpoint is called I get this error. Can someone help me.

`Jaeger exporter export
Instrumentation suppressed, returning Noop Span
wrap lookup callback function and starts span
Instrumentation suppressed, returning No

[2022-07-14 20:09] Flarna commented on #3091
This seems to be more a typescript question then a OTel question. I think you look for something like [this](https://github.com/open-telemetry/opentelemetry-js-api/blob/bafcf0d0756e6ecc79fcc75f221b9dd17641eba5/src/context/types.ts#L56-L61).

Besides arguments you may want to pass also `this` and preserver the return type.

[2022-07-15 03:25] scarshad commented on #3091
Okay, I used higher order function which returns the exact function from the `startActiveSpanDummy` and call it as you called.
Thanks a lot.

[2022-07-15 08:30] Rauno56 commented on #138
I don't think this is a use case we should support. Making span ids deterministic or having duplicates in a system inherently creates issues with reporting and should only be ever done with great caution.
It’s better to link the spans together instead of creating duplicates.
[Current page load instrumentation](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/1db1fecc16ecb3dbad530de5

[2022-07-15 08:30] #138 closed

[2022-07-15 08:34] Rauno56 commented on #156
@dyladan, what was the idea behind adding the label?

To me, this sounds like span attributes that have API. Additionally, there's
- Custom SpanProcessors which can change Spans however way anyone pleases,
- Resource API which can achieve adding vendor specific attributes.

Closing this for now. Daniel will reopen as he sees fit.

[2022-07-15 08:34] #156 closed

[2022-07-15 08:43] Rauno56 commented on #196
There are numerous cases where the user can access/change private properties and objects right now and stopping them is a relatively big undertaking and will ever only be imperfect anyways.
Closing this, but definitely open to taking PRs on this and discuss them case-per-case.

[2022-07-15 08:44] seemk commented on #104
The value type in the newer specs is either 64 bit double or a 64 bit signed integer ([sfixed64](https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/metrics/v1/metrics.proto#L358-L361), which can be passed to protobufjs as a string). So strictly speaking `BigInt` can't be supported properly, but it might make sense to support the 64 bit integer API, which in the bac

[2022-07-15 08:54] seemk commented on #3096
The usual Jaeger receiver port for OTel Collector is `14268`, so please configure Collector with the proper port ([examples here](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/jaegerreceiver#getting-started)) or use https://github.com/signalfx/splunk-otel-collector for the collector.

In general feel free to open distro specific issues at https://github.com/s

[2022-07-15 08:56] #3096 closed

[2022-07-15 08:58] Rauno56 commented on #3096
Feel free to open a support ticket on [signalfx/splunk-otel-js](https://github.com/signalfx/splunk-otel-js).

[2022-07-15 09:00] #275 closed

[2022-07-15 09:04] #295 closed

[2022-07-15 09:06] #3085 closed

[2022-07-15 09:10] Rauno56 commented on #419
We're set to use GHA for now and have written CI probably multiple times at this point after this issue was created. Outdated.

[2022-07-15 09:16] Rauno56 commented on #92
We haven't set a clear rule about when to throw and when to log the error. Since we’re GA we don’t want to change any of the current behavior.
As a general rule, we should throw on the startup/configuration phase and log the error during runtime to avoid breaking users.

[2022-07-15 09:16] #92 closed

[2022-07-15 09:30] #515 closed

[2022-07-15 13:17] trivikr commented on #3095
The consensus is being achieved towards treating website as authoritative, and provide a link to website instead.

https://github.com/open-telemetry/opentelemetry-java/pull/4612#issuecomment-1185118267

We'll request the status page to link to language instrumentation links instead of GitHub READMEs in https://github.com/open-telemetry/opentelemetry.io/issues/1548

[2022-07-15 15:09] kevin-mitchell commented on #2936
As somebody new to OTel, and just trying to get a basic setup working, this has been a source of confusion for me. [Examples I've seen](https://github.com/aws-observability/aws-otel-js/blob/78f221a4b8c8e91b794204989694a063a2e02894/sample-apps/create-a-tracer.js#L44) have `instrumentation` config, but it doesn't appear to be valid any longer. The specific snippet (linked above) from the example cod

[2022-07-15 15:48] seemk commented on #3096
Can you show the OTel collector config? The error you're receiving is due to the 9080 port of 127.0.0.1 not being available. Is collector configured to listen on 9080?

[2022-07-15 18:03] vishnugupta20 commented on #3096
@seemk @Rauno56 Don't have a Otel collector config.

Here is the list of package installed in package.json

[code]

**tracer.js class code**

[code]

**Environment variable**

[code]

[2022-07-15 18:27] seemk commented on #3096
You can try setting `export OTEL_EXPORTER_JAEGER_ENDPOINT=http://localhost:14268/api/traces`, this is the default endpoint for Jaeger in OTel Collector

[2022-07-16 04:52] seemk commented on #3096
Do you have OpenTelemetry Collector running?

[2022-07-16 20:04] RichiCoder1 commented on #1214
Just about every "edge" runtime is planning [to provide a perf api _except_ Cloudflare Workers](https://github.com/wintercg/proposal-common-minimum-api/issues/15), so I think the route I'm actually going to take here is a polyfill for workers as a well an (intially external, poc) CF Workers Trace SDK

[2022-07-17 21:11] RichiCoder1 commented on #3061
I'm not sure how best I can help, but I'm also interested in this! Been using the Logs Exporter in .NET projects to nice success.

[2022-07-18 06:40] #2925 closed

[2022-07-18 17:26] legendecas commented on #2974
Not stale, need to be addressed after landing https://github.com/open-telemetry/opentelemetry-js/pull/3088.

[2022-07-19 09:54] klacabane commented on #867
We need to transform the resource attributes into an `info` type in the `PrometheusSerializer.serialize` and I was wondering how the client pulling this data should interpret them. It's out of this issue's scope but I didn't find relevant informations. Currently the clients choke on the `info` metric type so my assumption is that clients would have to support this new type and have specific logic

[2022-07-19 11:55] markandrus commented on #225
I just hit this recently when trying to add [fastify-graceful-shutdown](https://github.com/hemerajs/fastify-graceful-shutdown) to my project. This plugin [expects to be](https://github.com/hemerajs/fastify-graceful-shutdown/blob/master/index.js#L12-L22) the one-and-only library to listen to SIGTERM, but opentelemetry has already registered.

[2022-07-19 15:20] iShawnWang commented on #3062
This works fine for me for now ~

[code]

After digging into the source code with debugger i found this, with the `header: {}` option, ot sender will use xhr instead of sendBeacon !

<img width="1391" alt="image" src="https://user-images.githubusercontent.com/20266594/179786446-80630ae1-b277-496a-9fcd-ec75b0029f02.png">

so without `credentials: 'include'`,
[this config on ot receiver ](https://gi

[2022-07-19 17:25] #3063 closed

[2022-07-19 20:43] brechr commented on #3057
hey @Flarna for the curious, why does this not appear to work

[code]

while this seems to work fine

[code]

would be greatful for your insights :) thanks

[2022-07-19 20:57] Flarna commented on #3057
Most likely because SDK has no config option named `tracerProvider`. see https://github.com/open-telemetry/opentelemetry-js/blob/9ac9976b38296be782f015bfc6fc145db0de9a9b/experimental/packages/opentelemetry-sdk-node/src/types.ts#L28-L41

[2022-07-19 21:08] brechr commented on #3057
lol ok thanks.. prossibly got this messed up/confused by one of my tests.. sorry for that dumb question and thanks so much for the help

[2022-07-19 21:08] #3057 closed

[2022-07-19 21:25] gracework commented on #3057
@brechr Out of curiosity, do you remember which times that your OTel stopped / started working? We have an Azure App Service, also on Linux, that we have experienced behaviour that seems very similar to your case. The main difference is that it's for .NET instead of javascript, but we found your issue and it turns out the workaround is the same: turn on the AlwaysOnSampler. (This isn't a permanent

[2022-07-19 21:37] brechr commented on #3057
@gracework no exact date, i can try to narrow it down to a window of a few weeks tomorrow. We had this showcase service where everything was working fine at the day of presentation and then had to do another small project before we continued working on it and noticing all traces were gone.
At some point Azure started offering these one click Azure App Insights integrations for App Services, might

[2022-07-19 21:46] gracework commented on #3057
@brechr Interesting. For reference for yourself, and others who may be reading this, here were the approximate times that we experienced changes in OTel data:

2022-06-09 23:30 UTC - three apps stopped sending most OTel data (same app, different envs; we never do something to multiple envs at once)
2022-06-15 05:25 UTC - three apps resumed sending all OTel data
2022-06-18 00:00 UTC - two apps stop

[2022-07-20 02:30] legendecas commented on #225
I didn't find an occurrence in Otel packages that installed the SIGTERM handler, would you mind sharing what you found?

[2022-07-20 14:39] dyladan commented on #225
This is quite an old issue I believe we used to detect shutdown but no longer do.

[2022-07-20 14:40] dyladan commented on #3062
Maybe we should include a way to force xhr or sendbeacon by config

[2022-07-20 16:27] dyladan commented on #2093
@Flarna is this still an issue? Going to close this as I think it is resolved but reopen if that is wrong.

[2022-07-20 16:27] #2093 closed

[2022-07-20 16:28] dyladan commented on #2077
The examples have had quite some work since this issue was opened. Closing

[2022-07-20 16:28] #2077 closed

[2022-07-20 16:30] dyladan commented on #1989
@Flarna I believe this has been fixed. Can you confirm if this is still a bug?

[2022-07-20 16:34] #1846 closed

[2022-07-20 16:35] dyladan commented on #1841
Related to #3067. This is not a bug but a spec inconsistency. This can't be fixed until #3067 is resolved.

[2022-07-20 16:36] #1835 closed

[2022-07-20 16:38] dyladan commented on #1735
There is not enough info to reproduce this. Please reopen following the new bug template if this is still an issue.

Node 10 and 12 are both deprecated runtimes

[2022-07-20 16:40] dyladan commented on #1727
Does this failure only occur when exporting to jaeger or does it also fail when sending to zipkin?

[2022-07-20 16:41] dyladan commented on #1705
@schlosser there is not enough information to reproduce the bug. Can you please provide a reproduction?

[2022-07-20 16:42] dyladan commented on #1690
I believe this has been resolved but I will check before closing.

[2022-07-20 16:46] #2585 closed

[2022-07-20 16:46] #2587 closed

[2022-07-20 16:46] #1482 closed

[2022-07-20 16:55] legendecas commented on #3062
Yeah, this is what I have in my mind too. I'm thinking about introducing a new @opentelemetry/core-web package for web utilities that need to be shared across various web packages. Currently, those utils are located in the @opentelemetry/sdk-trace-web (e.g. https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-trace-web/src/utils.ts#L201).

[2022-07-20 17:00] schlosser commented on #1705
We ended up moving off this library; I won't be able to provide a repro.

[2022-07-20 17:00] #1705 closed

[2022-07-21 05:38] Flarna commented on #225
Regarding signals: at least he [readme](https://github.com/open-telemetry/opentelemetry-js/tree/main/experimental/packages/opentelemetry-sdk-node#initialize-the-sdk) for NodeSDK shows a usage of `SIGTERM`.

It's not only about shutdown. e.g. the HTTP instrumentation installs an `error` listener. If user application doesn't install one it would crash without OTel but error is ignored once OTel is p

[2022-07-21 05:54] Flarna commented on #1989
I don't think it's fixed as abstract `init` is still called from base class constructor [here](https://github.com/open-telemetry/opentelemetry-js/blob/1a0e0c44d2d5930a9c140f3ad650da04b43784d3/experimental/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L42)

[2022-07-21 14:04] t2t2 commented on #3062
Maybe consider having xhr (or fetch considering how it's available in node v18+, deno v1 and usually polyfilled in IE) as the default method in general and navigator.sendBeacon as backup when in browser document is being unloaded?

* sendBeacon [has a 64KB limit](https://stackoverflow.com/a/50381832). In firefox this is per sendBeacon call (eg can do 64KB + 64KB + 64KB), but in chrome this limit a

[2022-07-21 14:40] iShawnWang commented on #3062
In my opinion, xhr or fetch is more predictable ~

[2022-07-21 15:58] haddasbronfman opened #3104 "Add responseBodyHook for http request and response"
### Is your feature request related to a problem? Please describe.
I work on otel distribution, and as part of our HTTP instrumentation, we want to have the HTTP request body and the HTTP response body. These apparently are not easy to get. This is because otel is closing the span before the 'end' callback on my request/response has been triggered.
This is happening [here](https://github.com/open-

[2022-07-21 16:26] davispuh opened #3105 "Single-shot metrics"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

I've been looking into how to export single-shot metrics but don't really see how. The issue with `PeriodicExportingMetricReader` is that it keeps sending metrics with same value even if there's no new records.
For example consider a use case where I want

[2022-07-21 17:15] legendecas commented on #3105
Have you considered `AggregationTemporality.DELTA`? With that configuration, the exported metric aggregation will no longer be exported again. It can be configured with the constructor parameter `OTLPMetricExporterOptions` of `OTLPMetricExporter`, like:

[code]

[2022-07-21 21:43] Ugzuzg commented on #2329
TypeScript supports specifying different `.d.ts` files for different versions: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#version-selection-with-typesversions

[downlevel-dts](https://github.com/sandersn/downlevel-dts) rewrites `.d.ts` files created by any version of TypeScript so that they work with TypeScript 3.4 or later. This package is used by [typescript-e

[2022-07-22 08:13] QuentinN42 opened #3107 "[OpenTelemetry Prometheus Metric Exporter] Docs not working"
### What happened?

## Steps to Reproduce

Just follow the [opentelemetry-exporter-prometheus README](https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-exporter-prometheus/README.md).

## Expected Result

Some metrics.

## Actual Result

Got an `failed to export metrics: Error: MetricReader is not bound to a MetricProducer`

### OpenTelemetry Setup Co

[2022-07-22 11:39] davispuh commented on #3105
It solves the issue that same data isn't resent again but it still keeps sending metrics all the time to the endpont with empty `dataPoints`
[code]

[2022-07-22 17:25] brechr commented on #3057
hey @gracework i've created a question microsoft q&a (after their L0 twitter support couldn't help): https://docs.microsoft.com/en-us/answers/questions/938577/possibility-to-disable-injection-of-traceparent-in.html

[2022-07-22 18:32] RichiCoder1 commented on #3061
I did a (very naive) implementation of this for Cloudflare Workers, and am game to take this on or assist too!

Reading https://github.com/open-telemetry/opentelemetry-specification/issues/2506 it sounds like the "API" in the `opentelemetry-js-api` is currently undefined except the types defined in the [SDK spec](https://opentelemetry.io/docs/reference/specification/logs/logging-library-sdk/). Wou

[2022-07-23 09:30] vmarchaud commented on #3061
I think just having a SDK is the right way, at least thats how java sig went: https://github.com/open-telemetry/opentelemetry-java/tree/main/sdk/logs/src/main/java/io/opentelemetry/sdk/logs

[2022-07-23 12:11] vmarchaud commented on #3061
Actually it seems that the API is on its way: https://github.com/open-telemetry/opentelemetry-specification/pull/2676

[2022-07-23 17:28] RichiCoder1 commented on #3061
Yup! I figure I can start working from the above assumption and circle back around the API once it's officially landed in the spec. That at least allows instrumenting loggers (and potentially console).

[2022-07-24 07:16] siddhikhapare commented on #2839
@dyladan  @medikoo  As per your suggestions I have done changes in files. Could you please go through them?  Thank you.
https://github.com/open-telemetry/opentelemetry-js/pull/3109

[2022-07-25 02:16] legendecas commented on #3104
Are `requestHook` and `responseHook` sufficient for the problem? You can add body listeners on the given `request` and `response`.

[2022-07-25 06:37] haddasbronfman commented on #3104
I think they are not sufficient. When I tried to use them I  added this code to my `responseHook`:
[code]

but when the `end` callback was called, the span was already closed and `setAttribute` failed.
This happens because the `end` function ([overridden in line 448](https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-instrumentation-http/src/http.ts#L4

[2022-07-25 06:40] #2797 closed

[2022-07-25 06:40] #2186 closed

[2022-07-25 08:33] legendecas commented on #3104
I believe the problem is that [`response.end`](https://nodejs.org/dist/latest-v18.x/docs/api/http.html#requestenddata-encoding-callback) is asynchronous -- however, in the instrumentation, it is been treated as a synchronous method.

[2022-07-25 09:27] legendecas commented on #3107
Sorry about this. The document is outdated. You can check out https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/examples/prometheus/index.js for an example project for now.

[2022-07-25 09:41] legendecas commented on #3105
We have an issue tracking the ability to forget unused attributes: https://github.com/open-telemetry/opentelemetry-js/issues/2997. But there is no method to unregister an instrument yet -- as creating a new instrument is not as trivial as recording a metric event is, I would not recommend doing that in a repetitive way.

[2022-07-25 09:56] haddasbronfman commented on #3104
What do you mean by "treated as a synchronous method"? I see that my `end` callback is called after the span is closed. what can I do differently?

[2022-07-25 10:31] vipulkv commented on #2205
Hi - Any update on this? This bug hurting us is causing low score of our website by [PageSpeed Insights](https://pagespeed.web.dev/).

[2022-07-25 11:54] davispuh commented on #3105
I don't think that would be good way - add metric, send it, then remove it. Especially it doesn't make sense to remove it when you know you'll send it again later just not periodically.

[2022-07-25 13:39] #3090 closed

[2022-07-25 13:40] kkruk-sumo commented on #2205
It's still valid. #2243 was about `BatchSpanProcessor`, and the `unload` listener is still in otlp-exporter https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/otlp-exporter-base/src/platform/browser/OTLPExporterBrowserBase.ts#L60 .

[2022-07-25 13:41] dyladan commented on #868
The observer example was removed in the rewrite. I'm closing this since I feel it is covered by #3026

[2022-07-25 13:41] #868 closed

[2022-07-25 13:59] dyladan commented on #3014
JS can only safely represent numbers between `-(2^(53) - 1)` and `2^(53) - 1`. Outside this range, adding and subtracting integers will have an imprecise effect on the value. Small additions and subtractions may even have no effect at all.

Options:
1. Overflow at `2^53` to `-2^53 - 1` (stay within JS safe range)
2. Reset at `2^53` to zero
3. Overflow at `2^31` to `-(2^31 - 1)` (emulate 32-bit sig

[2022-07-25 14:33] dyladan commented on #3014
We can also use `BigInt` which is supported in major browsers and node since 10.5

https://node.green/#ES2020-features-BigInt
https://caniuse.com/bigint

When converting to proto we would need to be sure to properly overflow numbers larger than `2^64 - 1`

[2022-07-25 14:36] legendecas commented on #3104
[response.end](https://nodejs.org/dist/latest-v18.x/docs/api/http.html#requestenddata-encoding-callback) accepts a callback as the last parameter. Only when the callback is invoked, we can safely assert that the data passed to `response.end` is sent to the other end. So, I think the span should be marked as ended when the callback of `response.end` is invoked, which should solve the problem in the

[2022-07-25 14:45] dyladan commented on #3105
I think he's just saying that he wants to be able to export a metric only when a value is provided without unregistering. Right now even with delta temporality we export an empty metric on each export interval. One option might e to detect when this is happening and simply not export which wouldn't require unregistering.

[2022-07-25 14:47] dyladan commented on #2205
@MSNev how would you propose to perform a synchronous flush?

[2022-07-25 15:14] medikoo commented on #2839
@siddhikhapare I still do not see any changes being proposed to this file: https://github.com/open-telemetry/opentelemetry-js/blob/038bbdb67ad16d6fd8a26a3a81e42726ceccf04e/experimental/packages/opentelemetry-instrumentation-http/README.md am I missing something?

[2022-07-25 17:45] siddhikhapare commented on #2839
@medikoo @dyladan  Hi, I thought I have to make separate folder and add all changes there regarding how to configure manual and automatic instrumentation to generate telemetry. I apologize for my misunderstanding about your suggestions but  I have tried to add one http options here.
https://github.com/open-telemetry/opentelemetry-js/pull/3109
Can you please tell me do I need to add recent changes

[2022-07-25 18:24] dyladan commented on #2791
This is fixed by #3098

The root cause was that the `ExportRequestProto` was a module-level global in a module which was a base class for the metric and trace exporters ([old source](https://github.com/open-telemetry/opentelemetry-js/blob/9ac9976b38296be782f015bfc6fc145db0de9a9b/experimental/packages/otlp-proto-exporter-base/src/util.ts#L30)). @legendecas fixed this while converting the proto expo

[2022-07-25 18:32] dyladan commented on #2839
The acceptance criteria for this issue is that for each package, the README in that package directory should state which semantic conventions from the specification are followed. This is a documentation issue, not asking for an example or any code.

[2022-07-25 18:50] dyladan commented on #2791
The proposed release fixes this issue.

[2022-07-25 18:52] EddieEldridge commented on #2791
Awesome. Thanks @dyladan and @legendecas. Was questioning my sanity while dealing with this one so I appreciate someone taking a look at it and figuring it out!

[2022-07-25 18:53] dyladan commented on #2791
I've also been pulling my hair out on this one including going on a wild goose chase with the gRPC exporters for a couple weeks (my brain skipped right over the fact this is the proto exporters😩)

[2022-07-25 19:51] MSNev commented on #2205
For browsers runtimes, there is not a lot of choice to ensure that we can get traces of the box, general options are
- synchronous XHR (blocks UI, but also getting disabled by modern browsers) -- doesn't have size limits, required for IE
- sendBeacon -- has 64kb payload limit. And this is "unsent" not per-request (you can't just do lots of sendBeacon requests)
- fetch (with keep-alive) -- has same

[2022-07-25 23:12] trivikr opened #3113 "The URL for homepage should link to package inside monorepo"
### Is your feature request related to a problem? Please describe.

The [homepage][homepage] field for the individual packages (if present) links to root of the monorepo.
The folks using the link and landing on GitHub have to go through monorepo structure, and find out the correct package.

For example, open [@opentelemetry/exporter-jaeger][npm-otel-exporter-jaeger] on npm, and click on Homepage i

[2022-07-26 12:14] breno-alves opened #3115 "Exporter trace otlp http sending unknown field to API"
### What happened?

When trying to send data to OTLP collector receive bad request from API. I've tried with gRPC exporter and it worked just fine. May be something related to HTTP only.

## Steps to Reproduce

Just try to send anything to trace

## Expected Result

Expected to receive tracing on OTLP collector

## Actual Result

Receive bad request from API

## Additional Details

Node Version: v

[2022-07-26 12:23] dyladan commented on #3115
There were recently some deprecated fields removed but it says the unknown field is `scopeSpans` which is the new field not the old field. This definitely looks like a real bug.

[2022-07-26 12:35] dyladan commented on #3115
Created an issue in the collector at https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12726

[2022-07-26 12:38] #3035 closed

[2022-07-26 12:41] breno-alves commented on #3115
I'm available to help if necessary :)

[2022-07-26 13:02] dyladan commented on #1391
This is fixed

[2022-07-26 13:02] #1391 closed

[2022-07-26 13:03] dyladan commented on #3115
I think most likely this was a change on the collector side. They may have changed the casing required in the JSON receiver or something like that. It previously allowed `camelCase` identifiers but they may have changed it to only allow `snake_case` identifiers

[2022-07-26 13:14] dyladan commented on #3115
@breno-alves can you capture a full JSON payload for me? You can send a span to a webhook.site endpoint to capture it

[2022-07-26 13:24] breno-alves commented on #3115
I get no log on OTLP collector but I can see the payload on API debug log. Is that enough?

[code]

[2022-07-26 13:25] dyladan commented on #3115
It would be better to capture the actual JSON. One way to do that would be to change the URL of your sample from the collector endpoint to an endpoint like webhook.site

[2022-07-26 13:34] breno-alves commented on #3115
Give me just a minute, removing ip data

[2022-07-26 13:35] dyladan commented on #3115
Can you also check if a previous version of the collector works?

[2022-07-26 13:37] breno-alves commented on #3115
[code]

[2022-07-26 13:39] breno-alves commented on #3115
checking...

[2022-07-26 13:47] breno-alves commented on #3115
otel/opentelemetry-collector-contrib:0.53.0

working just fine, I'll test on which version it is breaking...

@dyladan

[2022-07-26 13:51] breno-alves commented on #3115
0.54.0 working fine
0.55.0 working fine
0.56.0 working fine...

I just realized that :latest isn't the lastest version... there is a image tagged as latest from 7 months

https://hub.docker.com/layers/opentelemetry-collector-contrib/otel/opentelemetry-collector-contrib/latest/images/sha256-d34519458388e55a3fce38a33e6bc424267c1f432927c09e932ba45f7575bd84?context=explore

maybe this is the problem?

[2022-07-26 13:52] dyladan commented on #3115
Yes that is exactly the problem. scopeSpans was introduced to replace instrumentationLibrarySpans several months ago.

[2022-07-26 13:52] #3115 closed

[2022-07-26 13:53] dyladan commented on #3115
Closed since this was just a version mixup

[2022-07-26 14:08] dyladan commented on #3115
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12729

[2022-07-26 14:23] dyladan commented on #2205
Isn't sendBeacon and fetch both async? The only sync option is sync XHR which has problems like you mentioned

[2022-07-26 14:30] #2791 closed

[2022-07-26 14:34] legendecas commented on #3113
@trivikr has submitted https://github.com/open-telemetry/opentelemetry-js/pull/3114 so I'm assigning this to them and removed the label 'up-for-grabs'.

[2022-07-26 14:34] #3113 closed

[2022-07-26 15:57] svetlanabrennan commented on #2873
Still working on this

[2022-07-26 21:58] martinkuba commented on #3061
I put this aside while the API was being discussed, and I have opened a [draft implementation of the API](https://github.com/open-telemetry/opentelemetry-js/pull/3117).

[2022-07-27 00:21] martinkuba opened #3118 "Protobuf trace exporter for browser"
### Is your feature request related to a problem? Please describe.

When exporting OTLP data from browsers, it is important to minimize the size of the payload. The existing JSON OTLP format can be very large due to long and repeated keys. This was discussed in this (rejected) PR https://github.com/open-telemetry/opentelemetry-proto/pull/413. One outcome of that discussion was a recommendation to

[2022-07-27 06:29] haddasbronfman commented on #3104
But this `callback` argument is optional

[2022-07-27 11:55] dyladan commented on #3118
I think actually the current one should work in browser it just needs to have tests added.

[2022-07-27 14:50] dyladan commented on #3118
The problem before was the .proto files and that's been sorted now that we ship compiled js files using protobufjs which supports browser

[2022-07-27 14:57] martinkuba commented on #3118
I tested it with the parcel example from the docs, and getting this error

[code]

There is a single exporter class in the package that extends `OTLPProtoExporterNodeBase`, unlike the http one that has a separate class for browser.

[2022-07-27 15:14] pkanal commented on #3118
I'm happy to take a look at this!

[2022-07-27 15:58] dyladan commented on #3118
Yeah there is actually nothing node specific there though as far as I'm aware now that proto stuff is gone. I think the problem will just be that we don't have browser targets and tsconfigs setup in the package.json. I'm pretty sure this is a packaging issue not a code issue.

[2022-07-27 15:59] dyladan commented on #3118
I could be wrong, and there may be some minor things to change, but overall I don't expect this to be a large body of work

[2022-07-27 16:34] jmacd commented on #3105
The OTLP exporter is welcome to skip exporting metrics with no data points, I feel. Does this need to be specified? I also feel that Delta temporality is the correct solution to ensure the desired behavior.

Lastly, in the Otel-Go API we avoided the verb "create" so that the expression for a single-shot metric would look more natural, e.g.,

[code]

[2022-07-27 16:44] jmacd commented on #2997
@legendecas There are at least four issues being discussed here and in #3105.

If you're using delta temporality, you should be able to avoid memory buildup regardless of which attributes are in use. Memory buildup is a problem for the consumer downstream, in this case.

If you're using cumulative temporality and you find a need to `delete()` the way Prometheus suggersts, you may instead (in the c

[2022-07-27 19:28] vmarchaud commented on #2205
I believe `sendBeacon` API is sync however the data is sent asynchronously, you just never get the callback. It ensentially just push the request into a queue that is handled even if the page is closed.

[2022-07-27 19:37] vmarchaud commented on #3014
I'm not sure if its related but we had an issue to support int64 here: https://github.com/open-telemetry/opentelemetry-js/issues/104, maybe can we tackle both a the same time ? Just serializing it in proto differently depending on the value ?

[2022-07-28 02:53] legendecas commented on #3105
It would be definitely helpful to explicitly specify this.

Well... that's a good point. In the API spec it uses the term "create", I find that most language implementations adopted the term "create" as well.

- https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#meter-operations
- Java: "builder" https://github.com/open-telemetry/opentelemetry-java

[2022-07-28 15:16] weyert commented on #3036
Made a PR for this: https://github.com/open-telemetry/opentelemetry-js/pull/3120

[2022-07-28 17:38] #3049 closed

[2022-07-28 17:38] dyladan commented on #3014
Now that we don't have 8,10,12 we can use BigInt there too

[2022-07-28 17:59] dyladan commented on #3014
How do we want to handle this? I don't want to just use BigInt for everything since numbers larger than 2^53 aren't the most common and there is a significant performance hit vs using `number` because BigInt can't take advantage of built in hardware arithmetic.

Here is my proposal:

/cc @open-telemetry/javascript-maintainers especially @legendecas

### Int Gauge

Accept `number` or `BigInt` in th

[2022-07-28 18:10] dyladan commented on #3014
Once we agree on a strategy i'm happy to work on this one

[2022-07-28 18:10] dyladan commented on #2205
Got it. So sendBeacon is our best bet on shutdowns and if we have to use xhr we just have to hope

[2022-07-28 18:46] dyladan commented on #225
The user can always do whatever they want to detect shutdowns. The readme is an example of what the user would do not what we do inside the SDK

In this case we should probably use the errorMonitor because we don't support the node versions which don't support it.

[2022-07-28 19:47] hectorhdzg opened #3121 "Failing to compile project because of error in @opentelemetry/otlp-proto-exporter-base"
### What happened?

## Steps to Reproduce
Clone repo, install dependencies and run "npm run compile" in Windows 11

## Expected Result
Compilation is successful

## Actual Result
Error being thrown

## Additional Details
Any pointers on how to solve the issue would be appreciated.

### OpenTelemetry Setup Code

_No response_

### package.json

_No response_

### Relevant log output

[code]

[2022-07-28 20:06] dyladan commented on #2971
I have been looking into this and I think this might be an issue within the `events` standard library module itself. I have come up with a very minimal reproduction for this and I'm at a complete loss for what we can do aside from simply not supporting `once`

Minimal repro:

[code]

The only way around this I can think of is for us to completely reimplement `once` on our own instead of relying on

[2022-07-28 20:07] dyladan commented on #2971
/cc @Flarna since you're probably our best expert on node internals

[2022-07-28 20:14] dyladan commented on #3121
Hmm looks like this might actually be an issue with `pbjs` not supporting windows?

[2022-07-28 20:28] hectorhdzg commented on #3121
This could be related to #3098, is there any easy way to avoid compilation of this particular project?

[2022-07-28 21:43] dyladan commented on #2971
I think I may have discovered the issue.

1. user calls `once`
2. we wrap their function (`wrapper1`) and call the original `once`
3. original `once` wraps (`onceWrapper`) and calls `on` (which is ours)
4. we wrap the function again (`wrapper2`) and call the original `on`
5. user calls `removeListener`
6. we look up our wrapper (`wrapper1`) by a map and call the original `removeListener` with `wra

[2022-07-28 21:45] dyladan commented on #2971
in `wrapFunction` we can check if the input target is a onceWrapper by checking if the name is `"bound onceWrapper"`

[code]

console output:

[code]

[2022-07-28 21:46] dyladan commented on #2971
If anybody knows a better way to check if the function is a bound onceWrapper please tell me

[2022-07-28 21:46] dyladan commented on #2971
Here is the original implementation for `once`:

[code]

[2022-07-28 22:49] dyladan commented on #2971
Created #3122 and #3123 to fix this problem. Each of them solves the problem on its own it is just a matter of what do we think would be more robust (or merge both)

[2022-07-28 23:17] weyert opened #3125 "Unable to define views for metrics when using node-sdk"
### What happened?

When you are using `node-sdk` to setup the Opentelemetry environment you don't have the ability to define Views anymore since the latest version. As a recent change moved the views from a function `addView` on the MeterProvider to the constructor

### OpenTelemetry Setup Code

_No response_

### package.json

_No response_

### Relevant log output

_No response_

[2022-07-29 02:13] legendecas commented on #3014
I would be inclined not to introduce implicit conversion between numbers and bigints. Conversion from numbers to bigints is easy, but the interoperability between numbers and bigints is not trivial as all the operands must be a bigint. Lots of places must be aware of this implication and it can complicate the common path:
- `Number.isInteger(0n) === false`: https://github.com/open-telemetry/opente

[2022-07-29 03:05] legendecas commented on #3014
@dyladan Would you mind clarifying why backends that support signed 64-bit ints can not handle resets from `2^53 - 1` to `-(2^53 - 1)`?

Either way, as the overflow has to be manually reset, resetting `2^53 - 1` to `-(2^53 - 1)` or `0` both sound good to me. Overflowing to the lower bound of the safe integer range might be a common choice for the other language implementations.

[2022-07-29 03:08] #2961 closed

[2022-07-29 03:32] legendecas commented on #3121
You can execute `npm run compile` in the sub-packages you are interested in.

[2022-07-29 06:22] legendecas commented on #2997
When using delta temporality with an async instrument, the SDK needs to export delta values for the async instrument thus it has to remember the last reported metric streams: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/supplementary-guidelines.md#asynchronous-example-delta-temporality.

[2022-07-29 06:27] legendecas commented on #3104
It is asynchronous regardless of the presence of the optional callback.

[2022-07-29 09:44] vmarchaud commented on #3014
Generally other languages have dedicated method for each type so i would be in favor to have different methods too

[2022-07-29 12:17] dyladan commented on #3014
It may be interpreted as a 64 bit overflow not a 53 bit overflow as 53 bits is a weird time for integers to overflow.

I like this idea. We actually don't need to overflow the regular counter at all if we do this because we can simply document that any int instrument that goes larger than Number.MAX_SAFE_INTEGER should use the bigint version

[2022-07-29 13:49] dyladan commented on #3121
@hectorhdzg can you test the PR #3126 ?

[2022-07-29 17:45] #3015 closed

[2022-07-30 16:08] #3031 closed

[2022-07-30 18:27] siddhikhapare commented on #2839
@dyladan @medikoo  I mentioned  points what you both had instructed me. Would you please go through them and make sure they reflect what we discussed? Let me know if  you wish to make any changes by me.

[2022-07-31 23:46] lgfa29 opened #3131 "Decode values from `OTEL_RESOURCE_ATTRIBUTES`"
While using the Go SDK I noticed an inconsistency in how `OTEL_RESOURCE_ATTRIBUTES` baggage values are encoded and decoded. This was due to a difference in the version of the W3C Baggage spec used for [baggage propagation](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/baggage/api.md#propagation) and the [`OTEL_RESOURCE_ATTRIBUTES` decoding](https://github.co

[2022-08-01 06:45] #2668 closed

[2022-08-01 09:38] legendecas commented on #1278
The spec explicitly says that SDK should not support Prometheus push mode. I'm closing this issue for now unless there is anything that has changed.

[2022-08-01 09:38] #1278 closed

[2022-08-01 10:51] Flarna commented on #2971
Sorry for the late answer, was on vacation.

I think special handling of `once` is needed somewhere. One option is to detect `on` calls coming from `once` another option is maybe to implement once wrapper in way that it bypasses our `on` wrapper.

The really hard task is implement it in a way that it still works (and doesn't break others) if there are other context managers (e.g. APM tools,...) us

[2022-08-01 11:31] klubi commented on #3045
I have the same issue... Looks like new trace is initiated by service, despite b3 headers are present in incoming request.

My setup:
[code]

And then, when I
[code]
I get this in logs:
[code]
And then, traces end up in backend with `98f6f1a64ed74b52f1752c4e737e0399` instead of `7358730e8a6f46b36da52b4e4c298430`, despite headers printed from request are:
[code]

dependencies:
[code]

Can't figure

[2022-08-01 18:31] JacksonWeber commented on #3121
I'm having the same error occur on Windows 11 after pulling the latest changes.

[2022-08-01 20:10] Flarna commented on #3045
If you look into [extract](https://github.com/open-telemetry/opentelemetry-js/blob/b1c00629c9ddf9bcb9cb022f088b100c7e386ebc/packages/opentelemetry-propagator-b3/src/B3MultiPropagator.ts#L125-L145) you will see that B3MultiPropagator requires traceId, spanId and sampled value but in your test you provide only traceId which is effective the same as no B3 header at all.

Regarding your setup: I think

[2022-08-01 20:28] dyladan commented on #3121
@JacksonWeber can you try the PR at #3126? I don't have a windows PC and neither does @legendecas so it's hard for us to know if the issue is fixed.

[2022-08-01 23:04] JacksonWeber commented on #3121
@dyladan Unfortunately that fix doesn't seem to be working for me as I'm running into the same error message as @hectorhdzg

[2022-08-02 02:46] legendecas commented on #2089
`grpc.kind` is removed in https://github.com/open-telemetry/opentelemetry-js/pull/3127.

[2022-08-02 05:19] tuhao1020 opened #3135 "Multiple traces will be generated for the same request in service mesh"
### What happened?

I deployed 2 nodejs services, otel-demo-consumer and otel-demo-provider, in the service mesh, and then used the built-in gateway to access otel-demo-consumer, but I got three following parts:

gateway -> consumer, traceid: 63ae1fc32dba13ffab2b428fe8940866
<img width="857" alt="image" src="https://user-images.githubusercontent.com/26807520/182296876-33f727dd-4799-4313-b5af-bf60a

[2022-08-02 08:25] klubi commented on #3045
Huh... I missed that...
Anyways, removing `CompositePropagator` in favour of just one `B3Propagator` seems to solve it (unless I changed something more which solved it...)
Thanks @Flarna

[2022-08-02 17:52] #3045 closed

[2022-08-02 18:16] dyladan commented on #2804
We can release the non-json exporters now that protobuf exporters are codegen and grpc exporters have their own base right?

[2022-08-02 19:22] dyladan commented on #3014
Would it be better to have a separate method or to have a `ValueType.BIGINT`?

### Option 1

[code]

### Option 2

[code]

[2022-08-02 19:29] dyladan opened #3137 "Rename `@opentelemetry/sdk-metrics-base` to `@opentelemetry/sdk-metrics`?"
I wanted to get the opinions of others, particularly @open-telemetry/javascript-maintainers and @open-telemetry/javascript-approvers on renaming the metrics SDK. Right now we have `base` in the name mostly because the trace package had `base` in the name, but I think it actually doesn't really make sense because there is no metrics-web or metrics-node package. Users in both environments should jus

[2022-08-02 19:43] vmarchaud commented on #3137
I'm okay to rename metrics since there is only one but i would prefer to keep tracing as it is (specially as we might accept more specific platform like deno or edge platforms like [cloudflare](https://github.com/RichiCoder1/opentelemetry-sdk-workers))

[2022-08-02 19:50] vmarchaud commented on #3014
I wonder which one would be preferable for for platform that doesn't support bigint ? specially old browser version or edge platform that use old engines ?

I personally prefer option 1 though

[2022-08-02 19:56] vmarchaud commented on #3135
I don't think the node sdk by default register a way to propagate trace context. I would advise to use the https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-core/src/trace/W3CTraceContextPropagator.ts one but it depend of which one your service mesh is using

[2022-08-02 22:16] jdmarshall opened #3140 "Why is the SDK listed as a production dependency?"
### What happened?

## Steps to Reproduce
At the start of the docs, the sdk is listed as a dependency.

## Expected Result
npm install --save-dev @opentelemetry/sdk-node

Things that are needed at run time are generally not referred to as SDKs.

## Actual Result

npm install --save @opentelemetry/sdk-node

## Additional Details

The SDK is well over half of the node_modules directory for the given

[2022-08-03 02:15] legendecas commented on #3140
The term "SDK" used in OpenTelemetry is referring to the implementation of the OpenTelemetry API:

The package `@opentelemetry/sdk-node` should consume up to 12M in total in a fresh install. Would you mind providing a reproduction that installing `@opentelemetry/sdk-node` takes up to 220M?

[2022-08-03 03:08] tuhao1020 commented on #3135
@vmarchaud  I am using istio, is there a propatator for B3 headers?

[2022-08-03 05:36] legendecas commented on #3135
https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-propagator-b3 The documentation of the B3 Propagator can be found here.

[2022-08-03 14:12] legendecas commented on #3137
Sounds good to me to rename the metrics SDK.

I would be open to the opportunity to introduce `@opentelemetry/sdk-traces`. When people are using `@opentelemetry/sdk-trace-node` or ``@opentelemetry/sdk-trace-web`, they still need to import a lot of stuff from ``@opentelemetry/sdk-trace-base`. It is a bit annoying to name a bunch of dependencies just for one single purpose.

[2022-08-03 14:15] dyladan commented on #3014
I guess it depends what you want your fallback to look like. Would option 1 fail or return a regular int counter on platforms with no BigInt? If it returns a regular int counter then we are back to the complexity of an API that has to support multiple input types in order to support the fallback behavior.

For both options, we need to decide if we're going to allow `BigInt` as an input, or just us

[2022-08-03 14:32] vmarchaud commented on #3014
I would have suggested to make new functions for bigint that are optional in the API but its not great as UX

[2022-08-03 14:35] legendecas commented on #3014
I would prefer a more explicit and fail-early approach for feature absence.

For both options, my idea is that their internal representation is what their name/flag suggests. I don't have a strong opinion on allowing numbers on bigint counters yet, but I'd find a naive start with no implicit conversion would be great.

[2022-08-03 14:51] Flarna commented on #3137
I'm fine with rename metrics.
I'm not really a fan of the term SDK in this context but I guess this is because the name was given by the spec.

Rename `sdk-trace-base` to `sdk-trace` sounds also ok. But maybe it would be better to just re-export everything from base in node/web to avoid that users have to tinker with two packages?

[2022-08-03 14:56] legendecas commented on #3137
¯\_(ツ)_/¯  https://github.com/open-telemetry/opentelemetry-js/issues/3140

[2022-08-03 14:58] dyladan commented on #3014
So just use BigInt and it might throw. User is responsible for doing any feature detection?

[2022-08-03 15:41] dyladan commented on #3140
Removing the bug label for now. If it turns out we are causing a dependency explosion of some kind maybe it can be reclassified to bug once we know whats happening.

[2022-08-03 15:51] Flarna commented on #3137
Still keep three packages (node + web + common/base/shared/...).
If someone uses only base then fine - it contains code working on all platforms and user has a single entry point.

If one uses `sdk-trace-node` they now end up in code like this:
[code]
and you have to mention both in package.json (otherwise a good linter will complain).

if we reexport everything from base in node you could simply

[2022-08-03 15:53] legendecas commented on #3014
Yeah, as we don't provide any polyfill for BigInt, I don't think we can do many things without BigInt support.

[2022-08-03 16:06] dyladan commented on #3118
@pkanal any update on this?

[2022-08-03 16:24] #3121 closed

[2022-08-03 16:44] dyladan commented on #1648
Can you confirm if this is still a bug? The SDK is drastically different than it was when this was opened

[2022-08-03 16:45] dyladan commented on #1646
No response in 2 years. I'm going to close this. Please reopen if you can provide more information.

[2022-08-03 16:46] dyladan commented on #1587
This is the old SDK with old examples. Everything has been changed since this issue

[2022-08-03 16:46] #1587 closed

[2022-08-03 16:46] dyladan commented on #1568
@opentelemetry/exporter-collector has been deprecated for a long time. Please reopen if this is observed with the replacement OTLP exporters.

[2022-08-03 16:46] #1568 closed

[2022-08-03 16:47] dyladan commented on #1535
Can you provide a reproduction for this? I haven't seen any issue with using B3 headers.

[2022-08-03 16:48] #1442 closed

[2022-08-03 16:49] dyladan commented on #1315
Can you confirm if the workaround provided by @vmarchaud fixes the issue? This may be a load-order issue.

[2022-08-03 16:50] dyladan commented on #1238
Information was requested more than a year ago. I'm going to close this. Please reopen if you have more info to provide.

[2022-08-03 16:50] #1238 closed

[2022-08-03 16:50] dyladan commented on #1236
This has been fixed for quite some time

[2022-08-03 16:50] #1236 closed

[2022-08-03 16:52] millsp opened #3142 "No `links` are exported when using `InMemorySpanExporter`"
We want to use the `InMemorySpanExporter` to run our tests and snapshot the emitted spans. However, I am not seeing `links` array being filled with `SpanContext`s, while that works when exporting with `OTLPTraceExporter` (then seeing it in `jaeger`). It also works with `ConsoleSpanExporter`. I believe this is a bug, but I'd like to discuss it first (maybe it was a conscious decision?).

[opentelem

[2022-08-03 17:23] aabmass commented on #3014
I did a little digging because I was curious how you would pass BigInt to the protocol buffers implementation. It looks like we are using protobuf.js implementation and the typescript stubs it generates look like this:

[code]

the `asInt` variant accepts `Long`, which after doing a little digging seems to be from [long.js](https://github.com/dcodeIO/long.js), which is being pulled in as one of [p

[2022-08-03 17:35] millsp commented on #3142
Maybe it's worth mentioning that the spans whose links aren't being exported are spans that are created via `new Span` (`@opentelemetry/sdk-trace-base`).

[2022-08-03 19:35] dyladan commented on #3142
creating new spans directly is not supported. Spans should be created using `tracer.startSpan`

[2022-08-03 20:47] millsp commented on #3142
Thanks @dyladan, it looks like it does work now after resolving some other internal issue. We are using `new Span` and giving it the tracer. If that is not the intended way, how can I use `tracer.startSpan` to manually set its start time? (that's the reason why we use `new Span`). Thanks

[2022-08-03 21:29] #2971 closed

[2022-08-04 12:42] dyladan commented on #3142
There is an optional span options object

[2022-08-04 16:29] dyladan commented on #1235
The only global option is `enabled` now

[2022-08-04 19:15] dyladan commented on #3014
We wouldn't really need to provide polyfills. We could just accept `number | BigInt` for the counter APIs and do a simple `typeof inp === 'number'` check. If that check fails we assume we have a BigInt. For our own internal representation we would do a feature detection and fall back on `number` if `BigInt` was not available.

[2022-08-04 19:16] jmacd commented on #2997
Thanks @legendecas. You are correct. My statement about delta temporality only applies to synchronous instruments. This is the sense in which Lightstep would like to support a temporality preference named "stateless" that would configure delta temporality for synchronous and cumulative temporality for asynchronous instruments.

As you point out, asynchronous instruments when configured with delta

[2022-08-04 20:08] dyladan commented on #3137
Right now you need both. This issue was about metrics but has sort of evolved to be about tracing too and we're trying to solve that issue.

[2022-08-04 20:10] dyladan commented on #3137
Sorry if I wasn't clear. What I meant is what does the `NodeTracerProvider` do that is node specific (and same question for web)? I think the only thing is the plugin loading which is actually handled by a separate module now (`@opentelemetry/instrumentation`). I don't see any reason to use `NodeTracerProvider` over `BasicTracerProvider`.

[2022-08-04 20:49] millsp commented on #3142
The span information is being transfered to the client from another service which is not allowed to emit traces. The client then is in charge of rebuilding those from `traceId` and `spanId`, while also setting the `startTime`, `endTime` and `links` (and `name` of course). For that reason, we are using `new Span` instead.

Is there a way to set a specific custom `spanId` via `tracer.startSpan`? I b

[2022-08-05 06:19] Flarna commented on #3137
I think the only good reason to use it is it takes care of creating, enabling and installing `AsyncLocalStorageContextManager` or `AsyncHooksContextManager`.
Additionally it adds support to configure B3/Jeager as propagtors via env. But honestly speaking I'm no a big fan of this as it pulls in dependencies effectively not used in the end (assuming here that none is using jaeger, B3 and W3C propaga

[2022-08-05 12:08] Flarna opened #3146 "NodeSDK should register instrumentations earlier"
### Is your feature request related to a problem? Please describe.

Instrumentations need to be registered before the corresponding module to instrument is loaded. Currently `NodeSDK` calls `registerInstrumentations()` as last step in `start()` (see [here](https://github.com/open-telemetry/opentelemetry-js/blob/dcc9f860be9ecfb3b1cdcd08d8cfd197d5fa7962/experimental/packages/opentelemetry-sdk-node/s

[2022-08-05 12:22] amoscatelli opened #3147 "Missing http.target in XMLHttpRequest Instrumentation for web spans"
- [x] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

I noticed http.target is missing from my spans.
I double checked the source code and that's not added indeed :
https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-instrumentation-xml-http-request/src/xhr.ts#L34

[2022-08-05 12:31] dyladan commented on #3147
According to the specification [1], http.target is a server attribute, not a client attribute, so no it does not belong in the XHR instrumentation. The node.js http instrumentation should also only be adding it on server spans, not client spans.

[1]: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md

[2022-08-05 12:38] amoscatelli commented on #3147
This is NodeJS implementation :
https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-instrumentation-http/src/utils.ts#L333

I am using node js for an heavy client application, and I see this :

![image](https://user-images.githubusercontent.com/16684470/183077996-13eb9591-6532-40a7-8f5c-c846fd7b1f7b.png)

So at the moment NodeJS is sending http.target i

[2022-08-05 12:41] dyladan commented on #3147
You should have both if you have tracing on the client and the server

[2022-08-05 12:44] dyladan commented on #3147
I would suggest you open an issue in the spec if you want to be able to see http.target on your client traces

[2022-08-05 12:45] amoscatelli commented on #3147
I have both a Web javascript client, and a Nodejs javascript client speaking with the same JakartaEE server.
All of these three are traced with open telemetry.

Yet, NodeJS client spans have http.target, Web client spans don't have http.target.

I will gladly open a spec issue, thank you

[2022-08-05 12:48] dyladan commented on #3146
I'm actually going to reclassify this as a bug since it definitely can cause problems. The node sdk package is something that was done experimentally a long time ago but now has gained quite some users and should be brought to the level of quality they expect

[2022-08-05 12:48] dyladan commented on #3147
Yeah I understand the situation. I'm just saying that according to the spec, the web instrumentation should also not have http.target

[2022-08-05 12:56] dyladan commented on #3142
No there is not, but this isn't a usecase we have really thought about. I would have not assumed someone trying to solve that usecase would have used the full SDK but rather just some of the components like the otlp-transformer and maybe an exporter

[2022-08-05 17:09] jmacd commented on #3105
The requested OTLP clarification is in https://github.com/open-telemetry/opentelemetry-specification/issues/2715.

Given that we support duplicate instrument registration, it's not clear that calling "create" will actually create anything. However, I think the use of "create" is still going to be idiomatic in some languages. We decided not to use "create" in the Golang context because Go has a sty

[2022-08-05 17:58] millsp commented on #3142
We are really only using the `import { Span } from '@opentelemetry/sdk-trace-base'`
All the rest we use is the standard otel api `import { ... } from '@opentelemetry/api'`

In our case, we are releasing tracing for **Prisma**. Would that work given that it is a library?
In other words, could we make it seamless for users, not to need custom exporters/transformers?

Should we transform this issue i

[2022-08-05 22:44] hectorhdzg opened #3148 "Add support for HTTP Server/Client duration Metrics in HTTP instrumentation"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md

[2022-08-06 21:59] uralsemih opened #3150 "B3 propagator searching for headers with lowercase"
### What happened?

Hello,

I have a Java service(producer) and Nodejs service(consumer) where they are connecting to Kafka. Java service sends a JSON object to Kafka and Node.js service consumes it and saves it to the database.

I am using b3-propagators multi and when I made a comparison to traces between services I am aware that the Kafka one has a different one where it breaks the traces.If yo

[2022-08-07 09:18] vmarchaud commented on #3150
Node should automatically lower case header (https://nodejs.org/dist/latest-v16.x/docs/api/http.html#messageheaders) thats why we use lower case. The kafka instrumentation should instead lower case incoming headers i think

[2022-08-07 09:38] uralsemih commented on #3150
To be honest, it is hard to define for me which is a better approach but when I checked [b3-propagation](https://github.com/openzipkin/b3-propagation) seems they're expecting uppercase rather than lowercase.

[2022-08-07 11:47] tomerghelber-tm opened #3151 "Metrics should enforce labels by typing"
### Is your feature request related to a problem? Please describe.
Right now, when a label is required for a Metric, it is not enforced and potentially corrupted metrics can be sent.
We are testing the output of the metrics but the promotheus library is able to enforce that.
It also enables us to put some constants as labels and create a wrapped metric, which needs fewer labels.

### Describe the

[2022-08-07 14:08] legendecas commented on #3150
HTTP header keys are case insensitive, that's why Node.js is converting all incoming HTTP header keys to lower case.

For B3 propagation in other transports, I find that there is a note about the case sensitivity in their document:

Note: Http headers are case-insensitive, but sometimes this encoding is used for other transports. When encoding in case-sensitive transports, prefer lowercase keys or

[2022-08-08 02:24] #3036 closed

[2022-08-08 06:41] #2110 closed

[2022-08-08 07:10] Flarna commented on #3150
Seems like this is inconsistent across techs. [Java doesn't use lowercase keys.](https://github.com/open-telemetry/opentelemetry-java/blob/91bd17e09b38aff11f07da21d9eeb65aa4764a15/extensions/trace-propagators/src/main/java/io/opentelemetry/extension/trace/propagation/B3Propagator.java#L50-L53).

I think the OTel spec should clarify here to avoid interoperability issues like this.

[2022-08-09 13:28] mbrevda opened #3154 "Namespace no exported member 'Attributes'"
### What happened?

## Steps to Reproduce
Typescript error:
[code]
## Expected Result
no errors :-)
## Actual Result
I cannot compile my code
## Additional Details

### OpenTelemetry Setup Code

[code]

### package.json

[code]

### Relevant log output

_No response_

[2022-08-09 13:36] dyladan commented on #3154
Looks like you are missing the `@opentelemetry/api` dependency?

[2022-08-09 14:01] mbrevda commented on #3154
Yup, correct! Thanks! Did I miss the documentation?

[2022-08-09 14:01] #3154 closed

[2022-08-09 14:13] dyladan commented on #3154
Can you point to the example you were using? It looks like you were trying to import things from the API and in general it is best practice to have explicit dependencies and not rely on transitives.

[2022-08-09 16:17] legendecas commented on #3151
I think this is an interesting feature. I would suggest experimenting with the type interfaces in `@opentelemetry/api-metrics` and try not to put a requirement for SDKs to do anything to support it (i.e. enforcing the actual filters).

[2022-08-10 09:03] morigs opened #3155 "Validate maxExportBatchSize in BatchSpanProcessor"
### Is your feature request related to a problem? Please describe.

Some exporters README's mention that the `maxExportBatchSize` setting of the `BatchSpanProcessor` must be maller or equal to `maxQueueSize`. But no validation is performed in code.
It's difficult to track the correctness of the values by hand, because one of the values can be modified and another use default...

### Describe the s

[2022-08-10 13:42] mbrevda commented on #3115
Seeing this with `"@opentelemetry/exporter-trace-otlp-http": "^0.31.0"`, not using docker for exporting. Is there a better version I should be using?

[2022-08-10 14:24] pkanal commented on #3118
I started looking into this we need to add browser targets for `oplp-exporter-base`, `otlp-proto-exporter-base` and `exporter-trace-otlp-proto`. I have a branch on my fork where I'm trying to set this up so I'll push that up once I'm able to do a preliminary test. There might be a tweak we need to make to [this require statement](https://github.com/open-telemetry/opentelemetry-js/blob/main/experim

[2022-08-10 14:41] dyladan commented on #3118
You're right it's not. I think we should be able to actually remove the async nature of that require entirely. It used to be required to do that so we wouldn't load grpc libraries before grpc instrumentation, but we now load instrumentation a different way that allows us to load it before setting up the SDK.

[2022-08-10 14:49] dyladan commented on #3151
If the required labels are known by the user creating the metric then maybe this can be accomplished with generics on `create{metricType}` methods.

[2022-08-10 14:51] dyladan commented on #3150
There is also a difference between "prefer lowercase keys" and "ignore non-lowercase keys". It could be interpreted to prefer the lowercase version if there is a collision.

[2022-08-11 08:55] AWare commented on #3146
As an alternative, can I suggest that instrumentation be a pre-runtime step? Having all the instrumentations patched into node_modules where possible would really help with reliability- especially where bundlers are used.

[2022-08-11 09:52] pichlermarc opened #3158 "Review all metrics packages and remove unwanted exports"
With the GA release of metrics coming up, we should review all exports of the metrics packages, and make sure that we do not export anything we do not want to support.

[2022-08-11 09:52] pichlermarc commented on #3158
I'll self assign and work on this :slightly_smiling_face:

[2022-08-11 20:24] mhassan1 commented on #3029
@Rauno56 Did you ever have a chance to look into this? I created a draft PR, and I'm looking for feedback: https://github.com/open-telemetry/opentelemetry-js/pull/3161.

[2022-08-12 09:00] pichlermarc opened #3165 "Update outdated prometheus example"
### Is your feature request related to a problem?

The Prometheus example in `experimental/examples/prometheus` is a bit outdated at the moment, with `@opentelemetry/sdk-metrics-base` at `0.28.0`. Further #3162 renames `@opentelemetry/sdk-metrics-base` to `@opentelemetry/sdk-metrics` locally for `0.31.0`, and for releases `0.32.0` and up.

### Describe the solution you'd like

Update the Prometheu

[2022-08-15 03:57] aikoven commented on #2951
I solved it in [nice-grpc-opentelemetry](https://github.com/deeplay-io/nice-grpc/blob/nice-grpc-opentelemetry%400.1.1/packages/nice-grpc-opentelemetry/src/utils/bindAsyncGenerator.ts) binding each method of an async iterator:

[code]

[2022-08-15 15:54] dyladan commented on #2951
We should probably document this somewhere

[2022-08-15 15:55] dyladan commented on #2000
we should probably parse using `URL` and reserialize without username/password

[2022-08-15 16:09] yordis commented on #2218
keep

[2022-08-15 17:13] schickling opened #3168 "OTLP exporters shouldn't use `window` as it won't work in web workers"
### What happened?

## Steps to Reproduce

Try to use `@opentelemetry/exporter-trace-otlp-http` in a web worker.

## Expected Result

Otel should work in a web worker

## Actual Result

An error is thrown with `window is not defined`

![image](https://user-images.githubusercontent.com/1567498/184682815-7018442c-7e23-41df-a827-fff893af0c30.png)

## Additional Details

### OpenTelemetry Setup Code

[2022-08-15 17:15] legendecas commented on #3168
We should run OTLP exporter tests in worker environments just like we do in packages like [sdk-trace-base](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-trace-base/package.json#L22)

[2022-08-15 20:59] hectorhdzg commented on #3165
Related to #3110

[2022-08-16 02:00] #3137 closed

[2022-08-16 04:39] RichiCoder1 commented on #2293
Worth noting that a second attempt at promise hooks might be landing soon: https://github.com/denoland/deno/pull/15475

[2022-08-16 13:38] crisguitar opened #3171 "ZoneContextManager breaks sveltekit lifecycle functions normal operation"
### What happened?

## Steps to Reproduce

- Import `ZoneContextManager` in any sveltekit app
- Navigate to the page that uses the `afterNavigate` lifecycle function

## Expected Result

Code inside `afterNavigate` is called normally

## Actual Result

Code inside `afterNavigate` is not called; however, if you navigate away from the page the callback is called. This suggests the callback was regis

[2022-08-16 15:29] nvthuong1996 opened #3172 "[HttpInstrumentation] allow pass option to use '${method} ${path}' for operationName"
if use syntax : '${method} ${pathname}' for operationName, it will be easier to search and tracing

https://github.com/open-telemetry/opentelemetry-js/blob/6807deff5a966aadbf5404f3e32564b07205d611/experimental/packages/opentelemetry-instrumentation-http/src/http.ts#L421

[2022-08-16 17:02] Aneurysm9 opened #3173 "Unable to manually create spans in Lambda function on Node v14.x"
### What happened?

## Steps to Reproduce

* Create a Lambda function that uses the OTel Lambda layer and Node v14 runtime
* Within that function use the API to add attributes to the span created by the autoinstrumentation
* Use the API to create and end a new span

## Expected Result

* Additional attributes are present on the autoinstrumentation span
* A new span is created and exported

## Actu

[2022-08-16 17:04] Aneurysm9 commented on #3173
## Relevant log output

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2022-08-16 18:00] vmarchaud commented on #3171
Did you try to reproduce by only using zone.js ? Seems likely that the problem comes from zonejs instead of our implementation

[2022-08-16 22:02] svetlanabrennan commented on #669
Shouldn't this be closed since PR [#670](https://github.com/open-telemetry/opentelemetry-js/pull/670)  fixed the issue?

[2022-08-16 22:23] svetlanabrennan commented on #1582
Doesn't look like this is an issue anymore so issue can be closed. The [JaegerExporter is now referencing the correct environment variable](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-exporter-jaeger/src/jaeger.ts#L55) as specified in the spec.

[2022-08-17 03:19] #3125 closed

[2022-08-17 03:40] #3107 closed

[2022-08-17 08:39] crisguitar commented on #3171
@vmarchaud I haven't. I'll give it a try and report back.

[2022-08-17 12:20] crisguitar commented on #3171
@vmarchaud I just confirmed that the issue comes from `zone.js`. Setting `__Zone_disable_ZoneAwarePromise` to `true` makes the issue go away. How does that setting affect opentelemetry? I am not familiar with either library so I am not sure about the consequences.

[2022-08-17 16:14] svetlanabrennan commented on #568
I think this issue should be opened in the spec since it's not a JS specific feature request.

[2022-08-17 16:38] MSNev commented on #2218
The sandbox is still in the process of getting setup -- it's realistically still a few months away before we will be starting to look to how we address this.

[2022-08-17 16:41] dyladan commented on #3171
For now I'm going to label this as P2 but it may end up being a bug in zone.js and not here. @vmarchaud since you already started looking into this can you take this issue?

[2022-08-17 16:54] MSNev commented on #3168
Looking at the code for how the exporter base "uses" the `window` to listen for the `unload` event (it should be listening for more and it probably should not be just shutting down as there may be additional events (spans) that are created as part of shutdown that still need to be sent).

Having said that though, as mentioned in the SIG, because of the way this is currently coded this would be a f

[2022-08-17 17:03] vmarchaud commented on #3171
I answered because someone on slack asked a similar question few days ago (https://cloud-native.slack.com/archives/C01NL1GRPQR/p1660673184710719). I honestly don't think this is solvable for us as the problem is with upstream dependencies. The best we can do is document when zonejs break so user know what to expect i believe

[2022-08-17 17:10] MSNev opened #3174 "[Discussion] Deprecating the addNetworkSpanEvents as this is not the correct approach for "events""
Looking through the code the helper functions (which appear to only be getting used by the experiential instrumentation) to "add" resource details as individual events on a span is the wrong approach.

Looking over the history it appears that these were added to support the experimental http/fetch instrumentations only and at the time this was the only way to `hack` the details to send them off.

[2022-08-17 19:28] jdmarshall commented on #3140
I had some trouble reproducing the exact problem but I have found some clues. The biggest is npm bugs, but the README also triggers some of them.  It seems like opentelemetry is fighting with itself on dependency versions, such that an incremental install has a far worse module footprint, which largely comes down to the installation instructions being written for maximum legibility but also trigge

[2022-08-17 20:11] dyladan commented on #3140
Thanks for doing the research here. There's not much we can do about npm installing the dev dependencies, but if you're worried about deployment size, then installing individual instrumentations instead of the auto-instrumentations-node package can help a lot as well since it is likely installing a lot of instrumentations you're not using. I would guess that is the vast majority of the cause of th

[2022-08-17 22:48] MSNev commented on #3174
The "more" correct approach that the `addSpanNetworkEvents` SHOULD be doing is creating a SINGLE `event` and having the available values as `Attributes`.

[2022-08-18 15:55] t2t2 commented on #3174
Isn't it a bit premature to claim spans with events to hold timing information over SpanEvents when there's 0 specification changes or OTEPs actually saying that yes it should be done this way?

[2022-08-18 19:48] #669 closed

[2022-08-19 04:26] hectorhdzg opened #3181 "Metrics View to ignore specific Instruments"
According to the [spec](https://opentelemetry.io/docs/reference/specification/metrics/sdk/#view), Views should allow users to customize specific Instruments or ignore specific ones, I cannot find any way to ignore Instruments using current implementation, am I missing something?, is there any way to achieve this right now or any plan to support it in the future?

[2022-08-19 06:05] legendecas commented on #3181
You can drop events from the metric instrument by:

[code]

[2022-08-19 16:18] hectorhdzg commented on #3181
Thank you @legendecas exactly what I was looking for.

[2022-08-19 16:18] #3181 closed

[2022-08-19 16:30] scheler commented on #2937
@dyladan can you please clarify what you meant by `we use scope for the OTLP`? We still see `instrumentationLibrary` in the OTLP exported by the browser.

[2022-08-19 16:49] scheler commented on #2937
@dyladan never mind, we were using an older version of otlp exporter.

[2022-08-19 22:18] jmacd opened #3183 "Handle partial success responses from OTLP export services"
### Problem Statement

Following the [specification change to add partial success responses](https://github.com/open-telemetry/opentelemetry-specification/pull/2696), each OTel SDK is encouraged to handle the resulting error message string in an appropriate way, considering existing norms. This requires OTLP v0.19.

### Proposed Solution

For each of the `Export*ServiceRequest` methods used by OTL

[2022-08-20 03:26] Luckz commented on #2873
I believe these environment variables are (also) useful for the inverse: to have no effect when not provided, and to disable the traces or metrics ( or future logs) exporter that's configured in code.

[code]

&

OTEL_METRICS_EXPORTER=none

[2022-08-20 07:42] vmarchaud commented on #3174
I agree that we should not decaclare them stable (althrough i don't think there is plan to declare any instrumentations stable yet ?), specially with the RUM SIG  that will most likely specificied a bunch of things that will change data collections (but you know more than me on this part).
I do wonder if that's worth to change right now before more standardization ?

[2022-08-20 07:45] vmarchaud commented on #3172
I think you should be able to use the `[requestHook](https://github.com/open-telemetry/opentelemetry-js/blob/6807deff5a966aadbf5404f3e32564b07205d611/experimental/packages/opentelemetry-instrumentation-http/src/http.ts#L437)` to rename it ?

[2022-08-20 17:17] scheler commented on #3174
I support this proposal. The events can use [PerformanceEntry.entryType](https://developer.mozilla.org/en-US/docs/Web/API/PerformanceEntry/entryType) as their `name`.

The current array structure (of events) makes it hard to look entries up by name on the backend and requires converting to a map.

[2022-08-20 17:26] scheler opened #3184 "Moving browser instrumentation packages to opentelemetry-js/experimental"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Are there any concerns moving the following packages/plugins in contrib repo into `opentelemetry-js/experimental/packages`  since they are not for 3rd party libraries but for core browser functionality.

- plugins/web/opentelemetry-instrumentation-documen

[2022-08-20 18:16] vmarchaud commented on #3184
I know there was some discussion around user intereaction instrumentation about how to map to spans (https://github.com/open-telemetry/opentelemetry-js-contrib/pull/980, https://github.com/open-telemetry/opentelemetry-js-contrib/pull/743). Honestly i feel its much better to keep them contrib until the RUM SIG has stabilized specification around the data model since it will be much easier to iterat

[2022-08-20 18:23] scheler opened #3185 "Marking browser instrumentation packages stable"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

What work is needed to consider these instrumentations stable?

1. opentelemetry-instrumentation
2. opentelemetry-instrumentation-fetch
3. opentelemetry-instrumentation-http
4. opentelemetry-instrumentation-document-load (from contrib repo)

Few things I

[2022-08-20 18:31] scheler commented on #3184
These are not stable for sure. The ask is only to move them into experimental folder since they instrumentations are not for 3rd party libraries.

[2022-08-20 18:37] scheler commented on #3174
Just to be clear, the ask here is to use a SINGLE `Span.Event` instead of multiple, and not use a standalone Event.

[2022-08-20 19:01] vmarchaud commented on #3185
The main problem for me would be to consider `opentelemetry-instrumentation` stable which would means this API is stable for people to build their own instrumentations with, which for me is far from the case for the following reasons:
- instrumentation for node doesn't work with esm yet
- instrumentations depend on the not-GA metrics api
- no instrumentation yet use the metrics signal (even though

[2022-08-20 19:03] vmarchaud commented on #3185
Something i forgot but there also the meaning of an instrumentation stability, does that means the telemetry generated is stable and will not change ? Which sound complex to support right now imo

[2022-08-20 19:05] vmarchaud commented on #3184
There are packages for non-3rd party libraries in contrib as well (ex https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/packages/opentelemetry-host-metrics, https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/propagators/opentelemetry-propagator-ot-trace or https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/instrumentation-fs).

I

[2022-08-20 19:14] scheler commented on #3184
This is not a strong ask, just something I found confusing as the fetch and xhr instrumentations are in the core repo.

[2022-08-20 21:46] scheler commented on #3185
The ask is to mark the instrumentations stable only from a telemetry perspective, as defined [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/telemetry-stability.md).   Can you provide some info on why this sounds complex?

Do any of the items you listed above affect telemetry stability? I wonder if there is a way to mark/indicate the status of an instru

[2022-08-21 07:08] vmarchaud commented on #3185
I explained why `opentelemetry-instrumentation` can't become stable IMO, i don't have anything against document-load/xhr/fetch  in themselves apart from the fact that it may be better to wait for the RUM SIG to finish its specification because i believe those instrumentations fall under their scope

[2022-08-21 17:32] scheler commented on #3185
Yes, I will take up the spec for document-load/xhr/fetch in RUM SIG. Thanks for the other info.

[2022-08-21 18:19] Luckz commented on #623
Would argue merely having "host metrics" does not "complete" anything like "default recommended (application) metrics".
Obviously goes for #955 too, which for example specifically mentions "http requests" and "like Spring Boot Actuator". #1330 also asks for "http request count".

[2022-08-22 06:41] #2942 closed

[2022-08-22 06:42] #2041 closed

[2022-08-22 07:48] legendecas commented on #623
@Luckz HTTP instrumentation metrics are being worked in PR https://github.com/open-telemetry/opentelemetry-js/pull/3149.

[2022-08-22 08:16] #3172 closed

[2022-08-22 08:29] t2t2 commented on #3174
Ah yeah, using span.event attributes does have a slight issue that zipkin exporter (which is _currently_ more popular for exporting data from web apps) isn't aware of translating otel event attributes:

https://github.com/open-telemetry/opentelemetry-js/blob/34c5bdba67f2029c4fb046307d064c2e96ae8b5a/packages/opentelemetry-exporter-zipkin/src/transform.ts#L98

[Spec does include a suggested conversi

[2022-08-22 08:45] #1582 closed

[2022-08-22 09:44] nvthuong1996 commented on #3172
thank you

[2022-08-22 11:33] Luckz commented on #623
Yes, I tried to run commit [fdd6f58](https://github.com/open-telemetry/opentelemetry-js/pull/3149/commits/fdd6f583d37db8412c55c2e85208fa6c07100239) too but didn't manage to make it work.

However, that is HTTP as in Node's `http` package for HTTP/HTTPS, and thus also not *necessarily* what those issues were asking for.

[2022-08-23 10:01] legendecas commented on #623
@Luckz I'm not sure I fully understand your point clearly. We are working towards adding specified metric signals in the instrumentation packages. Requesting new metric signals is always welcome.

I don't think we are going to include these signals in the @opentelemetry/sdk-metrics, same as not generating trace signals in @opentelemetry/sdk-traces-base. However, we are bundling several commonly us

[2022-08-24 03:13] legendecas opened #3193 "Configure OTLP metrics exporter with environment variables"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk_exporters/otlp.md

OTLP exporter spec defines that the OTLP exporter should be automatically configured with a PeriodicMetricReader when using `OTEL_METRICS_EXPORTER`. Their aggregation and temporality preferences should also be configured with `OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE` and `

[2022-08-24 11:23] umutcakan opened #3196 "[Question] Way to export host metrics"
- [ ] This only affects the JavaScript OpenTelemetry library
- [X] This may affect other libraries, but I would like to get opinions here first

I was looking a way to export resource metrics to OTLP endpoint from instrumented javascript backend. I found this link: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/hostmetricsreceiver. But if I am not mistaking th

[2022-08-24 15:27] ianhattendorf commented on #2833
This would be very useful for us as an Electron app. E.g. user is on a laptop without connectivity. Or the app crashes before the batch sends.

Allowing users to control storage (possibly via a callback?) could allow them to choose between filesystem/localstorage/etc.

[2022-08-24 16:25] dyladan commented on #1648
Closing due to lack of response from author

[2022-08-24 16:25] #1648 closed

[2022-08-24 16:27] #1535 closed

[2022-08-24 16:31] #1315 closed

[2022-08-25 07:05] scheler commented on #2833
Could this help with https://github.com/open-telemetry/opentelemetry-js/issues/2205 too for the browser?

[2022-08-25 10:12] t2t2 opened #3199 "Handling of cross-origin request network timings"
### What happened?

## Steps to Reproduce

When a cross-origin request is done (eg. `example.com` -> `resources.vendor.com`, but also `example.com` -> `static.example.com` or even `localhost:3000`(a webpack server) -> `localhost:8080` (API server)), the PerformanceResourceTiming generated for these doesn't include most of the values by default

[MDN](https://developer.mozilla.org/en-US/docs/Web/AP

[2022-08-25 11:13] JavonneM commented on #1556
Had a similar issue except none of the services showed up.
Fixed by adding
[code]
in my apps service and specifying the jaeger endpoint with the following
[code]
This also worked for getting Prometheus targets to show that they are `UP`

Compose:
[code]

[2022-08-26 02:19] legendecas commented on #3196
There is an instrumentation package https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/packages/opentelemetry-host-metrics to collect host metrics, like memory and CPU usage. Does that meet your needs?

[2022-08-26 05:29] scheler commented on #3199
This looks helpful  i support this change. Is there any process currently for introducing breaking changes? For example, this change could be based on an InstrumentationConfig option and you could give notice to folks via changeling/ release notes of the npm package.

[2022-08-26 08:19] legendecas commented on #3199
I don't think there is any, as long as we have a good reason to make the breaking change. I believe if the current 0-based events are meaningless in CORS requests, it should be ok for us to not generate these events -- they are not working as expected anyways.

[2022-08-26 12:06] eulisesquidel commented on #3173
Hello people,
I am interested in this topic.
My team is trying to trace from AWS Lambda using AWS Distro for OpenTelemetry so far with no success.
We arrive at the same error in the situation.

https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/13251

[2022-08-26 13:00] zxcian opened #3205 "Custom Sampler with TraceIdRatioBasedSampler per spanname"
- [ /] This only affects the JavaScript OpenTelemetry library
- [ /] This may affect other libraries, but I would like to get opinions here first

Is there anyway that you could give certain sampling rate per span name? I was hoping to find something similar with what  [sentry](https://github.com/open-telemetry/opentelemetry-specification/issues/new)

I currently have a custom sampler which exclud

[2022-08-26 13:28] v-psunkara opened #3206 "Open Telemetry JavaScript SDK RoadMap Plan & Support Details queries"
Hi All, Please find the below queries we have

1. We see that Javascript SDK is still in Development & Road Map Phase. So, we would like to know the road map plan for Metrics, Logs, and Traces for the Stable Version.
2. Our Code is in TypeScript. Is it possible to use JavaScript Open Telemetry SDK for integration to capture Metrics, Logs, and Traces
3. What is the support provided for JavaScript O

[2022-08-26 18:50] Breadkenty commented on #3173
I'm having the same issue here

[2022-08-27 09:10] JamesHearts commented on #3045
Just wanted to update. What ended up fixing issues for me was making sure I wasn't using deprecated packages and ensuring that versions were compatible. Essentially my problem started off being that I was unable to view nested spans because my headers were not being propagated. What I did was test locally by manually making requests to my project with the b3 headers attached and ensuring they were

[2022-08-27 18:39] jasonwbrown23 commented on #3173
Same issue. runtime is nodejs 14.`undefined DEBUG @opentelemetry/api: Registered a global for diag v1.1.0.`

[2022-08-27 23:39] pkarakal commented on #1252
Has anyone solved this? Otel metrics lib is hitting stable soon and it would be great if it could support this as many production nodejs applications are deployed in cluster mode (eg with pm2).

[2022-08-29 07:26] legendecas commented on #3205
You can create your own TraceIdRatioBasedSampler in your sampler and delegate the `shouldSample` request to that sampler if needed. See also [`ParentBasedSampler`](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-trace-base/src/sampler/ParentBasedSampler.ts), which delegates all `shouldSample` requests to the designated sampler if the sampling decision is not

[2022-08-29 08:07] pichlermarc commented on #3165
It's yours @avzis :slightly_smiling_face:
If you have any questions, feel free to reach out!

[2022-08-29 14:54] svrnm opened #3210 "Add a resourceDetectors configuration to the SDK"
### Is your feature request related to a problem? Please describe.

Since we had an internal need for that, I wanted to write down a small sample where I use the NodeSDK with some additional resource detectors (docker, aws). Unfortunately I can not add them without a lot of additional code.

Eventually I wanted to add this to the JS docs over at opentelemetry.io so having something user-friendly i

[2022-08-29 14:57] osherv commented on #3210
That sounds like a handy feature, and I'll be happy to implement that. Assign to me if the issue gets approved :).

[2022-08-29 16:52] legendecas commented on #3210
I'd agree it is a good addition. Assigned to @osherv, thank you for standing up for this.

[2022-08-29 16:54] legendecas commented on #3011
@dyladan are you still working on this? @odidev are you still interested in working on this? If so maybe @dyladan can assign this to @odidev instead.

[2022-08-29 20:26] dyladan commented on #3011
Sure I assigned them. The problem is that github actions doesn't support ARM so you can only run the tests in a QEMU emulation environment which I believe will be slow. I also looked at his branch and he converted all tests and actions to arm, not just adding a single unit test so I think that could be contributing to the issues.

[2022-08-30 08:38] pichlermarc opened #3211 "TracerProvider should return no-op meter when shutdown"
## Description
According to the spec a TracerProvider should return no-op meter when shutdown.

## Steps to Reproduce

Test for `BasicTracerProvider.test.ts`

[code]

## Additional Details

Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#shutdown
Link to `getTracer()` code: https://github.com/open-telemetry/opentelemetry-js/blob/3db10568be43

[2022-08-30 11:45] pichlermarc opened #3213 "Make `aggregationTemporalitySelector` an optional property"
We should make `aggregationTemporalitySelector` an optional property on the `PushMetricExporter` interface, and add logic to the `MetricReader` to default to AggregationTemproality.CUMULATIVE for all instruments if `aggregationTemporalitySelector is not there.

This would reduce duplicated code in third party exporters, while still allowing the exporter to override the default.

[2022-08-30 11:46] pichlermarc commented on #3213
See also: https://github.com/open-telemetry/opentelemetry-js/pull/3153#discussion_r957431579

[2022-08-30 11:48] pichlermarc commented on #3213
Requires #3153 to be merged first.

[2022-08-30 13:20] pichlermarc opened #3217 "Finalize Metrics API"
We need to decide if we want to integrate the `@opentelemetry/api-metrics` package into `@opentelemetry/api` and/or if we want to move it to https://github.com/open-telemetry/opentelemetry-js-api. We also need to consider bundle size.

If we decide to move, we need to integrate the API with the existing code and update documentation.

[2022-08-30 15:46] manvydasu opened #3218 "`PrometheusExporter` lacks error handling and can cause whole application to crash if port is already in use"
### What happened?

## Steps to Reproduce

Follow steps in the readme example, but have the port already in use:

[code]

## Expected Result

There is a way to listen onError events for started server in order to catch and handle such exceptions

## Actual Result

No way to handle such exception currently.

## Additional Details

### OpenTelemetry Setup Code

[code]

### package.json

_No response

[2022-08-31 13:02] dyladan commented on #3193
I saw you added this to the metrics GA milestone. Do you believe this is blocking the metrics SDK?

[2022-08-31 13:16] legendecas commented on #3193
No, I believe it's not blocking but rather good to have.

[2022-08-31 16:34] #568 closed

[2022-08-31 19:35] dyladan commented on #3217
In the SIG we discussed leaving the metrics API as a separate package in order to reduce the required bundle size for users who only want to use trace or only want to use metrics. In the future we may consider splitting the existing API package into trace/context/propagation specific APIs and having the main API package simply re-export them.

[2022-08-31 19:37] dyladan opened #3221 "Bring API package back into main repo"
During the SIG meeting today we discussed the idea of bringing the API back into the main repo. Originally we split it out in order to ensure we didn't accidentally make breaking changes and to promote stability and intentional changes. Since then, the pain of updating the API to add new methods has proven to be worse than the value we gain by having the API in a separate repository. Creating this

[2022-09-01 08:41] Flarna commented on #3221
Is it planned to include API into the lerna project and release together with SDK/experimental or is it just moved to have it in the same repo but keep release independent of each other?

[2022-09-01 08:56] #3165 closed

[2022-09-01 12:56] pichlermarc commented on #3213
I can work on this. I'll self assign. :slightly_smiling_face:

[2022-09-02 01:10] scheler opened #3222 "Scope attribute for browser page url in all spans and events emitted from browser"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

1. For the xml-http-request and fetch spans, we need an attribute to indicate the URL of the webpage initiating those calls. Since there can be many of such calls from a single webpage it makes sense to include this URL only once. In the absence of [Ephem

[2022-09-02 02:46] #3210 closed

[2022-09-02 03:00] legendecas commented on #3221
AFAICT, we are releasing experimental packages separately from the stable packages, with different versions. Though, the experimental packages are typically released simultaneously with the stable packages.

[2022-09-02 08:42] Borales opened #3224 "`metricExporter` and `metricInterval` are missing in the NodeSDK 0.32"
### What happened?

## Steps to Reproduce
In the latest version of [opentelemetry-sdk-node](https://github.com/open-telemetry/opentelemetry-js/tree/main/experimental/packages/opentelemetry-sdk-node) the README describes the available configuration options, including `metricExporter` and `metricInterval`, but when you try to specify them - TSC throws errors.

## Expected Result
No TS compiler error

[2022-09-02 09:13] legendecas commented on #3224
I believe the document needs to be updated. You should be able to create the new NodeSDK with the following setups:

[code]

Also, note that `metricInterval` is meaningless to the PrometheusExporter since it is based on the Pull model. And the option `metricInterval` has been removed in the latest SDK. People should refer to [PeriodicExportingMetricReader](https://github.com/open-telemetry/opentel

[2022-09-02 12:18] umutcakan commented on #3196
I will take a look at that, looks like it is what I need! Thanks for sharing! I can close the issue now, can reopen when it is necessary.

[2022-09-02 12:18] #3196 closed

[2022-09-02 13:28] jimethn commented on #1089
Would be nice to have react native support. We are looking at instrumenting our web and mobile, and it's looking like we can't use opentelemetry because of lack of mobile support.

[2022-09-02 13:42] dyladan commented on #1089
You should be able to use OTel java for your mobile application, you will just not be able to auto-instrument the UI layer

[2022-09-02 14:56] pichlermarc commented on #3224
I'll update the docs :slightly_smiling_face:

[2022-09-02 14:59] jimethn commented on #1089
@dyladan The UI is the main problem, but thanks for the pointer

[2022-09-02 15:55] vmarchaud commented on #3221
I'm fine with that, i would say that it may be worth to add it into the lerna project but in a dedicated top-level directory to make a difference with sdks components ?