[2019-11-04 20:57] draffensperger commented on #464
Yeah, I think the main challenge here is how to encode the spans in the beacon well, but I think this is a good idea!

[2019-11-04 22:12] mayurkale22 commented on #476
Published in `0.2.0` (https://www.npmjs.com/package/@opentelemetry/plugin-document-load), let us know if you encounter any issues!

[2019-11-04 22:12] #476 closed

[2019-11-05 21:00] xiao-lix opened #485 "Implement direct calling convention of metric instruments"
**Is your feature request related to a problem? Please describe.**
Implement direct calling convention of metric instruments
Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-user.md#direct-metric-calling-convention

[2019-11-05 21:00] xiao-lix commented on #485
I can take this.

[2019-11-05 21:41] mayurkale22 commented on #485
Thanks for reporting this and taking the initiative 💯

[2019-11-05 22:09] markwolff opened #486 "Plugin/gRPC: Incorrect supportedVersion is provided"
Currently the plugin is set to support `^1.23.3`, even though it will work for all of `1.*` (and probably also `0.*`). It should be updated to be `1.*`

[2019-11-05 22:34] mayurkale22 opened #488 "Record startTimestamp for Counter Metric"
Add a `startTimestamp` for `counter/cumulative` metrics, when the aggregation begins.

https://github.com/open-telemetry/opentelemetry-js/blob/df58228192e2338d297e9b3f48e69b1c2b246474/packages/opentelemetry-metrics/src/export/types.ts#L147-L153

[2019-11-05 22:43] markwolff opened #489 "Request(plugin): mysql"
**Is your plugin request related to a problem? Please describe.**
Add tracing to mysql query operations

**Is it applicable for Node or Browser or both**
`Node`

**Do you expect this plugin to be commonly used**
Weekly Downloads: [~500k](npmjs.com/package/mysql) + [~250k](https://www.npmjs.com/package/mysql2)

**What version of plugin are you interested in using**
Node Versions: `>=8`

[2019-11-05 23:16] mayurkale22 commented on #489
`mysql` and `mysql2` ([~243K Weekly Downloads](https://www.npmjs.com/package/mysql2)) have very closely resembling public APIs, does it makes sense to combine them together ?

[2019-11-05 23:42] dyladan commented on #489
This is what dynatrace does. They actually have the same api. It is a stated goal of mysql2 to be API compatible with mysql

[2019-11-05 23:43] dyladan commented on #489
I am somewhat familiar with the api if you're looking for someone to take this

[2019-11-05 23:59] mayurkale22 opened #491 "examples: provide an example for postgres plugin"
Provide a full example on how the OpenTelemetry JS library can be used to instrument postgres and export them to Jaeger/Zipkin backend using OpenTelemetry Jaeger/Zipkin exporter.

https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-postgres/opentelemetry-plugin-pg

[2019-11-05 23:59] markwolff commented on #489
Assigned it to you. Let me know if this is an issue :)

[2019-11-06 02:29] draffensperger opened #492 "Automatic tracing of user interactions in the browser (e.g. clicks)"
In OpenCensus Web, we developed fully automatic tracing of user interactions such as click events. This worked by monkey-patching the Zone.runTask function (and other Zone functions) to intercept events ([code link](https://github.com/census-instrumentation/opencensus-web/blob/68aa988732e03f2de49ebc0213c3b2525aa5b68b/packages/opencensus-web-instrumentation-zone-peer-dep/src/interaction-tracker.ts#

[2019-11-06 02:43] draffensperger opened #493 "Web browser plugin for XHRs"
What would you think about creating a web browser plugin that instruments XHRs?

Here are a couple things we did in OpenCensus Web related to that:

* The XHR tracing was related to the user interaction tracing in the sense that XHR spans would be children of automatic user-interaction traces. This was nice because there would be a root span that would be something like `Save.click` and there woul

[2019-11-06 11:35] obecny commented on #492
sounds great, pls assign this to me

[2019-11-06 11:35] obecny commented on #493
pls assign this to me, thx

[2019-11-06 18:09] mayurkale22 commented on #481
Per SIG, these are the action items:
1. Merge lint and doc jobs.
2. Only install doc and lint dependencies (not a full install) - full install takes > 3mins.
3. Only run coverage on latest node and browser build
4. Investigate current caching mechanisms

[2019-11-06 18:29] lizthegrey commented on #481
Thank you! Your sister SIGs appreciate it.

[2019-11-06 20:39] #456 closed

[2019-11-06 22:03] mayurkale22 opened #498 "Only install doc and lint dependencies (not a full install)"
Original issue #481

Full dependencies installation takes > 3 mins. Consider to install only docs and lint related dependencies for [lint_&_docs](https://github.com/open-telemetry/opentelemetry-js/blob/master/.circleci/config.yml#L82) job. This will make build little more faster.

[2019-11-06 22:12] mayurkale22 opened #499 "Add OpenTelemetry Collector exporter for web"
Add [OpenTelemetry Collector](https://github.com/open-telemetry/opentelemetry-collector) (aka "agent") exporter for Web SDK. The OpenTelemetry Collector can receive traces and metrics from processes instrumented by OpenTelemetry and exports traces and metrics to one or more monitoring/tracing backends. One of the advantage of this approach is that you don't have to write all exporters in native la

[2019-11-06 22:12] mayurkale22 commented on #499
/cc @draffensperger @obecny

[2019-11-06 22:22] mayurkale22 commented on #499
Please suggest name for the package. One suggestion: **opentelemetry-exporter-web-collector**

**opentelemetry-exporter-*** is matching with other exporters name pattern, **web** is to indicate that this is meant for browser and **collector** is the backend name similat to zipkin/jaeger.

[2019-11-06 23:57] mayurkale22 commented on #474
Looks like we have an agreement here, closing this issue now.

[2019-11-06 23:57] #474 closed

[2019-11-07 00:21] obecny commented on #499
`opentelemetry-exporter-web-collector` sounds most reasonable for me

[2019-11-07 00:50] draffensperger commented on #499
I agree with `opentelemetry-exporter-web-collector`, though if it ends up that there can be a lot of shared code between Node and web here then having a single `opentelemetry-exporter-collector` might make sense - but let's start with two separate packages.

[2019-11-07 00:57] mayurkale22 opened #502 "Add OpenTelemetry Collector exporter for Node.js"
Similar to #499, but for Node.js

Most of the code is shared between Node and web, I think we should wait #499 to finish before doing this or vice a versa.

Reference code: https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-exporter-ocagent

[2019-11-07 00:58] #486 closed

[2019-11-07 12:15] dyladan opened #504 "Speed up dependency installation with hoist or yarn workspaces"
Dependency installation could be drastically sped up with the --hoist option of lerna bootstrap. This could further improve the speed of the circle ci pipeline.

See here for more details: https://github.com/lerna/lerna/blob/master/doc/hoist.md

I'm happy to make a PR if people want this

[2019-11-07 17:23] obecny commented on #502
@mayurkale22 it may appears that we can handle that by using `platform` folder approach - I will see once the web version will be ready

[2019-11-07 17:54] mayurkale22 commented on #504
+1 but little worried about https://github.com/lerna/lerna/blob/master/doc/hoist.md#forgetting-dependencies. It is very easy to fall under this trap. WDYT?

[2019-11-07 18:13] #441 closed

[2019-11-07 19:15] mayurkale22 opened #506 "Codecov only shows browser report"
https://codecov.io/gh/open-telemetry/opentelemetry-js/tree/master/packages

Also, opentelemetry-web's coverage is **26.34%**.

[2019-11-08 15:05] dyladan commented on #504
There may be a tool we can run in ci or even precommit to check for dependencies.

[2019-11-08 16:01] dyladan commented on #498
I'll do this

[2019-11-08 19:36] dyladan commented on #504
Hoist is not supported with yarn. The error message printed when you try to boostrap with `--hoist` suggests yarn workspaces as an alternative.

[2019-11-08 21:08] #457 closed

[2019-11-08 22:07] mayurkale22 commented on #406
@dyladan Can we now via #407 and we maintain list of supported plugins [here](https://github.com/open-telemetry/opentelemetry-js#plugins).

[2019-11-08 22:23] dyladan commented on #406
Yea we can probably close this and revisit it if someone asks for more detailed roadmap

[2019-11-08 22:23] #406 closed

[2019-11-09 16:23] dyladan opened #513 "Fix circleci caching paths"
**Is your feature request related to a problem? Please describe.**

Circle CI caching paths include a `*` glob. According to [the docs](https://circleci.com/docs/2.0/caching/#basic-example-of-dependency-caching), globbing is not allowed in the paths array.

**Describe the solution you'd like**

Each package node module directory should be manually added to the globs array.

Please assign to me. PR

[2019-11-09 20:10] SergeyKanzhelev commented on #515
Based on description it looks like a JS library issue, not a schema problem.  So I've transferred this issue

[2019-11-09 22:58] dyladan commented on #440
Can someone assign this to me? I'll make a PR based on the tag triggered version Monday.

[2019-11-09 23:54] mayurkale22 commented on #440
Done.

[2019-11-11 15:42] dyladan commented on #513
While I'm working on this, should we remove yarn.lock files from the cache? I added them because there was a `packages/*/yarn.lock` line before, but it may be a good idea to remove them so that the ci builds always get the latest version of node modules permissible by the package.json

[2019-11-11 16:36] vmarchaud commented on #513
`yarn.lock` files are inside the `.gitignore` so we shouldn't have any of them inside the repo. However i would argue that would be better to use them since the CI might install different deps version than we have in local.

[2019-11-11 16:38] dyladan commented on #513
They are cached by the circle ci caching layer, so they are created and persisted between multiple test runs until the cache breaks (by changing a package.json file).

[2019-11-11 16:40] vmarchaud commented on #513
Oh got it, for me which should either use them at every step (so commit them inside the repo) or not using them at all

[2019-11-11 16:41] dyladan commented on #513
I would argue for not using them at all. We want to make sure we get the versions of dependencies that our end users will get. It is up to them to lock their dependencies.

[2019-11-11 16:53] #435 closed

[2019-11-11 17:25] draffensperger commented on #515
For Node, the content security policy I don't think would apply, so this is really only relevant to browser-specific code.

But I don't think we should be using protos directly in any code that gets shipped to the browser. What the OTel Collector exporter should do instead is to just essentially vendor the TS types for the JSON that will get sent to the collector (that corresponds via `grpc-gatewa

[2019-11-11 18:06] #443 closed

[2019-11-11 18:52] mayurkale22 opened #518 "Add usage instruction for postgres (pg) plugin"
https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-postgres/opentelemetry-plugin-pg#usage

[2019-11-11 18:56] obecny commented on #422
After investigation here what I found out during working on new `@opentelemetry/exporter-web-collector` (https://github.com/open-telemetry/opentelemetry-js/issues/499)
If I understand all correctly then so far there is no dedicated format for `opentelemetry-collector` which was my initial thought.
So the `opentelemetry-collector` supports these format: `Jaeger, OpenCensus, Prometheus and Zipkin`.

[2019-11-11 19:01] obecny commented on #515
From what I see now the `opentelemetry-js' is not using any package in **browser** that depends on `google-protobuf`. The only package that uses it is `opentelemetry-plugin-grpc` so far. But this package is the **node.js** package only. I'm not sure about electron apps - maybe this is something that should be checked separately although I think it should not cause any issues.

[2019-11-11 19:24] mayurkale22 commented on #422
AFAIK `opentelemetry-collector` expects data in the [OpenCensus proto format](https://github.com/open-telemetry/opentelemetry-proto/tree/master/opentelemetry/proto/agent), that's how it's been done in OpenCensus [Node](https://github.com/census-instrumentation/opencensus-node/blob/ef5712fd3b279b0e80494322231232047b06f9e6/packages/opencensus-exporter-ocagent/src/types/opencensus.ts) and [Web](https

[2019-11-11 19:49] markwolff opened #519 "[Plugin][Request]: Redis plugin"
**Is your plugin request related to a problem? Please describe.**

Redis patching for client queries and connections.

**Is it applicable for Node or Browser or both**
Node

**Do you expect this plugin to be commonly used**
Weekly Downloads: 1.3M (https://www.npmjs.com/package/redis)

**What version of plugin are you interested in using**
Versions: 2.6+

[2019-11-11 20:30] obecny commented on #422
Hmm, I thought this is just for internal, and not exposed yet from `opentelemetry-collector`
So should the request looks like
[ExportTraceServiceRequest](https://github.com/census-instrumentation/opencensus-web/blob/master/packages/opencensus-web-exporter-ocagent/src/api-types.ts#L20)
where spans are are `ReadableSpan` converted into
https://github.com/census-instrumentation/opencensus-web/blob/ma

[2019-11-11 22:05] mayurkale22 commented on #248
Closing via #483. Thanks to @dyladan and @danielkhan, great work!

[2019-11-11 22:05] #248 closed

[2019-11-11 22:33] mayurkale22 commented on #422
Yes, right and as mentioned earlier `opentelemetry-collector` proto might change in the future, but won't be drastic.

[2019-11-12 01:17] markwolff opened #522 "[Refactor][Plugins] Move common attributes to Core/Base"
From https://github.com/open-telemetry/opentelemetry-js/pull/503#discussion_r344921569
Attributes which are used in all/most plugins should be shared via some enum in core or base

[2019-11-12 02:25] mayurkale22 commented on #144
Closing, already implemented. Feel free to reopen the issue if you disagree.

[2019-11-12 02:25] #144 closed

[2019-11-12 02:25] mayurkale22 commented on #194
Agreed.

[2019-11-12 02:25] #194 closed

[2019-11-12 02:26] mayurkale22 commented on #394
Is this still relevant?

[2019-11-12 02:27] mayurkale22 commented on #498
Closed via #508

[2019-11-12 02:27] #498 closed

[2019-11-12 13:57] draffensperger commented on #422
One other helpful link is the [Swagger/Open API definitions](https://github.com/census-instrumentation/opencensus-proto/blob/master/gen-openapi/opencensus/proto/agent/trace/v1/trace_service.swagger.json) that correspond to the OpenCensus agent proto format. These were automatically generated by a `grpc-gateway` protoc compiler plugin.

[2019-11-12 16:11] Flarna opened #523 "Add support for graceful shutdown of processor/exporter"
**Is your feature request related to a problem? Please describe.**
Implementing `shutdown()` synchronous is mostly impossible in javascript. The current API doesn't allow to shutdown a `SpanProcessor` or `SpanExporter` and ensure that all spans are sent out. Therefore spans may get lost.

**Describe the solution you'd like**
Add an optional callback as argument to `shutdown()` which signals that a

[2019-11-12 17:08] dyladan commented on #523
Looks like the spec allows for this as long as the timeout is configurable:

https://github.com/open-telemetry/opentelemetry-specification/blob/27b3a18647ee451263c74cfada39340a100da62f/specification/sdk-tracing.md#shutdown

https://github.com/open-telemetry/opentelemetry-specification/blob/a131ae1ccabee8cc8f3b8cf109b81be378006fea/specification/performance.md#shutdown-and-explicit-flushing-could-bl

[2019-11-12 18:11] markwolff opened #524 "[Examples][Plugin]: Add redis plugin example"
From https://github.com/open-telemetry/opentelemetry-js/pull/503#issuecomment-552634414
Follows #503
Implement an example showing usage of redis plugin in the `examples/` folder

[2019-11-12 18:24] Flarna commented on #523
My understanding is that a configureable timeout is only needed for blocking operations but this is anyway not applicable.
But it's for sure more convenient for users to just specify a timeout instead of starting their own timer.

[2019-11-12 19:35] dyladan commented on #523
@Flarna it depends how you define "blocking" I suppose. Not necessarily blocking the thread but maybe blocking the shutdown process? After a certain point we have to give up and let the shutdown process continue.

[2019-11-12 21:40] #485 closed

[2019-11-12 21:56] mayurkale22 commented on #481
Done in #495

Done in #498

Done in #496

Done in #514

Also, we have removed duplicate compile step(#510) and redundant test from types package (#511).

Feel free to reopen the issue if there's something that all of these doesn't solve.

[2019-11-12 21:56] #481 closed

[2019-11-12 21:58] lizthegrey commented on #481
Thanks a million!

[2019-11-12 22:18] xiao-lix commented on #491
I can take this if it's still available. 👀

[2019-11-12 22:31] Flarna commented on #523
Well, a `process.exit()` ends the process clean, in other techs a blocked thread may result in hangs during shutdown.
At least the zipkin exporter has not timeout configuration currently. There may be several http requests open when shutdown is called and they are not aborted.

[2019-11-13 00:31] dyladan commented on #523
Yes but if a script implicitly ends because there is no work left on the callback queue, a `process.on('beforeExit', () => {})` callback could do some async flushing/cleanup.

I am not aware of any way to do the same thing when `process.exit()` is called;

[2019-11-13 14:14] naseemkullah opened #527 "ReferenceError: BatchSpanProcessor is not defined"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
latest

### What version of Node are you using?
latest

### What did you do?
If possible, provide a recipe for reproducing the error.

[code]

### What did you expect to see?
tracing

### What did you see instead?
[code]

### Additional context
Would be nice to have an example with both

[2019-11-13 14:40] Flarna commented on #527
I think there is a sample using jeager/zipkin and autoinstrumentation in folder `examples/http`.

In your sample there is nothing like `const { BatchSpanProcessor } = require('@opentelemetry/tracing');`.

[2019-11-13 17:20] naseemkullah commented on #527
Thanks @Flarna, taking from the example you . mentioned I was able to achieve instrumentation and export to jaeger with the following config.

[code]

However there is an issue when we do not have the http plugin installed, my understanding is that it would fetch the required plugin automatically but it errors out with: `PluginLoader#load: applying patch to http@12.13.0 using @opentelemetry/plugin

[2019-11-13 17:38] mayurkale22 commented on #527
The simpler way is: `const tracer = new NodeTracer();` <= just initialize `NodeTracer`. No need to pass plugins config unless you want to override [default values](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-node/src/config.ts#L29-L42) (like `path`, `ignoreUrls`, `ignoreMethods` etc.).

[2019-11-13 18:48] naseemkullah commented on #527
Thanks @mayurkale22 but this is actually the message i get when initializing the tracer without any plugins config.

![image](https://user-images.githubusercontent.com/24660299/68794070-4550de00-061c-11ea-9a20-563687825333.png)

[2019-11-13 18:49] naseemkullah commented on #527
Shall I open a separate issue?

[2019-11-13 19:06] mayurkale22 commented on #527
That would be ideal and we can close this one.

[2019-11-13 19:11] mayurkale22 commented on #527
The temporary workaround is that you can install the package(`npm install @opentelemetry/plugin-http`) manually in order to work the HTTP instrumentation.

[2019-11-13 20:07] #527 closed

[2019-11-13 23:16] naseemkullah opened #530 "port stackdriver trace exporter from OpenCensus."
Does one exist for js?

[2019-11-13 23:20] naseemkullah opened #531 "Explicit installation of plugins, intended or not?"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
latest

### What version of Node are you using?
latest

### What did you do?
I tried to initialize a tracer with no config, presuming it would load the required http plugin, however it did not work:

[code]

### What did you expect to see?
I thought it would be able to fetch ` @opentelem

[2019-11-13 23:29] mayurkale22 commented on #530
Not yet, but we can port stackdriver trace exporter from [OpenCensus](https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-exporter-stackdriver).

[2019-11-13 23:36] naseemkullah opened #532 "Provide example of export to multiple backends"
**NB:** Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem? Please de

[2019-11-13 23:46] dyladan commented on #531
This is intentional as far as I am aware. Including all plugins as dependencies would be needlessly wasteful as most applications will use only a small fraction of the plugins. This will become more true as more plugins are added.

[2019-11-13 23:48] naseemkullah opened #533 "Feedback of usage of opentelemetry"
Hi, as I am new to tracing please provide feedback of following implementation:

https://github.com/naseemkullah/k8s-job-dispatcher/commit/dc12d99205fd064e9207e77865b228f5f3f31d93

In particular loading a module called `tracer.js` which contains all tracer code. Pros and cons to this approach would be appreciated.

[2019-11-13 23:51] dyladan commented on #491
@xiao-lix idk if you have started working on this or not but the example I'm using in my local development of mysql should be fairly easy to swap out for the pg module.

https://github.com/dynatrace-oss-contrib/opentelemetry-js/tree/f99e1743fc1e8f1d9180289aea8da7d8c735b79f/examples/mysql

[2019-11-13 23:51] dyladan commented on #491
if you have not started working, I could easily modify my example to include pg as an option, the same way the examples allow Zipkin or jaeger as an option

[2019-11-13 23:53] naseemkullah commented on #531
Thanks @dyladan!

[2019-11-13 23:53] #531 closed

[2019-11-13 23:57] dyladan commented on #533
@naseemkullah this looks reasonable to me. the only think I might add is that you can use the -r flag in node to automatically require a package before user script execution, so you could remove the line that requires `./tracer.js` and instead run your server with `node -r ./tracer.js server.js`. This is just a matter of preference though.

[2019-11-14 00:00] naseemkullah commented on #533
Did not know that trick, that's a good one. Thanks @dyladan !

[2019-11-14 00:00] #533 closed

[2019-11-14 00:01] dyladan commented on #533
@naseemkullah no problem

you may also think about adding the trace id to your logs, which will make it easier to discover the correct trace in the event of an error.

[code]

[2019-11-14 00:08] naseemkullah commented on #533
That is great advice, thanks @dyladan. With `pino` (https://github.com/pinojs/pino/blob/master/docs/api.md#loggererrormergingobject-message-interpolationvalues)   that would look like:

[code]

Is that right?

[2019-11-14 00:36] naseemkullah commented on #533
https://github.com/naseemkullah/k8s-job-dispatcher/commit/822b167e1bd5a5ef67a510a47e79e5a3e87dfe6d

Does this look right to you?

[2019-11-14 00:53] naseemkullah commented on #519
Will this work for both `redis` and `ioredis` ?

[2019-11-14 00:53] naseemkullah commented on #519
https://www.npmjs.com/package/ioredis

[2019-11-14 01:01] mayurkale22 commented on #519
This package will provide tracing support only on `redis`, we might add a separate package for `ioredis` (in future). @markwolff corrrect me, if I am wrong.

[2019-11-14 01:03] markwolff commented on #519
Yes it would require a separate package
census instrumentation reference (https://github.com/census-instrumentation/opencensus-node/tree/master/packages)

[2019-11-14 01:15] naseemkullah commented on #519
Thanks for confirming.

[2019-11-14 01:18] naseemkullah opened #535 "ioredis"
**Is your plugin request related to a problem? Please describe.**
Would like to trace calls to redis made by a client instantiation of ioredis

**Is it applicable for Node or Browser or both**
Node

**Do you expect this plugin to be commonly used**
Weekly Downloads: 549,097

**What version of plugin are you interested in using**
Versions: 4.14.1 and beyond

**Additional context**
https://www.npmjs

[2019-11-14 01:45] naseemkullah opened #536 "[jaeger exporter] Add env var for agent host"
**Is your feature request related to a problem? Please describe.**
To point to an agent daemonset pod running on local node, the value has to be set in the kubernetes spec as `v1:status.hostIP` (this cannot be set in code, not easily at least) , it would be very convenient to simply add a `JAEGER_AGENT_HOST` env var that the exporter looks for without it being explicitly set in the exporter config

[2019-11-14 04:03] dyladan commented on #533
Yes, but you could take it one step further even and make it so that any calls to log methods automatically include trace ids.

[2019-11-14 04:04] xiao-lix commented on #491
@dyladan Hi, I've started working on it and almost done. May have different implementation with your example, please feel free to comment after I create the PR. Thanks. :)

[2019-11-14 11:24] naseemkullah commented on #533
Do you have an example of this? I tried adding it to the [logger's base object](https://github.com/pinojs/pino/blob/master/docs/api.md#base-object) but that did not work since there is not always a traceId (e.g. `logger.info("listening on port 80")`)

[2019-11-14 18:53] xirzec opened #538 "Change enums to `const` to make types package compile away"
**Is your feature request related to a problem? Please describe.**
Right now when I import @opentelemetry/types, I still have to configure rollup (the bundler my project uses) to handle named exports for enums like SpanKind and CanonicalCode. This is a little painful for transitive dependencies in my project.

**Describe the solution you'd like**
If you add the `const` keyword to your enums, then

[2019-11-15 18:08] mayurkale22 opened #540 "Example: Add basic metrics example with prometheus exporter"
Provide an example of how the [OpenTelemetry Metrics](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-metrics) library can be used to record data in the form of `Gauge` and/or `Counter` and export them to prometheus backend using [OpenTelemetry Prometheus exporter](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-exporter-p

[2019-11-15 21:12] Flarna opened #541 "http/https plugins are not compatible to @types/node 12.12.8"
### What version of OpenTelemetry are you using?
Latest master

### What version of Node are you using?
12.13.0

### What did you do?
Compile the code in opentelemetry-js repo

### What did you expect to see?
No compile errors.

### What did you see instead?
compile errors, see e.g. https://circleci.com/gh/open-telemetry/opentelemetry-js/8436?utm_campaign=vcs-integration-link&utm_medium=referral&u

[2019-11-16 00:02] OlivierAlbertini commented on #394
Hi Mayur Kale,

I believe, it would be useful for http/2 plugin, also it's a suggestion in order to centralize how we build span for http in a general manner. It will be easier for mainteance. WDYT ?

[2019-11-16 11:57] vmarchaud opened #543 "Add usage instruction for mongodb-core plugin"
https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-mongodb-core

[2019-11-16 11:58] vmarchaud opened #544 "examples: provide example for mongodb-core plugin"
Example for http: https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/http

[2019-11-18 22:38] dyladan opened #549 "Missing `pg` and `mongodb-core` from default plugins list"
Default plugins list in packages/opentelemetry-node is missing `pg` and `mongodb-core`

[2019-11-19 00:17] #541 closed

[2019-11-19 07:18] #519 closed

[2019-11-19 18:47] #532 closed

[2019-11-19 18:51] mayurkale22 commented on #513
@dyladan Can we close this one?

[2019-11-19 18:53] mayurkale22 commented on #504
@dyladan Can we close this one?

[2019-11-19 18:54] mayurkale22 commented on #536
Should we wait for specs issues to get approved/merged?

[2019-11-19 18:54] #513 closed

[2019-11-19 18:54] #504 closed

[2019-11-19 19:47] dyladan commented on #536
This is really an SDK mechanism, but at the same time I think this should be decided on for all SIGs, not just ours. I'm not sure where questions that are not spec related but affect all SIGs should go. Probably still in spec.

[2019-11-19 20:17] mayurkale22 commented on #423
@OlivierAlbertini Can we close this one or anything else is pending here?

[2019-11-19 20:21] mayurkale22 opened #550 "Add OpenTracing shim example"
Similar to https://github.com/open-telemetry/opentelemetry-python/pull/282

[2019-11-20 13:33] OlivierAlbertini commented on #423
yes those methods:

- lookupService (and promise)
- resolveX (and promise)
- reverse (and promise)

Sorry for the delay but I have no bandwidth this month.

[2019-11-20 17:55] dyladan commented on #538
[code]
compiles to
[code]

[2019-11-20 18:57] mayurkale22 opened #553 "Fix Prometheus Mapping"
Based on https://github.com/open-telemetry/opentelemetry-specification/issues/259

OpenTelemetry | (Current) Prometheus | (Expected) Prometheus
-- | --| --
Monotonic Counter | Counter | Counter
Non-Monotonic Counter | **Counter** | **Gauge**
Monotonic Gauge | **Gauge** | **Counter**
Non-Monotonic Gauge | Gauge | Gauge

i.e. Non-Monotonic `Counter` can go up and down, it should be reported as `Gaug

[2019-11-20 19:16] obecny commented on #499
it appeared to be easier to create web and node at the same time. I named this as
 `opentelemetry-exporter-collector` and class `CollectorExporter`

[2019-11-20 19:59] dyladan commented on #553
Please assign to me

[2019-11-20 20:05] nstawski commented on #410
I will work on this issue.

[2019-11-20 21:29] mayurkale22 commented on #553
Done. Given that you're actively involved (contributions/reviews/SIG meetings) in JavaScript library work, I would suggest to open an issue to become the member of the OpenTelemetry Community (similar to https://github.com/open-telemetry/opentelemetry-js/issues/553#issuecomment-556319538). Also, this would be right step forward to add you as Approver/Maintainer in the future. WDYT?

[2019-11-20 21:31] mayurkale22 commented on #410
Assigned to you, thanks for taking the initiative and welcome to OpenTelemetry!

[2019-11-20 21:41] dyladan commented on #553
I think that's a good idea. Do I make that issue on the open-telemetry/community project? (the link in your comment is just to this thread)

[2019-11-20 21:46] mayurkale22 commented on #553
Oops! I updated the previous comment with correct example link. https://github.com/open-telemetry/community/issues/new?template=membership.md&title=REQUEST%3A%20New%20membership%20for%20%3Cyour-GH-handle%3E

[2019-11-21 00:28] mayurkale22 opened #557 "Add CHANGELOG.md"
Per the SIG meeting, add `CHANGELOG.md`. All notable changes to this project will be documented in this file.

[2019-11-21 00:28] dyladan commented on #553
@open-telemetry/javascript-approvers do you think we add the required information to the `MetricDescriptor` that is exported from the metrics sdk, or find some other way to solve this?

Also, should we go with @mayurkale22's proposed mapping (type 1 below), or only make this change when it _needs_ to happen (type 2 below)?

OT Internal Type | Current Prometheus Export Type | Export Type 1 | Export

[2019-11-21 01:37] naseemkullah commented on #535
census instrumentation reference (https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-instrumentation-ioredis)

opentelemetry redis plugin reference/inspiration: https://github.com/open-telemetry/opentelemetry-js/pull/503/files

[2019-11-21 15:01] dyladan commented on #540
@mayurkale22 @danielkhan while working on #553 I have created an example that I am using in my testing so please assign this to me.

[2019-11-21 16:03] dyladan commented on #553
See the PR #559 for a proposed solution

[2019-11-21 18:59] mayurkale22 commented on #553
Although https://github.com/open-telemetry/opentelemetry-js/issues/553#issuecomment-556619972 sounds good to me, it would be awesome if you can suggest same on original issue: https://github.com/open-telemetry/opentelemetry-specification/issues/259

[2019-11-21 21:10] nstawski commented on #410
Merged now - please close this issue.

[2019-11-21 21:34] mayurkale22 commented on #410
Closed via #562

[2019-11-21 21:34] #410 closed

[2019-11-21 22:42] dyladan commented on #416
For those interested, here is the WIP version https://github.com/dyladan/opentelemetry-getting-started

Please take a look and give me any feedback you have.

Still need:

- [ ] Metrics
- [ ] A place to host permanently

[2019-11-22 18:18] mayurkale22 commented on #416
The guide looks great to me, either we can put under [doc](https://github.com/open-telemetry/opentelemetry-js/tree/master/doc) folder or create a separate folder "Getting Started Guide". WDYT?

[2019-11-22 20:24] dyladan commented on #416
I think a separate folder makes sense, then we can just link to it from the README

[2019-11-23 16:50] dyladan opened #565 "Allow parent span to be null"
**Is your feature request related to a problem? Please describe.**
The following pattern is used in almost every plugin:

[code]

This is because `getCurrentSpan` currently returns `Span | null` but parent is an optional `Span` (`parent?: Span`).

**Describe the solution you'd like**

Propose changing the signature of `parent` to `parent?: Span | null`.

**Describe alternatives you've considered**

[2019-11-25 11:55] obecny opened #567 "Send data to opentelemetry-collector using grpc for node only"

[2019-11-25 12:59] obecny opened #568 "Provide more information for span Link"
We need more information in span Link to be able to correctly calculate the relation between links and span

[2019-11-25 17:49] dyladan commented on #565
pls assign me

[2019-11-25 18:09] #416 closed

[2019-11-25 20:23] dyladan opened #572 "Alias static `Meter.labels` to `meter.labels`"
**Is your feature request related to a problem? Please describe.**
There are now at least 2 instances of `meter.labels` vs `Meter.labels` typos.

- https://github.com/open-telemetry/opentelemetry-js/pull/560/commits/65520947de32f9c7595823180aa763e4561ac8fa#diff-907f0db65a4b2ec93f598753a251cbbbR47
- https://github.com/open-telemetry/opentelemetry-js/pull/490#discussion_r350386534

**Describe the so

[2019-11-25 20:26] dyladan commented on #568
@obecny can you expand on what information is needed and why the current `Link` is not sufficient?

[2019-11-25 20:34] obecny commented on #568
it lacks the following information :
https://github.com/open-telemetry/opentelemetry-js/blob/c09bc5caf62f13ce9eb6471749512cdd25a464f1/packages/opentelemetry-exporter-collector/src/types.ts#L159

Now I'm only able to "guess" that for `LinkTypeParentLinkedSpan` but not for child

[2019-11-25 20:36] obecny commented on #568
and here is the Link
https://github.com/open-telemetry/opentelemetry-js/blob/039206493564b4e5858dc883467686385e04317f/packages/opentelemetry-types/src/trace/link.ts#L25

[2019-11-25 21:26] dyladan commented on #572
If we want this I can open a PR. It would look like this:

https://github.com/open-telemetry/opentelemetry-js/commit/b416106d62ce7b35b79a78e69c91d163aa3cebdd

[2019-11-25 22:13] mayurkale22 commented on #540
Closed via #560

[2019-11-25 22:13] #540 closed

[2019-11-25 22:23] mayurkale22 commented on #572
+1

[2019-11-25 22:40] dyladan commented on #549
assign me and close when #573 merges

[2019-11-25 22:44] dyladan commented on #530
I'll take this

[2019-11-25 22:48] dyladan commented on #536
@mayurkale22 maybe we should consider some sort of `waiting-on-specs` label for issues like this?

[2019-11-25 22:48] dyladan commented on #536
Or we could close it and re-open when the spec is ready.

[2019-11-25 22:54] mayurkale22 commented on #536
I like this idea, created a label "**waiting-for-spec**".

[2019-11-25 23:41] mayurkale22 commented on #530
The [reference implementation](https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-exporter-stackdriver) has both `trace` and `monitoring` (metrics) exporters in the same package, maybe we should follow the same pattern here and include trace exporter first and monitoring later.

[2019-11-25 23:45] dyladan commented on #530
Depending on how much code is shared I would prefer to actually keep them as separate packages. If a customer only needs one of them we are unnecessarily increasing their deployment size if they are together.

If there is shared code, we could make it a separate package?

- `@opentelemetry/exporter-stackdriver-cloudtrace`
- `@opentelemetry/exporter-stackdriver-monitoring`
- `@opentelemetry/exporte

[2019-11-25 23:54] mayurkale22 commented on #530
AFAIK only resources([common-utils](https://github.com/census-instrumentation/opencensus-node/blob/d8b56f7cae4bd84e3303e7b8d0eb54d5ac21e502/packages/opencensus-exporter-stackdriver/src/common-utils.ts)) stuff is shared between these two.

I completely agree with this and looks like OpenTelemetry Go also implemented like that : https://github.com/open-telemetry/opentelemetry-go/tree/master/exporter

[2019-11-26 15:08] obecny commented on #538
It seems like this is not so straightforward. Changing enum to be a const removes the ability to use the enum object as lookup object which for example is used here:
1.
https://github.com/open-telemetry/opentelemetry-js/blob/a411313cb30823cce8ea19d9de2f2c8ab69cbef2/packages/opentelemetry-exporter-zipkin/src/transform.ts#L78

2.
https://github.com/open-telemetry/opentelemetry-js/blob/a411313cb30823

[2019-11-26 15:09] dyladan commented on #523
@mayurkale22 please add the waiting-on-spec label to this

https://github.com/open-telemetry/opentelemetry-specification/issues/351

[2019-11-26 18:00] #549 closed

[2019-11-26 19:56] Flarna commented on #538
Using const enums could be also an issue for pure JS consumers as they have to extract the actual value from source code then. This could be avoided by using typescript compiler option `preserveConstEnums`. Typescript consumers get the values inlined but JS consumers can still import the package and reference the generated enum object.

[2019-11-26 22:58] obecny commented on #538
Ok so far it looks like this

1. `export enum CanonicalCode` , `preserveConstEnums: false`
lookup object works, `js file` contains data

2. `export enum CanonicalCode` , `preserveConstEnums: true`
lookup object works, `js file` contains data

3. `export const enum CanonicalCode` , `preserveConstEnums: false`
lookup object fails, `js file` empty

4. `export const enum CanonicalCode` , `preserveCons

[2019-11-27 07:08] Flarna commented on #538
Actually lookup works for const enums with `preserveConstEnums: true` if the module containing the exported enum is present. But typescript compains with message `A const enum member can only be accessed using a string literal.` so users have to cast.

[2019-11-27 12:12] obecny commented on #538
@Flarna `...so users have to cast` can you be more specific ?
How will you fix then this line for example:
https://github.com/open-telemetry/opentelemetry-js/blob/a411313cb30823cce8ea19d9de2f2c8ab69cbef2/packages/opentelemetry-exporter-zipkin/src/transform.ts#L78

[2019-11-27 13:21] Flarna commented on #538
This should work `tags[statusCodeTagName] = String((types as any).CanonicalCode[status.code]);`.

But now having it in front of me I noticed that it is that ugly to state that it should be not considered at all...

[2019-11-27 14:33] dyladan commented on #538
I would prefer only setting `const` on enums which not used as lookup enums. `String((types as any).CanonicalCode[status.code]);` is just ugly. Correct me if I'm wrong, but `preserveConstEnums: true` defeats the entire point, because then the package is not compiled away. I think this is a very minor optimization anyways so it's probably not worth adding weird workarounds to make it work. I would

[2019-11-27 16:28] #524 closed

[2019-11-29 19:09] megastef commented on #423
Any news? I've tried the DNS plugin, but I can't capture any event/span. I am using it together with http plugin, and i see only http events/span, but nothing from the DNS plugin.

[2019-11-29 22:31] naseemkullah opened #578 "Default log level"
Hello I recently instrumented a process that makes many queries to 3rd party apis. I used the http and dns plugins. My log sink is being flooded with noise. What is the suggested approach? I am using default sampling rate and Jaeger exporter.

[2019-11-30 03:45] naseemkullah commented on #578
I've adjusted the tracer's `logLevel: opentelemetry.LogLevel.ERROR` as per the getting started guide.

[2019-11-30 03:45] naseemkullah commented on #578
Should we maybe make the default log level `info` ?

[2019-11-30 15:25] OlivierAlbertini commented on #423
Compatibility with http/https plugin has not been tested yet and At this stage, I don't know if It won't be better to add a feature directly to the http plugin instead of using dns plugin because I believe that span relations (between dns and http) could be tricky.

It seems to have an issue to load dns plugin when we use dns module with http(s)...
Here a workaround that you can found in my `examp

[2019-11-30 16:03] OlivierAlbertini opened #579 "[plugin-http] error in getAbsoluteUrl method"
`host` variable checks `headers.host` twice.

It should be `  let host =
  reqUrlObject.host || reqUrlObject.hostname || headers.host || 'localhost';`

### Additional context
Add any other context about the problem here.
We should make tests more strict.

[2019-11-30 22:58] hieven commented on #550
Please assign this issue to me.

[2019-12-01 19:37] mayurkale22 commented on #578
The current default LogLevel is `DEBUG` and default Logger is `ConsoleLogger`, maybe we can change `ConsoleLogger` -> `NoopLogger` or `DEBUG` -> `ERROR`.

[2019-12-01 20:32] naseemkullah commented on #578
Is there documentation about the use case between ConsoleLogger and NoopLogger? I take it the name should be self explanatory but I am still unsure.

Furthermore, would there be any benefit to have structured logging for error logs in production in particular, and if so would it be alright to depend on the pino library?

[2019-12-02 09:52] vmarchaud commented on #578
@naseemkullah
`ConsoleLogger` logs to the `console` and `NoopLogger` doesn't do anything, i don't think we have specific documentation yet though.

There are always benefit having more implementation of our API to better suit end-users way of doing so i guess we could have a dedicated package `PinoLogger` which implement structured logging.

[2019-12-02 12:37] naseemkullah commented on #578
Thanks for explaining @vmarchaud , a `JsonLogger` might be nice, good to know we can add it in the future.

[2019-12-02 18:12] #579 closed

[2019-12-02 18:18] mayurkale22 commented on #565
Closing via #569

[2019-12-02 18:18] #565 closed

[2019-12-02 18:20] mayurkale22 commented on #489
Can we close this one via #525?

[2019-12-02 18:35] dyladan commented on #489
@mayurkale22 mysql2 is still not covered. If you close it can you rename it to just request `mysql` and open a new one?

[2019-12-02 18:45] mayurkale22 commented on #489
@markwolff do you agree with this?

[2019-12-02 18:50] dyladan commented on #489
I attempted to make the `mysql` one work with `mysql2` but the internal implementation details were too different. There will be some shared code, but it wasn't as easy as i'd expected

[2019-12-02 19:39] xirzec commented on #538
A design question I have -- if folks find themselves needing to use enum maps to coerce enum values to strings a lot, why is the enum in question not a string enum to begin with? Is it to save bytes over the wire or something?

[2019-12-02 22:10] mayurkale22 commented on #572
Closing via #576

[2019-12-02 22:10] #572 closed

[2019-12-03 12:24] Flarna opened #583 "[http-plugin] Missing traceparent header if WHATWG URL is used"
### What version of OpenTelemetry are you using?
0.2.0

### What version of Node are you using?
10.17.0

### What did you do?
Use a WHATWG URL (https://nodejs.org/dist/latest-v10.x/docs/api/url.html#url_class_url) in `http.get()` instead an options object or `string`.

e.g. in https://github.com/open-telemetry/opentelemetry-js/blob/v0.2.0/examples/http/client.js#L22 replace
`http.get({ host: 'loca

[2019-12-03 15:48] naseemkullah opened #584 "[http-plugin] ignoreIncomingPaths type error in TS"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
v0.2.0

### What version of Node are you using?
TS

### What did you do?

added `ignoreIncomingPaths: [/\/healthz/]`, to the config

### What did you expect to see?
No type error

### What did you see instead?

[code]

### Additional context

If there is another way to config when using

[2019-12-03 15:49] naseemkullah commented on #584
Should we use `ignoreUrls` instead?

[2019-12-03 15:50] dyladan commented on #584
Can you add a minimal code sample reproduction?

[2019-12-03 15:52] naseemkullah commented on #584
Sure!

Complains in TS:
[code]

Does not complain:

[code]

[2019-12-03 15:53] naseemkullah commented on #584
Sure!

Complains in TS:
[code]

Does not complain:

[code]

[2019-12-03 15:59] naseemkullah commented on #584
Furthermore, there is a TS error when trying to set `logLevel`

PluginLoader.d.ts(23, 5): The expected type comes from this index signature.

I will edit code above

[2019-12-03 17:05] dyladan commented on #584
To begin with, this is not valid:

[code]

The log level is a configuration, not a plugin. You can do either of the two following:

[code]

[code]

For the `ignoreIncomingPaths` issue, there is no `ignoreIncomingPaths` on a plugin config object https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-types/src/trace/instrumentation/Plugin.ts#L50

The typing may need to

[2019-12-03 18:40] mayurkale22 opened #585 "ignoreMethods vs ignoreIncomingPaths and ignoreUrls vs ignoreOutgoingUrls"
This is related to #584

The [PluginConfig interface](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-types/src/trace/instrumentation/Plugin.ts#L50-L87) has `ignoreMethods` and `ignoreUrls` attributes to ignore the traces on provided methods and urls but we are not respecting these values (especially in `HTTP` plugin) instead HTTP plugin has its own options (h

[2019-12-03 18:45] mayurkale22 commented on #583
Thanks for reporting this! Feel free to attempt to write solution and open a PR. :)

[2019-12-03 19:00] dyladan commented on #585
I think we should allow plugins to have their own config options.

[code]

Otherwise we will have no way to allow unofficial plugins to have configs and still be typescript friendly

[2019-12-03 19:05] dyladan commented on #585
As another option we could allow fully configured plugins to be passed in:

[code]

[2019-12-03 19:07] #557 closed

[2019-12-03 19:22] naseemkullah commented on #584
Thanks @dyladan , `logLevel` non-issue was me being dumb. I will edit title and code sample accordingly to just  mention the `ignoreIncomingPaths` issue.

[2019-12-03 19:29] dyladan commented on #584
What made you think `ignoreIncomingPaths` is a valid option? This is not a bug, but rather an issue with whatever documentation told you to put that there I think

[2019-12-03 19:38] naseemkullah commented on #584
Fair enough, so it was indeed from the docs, I think I grepped for ignore one of these inspired me:
https://github.com/open-telemetry/opentelemetry-js/search?q=ignoreincomingpaths&unscoped_q=ignoreincomingpaths

FWIW it does work in regular JS... so it's a bit confusing!

I use it here  https://github.com/naseemkullah/k8s-job-dispatcher/blob/master/lib/tracer.js#L12 which is my goto reference (you

[2019-12-03 20:06] dyladan commented on #584
@naseemkullah well that depends... `ignoreUrls` is correct according to the typing, but is actually ignored. The reason it works in js is because the config object just happens to be passed directly to the plugin unmodified, and the http plugin expects `ignoreIncomingPaths`. The answer is probably neither. We will need to make a better config story. For now I would use `ignoreIncomingPaths` with a

[2019-12-03 20:13] naseemkullah commented on #584
Thanks @dyladan that is insightful as I am trying to incorporate otel as a pilot project this into some of our TS apps.

Finally, back to the question of LogLevel, I am getting this:

[code]

From this

[code]

any ideas as to why?

[2019-12-03 20:17] dyladan commented on #584
`import * as opentelemetry from '@opentelemetry/core';`

[2019-12-03 20:18] naseemkullah commented on #585
This is how it was configured in opencensus btw

[2019-12-03 20:25] naseemkullah commented on #584
Thanks!

[2019-12-03 20:26] OlivierAlbertini commented on #584
For http/https config, you can look here https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-http#http-plugin-options

Default config (interface) should be removed since it has been discussed during SIG that we don't want to have one unique config for all configs. @mayurkale22 corrects me if I'm wrong.

[2019-12-03 20:27] naseemkullah opened #586 "TS Getting started guide"
The Getting Started guide is excellent.
Would it be gratuitous to add a TS version of it?
Every addition to the guide would have to be done for JS and TS versions alike.

[2019-12-03 20:33] OlivierAlbertini commented on #585
In Opencensus (and in OpenTelemetry)

- ignoreIncomingPaths is relative [/\/healthz/] and ["/healthz"] would work
- ignoreOutgoingUrls is the full url so ["/healthz"] won't work.

It's more convenient to have path for ignoreIncomingPaths

[2019-12-03 20:33] dyladan commented on #586
I think rather than having a different language version, we could just have ts code samples in addition to js code samples in the same document. maintaining 2 versions of the same guide seems like more trouble than it is worth.

[2019-12-03 23:46] mayurkale22 commented on #585
Maybe something like this?

[code]

[2019-12-04 00:12] OlivierAlbertini commented on #585
Looks good to me. Perhaps, we could discuss at the tomorrow SIG ?

[2019-12-04 01:05] naseemkullah commented on #584
Alright `// @ts-ignore` works for now! Will continue to track #585

[2019-12-04 01:05] #584 closed

[2019-12-04 02:27] mayurkale22 commented on #489
I removed `mysql2` from the title, let's close one and handle `mysql2` instrumentation based on request.

[2019-12-04 02:27] #489 closed

[2019-12-04 02:35] mayurkale22 commented on #586
I certainly agree with @dyladan's comment.

[2019-12-04 06:46] Flarna commented on #585
I think we should still allow configuration of plugins not hosted in this repo. By listing the supported configs in `PluginConfig` developers of some plugin have to request changes in the pubic OTel API or use casts to avoid typescript issues.

[2019-12-04 15:37] dyladan commented on #585
I was thinking something more along the lines of this:

[code]

[2019-12-04 16:43] #499 closed

[2019-12-04 16:43] #502 closed

[2019-12-04 17:12] dyladan commented on #578
Per SIG this will be changed to INFO when we go from alpha to beta. add examples for override

[2019-12-04 17:25] OlivierAlbertini commented on #585
Ref this issue https://github.com/open-telemetry/opentelemetry-js/issues/214

[2019-12-04 17:26] nstawski commented on #586
I will take this issue.

[2019-12-04 17:28] OlivierAlbertini commented on #586
For some reasons can't assign you.... You don't appear in the search... Perhaps others could ?

[2019-12-04 17:37] mayurkale22 commented on #586
If you're not a member of a community, you need to comment on the issue first in order to assign it.

[2019-12-04 17:42] dyladan commented on #585
I read through the issue. A couple times the idea of plugin-specific config options were brought up but it was never really refuted or encouraged, just dropped. Similarly in the associated PR it was never really discussed.

As was brought up in the SIG, my suggested option above has the potential to require unwanted dependencies in the `node` and/or `web` packages which is not desirable, as well a

[2019-12-04 17:42] obecny opened #587 "Restructure examples"
Now adding a new example with just a few different things will require to create a new folder inside examples and add a whole structure with installing npm. What I would like to suggest is to have more examples that are connected for example for Web Tracer. We can have an extra folder where we could add just index.html and index.js .
For example
`examples/web-tracer/examples`
`example1`
`example2`

[2019-12-04 17:49] dyladan commented on #587
What if we do a tree structure like:

[code]

When we do a release, `latest` would be renamed to `0.x.0` and we would create a new `latest` with the new unreleased examples

[2019-12-04 17:54] obecny commented on #587
I think keeping version in path will produce more confusion and extra work. Examples should always show the latest anyway and `package.json` is meant for that. This issue is only about having more small examples in the same folder to reuse the structure. I'm more concern just about naming for subfolder so if `examples/web-tracer/examples/myFirstExample` would be fine

[2019-12-04 18:02] dyladan commented on #587
oh I understand. I think we may be able to tackle both issues at the same time though if we do:

I understand what you mean by having the version in the path being confusing, maybe we just have a subfolder for unreleased examples?

I think it is confusing for new users that some of the examples showcase unreleased examples and some of them don't work if you just do `yarn install`.

[code]

[2019-12-04 20:20] OlivierAlbertini opened #588 "Integrating openTelemetry in old applications"
As discussed in SIG meeting

I started to integrate OpenTelemetry in our applications. It works great for new apps but I faced some issues in our old applications.

Indeed, we have a lot of micro services that use Typescript version < 3.0.0. The behaviour is that `tsc` try to compile *.d.ts file inside the node_modules even with some tsconfig options like

[code]

I was able to solve this issue by

[2019-12-04 20:36] OlivierAlbertini commented on #585
I'm agree.
https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-http/src/types.ts#L60
It's important that developers add their own plugins that is not yet in this repo. e.g
As a developer, I created a "plugin-amqp" and I want to use this plugin with the standard sdk.
As a developer, I created another "plugin-http" with more configurations and I want to integ

[2019-12-04 21:32] dyladan commented on #588
That feature was introduced in typescript 2.9 https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-9.html#import-types

### Explanation of the issue

Basically if you look at the following code:

[code]

When it is compiled, it emits the following declaration (d.ts) file:

[code]

Basically, it is importing the type without actually importing the file. If you try to compile this

[2019-12-04 22:35] OlivierAlbertini commented on #588
I would not recommend version 1.

For option 2, we could require automated tests in order to be sure that we are compatible with Typescript versions that we want to support. We could add in the CONTRIBUTING.md that we need to develop packages that are compatibles with X versions of TypeScript. If we are aware of this requirement we can take care of this during development/review process. WDYT ?

F

[2019-12-05 12:23] OlivierAlbertini opened #590 "Sync tests from plugin-http to https plugin"
From new tests https://github.com/open-telemetry/opentelemetry-js/pull/589/files
We should sync those tests to the https plugin.

[2019-12-05 12:28] Flarna opened #591 "Harden AsyncHooksScopeManager regarding faulty use of AsyncResources"
**Is your feature request related to a problem? Please describe.**
Some libraries may implement misbehaving AsyncResources for which the `destroy` callback won't be ever called. This would result in a memory leak in `AsyncHooksScopeManager` as the corresponding entry is never deleted from `_scopes`.
Even the problem/bug is actually in the faulty use of `AsyncResources` the leak may only appear if

[2019-12-05 14:15] dyladan commented on #588
The problem with (2) is that we lose the ability to use some newer features of typescript. Maybe we can make a very simple sample project that just loads all of the packages and compiles, and run it against each version of typescript in the circleci? It would be very fast since it would not need to install any deps other than typescript and `@opentelemetry/*`

[2019-12-05 15:15] dyladan commented on #553
@mayurkale22 we can probably close this since https://github.com/open-telemetry/opentelemetry-js/pull/561 merged

[2019-12-05 18:06] #553 closed

[2019-12-05 18:08] mayurkale22 commented on #591
/cc @vmarchaud

[2019-12-05 20:03] OlivierAlbertini commented on #588
That's what I was thinking when I wrote

So next step would be to create an issue (e.g Add Typescript tests during circleci build) in order to move on or should we wait and discuss about that during the next SIG meeting ?

[2019-12-05 20:11] dyladan commented on #588
I think this is a SIG topic. My gut feeling is that this is something that should wait for beta or even 1.0 because it is likely to slow down development and requiring recent versions of ts isn't unreasonable for alpha software.

[2019-12-05 20:26] OlivierAlbertini opened #594 "[plugin] Add span.kind property to attribute"
Here an example of span:

![Capture d’écran, le 2019-12-05 à 15 20 04](https://user-images.githubusercontent.com/3801683/70270610-ca8a6700-1772-11ea-8ffc-6b5be20462fc.png)

It would be nice to have a `kind` attribute for identifying if it's "server" or "client". It could be added in the zipkin/jaeger plugins. WDYT ?

[2019-12-05 21:59] mayurkale22 commented on #594
AFAIK we already set this property in each plugins and it is being properly exported in `Zipkin` backend (becoz it supports `kind` attribute). Jaeger exporter doesn;t have an equivalent mapping for `kind`,  I was thinking to translate it into Jaeger `tags` similar to `status.code` and `status.name`. WDYT?

[2019-12-05 22:46] mayurkale22 commented on #594
Just checked OpenCensus' [Java implementation](https://github.com/census-instrumentation/opencensus-java/blob/2a17c8482ffb04540ea4ac0a5f746ad8d536c996/exporters/trace/jaeger/src/main/java/io/opencensus/exporter/trace/jaeger/JaegerExporterHandler.java#L332), we have converted `span.kind` to Jaeger `Tag`. Let me know what do you think, I can open a PR to fix that.

[2019-12-06 02:17] OlivierAlbertini commented on #594
I think that Jaeger `Tag` is good.

[2019-12-06 10:38] dyladan commented on #594
Does this seem like something that should be brought up in spec? In multi-language environments it might be confusing if only some languages set the span.kind tag

[2019-12-06 12:21] OlivierAlbertini commented on #594
I think that it depend on the backend more than the language. It's already exported in Zipkin, it's matter to be consistent. WDYT ?

[2019-12-06 17:35] #583 closed

[2019-12-08 16:34] vmarchaud commented on #591
Indeed thats problematic, i believe we could use weakmaps to never old reference but i'm not sure. I don't know if it's that much important for alpha/beta but we need to have something in place for GA for sure

[2019-12-09 06:57] Flarna commented on #588
To my knowledge releases of DT are not tagged with typescript versions at NPM. The packages have a comment like `// TypeScript Version: 2.8` which indicates to their tools which min typescript version should be used for testing (since a month or two the global min was moved from 2.0 to 2.8).

Since 3.1 typescript supports versioning definitions withing one package using the [typesversions](https:/

[2019-12-09 15:41] hekike opened #598 "GraphQL Apollo Server"
**Is your plugin request related to a problem? Please describe.**
GraphQL batches multiple queries and entities as a data access protocol into a single HTTP request.
In the background, the GraphQL server will run multiple so-called resolvers that return data for a specific chunk of the graph to fulfill these GraphQL queries. Resolvers can run parallel and depend on each other while they usually fe

[2019-12-09 15:42] hekike commented on #598
Here is a PoC with using the Apollo Server `extensions` interface: https://github.com/open-telemetry/opentelemetry-js/compare/master...hekike:feat/plugin-apollo-server?expand=1

[2019-12-09 15:46] dyladan commented on #598
According to `npm`, the `apollo` module receives ~250k downloads weekly.

@hekike if a request comes in on http, and apollo looks into a couple data stores (say mysql, a http api, and a mongodb) then isn't it sufficient to instrument the underlying transports? What value is gained in this case from instrumenting apollo directly?

[2019-12-09 18:05] obecny opened #600 "Reading version inside code"
There is a problem with getting version of package inside code. Using directly `package.json` works fine for node but for web it will always raise an error. This is because build version and source will have a different path to `package.json`.
The solution done for core works fine
https://github.com/open-telemetry/opentelemetry-js/blob/b58ad102c45dbefb0c86bc8beb8ef755a05f1a7e/packages/opentelemetr

[2019-12-09 18:05] obecny commented on #600
@open-telemetry/javascript-approvers

[2019-12-09 18:05] obecny commented on #600
@draffensperger ^^

[2019-12-09 18:17] mayurkale22 commented on #600
Quick question: why do you want to generate version for each package, AFAIK this is only needed for core package (which we already have)?

[2019-12-09 18:28] obecny commented on #600
We don't have now one reliable way of getting the version of certain plugin. We were discussing with @dyladan last week to have something reliable that could be similar across all packages for web and node.

[2019-12-09 18:44] hekike commented on #598
The mapping between GraphQL resolvers and data sources like MongoDB won't be 1:1 mapping.
GraphQL will run a resolver for every index, for example, it will also skip resolvers when the parent over fetches from data source. Also usually people put the dataloader layer between resolvers and data sources so batching and caching will make an even bigger disconnect between resolver latencies and errors

[2019-12-09 18:46] obecny commented on #600
so basically the short answer would be one script that can be used for all packages

[2019-12-09 18:52] obecny opened #602 "This test fails without reason - might be some race condition"
https://circleci.com/gh/open-telemetry/opentelemetry-js/9818?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

adding image
[`URL`](https://imgur.com/a/XA8xWsx)

[2019-12-09 19:08] OlivierAlbertini commented on #602
For documentation
[code]

[2019-12-10 04:35] #594 closed

[2019-12-10 07:08] dyladan commented on #600
@mayurkale22 the reason is because you could theoretically have a different version of core than of a plugin. The version that a plugin claims to be should not depend on another package. Right now packages are version locked together, but this may not always be the case.

[2019-12-10 07:16] mayurkale22 commented on #600
Makes sense, thanks for the explanation.

[2019-12-10 14:13] obecny opened #603 "Linting "/examples""
Should we enforce some lint rules on examples that could be automatically validated, as now we don't have it.

[2019-12-10 14:21] draffensperger opened #604 "Make XHR browser plugin create child spans for CORS pre-flight requests"
In OpenCensus Web, we detected CORS preflight requests for XHRs by using the Resource Timing API data from the browser. When a preflight request was detected, we would create a child span for the preflight request, and attach relevant Resource Timing network event data to it (connection start, etc.)

See this [OpenCensus Web readme doc about the XHR-Resource Timing join algorithm](https://github.c

[2019-12-10 16:21] #590 closed

[2019-12-11 01:55] markwolff commented on #538
As per conversation w/ @xirzec, an issue is that rollup does not understand nonconst enums since they are set inside a runtime function instead of being able to be checked staticly. Therefore they have to manually define each enum this repo ever defines as a `namedExport` inside each rollup config. e.g.
[code]

I assume webpack could have a similar issue?

[2019-12-11 14:13] dyladan opened #608 "JaegerExporter can throw on export"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.2.0

### What version of Node are you using?
8 and 10

### What did you do?
If possible, provide a recipe for reproducing the error.

[code]

[code]
Make an http request to localhost:8080, wait about 5 seconds for the batch to send.

### What did you expect to see?
spans in the backend

[2019-12-11 14:20] dyladan commented on #608
## Explanation of the issue

BatchSpanProcessor has a 20 second default timeout
JaegerExporter has a 5 second default timeout

When the JaegerExporter exports, it calls `append` on the `_sender`. In the default configuration, the sender flushes on every span.

After 20 seconds, the BatchSpanProcessor exports a batch of spans, which are appended and then exported. During this export, the 4th 5 seco

[2019-12-11 15:03] draffensperger opened #610 "Make document load plugin start its root span as soon as it loads"
Currently the document load plugin starts its root span only after the `load` event when its ready to start collecting all the document load related spans (see [relevant code in documentLoad.ts](https://github.com/open-telemetry/opentelemetry-js/blob/6e22fd511c3e500ff8d3b04b33e2833a35996d01/packages/opentelemetry-plugin-document-load/src/documentLoad.ts#L127
)).

This means, however, that any cust

[2019-12-11 15:27] yfried opened #611 "Web request spans not in correct order"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.2.0

### What version of Node are you using?
9.11.1

### What did you do?
If possible, provide a recipe for reproducing the error.

### What did you expect to see?
`service-in1` gets a HTTP request. While handling it, it sends a GET request to `service-out1` and then a POST request to

[2019-12-11 16:11] dyladan commented on #611
Here are the timestamps in ascending order of the start and end timestamps for each http span

[code]

As can be seen clearly, the timestamps show that events are in the correct order

[2019-12-11 16:21] dyladan commented on #611
Simply deleting the dns spans from the json seems to have fixed the issue for me. Can you try too disable the dns plugin and see what happens?

[2019-12-11 16:32] OlivierAlbertini opened #612 "Remove Dns plugin from the config"
After v0.2, we added dns in the config file.
[code]
https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-node/src/config.ts

We should do that since It might require to add Dns plugin options.

For example, If we use zipkin exporter, dns need to ignore the http url otherwise we will have a loop.
For now, there is no feature that let's us fix this kind of behaviour.

[2019-12-11 16:43] dyladan commented on #611
Ignoring DNS for now, is this a decent summary?

Current span order. incoming span is marked, all others are outgoing
[code]

expected span order:

[code]

[2019-12-11 17:42] dyladan commented on #588
per sig

[2019-12-11 19:31] dyladan opened #614 "Enhance database reporting config"
Currently there is a config option named `enhancedDatabaseReporting` that is used by no plugins and is undocumented.

## Should we keep the enhanced database reporting config
Since it currently does nothing and is undocumented, is it even worth keeping around?

## If we do keep it, what should it do?
There are multiple database plugins (`mysql`, `pg`/`pg-pool`, `mongodb-core`) and there will likel

[2019-12-11 19:42] dyladan opened #615 "Masking sensitive trace data"
In it's current form, opentelemetry transmits all kinds of data to tracing backends that users may want to mask or obfuscate

## Do we want to handle this on the collection side or put the burden on tracing backends?

## What should the default unconfigured behavior be?
- mask everything
- mask nothing
- attempt to mask intelligently based on heuristics (password field is obviously sensitive)

##

[2019-12-11 19:44] mayurkale22 commented on #608
I think this is not true, sender will wait till internal buffer reaches `maxPacketSize`: https://github.com/jaegertracing/jaeger-client-node/blob/master/src/reporters/udp_sender.js#L106-L113

[2019-12-11 19:47] mayurkale22 commented on #608
This might very well work in the production, but in case of examples you might not see the full traces unless you call `shutdown` on exporter (with `forceFlush = true`).

[2019-12-11 19:50] mayurkale22 commented on #612
Release DNS as default when dns plugin is fixed
The short term fix would be to have users configure ignore urls
Long term fix is to share ignore urls with the exporter some way

per SIG

[2019-12-11 20:12] dyladan commented on #608
@mayurkale22 stopping my simple example in the debugger shows max packet size to be `NaN`, therefore that check always fails. This seems like it is either a bug in our implementation or a bug in theirs.

It comes from [line 87](https://github.com/jaegertracing/jaeger-client-node/blob/master/src/reporters/udp_sender.js#L87), but `_emitSpanBatchOverhead` is undefined. `number` - `undefined` => `NaN`

[2019-12-11 20:17] dyladan commented on #588
Some more context from the SIG. It was decided that this isn't a priority for alpha. If we can find a way to make old ts versions ignore the types or override them with an any for old ts versions, it should be sufficient to add a recommendation in the README explaining how to do so. Users will lose the typing information, but old ts versions are not a priority.

[2019-12-11 20:24] mayurkale22 commented on #608
I just did `console.log` in udp_sender.js and I see these values 64934(`this._maxSpanBytes`), 65000(`this._maxPacketSize`),  66 (`this._emitSpanBatchOverhead`).

[2019-12-11 20:40] dyladan commented on #608
with the exact above code using the 0.2.0 release versions of otel?

[2019-12-11 20:47] dyladan commented on #608
blowing away my node_modules and rebuilding also gave me 64935.

[2019-12-11 23:15] mayurkale22 commented on #603
Good idea, I used `semistandard`  before.

[2019-12-12 03:02] mayurkale22 opened #616 "Merge user provided plugin configs with default supported configs"
Currently, we allow users to config the plugins as per their requirement (which is great), but newly provided config replaces the existing default config instead of **merging** with it.

For example: If i decided to disable certain plugin or change its config, I have to update that plugin and add all other plugins to activate them.
[code]

Expected behavior: Update only specific plugin and others

[2019-12-12 07:17] yfried commented on #611
@dyladan The picture you attaches seems like the correct order of things, yes.

[2019-12-12 07:52] dyladan commented on #616
I think at the same time we should define a configuration interface for configuring behavior of plugins.

Right now this is our plugin configuration interface

[code]

- `ignoreMethods`
    - unused
    - definition of "method" is not clear
- `ignoreUrls`
    - used by xhr
    - other plugins that could benefit from this but don't
- `internalFilesExports`
    - used by grpc, but not configured by

[2019-12-12 18:29] #612 closed

[2019-12-13 07:09] dyladan opened #617 "Centralize test utility functions and assertions"
There are several utility functions and assertions such as `assertSpan` that are duplicated in the tests of several of our packages.

Create a new private lerna package named `@opentelemetry/test-utils` that would be a dev dependency of our packages and provide these helper functions.

[2019-12-13 19:06] OlivierAlbertini commented on #616
I like the idea of

[code]

[2019-12-13 19:43] obecny opened #618 "remove shimmer, implement new one"
Currently the shimmer is a desired way of patching. The problem is that shimmer doesn't support multiple patching. It stores the original into `__original` and that's it. If it happen that someone else will be using this to patch the function we might accidently be unpatched or we might unpatch it too. What if there are multiple libraries that want to patch the same function. It should be possible

[2019-12-13 20:13] dyladan commented on #618
Bonus: we also remove an external dependency

[2019-12-13 23:22] dyladan opened #620 "Create a plugin-specific development guide"
- [x] This only affects the JavaScript OpenTelemetry library

This is separate from the contributing guidelines which are made for newcomers and are fairly unspecific.

Somewhere we need to document all the small things that plugin developers need to know, and possibly have a checklist that every plugin PR should go through. Something like the following:

- Only uses public tracer api. this is imp

[2019-12-14 10:02] #543 closed

[2019-12-14 10:03] vmarchaud commented on #543
Closing since we merged #564

[2019-12-14 13:07] Flarna commented on #618
Is unpatch really a requirement? It will be really hard to implement a bullet prove patch library which works in all cases. Monkey patching is used more often then someone would expect and there are numerous variants how this is done in detail.
Besides the question of restoring the _correct_ function you end up also with in flight objects created with patched version of a module but have to finish

[2019-12-14 20:55] shaz1v opened #621 "mongodb-core plugin not loading, and not collecting traces"
### What version of OpenTelemetry are you using?
0.3.0

### What version of Node are you using?
v10.15.3

### What did you do?
Load mongodb-core plugin into the NodeTracer this way:
[code]

### What did you expect to see?

The plugin being loaded and patches applied

### What did you see instead?

The plugin wasn't loaded, only other plugins listed did
[code]

### Additional context
The plugin was

[2019-12-14 21:23] vmarchaud commented on #621
Sadly the plugin isn't compatible with `mongodb` > 3.3 (since they changed some stuff internally) so i believe this issue should be a feature request to support it

[2019-12-14 22:30] mayurkale22 commented on #621
I think as we are patching`mongodb` module, the key should be `mongodb` instead of `mongodb-core`.  @vmarchaud correct me if I am wrong.

[2019-12-15 06:11] shaz1v opened #622 "mongodb-core plugin, add support for mongodb > 3.3"
**Is your feature request related to a problem? Please describe.**
https://github.com/open-telemetry/opentelemetry-js/issues/621

**Describe the solution you'd like**
Collect traces from MongoDB operations

**Describe alternatives you've considered**
Current plugin fails to collect traces when using `mongodb` > 3.3

**Additional context**
@vmarchaud pointed out that mongodb has changed something i

[2019-12-15 06:12] shaz1v commented on #621
Thanks! closing this, i've reopened a feature request for > 3.3 support
https://github.com/open-telemetry/opentelemetry-js/issues/622

[2019-12-15 06:12] #621 closed

[2019-12-15 06:23] shaz1v opened #623 "metrics, add support for auto collecting default recommended metrics"
**Is your feature request related to a problem? Please describe.**

There are a lot of default metrics which are recommended and should be collected and exported in every node project running, implementing the manual collection of each one of them in every project could be solved by adding support in the lib, and by that engaging metrics lib as a lot more noob friendly.

**Describe the solution yo

[2019-12-15 08:29] vmarchaud commented on #621
@mayurkale22 No we are currently patching `mongodb-core` only

[2019-12-15 08:30] vmarchaud commented on #622
For ref, see both https://github.com/open-telemetry/opentelemetry-js/pull/205#issuecomment-552553642 and https://github.com/open-telemetry/opentelemetry-js/pull/205#issuecomment-552561122

[2019-12-16 13:51] dyladan opened #626 "Prevent loading plugins for incorrect module"
In #621, the following code sample is given as an example

[code]

Because the version matched, the plugin was loaded. PluginLoader should also check that the component name matches and emit an error log if the incorrect module name is detected. Instrumenting a plugin with the wrong library would be _very_ dangerous.

[2019-12-16 18:02] naseemkullah opened #627 "RSS feed for releases?"
Would it be possible to provide an RSS feed for when releases come out?

[2019-12-16 18:37] dyladan commented on #627
https://github.com/open-telemetry/opentelemetry-js/releases.atom

[2019-12-16 18:37] #627 closed

[2019-12-16 21:31] #608 closed

[2019-12-16 22:50] mayurkale22 opened #630 "gRPC client methods are not patched correctly"
`gRPC` client methods are not patched correctly (see below sample code). This may be related to #384.

[code]

[2019-12-17 00:10] mayurkale22 commented on #623
**+1**

But I think we should wait until we have implemented full metrics SDK with aggregation support (#402 and #452).  Also, I was thinking to create a dedicated package for default recommended metrics (one option is  `@opentelemetry/system-metrics`)

[2019-12-17 15:43] dyladan opened #632 "Enable incremental builds"
Adding the `incremental: true` flag to my `tsconfig.base.json` reduces compile time by >50% in the average case. Deployment packages sizes are unchanged because the `files` array in the `package.json` files explicitly only looks for `.js` and `.d.ts` files.

[2019-12-17 17:40] obecny commented on #618
@Flarna
`There are other reasons why shimmer may be problematic: it has quite some visible side effects like not coping properties to wrapped function or not setting function name/length on wrapped function. Both may break user applications.`
I'm happy to hear that you also don't like shimmer. So as mentioned previously I see more reasons why we should get rid of shimmer and why I created this iss

[2019-12-17 18:05] dyladan commented on #618
## What properties need to be copied from the original function?

- name
- length
- native

## Should it be unpatchable?
Is it important that we are actually able to fully unpatch and restore the original version of the function, or is it ok to just have the patched version of the function call the original function if the plugin is disabled? This would reduce the complexity of the shim library, b

[2019-12-17 19:25] dyladan opened #634 "Rename metric handle to bound instrument"
Spec issue: https://github.com/open-telemetry/opentelemetry-specification/pull/392

OTEP was approved and the spec change is very minimal. I expect that this will go through basically unchanged.

[2019-12-18 00:52] #550 closed

[2019-12-18 09:13] Oberon00 opened #635 "HTTP attributes are noncomformant"
Please compare https://github.com/open-telemetry/opentelemetry-js/blob/af5a364efd978a232c73c5f3e40203ecc2f98ed0/packages/opentelemetry-plugin-http/src/enums/AttributeNames.ts#L21-L24 with https://github.com/open-telemetry/opentelemetry-specification/blob/8f4377c15e44e1d9348edec7cabea2a7107a6877/specification/data-http.md. There is no http.hostname (there are net.host.name and http.host and http.se

[2019-12-18 17:02] OlivierAlbertini commented on #635
I'm closing this issue since it's a duplicated of https://github.com/open-telemetry/opentelemetry-js/issues/373. Feel free to discuss on this one or reopen if you are not agreed

[2019-12-18 17:02] #635 closed

[2019-12-18 17:19] dyladan commented on #611
@yfried are you able to provide a reproduction for this? Without being able to reproduce it is difficult to debug this.

[2019-12-18 18:00] dyladan commented on #634
Looks like the spec issue just merged. I'll leave this for a little bit and if no-one picks it up soon i'll handle it.

[2019-12-18 18:07] dyladan commented on #634
@cthulhu-bot of course!

I'm going to assign us both to this so that I can keep it on my radar as well.

[2019-12-18 19:53] mayurkale22 opened #636 "[plugins] modules loaded before tracer SDK"
IMO initialization of `NodeTracer` module which provides automated tracing (instrumentation) for Node.js applications has to be the first line in the application code before loading actual modules like `http`, `redis`, `grpc` etc.  Loading these modules before our tracer SDK may prevent
us from monkeypatching those modules for automatic tracing. I have verified that w/ [current http example](https

[2019-12-18 20:19] dyladan commented on #636
Probably only warn on modules that would have been instrumented. for instance if http tracer is disabled, it doesn't matter that it was loaded before us.

[2019-12-18 21:11] yfried commented on #611
No. Sorry. I understand. You can close this ticket for now, but please be aware that this is an issue

[2019-12-18 21:19] dyladan commented on #611
@yfried is it possible that this is actually correct and that there is a misunderstanding about when the requests are actually made? Have you been successful instrumenting with other libraries like opentracing or opencensus?

[2019-12-18 21:39] #632 closed

[2019-12-18 21:46] mayurkale22 commented on #611
Closing this for now, @yfried feel free to reopen the issue if you encounter it again.

[2019-12-18 21:46] #611 closed

[2019-12-19 08:29] yfried commented on #611
I've traced the same app with Datadog and it behaved as expected

[2019-12-19 09:08] Oberon00 commented on #635
Well it's not exactly a duplicate because IIRC `http.path` and `http.hostname` did never exist in the semantic conventions for OpenTelemetry.

[2019-12-19 12:09] OlivierAlbertini commented on #635
Yes. OpenTelemetry didn't provide a spec when we start to write http plugin and when they did they didn't provide something about host or target.

https://github.com/open-telemetry/opentelemetry-specification/blob/600149f531ad62efb3a3dc96007781c3604ebdec/specification/data-semantic-conventions.md

[2019-12-19 23:34] #493 closed

[2019-12-19 23:34] #604 closed

[2019-12-20 06:31] #630 closed

[2019-12-20 13:31] obecny opened #637 "Traceparent from scope manager"
Scope managers for web should be able to read traceparent and return it when active scope does not exist

Update should be done for those pacakges:

1. @opentelemetry/scope-zone-peer-dep
2. @opentelemetry/web

This will allow to correctly propagate the traceparent when any span is being created and when parent is declared as `tracer.getCurrentSpan()`

[2019-12-20 13:32] obecny commented on #637
@draffensperger  @open-telemetry/javascript-approvers, please share your thoughts

[2019-12-20 14:16] dyladan commented on #637
I'm not sure I understand what you mean here. Read it from where? If this works the way i'm thinking, then every span with no parent would be parented by the document-load span?

[2019-12-20 14:59] obecny commented on #637
this is not only about document load span, this is about creating any span
this is the most common scenario now
[code]
depends on scope manager the `getCurrentSpan()` might return different span depends on async operation, `withSpan` functionality etc. So this is a scope managers that decides what is the current scope.
Currently we don't into consideration the traceparent. This has been done only

[2019-12-21 22:26] OlivierAlbertini opened #642 "[plugin-http] update parseResponseStatus from new specs"
After reading [new specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-http.md#status), http plugin need to update [`parseResponseStatus`](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-http/src/utils.ts#L61) function...

I believe that `switch/case` should be removed because it will be too complex (hard

[2019-12-22 15:44] naseemkullah commented on #617
🙋‍♂

[2019-12-23 14:16] dyladan commented on #642
What would you prefer to have instead of the switch/case? In my opinion it is plenty readable.

[2019-12-23 20:02] #418 closed

[2019-12-23 23:02] mayurkale22 commented on #467
This is obsolete, closing it.

[2019-12-23 23:02] #467 closed

[2019-12-23 23:05] mayurkale22 commented on #368
Closing via #470, feel free to reopen if you disagree.

[2019-12-23 23:05] #368 closed

[2019-12-23 23:06] mayurkale22 commented on #384
Closing via #631

[2019-12-23 23:06] #384 closed

[2019-12-23 23:15] #491 closed

[2019-12-26 06:05] naseemkullah commented on #603
🙋‍♂

[2019-12-26 06:06] naseemkullah commented on #603
I can take this, I will be going with the airbnb linter as it is the most popular as per https://www.npmtrends.com/eslint-config-airbnb-vs-eslint-config-google-vs-eslint-config-standard-vs-eslint-config-airbnb-base-vs-eslint-config-recommended-vs-eslint-config-semistandard-vs-eslint-config-transit

[2019-12-26 13:50] draffensperger commented on #642
Would it make sense for this logic to be shared between the web browser XHR and HTTP plugins in some way? Maybe a `core-http` library of some kind? Not sure if it's worth it since "duplication is better than the wrong abstraction", but wanted to ask the question anyway.

cc/ @obecny

[2019-12-26 16:41] draffensperger commented on #637
In my opinion there are actually two different related things going on here.

* **All traces generated in the browser should have a _link_ back to the initial page load context and follow its sampling decision**. I think an attribute and link is better than an actual parent, because then it would make the initial page load trace really long since it would have child spans for the user interactions

[2019-12-26 18:35] #518 closed

[2019-12-26 19:06] draffensperger commented on #618
Is there any use case for un-patching other than disabling a plugin? I can't think of one personally, which leads me to think that that we really need something like a "disable plugin" functionality that could turn off all the plugin specific code besides calling the underlying patched function.

I am personally very much in favor of getting rid of shimmer in favor of a ligher weight alternative,

[2019-12-26 19:16] draffensperger opened #650 "Add cross-browser CI tests of browser plugins"
It would be nice to be able to publish an official browser support matrix for the OpenTelemetry web related plugins. We could use [Sauce Labs](https://saucelabs.com) or [Browser Stack](https://www.browserstack.com/) to automate this testing especially of browsers like Internet Explorer, Safari and Android/iOS browsers that can be hard to test on regular CI platforms.

It would be nice to show the

[2019-12-26 19:26] dyladan commented on #618
@draffensperger I was thinking the same thing wrt not unpatching and just delegating. It seems like unpatch is an unnecessarily dangerous step when it comes to multiple wrapping

[2019-12-28 16:15] vmarchaud commented on #622
I've [tried to implement](https://github.com/open-telemetry/opentelemetry-js/commit/bbb75a55d0994ff48d0113dfe92665917f5ace5e) the [APM API](http://mongodb.github.io/node-mongodb-native/3.4/reference/management/apm/#api) thats designed to collect traces for mongodb operations. However they didn't fix the underlying design of their driver which loose the context, so we still need to patch every meth

[2019-12-29 20:54] vmarchaud commented on #618
And specially, disabling it **at runtime** which i believe is a really really uncommon thing. Generally people implement a toggle via the environment and disable them by restarting each app, which make the `unpatch` never used.

[2019-12-29 21:15] vmarchaud commented on #636
Totally agree (#654), it's already implemented in all vendor specific APMs because it's such a pain to debug for end users.

[2019-12-29 21:24] vmarchaud opened #655 "Allow to disable plugin via environment variable"
When discussing about the `unpatch` method of each plugin, i said [that](https://github.com/open-telemetry/opentelemetry-js/issues/618#issuecomment-569541238) which make me think that it would be useful to disable plugin but via environemnt variable.

The use cases is pretty simple: modifying the code can take more than 10min for some CI setup (time to rebuild, push images etc) so removing plugins

[2019-12-29 21:27] Flarna commented on #618
In my opinion it's not really possible at all to unpatch everything.

If you patch an API like e.g. `fs.read()` everyone who imported via `const { read } = require("fs")` has the monkey patched version cached and unpatch can't change this.

I think the only valid use case for unpatch is for module tests.

[2019-12-30 13:43] dyladan commented on #655
I think we should wait for the named tracer PR to merge since this is the use case it is designed for

[2019-12-30 14:19] obecny commented on #642
could we have an enum for that ?

[2019-12-30 14:47] obecny commented on #618
it's not only about unpatching but patching too. If any other library will use shimmer on the same function it will remove our patch, it will be exactly the same if someone else used shimmer to patch function and then we will patch it - it will remove someone else patch.

[2019-12-30 14:59] vmarchaud commented on #618
@obecny Totally, that was a issue when i was working at an APM vendor, we couldnt be used at the same time as another. That could be tolerable since generally you don't have multiple APM at the same time.
However for some company that monkey patch for other cases than monitoring (@sqreen for ex) it's really problematic, i believe we should make sure that those product can still works with OT (/cc

[2019-12-31 19:30] naseemkullah commented on #636
Can you please confirm that `http` needs to be loaded after, or that simply the http server must be instantiated after the loading of `NodeTracer` (but the http module could be loaded before) ? For `express` the latter is true and I would presume the same for all libns.

[2019-12-31 19:31] naseemkullah commented on #636
See: https://github.com/naseemkullah/k8s-job-dispatcher/blob/d9edefbdd29764ee414de9aa7333cec7d66b6254/server.js#L1-L2 and https://github.com/naseemkullah/k8s-job-dispatcher/blob/d9edefbdd29764ee414de9aa7333cec7d66b6254/server.js#L7

[2020-01-01 16:47] vmarchaud commented on #636
@naseemkullah Nope, the tracer should always be required **before** any module. In your example, the patch still works because we patch the `prototype` of the http server which works for already instanciated server, however sometimes it's not possible.

[2020-01-01 17:14] vmarchaud commented on #535
I believe we can close this one since it has been merged

[2020-01-01 17:49] #535 closed

[2020-01-01 18:41] naseemkullah commented on #636
Thanks @vmarchaud

[2020-01-02 02:04] pauldraper commented on #615
Plugins already have options to ignore data, e.g. [@opentelemetry/plugin-http](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-http).

This makes sense for specific common-ish cases.

Backends could have more sledgehammer approaches with regexes, etc.

Mask nothing. Masking is an exception to the normal behavior, and the API should reflect that.

Not as

[2020-01-02 02:10] pauldraper commented on #585
The http plugin configuration should really just accept a generic filter hook.

Instead of

[code]

use the slightly more verbose.

[code]

Filtering could depend on URL, method. It could use equality, startsWith, regex, something else.

[2020-01-02 02:16] pauldraper commented on #515
There's really no reason for OpenTelemetry to use any protos unless protos are already being used.

[2020-01-02 02:23] pauldraper commented on #295
`fast-json-stringify` is pretty small. The gain would be minimal.

On the list of things to do, this is at best very far down, and at worst more trouble than it could ever be worth.

[2020-01-02 02:24] pauldraper commented on #393
Agreed. Node.js made them two different modules, but I think that is hardly a good reason by itself.

[2020-01-02 07:07] #373 closed

[2020-01-02 07:07] #394 closed

[2020-01-02 13:26] naseemkullah commented on #623
The [swagger-stats](https://swaggerstats.io/guide/intro.html#what) has a nice list of things collected out of the box we can draw inspiration from, including:

* Counts of requests and responses(total and by response class), processing time (total/avg/max), content length(total/avg/max) for requests and responses, rates for requests and errors. This is baseline set of stats.
* Statistics by Reques

[2020-01-02 13:45] obecny commented on #610
@draffensperger I think that probably it should not be a part of document load plugin, but it should be a part of scope managers. The plugins can be loaded in different order, or the document load plugin don't even need to be loaded. However if click happens before document load event it should have still correct span and I think this should be responsibility of scope managers.

[2020-01-02 13:47] obecny commented on #610
or a user interaction plugin

[2020-01-02 13:52] draffensperger commented on #610
I agree that scope managers need to be the ones storing the current trace parent, and yes, plugins can be loaded in any order.

I guess what I'm saying is that the document load plugin isn't really making proper use of the scope manager, because it doesn't set its root span as the current span in the scope manager - it just generates it after the fact once the `load` event finishes. If it did set

[2020-01-02 14:01] draffensperger commented on #295
My thinking with inlining the resulting function from `fast-json-stringify` rather than depending on the library is based on a security consideration - each new dependency you add, no matter how small, provides an opportunity for the author of that package to be compromised and push a vulnerable version of the package. In principle, cou would audit every single package dependency all the way down

[2020-01-02 16:12] OlivierAlbertini opened #656 "[CI] PR Label Enforce"
**Describe the solution you'd like**
Enforce certain labels on a PR before you can merge by using status checks

**Alternative**

- https://github.com/a1motion/auto-badge
- https://github.com/marketplace/pr-label-enforcer
- https://github.com/marketplace/auto-add-label

**Additional context**
As discussed during SIG, Probot seems to be a good fit : https://probot.github.io/apps/pr-label-enforcer/

[2020-01-02 16:25] OlivierAlbertini commented on #636
I'm agree with @vmarchaud. It's a good rule. I also encountered some issues as well during integrations with http if tracer was initialized after...

[2020-01-02 18:46] #600 closed

[2020-01-02 23:48] mayurkale22 commented on #602
@obecny is this still relevant issue?

[2020-01-02 23:49] mayurkale22 commented on #617
@dyladan @naseemkullah  Can we close this one via #644?

[2020-01-02 23:50] obecny commented on #602
@mayurkale22 hard to say tbh , if build is not failing randomly anymore it might've been fixed

[2020-01-02 23:55] mayurkale22 commented on #602
I'm going to close this issue. Feel free to reopen the issue if you see this again.

[2020-01-02 23:55] #602 closed

[2020-01-03 14:04] #617 closed

[2020-01-03 20:16] mayurkale22 commented on #634
Closed via #638

[2020-01-03 20:16] #634 closed

[2020-01-04 08:47] vmarchaud commented on #622
This has been released in the `v0.3.2` version, @shaz1v if you want to test out !

[2020-01-04 08:47] #622 closed

[2020-01-05 17:47] vmarchaud opened #666 "Automatic tracing of express"
**Is it applicable for Node or Browser or both**
Node only

**Do you expect this plugin to be commonly used**
Weekly Downloads: 6M (https://www.npmjs.com/package/express)

**What version of plugin are you interested in using**
Versions: 4

**Additional context**

- **Is there a reference you could point for the well-defined lifecycle methods**
Opencensus-style instrumentation that i've implemented

[2020-01-05 17:52] vmarchaud opened #667 "automatic tracing of ws"
**Is it applicable for Node or Browser or both**
Node

**Do you expect this plugin to be commonly used**
Weekly Downloads: 10M (https://www.npmjs.com/package/ws)

**What version of plugin are you interested in using**
Versions: 5 - 7 (cover last 2 years of releases)

**Additional context**

- **Is there a reference you could point for the well-defined lifecycle methods**

I believe only elastic im

[2020-01-05 21:05] naseemkullah opened #668 "[ioredis] No traces"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.3.2

### What version of Node are you using?
12.x.x

### What did you do?

[code]

### What did you expect to see?
traces in Jaeger

### What did you see instead?
Nothing

### Additional context
output of command:
[code]

Does this have anything to do with no parentSpan existing when r

[2020-01-05 22:04] dyladan commented on #666
What do you think would be gained beyond the `http` information already available? Are we better off auto-instrumenting it or just exporting a middleware that uses the API?

[2020-01-05 22:07] dyladan commented on #668
Even if a plugin starts a span with no parent (e.g. a root span) it should generate a trace. I'll try to reproduce this monday morning.

[2020-01-05 22:09] dyladan commented on #668
@naseemkullah i'm assigning both of us to this since you wrote the plugin.

[2020-01-05 23:38] OlivierAlbertini commented on #666
You can get the route attribute.

I have already done an express plugin internally for OpenTelemetry and I don't see a real advantage to have it in this repo... I did it because some packages like `body-parser` seems to clear the scope... So I bind the middleware after `body-parser` to recreate it if this happens. You can also create an error middleware where you can add the detailed error to the

[2020-01-05 23:56] OlivierAlbertini commented on #668
Is this happens with `Zipkin` ?

[2020-01-06 04:40] naseemkullah commented on #668
Yep!
It's an issue with the ioredis plugin 😞

[2020-01-06 14:03] dyladan commented on #666
dropping scope is a big deal so that sounds like a good win for us. can you work with @vmarchaud since you already made an internal version?

[2020-01-06 14:15] vmarchaud commented on #666
@OlivierAlbertini I didn't had the issue with my OC plugin, that's weird.

@dyladan That was a common request back when i worked at @keymetrics to allow customers to aggregate by the route (since it's common to have an id in urls). Also useful to pinpoint if you have a sync middleware (like auth with jwt) taking a lot of time.

I'm not sure to understand since it was dropping the scope it should f

[2020-01-06 14:21] dyladan commented on #666
@vmarchaud let me rephrase. If the scope is being dropped, and creating a plugin can prevent it from being dropped, then that sounds like a good win.

[2020-01-06 14:26] vmarchaud commented on #666
@dyladan Got it, indeed its important in that case.

[2020-01-06 17:59] dyladan commented on #668
@naseemkullah the "supported versions" specifier is `^2.0.0`. The current version of `ioredis` is `4.14.1`. Please update the ioredis version specifier and test with 3 and 4.

[2020-01-06 17:59] dyladan commented on #668
https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-ioredis/src/ioredis.ts#L25

[2020-01-06 18:00] mayurkale22 commented on #668
At first glance, looks like supported version for `ioredis` is `^2.0.0` (https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-ioredis/src/ioredis.ts#L25) but the installed version is `4.14.1`.

[2020-01-06 18:06] dyladan opened #669 "Add a test to ensure plugins are targeting latest versions"
- [x] This only affects the JavaScript OpenTelemetry library

In order to avoid issues like #668, I am suggesting we add a test in the ci which iterates over the plugins, checks their version specifiers, and ensures that the latest npm version matches the version specifier. I am not aware of any plugins we have right now which are not targeting the latest npm version.

[2020-01-06 18:09] mayurkale22 commented on #668
@dyladan you beat me by few seconds :)

[2020-01-06 18:36] OlivierAlbertini commented on #666
Currently we have Opencensus and OpenTelemetry in our environnement and we have the issue with OpenCensus "0.0.19" for sure and OpenTelemetry "0.1.1".

It doesn't happens every time (it's really hard to reproduce) and I don't know how the body parser works but having a middleware after have fixed the issue. I flagged those spans differently in order to see if there is a pattern...

@dyladan, yes I

[2020-01-07 01:55] naseemkullah commented on #668
Thanks for pointing this out. I'm not sure how to test for version 3.x.x and 4.x.x

I've installed versions 2.x.x, 3.x.x and 4.x.x in the plugin folder itself and ran `npm run test:local` successfully, not sure why that is.

Furthermore, I tried running the example in the ioredis example PR with ioredis 2.x.x but got:

[code]
which I assume has something to do with the redis types package in the p

[2020-01-07 02:00] naseemkullah commented on #668
In any case https://github.com/open-telemetry/opentelemetry-js/pull/671 created

[2020-01-07 14:08] dyladan commented on #668
The tests pass because they do not depend on the plugin loader. The plugin loader is what is preventing the plugin from being loaded when the version specifier doesn't match in a regular application. In the tests, you explicitly `enable()` the plugin regardless of the version of `ioredis` installed as a dependency.

I would install ioredis version 3.x.x and 4.x.x in the example and make sure it wo

[2020-01-07 14:31] naseemkullah commented on #668
Ah I see, thanks for explaining.

I've installed 3.x.x and 4.x.x in the example but the plugin does not patch as it does with 2.x.x, which errors out with `TypeError: Redis is not a constructor`... how does the current plugin target 4.x.x ? I thought it targetted the `supportedVersion` of 2.x.x

[2020-01-07 14:32] naseemkullah commented on #668
Furthermore, how can I have the example override the ioredis-plugin in npm, with one in my local repo (where I edit the supportedVersions) ? I tried running `lerna link` but that did not seem to do it

[2020-01-07 15:48] dyladan commented on #668
You don't use `link`, but actually put the filepath directly in the package.json. So you would have:

[code]

[2020-01-07 21:18] obecny commented on #667
Should we also support web socket on web too then ?

[2020-01-07 21:23] dyladan commented on #667
Does websocket have a place to put the traceparent? afaik there is no way to add the tracing info without potentially modifying the user's payload?

[2020-01-07 21:30] vmarchaud commented on #667
@obecny I believe we should at some point but i would prefer to open a dedicated issue

@dyladan The websocket handshake is done in http, so we could use that i believe. It depend if we want one trace per connection or one trace per packet

[2020-01-07 21:38] obecny opened #672 "bluebird, promise, q"
Make sure those 3 libraries for promises

- bluebird 10,5mln downloads/week
- promise 4.8mln downloads/week
- q 4,7mln downloads/week

works fine with context propagation for scope managers on web and node
If not then add support for them.
Unless someone can already answer these precisely, otherwise this can be a spike to see what needs to be done.

[2020-01-08 02:30] dyladan commented on #667
One per connection is of dubious value... Most websocket use cases are long running and encompass many user actions.

[2020-01-08 13:26] naseemkullah commented on #668
Thanks @dyladan , As for:

[code]

which appears regardless of ioredis version used by main application,  I've tried adding `"esModuleInterop": true` and then also  `"allowSyntheticDefaultImports": true`  to the `tscfonfig` file which did not seem to help. Any other ideas?

[2020-01-08 13:47] dyladan commented on #668
I think it is probably a simple matter of using the `ioredis` module incorrectly. If you're changing the `ioredis` module version, but not the `@types/ioredis`, then they probably don't match.

[2020-01-08 16:32] obecny commented on #672
so far
1. browser:
- `bluebird` works fine with zone
- `q` doesn't work with zone
- `promise` doesn't work with zone

[2020-01-08 18:02] nstawski commented on #667
I would love to take this task. Would take me some time to solve though.

[2020-01-08 20:31] shaz1v opened #678 "mongoose tracer plugin"
**Is your plugin request related to a problem? Please describe.**
After the 0.3.2 release and addition of the new mongodb plugin, I've started to use the library to trace our projects, while ones that are based are using the mongodb lib directly worked fine, I saw no traces when using mongoose (although it is based on mongodb).
After digging a bit into mongoose code I'm not entirely sure I'm corre

[2020-01-09 05:58] naseemkullah commented on #668
I am changing the `ioredis` version in the main/example app, which does not have `@types/ioredis`.

`@types/ioredis` and `ioredis` in the plugin stay the same (both at latest available versions).

[2020-01-09 10:36] vmarchaud commented on #667
@nstawski Feel free to ping me if you need any help or guidance on that, i've already looked up on how to implement that in the past.

[2020-01-09 16:43] mayurkale22 opened #679 "TracerRegistry: set name to `default`"
Originates from https://github.com/open-telemetry/opentelemetry-js/pull/582#pullrequestreview-340077305

In case of `TracerRegistry`'s `getTracer(name, version)` method, use `default` name when an invalid name (null or empty string) is specified. With this, we can remove `default` name from all the examples : `.getTracer('default’);` => `.getTracer();`.

Specs: https://github.com/open-telemetry/op

[2020-01-09 16:46] mayurkale22 commented on #403
Named Tracer is implemented via #582, closing this one. Will open a separate issue for Named Meter.

[2020-01-09 16:46] #403 closed

[2020-01-09 16:48] mayurkale22 opened #680 "Implement Named Meters"
Similar to Named Tracers, see #403

Please make sure to also update the documentation if necessary (`Meter` creation).

[2020-01-09 22:00] mayurkale22 opened #682 "Update getting-started guide based on TracerRegistry"
The Named Tracers (`TracerRegistry`) PR has been merged now(#403), we need to update the documentation (examples and instructions) in [getting-started](https://github.com/open-telemetry/opentelemetry-js/tree/master/getting-started) guide.

[2020-01-10 23:24] xiao-lix commented on #680
🙋‍♀️ I can take this if it's still available.

[2020-01-11 06:56] naseemkullah opened #684 "prometheus/metrics express middleware"
**Is your feature request related to a problem? Please describe.**

Somewhat related to #623 ... but particular to express apps. It would be great to provide metrics/prometheus middleware to capture latency + error rates for requests.

**Describe the solution you'd like**

Simlar to :
https://github.com/jochen-schweizer/express-prom-bundle#readme
https://github.com/joao-fontenele/express-prometheu

[2020-01-11 17:01] OlivierAlbertini commented on #684
Having metrics inside our plugins is definitely in the roadmap.
We are working on the [express plugin](https://github.com/open-telemetry/opentelemetry-js/pull/685) (tracing part only), you can review it for helping @vmarchaud. For the metrics part, we need to wait a bit until the sdk is ready.

[2020-01-11 17:20] naseemkullah commented on #684
Thanks @OlivierAlbertini , if I understand correctly, the express plugin being worked on will eventually encompass both tracing and metrics data within it, that's to say there will not be a separate tracing express plugin and a separate express metrics plugin?

[2020-01-11 17:38] OlivierAlbertini commented on #684
yes, one plugin for both.

[2020-01-11 17:41] naseemkullah commented on #684
Alright I've changed the title of this Issue, it can be a placeholder for when the express plugin is created and the metrics sdk is ready. Please add applicable labels to the issue.

[2020-01-12 23:06] naseemkullah commented on #684
OK so this issue depends on #666, #402 and #452

[2020-01-13 14:06] dyladan commented on #679
I'm not sure I agree that this is a good idea. For one thing, the specification states that `name` is a required property. For another, the obligatory nature of the name in a named tracer is what makes it useful. If you make it possible to acquire a tracer without providing a name, then library devs that integrate otel hooks might not provide one, which would render the original purpose impossible

[2020-01-13 14:31] DotSpy opened #686 "plugin-http install error"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

0.3.2
### What version of Node are you using?

v13.3.0

### What did you do?
If possible, provide a recipe for reproducing the error.
[code]
### What did you expect to see?

no errors :)
### What did you see instead?
[code]

### Additional context
Add any other context about the problem

[2020-01-13 14:34] dyladan commented on #686
It looks like node 13 makes significant changes to the `http` module and associated modules. The latest supported version of node is currently 12

[2020-01-13 14:54] DotSpy commented on #686
@dyladan Actually i needed this enum
/opentelemetry-js/packages/opentelemetry-plugin-http/src/enums/Format.ts
[code]
i don't know how for TS, but it's good idea to have enum with all formats in some base lib that people can use instead of raw strings

[2020-01-13 17:43] mayurkale22 commented on #679
Hmm, this is a valid concern. I think intention was to make `.getTracer(name);` usage simple and convenient, especially for the examples.

[2020-01-13 18:11] dyladan commented on #679
I think if that is the concern, I would rather update the `getTracer` calls to use good names instead of "default". This would help people reading the examples understand what the name parameter is anyways.

[2020-01-13 18:24] mayurkale22 opened #688 "Fix build warning"
[code]

[2020-01-13 18:38] mayurkale22 commented on #679
Just did the comparison with other libraries. Looks like good names should solve the issue.

**Go:** https://github.com/open-telemetry/opentelemetry-go/blob/master/example/basic/main.go#L73

**Python:** https://github.com/open-telemetry/opentelemetry-python/blob/master/examples/basic_tracer/tracer.py#L45 (name of the current module)

**Java:** https://github.com/open-telemetry/opentelemetry-java/b

[2020-01-13 19:49] obecny commented on #679
@dyladan the spec on one hand says that name is required but then it also says that when name is invalid `null or empty string` then it should still work. Translating this to Then to implement this to js it means that you should make the param optional (but still highly recommended) and set a default name ` a working default Tracer implementation as a fallback is returned rather than returning nul

[2020-01-13 20:03] dyladan commented on #679
"working default tracer implementation" could be noop tracer. This is just to prevent invalid use of the API from causing crashes. For example, if a js library implements OpenTelemetry but calls the API incorrectly and leaves out a name, the worst case should be that they get no traces. It should never crash the program. In my opinion, "required" is very unambiguous and making the property optiona

[2020-01-13 20:16] obecny commented on #679
whoops @dyladan I think I edited your response adding mine, not sure why is this even possible :/

[2020-01-13 20:17] obecny commented on #679
Let me copy the whole sentence
`
A TracerFactory could also return a no-op Tracer here if application owners configure the SDK to suppress telemetry produced by this library.
`
So the case with no-op Tracer says it's the application owner should configure the SDK this way, not "us" so if name is not provided it should still work fine - returning the correct tracer not the no-op right ?

`
In case

[2020-01-13 20:18] obecny commented on #679
@dyladan copied from email, should be fine now

[2020-01-13 20:24] dyladan commented on #679
The No-Op tracer is a working tracer, it just accomplishes a different goal. Notice the examples of "not working" are null or throw. In any case, a name is not optional and we should do everything in our power to ensure that it is used correctly. Returning a no-op tracer if name is excluded would force library developers to include a name, while at the same time not causing crashes in applications

[2020-01-14 00:17] naseemkullah opened #692 "Remote sampling"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

I want to have the sampling strategy configured at the Jaeger Collector as per https://www.jaegertracing.io/docs/1.16/sampling/#client-sampling-configuration ... this requires the client to have a "remote sampling" strategy. Is this possible today?

[2020-01-14 01:18] OlivierAlbertini commented on #686
I didn't get any issue with node 13.

/opentelemetry-js/packages/opentelemetry-plugin-http/src/enums/Format.ts

Do you mean that you solved the issue but still need this enum ?

[2020-01-14 03:34] naseemkullah commented on #692
- @yurishkuro

[2020-01-14 04:33] naseemkullah opened #693 "How does one adjust the sampling rate when using automatic tracers?"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

Please see title.

[2020-01-14 04:56] mayurkale22 commented on #693
This is my understanding...
[code]
All the plugins will get same sampler. Do you want to control the sampling rate for each plugin individually?

[2020-01-14 05:00] naseemkullah commented on #693
Thanks @mayurkale22 , at this time controlling for all plugins is fine, but that granular control might be nice someday.

Also sampling 100% but having the otel collector decide on sampling would be nice as Jaeger offers: https://www.jaegertracing.io/docs/1.16/sampling/#collector-sampling-configuration

That way sampling decisions can be made at a central place via config.

[2020-01-14 05:00] #693 closed

[2020-01-14 05:34] naseemkullah commented on #682
🙋‍♂

[2020-01-14 07:50] DotSpy commented on #686
@OlivierAlbertini Thanks, i just used tsconfig from your example and now its working for me :)

Do you mean that you solved the issue but still need this enum ?
- For this i mean it's just will be good  to have smth like core project\library that contains such things as enum with all Formats and etc to be used in opentelemetry and another projects

[2020-01-14 07:50] #686 closed

[2020-01-14 13:21] naseemkullah opened #694 "Sampling strategies"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

Are other sampling strategies in the works such as rate limiting and adaptive sampling?

[2020-01-14 13:30] naseemkullah opened #695 "TypeError: NodeTracerRegistry is not a constructor"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.3.2

### What version of Node are you using?
12.x.x

### What did you do?
Used `NodeTracerRegistry` instead of `NodeTracer`

### What did you expect to see?
no error

### What did you see instead?
[code]

### Additional context
Add any other context about the problem here.

[2020-01-14 13:32] dyladan commented on #695
I need to see more code here before I can be sure what has happened, but all of the plugins, examples, and tests are working so something with your tsconfig might be wrong.

[2020-01-14 13:34] dyladan commented on #694
I think more advanced sampling is planned for the future, but for now it is just simple sampling while we are in alpha. This is a question for the spec.

[2020-01-14 13:38] naseemkullah commented on #695
This is not within the opentelemetry-js codebase btw, I am trying to use this IRL:

[code]

[2020-01-14 13:40] naseemkullah commented on #694
Thanks, I'll bring it up there!

[2020-01-14 13:40] #694 closed

[2020-01-14 13:45] naseemkullah commented on #682
Can you provide a very brief tl;dr as to why this change from tracers to tracer registries has been made? It has to do with being able to name the tracers?

[2020-01-14 13:58] dyladan commented on #682
the most basic use case is disabling built-in instrumentation. Say mongodb builds opentelemetry directly into their library, but they mess it up; you can configure the tracer registry to return no-op tracers to the mongodb library.

[2020-01-14 14:00] vladislav-kiva opened #696 "Add support for jaeger propagation formats"
**Is your feature request related to a problem? Please describe.**
Problem: In our company we have an existing ecosystem of around 50 microservices per domain. Practically all instrumented with existing jaeger libraries and they are using jaeger standards like ```uber-trace-id``` HTTP header and so on.

**Describe the solution you'd like**
I think we should implement smth like JaegerHttpTraceForma

[2020-01-14 15:26] naseemkullah commented on #695
@dyladan  Are the named tracers supposed to work today in projects that use opentelemetry? or will it only be available in `0.3.3` ?

[2020-01-14 15:45] mayurkale22 commented on #695
Named tracer functionality is not yet released, it will be available with 0.3.3 release.

[2020-01-14 15:46] naseemkullah commented on #695
Doh! Thanks.

[2020-01-14 15:47] dyladan commented on #695
oh i'm sorry I didn't realize you were trying to use the npm version. yes it is not yet available

[2020-01-14 15:47] naseemkullah commented on #695
Is it possible to create release branches? e.g. branch 0.3.3, whereas master branch only has docs that are applicable today?

[2020-01-14 15:57] dyladan commented on #695
Please create a new discussion issue for that as it is a completely separate issue.

[2020-01-14 15:57] #695 closed

[2020-01-14 16:04] naseemkullah opened #697 "dev branch?"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

As an end user I find myself confused about what features are available today as everything is being pushed to the master branch.

[2020-01-14 17:16] dyladan commented on #697
If we want to do something like this, I would propose that we do the following:

- `dev` branch takes over the role that `master` currently takes - the default branch that all changes are made against
- `master` branch is the latest release at all times
- continue adding `x.x.x` tags

[2020-01-14 17:21] naseemkullah commented on #697
a merge to master from dev coincides with a tagged release, is that it?

[2020-01-14 17:28] OlivierAlbertini commented on #696
If I understand correctly, you can do it like:

1. Implementing `HttpTextFormat` interface.
2. passing the concrete class to the NodeTracer config like :
[code]
`JaegerHttpTraceFormat` is already very close to `HttpTextFormat` interface

[2020-01-14 17:35] OlivierAlbertini commented on #697
I think it's clear with this https://github.com/open-telemetry/opentelemetry-js/releases

[2020-01-14 17:56] dyladan commented on #696
HttpTextFormat interface is just an interface that your formatter must conform to. There is a text format and a binary format interface. You should implement the text format interface. I think @OlivierAlbertini was referring to the `HttpTraceContext` which is very close to the Jaeger format.

[2020-01-14 17:56] dyladan commented on #696
I removed the target label because this could be used for both web and node.

[2020-01-14 18:01] mayurkale22 commented on #696
We can re-use code from OpenCensus: https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-propagation-jaeger

[2020-01-14 19:32] dyladan commented on #696
@vladislav-kiva are you implementing this?

[2020-01-14 19:38] dyladan commented on #697
This will be heavily mitigated when we finally get `gh-pages` working. I'm not sure what is taking so long.

[2020-01-14 21:23] vmarchaud commented on #696
@dyladan He wrote on the node gitter that i started to work on that, hence i assigned it to him

[2020-01-14 22:14] draffensperger commented on #672
I'm curious if it's possible to figure out whether the Zone.js library gets loaded before the promise library and whether that makes any difference. My understanding is that Zone.js works by monkey-patching the core browser APIs and so that as long as its loaded first it *should* ideally work with any kinds of wrappers / polyfills around those APIs. Though if it's loaded second it may not work if

[2020-01-14 22:17] obecny commented on #672
FYI I'm finishing already the 2 new plugins for `q` and for `promise`.

[2020-01-15 03:08] draffensperger commented on #672
OK, makes sense. I think it still would be worthwhile to investigate how Zone.js behaves related to the order of NPM package loading, because if Zone being loaded first can solve these problems as well, then we might get more coverage faster.

For example there are also various HTTP request wrapper packages that would probably have similar behaviors. As part of our work on OpenCensus Web, we found

[2020-01-15 10:10] Flarna opened #698 "Use buffer instead string for traceId and spanId"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

The fields `traceId` and `spanId` in `SpanContext` are of type `string` formatted as hex. This requires several conversions:
* a buffer to string conversion during creation
* a string to buffer conversion during exporting (at least if opentelemetry protoc

[2020-01-15 12:48] vmarchaud commented on #698
I'nm not in favor of adding a dedicated class/interfaces for that because i feel it had much complexity that isnt needed there, i would prefer a consensus on one way to create/store those values. Buffer are fine for me.

[2020-01-15 13:51] draffensperger commented on #698
If we go this route, we should use `ArrayBuffer` for browser compatibility, and it does have decent browser support (see [MDN ArrayBuffer docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer)).

Have you thought about the need to serialize / deserialize these in trace headers for HTTP? I guess I'm not totally convinced that all use cases would benefit

[2020-01-15 14:52] vladislav-kiva commented on #696
@dyladan yeap for now i already wrote it and now i'm writing tests|

[2020-01-15 14:54] vladislav-kiva commented on #696
@mayurkale22 thanks i will take a look on it, for now i was using https://github.com/jaegertracing/jaeger-client-node

[2020-01-15 16:01] Flarna commented on #698
Serialization of trace headers happens only on process entry/exit. Some protcols may need the buffer representation not string like HTTP - maybe to get a more compact/efficient result.

Each process entry/exit is also represented by a Span which usually needs to be exported.
Therefore for HTTP spans with a TraceTag string and binary representation is needed always.
But for internal spans or spans

[2020-01-16 17:42] OlivierAlbertini opened #703 "Can't run getting-started for the ts-example"
### What version of OpenTelemetry are you using?
3.2

### What version of Node are you using?
10.9.0

### What did you do?
[code]

### What did you expect to see?
I expect to see traces in Zipkin/Jaeger

### What did you see instead?
[code]

### Additional context
Also after fixing this issue, `npm run start-tracing` didn't work until I add the `ts-node` in dev deps with the right version (my vers

[2020-01-16 18:53] #679 closed

[2020-01-17 19:22] obecny opened #707 "Add auto instrumentation for winston"
Weekly downloads: 3.8 mln
https://www.npmjs.com/package/winston

[2020-01-17 22:00] #703 closed

[2020-01-19 00:35] OlivierAlbertini commented on #586
Can  we close this issue ?

[2020-01-19 03:02] naseemkullah commented on #586
Yep!

[2020-01-19 03:02] #586 closed

[2020-01-20 19:13] #696 closed

[2020-01-20 20:52] #682 closed

[2020-01-20 23:04] Flarna opened #711 "Minimum NodeJS version is 8.5.0 instead 8.0.0"
### What version of OpenTelemetry are you using?
0.3.2

### What version of Node are you using?
<8.5.0

### What did you do?
create a `Span` (e.g. via example basic-tracer-node)

### What did you expect to see?
it should work

### What did you see instead?
crash because of `Error: Cannot find module 'perf_hooks'`

### Additional context
perf_hooks module was added in 8.5.0 - see https://nodejs.org

[2020-01-21 01:28] dyladan opened #712 "Jaeger exporter keeps program open indefinitely"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

0.3.2

### What version of Node are you using?

12, 10, 8

### What did you do?
If possible, provide a recipe for reproducing the error.

[code]

### What did you expect to see?

Program exits after redis command

### What did you see instead?

Program continues to run

### Additional c

[2020-01-21 01:30] dyladan opened #713 "ioredis plugin breaks ioredis"
At the end of the constructor, the ioredis plugin returns `this._moduleExports.prototype;`. The types don't complain, but the ioredis module is completely broken and unuseable.

fix: return `return this._moduleExports;`

[2020-01-21 04:56] naseemkullah commented on #713
Thanks! Why is it that tests passed? I copy pasted the return from another plugin I believe

[2020-01-21 06:08] naseemkullah commented on #688
🙋‍♂

[2020-01-21 06:14] naseemkullah commented on #668
This should be fixed by #714 when merged.

[2020-01-21 11:00] vmarchaud commented on #711
Do we bump to support only `10.0.0` directly or update to `8.5.0` ?

[2020-01-21 12:25] OlivierAlbertini commented on #711
is there some statistics about what is running currently ? [You can still push serverless functions to Google cloud with node 8](https://cloud.google.com/functions/docs/concepts/nodejs-8-runtime) and node 10 is in beta ^^.

[2020-01-21 12:33] OlivierAlbertini commented on #642
We can't have juste an enum, specs requirements need some if/else logics

[2020-01-21 14:13] dyladan commented on #713
The tests do not use the plugin loader, so they are independent from this behavior.

None of the other plugins have this behavior from a cursory check.

[2020-01-21 14:19] dyladan commented on #711
I think we can support 8 since the tests run on it and it is not so much of a burden. I think we should update the node 8 tests to run using the _minimum_ version, instead of the _latest_ version as they do right now.

[2020-01-21 14:20] naseemkullah commented on #713
I think I was inspired by https://github.com/open-telemetry/opentelemetry-js/blob/8b62485d3ccfa1ae6109dab202380384b223f408/packages/opentelemetry-plugin-redis/src/redis.ts#L41 without quite understanding.

Anyhow, you think it's possible/worth it to include plugin loader in tests?

[2020-01-21 15:02] dyladan commented on #713
I can't think of an easy way to do that, and I don't want the test to depend on an outside component. In this case it was unfortunate that the module exports prototype happened to have the same type as the module exports. In most cases that won't be true. I'm not sure what would be a good general way to test this.

[2020-01-21 18:29] #668 closed

[2020-01-21 18:29] #713 closed

[2020-01-21 19:15] #680 closed

[2020-01-22 12:07] Flarna commented on #711
Some numbers from our side:
NodeJs 8: 38.6%
NodeJs 10: 54.4%
NodeJs 12: 9.8%
Since ~ 09.2019 we see more Node.js 10 then Node.Js 8.
NodeJs 12 started to get used in significant amount since 10.2019 (most likely as it is marked as LTS since this time)

[2020-01-22 17:23] OlivierAlbertini commented on #711
I'm for keeping node 8 and set 8.5.0.

[2020-01-22 17:35] OlivierAlbertini commented on #458
The issue was `grpc` dependencies. Some issues with node-gyp during the build.
As soon as it works, we should support node 13.

[2020-01-22 17:42] dyladan commented on #711
@Flarna can you provide more detailed statistics on how many of the node8 users are using versions older than 8.5? ~40% is a large number of users

[2020-01-22 20:43] dyladan opened #721 "Separate API from SDK"
cc: @mayurkale22

Currently a library wishing to integrate OpenTelemetry JS has to import `core` in order to acquire a tracer from the global tracer registry. `core` is a part of the SDK and contains many other SDK components.

### Proposal: Create a new package named `@opentelemetry/api` which exposes the public API.

This new package would be the only thing library authors would depend on. It wo

[2020-01-22 21:08] dyladan opened #722 "Create an SDK package which exports all SDK components"
Related https://github.com/open-telemetry/opentelemetry-js/issues/721

### Proposal: Create a new package `@opentelemetry/sdk` which exports all SDK components with the exception of plugins.

Assuming #721 is accepted, the final vision that I have is this:

#### Library Authors

Depend only on `api` package.

[code]

#### Application Owners

Depend on `api` and `sdk` package.

[code]

[2020-01-22 21:16] dyladan commented on #721
cc: @open-telemetry/javascript-approvers

[2020-01-22 21:16] dyladan commented on #722
cc: @open-telemetry/javascript-approvers

[2020-01-22 21:17] mayurkale22 commented on #721
What if we rename `@opentelemetry/types` => `@opentelemetry/api` and move API specific components from core package there?

[2020-01-22 21:18] dyladan commented on #721
I would be fine with that as well

[2020-01-22 21:21] dyladan opened #723 "Lock internal dependency versions"
As we can see here https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-metrics/package.json#L59, everywhere we currently depend on ourselves we are using the `^x.y.z` notation. This means if a user has `metrics@0.3.2` which depends on `core@^0.3.2`, and updates `core` to `0.3.3` or even `0.4.0`, the dependency resolver won't complain because both of those versions

[2020-01-22 21:33] mayurkale22 commented on #722
This certainly seems convenient to use(importing 1 package instead of 3), but how do we handle other sdks like `WebTracerRegistry`, `BasicTracerRegistry` and even metrics sdk.

[2020-01-22 22:14] dyladan commented on #722
`sdk` is simply a wrapper around already existing modules. If you don't want the whole sdk, you pick and choose which components you really need.

[2020-01-22 22:19] OlivierAlbertini commented on #723
if @opentelemetry/node has peerDependencies, would it be enough ? (just thinking out loud)

[2020-01-22 22:26] mayurkale22 commented on #722
Another Option (rough idea):

1. Keep `@opentelemetry/node`, `@opentelemetry/web` and `@opentelemetry/tracing` as it is.
2. Encapsulate `@opentelemetry/core` into `@opentelemetry/tracing`, this way no need to import core directly users should get everything from tracing package.
3. Encapsulate `@opentelemetry/tracing` into `@opentelemetry/node`
4. Encapsulate `@opentelemetry/tracing` into `@opente

[2020-01-22 22:28] dyladan commented on #722
by "encapsulate" do you mean tracing depends on core or that core package goes away entirely?

[2020-01-22 22:32] dyladan commented on #723
peerDependency would require our end users to manually install all the dependent packages. I don't see a strong reason to put that sort of dependency management overhead on the users.

[2020-01-22 22:36] mayurkale22 commented on #722
**tracing depends on core**, same as your wrapper idea.

[2020-01-22 22:42] obecny commented on #722
I would not change this now, rather wait until the whole spec will be in stable state and then I would think again if this is still relevant. We might yet have to change naming couple times before all will clarify and it might happen we will have to change it again to something different.

[2020-01-22 23:26] mayurkale22 opened #728 "Add usage instruction for postgres (pg-pool) plugin"
Similar to https://github.com/open-telemetry/opentelemetry-js/issues/518

https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-postgres/opentelemetry-plugin-pg-pool#usage

[2020-01-22 23:30] mayurkale22 commented on #721
Just wanted to attach original package structure issue: https://github.com/open-telemetry/opentelemetry-js/issues/6

[2020-01-22 23:31] dyladan commented on #721
Thanks. As a separate issue, I want to rename all the `packages/opentelemetry-*` directories to `packages/*`. If every package is going to have it then it doesn't seem that important to keep and is annoying to type over and over.

[2020-01-23 00:11] dyladan opened #729 "Add ForceFlush to span processor"
Per spec https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#forceflush we need to add `ForceFlush` to the Span Processors.

[2020-01-23 15:38] Flarna commented on #711
Around 5% of the NodeJs 8 processes seen use <8.5

[2020-01-23 15:42] dyladan commented on #711
@mayurkale22 @open-telemetry/javascript-approvers given that over 35% of @Flarna's users are using `node8` >=8.5, and under 2% are using versions of `node8` < 8.5, I think the best course of action is to change our supported minimum version to `8.5`. Furthermore, we should modify the circle tests to use node 8.5 rather than node latest so that we can be sure we are actually targeting what we claim

[2020-01-23 17:11] OlivierAlbertini commented on #711
also packages (package.json file) should have `engines` field to >=8.5

[2020-01-23 18:36] mayurkale22 commented on #711
This is the Node Releases, Node 8 is EOL after Jan 2020:
<img width="765" alt="Screen Shot 2020-01-23 at 10 33 18 AM" src="https://user-images.githubusercontent.com/6525361/73012740-cae6cc00-3dcb-11ea-8924-140d8d8f863c.png">

I am up changing minimum supported version to `8.5`.

[2020-01-23 18:44] dyladan commented on #711
It may be EOL but it is still the used by a very large number of users, including being the default node runtime on some serverless platforms.

[2020-01-24 13:03] #603 closed

[2020-01-24 15:02] #712 closed

[2020-01-24 20:34] obecny commented on #728
should this be linked to https://github.com/open-telemetry/opentelemetry-js/pull/733 ?

[2020-01-27 02:46] naseemkullah commented on #684
We can draw inspiration from @yuriatgoogle's https://dev.to/yuriatgoogle/custom-metrics-in-node-js-with-opentelemetry-and-prometheus-3dbd to expose the "golden signals"

[2020-01-27 15:12] DotSpy opened #734 "Jaeger incoming headers format should be able to accept url encoded value"
Practically all jaeger trace headers in http encoded via UTF-8
so trace like:
ac1f3dc3c2c0b06e:5ac292c4a11a163e:c086aaa825821068:1
become:
ac1f3dc3c2c0b06e%3A5ac292c4a11a163e%3Ac086aaa825821068%3A1
currentrly opentelemetry-propagator-jaeger unable to extract this header

[2020-01-27 15:14] dyladan commented on #734
I wonder if we should be supporting the jaeger format at all. We allow users to plug in any format they want, so having it be an external project should be no problem. I think it might be worthwhile to find a maintainer and a permanent home for the jaeger format outside of the opentelemetry repo. cc @mayurkale22

[2020-01-27 15:19] DotSpy commented on #734
@dyladan i can fix it and probably you are right it kinda belong to another project

[2020-01-27 17:48] obecny commented on #650
^^ just a friendly reminder - I can't create

[2020-01-27 18:40] dyladan commented on #650
I'll do that

[2020-01-28 00:13] #642 closed

[2020-01-28 14:35] naseemkullah opened #737 "Question about automatic metrics collection."
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

Regarding automatic metrics collection for libs...

will outgoing requests be measured as well as incoming requests? I presume for `express`, only incoming requests would be measured and errors counted, whereas for `axios` or `request` type libs, outgoing

[2020-01-28 14:50] dyladan commented on #737
This is all yet to be decided by the spec I think, but the simple answer is that we can collect as many metrics as we want as long as they are properly namespaced.

[2020-01-28 15:52] vmarchaud commented on #737
Indeed we can't speak about OT specs but for your information, OC specs required to have different metrics for incoming/outgoing requests (see [node impl](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-instrumentation-http/src/http-stats.ts))

[2020-01-28 18:28] xiao-lix commented on #728
Just realized I at the wrong issue number in #733, this issue could be closed now. 😊

[2020-01-28 18:34] #728 closed

[2020-01-28 19:28] obecny commented on #729
taking this if this is still not taken

[2020-01-28 20:56] mayurkale22 commented on #734
I agree with @dyladan, IMO we can ask the author of the Jaeger format to host the module and if they want we can add a link in top README. WDYT?

[2020-01-29 00:53] dyladan commented on #737
@naseemkullah if your question is answered can you close this issue? If not, then please let us know.

[2020-01-29 02:21] naseemkullah commented on #737
It is, thanks!!

[2020-01-29 02:21] #737 closed

[2020-01-29 09:22] DotSpy commented on #734
On another hand in opentelemetry-js packages we have jaeger exporter that works with jaeger too and i think this format not in active development so there will be not so many troubles to support it

[2020-01-29 13:20] dyladan commented on #734
I think it's fine for now, but we may want to move it later

[2020-01-29 13:26] dyladan opened #739 "[spec] Remove gauge, add observer"
OTEP: https://github.com/open-telemetry/oteps/pull/80
SPEC: https://github.com/open-telemetry/opentelemetry-specification/pull/430 (https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics.md#observer)

~Wait on https://github.com/open-telemetry/opentelemetry-js/pull/738 to merge before working on this issue.~

[2020-01-29 13:31] dyladan opened #740 "Rename Registry to Provider"
https://github.com/open-telemetry/oteps/pull/76
https://github.com/open-telemetry/opentelemetry-specification/pull/422

[2020-01-29 13:36] dyladan opened #741 "Separate layer for context propagation"
https://github.com/open-telemetry/oteps/pull/66
https://github.com/open-telemetry/opentelemetry-specification/pull/420

This OTEP is merged and spec work has begun at https://github.com/open-telemetry/opentelemetry-specification/pull/424. Other SIGs have prototypes already that the spec is being based on, so I will work with those so that when the spec merges we are in a good spot.

[2020-01-29 13:42] dyladan opened #742 "Jaeger traces get right-padded with '0's when used with jaeger propagator"
The jaeger trace id is only 8 bytes (16 hex characters), and when it is exported to Jaeger it gets right-padded.

Left-padding the trace ID instead will make Jaeger understand that these are the same trace.

[2020-01-29 13:44] #734 closed

[2020-01-29 17:03] #440 closed

[2020-01-29 17:36] dyladan opened #744 "Node 8 Build fails"
Fix: Switch to npm for builds

[2020-01-29 17:44] eitah opened #745 "Update readme with the current 0.3.3 installation guide."
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.3.3

### What version of Node are you using?
12.14.1

### What did you do?
If possible, provide a recipe for reproducing the error.
tried to follow readme here https://www.npmjs.com/package/@opentelemetry/plugin-ioredis to instantiate trackers

### What did you expect to see?
success

[2020-01-29 19:53] dyladan commented on #745
Hello @eitah. This README has actually already been updated, but an npm release has not been made yet. You can see the usage of the `ioredis` module here https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-ioredis/README.md. Sorry for the inconvenience and I'll see what I can do about getting the current package released so npm shows the correct notes.

[2020-01-29 19:53] dyladan commented on #745
cc @mayurkale22 I think we need to release `0.3.4` to fix this.

[2020-01-29 21:30] #721 closed

[2020-01-29 21:38] mayurkale22 commented on #745
As discussed, let's do this in an upcoming (within a day or two) `0.4.0` release.

[2020-01-30 12:06] cohen990 opened #752 "Unable to rely on AsyncHooksScopeManager when wrapping async functions"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.3.3

### What version of Node are you using?
13.6.0

### What did you do?
I'm using the AsyncHooksScopeManager to keep track of my current scope. I'm expecting to be able to call `tracer.withSpan(...)` and from within call `tracer.getCurrentSpan()` and have it provide me with the span

[2020-01-30 12:36] vmarchaud commented on #752
I believe it's because the callback can't be async, could you try to something like this :
[code]

[2020-01-30 12:57] cohen990 commented on #752
@vmarchaud I do believe that would work but I'm writing a logging library and need to be able to give more flexibility than this offers. I need to be able to rely on the scope manager to manage the scope properly.

I found that by modifying the scope manager as so:

from:
[code]

[2020-01-30 13:00] vmarchaud commented on #752
Indeed that would works but i believe it could have some performance impact, might need to dig a little bit more to make that change

[2020-01-30 13:04] cohen990 commented on #752
could be viable to create a second alongside the original? `withAsync`?

[2020-01-30 13:13] vmarchaud commented on #752
@cohen990 Might be a solution indeed, don't know if we could detect if the original function is async or not.

[2020-01-30 13:17] cohen990 commented on #752
https://davidwalsh.name/javascript-detect-async-function

`const isAsync = myFunction.constructor.name === "AsyncFunction";`

This apparently works?

[2020-01-30 13:24] vmarchaud commented on #752
Yep, that could do the trick. Do you have the time to make a PR for that ?

[2020-01-30 13:26] cohen990 commented on #752
I do indeed :)

[2020-01-30 13:28] vmarchaud commented on #752
Feel free to ping me on gitter if you need any help :)

[2020-01-30 13:37] OlivierAlbertini commented on #752
[code]
I won't work
Perhaps, you could always do `Promise.resolve(...)` but I'm not sure that is a solution.
Also I'm agree that async function should be supported.

[2020-01-30 13:37] bobthemighty commented on #752
@cohen990 I'd be cautious about using the constructor trick to figure out whether the traced function is async. The problem is that functions can be async by virtue of returning a Promise. I think you might be setting yourself up for bugs later.

Is it worth testing the perf impact of always awaiting?

[2020-01-30 13:41] cohen990 commented on #752
@bobthemighty I believe the library has a suite of performance tests. I'll dig in

[2020-01-30 13:43] vmarchaud commented on #752
@bobthemighty It is and we have benchmark [there](https://github.com/open-telemetry/opentelemetry-js/blob/master/benchmark/tracer.js), one would need to add a case with `NodeTracer` (which use AsyncHooksScopeManager) and modify the code to await everytime.

[2020-01-30 14:07] dyladan commented on #752
It seems like the performance impact would actually be pretty significant: multiple orders of magnitude.

I am in favor of adding a `withAsync` to be used with async functions.

[code]

[code]

[2020-01-30 14:09] vmarchaud commented on #752
Considering the impact i also think we should add a `withAsync` function.

[2020-01-30 14:10] cohen990 commented on #752
This would have to be propagated through to the Tracer level too. The tracers will need to offer a `withSpanAsync` function which uses the `withAsync` otherwise the change would be inaccessible at the application level

[2020-01-30 18:20] OlivierAlbertini opened #754 "Add "breaking" label"
I think we should add `breaking changes` label in PR in order to identify these changes also it add some value to developers since It will be displayed in the changelog file.

WDYT ?

[2020-01-30 18:23] dyladan commented on #754
Generally think that's a good idea for a lable, but we now have 44 labels. I think we should go through and clean out the ones that overlap or don't get used.

[2020-01-30 18:26] OlivierAlbertini commented on #754
I'm agree. Also I see that `lerna.json` has already a label "breaking" for the changelog file. are you ok if I add this label ? I can create another issue for cleaning labels that don't get used.

WDYT ?

[2020-01-30 18:32] obecny commented on #752
@cohen990 did you make the same test in web only with ZoneScopeManager without modifying the code yet ? Does it work ?

[2020-01-30 18:40] obecny commented on #752
would something like this work ?

[code]

[2020-01-30 18:45] dyladan commented on #754
sure

[2020-01-30 20:52] OlivierAlbertini opened #755 "Remove labels that don't get used"
From this https://github.com/open-telemetry/opentelemetry-js/issues/754#issuecomment-580387534
We should remove labels that we don't use.

Here what I identified:

- cleanup
- Draft
- do-not-merge/hold
- investigating
- triage me
- unrelated-ci-failure
- WIP

[2020-01-30 20:53] OlivierAlbertini commented on #754
I opened #755. I close this one.

[2020-01-30 20:53] #754 closed

[2020-01-30 21:13] mayurkale22 commented on #755
**triage-me**: It is for newly created issue. Ideally, we should have review untriaged issues and share initial feedback to OP and determine its workability. It is the easiest way to track unanswered issues.

**investigating**: To inform OP that issue is actively being worked upon by a contributor.

I agree with other labels.

[2020-01-31 01:59] mayurkale22 opened #756 "Update the web examples to use WebTracerRegistry"
Update the examples to use `WebTracerRegistry/WebTracerProvider` instead of `WebTracer`.

[2020-01-31 07:35] Flarna commented on #752
I think there are two issues here:
* The sample initializes `AsyncHooksScopeManager` quite late - withing an async function where quite some (internal) promises have been created already. If there are no other users of async_hooks in the system these are not tracked as the PromiseHook get's installed in v8 on first use of async_hooks. As a result the `executionAsyncId()` at `tracer.getCurrentSpan(

[2020-01-31 09:47] cohen990 commented on #752
@obecny I think the ideal solution would be one that is flexible enough to allow the library to be used in whatever way seems natural. I might abandon this separate `withAsync` pathway and see if there's a cleaner resolution available

[2020-01-31 14:57] Flarna commented on #752
What I miss also in above sample is a call to `scopeManager.enable()`.
The `NodeTracer`  takes care about this but here the BasicTracer is used which seems to leave this up to the user.

[2020-01-31 17:21] dyladan commented on #678
@shaz1v sorry this didn't get any attention, we're just very busy working on the SDK right now. At the moment plugins are not really our focus and we're not planning on supporting every possible plugin in this repo. Some that we do have will likely be moved into their own projects eventually. The goal is to provide the tools to support an ecosystem of 3rd party plugins, rather than the opentelemet

[2020-01-31 17:56] cohen990 commented on #752
Hi thanks for all your help. I've decided in the end to not use the `AsyncHooksScopeManager` and instead manage the scope within my own application. Best of luck

[2020-02-03 16:29] Flarna opened #758 "Enabling/Disabling of ScopeManager"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Followup on https://github.com/open-telemetry/opentelemetry-js/issues/752#issuecomment-580767095

Enabling of `ScopeManger` is done quite inconsistent:
* `NodeTracerRegistry` enables it in case none is provided via config and it creates it's own `AsyncHoo

[2020-02-03 18:36] #740 closed

[2020-02-03 18:55] dyladan commented on #758
I think the reason for this is that in Node, you usually always want the `AsyncHooksScopeManager`. In web, it is more difficult to automatically choose a scope manager for the user. Maybe @obecny can weigh in on if we should have a default for web?

WRT enabling them unconditionally, I think the `TracerProvider` constructor should enable whichever scope manager is configured. If the same scope man

[2020-02-03 20:33] obecny commented on #758
I think all is fine here. The `BasicTracerRegistry` is meant to be extended and then you decide about behaviour so you might not want to enable that by default. Then node.js by default enable if you don't provide anythign - again fine for me - if you provide some then you decide. And finally the web is enabling that always as in fact you want this to be working with minimum line of code too. Eithe

[2020-02-04 06:25] Flarna commented on #758
Maybe it's just a documentation topic to clearly write down which registry requires an enabled ScopeManager and which one enables it internally.

Regarding Bugs see #752. One problem there is that the scope manager has not been enabled.

I'm not sure who is responsible to disable them.

[2020-02-05 00:45] #756 closed

[2020-02-05 00:47] mayurkale22 commented on #688
Closed via #760

[2020-02-05 00:47] #688 closed

[2020-02-05 01:09] #452 closed

[2020-02-05 17:25] OlivierAlbertini commented on #755
removed

* cleanup
* Draft
* do-not-merge/hold
* unrelated-ci-failure
* WIP

[2020-02-05 17:25] #755 closed

[2020-02-05 17:48] Ema93sh commented on #711
@mayurkale22 @dyladan I would like to pick this up if its alright with yall

[2020-02-05 17:49] andrewhsu commented on #744
I see that Node.js 8 stopped maintenance in January 2020 https://nodejs.org/en/about/releases/

Is it still desirable to support? (I admit I'm not in touch with the user base of Node.js 8 so forgive this naive question)

[2020-02-05 17:50] dyladan commented on #744
it is somewhere just under 40% of node users

[2020-02-05 17:51] dyladan commented on #744
this is actually fixed in #747

[2020-02-05 17:51] #744 closed

[2020-02-05 19:43] Ema93sh commented on #567
@mayurkale22 would love to pick this one if its okay with you

[2020-02-05 20:07] mayurkale22 commented on #567
@Ema93sh I assigned to you. Just so you know, we used gRPC transport in the OpenCensus Node agent exporter ([code link](https://github.com/census-instrumentation/opencensus-node/blob/57e82f4a6ba3178c6e5797a2c1cb41140dd375bc/packages/opencensus-exporter-ocagent/src/ocagent.ts)). Feel free to reuse few pieces from there.

[2020-02-05 21:47] shaz1v commented on #678
@dyladan its all good, really appreciating the entire work being done, following closely on updates and the work and waiting patiently for releases.

While waiting, I decided to give it a try to see why it is actually not working and found out that the issue was related to something else, rather what I initially thought was the reason (mquery lib is still using the mongodb in the background)

Afte

[2020-02-05 22:17] #492 closed

[2020-02-06 19:14] mayurkale22 opened #770 "Add a section on how to use propagators, samplers, defaultAttributes etc."
This issue is motivated by user inquiries on how to change default values.

The `@opentelemetry/core` module provides multiple implementations of propagators (`B3Format`, `TraceContext` and `Binary`), samplers(`AlwaysSampler`, `NeverSampler` and `ProbabilitySampler`) etc. I think we should add a section (maybe, "advanced use") to highlight how to use/change other implementations.

[2020-02-07 15:35] dyladan opened #773 "Separate context propagation from tracing (OTEP 66)"
The specification now requires a global context object which stores what they are calling "cross-cutting concern values." One cross-cutting concern may be correlations, another may be tracing, and more could be added in the future.

The minimum that needs to be done:

- Scope managers need to be modified to propagate this new Context object rather than directly propagating spans as the currently d

[2020-02-07 18:35] mayurkale22 opened #774 "TypeError: when options are not passed in StackdriverTraceExporter"
Reported offline by @alexamies.

### What version of OpenTelemetry are you using?
`0.4.0`

### What did you do?
`const exporter = new StackdriverTraceExporter();`

### What did you expect to see?
`StackdriverTraceExporter` should work without any error.

### What did you see instead?
[code]

I think we should assign default value to `StackdriverExporterOptions` i.e.
`constructor(options: Stackdriv

[2020-02-07 19:07] dyladan opened #776 "Add a global context management API (OTEP 66)"
Depends on #769

Currently scope managers are on the TracerProvider level. According to the new Context spec, they should be global and there should be global methods to get and set the currently active context. This should require little more than adding a `context` API which allows you to register a scope manager, get active context, and set active context.

[2020-02-07 19:07] dyladan opened #777 "Update propagators API for OTEP 66"
https://github.com/open-telemetry/opentelemetry-specification/pull/440

Depends on #776 and #769

We will need to incorporate the new Propagator API changes.

- Add a `propagator` API which allows you to register the global propagator
- Change all instrumentation libraries to use the new propagator API

[2020-02-07 20:11] OlivierAlbertini commented on #770
For "how to use" I believe that a demo is better than words. Adding examples in the `examples` folder. Perhaps one called "advanced-use" or multiple examples

[2020-02-07 20:18] dyladan commented on #770
I think we better hold off on this for a short bit until the OTEP 66 changes are merged as the propagators are going to change somewhat

[2020-02-11 18:44] mayurkale22 commented on #745
I am closing this issue, as I believe it has been addressed in `0.4.0` release. Please add a comment if that is not the case.

[2020-02-11 18:44] #745 closed

[2020-02-11 18:49] mayurkale22 commented on #636
I think we close this one via https://github.com/open-telemetry/opentelemetry-js/pull/654. @vmarchaud please confirm.

[2020-02-11 18:51] vmarchaud commented on #636
@mayurkale22 indeed its done

[2020-02-11 18:51] #636 closed

[2020-02-11 18:51] mayurkale22 commented on #530
Closing via #648

[2020-02-11 18:51] #530 closed

[2020-02-12 14:02] #626 closed

[2020-02-12 15:50] dyladan opened #782 "Beta Readiness Tracker"
**Due date: March 16th, 2020**

This is a tracking issue for the requirements outlined in the beta release doc: https://docs.google.com/document/d/1eviggoIguOS89dgKL-8ntUOCfPP6FLWAoQkGoBDsld0/edit#

## Initialization
- [x] Simplify initialization #823

## Documentation and Examples
  - [x] Setting up exporters for Prometheus and Jaeger.
  - [ ] Creating a manual “hello world” client / server app w

[2020-02-12 18:27] #774 closed

[2020-02-13 14:07] dyladan opened #783 "Which plugins are loaded by default"
As we approach beta, we need to decide which plugins should be loaded by default. Some modules are likely uncontroversial, but should all plugins be enabled by default? Here are at least a few options, but whichever we decide should be documented. We should probably make this decision before we get to beta.

note: Web plugins do not load the same way as node plugins and need to be manually added a

[2020-02-13 14:26] vmarchaud commented on #783
In the scenario 3 (if the plugin is inside a contrib repo), does it means we don't officially support/maintain it ?

[2020-02-13 14:52] dyladan commented on #783
If we are going to do 4, then why are we maintaining a default enabled plugins list at all?

At least for me, here is what I would recommend.

Continue maintaining a default plugins list, but do so in a separate package called `@opentelemetry/plugins` (or `plugins-core` or whatever else we want to call it). `@opentelemetry/plugins` has all default plugins as regular dependencies. `@opentelemetry/n

[2020-02-13 14:54] dyladan commented on #783
I think the whole point of having a contrib repo would be that anything in it is _community_ supported instead of being explicitly supported by OpenTelemetry authors.

[2020-02-13 14:59] dyladan commented on #782
@mtwo It was mentioned in gitter that Baggage seems to have been left off of your google doc. Was that intentional, or is it considered part of the tracing API?

[2020-02-13 16:21] mtwo commented on #782
@bogdandrutu, @carlosalberto, or @SergeyKanzhelev can answer

[2020-02-13 17:40] dyladan opened #785 "Check in package-lock.json files"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I'm not sure if this was discussed before, but I think we should consider checking in our `package-lock.json` files. Because our local machines are already generating them, and the ci is caching them, we are not getting the supposed benefits of not checki

[2020-02-13 18:01] mayurkale22 commented on #783
I would like to see all core plugins/instrumentations enabled by default (even install the respective dependency), to make it super easy for users to use i.e no extra steps required to do to use core plugins. To load an additional(non-core) plugin, they can specify in the config and install the package themselves.

[2020-02-15 04:14] rjmunhoz commented on #723
Another problem I just encountered with this is that I set my dependency versions to `0.3.2` specifically, but the internal dependencies were all updated and broke everything :)

[2020-02-15 23:17] dyladan commented on #782
added resources @mayurkale22 it has been added to the beta release plan

[2020-02-17 14:37] Flarna opened #787 "ProbabilitySampler doesn't honor W3C sampled flag"
# What version of OpenTelemetry are you using?

0.4.0

### What version of Node are you using?

12.16.0

### What did you do?
[code]

### What did you expect to see?
I would expect that above span is a `NoRecordingSpan` as the incoming sampling flag indicates that trace is unsampled.

### What did you see instead?
The `ProbabilitySampler` ignores the sampling flag and a normal, recording `Span` is

[2020-02-18 13:30] DavitSo opened #788 "http request client/server created span's Tags"
At first I'm new at opentelemetry(I used opentracing API) and sorry if this is wrong issue.
I'm testing http plugin and noticed client/server side span has some inconsistency Tags.

E.g. hostname, net.peer.ip, net.peer.name ...
Could someone confirm this is issue or not? If not could you provide any doc about standard plugins created tags list.

Thanks in advance

[2020-02-18 13:31] dyladan commented on #787
That is also my interpretation.

It looks like [Python](https://github.com/open-telemetry/opentelemetry-python/blob/c50aab8c70e6c4bfbe647d661f93483f49246efc/opentelemetry-api/src/opentelemetry/trace/sampling.py#L116) defers to the parent context if it is there.

[Ruby](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/sdk/lib/opentelemetry/sdk/trace/samplers/probability_sampler.rb#L

[2020-02-18 13:35] vmarchaud commented on #788
Could you explain exactly what do you mean by `inconsistency` in the tags ? Most of the tags available are required by the OT spec.
Also please include the version you are using (both node and OpenTelemetry) ?

[2020-02-18 13:39] DavitSo commented on #788
Node version : v10.19.0
OpenTelemetry : 0.4.0

[2020-02-18 13:39] DavitSo commented on #788
![image](https://user-images.githubusercontent.com/45847601/74741093-a3bdd600-5275-11ea-93ff-261d2769a62a.png)

[2020-02-18 13:40] DavitSo commented on #788
I run client in host with ip address 10.99.160.173

[2020-02-18 13:42] dyladan commented on #788
The peer is the remote peer. So if the client span sets the tag `net.peer.ip`, it is the ip of the server.

[2020-02-18 13:44] DavitSo commented on #788
For server it is
net.peer.ip | "10.99.160.173"
Its ok?

[2020-02-18 13:44] dyladan commented on #788
That would be correct. The server's peer is the client.

[2020-02-18 13:50] DavitSo commented on #788
One more question (sorry if not the correct place)
If I don't have server span, from where (in client span) I can see the info of client host?

[2020-02-18 13:52] dyladan commented on #788
Right now there is no place for that

[2020-02-18 13:55] DavitSo commented on #788
"http.host" Tag of client span shows destination of http request?

[2020-02-18 13:56] dyladan commented on #788
yes

[2020-02-18 13:57] dyladan commented on #788
There is supposed to be an API for this (called the resources API) but it is unfortunately not implemented yet.

[2020-02-18 14:00] DavitSo commented on #788
oh, ok.
Thank you so much!!

[2020-02-18 14:00] #788 closed

[2020-02-18 16:05] #742 closed

[2020-02-18 16:18] OlivierAlbertini commented on #788
Hi @dyladan ,

Can you link me the spec ?

[2020-02-18 16:19] dyladan commented on #788
@OlivierAlbertini https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-resource.md

[2020-02-18 16:40] OlivierAlbertini opened #789 "Add Resource API"
From https://github.com/open-telemetry/opentelemetry-js/issues/788#issuecomment-587544318
We should implement Resource API specs.

**Describe the solution you'd like**

Implementing following specs:
1. https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-resource-semantic-conventions.md#version-attributes
2. https://github.com/open-telemetry/opentelemetry-sp

[2020-02-18 19:13] dyladan opened #790 "Do not validate tracestate"
Right now we are parsing and validating tracestate on every span regardless of if it is used or not (we currently do not use it for anything except exporting to the collector). This is an unnecessary cost and complexity (parse does a split, reverse, and reduce). Further, we allow arbitrary keys to be overwritten by calling `traceState.set` despite the fact that we should not be modifying other ven

[2020-02-18 20:45] #773 closed

[2020-02-18 21:05] obecny commented on #783
I'm in favour of enabling all plugins that are installed by default, this way it will be at least easy and straightforward and users don't need to worry when we decide to change the default list so then suddenly something will stop working or not. But I think we should still give users the options to enable the plugins one by one and to set a "default" list to no plugins. This way it will be up to

[2020-02-18 21:39] dyladan commented on #783
How do we determine which plugins are installed? We can do that for plugins under our namespace, but if there are third party plugins that we don't control they won't be discovered.

[2020-02-19 20:42] dyladan opened #794 "Rename Scope to Context"
Currently we have the `ScopeManager` interface and various packages/classes that use the scope name. The recent introduction of the `Context` into the specification as well as the Context API PR #792 make me think we might be better off renaming scope to context now before we reach beta stability.

[2020-02-19 20:45] dyladan opened #795 "Rename formatter to propagator"
Right now we have the `HttpTextFormat` interface as well as the `B3Format`, `HttpTraceContextFormat`, etc classes. The specification is using the term `Propagator` for this. We should decide what we want to call this interface and its various derived classes before we reach beta stability.

[2020-02-19 21:04] dyladan opened #796 "Create a PullController for metrics"
Currently we only implement the `PushController`, but we would also like a `PullController` for cases like prometheus where the exporter is called by the backend.

[2020-02-19 21:07] mayurkale22 commented on #795
This is coming from the specs, I think we should open same issue there.

[2020-02-19 21:10] dyladan commented on #795
https://github.com/open-telemetry/opentelemetry-specification/issues/480

[2020-02-20 14:17] dyladan commented on #795
In https://github.com/open-telemetry/opentelemetry-specification/issues/480, they seemed to think it is better to have naming aligned. Java is apparently also renaming some things to be closer to spec wording.

[2020-02-20 14:17] dyladan commented on #794
In [open-telemetry/opentelemetry-specification#480](https://github.com/open-telemetry/opentelemetry-specification/issues/480), they seemed to think it is better to have naming aligned. Java is apparently also renaming some things to be closer to spec wording.

[2020-02-20 14:24] vmarchaud commented on #794
Digged to find why we used `Scope` instead of `Context`, coming from there: https://github.com/open-telemetry/opentelemetry-js/pull/66#issuecomment-509289268. Since we will have a single concept from now on i believe it's fine to rename them.

[2020-02-20 14:41] #666 closed

[2020-02-20 14:59] dyladan commented on #567
@Ema93sh any updates on this? Feel free to let someone know if you have questions or need help

[2020-02-20 18:31] mayurkale22 opened #800 "examples: provide an example for express plugin"
Provide a full example on how the OpenTelemetry JS library can be used to instrument express and export them to Jaeger/Zipkin backend using OpenTelemetry Jaeger/Zipkin exporter.

https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-express

[2020-02-20 18:33] dyladan commented on #800
I may be incorrect but i think @vmarchaud is working on this?

[2020-02-20 18:48] mayurkale22 commented on #800
@vmarchaud please confirm, will assign to you.

[2020-02-20 20:09] vmarchaud commented on #800
I'm not currently working on this but i should have time this weekend to make a PR for it ! Will assign myself when i do

[2020-02-20 20:11] dyladan opened #803 "Rename init API methods to set"
Originally brought up by @obecny here https://github.com/open-telemetry/opentelemetry-js/pull/792#discussion_r382060064

All of the current API methods for setting up an SDK currently use a naming scheme like `initSomething` even though they don't actually do any initialization. Should we consider renaming them all to `setSomething` naming scheme?

[2020-02-20 20:20] #741 closed

[2020-02-20 22:25] #787 closed

[2020-02-20 23:39] OlivierAlbertini commented on #783
We can also create an "awesome openTelemetry plugins"  repo, where developers can make a PR to add . their plugins.... It's less job and users will decide to trust or not.

Having a contrib repo means that we need to have people to review code and also release in npm registry.

I think we will have more quality with a contrib repo but it will be also more job.

[2020-02-21 00:19] OlivierAlbertini commented on #506
I think it's fixed, right ?

[2020-02-21 00:20] OlivierAlbertini commented on #458
I believe that we can now add node 13 to our pipeline

[2020-02-21 00:23] #506 closed

[2020-02-21 14:10] dyladan commented on #783
@OlivierAlbertini definitely. I think we could even just have a JSON of autodetected plugins in `@opentelemetry/node` that is a simple list of packages to try to require. Very low barrier to entry, and individual plugins can always be disabled by name.

[2020-02-21 16:24] obecny opened #806 "change lint scripts"
as discussed on gitter we should have 4 npm scripts for linting
lint, lint:fix, lint:examples, lint:examples:fix
instead of
check, fix, lint-examples, fix-examples

[2020-02-21 17:16] mayurkale22 opened #808 "proposal to remove version-update script during build"
Here is the performance comparison w/ and w/o `version-update` script during the bootstraping process (`npm run bootstrap`). I believe `version-update` script is only needed before publishing the new version, which means no need to run during every build process.

| w/ version-update script | w/o version-update script |
| ------------- | ------------- |
| real    2m31.442s| **real    1m16.299s** |

[2020-02-21 18:32] dyladan commented on #808
Wow that is a much bigger difference than I would have guessed. What OS are you on? Could be an odd filesystem caching issue or even AV software that slows down the process because of file accesses? Maybe we could make it so that the version is checked as part of a custom linting rule rather than as a separate custom script.

[2020-02-21 18:36] mayurkale22 commented on #808
macOS Mojave

[2020-02-21 18:54] dyladan commented on #808
I'm seeing similar performance impact on catalina. Maybe we should include this as part of a release automation.

[2020-02-21 19:24] #806 closed

[2020-02-22 14:05] OlivierAlbertini commented on #808
Also for each job on circleci, we generate js files with tsc... I’m wondering if we could cache them in order to be reuse by other jobs. In this way, we compile only once

[2020-02-22 15:12] #776 closed

[2020-02-24 14:00] Flarna opened #811 "SpanOptions.isRecording and it's default in Tracer.startSpan"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I'm confused about the `SpanOptions.isRecording` field and in special that it is defaulted to `false` in `Tracer.startSpan()`.

On the other hand this default `false` is anyway only used in case sampler decides to not sample this span.

I took a look into

[2020-02-24 19:51] #458 closed

[2020-02-25 17:01] mayurkale22 commented on #811
API specs link: https://github.com/open-telemetry/opentelemetry-specification/blob/69768aa7bb8bdcd2c1490e5a1f38e109dc0517a3/specification/api-tracing.md#isrecording

SDK specs link: https://github.com/open-telemetry/opentelemetry-specification/blob/d212c5479cdc734d363ee893ae72bcbf2113c355/specification/sdk-tracing.md#sampling

This looks more like a spec issue.

[2020-02-25 17:02] mayurkale22 opened #812 "example for Prometheus is not working anymore"
Originates from https://github.com/open-telemetry/opentelemetry-js/pull/738#issuecomment-590948638

[2020-02-25 17:05] mayurkale22 commented on #800
Closed via #810

[2020-02-25 17:05] #800 closed

[2020-02-25 19:16] rubenvp8510 commented on #329
I would like to work on this one, if no one else if already working on it.

[2020-02-25 19:20] Flarna commented on #811
@mayurkale22 Your links point to `span.isRecording()` which is fine.
https://github.com/open-telemetry/opentelemetry-js/blob/c87e521255ff49f87ae2db4c61d249e6d21622f4/packages/opentelemetry-api/src/trace/span.ts#L102

But I would like to discuss `SpanOptions.isRecording`.
https://github.com/open-telemetry/opentelemetry-js/blob/c87e521255ff49f87ae2db4c61d249e6d21622f4/packages/opentelemetry-api/src/

[2020-02-25 19:51] vmarchaud commented on #329
@rubenvp8510 Go for it, don't hesitate to ping on the gitter room if you have any questions

[2020-02-25 22:22] #812 closed

[2020-02-26 06:41] lukomwro opened #814 "BasePlugin.js - Critical dependency warning in webpack"
### What version of OpenTelemetry are you using?
0.4.0

### What version of Node are you using?
12.4.0

### What did you do?
I've added telemetry script with some plugins `UserInteractionPlugin` and `DocumentLoad`. The code is copied from examples

[code]

### What did you expect to see?
Complication without warnings

### What did you see instead?
[code]

### Additional context
I'm using the lates

[2020-02-26 14:35] wtgtybhertgeghgtwtg commented on #598
With a few nits, the PoC looks good.  Is there anything I can do to help move it along?

[2020-02-26 16:24] dyladan commented on #598
We're trying to move away from hosting all possible plugins in this repo. In the future we plan to have a `contrib` style repo where plugins may live, but for now you may be better off self-hosting your plugin and adding it to the registry at <https://opentelemetry.io/registry/>.

[2020-02-27 11:07] liltoto opened #819 "Not published on npm"
### What version of Node are you using?
12.15.0

### What did you do?
If possible, provide a recipe for reproducing the error.
Tried to ```npm install --save @opentelemetry/plugin-express``` and npm returned E404 not found

[2020-02-27 11:39] OlivierAlbertini commented on #819
Hi,

We just merged the pull request. It will be released at the end of the week.

Thanks for your comprehension.

[2020-02-27 15:58] dyladan commented on #814
This happens because the Plugin system uses a dynamic `require` statement in order to load node plugins. It should not affect the behavior of web plugins, but you will still get the warning because webpack does not know that the dynamic require only runs in node. I will look into fixes for this.

[2020-02-27 21:14] yosiat commented on #752
Hi!

I want to try and use AsyncHooksScopeManager in my application, but the missing of supporting promise based function is problematic for me.

I can submit a PR for adding a new method, same as `with` but called `withAsync` that will support promise based function.

WDYT?

[2020-02-27 21:34] dyladan commented on #752
Can you give an example of a situation where the current functionality fails? The original example had a few issues as pointed out by @Flarna and may very well have just been a misuse of the library.

[2020-02-27 21:39] obecny commented on #808
I had similar issue with AVG - just try to turn it off and see if you can still see so big difference. If this won't be the case anymore then I guess the issue is the antivirus.

[2020-02-27 23:33] dyladan commented on #808
Unfortunately, most of us are on work computers which require AV and backup software. Just disabling it isn't an option for me and I suspect others.

[2020-02-27 23:35] obecny commented on #808
I didn't mean to disable this forever, just disable that and test if that change anything or not.

[2020-02-28 00:00] yosiat commented on #752
@dyladan maybe I am over-taking an existing non-relevant issue, sorry if this the case.

I want to use `AsyncHooksScopeManager` in my app and soon use open-telemetry for prometheus and jaeger.

For now, I have some async code which I want to wrap it in its own context (in order to save root span / request-id for example). using the `with` method will cause it to remove the context when the method

[2020-02-28 00:27] dyladan commented on #752
are you awaiting the call to `with`?

[2020-02-28 07:00] snake-ch opened #820 "plugin-user-interaction integrated into vue.js"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

I try to use user-interaction plugin with vue.js, there is something wrong with tracing. I read the source code of the plugin. it seems that async operation counter +1 when invoke patchScheduleTask() and -1 when invoke patchRunTask() and then finish span

[2020-02-28 08:15] Bhargavamacha commented on #796
I would like to take this issue up if that's fine

[2020-02-28 11:48] yosiat commented on #752
Take this example:

[code]

If I will use `with`, it will clear the context while the async function is still running (https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-scope-async-hooks/src/AsyncHooksScopeManager.ts#L70)

BTW, you can look at `cls-hooked`  which have a `runPromise` method.

[2020-02-28 13:53] vmarchaud commented on #796
@Bhargavamacha It is ! Don't hesitate to ping us on gitter or here if you have any questions or need help :)

[2020-02-28 14:12] Bhargavamacha commented on #796
Sure!

[2020-02-28 17:48] dyladan opened #822 "Propagator interface missing Setter and Getter arguments"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-propagators.md#setter-argument
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-propagators.md#getter-argument

[2020-02-28 20:11] dyladan opened #823 "Simplify initialization"
Now that we introduced global `context` and `propagation` APIs, the user is required to initialize the tracer provider, the context manager, and the propagator before they can begin tracing. We should simplify this process with sane platform-specific defaults in some simple way. Possibly we should export some function from `web` and `node` packages like `initializeGlobalDefaults` or something?

[2020-02-28 21:36] Flarna commented on #698
see https://github.com/open-telemetry/opentelemetry-js/pull/786

[2020-02-28 21:36] #698 closed

[2020-03-02 13:54] Bhargavamacha commented on #796
I am trying to understand how exactly the PullController should work and this is what I think it works:
The PushController controls the flow of metrics to the exporter. Now, these metrics will be polled by Prometheus and PullController should control the flow to Prometheus.
Prometheus has a scrape_interval that lets it collect metrics at certain time intervals. My question is, what role does PullC

[2020-03-02 15:13] #789 closed

[2020-03-02 18:47] #777 closed

[2020-03-02 19:31] dyladan commented on #752
We will discuss this at the SIG meeting wednesday if you would like to join.

[2020-03-03 17:08] dyladan commented on #823
I asked in the spec SIG meeting how much freedom we have to do this, and the answer was that we can do basically whatever we deem appropriate as long as we don't violate spec or API. With that in mind, I think we should export some helper function from `node` and `web` packages that allows for global initialization easily.

I have some proposals for the way this may work:

Option 1
[code]

Option

[2020-03-03 17:32] mayurkale22 opened #833 "Implement W3C Correlation Context propagator"
Propagate Correlation Context using W3C correlation context format.

See: https://w3c.github.io/correlation-context/

Reference implementation in OpenCensus: https://github.com/census-instrumentation/opencensus-node/pull/445

[2020-03-03 17:32] dyladan commented on #833
There is no W3C correlation context propagator. This is an ongoing discussion in the W3C distributed tracing working group, but I don't think we should implement this until the spec is worked out.

[2020-03-03 17:52] mayurkale22 commented on #833
Ah, looks like otel-go has [implemented propagator](https://github.com/open-telemetry/opentelemetry-go/pull/179/files) based on https://w3c.github.io/correlation-context/.

[2020-03-03 18:00] rubenvp8510 commented on #833
As part of my work on: https://github.com/open-telemetry/opentelemetry-js/issues/329 I also started something on this, Is that ok? I think I can sent a PR soon.

[2020-03-03 18:02] dyladan commented on #833
I think it makes sense for the propagator to be a separate PR. The work on #329 should only set context values, and it is up to the propagator to decide what to do with them.

[2020-03-03 18:03] rubenvp8510 commented on #833
Yes, I'll send a separate PR.

[2020-03-03 18:08] #729 closed

[2020-03-03 18:19] obecny opened #835 "Remove forceFlush from Jaeger exporter"
with regards to this comment
https://github.com/open-telemetry/opentelemetry-js/pull/802#discussion_r386724297

[2020-03-03 21:33] dyladan commented on #794
@open-telemetry/javascript-approvers are we in favor of changing `scope` to `context`? If we wait until after beta it is likely too late.

[2020-03-04 00:18] mayurkale22 commented on #58
Obsolete, closing now.

[2020-03-04 00:18] #58 closed

[2020-03-04 00:22] mayurkale22 commented on #220
Closed via https://github.com/open-telemetry/opentelemetry-js/pull/816

[2020-03-04 00:22] #220 closed

[2020-03-04 13:10] #811 closed

[2020-03-04 18:26] cchatfield commented on #819
any update on timing of the release?

[2020-03-04 18:27] dyladan commented on #819
@cchatfield we have been focusing on the beta launch and haven't released in a little while. @mayurkale22 WDYT about releasing another minor version before beta?

[2020-03-04 18:48] mayurkale22 commented on #819
@cchatfield Is this something you blocked on? I would be happy to cut minor version, but feel like we should wait for https://github.com/open-telemetry/opentelemetry-js/pull/837 and https://github.com/open-telemetry/opentelemetry-js/pull/839. @dyladan WDYT?

[2020-03-04 18:51] dyladan commented on #819
If it's not blocking I think we should focus on beta. I have a couple more rename PRs coming too (scope => context, formatter => propagator)

[2020-03-04 22:40] mwear opened #840 "Add resource to TracerProvider and MeterProvider"
The resource specification mentions that:

and

We should start by adding a resource with attributes for the telemetry library as per: https://github.com/open-telemetry/opentelemetry-specification/pull/494

[2020-03-04 22:40] mwear commented on #840
@dyladan: You can assign this to me and add this to the beta readiness tracker.

[2020-03-04 22:46] mwear opened #841 "Resource auto-detection"
While not formally specified by the Resource spec, we are probably going to want:
* Resource initialization from environment variables
  * related: https://github.com/open-telemetry/opentelemetry-specification/issues/501
* Resource auto-detection
  * container
  * cloud environment

[2020-03-05 03:43] naseemkullah commented on #783
If both http and express are enabled (by default), do we get twice the telemetry? E.g. 2 spans per request received?

[2020-03-05 10:47] yosiat commented on #752
hi @dyladan!
Wasn't next to a computer this week since I was sick.

Any updates on this?

[2020-03-05 12:05] OlivierAlbertini commented on #783
Express plugins will give you observability on middlewares whereas http is only on the request. Middleware spans should be under request span.

Only issue I see, if you are filtering requests on http, you will see them with the express plugin and it doesn’t make sens to me.

We should share the same config among all plugins... we are encoutering several issues about that

[2020-03-05 13:50] dyladan commented on #752
We are going to add `withAsync` and probably also `bindAsync` to the scope manager and tracer.

[2020-03-05 15:53] yosiat commented on #752
@dyladan I can implement this, it looks fairly simple when I look at the scope manager for async hooks.

[2020-03-05 16:06] dyladan commented on #752
@yosiat it is not as easy as you might think. I started work on this and couldn't get this assertion to pass https://github.com/dynatrace-oss-contrib/opentelemetry-js/blob/with-async/packages/opentelemetry-scope-async-hooks/test/AsyncHooksScopeManager.test.ts#L157

[2020-03-05 16:12] yosiat commented on #752
sorry, didn't mean to offend.

Looks like you are already working on it! I can take a look at this test if you want.

[2020-03-05 16:13] dyladan commented on #752
No I'm not offended at all :) please take a look and see if you can catch what i'm missing

[2020-03-05 17:23] #739 closed

[2020-03-05 19:01] #822 closed

[2020-03-05 21:22] yosiat commented on #752
@dyladan the problem is that both scopes get the same `executionAsyncId`.
I had this issue while trying to implement opentracing for my application with cls-hooked, we hoped the context is hierarchal and we can store the inheritance of spans using context. So top-level context will have root span and children contexts will have their own children spans.

But, we found out, the hard way, that we ca

[2020-03-06 18:59] OlivierAlbertini opened #845 "[plugin-http] Change integration tests to functional tests"
Here, I saw that the build fails time to time because integration tests fails
I'm wondering if we should just having a http server and remove all real network calls
This will reduce frustration during build time.

WDYT ?

[2020-03-07 19:25] cchatfield commented on #819
Not critical. When is beta?

[2020-03-09 17:04] mayurkale22 commented on #819
The current target date is **March 16th, 2020**

[2020-03-10 12:39] #823 closed

[2020-03-10 15:00] #803 closed

[2020-03-10 15:57] dyladan commented on #796
@Bhargavamacha any update here?

[2020-03-10 16:09] Bhargavamacha commented on #796
I am still trying to understand how it should be implemented, but I couldn't really solve the question in the previous comment. Any help would be appreciated.

[2020-03-11 07:37] #758 closed

[2020-03-11 13:16] dyladan commented on #796
Controllers are constructed with a meter and an exporter. What I would do is add an optional function to the exporter interface called `registerPullController` or similar. When a `Meter` is constructed, if this function exists then a `PullController` is created, otherwise a `PushController` is created. `registerPullController` would be a function that receives a `PullController`, and calls its pub

[2020-03-11 18:09] mayurkale22 commented on #783
Per SIG discussion, removed this from the Beta milestone. Will come back to this after Beta.

[2020-03-11 18:13] mayurkale22 commented on #402
I'm going to close this issue. I think the basic metrics SDK is implemented including `Counter`, `Measure` and `Observer` support. Do add a comment if you think this is incorrect.

[2020-03-11 18:13] #402 closed

[2020-03-11 20:41] #840 closed

[2020-03-11 20:45] dyladan commented on #796
@Bhargavamacha does that make sense to you?

[2020-03-11 21:39] mayurkale22 opened #849 "Broken basic-tracer-node example"
[code]

[2020-03-11 22:05] mayurkale22 commented on #849
If I set `contextManager`, then it works well but AFAIK the default scopeManager is `NoopScopeManager`.
[code]
/cc @dyladan

[2020-03-11 22:06] dyladan commented on #849
noop scope manager should return a root context, not undefined

[2020-03-11 22:11] mayurkale22 commented on #849
`provider.register()` is not working with the basic tracer example.

[2020-03-11 22:13] dyladan commented on #849
what behavior are you seeing

[2020-03-11 22:37] mayurkale22 commented on #849
https://github.com/open-telemetry/opentelemetry-js/issues/849#issue-579560571, this is what I see when running example against the master.

[2020-03-11 22:41] mayurkale22 commented on #849
Also, realized we should remove [httpTextFormat](https://github.com/open-telemetry/opentelemetry-js/blob/abd191bef366de8926f14701bf8b83df03b60d22/packages/opentelemetry-tracing/src/config.ts#L39) and [scopeManager](https://github.com/open-telemetry/opentelemetry-js/blob/abd191bef366de8926f14701bf8b83df03b60d22/packages/opentelemetry-tracing/src/config.ts#L42) from Tracer config. Now, those are mov

[2020-03-11 23:45] dyladan commented on #849
I can't reproduce this. I think it might be a dependency management issue where you have the current release version of the scope manager.

[2020-03-12 00:27] mayurkale22 commented on #849
Will try to reproduce at my side.

[2020-03-12 14:48] Bhargavamacha commented on #796
Yup. Thanks!

[2020-03-12 15:57] dyladan opened #852 "Sleeping computer causes span timings to be incorrect in browser"
While debugging an issue for a user here https://gitter.im/open-telemetry/opentelemetry-node?at=5e6a4b54d17593652b7c8154 it was found that while a computer is slept or hibernated, the `performance.now()` monotonic clock may be paused. This causes the assumption that `performance.timeOrigin + performance.now() ~= Date.now()` to be incorrect by some arbitrary amount of time which may be hours or day

[2020-03-12 23:24] mayurkale22 opened #854 "Use OTLP format instead of OpenCensus for OTLP exporter"
Currently, we use [OpenCensus proto based types](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-exporter-collector/src/types.ts) to export traces from OpenTelemetry instrumentation to the Collector exporter. The goal is to switch to OTLP format/proto (link attached) instead of OpenCensus for OTLP exporter.

Trace Proto:  https://github.com/open-telemetry/open

[2020-03-13 13:48] dyladan commented on #852
Originally reported by @nvolker

[2020-03-13 16:23] #795 closed

[2020-03-13 17:26] mayurkale22 commented on #852
@draffensperger @obecny would like to get your expertise on this.

[2020-03-13 17:29] dyladan commented on #852
One solution would be to use `Date.now()` to capture startTime, but use `performance.now()` to calculate the duration of the span. This would give us still high fidelity span durations while mitigating this issue. One problem with this is that `Date.now()` trusts the system clock, so if the system clock ever changes, `Date.now()` will use the updated time. `performance.timeOrigin` and `performance

[2020-03-13 17:41] #578 closed

[2020-03-13 19:01] #794 closed

[2020-03-14 00:03] #770 closed

[2020-03-16 13:17] Flarna commented on #852
Is this only effecting browsers or also node? As far as I know node uses also `performance.timeOrigin` captured at startup therefore I would expect a similar behavior. If it works in node we could take a look how they solved it there.

[2020-03-16 13:31] obecny commented on #852
can you provide more details. Are spans still being created when computer sleeps or how does this really affect that ?

[2020-03-16 13:40] dyladan commented on #852
sleep you computer for a few hours. any spans created after you wake up have timestamps that show you a few hours in the past because the clock paused. This behavior continues until the browser is restarted.

[2020-03-16 13:42] obecny commented on #852
and what system / laptop has that - as I'm working on mac and my computer sleeps every day, browser is not restarted for weeks - I think I would notice that before hmm.

[2020-03-16 13:47] dyladan commented on #852
The machine which had the problem was a mac using chrome. Possibly this is a sleep v hibernate issue?

[2020-03-16 13:47] obecny commented on #852
ok I see it now too
`new Date(performance.timeOrigin + performance.now())` is behind real time

[2020-03-16 13:49] obecny commented on #852
maybe we should raise this as a chrome bug ?

[2020-03-16 13:50] draffensperger commented on #852
This issue of someone sleeping the computer, or leaving the tab open to go get coffee, etc. is sort of a basic limitation of measurement in the browser world. If a user starts an operation, shuts their computer, and then comes back 8 hours later and it finishes - then how long did the operation take?

Here are a few ideas for how we could deal with this:
* Provide some documentation that this susp

[2020-03-16 14:26] obecny commented on #852
just close laptop for 30 seconds, open and run it, seems like a valid bug

[2020-03-16 14:30] obecny commented on #852
I think all we have to do is to leave the  performance, but then when we export spans we should add it
so this way the final time
`const delta =  new new Date().getTime() - Date(performance.timeOrigin+performance.now()).getTime()`

[2020-03-16 14:31] dyladan commented on #852
I think you would have to add the delta at the time that you generate the timestamp. if you do it at export time the whole span will shift if it is started before the computer sleeps

[2020-03-16 15:04] dyladan commented on #852
@obecny do you know if this affects the CORS preflight timing?

[2020-03-16 15:11] obecny commented on #852
@dyladan this might effect all, but I think we should create an issue  to investigate what is affected and then fix everything, I can take it after finishing grpc

[2020-03-16 15:36] dyladan commented on #849
Any update here?

[2020-03-16 20:19] dyladan opened #865 "Remove label set from metrics API"
Otep: https://github.com/open-telemetry/oteps/blob/master/text/0090-remove-labelset-from-metrics-api.md

No spec yet.

[2020-03-17 01:56] mayurkale22 commented on #849
I am closing this issue, as the example is working fine for me.  Please add a comment if that is not the case.

[2020-03-17 01:56] #849 closed

[2020-03-17 01:57] mayurkale22 commented on #819
Published in `0.5.0`, let us know if you encounter any issues!

[2020-03-17 01:57] #819 closed

[2020-03-17 01:58] mayurkale22 commented on #782
@dyladan Can we close this one now?

[2020-03-17 02:13] mayurkale22 opened #867 "Support Resource in the Prometheus Exporter"
The `Resource`s were added to the default SDK in [opentelemetry-js#846](https://github.com/open-telemetry/opentelemetry-js/pull/846). They need to be integrated in the export workflow of the Prometheus exporter similar to [opentelemetry-js#843](https://github.com/open-telemetry/opentelemetry-js/pull/843)

[2020-03-17 02:22] mayurkale22 opened #868 "Consolidate Observer and Counter example"
I think we should consolidate `Observer` and `Counter` example into one. It would be easier to find and comprehend to the end users.

Observer example: https://github.com/open-telemetry/opentelemetry-js/blob/master/examples/metrics/metrics/observer.js

Counter example: https://github.com/open-telemetry/opentelemetry-js/blob/master/examples/prometheus/index.js

[2020-03-17 12:38] #782 closed

[2020-03-17 14:35] dyladan opened #869 "Set correct default propagator"
Currently the default propagator is a noop propagator. According to the spec:

containing W3C Trace Context and Correlation Context `Propagator`s,
in order to provide propagation even in the presence of no-op
OpenTelemetry implementations.

[2020-03-17 17:27] mayurkale22 commented on #869
AFAIK [current default propagato](https://github.com/open-telemetry/opentelemetry-js/blob/e3f4c21beb4824b8d6b6c05f7167ee1b781d2690/packages/opentelemetry-tracing/src/BasicTracerProvider.ts#L76)r is a HttpTraceContext propagator, right?

[2020-03-17 17:30] dyladan commented on #869
As I understand it this means the API default not the SDK default. You linked the SDK default.

[2020-03-17 17:50] dyladan commented on #869
It also implies the "noop" implementation needs to propagate context without creating new spans...

[2020-03-18 17:38] mayurkale22 opened #872 "Broken CircleCI docs-deploy job"
As per https://github.com/open-telemetry/opentelemetry-js/pull/730, API docs should get published on the new release but it is broken.

/cc @dyladan

[2020-03-18 21:16] mayurkale22 opened #876 "Add Collector exporter in OpenTelemetry registry"
Add [Collector exporter](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-exporter-collector) in [OpenTelemetry registry](https://opentelemetry.io/registry/). Similar to https://github.com/open-telemetry/opentelemetry.io/pull/107

[2020-03-18 21:16] mayurkale22 opened #877 "Add prometheus exporter in OpenTelemetry registry"
Add [Prometheus exporter](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-exporter-prometheus) in [OpenTelemetry registry](https://opentelemetry.io/registry/). Similar to https://github.com/open-telemetry/opentelemetry.io/pull/107

[2020-03-18 22:35] Flarna commented on #852
I tried NodeJS 13.11.0 and Firefox 74.0 on Windows 10 on my Dell E7440.
Both show no issue in case of sleep but hibernate seems to be a problem. The strange detail is that the time difference I see after 30 seconds hibernate is about 6.5 seconds and after 60 secs hibernate is's once again around 6.5 seconds.

I would not expect that NodeJs processes for servers are executed on notebooks going to h

[2020-03-18 22:55] dyladan commented on #852
This is a difficult thing to test in lambda as you have so little control over the sleep

[2020-03-19 17:41] stephanos commented on #814
I just ran into the same issue. Is there a workaround? It seems like it's basically bricked when using webpack.

[2020-03-19 17:54] dyladan commented on #814
it should still work with warnings

[2020-03-19 18:54] BowlingX opened #878 "[plugin-mysql]: MaxListenersExceedWarning: Memory Leak"
## What version of OpenTelemetry are you using?
0.5.0, plugin-mysql (also present in 0.4.0)

### What version of Node are you using?
12.13.1

### What did you do?

I'm using the `plugin-mysql` with a mysql pool.
After a short amount of requests with the plugin enabled, I get

[code]

Tracing the issue shows it comes from here:
https://github.com/open-telemetry/opentelemetry-js/blob/master/packages

[2020-03-19 19:00] dyladan commented on #878
looking into this

[2020-03-19 19:05] dyladan commented on #878
Can you give me more info like what ORM you are using if any and what your connection setup and query code looks like?

[2020-03-19 19:09] BowlingX commented on #878
Thank you :).
No ORM. Basically just:

[code]

[2020-03-19 19:37] AndyBarron opened #879 "@opentelemetry/metrics fails to run due to bad import"
i have the following line in my code:

[code]

this causes my app to crash at runtime due to the following line:

https://github.com/open-telemetry/opentelemetry-js/blob/697fb60b8be26a3b40ebe7363d3558cd35454b17/packages/opentelemetry-metrics/src/Meter.ts#L31

it's importing from the `test` directory, which isn't included in the npm package, so the import can't resolve.

[2020-03-19 19:54] dyladan commented on #879
@mayurkale22 assigning us both to this. i'm looking into #878 right now so I would appreciate if you could take this.

[2020-03-19 20:12] mayurkale22 commented on #879
Sure, looking into it now.

[2020-03-19 20:30] dyladan commented on #878
@BowlingX I think I have a fix just need reviews and I'll get it pushed asap

[2020-03-19 20:37] mayurkale22 commented on #879
@AndyBarron Thanks for reporting this! Would be nice if you can review fix #881.

[2020-03-19 20:53] #879 closed

[2020-03-19 20:57] mayurkale22 commented on #879
We planned to cut `0.5.1` release, once #880 is merged. Will keep you posted

[2020-03-19 21:12] vmarchaud commented on #879
Is it worth waiting for https://github.com/open-telemetry/opentelemetry-js/pull/873 too for releasing ? I makes the StackScopeManager is broken in its current state

[2020-03-19 21:30] dyladan commented on #879
Had hoped to get @obecny's ok on #873 before merging it. I'm ok waiting until tomorrow morning to get this out, but not much longer than that.

[2020-03-19 21:54] #878 closed

[2020-03-19 22:12] stephanos commented on #814
Hm, the build step of my React app completely fails.

I fixed it with this:
[code]
(not proud of it)

[2020-03-19 22:30] dyladan commented on #814
Do plugins still load correctly after you've done that? The require isn't needed for web plugins so it should be ok. This will probably require changing to a platform specific base plugin to fix @mayurkale22 @obecny WDYT?

[2020-03-19 23:28] stephanos commented on #814
Yes, I'm using the `XMLHttpRequestPlugin` and it works fine.

as for fixing this, maybe consider adding a big `if` statement at the top that checks for a constant that Webpack knows and it then (hopefully) just ignores the code in there if it's not on Node?

[2020-03-20 03:09] dyladan commented on #879
Just published `0.5.1` which should fix your issue