[2020-03-20 03:10] dyladan commented on #878
Just published `0.5.1` which should fix your issue. Would appreciate if you could confirm for me.

[2020-03-20 11:48] BowlingX commented on #878
Works perfectly :) thank you.

[2020-03-21 00:00] mayurkale22 opened #885 "Add @opentelemetry/api as peerDependencies on @opentelemetry/sdk"
This is needed to set global `TracerProvider` and global `MeterProvider` correctly, especially when you use only `@opentelemetry/api` module to instrument your application and want to provide ways for users to register OpenTelemetry or any other SDK, if they wish to.

Looks like in the current state, every module will have their own copy of `@opentelemetry/api`. That means it is not really a globa

[2020-03-21 01:51] dyladan commented on #885
Even if we could peer-dep it in our SDK modules, the issue I see here is that not everyone can have it as a peer dep. `@company/database` needs to depend on it directly at the very least because they need to be able to call api methods and assume they're there. The same goes for the end-user application. In that case, there is no way to guarantee that the end-user application and `@company/databas

[2020-03-21 02:04] dyladan commented on #885
One more option I just thought of.

Have the API module not implement the actual API, but just be the way it is accessed. You then have the API module peer-depend on another module that is the _actual_ instance of the API, and proxies calls to it. If there is no API actually installed, the proxy calls no-op. You then have the SDK depend on that second module which is the actual instance of the API

[2020-03-22 04:39] pauldraper opened #886 "How to create new root span?"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

The documentation is confusing about how to create a new root span, if there is already a currently active span. (I create a background process that should not be part of the same trace.)

From my reading of the SDK Tracer, I'm not sure how it is possible

[2020-03-22 05:13] pauldraper commented on #886
I believe the answer is

[code]

[2020-03-22 15:03] dyladan commented on #886
I believe if you pass `{ parent: null }` as spanOptions it will work.

[2020-03-22 15:46] Flarna commented on #886
[code]
I don't think `{ parent: null }` will work as parentSpanContext is extracted from context if `option.parent` is falsy. I think using `Context.ROOT_CONTEXT` or using some invalid but non falsy value for `options.parent` is the only solution.
Using `Context.ROOT_CONTEXT` has the disadvantage that it strips everything, not just the parent span context.

[2020-03-22 16:01] dyladan commented on #886
Hmm in that case it's a bug. We need a way to be able to start spans and force them to be a root span. We could introduce a new key `root` or similar, or we could make `parent: null` work.

[2020-03-22 16:09] pauldraper commented on #886
Making `parent: null` work seems to be most logical thing.

[2020-03-22 16:11] pauldraper opened #887 "Plugin strategy."
- [ ] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

[2020-03-22 16:11] #887 closed

[2020-03-22 16:16] pauldraper opened #888 "Plugin strategy for non-Node.js"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Seeing as how there is not an equivalent `require()` to shim on non-Node.js platforms like browser, how will those work?

* Explicit wrapping `foo = instrumentedFoo(foo)`
* Monkey patching

Currently the docs require a specific loading order for Node.js.

[2020-03-22 16:16] Flarna commented on #886
Thinking once more about this using `Context.ROOT_CONTEXT` is maybe the "more correct" approach. If a new root shall be created stripping everything from context for this new root is most likely what you want.
But sure, there may be other use cases where context except parent needs to be passed so `parent: null` or `parent: false` sounds reasonable as extension.

[2020-03-23 13:29] dyladan commented on #886
Think it depends on what behavior you're looking for. If for instance you had correlations in context, you may want multiple traces started with the same correlations

[2020-03-23 15:31] pauldraper opened #890 "Datadog exporter"
OpenTracing implementation: https://github.com/DataDog/dd-trace-js/tree/master/packages/dd-trace

[2020-03-23 15:32] pauldraper commented on #890
@rochdev

[2020-03-23 15:35] dyladan commented on #890
Exporter implementations for commercial backends should be hosted by the company and listed on the [registry](https://opentelemetry.io/registry/?s=exporter).

[2020-03-23 16:56] mayurkale22 commented on #890
+1. Feel free to add @open-telemetry/javascript-maintainers and @open-telemetry/javascript-approvers, if you're looking for code reviews.

[2020-03-23 18:12] dyladan commented on #885
I think we should discuss this wednesday

[2020-03-23 18:18] dyladan commented on #885
I believe we will need to use the global object. This article does a good job of explaining why. https://derickbailey.com/2016/03/09/creating-a-true-singleton-in-node-js-with-es6-symbols/

[2020-03-23 18:24] OlivierAlbertini opened #891 "Moving from tslint to eslint"
Since tslint is deprecated, we should migrate to the eslint ecosystem. After playing with it, It seems to be better in detections.

- gts is also compatible (it's not released yet) but available on the master branch.

I can make a draft PR and if everyone is agreed I can migrate all packages

[2020-03-23 20:39] shivkanya9146 commented on #877
I will take this issue.

[2020-03-23 22:22] mayurkale22 commented on #854
@dyladan assign to you if you're working on this, otherwise will take it.

[2020-03-23 22:26] mayurkale22 commented on #885
Agreed. Added to the agenda for the upcoming SIG meeting.

[2020-03-23 22:34] dyladan commented on #854
I think @obecny is working on this

[2020-03-23 22:35] dyladan commented on #854
When I offered to take this I had forgotten that he already started work. If I'm wrong here, I'm happy  to do it.

[2020-03-23 22:37] obecny commented on #854
Yea I'm almost finished, just trying to have working example ideally with docker (as previously)  with `https://github.com/open-telemetry/opentelemetry-collector`

[2020-03-23 22:37] dyladan commented on #854
AFAIK there are premade collector docker images on the omnition dockerhub

[2020-03-23 22:39] obecny commented on #854
@dyladan already on chat with @mayurkale22 - however cannot make it work yet

[2020-03-23 22:45] obecny commented on #854
but the quick question as the new proto format so far I have implemented only for node version, for web it stays as it was. Should then this be done for both versions ?

[2020-03-23 22:46] mayurkale22 commented on #854
@tigrannajaryan please confirm if this is the latest docker image with OpenTelemetry receiver support: https://hub.docker.com/r/omnition/opentelemetry-collector-contrib/tags

[2020-03-23 22:47] obecny commented on #854
grpc support

[2020-03-23 22:47] mayurkale22 commented on #854
Yes, we should update for both.

[2020-03-23 22:52] dyladan commented on #854
We may want to avoid having to deploy grpc with the browser. In that case, we can use the new format but still transport it over http.

[2020-03-24 03:44] pauldraper commented on #707
[code]

[2020-03-24 04:06] pauldraper commented on #885
This is the entire purpose of peerDependencies. They are the solution to "only one library."

* Libraries -- whether OpenTelemetry SDK or @company/database -- declare @opentracing/api as a peerDependency (with whatever version requirements it sees fit to impose).

* Applications (i.e. code that calls `setGlobalTracerProvider` and `setGlobalMeterProvider`) declares @opentracing/api as a dependency.

[2020-03-24 12:36] dyladan commented on #885
@pauldraper then in this situation, you end up with a broken install:

1. db-driver peer-depends on `@opentelemetry/api` to provide ootb tracing to otel users
2. end-user application depends on db-driver
3. end-user application _is not_ an opentelemetry user, and does not depend on opentelemetry api

Now, the db-driver package will assume the end-user has installed the API, which of course they ha

[2020-03-24 14:19] pauldraper commented on #885
npm warns the user of their broken install.

And the user would add @opentelemetry/api to their package.json. (Though never use it themselves.)

But I now gather your requirement is that @opentelemetry/api never appears directly in application package.json downstream. (Right?)

---

# Options

1. SDK libraries peer depend on @opentelemetry/api. https://github.com/open-telemetry/opentelemetry-js/is

[2020-03-24 14:43] dyladan commented on #885
I would like to avoid putting this burden on users of libraries that want to support opentelemetry, because it may slow adoption due to many libraries not wanting to put this random burden on their users.

I do not want to add to the spam

This is probably OK, but I would probably change the names so that end-users depend on `api` instead of some cryptically named `global` package, and instrumenta

[2020-03-24 15:02] pauldraper commented on #852
This means there is simply no way to get true wall time on those platform.

These have the same appearance:

1. Start span, sleeping for 30 minutes, and end.
2. Start span, adjust system time forward 30 minutes, and end.

Though the first is 30 minutes wall time and second is not.

IDK, but it's a common issue. Go has the same problem.

[2020-03-24 15:03] #890 closed

[2020-03-24 15:07] pauldraper commented on #885
Can be done with Object.defineProperty

True.

[2020-03-24 15:08] dyladan commented on #852
In opentelemetry JS we use the performance timer which is not affected by adjustments to the system clock, so (2) would have the correct duration.

[2020-03-24 18:22] tigrannajaryan commented on #854
Confirmed. Note that this does not include OTLP receiver/exporter.

[2020-03-24 20:53] pauldraper opened #895 "BatchSpanProcessor calls exporter with empty list"
BatchSpanProcessor periodically invokes the exporter with an empty list of spans.

This seems unnecessary.

[2020-03-24 21:01] dyladan commented on #895
PR open

[2020-03-24 21:21] pauldraper opened #897 "High-cardinality HTTP span names"
The spans are `GET /the/path/123` which are high-cardinality.

Instead, I suggest `http.request:GET`.

[2020-03-24 21:27] dyladan commented on #897
Spec states http spans specifically should be named after the method (`GET`, `POST`, etc) if the route name is not available. https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-http.md#name

[2020-03-24 21:56] mayurkale22 commented on #854
@tigrannajaryan Thanks for the confirmation. May I know the timeline to get a new image with OTLP receiver/exporter support?

@obecny I think you should open your PR for reviews, for now we can rely on unit tests and run end to end test once new image is available. WDYT?

[2020-03-25 17:38] dyladan commented on #852
Here are the options so far:

1. Document this as a known issue and move on
2. Each time a timestamp is requested, detect if the performance timer has diverged significantly from the system clock and apply a correction
3. Record startTime using the system clock, and calculate duration using the performance timer. Calculate the system clock offset at the beginning and end of the span to determine i

[2020-03-25 19:13] xirzec opened #902 "What about IE11 support?"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

The product I work on (Azure SDK) has some client libraries that want to support IE11 because they have customers that bundle for the browser and IE11 is still in their supported matrix.

Right now OT won't work as built because it is [compiled with `targ

[2020-03-25 19:23] pauldraper commented on #852
Aren't (1) and (3) the same?

[2020-03-25 19:31] pauldraper commented on #902
Most front-end projects -- especially if they're targeting something as backwards as IE 11 -- will use a transpiler to downlevel to ES5.

[2020-03-25 19:38] pauldraper commented on #902
FYI there are usually ways for bundlers to transpile node_modules.

That said, it is common for packages to publish multiple ES versions in the same package, with "es5", "es2016", etc. keys in package.json.

[2020-03-25 21:19] dyladan commented on #852
No. With (1) your spans may show as the whole span being in the past even if the system clock is correct, and the duration could be incorrect if the performance clock pauses during the span. With (3) you will get the span start time as the correct time (if the system clock is correct), but the duration could be incorrect if the performance timer pauses during the span.

[2020-03-25 21:31] xirzec commented on #902
How does one achieve this with TypeScript? I'm not sure of how to configure TS to transpile dependencies, at least not when they are shipping JS rather than TS sources. Maybe we could try to do it as part of rollup for our bundle output, but I don't think that would help our ESM output (which comes directly from TS for ease of tree-shaking.)

[2020-03-25 21:41] dyladan commented on #902
@xirzec I think paul was suggesting that we as opentelemetry publish with multiple targets so that the projects which rely on us can bundle the correct target.

[2020-03-26 01:00] xirzec commented on #902
That would work! :heart:

[2020-03-26 11:57] jordanworner opened #903 "gRPC plugin throws an error when no traceparent is present"
### What version of OpenTelemetry are you using?
0.5.1

### What version of Node are you using?
v12.16.0

### What did you do?
Sent a gRPC request with no metadata

### What did you expect to see?
The request completing successfully

### What did you see instead?
TypeError: Cannot read property 'match' of undefined
at parseTraceParent (node_modules/@opentelemetry/core/build/src/context/propagation

[2020-03-26 14:56] pauldraper commented on #783
I believe https://github.com/open-telemetry/opentelemetry-js/issues/783#issuecomment-585794357 is the clear and simple approach, where the list of plugins is passed to the TraceProvider.

For ease of use, OpenTelemetry exports -- say -- a list of common plugins and a list of all plugins.

3rd party libs work the same way, where they export a list of plugins.

Users can filter the lists if there is

[2020-03-26 14:58] draffensperger commented on #852
My suggestion would be that we try to keep the precision of the monotonic clock where possible, both for all aspects of the span, it's start/end times and it's timed events. This is because it can help people troubleshoot networking issues, or short timings in a UI to have that kind of accuracy (e.g. how long did it take to set up an SSL connection, how long did it take to render these frames, etc

[2020-03-26 15:12] pauldraper commented on #588
The TS community has this problem generally, and there isn't a great solution.

In practice it's fairly minimal as upgrading TS is rather easy (some adjusting of flags).

[2020-03-26 15:13] dyladan commented on #852
@draffensperger so you're suggesting allow the span timings to be incorrect, but maybe annotate spans with the offset when the system clock diverges from the performance timer by more than a second or so?

[2020-03-26 15:21] draffensperger commented on #852
Correct - my suggestion would be for version 1 of this work, we just detect when the spans timings are probably incorrect and we add some extra labels to the span to indicate how we think it's incorrect. For starters it could just be a `likelyClientPause=true` label that people could just filter out in their queries to exclude those spans that exhibit this behavior.

Maybe version 1.1 of the idea

[2020-03-26 20:02] #886 closed

[2020-03-26 20:42] obecny opened #905 "Documentation for Web is wrong - the provider is missing the context"
Documentation for  web as well as examples is wrong - the provider is missing the contextManager. This was changed in https://github.com/open-telemetry/opentelemetry-js/pull/816 and some examples are broken since linting https://github.com/open-telemetry/opentelemetry-js/pull/649

[2020-03-27 12:26] #905 closed

[2020-03-27 12:52] #895 closed

[2020-03-27 13:17] #903 closed

[2020-03-27 19:18] mayurkale22 opened #908 "express plugin: multiple .end() call & .setStatus after .end() of span"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.5.2

### What did you do?
Run [express example](https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/express).

### What did you expect to see?
Execute without `error`/`warn`.

### What did you see instead?
[code]

[2020-03-27 19:25] vmarchaud commented on #908
Guess thats coming from the fact that i'm trying to guess if one layer called the next callback or not ([here](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-express/src/express.ts#L210)). I will look into it tomorrow if no one does it before

[2020-03-27 19:29] mayurkale22 commented on #908
Yes, looks like due to https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-express/src/express.ts#L210-L212.

[2020-03-28 10:32] vmarchaud opened #909 "express plugin: doesnt work with express-async-errors module"
`express-async-errors` is a module that wrap express layers so they can be async, however to do so it change the handle fn location (https://github.com/davidbanham/express-async-errors/blob/master/index.js#L36)

[2020-03-28 15:40] pauldraper commented on #722
I suggest choosing whether the SDK should be in one package or multiple (I lean towards one package), and just sticking with that.

Less choices for developers, clearer docs, etc.

[2020-03-28 16:07] pauldraper opened #911 "Don't log pg.values"
Or at least make it a configuration option.

1. They are frequently sensitive. (There is more general issue with masking sensitive information, but query values are certainly.)

2. They are frequently large. Especially arrays.

[2020-03-28 16:20] vmarchaud commented on #911
For the record [`mysql`](https://github.com/open-telemetry/opentelemetry-js/blob/f695e40a961c3dc76bb8aceeb92b561f04250021/packages/opentelemetry-plugin-mysql/src/mysql.ts#L229), [`ioredis`](https://github.com/open-telemetry/opentelemetry-js/blob/f695e40a961c3dc76bb8aceeb92b561f04250021/packages/opentelemetry-plugin-ioredis/src/utils.ts#L76) and [`redis`](https://github.com/open-telemetry/opentelem

[2020-03-28 17:06] dyladan commented on #722
That is more or less what mayur suggested. We still have to have separate sdk packages for web and node probably, and the instrumentations will always be separate, but I agree that most users should only need to think about a single package.

[2020-03-28 19:21] shivkanya9146 commented on #876
I will take this issue.

[2020-03-29 05:31] naseemkullah commented on #897
Correct me if I am wrong but I'm under the impression that high cardinality is the point of tracing data?

[2020-03-29 22:21] dyladan commented on #897
Names are not meant to uniquely identify a trace, but a class of traces. for instance, `GET /user/:id` is a good name, but `GET /user/123` is bad because you can't easily search for all traces for the same route.

[2020-03-30 07:46] vmarchaud commented on #897
@dyladan Using the route would require to the modify the span after it has been created (inside the express plugin for example).Correct me if i'm wrong but i believe there are no way to do that right now ?

[2020-03-30 12:35] dyladan commented on #897
That is the core issue at question in this issue https://github.com/open-telemetry/opentelemetry-specification/issues/468

It seems like they're leaning towards keeping `updateName` but with a different name.

[2020-03-30 21:31] mayurkale22 commented on #877
Closing via https://github.com/open-telemetry/opentelemetry.io/pull/157, Thank you @shivkanya9146 :)

[2020-03-30 21:31] #877 closed

[2020-04-01 03:05] dyladan opened #919 "Use resource `service.name` as zipkin service name"
https://github.com/open-telemetry/opentelemetry-specification/pull/472

Right now we get the service name from the config. While we can probably keep this as a manual override of sorts, we should infer the service name where we can.

[2020-04-01 17:15] dyladan commented on #885
We talked about this again at the SIG meeting today. I am going to come up with a PR using the `global` method that we can talk about next week. Whoever is interested in joining a PR review meeting for it early next week comment here and i'll invite you.

[2020-04-01 17:21] mwear opened #920 "Add logging to Resource detection"
**Is your feature request related to a problem? Please describe.**
Resource auto-detection is great when it works, but hard to debug when it doesn't. Having an option to turn on debug logging will help figure out what Resources were detected, and what data the detectors received.

**Describe the solution you'd like**
Pass a logger, or perhaps a ResourceDetectionConfig object with a logger into the

[2020-04-01 19:36] #865 closed

[2020-04-01 19:50] #835 closed

[2020-04-02 04:22] naseemkullah commented on #585
Any update on this?

FYI I tried:

[code]

but got

[code]

[2020-04-02 13:54] dyladan commented on #585
@naseemkullah you need to update your version of `@types/node`

[2020-04-05 16:14] vmarchaud commented on #752
@yosiat I found a fix that involves the way value are stored. Checkout my PR but i believe a similar fix would be possible in `cls-hooked`

[2020-04-06 07:50] Flarna commented on #902
see https://github.com/open-telemetry/opentelemetry-js/pull/593 for background and differences in generated `async` code.

[2020-04-06 11:55] vmarchaud commented on #909
Waiting for #910 to be merged before making the PR

[2020-04-06 12:01] vmarchaud opened #927 "metrics: implement histogram aggregator"
Spec: https://github.com/jmacd/opentelemetry-specification/blob/jmacd/draft_metric_sdk_spec/specification/sdk-metric.md#L249

Go implementation: https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/metric/aggregator/histogram/histogram.go

[2020-04-06 12:07] vmarchaud opened #928 "metrics: implement Sketch aggregator"
Spec: https://github.com/jmacd/opentelemetry-specification/blob/jmacd/draft_metric_sdk_spec/specification/sdk-metric.md#L242

Go impl: https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/metric/aggregator/ddsketch/ddsketch.go

The go implementation use https://github.com/DataDog/sketches-go to do the actual math, sadly no implementation exists currently in JS or TS so we'll need to

[2020-04-06 12:24] wdalmut commented on #678
Hi to everybody,

I am implementing this plugin https://github.com/wdalmut/opentelemetry-plugin-mongoose i am trying different setup and configurations (pre/post hooks, etc) in order to start using it. In the `feature/method-wrap` branch i correctly wrapped the `save` and `find` operation (first running attempt) [release 0.0.22 on npm - https://www.npmjs.com/package/@wdalmut/opentelemetry-plugin-m

[2020-04-06 12:37] dyladan commented on #678
@wdalmut thanks for the contribution to the community! Right now, we're leaning towards moving the plugins out of the main repository. Eventually there may be some contrib repository, but for now we're suggesting that people host their own plugins and add them to the registry <https://opentelemetry.io/registry/>.

If you need help or pull request reviews from opentelemetry maintainers, feel free t

[2020-04-06 13:14] austinlparker opened #929 "docs/samples: incorrect tracer being returned in sample code"
An example of this is here: https://github.com/open-telemetry/opentelemetry-js/blob/master/examples/express/tracer.js

The exported tracer in this example is incorrect; it's returning the `NoOp` tracer instance from the OpenTelemetry API package rather than the registered tracer on the provider. I don't know if this is an underlying issue with the provider registration or just a docs issue; if I e

[2020-04-06 13:26] dyladan commented on #929
Have you made sure all of your opentelemetry dependencies are running the _exact_ same version?

[2020-04-06 13:37] wdalmut commented on #678
Good to hear that! :-D i stabilize a little bit the plugin and then i will open a PR for your registry.

Thank you so much!

[2020-04-06 13:51] austinlparker commented on #929
Ooh, that might be it. I thought they were but my API version was ahead.

[2020-04-06 13:54] austinlparker commented on #929
Yeah, that was the problem. My bad!

[2020-04-06 13:54] #929 closed

[2020-04-06 16:32] vmarchaud opened #931 "feat(http): allow to disable span without parent for outgoing requests"
I'm trying to setup tracing across my microservices (~10) and one is sending periodic request to internal GCP stuff.
I know i could ignore them one by one using the `ignoreOutgoingUrls` option but that would not really be future proof in case new code get added in the underlying library i'm using :/
I can't use something like `ignoreOutgoingUrls: /.*/` because that would also disable spans created

[2020-04-06 16:36] dyladan commented on #931
This is a topic the spec has been talking about recently actually. They want to create a context var that disables tracing and I have a nodejs prototype. Works like this:

[code]

does that cover your use case?

[2020-04-06 17:22] vmarchaud commented on #931
// do something here with tracing disabled
})

Not really because the span are created by the `http` plugin, not my own code. However in other cases, i agree that this feature would be helpful for end users

[2020-04-06 17:31] dyladan commented on #931
Where are you suggesting this option? Are you trying to disable the http plugin entirely? I guess i'm not fully understanding the usecase here.

[2020-04-06 17:36] vmarchaud commented on #931
I'm trying to disable the creation of new span for outgoing request when there are no context/no parent. That would require to add a check [here](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-http/src/http.ts#L400) like so:

[code]

[2020-04-06 17:39] dyladan commented on #931
Ah I understand. i think `disableOutgoingTraces` is just a little misleading because it implies all traces are disabled. I think `disableOutgoingRootSpans` or something similar that makes it clear the only spans being disabled are ones with no parent.

[2020-04-07 05:33] naseemkullah commented on #585
Does not seem to help, only thing that helps if if i add `dom` as a value for `lib` in `tsconfig` as per https://github.com/DefinitelyTyped/DefinitelyTyped/issues/19799 ... is that the right thing to do?

[2020-04-07 09:29] vmarchaud opened #932 "metrics: allow custom batcher for Meter"
From the spec [here](https://github.com/jmacd/opentelemetry-specification/blob/jmacd/draft_metric_sdk_spec/specification/sdk-metric.md#L289), there are different type of `Integrator` (which is our `Batcher`), we should allow to define a custom one for a given meter and use `UngroupedBatcher` if none is provided.
It will also allow user (like me) to implement their own aggregator :)

[2020-04-07 13:47] mzahor opened #934 "[opentelemetry-exporter]: provide an option for max attribute value (currently it's hardcoded to 128 bytes)"
Currently opentelemetry-exporter has a limit of 128 bytes for span's attribute value: https://github.com/open-telemetry/opentelemetry-js/blob/4627892c4a77a942cfd34aa804bc2cf8e2d038ef/packages/opentelemetry-exporter-collector/src/transform.ts#L23
We have a use case where we need it to be bigger (we use our own exporter on the backend that sends all the data to Kinesis for further processing, so big

[2020-04-07 14:14] vmarchaud opened #935 "feat(express): add option to disable span creation without root"
Similar as https://github.com/open-telemetry/opentelemetry-js/issues/931, i've added both the express and http plugin but added some pattern to ignore for the http plugin. However when the http plugin dont create a span because the url is ignored, the express plugin still create, resulting in single trace with one span for each middleware.
Two solutions:
- allow to ignore express layers depending

[2020-04-07 14:24] obecny commented on #618
this seems to be outdated and unwanted, closing

[2020-04-07 14:24] #618 closed

[2020-04-07 15:54] dyladan commented on #935
It seems to me for the express usecase you would probably never want them to be root spans, so this behavior can probably be "baked in" to the plugin.

[2020-04-07 15:56] dyladan commented on #934
The exporter is changing to use the OTLP format in #901. I think we should address this after that merges?

[2020-04-07 15:58] dyladan commented on #585
I don't think so, because that just means it's attempting to use the global URL which is available in browsers but not node. I'll look into this

[2020-04-07 16:10] Flarna commented on #585
Global URL is available in Node but it's missing in type definitions. Reason is that the `URL` object is slightly different between node and DOM. Therefore adding the node variant at global scope for node breaks all projects which have `dom` in `lib` - and this are a lot projects.

see https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25356

[2020-04-07 16:41] dyladan commented on #585
Looks like this is just a typing issue anyways <https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-http/src/http.ts#L148>. The http plugin is a node-only plugin so we should just make the type explicitly use the URL from the `url` module.

[2020-04-07 17:22] Flarna commented on #585
Maybe the projects should be configured more strict. e.g. plugin-http is node only therefore lib `dom` should be not needed/used at all. As there is no `lib` config in `tsconfig.json` of the plugin-http nor in `tsconfig.base.json` typescript includes `dom` on default.

[2020-04-07 17:34] dyladan opened #936 "Remove `dom` from node-only libs"
As disussed here: https://github.com/open-telemetry/opentelemetry-js/issues/585#issuecomment-610516259

We should remove the possibility of using `dom` globals in libs we know to be node-only by setting `libs` in tsconfig

From @Flarna in #585

[2020-04-07 17:50] dyladan opened #938 "use `url.URL` in http and https plugins"
The current `http`/`https` plugins use the global `URL` which comes from the `dom` lib. All instances of `URL` should be replaced with `url.URL` from the standard library.

[2020-04-07 17:57] dyladan commented on #11
Any update on this? I think this is still a good idea and don't want it to fall behind.

[2020-04-07 18:02] mayurkale22 commented on #11
Still waiting on https://github.com/open-telemetry/community/issues/306. @markwolff do you have any update on this?

[2020-04-07 18:52] wdalmut opened #940 "Unlinked span for mysql plugin when use Promise.all function"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.6.0

### What version of Node are you using?
v12.11.1

### What did you do?
When i use a `Promise.all` function in combination with a traced function i will not found any query span in Jaeger but i found two completely separated spansI

![Jaeger UI (2)](https://user-images.githubuserco

[2020-04-07 18:59] obecny opened #942 "Prometheus counter is missing time"
When metric `Counter` is being exported using Prometheus Exporter it is missing the timestamp.
for example
[code]

but it should be

[code]

[2020-04-07 19:00] vmarchaud commented on #940
Thats because you are using `with` which is only synchronous with async code (Promise.all). A PR is open at https://github.com/open-telemetry/opentelemetry-js/pull/926 to add a `withAsync` function that should solves your case

[2020-04-07 19:40] dyladan commented on #942
Please add some context so people aren't confused what this means.

[2020-04-07 19:43] mayurkale22 commented on #932
Closed via #933

[2020-04-07 19:43] #932 closed

[2020-04-07 19:52] mayurkale22 commented on #934
I think this has already been addressed in #901. This limitations/restrictions were there due to old OpenCensus protos, now in latest OpenTelemetry proto they got ride of `TruncatableString` type.

[2020-04-07 19:52] mayurkale22 commented on #934
@obecny could you please confirm the same?

[2020-04-07 20:26] Flarna commented on #940
Could be also related to knex. As far as I know knex uses thenables and they are currently not supported by async-hooks/v8 PromiseHooks. see https://github.com/nodejs/node/issues/22360

[2020-04-07 20:35] Flarna commented on #931
I think it would make sense that each plugin has an `requiresParent` (or whatever name sounds better).
Each plugin should use a reasonable default value which may differ from plugin to plugin.

[2020-04-07 21:09] vmarchaud commented on #931
Will open PRs for express and http tomorrow then :)

[2020-04-07 21:11] dyladan commented on #931
It might make more sense to introduce this as a single PR that adds the option to all plugins with a per-plugin default value. e.g. express would default to not creating root spans, and http would default to creating them.

[2020-04-07 21:17] Flarna commented on #931
Just realized that there is just a single http plugin, not one for server and one for client. Therefore I think a single setting is too limiting for the http plugin.

[2020-04-07 21:20] dyladan commented on #931
Having a single plugin for client and server is, in my opinion, a mistake anyways. it may be too late to fix though

[2020-04-07 21:25] Flarna commented on #931
Other plugins for outgoing requests like MongoDb requires always a parent (see https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-mongodb/src/mongodb.ts#L110).
I think the default is ok here but an options would be nice.

[2020-04-07 21:55] obecny commented on #934
@mayurkale22 It looks like it got rid it is not used anymore

[2020-04-07 22:27] amarflybot18 commented on #935
Do you think this is related to:

[code]

Because I cannot see a way to pass extraOptions from Gateway in a node based microservices setup.

Also this is in '@opentelemetry/plugin-http'

[2020-04-08 00:48] dyladan opened #945 "TypeError: Cannot convert undefined or null to object"
From @amarflybot18

[code]

Because I cannot see a way to pass extraOptions from Gateway in a node based microservices setup.

Also this is in '@opentelemetry/plugin-http'

_Originally posted by @amarflybot18 in https://github.com/open-telemetry/opentelemetry-js/issues/935#issuecomment-610651213_

[2020-04-08 00:48] dyladan commented on #935
No I do not think this is related. Do you have a minimum reproduction code sample? If so can you add it on #945

[2020-04-08 00:49] dyladan commented on #934
I was going to close but this issue should be closed by #901

[2020-04-08 01:22] amarflybot18 commented on #945
I was actually using ApolloFederation as Gateway. From Apollo, you get [RemoteGraphQLDataSource](https://www.apollographql.com/docs/apollo-server/api/apollo-gateway/#remotegraphqldatasource) as a middleware where we can change the request and response object before calling downstream services.

Using this I wrote the following code:

[code]

The tracer object is created using `api.trace.getTracer(

[2020-04-08 02:24] dyladan commented on #945
Can you try the fix at #946 and tell me if it does the trick?

[2020-04-08 02:53] amarflybot18 commented on #945
Yes, the fix works. Could you please merge ?

[2020-04-08 03:27] dyladan commented on #945
Going to at least wait for @mayurkale22 and we're going to push a release in the morning. I'll update you when that happens.

[2020-04-08 03:32] #945 closed

[2020-04-08 03:34] dyladan commented on #945
@amarflybot18 mayur just merged it. this will go out with the release in the morning

[2020-04-08 04:11] amarflybot18 commented on #945
Thanks a lot.

[2020-04-08 09:03] mzahor commented on #934
Thanks @dyladan. The new exporter should solve the issue with attribute value length. As far as I can see the collector already has otlp receiver, is there anything else we need in order for #901 to be released?

[2020-04-08 12:20] owais commented on #885
I ran into the same issue a couple of days ago when trying to run an Otel workshop. Node was neither parsing parsing propagation headers from incoming requests, nor injecting them into outgoing ones. Took quite some time to figure out what was going on. http plugins were using the global propagator from `@opentelemtry/api` but they had their own copy of it and module caching is FS path sensitive.

[2020-04-08 12:21] vmarchaud commented on #931
We can totally have one option for both, i will implement that.

[2020-04-08 12:49] vmarchaud commented on #935
Need https://github.com/open-telemetry/opentelemetry-js/pull/910 to be merged to make a fix actually

[2020-04-08 13:50] dyladan commented on #934
We're just waiting for reviews and to be confident in it before we release as it is a large change. Should be soon

[2020-04-08 13:56] dyladan opened #950 "Remove @types/nock from all package.json files"
nock now bundles its own type definitions, so the types module can be removed.

[2020-04-08 16:22] #942 closed

[2020-04-08 18:42] dyladan commented on #945
@amarflybot18 just deployed

[2020-04-08 20:36] dyladan commented on #885
@owais any way you can test the #943 PR against your workshop code to see if it is fixed?

[2020-04-08 20:39] obecny opened #954 "Metric Observer - change from callback to Observable"
Currently Metric Observer is using callback to get a value. The callback is called periodically, and is returning the value. This is causing the problem to be able to update value in asynchronous operation. If we change the callback to Observable we will be able to set the value at any given time. It would look then more less like this

[code]

WDYT ?

[2020-04-08 21:09] amarflybot18 opened #955 "Auto Metrics collector like micrometer.io for java"
- [*] This only affects the JavaScript OpenTelemetry library
- [*] This may affect other libraries, but I would like to get opinions here first

This is mostly a question ticket.
For opentelemetry-js do you have any auto metrics registration plugin, I am trying to find a library like Spring Boot Actuator, that gives auto CPU, process, memory, Http requests on a endpoint. It uses [Micrometer](https

[2020-04-08 22:47] dyladan commented on #955
No we don't have anything that does metrics collection automatically yet

[2020-04-08 22:48] dyladan commented on #954
Are you thinking to implement Observable or import some Observable library?

[2020-04-08 23:08] obecny commented on #954
I would implement the basic Observable, no need for 3rd party lib

[2020-04-08 23:28] obecny commented on #954
and then the code for `ObserverMetric.setCallback` could be similar to something like this (more less to just give you the rough idea)

[code]

[2020-04-08 23:37] obecny commented on #954
in fact we could have both callback if someone needs just a sync callback (as it is now) or observer for any async operations

[2020-04-09 00:03] mwear commented on #955
We're planning on adding basic runtime metrics to our Lightstep metric exporter packages with the broader goal of formalizing it through the OpenTelemetry spec process. This would likely take form as semantic conventions for metric names and values and it'd be great to see this eventually integrated into SDKs.

[2020-04-09 00:28] mayurkale22 commented on #955
Looks like same as https://github.com/open-telemetry/opentelemetry-js/issues/623

[2020-04-09 05:33] mayurkale22 commented on #950
@shivkanya9146 would you like to take this one?

[2020-04-09 09:57] vmarchaud opened #956 "plugins(mongodb): two versions of mongodb used result in double patching"
When trying to instrument one of my service, i've add this weird trace:
![image](https://user-images.githubusercontent.com/2820968/78882586-909adb80-7a58-11ea-8f54-0cead421805e.png)

If you look at the mongodb span, they seems to be traced twice. When looking at the tracer log:
[code]

My service use both `mongoose` which bundle its own version of `mongodb` and `mongodb` directly and somehow we pa

[2020-04-09 12:45] dyladan commented on #956
mongodb plugin likely uses a global instance but we patched twice because module loaded twice. We can probably fix this by just using `isWrapped` to check if the function has been wrapped yet before adding a shimmer wrapper.

[2020-04-09 14:30] obecny commented on #954
@mayurkale22 && @open-telemetry/javascript-approvers would like to hear your thoughts on that, thx

[2020-04-09 14:48] vmarchaud commented on #954
Looks fine to me :+1:

[2020-04-09 17:00] shivkanya9146 commented on #950
I will take this issue.

[2020-04-09 17:16] dyladan commented on #954
Can we do this and still remain compliant to the spec? I want to stay as similar to other sigs as possible

[2020-04-09 17:21] obecny commented on #954
the spec says it should be callback - for sync operation we can have like this, but for async I don't see so far any easy way to be able to do it. So we can easily support 2 cases. The biggest advantage will be that we can support async operation without trying to fix the problem of waiting for async to finish and the time of lastUpdate will be correct too. Besides that the change won't be so big

[2020-04-09 17:35] dyladan commented on #954
I think it's a good idea let's go for it

[2020-04-09 17:35] dyladan commented on #954
@obecny were you thinking you wanted to do this?

[2020-04-09 17:59] mayurkale22 commented on #954
So this will change only internals of the implementations and not on API side, (No breaking change) right?

[2020-04-09 18:00] obecny commented on #954
@dyladan  yes as I'm working on metrics now anyway, so that's the whole idea where it comes from

[2020-04-09 18:02] obecny commented on #954
@mayurkale22 we will have to extend our metrics to allow for callback and for Observable

[2020-04-09 18:05] obecny commented on #954
@mayurkale22 here -> https://github.com/open-telemetry/opentelemetry-js/blob/3d26f822f429916f9cd11393b259eaa190e64dbe/packages/opentelemetry-api/src/metrics/ObserverResult.ts#L24

[2020-04-09 18:08] dyladan commented on #954
@mayurkale22 it is backwards compatible change for metrics as it should just add one additional type accepted by the `observerResult.observe` method right @obecny?

Currently we have
[code]

We wil extend it to allow:

[code]

[2020-04-09 18:10] obecny commented on #954
@dyladan correct

[2020-04-09 18:14] obecny commented on #954
But the whole idea is to allow for something like this
const diskObservable = new MetricObservable();

[code]

[2020-04-09 18:16] dyladan commented on #954
Right, I just thought the sync example was easier to read for the example. We're on the same page :)

[2020-04-09 18:16] dyladan commented on #954
`observe(callback: Function, labels: Labels): void;` signature will change to `observe(callback: Function | MetricObservable, labels: Labels): void;` which is a backwards compatible change.

[2020-04-09 19:30] #567 closed

[2020-04-09 19:30] #854 closed

[2020-04-09 19:30] #934 closed

[2020-04-09 19:58] #950 closed

[2020-04-10 19:55] obecny opened #959 "circle ci fails for gts 2.0.0"
We are using gts version 1.1.0, but on circle ci gts didn't have version and recently was updated to ver. 2.0.0. There were problems with that and lerna couldn't boostrap dependency correctly. I did a fix to use the same version we use in our packages (1.1.0) but this should be investigated separately to see if we want to use latest version and then probably update circle ci config file as well as

[2020-04-10 19:55] obecny commented on #959
@dyladan, @mayurkale22  ^^

[2020-04-10 20:11] mayurkale22 commented on #959
See: https://github.com/google/gts/blob/master/CHANGELOG.md#-breaking-changes-

[2020-04-11 17:08] dyladan commented on #959
there was already something on this: #891 #892 but the PR is still in draft. Oliver was waiting for the new `gts` to release. Now that it is ready he can probably get this going.

[2020-04-11 17:08] dyladan commented on #959
Closing as a duplicate of #891

[2020-04-11 17:08] #959 closed

[2020-04-12 00:35] naseemkullah commented on #938
🙋‍♂️

[2020-04-13 05:56] wdalmut commented on #940
i can confirm that this issue is related to the "thenables" structure of Knex...

[2020-04-14 22:23] gpra opened #966 "Compilation error in Angular"
### What version of OpenTelemetry are you using?
0.6.1

### What version of Node are you using?
13.11.0

### What did you do?
Tried to use @opentelemetry in an Angular project. Just:

1 - include the dependency:

2 - Try to use it:
import { SimpleSpanProcessor } from '@opentelemetry/tracing';

### What did you expect to see?
Compile OK

### What did you see instead?
Compilation error:
ERROR in ./n

[2020-04-15 14:30] dyladan commented on #966
@obecny I think it may be time to split the BasePlugin into specific node/web versions

[2020-04-15 14:30] dyladan commented on #966
/cc @mayurkale22

[2020-04-15 14:33] obecny commented on #966
we can just split it to 3 files, base abstract and then node and web using the platform folder ?

[2020-04-15 14:36] obecny commented on #966
Just wondering what has changed recently that this is not working anymore ?. As it was fine quite recently

[2020-04-15 14:40] dyladan commented on #966
It's probably some issue with his specific bundler or something like that. The BasePlugin definitely uses the `path` module, though it should only actually use it in node plugins. It looks like he is using some sort of static analysis that looks at the source and sees the path module may be used.

[2020-04-15 14:41] obecny commented on #966
anyway we should split it asap ;)

[2020-04-15 17:03] dyladan opened #967 "Platform specific BasePlugin"
Some web bundlers complain or do not properly tree-shake out the node specific parts of the BasePlugin. Further, the web does not automatically enable plugins. We should create platform specific implementations which only implement the features needed for the platform.

[2020-04-16 13:51] obecny opened #968 "merge base into api"
Currently the package `base` has just one constant and `ExportResult` which is a bit weird to be a standalone package, should we simply include this into `api` ?

[2020-04-16 13:53] dyladan commented on #968
I think those can be moved into `core`, but they're both specific to our SDK so they can't be moved into the API

[2020-04-16 13:54] obecny commented on #968
core works fine too

[2020-04-16 18:14] #938 closed

[2020-04-16 18:21] dyladan commented on #616
We should look at how other sigs are configuring plugins. Ruby has some way to provide a hash of options directly in the gemfile (similar to package.json), and I know some js packages allow configuration inside the package.json. Maybe this is a good way for us to go.

[2020-04-17 03:36] naseemkullah commented on #536
This can be closed.

[2020-04-17 03:37] #536 closed

[2020-04-17 16:53] dyladan opened #970 "Should merge guidelines be different or the same for contrib?"
Now that we have created the https://github.com/open-telemetry/opentelemetry-js-contrib repo, we should talk about what the merge guidelines should be. Generally, in the "main" repo PRs are merged after receiving 3-4 approvals if open questions are answered, and we typically wait for both maintainers to weigh in on most cases. Should the contrib repo have relaxed requirements?

I believe we should

[2020-04-17 17:00] #820 closed

[2020-04-18 12:28] naseemkullah commented on #616
For now can we dial back the scope and just merge user defined config with the default config? as far as having default values for `enabled` and `path` remain untouched so one could simply:

[code]

rather than:

[code]

[2020-04-22 16:03] jordanworner opened #976 "plugin-grpc: B3 sampled causing gRPC error"
### What version of OpenTelemetry are you using?

0.6.1

### What version of Node are you using?

v12.16.2

### What did you do?

Calling a gRPC service with sampled using B3Propagator

### What did you expect to see?

The sampled value to be added to the gRPC metadata

### What did you see instead?

The error:

Error: keys that don't end with '-bin' must have String values

from https://github.co

[2020-04-22 17:59] mayurkale22 commented on #976
Thanks for reporting this! I'm working on trying to reproduce this now.

[2020-04-22 18:16] mayurkale22 commented on #970
I would prefer to have same merge guidelines for both of the repos *for now* to avoid unnecessary confusions.

+100, this one has been pending for ages.

[2020-04-22 19:58] #954 closed

[2020-04-22 19:59] dyladan opened #978 "Create merge guidelines in CONTRIBUTING.md"
I would prefer to have same merge guidelines for both of the repos *for now* to avoid unnecessary confusions.

+100, this one has been pending for ages.

_Originally posted by @mayurkale22 in https://github.com/open-telemetry/opentelemetry-js/issues/970#issuecomment-617945824_

[2020-04-22 20:05] dyladan commented on #616
Yes I think this is a good idea. If you want to make a PR that would be great, or else I can do it when I have time.

[2020-04-22 20:07] naseemkullah commented on #616
Sure thing! I'll submit a PR.

[2020-04-22 22:33] kintel opened #979 "HttpTraceContext requires version 00"
From reading code, it looks like we require the traceparent version to be `00`:
https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-core/src/context/propagation/HttpTraceContext.ts#L30

The W3C spec says that we should still attempt to parse the known fields, as future extensions will be additive:
https://www.w3.org/TR/trace-context/#versioning-of-traceparent

Thi

[2020-04-22 22:43] mayurkale22 commented on #979
Thanks for reporting this! Yes, you're right. We should replace `00` => `[\da-f]{2}` or something like this.

[2020-04-22 22:44] mayurkale22 commented on #979
If you are feeling motivated, maybe you can attempt to write solution and open a PR.

[2020-04-22 22:51] kintel commented on #979
I'll have a look once I get my C++ implementation solid. ..and I may have to open this issue against every language in Otel : /

[2020-04-23 17:25] obecny commented on #966
https://github.com/open-telemetry/opentelemetry-js/issues/967

[2020-04-23 22:16] #976 closed

[2020-04-24 11:45] yosiat commented on #752
@vmarchaud this looks really cool!
can't wait for this to be released and replacing cls-hooked with this implementation.

and in the near future use node 14 experimental async local storage

[2020-04-25 16:07] vmarchaud commented on #956
Moved to https://github.com/open-telemetry/opentelemetry-js-contrib/pull/5

[2020-04-25 16:08] vmarchaud commented on #927
Landed in 0.7.0

[2020-04-25 16:08] #927 closed

[2020-04-25 16:12] vmarchaud commented on #908
This has landed on the contrib repo, release pending https://github.com/open-telemetry/opentelemetry-js-contrib/pull/6

[2020-04-25 16:12] #908 closed

[2020-04-25 16:14] vmarchaud commented on #707
I think we can close this one since https://github.com/open-telemetry/opentelemetry-js/pull/736 has been closed ?

[2020-04-25 16:15] vmarchaud commented on #667
Moving to contrib repo, also @nstawski did you started to work on that ?

[2020-04-25 16:16] vmarchaud commented on #684
Moving inside the contrib repo since the express plugin is now there

[2020-04-25 16:17] #707 closed

[2020-04-25 16:27] vmarchaud commented on #598
I'm moving the issue on the contrib repository, if someone has a implementation feel free to open up a PR over there so we can merge it !

[2020-04-25 16:28] vmarchaud commented on #672
Moving over the contrib repo

[2020-04-25 16:29] #127 closed

[2020-04-25 16:40] vmarchaud opened #982 "prometheus-exporter: export measure"
[The exporter do not export measure](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-exporter-prometheus/src/prometheus.ts#L212) which has been reported over gitter. Note that each measure intrument is aggregated as follow:
[code]
While waiting for the View API which will allow measure to be aggregated following user configuration, i think we should compute an

[2020-04-25 18:32] paulfairless commented on #982
Thank you for opening this. My main objective using the Measure type was to record function timings, short of specific instrumentation methods to do so. I believe the `Summary` type in Prometheus may be suitable for this data.

A simple scenario would record the sum and count in the Summary.
A more advanced case could include min, max and average as percentiles, though I believe the use of Summary

[2020-04-26 09:10] vmarchaud opened #983 "bug(http-plugin): `x-opentelemetry-outgoing-request` isn't stripped before sending the request"
It can create some issues for remote server that doesn't expect that header, ex:
https://github.com/openzipkin/zipkin-support/issues/6
Anyway we shouldn't mutate the request from a external point of view

ref: https://github.com/open-telemetry/opentelemetry-js/pull/965#discussion_r415143475

[2020-04-26 09:12] vmarchaud commented on #983
we should trip it there: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-http/src/http.ts#L384

[2020-04-26 16:17] vmarchaud commented on #678
I'm moving this issue over the contrib repo, @wdalmut feel free to open a PR if you want your plugin to be included there !

[2020-04-28 03:50] mayurkale22 opened #985 "Documentation: add how to use document/example for Resources API"
Consider to adding Readme/examples for `Resource` API.

See: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-resources/src/Resource.ts#L25

[2020-04-28 09:43] satazor opened #987 "Exporters shutdown() could return a promise"
**Is your feature request related to a problem? Please describe.**

I would like to know when exporters, like jaeger, are done flushing after a `shutdown()`. Currently, the `shutdown` method returns nothing, and there's no way to effectively know when the shutdown finished (flushed + closed connection).

**Describe the solution you'd like**

In Node.js is quite hard to implement a synchronous `shu

[2020-04-28 09:45] sleighzy opened #988 "Invalid method used for initialising GlobalTracer in opentracing-shim example"
The OpenTelemetry API was changed to use `setGlobalTracerProvider(provider)` instead of `initGlobalTracerProvider(provider)`. The change made at the time appears to have broken the `opentracing-shim` example in the below two files as it also updated the `opentracing.initGlobalTracer(shim)` call to `opentracing.setGlobalTracer(shim)`.

https://github.com/open-telemetry/opentelemetry-js/pull/839/fil

[2020-04-28 10:15] sleighzy commented on #988
I'll have a PR for this shortly.

[2020-04-28 13:09] dyladan commented on #987
I think this is a good idea and it seems like the spec allows for it. Would you like to make the PR or should I mark this as up for grabs?

[2020-04-28 13:54] satazor commented on #987
@dyladan I was looking at the code, and found this: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-exporter-prometheus/src/prometheus.ts#L112

It seems that the prometheus exporter uses callbacks. I would prefer to use promises as we can leverage `async await` more easily.

Can we agree on `shutdown() => Promise` for all exporters?

[2020-04-28 15:17] dyladan commented on #987
I am ok with it but I'd like to get @mayurkale22 opinion

[2020-04-28 16:01] legendecas opened #989 "Ability to create metrics with different aggregators"
**Is your feature request related to a problem? Please describe.**
In the current API shape, it is not able to create a metric and set an expected aggregator. Like say, we have two observer metrics, one we'd like to aggregate with HistogramAggregator, and another with DistributionAggregator.

**Describe the solution you'd like**
Document the batcher API, or allow meters to accept an option of aggr

[2020-04-28 18:21] mayurkale22 commented on #987
SGTM

[2020-04-28 19:07] dyladan commented on #987
@satazor I am going to assign this issue to you. Let me know if that doesn't work for you or if you have any questions.

[2020-04-28 19:38] satazor commented on #987
@dyladan alright, I'm going to try and find some time to do this. Do you expect a PR on all packages or can I do them separately?

[2020-04-28 20:46] dyladan commented on #987
There are only a small number of packages so I would say it can be done all in a single PR. If you do attempt to split it into multiple PRs, take note that we will not merge any PRs that break the build. Updating the interface but not the classes will break the build.

[2020-04-29 05:48] legendecas opened #992 "Source file naming convention"
- [x] This only affects the JavaScript OpenTelemetry library
- [x] ~~This may affect other libraries, but I would like to get opinions here first~~

In the repo, there are files named in `hex-to-base64.ts` style, and some are `BoundInstrument.ts` style, and some are `correlation_context`. Should the file naming style be kept consistent across the project? And which style would the project prefer?

[2020-04-29 08:41] legendecas opened #993 "BigInt support"
**Is your feature request related to a problem? Please describe.**
Long time running service might encounter quite large metrics values. BigInt support is very critical to these usages.

**Describe the solution you'd like**
Metrics internally store values as BigInt for ValueType.INT. Whilst we can still add/record with JavaScript number primitives.

[2020-04-29 12:06] #988 closed

[2020-04-29 12:29] dyladan commented on #992
I prefer not to use caps in filenames as it can cause issues when some developers use case insensitive file systems. I don't have a strong preference for snake_case vs kebab-case

[2020-04-29 14:17] legendecas commented on #992
Yes, it can be nasty on case insensitive fs if the pattern contains capital characters. For reference, snake_case is used in Node.js core.

[2020-04-29 14:44] dyladan commented on #992
Would like some weigh-ins from @open-telemetry/javascript-approvers and @mayurkale22  but I'm ok with it.

[2020-04-29 15:33] dyladan commented on #885
No longer needed after #943

[2020-04-29 15:33] #885 closed

[2020-04-29 15:46] dyladan commented on #993
Dupe of #104

[2020-04-29 15:46] #993 closed

[2020-04-29 15:47] dyladan commented on #796
@Bhargavamacha any update here?

[2020-04-29 15:55] dyladan commented on #143
@mayurkale22 @draffensperger is this still a relevant issue? Looks like this comes from the TracerDelegate which is gone now.

[2020-04-29 16:42] dyladan commented on #992
This is a dupe of #38

[2020-04-29 16:42] #992 closed

[2020-04-29 16:54] jordanworner opened #995 "exporter-collector: proto files are missing from NPM package"
### What version of OpenTelemetry are you using?
0.7.0

### What version of Node are you using?
v12.16.2

### What did you do?
Updated @opentelemetry/exporter-collector to 0.7.0

### What did you expect to see?
No errors

### What did you see instead?
Warning: opentelemetry/proto/collector/trace/v1/trace_service.proto not found in any of the include paths node_modules/@opentelemetry/exporter-colle

[2020-04-29 17:01] #940 closed

[2020-04-29 17:11] dyladan commented on #711
@Flarna have you seen any drop in node 8 customers since EOL?

[2020-04-29 17:15] dyladan opened #996 "Update node 13 tests to use node 14"
Since Node 14 is now active, we should test on that instead of node 13.

[2020-04-29 17:26] Flarna commented on #711
Current state:
Node 8: ~30% (~3.6% <8.5)
Node 10: ~47%
Node 12: ~19%
Node 12 is increasing, Node 8 is slightly going down.

I would not care much about node <8.5. First of all the number is low and besides that I'm quite sure that the at last most processes using old versions have not been changed/restarted for a long time.
Whoever introduces OTel has to touch he app and restart it. At this time i

[2020-04-29 17:28] dyladan commented on #711
30% is still a large portion of users. I think 8.5.0 is still a decent minimum. The tests are still running against 8 latest. I'll update circle to run against 8.5

[2020-04-29 17:37] #968 closed

[2020-04-29 17:39] owais commented on #885
Hey @dyladan, sorry for not replying. I somehow missed the notification. Would you still like me to test it?

[2020-04-29 17:53] Flarna commented on #711
Yes, node 8 seems to be longer alive then expected... But as mentioned the concrete minor version is maybe not that important.
For whatever reason it seems that 8.9 and 8.11 are the most popular.

[2020-04-29 17:55] dyladan commented on #885
If you can that would be great!

[2020-04-29 17:56] dyladan commented on #711
Hmm so maybe we're ok with only testing on 8 latest since it is unsupported anyways. No need to overcomplicate

[2020-04-29 19:12] draffensperger commented on #143
I would say feel free to mark this as closed. If we have a need for the underlying issue with the new architecture, it will resurface at some point.

[2020-04-29 19:42] #143 closed

[2020-04-29 19:46] dyladan opened #997 "Remove Bound Observer"
This is not a bug as there should in fact be no concept of a "Bound Observer" according to the spec
https://github.com/open-telemetry/oteps/blob/master/text/0072-metric-observer.md#observer-calling-conventions

Closing this and opening an issue to remove the bound observer.

_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-js/pull/994#issuecomment-621424222_

[2020-04-30 07:52] sleighzy opened #999 "opentracing-shim example generates split traces"
When testing the opentracing-shim example there are two separate traces generated, one for the `http_client_service` and one for the `http_server_service`, instead of a single trace containing spans from both services.

It looks like other examples were updated to include the below line, but this one does not have it.

[code]

[2020-04-30 07:53] sleighzy commented on #999
Adding the referenced code to the https://github.com/open-telemetry/opentelemetry-js/blob/master/examples/opentracing-shim/shim.js in my local environment generates a single trace as would have expected. I can raise a PR for this change.

[2020-04-30 08:23] sleighzy opened #1000 "Permission denied (publickey) running npm install"
When running `npm install` the below error occurs when the build process attempts to clone the git submodules.

[code]

Updating the `.gitmodules` file to change the `url` to https and anonymous cloning and this works fine. Is the below an acceptable change, or should this be handled differently?

[code]

[2020-04-30 11:12] vmarchaud commented on #999
@sleighzy Yep it's required on node to register to provider, please open the PR !

[2020-04-30 11:13] vmarchaud commented on #1000
It is acceptable, someone already complained on gitter actually. Would you have the time to open a PR to make that change ?

[2020-04-30 13:44] dyladan opened #1004 "gRPC tests fail on Node.js 14"
I tried to bump the version of node we test for in #1003, but the gRPC tests fail.

/cc @markwolff

[2020-04-30 14:10] dyladan commented on #996
Blocked on #1004

[2020-04-30 18:27] dyladan opened #1006 "Spec Change: Allow injectors and extractors to be separate interfaces"
Link to spec PR: https://github.com/open-telemetry/opentelemetry-specification/pull/578

@mwear would you like to take a look at this and see how it can be applied?

[2020-04-30 21:43] dyladan opened #1007 "Investigate why unit tests before node 14 didn't pick up missed error status"
Originally posted by @markwolff : https://github.com/open-telemetry/opentelemetry-js/pull/1005#issue-411719093

[2020-05-01 07:22] sleighzy commented on #1000
That person was probably me 😉  PR is up.

[2020-05-01 12:29] #999 closed

[2020-05-01 12:49] #1000 closed

[2020-05-01 18:07] #1004 closed

[2020-05-01 20:13] #711 closed

[2020-05-01 20:13] #996 closed

[2020-05-02 14:34] dyladan opened #1010 "Consider using a hidden symbol property on `request` to stop tracing"
Nobody. If this is important, maybe we should switch to use a hidden property on the request then? Or we could just wait for https://github.com/open-telemetry/opentelemetry-specification/issues/530

I don't really like that we use header values as a signal between plugins. It is an observable side-effect, and quite an intrusive one at that. I much prefer the idea to use context to stop tracing.

_

[2020-05-02 15:08] legendecas opened #1012 "Confusing name `Metric.unbind`"
`Metric.unbind` invalidate a previously bound instrument. While the bound instruments can still outlive and recording new values, `Metric.unbind` merely makes the value of the _unbound instruments_ not been exported.

Another point is that metrics created are not bound by default, i.e. no label values set,  and we have two ways to record new values, here `counterMetric` created by `meter.createCou

[2020-05-02 15:08] vmarchaud opened #1013 "bug: asynchookscopemanager's `withAsync` leak context"
Test case:
[code]

I'm starting to think that we shouldn't have gone through this road of re-implenting it ourselves. It may be worth to just bundle `cls-hooked`, WDYT ?
cc @open-telemetry/javascript-approvers

[2020-05-02 15:17] vmarchaud commented on #989
Do we want to put those kind of documentation inside `examples` or `doc` ?

[2020-05-02 15:24] legendecas commented on #989
@vmarchaud example is cool but doc can still be useful.

Another point is that I checked otel impl in go, Batcher in go can determine aggregator by MetricDescriptor but not MetricKind. I'm wondering if it's ok to port this API to js before we document the batcher API.

[2020-05-02 22:07] dyladan commented on #1013
I'm not against adding cls-hooked, but I think it only works in very new versions of node correct? I would likely prefer to add a new context manager which uses cls-hooked.

Can you please take a look at the dependency tree of cls-hooked and see what impact this would have on deployment size?

[2020-05-03 14:37] vmarchaud commented on #1013
@dyladan Nope, `cls-hooked` is based on async hooks like us. The only difference is that it's API is compatible with the old CLS package.

I will check if it's worth to include it as a package or just re-use its implementation. (its only 400 LOC)

[2020-05-03 18:27] vmarchaud commented on #928
The spec has been updated to list different algorithm that we can use for this:

Fortunaly, HDR-Histogram have a pure typescript implementation available there https://github.com/HdrHistogram/HdrHistogramJS so we can use that

[2020-05-05 08:25] legendecas commented on #796
With #1017, I believe PullController can be left to users to implement it since it will be very straightforward to do it. There is no meaningful reason to add a default PullController since the actual pulling strategies vary across use cases.

[2020-05-05 12:00] dyladan commented on #796
The reason to add a pullcontroller is that prometheus polls an endpoint, and it would be ideal for that endpoint to be updated on each poll rather than on a schedule

[2020-05-05 13:45] dyladan commented on #852
I think another user is being affected by this. This time in a kubernetes setup. It seems like for some reason the performance timer may not be reliable in his setup. I'm not familiar enough with kubernetes to know why this might be behind the scenes. `Date.now()` is reporting correct timestamps in his pod (currently 1588685810545), but `let performance = require("perf_hooks").performance; console

[2020-05-05 13:54] dyladan commented on #852
His service in node 8 is returning incorrect timestamps, but in node 10 it returns correct timestamps. It looks like he may be encountering some version of this https://github.com/nodejs/node/issues/17893

It seems that for node 8, we cannot depend on the performance timer to get accurate timestamps, only durations.

[2020-05-05 14:42] draffensperger commented on #852
I know we have platform specific code that does the timing calculations. Would it make sense for the Node part of that code to use `process.hrTime` instead of performance timings (maybe it already does, I confess I'm less close to the code than I was before)?

[2020-05-05 15:00] Flarna commented on #852
The fix for https://github.com/nodejs/node/issues/17893 was backported to node 8.12.0 (https://github.com/nodejs/node/pull/21593).

`process.hrTime` uses the same underlying time source then `perf_hooks`.

[2020-05-05 16:41] Aneurysm9 opened #1020 "B3 Propagator should left-pad 64-bit trace IDs with zeros"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
HEAD

### What version of Node are you using?
N/A

### What did you do?
Provide a 64-bit trace ID in a B3 header.

### What did you expect to see?
The 64-bit trace ID left-padded with zeros in the `SpanContext`.

### What did you see instead?
The `SpanContext` is not propagated as [the v

[2020-05-05 19:12] dyladan commented on #1020
@Aneurysm9 #1021

[2020-05-05 20:25] #1020 closed

[2020-05-06 07:30] legendecas opened #1022 "Resource is missing in MetricRecord for MetricExporter"
**Is your feature request related to a problem? Please describe.**
MetricExporter can not get access to Metric's resource in the current API.

**Describe the solution you'd like**
Add a parameter for resources like go's implementation https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/metric/prometheus/prometheus.go#L171

[code]

However, altering the order of the parameters

[2020-05-06 07:39] legendecas opened #1023 "MetricExporter.export return promise instead of callbacks"
#### Is your feature request related to a problem? Please describe.

[code]

Like https://github.com/open-telemetry/opentelemetry-js/issues/987, `MetricExporter.export` can be async as callbacks in its signature suggesting. Can `MetricExporter.export` return a promise of `ExportResult` to adopt a modern async pattern, e.g.
[code]

[2020-05-06 12:55] legendecas opened #1025 "SimpleSpanProcessor depends on implementation specific method"
### What version of OpenTelemetry are you using?

0.7.0/master

### What did you do?
Create a TracerProvider conforming to `api.TracerProvider` and Tracer conforming to `api.Tracer`, while the `Tracer.startSpan` returning a span conforming to `api.Span`. Since `tracing.Span.toReadableSpan` is not presented in `api.Span`, `SimpleSpanProcessor` provided by `@opentelemetry/tracing` will throws for `s

[2020-05-06 14:48] dyladan commented on #1025
I'm not sure this is actually a bug. The export pipeline is a part of the SDK so it can assume our SDK Span/Tracer implementation. What usecase are you trying to solve with a custom tracer/span?

[2020-05-06 14:51] dyladan commented on #1023
In general, I think promise based APIs are more favorable than callback based APIs these days.

Should we do some sort of detection? If they pass a callback use the callback method, else return a promise?

[2020-05-06 14:53] dyladan commented on #1022
I am fine with this sort of breaking change as it is entirely contained within the SDK. We need to pass resource so I don't see a strong reason not to adopt this, we will just need to bump the minor version.

[2020-05-06 15:36] legendecas commented on #1025
I'm trying to verify that the tracer provided by @opentelemetry/tracer can be replaced by arbitrary @opentelemetry/api compatible implementations. It can be a rare case though, but there are still problems around implementing SpanProcessors like:

[code]

Or say, this can be a bug of the definition of the API.

[2020-05-06 15:42] legendecas commented on #1023
Yeah, I believe it's possible to have both type definitions. I'll try to submit a PR not before long.

[2020-05-06 15:46] #997 closed

[2020-05-06 16:02] vmarchaud opened #1027 "bug: collector-exported v0.7.0 doesnt contains proto"
As seen [there](https://www.npmjs.com/package/@opentelemetry/exporter-collector) (in the Explore file):
![image](https://user-images.githubusercontent.com/2820968/81199939-9b974c00-8fc3-11ea-8dc8-92516a895735.png)

Found it while trying the new version of one of our service that were succesfully using the 0.6.0 version, it crash with the following error:
[code]

[2020-05-06 16:47] dyladan commented on #1025
We talked about this at the SIG meeting and the export pipeline is a tightly coupled part of the SDK, so replacing the Tracer/Span is not something we need to support

[2020-05-06 16:50] dyladan commented on #1022
It looks like there is an open spec issue for this https://github.com/open-telemetry/opentelemetry-specification/issues/508

[2020-05-06 17:21] mwear commented on #1022
I think the spec issue linked above makes a lot of sense and proposal above both make sense. We should discuss those further at the Spec SIG. For now, we should go with what is specified in the [SDK Resource spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md)

It says:

`Metric` instances have a reference to a `Resource`. It just needs to

[2020-05-06 17:37] satazor commented on #752
Instead of adding a new method, couldn't we test the return value of the function, and see if it looks like a promise? If so, we would await it, otherwise we keep it like it is now.

The minor check should not impact performance that much.

[2020-05-06 17:39] dyladan commented on #752
It's not as simple as just awaiting it unfortunately as new async contexts are created. @vmarchaud is looking into a solution with cls-hooked currently

[2020-05-06 17:43] legendecas commented on #1025
So I'm gonna open another issue for the custom SpanProcessor implementation issues raised above and close this one as won't fix.

[2020-05-06 17:43] #1025 closed

[2020-05-06 17:45] legendecas opened #1028 "custom `SpanProcessor`s api definition issue"
There are still problems around implementing custom SpanProcessors like:

[code]

This can be identified as a bug of the definition of api.SpanProcessor and api.Span (maybe move tracing.ReadableSpan to api.ReadableSpan).

[2020-05-06 17:47] dyladan commented on #1028
ah I think I see the issue now. I think actually the SpanProcessor should be removed from the `api` package entirely as it is not a user-facing API

[2020-05-06 17:47] dyladan commented on #1028
@mayurkale22 wdyt

[2020-05-06 17:56] satazor commented on #752
@dyladan I see. Does it mean that https://github.com/open-telemetry/opentelemetry-js/commit/5ea299da7825927d8bd08db6436b43c1a7c0146b has issues?

[2020-05-06 18:04] dyladan commented on #752
Yes unfortunately

[2020-05-06 18:13] dyladan commented on #1028
At the very least, the `onStart` method should probably receive a `ReadableSpan` instead of a `Span`

[2020-05-06 18:27] vmarchaud commented on #752
@satazor It has specific issue but depending on how you want to use it, it may have no impact. However the method is still not implemented on the tracer so its quite hard to use it for now

[2020-05-06 19:25] dyladan opened #1030 "Remove node 13 tests 2020-06-01"
Would be nice to have issue to remove this at EOL (2020-06-01).

_Originally posted by @mayurkale22 in https://github.com/open-telemetry/opentelemetry-js/pull/1026#issuecomment-624831329_

[2020-05-07 00:20] astorm opened #1031 "Count Metrics: Cannot convert undefined or null to object"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

1.0.0

### What version of Node are you using?

v12.12.0

### What did you do?
I was working through some basics examples of the metric API using plain javascript (i.e. not TypeScript), and I noticed that code that looks something like this

    const counter = meter.createCounter('our-

[2020-05-07 00:46] mayurkale22 commented on #1031
Thanks for reporting this. As you already opened the PR, I have assigned this bug to you.

[2020-05-07 03:32] legendecas opened #1033 "Spec compliant SamplingResult support"
According to spec here about span sampling (https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampling), there are three flags representing how a span was exported:

1. `NOT_RECORD`, same as https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-api/src/trace/trace_flags.ts#L22, do nothing with the span.
2. `RECORD`,

[2020-05-07 03:33] legendecas commented on #1033
Ah.. just noticed a TODO in the code doc. Anyway, I'm going for this.

[2020-05-07 03:44] pauldraper commented on #637
Agreed. An HTTP service doesn't have a span of the long-running process itself, or have a parent span for the parent process. That's "too long" of an operation.

The root span ought to be a sensible DOM event (document load, click, keypress, scroll).

[2020-05-07 03:56] pauldraper commented on #931
Spec discussion about disabling via context: https://github.com/open-telemetry/opentelemetry-specification/issues/530

[2020-05-07 14:20] dyladan opened #1034 "Project failing to build"
When running `npm install` from the root, I end up with [the following results](https://gist.github.com/astorm/b77d88f29c55f5fb7717e87af0df5b76).  TLDR -- is _seems_ like the prometheus package at `master` can't compile right now.

[code]

_Originally posted by @astorm in https://github.com/open-telemetry/opentelemetry-js/pull/1032#issuecomment-625028942_

[2020-05-07 15:26] #1034 closed

[2020-05-07 15:53] obecny commented on #1034
Not sure how this passed but in my PR it fails on different things now - locally all works fine though see here
https://circleci.com/gh/open-telemetry/opentelemetry-js/18918?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

@dyladan do you  know what has been changed as it seems like there might be more failures and not sure why it works fine locally.

[2020-05-07 16:03] dyladan commented on #1034
You have to do a full clean and remove all package-lock.json files to get the most updated types files.

[2020-05-08 17:06] dyladan opened #1039 "Remove prom-client from prometheus exporter"
There is a similar hack for counter. I think removing prom-client is probably a good idea in the end.

_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-js/pull/1038#issuecomment-625917840_

The main advantage of the prom-client is that it does aggregations for you. Because we do aggregation in the SDK, we actually have to work around this "feature" to force the pro

[2020-05-08 17:38] #1028 closed

[2020-05-08 18:32] dyladan opened #1040 "Use context to stop tracing"
There is a spec issue for this: https://github.com/open-telemetry/opentelemetry-specification/issues/530

Other SIGs such as python, ruby, and Java already have implemented such a system.

I don't believe we need to wait for the spec. Even if the spec never merges, we are still technically allowed to use context to stop tracing as it is an SDK concern.

We are currently using a "magic" http header

[2020-05-08 19:03] dyladan commented on #1039
Also see https://github.com/open-telemetry/opentelemetry-js/pull/1032#discussion_r421549338

[2020-05-08 19:04] dyladan commented on #1039
@astorm is this something you were thinking to handle or should I mark it as up for grabs?

[2020-05-08 19:06] astorm commented on #1039
@dyladan Let's mark it up for grabs for now -- I don't think I'd be able to come back to it promptly.

[2020-05-08 19:21] mayurkale22 commented on #1039
I think we should bring/inform this issue to a larger audience i.e. OT community or OT maintainers group.

[2020-05-08 19:43] astorm commented on #1039
@mayurkale22 Quick related question if you have the time -- Re: "this issue" -- do you mean the specific problem with the `prom-client` that @dyladan mentioned?  Or the more general problem of "what should we do when a metric's incremented with an incomplete set of aggregated values"?  Or some third thing that I don't quite see because I'm new to the project?

[2020-05-08 19:57] vmarchaud commented on #1039
There are two issues right now:
- `Counter` are exported with their value however `prom-client` expect us to increment/decrement it but we can't since we don't have the information at this level.
- Some aggregator implemented in otel does the same thing as the one in `prom-client` so we receive aggregated-value in the exporter, which we cannot give directly to `prom-client`.

That's why it might b

[2020-05-10 13:01] vmarchaud commented on #931
#948 has been merged, closing

[2020-05-10 13:01] #931 closed

[2020-05-10 14:14] 7rulnik opened #1041 "Plugin for fetch instrumentation"
**Is your plugin request related to a problem? Please describe.**

We already have a plugin for XHR and as I understand it's suitable for libraries like axios. But many people use fetch as a modern alternative. It would be nice to have plugin for fetch instrumentation

**Is it applicable for Node or Browser or both**
browser only

**Do you expect this plugin to be commonly used**
It's hard to say

[2020-05-10 22:15] acheraime opened #1042 "jaeger-exporter fail - default.readFileSync is not a function"
Using jaeger-exporter in my react app fail with below error. Is anyone experiencing this issue?
I've tested version 0.7.0 and 0.6.0.

TypeError: _fs2.default.readFileSync is not a function
(anonymous function)
/src/thrift.js:22
  19 |
  20 | export default class ThriftUtils {
  21 |   static _thrift = new Thrift({

  23 |     allowOptionalArguments: true,
  24 |   });
  25 |   static emptyBuffer:

[2020-05-11 12:27] dyladan commented on #1042
Currently the jaeger and zipkin exporter only work in nodejs. The solution is to use the collector exporter in your web application, and export from the collector to jaeger.

[2020-05-11 12:48] dyladan opened #1043 "Jaeger Exporter: Export directly to server without agent sidecar"
The current jaeger exporter exports spans to a jaeger agent sidecar on port 6832. We should allow an option to export to port 14268 or 14250 which exports directly to the server, skipping the sidecar. It seems just changing the port is not sufficient.

https://www.jaegertracing.io/docs/1.17/getting-started/#all-in-one

[2020-05-11 13:22] acheraime commented on #1042
Thanks @dyladan for your reply. I switch to collector exporter now I'm getting a 400 bad request from jaeger. See my exporter config below.
const exporter = new CollectorExporter({
  serviceName: 'awesome-service',
  url: 'http://localhost:14268/api/traces',
})
Any idea about what is wrong? Sorry for the newbie questions.

[2020-05-11 13:23] dyladan commented on #1042
This particular issue is caused by the fact that the jaeger exporter uses the node `fs` standard library module, which is not available to web.

[2020-05-11 13:24] #1042 closed

[2020-05-11 13:24] dyladan commented on #1042
Closing this issue. If you have some reason to need to export directly from web using jaeger, please open a new feature request issue.

[2020-05-11 17:40] #983 closed

[2020-05-11 18:31] obecny commented on #1041
can take it

[2020-05-11 19:20] dyladan commented on #1041
Think this probably makes sense as a core plugin @mayurkale22 wdyt?

[2020-05-11 19:59] romilpunetha opened #1044 "Allow capturing database query params"
**Is your feature request related to a problem? Please describe.**
It would be helpful to have entire DB query populated with parameters for easy debugging. Vendors such as datadog cannot do this for security reasons.

**Describe the solution you'd like**
A flag that allows enabling capturing Db query parameters. Enabling this in envs such as stage could be really beneficial sometimes. A self host

[2020-05-11 20:42] mayurkale22 commented on #1044
Thanks for opening the issue!

If you are feeling motivated, maybe you can attempt to write solution and open a PR. The `enhancedDatabaseReporting` flag is designed to expose additional information like query parameters and results about database operations.

@dyladan WDYT?

[2020-05-11 20:48] acheraime commented on #983
Anybody knows when this change will be available in npmjs? I'm experiencing the same issue when using exporter-zipkin to jaeger.

[2020-05-11 20:57] mayurkale22 commented on #983
We have planned to cut release this week, waiting to few PRs to get merged. Let us know if you blocked on this, we can cut release either today or tomorrow.

[2020-05-11 21:00] acheraime commented on #983
Yes I am blocked on it. I have a demo tomorrow and this is a big show stopper now.

[2020-05-11 21:01] dyladan commented on #1044
I think that's a great idea. Would also be nice to decide and document exactly what "enhanced" db reporting means so all plugins can be consistent.

[2020-05-11 22:00] dyladan commented on #983
This is a good reason why using the header to signal to plugins is a bad idea.

[2020-05-12 15:08] dyladan commented on #1044
Assigning @romilpunetha because he mentioned in Gitter he wanted to take a crack at this. I'm also assigning myself so I can help shepherd his first contribution.  :)

[2020-05-12 15:11] #814 closed

[2020-05-12 15:11] #966 closed

[2020-05-12 15:11] #967 closed

[2020-05-12 15:12] dyladan commented on #966
@gpra the fix for this should go out with the [release today][1]

[1]: https://github.com/open-telemetry/opentelemetry-js/pull/1046

[2020-05-12 15:17] dyladan commented on #1039
@vmarchaud I'm not sure if the [openmetrics spec][1] is useable in place of the [prometheus exposition format][2]. Even if prometheus does ingest it properly, there may be subtle differences. It may be worth creating an openmetrics exporter to be clear about the distinction.

[1]: https://github.com/OpenObservability/OpenMetrics
[2]: https://prometheus.io/docs/instrumenting/exposition_formats/

[2020-05-12 21:39] acheraime opened #1048 "Exporter-Zipkin can we strip otel header?"
I don't know if anybody else is facing this issue where exporting traces from browser to jaeger via exporter-zipkin will fail on CORS rejecting the "x-opentelemetry-outgoing-request" header.
I know we did strip this header fro the http-plugin, can we consider not setting this header in exporter-zipkin as well?
If yes, with the appropriate permission assigned I can submit a PR for that.

[2020-05-12 21:41] dyladan commented on #1048
We cannot. This is what signals to the http plugin not to trace a request. A better solution would be to apply the same fix on the xhr plugin that you did to the http plugin.

[2020-05-12 21:42] dyladan commented on #1048
If we do not set the header in the exporter, the http header will trace the export request, thereby creating a new span that needs to be exported and so on. It will create an infinite loop.

[2020-05-12 21:42] dyladan commented on #1048
This can also be fixed by using the collector exporter for the web component, and running a collector on your host.

[2020-05-13 14:23] #1022 closed

[2020-05-13 15:15] vmarchaud opened #1052 "bug(core): crash in batchspanprocessor with latest version"
[code]

[2020-05-13 15:19] vmarchaud commented on #1052
The error is thrown inside the `ioredis` plugin because its rethrowing errors inside a try/catch

[2020-05-13 15:22] dyladan commented on #1052
@vmarchaud if you're taking care of this assign yourself, if not I'll take a look

[2020-05-13 15:24] vmarchaud commented on #1052
@dyladan don't have time today, feel free to look into it

[2020-05-13 16:00] dyladan commented on #872
This is fixed by #1051

[2020-05-13 18:04] #1027 closed

[2020-05-13 18:27] #872 closed

[2020-05-13 23:53] mayurkale22 commented on #841
@mwear Can we close this issue via #899?

[2020-05-13 23:55] mwear commented on #841
Yes!

[2020-05-13 23:55] #841 closed

[2020-05-14 10:35] romil-punetha commented on #1043
Yup. This would be good to have. The sidecar isn't required if you're not making any use of the agent. And a daemonset model doesn't scale well. We've faced this issue with datadog at scale. When using daemonset, the sheer number of datapoints collected in large instances causes the daemonset to start dropping metrics. Reporting directly to the collector, and scaling it as per needed works well.

[2020-05-14 10:45] BlumAmir opened #1059 "Zipkin exported http traffic is traced, causing infinite loop"
### What version of OpenTelemetry are you using?
v0.8.0

### What version of Node are you using?
v13.11.0

### What did you do?
Instrumented http library with`@opentelemetry/plugin-http`, and export the trace data to zipkin using `@opentelemetry/exporter-zipkin`.
Then I sent two http request to the instrumented app.

### What did you expect to see?
Single span per request in zipkin

### What did y

[2020-05-14 12:07] dyladan commented on #1059
Yes thank you that sounds like a good solution

[2020-05-14 12:23] dyladan commented on #1059
I will hold the 0.8.1 release for this bugfix

[2020-05-14 12:25] BlumAmir commented on #1059
Cool I'll send a PR soon

[2020-05-14 14:47] dyladan commented on #1031
Can this be closed now #1032 is merged?

[2020-05-14 14:48] #1031 closed

[2020-05-14 14:48] astorm commented on #1031
@dyladan Yup! Closed out.

[2020-05-14 14:59] dyladan commented on #1052
@vmarchaud I suspect you are using an older version of some module or exporter? `toReadableSpan` has been completely purged from the repository. It still exists in one place in contrib (a test), but that module depends on an older version of the SDK. There is an open contrib PR to bring them to the latest sdk version.

[2020-05-14 15:22] vmarchaud commented on #1052
@dyladan You might be correct, i miss the update of the `tracing` package, i will retry and re-open i'm able to replicate

[2020-05-14 15:22] #1052 closed

[2020-05-14 20:34] mwear commented on #1006
This doesn't require a change to OpenTemetry JS. It allows propagators to be split into injectors and extractors if it makes sense. You will still have a Propagator (and CompositePropagator) interface, they will just be composed of individual extractors and injectors. If this is something the SIG would like to do, the spec change allows for it, but it's not required.

[2020-05-15 14:26] mzahor opened #1062 "feat: TLS support for collector exporter"
Currently, we can only use insecure gRPC channel for collector exporter, as it's hardcoded [here](https://github.com/open-telemetry/opentelemetry-js/blob/2409821/packages/opentelemetry-exporter-collector/src/platform/node/sendSpans.ts#L43).
I suggest to pass an option of type `grpc.ChannelCredentials` as a parameter of CollectorExporter [here](https://github.com/open-telemetry/opentelemetry-js/blo

[2020-05-15 14:28] dyladan commented on #1062
I don't see any reason not to support it. I'll assign you.

[2020-05-16 12:19] naseemkullah commented on #1043
Doesn't https://github.com/open-telemetry/opentelemetry-js/pull/965 address the case of sending to the jaeger collector via HTTP directly (to port 14268)?

https://www.jaegertracing.io/docs/1.18/deployment/#collectors

From docs it seems like for 14250(Grpc) there is no getting around having the spans sent from an agent.

@yurishkuro could you please confirm?

[2020-05-16 12:26] yurishkuro commented on #1043
Jaeger collector accepts spans as thrift-over-http or proto-over-grpc. The agent is not a requirement.

[2020-05-17 20:09] jufab opened #1066 "Global is not defined in Angular App"
### What version of OpenTelemetry are you using?
0.8.0

### What version of Node are you using?
12.16.1

### What did you do?
I use OpenTelemetry in an Angular 9 App with this modules
- @opentelemetry/web
- @opentelemetry/exporter-collector

### What did you expect to see?
My App Works

### What did you see instead?
Blocking app with this error in console :

[code]

### Additional context
My App w

[2020-05-18 09:40] Ajmal-M-A opened #1068 "Is React specific SDK available?"
Hi,

Can I use this JS SDK in React application or any alternate SDKs available ?

[2020-05-18 09:43] vmarchaud commented on #1068
There is a tracer for the web (see [here](https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/tracer-web)) that you can use. I'm not sure what you are refering to for a "react specific" sdk

[2020-05-18 09:49] Ajmal-M-A commented on #1068
@vmarchaud  Thanks I will check that. Seems the npm modules are bit specific for node environment, So I asked about the web front-end support.

[2020-05-18 09:52] vmarchaud commented on #1068
I will close the issue, feel free to re-open if you have other questions

[2020-05-18 09:52] #1068 closed

[2020-05-18 13:05] #1059 closed

[2020-05-18 17:57] dyladan commented on #1043
@yurishkuro does that mean this can be closed?

[2020-05-18 19:38] nkelly75 opened #1071 "Where to contribute a propagator for the gRPC plugin?"
- [x] This only affects the JavaScript OpenTelemetry library

While using the [grpc plugin](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-grpc) in a node service I was able to successfully export spans (to two tracing back-ends I was testing). However, the spans didn’t take their context from incoming gRPC calls as expected (leading to new "shallow" t

[2020-05-18 20:03] mayurkale22 commented on #1071
We had implemented binary propagator, but removed it with respect to https://github.com/open-telemetry/opentelemetry-specification/pull/426 in https://github.com/open-telemetry/opentelemetry-js/pull/762 and https://github.com/open-telemetry/opentelemetry-js/pull/804.

I am not sure current status of specs, @dyladan any idea?

[2020-05-18 20:05] dyladan commented on #1071
Binary propagator comes up periodically on spec calls. Afaik it is something they consider a requirement before GA but isn't the highest priority thing right now

[2020-05-18 20:28] dyladan commented on #1066
@legendecas I was going to assign this to you since you opened a PR, but I can't assign you until you comment on this thread :)

[2020-05-18 20:32] dyladan opened #1074 "Rename plugin to instrumentation"
Looks like the spec is trying to rally around a single term for instrumentation libraries. We've been using plugin, but it looks like they want to use `instrumentation`.

I don't think we necessarily need to rename existing packages (@open-telemetry/specs-approvers pls confirm or deny?), but we should update all docs, readmes, examples to use the new terminology, and all new packages created movin

[2020-05-18 20:49] dyladan opened #1075 "Replace ALWAYS_PARENT sampler with ParentOrElse sampler"
https://github.com/open-telemetry/opentelemetry-specification/pull/609

[2020-05-18 21:29] nkelly75 commented on #1071
Some extra context. While learning more about OpenTelemetry following [observe2020](https://observe2020.io/) I had started with a fork of the [microservices-demo](https://github.com/irvingpop/microservices-demo/commits/full_jaeger) (originally instrumented using OpenCensus) where spans were exported to a local OpenTelemetry Collector which then exported to the two backends. Then I wanted to learn

[2020-05-18 21:51] dyladan commented on #1071
That sounds like a great idea 👍

[2020-05-19 00:12] kanikashah90 opened #1076 ""Traced example" in getting started is broken as HTTP correlation is not working in "axios" module"
### What version of OpenTelemetry are you using?
v0.8.1

### What version of Node are you using?
v12.16.3

### What did you do?
If possible, provide a recipe for reproducing the error.
I ran the example in "traced-example" in "getting-started" directory with "ConsoleSpanExporter". I ran two instances of the example with one as the client service and the other as the server service.

### What did y

[2020-05-19 00:29] #833 closed

[2020-05-19 00:34] mayurkale22 opened #1079 "Document CorrelationContext propagator under Built-in Implementations section"
Originates from https://github.com/open-telemetry/opentelemetry-js/pull/838#issuecomment-630428319

Built-in Implementations section: https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-core#built-in-implementations

[2020-05-19 02:27] legendecas commented on #1066
:O ah, cool.

[2020-05-19 13:56] dyladan commented on #1076
is this fixed by #1078 or does it need its own PR?

[2020-05-19 17:27] obecny opened #1082 "Prometheus Exporter - observer aggregator"
For unknown reason this line
https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-exporter-prometheus/src/prometheus.ts#L150
doesn't work correctly in compiled version.
Any idea why and what can be missing ?

[2020-05-19 18:13] dyladan commented on #1082
It is always false? The sum one I assume works though?

[2020-05-19 18:35] obecny commented on #1082
yes the sum works fine

[2020-05-19 18:35] obecny commented on #1082
can you verify if that doesn't work for you too ?

[2020-05-19 18:37] dyladan commented on #1082
Sure. You have a simple code sample I can run or should I just make one?

[2020-05-19 18:50] obecny commented on #1082
not yet working on something in contrib repo so the PR should be soon. I cannot reproduce it with the example that is for observer in core repo :/. Was wondering if anyone already happen to have the same. Maybe if the number of observers is bigger, strange

[2020-05-19 18:52] obecny commented on #1082
although I'm using typescript now and example in core is in js

[2020-05-19 19:05] obecny commented on #1082
can show you on screenshare :)

[2020-05-19 19:31] obecny commented on #1082
I have some theory. In the new package I'm using the api and sdk. Then prometheus is also using the api and sdk. Then I'm using lerna to bootstrap my new package. This is causing that prometheus is using different api file then the new sdk. This is causing the instanceof to return false even though the classes looks the same, but the are different files in fact. Based on this I'm wondering that we

[2020-05-19 19:37] dyladan commented on #1082
Oh yes that could definitely cause it. I typically try to avoid constructor name checking though, as this can cause problems with certain build systems and minification. Since we control this class, I wonder if we should just introduce an enum that we can check against.

[2020-05-19 19:37] vmarchaud commented on #1082
I could make the change in my PR there https://github.com/open-telemetry/opentelemetry-js/pull/1038 since i've already rewrote that part

[2020-05-19 22:09] #1044 closed

[2020-05-19 22:11] #1062 closed

[2020-05-19 22:18] mayurkale22 commented on #1079
Closed via #1080, thank you @rubenvp8510

[2020-05-19 22:18] #1079 closed

[2020-05-19 22:20] mayurkale22 commented on #1071
I think we agree on this one, can we close issue?

[2020-05-19 22:35] dyladan commented on #1071
Created a new issue in the contrib repo. @nkelly75 you have to comment on the new issue if you want me to assign it to you.

[2020-05-19 22:35] #1071 closed

[2020-05-20 02:18] OlivierAlbertini opened #1083 "Use prettierrc.json through gts"
`.prettierrc.json` (gts plugin) seems to break a lot of things from what we have now (modify 300 files vs 175 without `.prettierrc.json`  when I swiched to eslint)
Also I'm getting errors in circileci only.

### Additional context
[code]

It works locally. I'm not sure if we must repeat the prettierrc.json file in each packages...

[2020-05-20 12:22] Whoweez commented on #752
Hi everyone, great project. I am struggling with tracing beyond an await call:

tracer.getCurrentSpan().addEvent('starting await');
await function test(){
        return true
}
tracer.getCurrentSpan().addEvent('finished first await');

Running without await works perfectly fine, but adding it results in an undefined span: "Cannot read property 'addEvent' of undefined"

Any assistance would be appr

[2020-05-20 12:55] obecny commented on #752
What if you run it inside the scope of the desired span ?

[code]

[2020-05-20 13:07] Whoweez commented on #752
Hey @obecny, thanks for replying!
I get "tracer.withAsync is not a function"

These are my versions:
    "@google-cloud/opentelemetry-cloud-trace-exporter": "^0.3.0",
    "@opentelemetry/api": "^0.8.0",
    "@opentelemetry/node": "^0.8.0",
    "@opentelemetry/plugin-express": "^0.7.0",
    "@opentelemetry/plugin-http": "^0.8.0",
    "@opentelemetry/plugin-mysql": "^0.7.0",
    "@opentelemetry/trac

[2020-05-20 13:21] vmarchaud commented on #752
We only landed the `withAsync` on the context manager, the PR for exposing it on the tracer is still WIP there: https://github.com/open-telemetry/opentelemetry-js/pull/1011

[2020-05-20 14:44] obecny commented on #752
@vmarchaud thx, so @Whoweez this is not yet possible
as a workaround for now you can try `tracer.with` instead of `tracer.withAsync` and don't use async, but try with promise inside

[2020-05-20 15:25] obecny commented on #752
@Whoweez sry I meant `withSpan`

[2020-05-20 16:48] obecny commented on #995
https://github.com/open-telemetry/opentelemetry-js/pull/1053

[2020-05-20 16:48] obecny commented on #995
fixed in 0.8.1

[2020-05-20 16:48] #995 closed

[2020-05-20 19:12] dyladan commented on #995
@jordanworner pls confirm `0.8.1` working if you get a chance.

[2020-05-21 00:33] mayurkale22 opened #1087 "increase code coverage of web and plugin-xml-http-request packages"
At least is should be more than 90%.

<img width="1147" alt="Screen Shot 2020-05-20 at 5 31 34 PM" src="https://user-images.githubusercontent.com/6525361/82510603-d7e8a300-9abf-11ea-9d09-a93a31d5ad47.png">

[2020-05-21 02:02] Whoweez commented on #752
Thanks @obecny. With the above compiled tracer, I get the same error as I did when I ran it without the wrapper: "Cannot read property 'addEvent' of undefined" => on the second getCurrentSpan()

tracer.withSpan(tracer.getCurrentSpan(), async () => {
	tracer.getCurrentSpan().addEvent('finished first await');
	await function test(){
		return true;
	}
	tracer.getCurrentSpan().addEvent('finished first

[2020-05-21 03:42] #891 closed

[2020-05-21 05:45] aravindpl opened #1089 "Support for react-native environment."
Hi,

Is there plan to support react-native environment also part of opentelemetry-js ?

[2020-05-21 08:15] vmarchaud commented on #752
@Whoweez there are no solution available now, thats why the issue is still open

[2020-05-21 09:40] legendecas opened #1090 "Lint is failing on master"
After https://github.com/open-telemetry/opentelemetry-js/pull/892 is merged, lint starts failing on master branch and PRs that merged master branch.

/cc @OlivierAlbertini since they are the original author of the root commit.

Edit: seems like it's not failing on CI, I'll check it further.

[2020-05-21 09:58] legendecas commented on #1090
Sorry, seems like there is no color outputs with `lerna run lint` and the warnings were treated as errors. Closing since this is not a problem.

[2020-05-21 09:58] #1090 closed

[2020-05-21 13:43] vmarchaud commented on #1082
Done in https://github.com/vmarchaud/opentelemetry-js/commit/6dd4cc1b1493543a9babf6abf684bd5f7d7e7acd, if you could review that

[2020-05-21 14:15] #1066 closed

[2020-05-21 15:51] jordanworner commented on #995
@dyladan `0.8.1` LGTM

[2020-05-21 17:37] mayurkale22 opened #1093 "Fix lint warnings"
After #892 is merged, we see many warnings in the lint build. It would be nice if we can exclude or fix them.

The current lint logs looks very noisy and taking care of a new lint issue can be a daunting task in the future, especially for the new contributors.

Screenshot:
<img width="1382" alt="Screen Shot 2020-05-21 at 10 26 09 AM" src="https://user-images.githubusercontent.com/6525361/82587169-

[2020-05-21 22:54] toumorokoshi opened #1095 "align opentelemetry instrumentation naming with specification"
Hi!

I recently worked with opentelemetry-specification to align on a standardized naming for instrumentations across languages. Here's the final result:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/overview.md#instrumentation-libraries

And the PR where it was discussed:

https://github.com/open-telemetry/opentelemetry-specification/pull/539

I think if

[2020-05-21 22:55] toumorokoshi commented on #1095
sorry I don't have permissions, but this probably better warrants the "discussion" tag.

[2020-05-22 03:24] naseemkullah opened #1096 "[web/browser] log level config"
**Is your feature request related to a problem? Please describe.**

-- @dyladan

-- @obecny referring to `OTEL_LOG_LEVEL` env var in node

**Describe the solution you'd like**

-- @draffensperger on mimicking env vars as globals on `window`

[2020-05-22 04:05] naseemkullah opened #1097 "[web/browser] sampling probability config via window"
**Is your feature request related to a problem? Please describe.**
Be able to configure the sampling probability out of code

**Describe the solution you'd like**
check global "OTEL_SAMPLING_PROBABILITY" (or another term if spec changes) on window to configure the sampling probability of the probability sampler

**Describe alternatives you've considered**
n/a

**Additional context**
cc @obecny @dr

[2020-05-22 13:41] dyladan opened #1098 "Defer creation of meters"
If a meter is acquired before the global meter provider is configured, they should be correctly configured when the global provider is configured.

https://github.com/open-telemetry/opentelemetry-specification/blob/5b78ee1adf437bb6c151d8992129f22970a96677/specification/metrics/api.md#global-meter-provider

No such language exists for traces, but it might be a good idea to do the same thing.

[2020-05-22 13:47] dyladan commented on #1095
While there are only 4 packages here, there are 8 in [node contrib](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/master/plugins/node) and 2 in [web contrib](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/master/plugins/web).

[2020-05-23 17:47] toumorokoshi commented on #1095
Additional discussion around this in https://github.com/open-telemetry/opentelemetry-js-contrib/issues/37

[2020-05-24 15:31] BlumAmir opened #1101 "AsyncHooksContextManager: async function called in `with` is returning wrong context after `await`"
### What version of OpenTelemetry are you using?
v0.8.2 (the issue is new from v0.8.0), confirmed to work properly on v0.7.0

### What version of Node are you using?
v.13.11.0

### What did you do?
Started a new span after `await` in an http server callback:
[code]

### What did you expect to see?
The new span "child span" being child of the http span, and both belong to the same trace (have the s

[2020-05-24 23:26] kanikashah90 commented on #1076
@dyladan No #1078 doesn't fix this issue. This issue can be fixed in two ways:
1. Replace the "axios" library with built-in "http" module to make HTTP calls.
2. Fix the issue in "axios" library which is causing the break-up in the parent-child relationship creation.

[2020-05-25 05:42] BlumAmir commented on #1076
I've seen similar behavior with plain http module. described in #1101

[2020-05-25 11:09] Whoweez commented on #752
@vmarchaud, thank you for the feedback. I'll wait for the implementation. Thanks again for the great repo! Take care :)

[2020-05-25 15:15] obecny opened #1105 "Fresh install doesn't work anymore"
Not sure how this passed on circleCI ?

[2020-05-25 17:09] legendecas commented on #1105
It does work on my fresh install. I noticed there is a `ts3.4` in your log. Does that mean in your case typescript 3.4 is used instead of what version constraint ^3.7.2 specified in package.json?

[2020-05-25 19:28] obecny commented on #1105
it would not make sense at all, fresh install is fresh install, it should work fine. Did you checkout the latest to a new place and then tried to `npm i` ?

[2020-05-26 08:10] vmarchaud commented on #1101
Its linked to both #1013 and #752, i'm currently working on a refactor (#1099) that fixes all threes issues. In the mean time, you could rollback to the previous version if it works better for you:
[code]

[2020-05-26 08:11] vmarchaud commented on #1076
I've put what i believe is a workaround [there](https://github.com/open-telemetry/opentelemetry-js/issues/1101#issuecomment-633876547), could you test it @kanikashah90 ?

[2020-05-26 08:28] BlumAmir commented on #1101
Thanks @vmarchaud  for taking the time to add a solution and for working on a fix.
In the mean time I will roll back to v0.7.0 like you suggested

[2020-05-26 12:40] dyladan opened #1108 "[Spec] Tracers should reference an InstrumentationLibrary rather than a Resource"
Spec PR merged: https://github.com/open-telemetry/opentelemetry-specification/pull/616

@mwear since you wrote the spec do you want to take this? If so, please assign yourself. If there is nothing to do, feel free to close this ticket.

[2020-05-26 13:19] yanzacheus commented on #1105
Hi,
I had the same trouble with an Angular project,
when installing a fresh version (from start / CI context).
Just downgrade @types/node from 12.12.42 to 12.12.35 and now it works
Let me know if something gets fixed
Hope it helps !

[2020-05-26 13:24] dyladan commented on #1105
Thanks @yanzacheus that is very helpful. I was just working on this locally and it was very frustrating. What made you decide on that exact version? Is there some open issue you're aware of, or was it just trial and error?

[2020-05-26 16:06] mwear commented on #1108
It's somewhat in limbo based on: https://github.com/open-telemetry/opentelemetry-proto/pull/150. I think we can move forward with these changes, and make updates if and when the protos are changed.

[2020-05-26 18:18] nkelly75 commented on #1105
I saw similar in opentelemetry-js-contrib/plugins/web/opentelemetry-plugin-user-interaction and the downgrade of @types/node proposed by @yanzacheus also helped.

[2020-05-26 22:03] dyladan commented on #1105
I found the root of this error. The version we were using of `@types/webpack-env` collided with the latest version of `@types/node`. The same issue is apparently affecting `zone.js` right now which blocks compilation of the latest zone scope peer dep on the latest `@types/node`. Even removing `@types/node` from the zone scope peer dep package.json does not fix it because lerna has a deep dependenc

[2020-05-27 05:49] #616 closed

[2020-05-27 07:40] yanzacheus commented on #1105
Hello
no I did'nt try to find the exact version from which it fails.
I just picked up the last version that worked for my project from my local package-lock.json
Then I set this exact version in my package.json "12.12.35" :(
then I checked how @types/node was used with npm ls @types/node:
web@0.0.0 /home/tofino/workspace/gitlab/mikado/mcy-web/mikado-web/web
├─┬ @angular-devkit/build-angular@0.900.

[2020-05-27 12:26] dyladan commented on #1075
@legendecas if you're going to work on this, comment here so I can assign you.

[2020-05-27 12:30] legendecas commented on #1075
:) definitely

[2020-05-27 14:22] backkem opened #1109 "OTLP Metrics Exporter"
**Is your feature request related to a problem? Please describe.**
Add the ability to export metrics using the OLTP protocol so we can export metrics to the opentelemetry-collector.

**Describe the solution you'd like**
It seems to make the most sense to add this ability to the opentelemetry-exporter-collector package. For reference, this functionality is already available in opentelemetry-go. I'm

[2020-05-27 15:54] dyladan opened #1111 "Implement UpDownCounter"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#updowncounter

[2020-05-27 15:54] dyladan opened #1112 "Rename Measure to ValueRecorder"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#valuerecorder

[2020-05-27 15:55] dyladan opened #1113 "Rename Observer to ValueObserver"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#valueobserver

[2020-05-27 15:55] dyladan opened #1114 "Implement SumObserver"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#sumobserver

[2020-05-27 15:56] dyladan opened #1115 "Implement UpDownSumObserver"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#updownsumobserver

[2020-05-27 19:02] dyladan opened #1116 "Rename `create<Metric>` to `new<Metric>`"
From https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#constructors

[2020-05-27 19:12] dyladan opened #1118 "Implement BatchObserver"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#batch-observer

[2020-05-27 19:20] dyladan opened #1119 "Remove `labelKeys` from metric creation"
The `labelKeys` input to the metric was removed from the spec. I don't have any spec to link to because it is gone :)

This is not removing labels, just removing the `labelKeys` input to the instrument construction.

[2020-05-27 19:24] dyladan commented on #1116
@mayurkale22 wdyt about this rename? If we're going to do it, we have to before GA. It is a pretty minor difference though.

[2020-05-27 21:41] lykkin commented on #1114
@dyladan Looking for something to jump in on, do you think this is a good first task? Feel free to assign this to me, or maybe redirect me if there's somewhere better to start.

[2020-05-27 23:51] dyladan commented on #1043
@yurishkuro @romil-punetha can this be closed?

[2020-05-27 23:56] dyladan commented on #1114
I wouldn't say this is very beginner friendly, but it's not too bad either. Nothing in this is really all that difficult, but it may require some familiarity with the metrics api and sdk. Since I don't know your skill level, I can't really say for sure if it is a good task for you.

If you want some idea of how much work it is, you can look at #1117 which shows the renaming of an instrument to see

[2020-05-28 00:08] lykkin commented on #1114
Thanks for the suggestions! #1117 makes it look reasonable. I've been climbing around in the golang implementation of metrics, so I'm somewhat familiar with the concepts. I think I'll give it a stab, so go ahead and assign it to me.

Thanks again!

[2020-05-28 12:30] obecny commented on #1101
@vmarchaud don't get me wrong but it looks now like a stack scope manager, you removed  ?, I wonder what will happen if you create couple few async operations that will be running at the same time together with setTimeout for example.
For example
1. Start ...................................... End
2. ........ Start ........... End
3. ........ Start ...................................... End

and e

[2020-05-28 12:49] vmarchaud commented on #1101
@obecny I did not remove async hooks and indeed it looks like the stack scope manager. Each asnyc operation has its context restored (because we use async hooks) before calling the userland code so it should works. I will try to make a test case for that.
PS: I think we should move this dicussion to the PR though

[2020-05-28 17:36] #989 closed

[2020-05-28 19:26] #752 closed

[2020-05-28 19:26] #1013 closed

[2020-05-28 19:26] #1076 closed

[2020-05-28 19:26] #1101 closed

[2020-05-28 19:57] vmarchaud opened #1123 "benchmark: add context managers benchmark"
https://github.com/open-telemetry/opentelemetry-js/pull/1099#issuecomment-635555111

[2020-05-29 12:23] vmarchaud opened #1124 "bug(node-trace-sdk): could not load plugin errors are polutting stdout"
Since the express module is in the list of default plugins, the plugin loader try to load it when started:
[code]
However in my case i don't want the express plugin, and i also don't want to those errors because it's expected.

I would don't think we should log if the module isn't found in this case, WDYT ?

[2020-05-29 13:47] dyladan commented on #1124
Can you just add `{ express: { enabled: false } }` to the plugin config?

[2020-05-29 14:12] vmarchaud commented on #1124
Yeah i can do it as a workaround, however i don't think we should require users to disable plugins they don't want (since they didn't install them in the first place).

[2020-05-29 15:36] vmarchaud opened #1125 "bug(exporter-collector): error while sending spans"
When trying to use the latest exporter-collector i get those logs:
[code]

My guess would be that they come from [there](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-exporter-collector/src/platform/node/CollectorExporter.ts#L121) but i can't figure out why its happening.
Note: `X.Y.Z.dev` are the host of which my service are exposed and it's not configured

[2020-05-29 16:05] vmarchaud commented on #1125
I have defined a specific URL relative to my setup so i'm not sure that would be that. I can still push traces and i see them where i export them but i'm missing some spans (mostly mongodb ones)

[2020-05-29 16:07] dyladan commented on #1125
This is happening on all exports or only some exports? Some or all hosts?

[2020-05-29 16:08] obecny commented on #1125
Hard to say anything without debugging your case, as recently the collector has been refactored. Try to debug yrself - there are 2 versions for node nad for browser

[2020-05-29 16:09] vmarchaud commented on #1125
The log happens on all services that have OT JS running, the collector is a single instance, i use the version on the repo contrib (master)

[2020-05-29 16:15] dyladan commented on #1125
I would start by checking the value of this var. https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-exporter-collector/src/platform/node/CollectorExporter.ts#L66

[2020-05-29 17:13] vmarchaud commented on #1125
@mayurkale22 Yeah, however i've sent the `serviceName` to a another string than the host present in the error log.

[2020-05-29 17:29] mayurkale22 commented on #1125
Could you pls try running https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/collector-exporter-node example w/ direct collector address and w/ hostname of the service?

[2020-05-29 18:24] #1033 closed

[2020-05-31 04:29] naseemkullah commented on #1119
🙋‍♂️

[2020-05-31 13:15] vmarchaud commented on #1030
bump since its tomorrow :)

[2020-05-31 16:35] naseemkullah commented on #1119
The purpose of labelKeys was to choose what labels would be added to a metric among the available labels right?
Is that to say there is no way to filter/remove which labels will wind up in the metric now?

[2020-05-31 18:18] naseemkullah commented on #1119
#1126 opened

[2020-05-31 18:20] naseemkullah commented on #1116
createX sounds like a function newX sounds like a const, equivalent to createdX

[2020-05-31 18:24] naseemkullah commented on #1116
Could we have an experience such as:

[code]

[2020-05-31 19:41] mayurkale22 commented on #1119
I think https://github.com/open-telemetry/opentelemetry-specification/pull/565 is the specs PR.

[2020-06-01 03:28] naseemkullah opened #1128 "Add markdown linting action to lint all markdown files"
https://github.com/marketplace/actions/markdown-linting-action

[2020-06-01 06:16] vmarchaud commented on #1125
Sorry it was a problem with an exporter of the collector (elastic in this case: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/240).
However i'm wondering if we should need to add inside the log that the error comes from the collector and not the sdk itself, WDYT ?

[2020-06-01 14:21] dyladan commented on #1128
I edited your issue because I don't think this is a spec level question. All SIGs can decide how to maintain their own repos.

I fully support this and it should be relatively easy to get working.

[2020-06-01 14:23] naseemkullah commented on #1128
Thanks @dyladan, you can assign this to me, I'll try to find time this week for a PR!

[2020-06-01 14:23] dyladan commented on #1116
The purpose of using the meter methods to create instruments is so that they are automatically registered with the meter, so you can use methods on the meter to get a checkpoint of all instruments and such. If you create a counter separately, the meter will not know about it. We could pass the meter to the constructor, but then that is an additional burden on all users. Also, the spec says to do i

[2020-06-01 14:35] naseemkullah commented on #1116
Thanks for explaining!

What the spec says, goes!

[2020-06-01 14:58] dyladan opened #1129 "Set zipkin service name from resource"
https://github.com/open-telemetry/opentelemetry-specification/pull/472

[2020-06-01 17:14] mayurkale22 commented on #1129
dupe of #919

[2020-06-01 18:03] rezakrimi commented on #919
Hey, I'm willing to work on this. As far as I understand, we can detect the resource type and generate a `Resource` object. But I haven't seen any of the `SERVICE_RESOURCE` attributes (which includes service.name) being set in the code.

So is it right to detect the resource and set the zipkin service name to something like
`this._serviceName = config.serviceName || resource.service.name`?

[2020-06-01 18:09] dyladan commented on #919
The resource comes attached to the first span. I would do something like this:

[code]

[2020-06-01 18:14] dyladan commented on #1129
Oops. Closed as dupe.

[2020-06-01 18:14] #1129 closed

[2020-06-01 20:00] shivkanya9146 commented on #1030
I would like to take this one.

[2020-06-01 20:02] dyladan commented on #1030
Thank you!

[2020-06-01 20:04] shivkanya9146 commented on #1030
You're welcome😊

On Tue 2 Jun, 2020, 1:32 AM Daniel Dyla, <notifications@github.com> wrote:

[2020-06-02 13:46] #1030 closed

[2020-06-02 14:31] #1112 closed

[2020-06-02 18:04] mayurkale22 commented on #1116
I don't have really strong preference. Maybe it is worth to see what other SIG's are doing about this.

[2020-06-02 18:43] rezakrimi commented on #919
Thanks for the help. I'll be working on it.

[2020-06-02 21:39] rezakrimi commented on #919
Is it okay to change the `serviceName` property of `ZipkinExporter` to public?
I'm trying to write some tests cases to check its value.

[2020-06-02 22:47] dyladan commented on #919
In tests you can access private variables like this

`exporter["_privateProperty"]`

[2020-06-03 05:17] mayurkale22 commented on #978
Closed via #1085

[2020-06-03 05:17] #978 closed

[2020-06-03 05:18] mayurkale22 commented on #876
Closed via https://github.com/open-telemetry/opentelemetry.io/pull/168

[2020-06-03 05:18] #876 closed

[2020-06-03 05:19] mayurkale22 commented on #722
@dyladan can we close this one ?

[2020-06-03 12:56] dyladan commented on #722
Still need plugins-all. I'll do this today

[2020-06-03 15:31] dyladan commented on #1105
We found a workaround which should have fixed this issue. If the issue persists, feel free to reopen this.

[2020-06-03 15:31] #1105 closed

[2020-06-03 16:06] davidwitten commented on #1109
Hi, I've been working on this feature, so you can assign the task to me.

[2020-06-03 16:18] obecny commented on #1109
opentelemetry has separate exporter for spans and metrics.
`opentelemetry-exporter-collector` is for span we are missing for metrics.
if I were to rename it I could probably call it
`opentelemetry-exporter-spans` (renamed from `opentelemetry-exporter-collector`)
`opentelemetry-exporter-metrics` - OTLP Metrics Exporter

[2020-06-03 16:27] naseemkullah commented on #1096
I believe this will depend on https://github.com/open-telemetry/opentelemetry-js/pull/974 laying out the structure for the platform specific functions.

[2020-06-03 16:39] dyladan commented on #1109
@davidwitten welcome to the project! just so you know we have weekly meetings on wednesdays at noon ET if you would like to join.

[2020-06-03 16:40] sk- opened #1135 "Add support for @grpc/grpc-js 1.x"
**Is your feature request related to a problem? Please describe.**
I want to trace the execution of Firebase Functions using firestore. However the firestore clients use `grpc-js` 0.7.4, due to dependencies on `google-gax` 1.13.0.

**Describe the solution you'd like**
Support for grpc-js 0.7.4

**Describe alternatives you've considered**
I checked whether it would be possible to update the firesto

[2020-06-03 16:40] markwolff commented on #722
For this maybe we could re-export out the `api` stuff too, but in a separate folder? I think a huge benefit to this proposed SDK package is that app owners only need to maintain 1 package.json version. E.g. application writer could write.

[code]

[2020-06-03 16:43] dyladan commented on #1135
maybe @markwolff can weigh in here as he is the original plugin author. I assume there is some reason he only decided to support `1.x`. This definitely depends on the level of effort needed to support it as 0.x is a pre-release version of grpc and I am hesitant to spend too much effort supporting old pre-release versions of modules.

[2020-06-03 16:43] dyladan commented on #1115
If you want to take this assign yourself so a google intern doesn't take it out from under you :)

[2020-06-03 16:51] dyladan commented on #1116
Python has a single method `create_metric` on their meter which creates all metric types. Go uses `new`. Java has methods like `doubleCounterBuilder`. Ruby uses `create`.

[2020-06-03 16:54] markwolff commented on #1135
`grpc-js` is a re-write of `grpc` using pure javascript instead of relying on native modules, and was not recommended for production until a month ago with its [`1.x` release](https://github.com/grpc/grpc-node/releases/tag/%40grpc%2Fgrpc-js%401.0.0).

The action item here would be to write a new plugin for `grpc-js`. Only `grpc-js@1.x` should be supported, but judging from the release notes, there

[2020-06-03 16:56] dyladan commented on #1135
If only 1.x is supported, it will fail to install on 0.x. We currently don't have a mechanism to force the installation to succeed on an incompatible version. Maybe we should? Obviously we would want to name the option something scary that makes it clear this is at your own risk.

[2020-06-03 16:58] sk- opened #1136 "New trace is created in presence of x-cloud-trace-context"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

I'm trying to trace Firebase Cloud Functions, and so far the http and https plugins are generating the spans, however, a new trace id is created instead of reusing the one provided in the context.

The request I receive has the header `x-cloud-trace-conte

[2020-06-03 17:04] dyladan commented on #1136
OpenTelemetry does not support vendor-specific trace headers. Maybe @mayurkale22 knows if there are plans to create a propagator for this in the future?

[2020-06-03 17:20] dyladan commented on #1135
Yes.

If we create a plugin for `grpc-js` which only contains `1.x` in the supported versions matrix, the plugin loader will not load it if you are using a version of `grpc-js` prior to 1.x

[2020-06-03 18:19] naseemkullah commented on #1096
https://github.com/open-telemetry/opentelemetry-js/pull/974/files#r434764111 seems like @iliasbhal will be suggesting a change in the open #974 🚀

[2020-06-03 18:56] rezakrimi commented on #919
@dyladan I'm doing my internship at Google and I have linked my google account to my github account. But I'm still getting error for not signing CLA in my PR.

[2020-06-03 19:10] dyladan commented on #919
Maybe @mayurkale22 can help here (he is a google employee)

[2020-06-03 19:17] mayurkale22 commented on #1116
I would prefer to stick to `createX` and revisit this later. @dyladan would ne nice if you can update SIG discussion here for the future reference.

[2020-06-03 19:21] dyladan commented on #1116
From SIG meeting today:

@obecny: “new” sounds weird without the new keyword
@mwear: thinks this is a common go paradigm
@dyladan: would like to keep create name
@markwolff: has concerns that we are named different than spec

Given @mayurkale22's opinion above and the fact that only go uses the spec name, we are agreed to keep the `create` naming

[2020-06-03 19:21] #1116 closed

[2020-06-03 19:36] mayurkale22 commented on #919
Post a comment ("**I signed it**") to the PR to recheck the signed CLA.

[2020-06-03 22:23] rezakrimi commented on #919
seems like it didn't work.

[2020-06-03 22:26] markwolff commented on #1135
Makes sense. @sk- if you want to contribute this you are welcome to. Else I can take this when I have some cycles.

@dyladan Do you think this plugin should live in this repo or live in contrib? It seems to be the supported grpc lib going forward now, and so I think it should take the place as the "grpc plugin" for this repo. The existing one could be moved to contrib and become non-default as wel

[2020-06-03 22:33] dyladan commented on #1135
what do you mean "supported grpc lib"? I admit to being a little out of the loop on grpc related topics.

[2020-06-03 23:08] markwolff commented on #1135
A quick overview:
- [`grpc`](npmjs.com/package/grpc): grpc package which has existed for years. Written with native c++ addons. Stable, but doesn't seem to be getting updates anymore (past 6 months). It probably will get updated if the grpc protocol ever requires changes and so I don't think it is considered "unsupported". We have an opentelemetry plugin for this lib.
- [`@grpc/grpc-js`](https://w

[2020-06-04 07:18] mayurkale22 commented on #919
Not sure what went wrong, did you sign up as an individual (https://identity.linuxfoundation.org/?destination=node/285/individual-signup)?

[2020-06-04 08:40] backkem commented on #1109
One thing I was wondering about when considering to use this from a browser front-end is how to protect the collector from spam. For example, by limiting the metrics (and labels) that can be ingested. Does anyone have experience with that?

[2020-06-04 13:16] dyladan commented on #919
Do the interns sign up as individuals? I would assume they sign up as employees. @rezakrimi your manager should probably know.

[2020-06-04 15:38] thgao commented on #1087
I can take this if this is an okay ticket for a first time contributor!

[2020-06-04 17:26] yehudamakarov opened #1143 "How do you insert the tracing context into the grpc request?"
https://github.com/open-telemetry/opentelemetry-js/blob/dadcad7ea2d915d5db2865609e6181b768b642c7/examples/grpc/server.js#L3

What if your backend is in a totally different project and you can't conveniently import the tracer file that you use in the client?

How does tracing context get put on a grpc request and extracted in a grpc server?

My question is specific to the client being implemented i

[2020-06-04 17:28] dyladan commented on #1143
Most backends are in different applications. It is actually not important or even likely that the tracer imported is the same tracer. The propagation works by inserting a formatted piece of metadata into the grpc payload (this is done by the [@opentelemetry/plugin-grpc](https://www.npmjs.com/package/@opentelemetry/plugin-grpc) plugin). The same plugin then extracts the value from the metadata when

[2020-06-04 20:39] obecny opened #1144 "Metric aggregators"
Currently our aggregators doesn't follow the naming conventions from spec
The spec describes 2 aggregators:
- sum (Counter, UpDownCounter, SumObserver, UpDownSumObserver)
- minMaxSumCount (ValueRecorder, ValueObserver)
 and we have 3 (countersum, Observer, ValueRecorderExact)

We also have some other differences
Our current Observer is in fact SumObserver
but according to this https://github.com/o

[2020-06-04 20:48] obecny commented on #1144
exactly

[2020-06-04 20:49] mayurkale22 commented on #1144
Agreed.

[2020-06-04 21:02] obecny commented on #1144
or I can keep renaming observer to valueobserver and then make necessary changes so that the valueobserver will be the same as in spec, and then `#1114` will remain as it is, maybe this makes more sense ?

[2020-06-04 21:03] obecny commented on #1144
new metric kinds here:
https://github.com/open-telemetry/opentelemetry-js/pull/1145

[2020-06-05 02:18] yehudamakarov commented on #1143
Right, so I just want to make sure I understand the significance of https://github.com/open-telemetry/opentelemetry-js/blob/dadcad7ea2d915d5db2865609e6181b768b642c7/examples/grpc/server.js#L3

[2020-06-05 02:24] yehudamakarov commented on #1143
ok, i misunderstood something in the tracer. I'm sorry.

I see what is going on, that line just returns a tracer with that name. thank you!

[2020-06-05 02:24] #1143 closed

[2020-06-05 14:06] obecny commented on #1144
@dyladan @mayurkale22 from what I see the spec says nothing about LastValue which is weird or there is a bug. Anyway if we implement all as in spec we don't have possibility of having the LastValue Observer. Because we don't have yet SumObserver and UpDownSumObserver and I just renamed old observer into ValueObserver I will not yet change the aggregator for it from LastValue to SumObserver. If I t

[2020-06-05 14:10] obecny commented on #1144
I have raised an issue in spec -> https://github.com/open-telemetry/opentelemetry-specification/issues/636

[2020-06-05 18:56] obecny opened #1146 "Remove metric kind "Observer""
Remove metric kind "Observer" when all new metric kind will be implemented

[2020-06-05 21:03] yehudamakarov commented on #1143
For anyone that comes here, I would like to use something like [the grpc plugin](https://www.npmjs.com/package/@opentelemetry/plugin-grpc) that automatically populates the formatted piece of metadata into the grpc payload. However I'm looking at grpc-web for right now. Hopefully simply injecting the span's context into the carrier (`{}`) and then using that on the metadata will be just as if i use

[2020-06-06 19:05] #919 closed

[2020-06-08 20:48] markwolff opened #1149 "eslint header rule: remove year requirement"
Remove copyright years from ts headers

[2020-06-08 22:50] markwolff commented on #285
@dyladan I think this can be closed? Looks like it was moved in your named tracer addition #582

[2020-06-09 04:36] markwolff commented on #655
Is this ready to be looked at now? This is something I am interested in as well so I can stub something out if you haven't already @vmarchaud.

[2020-06-09 05:39] vmarchaud commented on #655
@markwolff I didnt started any work on that so you can do it if you want to :)

[2020-06-09 07:49] blumamir opened #1152 "context in http request event emitter is binded to http span instead of active span at time of registration"
The [body-parser](https://www.npmjs.com/package/body-parser) package is very common in express applications for adding middlewares which parse the http body and store the result on the request.
Internally, it uses the [raw-body](https://www.npmjs.com/package/raw-body) package, which [register listeners](https://github.com/stream-utils/raw-body/blob/master/index.js#L189) on the socket stream. These

[2020-06-09 08:04] vmarchaud commented on #1152
@blumamir Can you give me the version of OT and all the plugins you are using ? Would be helpful to debug

[2020-06-09 08:27] blumamir commented on #1152
Thanks @vmarchaud  for all the work and time invested in the context issues.
I am using version 0.8.3 with the latest fixes in AsyncHooksContextManager, and the official http plugin.
I also use an express plugin which I write and is currently under development. This plugin register a middleware in express, starts a new span for each request (child of the http span), and calls the `next()` function

[2020-06-09 08:40] blumamir commented on #1152
I took another look at the code, and I suspect that the issue might be connected to the http plugin binding it's own span to the http request event emitter [here](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-http/src/http.ts#L321).
Will investigate and write my findings here soon.

[2020-06-09 08:43] vmarchaud commented on #1152
@blumamir Could you try the express plugin that i've wrote [there](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/master/plugins/node/opentelemetry-plugin-express) ? I did test with body-parser and it was working fine

[2020-06-09 09:13] blumamir commented on #1152
Tested it and the issue is indeed that the http plugin bind it's span to the request event emitter. This means that the context in the callbacks will be set to the http span, and not to the active context when the `on(event, cb)` is called.

[code]

Is it possible to bind the context so that I'll get span2 in the callback instead of span1?

[2020-06-09 09:26] vmarchaud commented on #1152
You'll need to re-bind the emitter, there are currently no other ways. It would be possible however to change that behavior so that that we `bind` to the current context and not to a fixed one, not sure if it would be a good idea though

[2020-06-09 10:19] blumamir commented on #1152
Thanks
Any suggestion on how to do the re-bind? looks like there is no straight forward way to change the binding, as the function is patched, and the original function is not stored anywhere

[2020-06-09 12:07] #1152 closed

[2020-06-09 12:20] vmarchaud commented on #1152
I believe calling a second time `.bind` should works, even if not optimal in term of performance.

[2020-06-09 13:26] dyladan commented on #655
I'd say go for it

[2020-06-09 14:51] dyladan commented on #285
I didn't touch the plugins in #582, but there are not platform specific plugin impls so yes this can be closed.

[2020-06-09 14:51] #285 closed

[2020-06-09 17:34] dyladan opened #1156 "Reintroduce package-lock.json and use `--ci` for bootstrap in tests"
The argument against committing package-lock.json files alongside library code mostly boil down to not always having and testing with the latest versions of your dependencies, and that your users may end up with newer versions than your CI. Now that we have dependabot, we no longer need to fear this issue. Adding package-lock.json back into the source tree will greatly speed up builds without the

[2020-06-09 17:48] markwolff opened #1157 "Add platform agnostic way to read environment variables"
Add a platform agnostic based way to read environment variables. We can add a single helper util here to ultimately read from `process.env`, `global`, `window`, etc.

On startup a pre-aggregated list of environment variables could be loaded into an `environment` holder, or the utility function could access an environment variable at runtime.

`getEnvironmentVariable(name: EnvironmentVariable): str

[2020-06-09 18:57] markwolff commented on #1156
+1 Since this repo will have ~40 of them right now, I think PR guidelines should be updated to recommend not including lockfile changes unless a `package.json` change was made. Otherwise merge conflicts might get out of hand! Renovate should take care of lockfile updates beyond that

[2020-06-09 23:00] naseemkullah opened #1168 "renovate bot automerge"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

We might want to enable https://docs.renovatebot.com/configuration-options/#automergetype if we are approving based on test passing. Thoughts?

[2020-06-11 17:42] dyladan opened #1186 "Decouple plugin loader from tracer provider"
Currently, instrumentations are loaded by the `PluginLoader` which is called by the `NodeTracerProvider`.

1. This setup assumes that the user wants to use traces and not just metrics
2. This setup encourages tracing-only plugins
3. This setup does not allow easily sharing plugin instances between meter providers and tracer providers.

### Suggested Solution

- Remove the `PluginLoader` entirely
-

[2020-06-11 17:51] obecny commented on #1157
@markwolff are you already working on that, or it's available to grab ?

[2020-06-11 17:54] markwolff commented on #1157
I haven't started on it yet. You can grab it

[2020-06-11 19:29] adamegyed commented on #920
Hi, I'm a Google Intern looking to start contributing to OpenTelemetry. Could I be assigned to this issue?

[2020-06-11 19:52] michaelgoin commented on #591
Assuming this is still wanted/looking to be handled, I'm willing to take a stab at it likely along with @lykkin.

[2020-06-11 19:55] dyladan commented on #591
You're welcome to take a shot :)

[2020-06-11 21:52] mwear opened #1188 "Consider detecting resources during initialization"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

The SDK currently has resource auto-detection,  but the detection must be user initiated. For example:

[code]

There are some detectors that make network calls to determine if they are running in a cloud provider (GCP, or AWS) to gather metadata, which i

[2020-06-11 21:55] mwear commented on #1188
It looks like these concerns are largely being addressed in: https://github.com/open-telemetry/opentelemetry-js/pull/1187

[2020-06-12 01:16] jonahrosenblum commented on #869
I would like to claim this issue.

[2020-06-12 06:08] #1111 closed

[2020-06-12 11:37] obecny opened #1190 "Add support for arrays and maps for attribute values for OpenTelemetry Collector Exporter"
Once this one is merged we should implement it
https://github.com/open-telemetry/opentelemetry-proto/pull/157

[2020-06-12 13:27] #1149 closed

[2020-06-12 13:58] #655 closed

[2020-06-12 21:13] davidwitten opened #1193 "Collector Exporter requires a different endpoint for Node vs. browser"
### What version are you using?
@opentelemetry/exporter-collector: v0.8.3

### What version of Node are you using?
v10.20.1

### What did you do?
I have an application with a browser and Node component. I want to write traces from both.

Within the browser version, I must set the URL in the constructor as  so (with an example IP address provided) `http://33.58.232.124:55678/v1/trace`.

If I only d

[2020-06-12 21:40] #11 closed

[2020-06-12 21:43] mayurkale22 commented on #1193
I tried fixing it here (https://github.com/open-telemetry/opentelemetry-js/pull/1070). But due to major refactor in collector exporter I closed the pull request. Feel free to take this bug if you're interested. Let me know

[2020-06-12 21:44] mayurkale22 commented on #1119
Closed via #1126

[2020-06-12 21:44] #1119 closed

[2020-06-12 21:46] mayurkale22 commented on #970
Closed via #978

[2020-06-12 21:46] #970 closed

[2020-06-12 21:47] mayurkale22 commented on #697
Is this still relevant?

[2020-06-12 22:48] davidwitten commented on #1193
Yeah sure, thanks @mayurkale22

[2020-06-12 23:12] naseemkullah commented on #697
I don't think it is!

[2020-06-12 23:12] #697 closed

[2020-06-15 18:15] #522 closed

[2020-06-16 17:32] astorm opened #1200 "Can't Set Authorization Headers for Zipkin Exporter"
**Is your feature request related to a problem? Please describe.**

I would like to send trace data to a Zipkin compatible endpoint.  This Zipkin endpoint wants me to set a few additional HTTP headers (an auth token/API Key being the most important).  The current Zipkin exporter does not appear to let me do this.   This is based on my trying to use the exporter in a real world situation -- it is n

[2020-06-16 19:23] dyladan commented on #1200
Which "Zipkin compatible endpoint" are you using? Is it a well-known service that adding a config for that particular service's API key would be better?

[2020-06-16 19:25] dyladan commented on #1200
Just having a config that allows a key-value map that applies as an HTTP header seems like it is likely only useful for this particular setup. Maybe we should have some config for a request-transformer hook that is called with the request object before it is sent? This would allow other things like dynamic headers

[2020-06-16 19:38] obecny commented on #1200
I think it makes perfect sense and  it shouldn't be complicated. Moreover I think it could be aligned across all exporters WDYT @mayurkale22 . If that is a case I would be happy to take it and implement for our exporters

[2020-06-16 19:39] obecny commented on #1200
@dyladan I would add 2 methods `addHeaders` and `removeHeaders` WDYT ?

[2020-06-16 19:45] dyladan commented on #1200
I would just make it a config option `httpRequestHeaders`. No need to add/remove them after the exporter is created

[2020-06-16 20:09] obecny opened #1203 "Adds possibility to set headers to Collector Exporter"
Based on this https://github.com/open-telemetry/opentelemetry-js/issues/1200
Collector Exporter will need that too.

[2020-06-16 20:19] astorm commented on #1200
Thanks for taking a look  @dyladan and @obecny

The specific real world problem I ran into was a New Relic endpoint that accepts Zipkin formatted spans but  wants a few additional headers (including an Api-Key) to be set: https://docs.newrelic.com/docs/understand-dependencies/distributed-tracing/trace-api/report-zipkin-format-traces-trace-api

I think adding a config for a particular service's API

[2020-06-16 20:25] dyladan commented on #1200
I think it sounds reasonable and @obecny has already opened a PR with the config option #1202

[2020-06-16 21:43] obecny commented on #1203
@mwear here is the issue

[2020-06-17 00:48] #1193 closed

[2020-06-17 04:05] #1041 closed

[2020-06-17 13:24] owais opened #1206 "Web tracer, zone context manager and User Interaction plugin does not work with Angular"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

I'm using the following  Otel packages:

[code]

#### Output of `npm ls`:
<details>
  <summary>Click to expand</summary>

[code]
</details>

### What version of Node are you using?

[code]

### What did you do?
If possible, provide a recipe for reproducing the error.

I checked out the

[2020-06-17 13:32] obecny commented on #1206
I will investigate this soon and let you know, thx for raising the issue

[2020-06-17 13:33] owais commented on #1206
Thank you. Please let me know if you need more info or if I can help somehow.

[2020-06-17 15:24] rezakrimi commented on #1074
@dyladan I'm an intern at Google working on creating plugins for collecting metrics on web apps. Is it safe to assume that they should be called 'instrumentation` as well?

[2020-06-17 17:01] dyladan commented on #1074
The term used by specification is "instrumentation", but we've used "plugin" in this repo. For now the terms are basically interchangeable, but I believe we will want to use "instrumentation" for new modules.

[2020-06-17 17:01] dyladan commented on #1074
@mayurkale22 WDYT

[2020-06-17 17:29] rezakrimi opened #1207 "Web meter provider with plugin support"
**Is your feature request related to a problem? Please describe.**
Create a web meter provider which supports plugins that can automate metric collection from web apps.

**Describe the solution you'd like**
Currently, the web package only has a dedicated `WebTracerProvider`. It seems like it makes sense to create a `WebMeterProvider` as well. This module will contain plugins that are designed for

[2020-06-17 17:32] rezakrimi commented on #1207
@dyladan I've been working on this for my internship project, so you can assign it to me.

[2020-06-17 17:33] dyladan commented on #1207
I'm going to leave it unassigned until there is agreement that it is something we want. Have you talked to @mayurkale22 about this?

@obecny particularly want your opinion here.

[2020-06-17 18:02] obecny commented on #1207
I think that you don't need anything like Web Meter Provider. We already have MeterProvider which should work fine in web too, if there is any dependency on node (I think there is not) it should be changed then to platform specific. But having separate class to be the same as the one that already exists - don't think it is what we need.

[2020-06-17 18:57] rezakrimi commented on #1207
@obecny So do you think it's a good idea to make the original MeterProvider compatible with metrics plugins?

[2020-06-17 18:58] dyladan commented on #1207
What happens if you want to use a metrics plugin and a tracing plugin which instrument the same module? You would have to work out a way to patch it twice. I think the better solution is to separate the plugins from the tracer provider, and have them acquire meters and tracers using the API. This would also make them compatible with third party SDK implementations.

[2020-06-17 19:09] rezakrimi commented on #1207
So the way we envisioned this is to have a separate interface for metric plugins, since currently the plugins are only intended to be used by tracers. Having a new new interface will cause minimal change to the implementation and I think it'll also solve the issue you mentioned.

[2020-06-17 19:16] dyladan commented on #1207
I dont see how this solves the issue. If you want to patch grpc for instance, the tracing plugin will wrap the methods exported by grpc with new implementations that have tracing. In order to instrument with metrics you would then need to wrap again. Aside from the fact that this is unsupported by the wrapping library we use, it also greatly expands the surface for potential bugs. A much better so

[2020-06-17 19:21] mayurkale22 commented on #1207
I think we cannot probably do aggregation on the browser (it could be very expensive), so we may have to send individual measurements to the exporter/backend to do the aggregation this is opposed to the current metrics SDK. So, I think it makes sense to have separate favor of `MeterProvider` for Web. WDYT?

[2020-06-17 19:23] dyladan commented on #1207
Why would it be so expensive to do aggregation on the browser? For a single browser session with only a single user I don't see any reason it couldn't be done. In fact, the opposite may be true where the network cost of sending all measurements may be greater than the overall cost of aggregating and exporting in fewer network calls.

[2020-06-17 20:33] rezakrimi commented on #1207
Got it. So you're suggesting that the whole design of the plugins must be changed and instead of being passed to the meter/tracer provider, we should pass the tracer/meter to the plugin, right?

Also, does this mean that each plugin should only be used with either a meter or a tracer?

[2020-06-17 20:36] dyladan commented on #1207
Yes. Or the plugin could acquire a tracer/meter from the global tracer/meter provider. Either way would satisfy me. Or both. You could pass one directly, but if one is not passed it attempts to use the global.

Currently yes. If we separate the plugins from the tracer provider, I don't see why a single plugin couldn't use both though.

[2020-06-17 20:37] dyladan commented on #1207
@mayurkale22 can you take a look at that proposal and lmk what you think?

[2020-06-17 21:20] obecny commented on #1206
another fix is here
https://github.com/gothinkster/angular-realworld-example-app/pull/174

[2020-06-17 23:04] michaelgoin commented on #591
After getting reacquainted with the state of things... In Node 14, and back ported to v12.17, `executionAsyncResource` was introduced to async-hooks. This allows storing of context data on the resource representing the current execution. A big benefit being it enables storing of context data without needing to maintain a map locally that relies on seeing `destroy` to cleanup. By avoiding this exte

[2020-06-17 23:40] obecny commented on #1206
and finally a contrib repo https://github.com/open-telemetry/opentelemetry-js-contrib/pull/88

[2020-06-17 23:44] owais commented on #1206
Thank you. I can confirm these patches fix the bug.

[2020-06-18 06:15] #1203 closed

[2020-06-18 09:28] BraunreutherA opened #1214 "Service Worker Spec"
**Is your feature request related to a problem? Please describe.**

Hi there, we're using service workers and [cloudflare workers](https://developers.cloudflare.com/workers/reference) (which implement the service worker spec). Sadly the browser build accesses APIs which are not available in workers. For example the window.crypto library or the performance API. Would it be possible to create a plat

[2020-06-18 15:11] davisjohndavis3 opened #1215 "CORS issue blocked with exporter-zipkin"
**Error :**

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:9411/api/v2/spans. (Reason: header \u2018x-opentelemetry-outgoing-request\u2019 is not allowed according to header \u2018Access-Control-Allow-Headers\u2019 from CORS preflight response)

**Please check the below code and correct me if I am wrong:**

`import { ConsoleSpanExpor

[2020-06-18 15:14] dyladan commented on #1215
Zipkin exporter is not supported on web. The recommended approach is to use the otlp exporter. If it is important to use the zipkin exporter directly on web, it may be possible to put your zipkin server behind a proxy which returns the appropriate cors headers.

[2020-06-18 21:02] #1200 closed

[2020-06-18 21:09] astorm commented on #1200
Thanks all -- you are a mighty machine capable of swift action!

[2020-06-18 21:15] markwolff opened #1219 "deprecate attribute.component"
- [x] This only affects the JavaScript OpenTelemetry library

Originally posted by @mwear https://github.com/open-telemetry/opentelemetry-js/pull/1160#pullrequestreview-429340426

Remove `component` attribute applied by plugins to be compliant with specs

[2020-06-18 22:24] davidwitten commented on #1109
@dyladan @obecny Hi, I've been working on this issue. While creating the types, I noticed that the open-telemetry-proto in the [repo](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-exporter-collector/src/platform/node) is from 2 months ago.

Should I update the proto to the most recent [commit](https://github.com/open-telemetry/opentelemetry-proto/)? I previo

[2020-06-19 02:59] naseemkullah commented on #1043
This can be closed as #965 added the sending to endpoint where we can specify port 14268.

Per the title of the issue, it is now possible to send straight to the collector, by passing the agent entirely.

Enabling sending spans as proto over grpc can be raised in another issue if need be.

[2020-06-19 03:00] naseemkullah commented on #1043
I'll let you close this if you agree @dyladan

[2020-06-19 03:01] #1043 closed

[2020-06-21 11:22] rbruggem opened #1228 "getCurrentSpan() returns undefined when a span is started"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

`v10.18.1`

### What did you do?

If possible, provide a recipe for reproducing the error.

[code]

`getCurrentSpan()` returns `undefined`, even though the main span started on the previous line.

### What did you expect to see?

`tracer.

[2020-06-21 12:30] vmarchaud commented on #1228
I guess you didn't register a ContextManager, how did you configure the tracer exactly ? Could you show the full code used ? See [this example](https://github.com/open-telemetry/opentelemetry-js/blob/master/examples/http/tracer.js#L28)

[2020-06-21 16:48] rbruggem commented on #1228
Hi @vmarchaud, thanks for the quick response, it's very appreciated!

I do call `register`. `register` adds and enables an instance of `AsyncHooksContextManager`.
Here's a simple script which I run with `ts-node`.
[code]

`console.log(tracer.getCurrentSpan())` prints `undefined`.
Also, all child spans do not link to the parent.

If I pass `parentSpan` to `doWork`, then child spans do link to their

[2020-06-22 13:04] dyladan commented on #1228
`startSpan` does not add the span to the context, it only creates a new span.

[code]

[2020-06-22 18:09] mayurkale22 commented on #1228
Yes, that's right. You can read more in API Documentation: [startSpan](https://open-telemetry.github.io/opentelemetry-js/interfaces/tracer.html#startspan) and [withSpan](https://open-telemetry.github.io/opentelemetry-js/interfaces/tracer.html#withspan).

[2020-06-22 18:48] mayurkale22 commented on #869
Closed via #1218

[2020-06-22 18:48] #869 closed

[2020-06-22 19:32] michaelgoin commented on #591
@dyladan just pinging you on the above in case you didn't get a notification (not pressuring, know you are probably busy - just for visibility).

[2020-06-22 20:21] vmarchaud commented on #591
For me, we should let the current AsyncHooksScopeManager as-is and focus on making a new one based on AsyncLocalStorage since its way more performant than the implementation i have wrote. See https://github.com/open-telemetry/opentelemetry-js/pull/1210

[2020-06-22 21:26] michaelgoin commented on #591
I think that makes sense. Some of the benefit comes from what I was mentioning above but beyond that... using what is hoped as the future of such context tracking for Node would potentially have mutual benefit for this project and Node.

[2020-06-22 23:29] mwear opened #1233 "Collector exporter retries and backoff"
### Is your feature request related to a problem? Please describe.

The collector exporter doesn't current retry sending spans. We should consider adding retry logic with a reasonable backoff strategy.

### Describe the solution you'd like

[The spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#span-exporter) mentions that exporters are resp

[2020-06-23 08:35] rbruggem commented on #1228
Ok, thanks guys! I'm going to close this.

[2020-06-23 08:35] #1228 closed

[2020-06-23 15:35] dyladan commented on #1207
@mayurkale22 think we're going to discuss this at the SIG this week

[2020-06-23 17:18] dyladan commented on #591
I agree with @vmarchaud that the much safer way to handle this is to introduce it as a new context manager. After we have some use and have worked out the bugs, we can see about making it the default later.

[2020-06-23 18:14] obecny commented on #1233
The spec says that it should be an exporter. I think it has some cons as we will have to implement more less the same logic for all exporters and still it might be not enough. But the api itself gives us possibility of delegating this to a processor already. This would allow us easily implement it once and then use it with any exporter without rules for retry etc. Because the api allows that I don

[2020-06-23 18:59] markwolff opened #1235 "[http/s] config.ignoreUrls not used"
http/s plugins are using `config.ignoreIncomingPaths` / [`config.ignoreOutgoingUrls`](https://github.com/open-telemetry/opentelemetry-js/blob/5f059a56cc894a253b287b05c36cc8b0e5879c57/packages/opentelemetry-plugin-http/src/http.ts#L416), but generic plugin typings call for [`ignoreUrls`](https://github.com/open-telemetry/opentelemetry-js/blob/e9b2cf9aeb1daf5ffbab800681bfe1cafc636576/packages/opente

[2020-06-23 19:10] justinwalz opened #1236 "NodeTracerProvider PluginLoader fails silently when import order changes"
### What version of OpenTelemetry are you using?

Latest (0.9.0)

### What version of Node are you using?

10

### What did you do?

Import/Require `@opentelemetry/exporter-jaeger` prior to creating a `NodeTracerProvider`.

If possible, provide a recipe for reproducing the error.

### What did you expect to see? What did you see instead?

I expect the normal initialization flow to work, however it

[2020-06-23 19:32] michaelgoin commented on #591
OK, sounds good. I'm guessing that's where y'all will steer #1210? If so, I'm happy to concede this issue if that makes sense and grab another item (feel free to suggest).

[2020-06-23 19:58] vmarchaud commented on #591
/cc @johanneswuerbach since you opened the PR, do you plan into working on a AsyncLocalStorage-based ContextManager ?

[2020-06-23 20:09] johanneswuerbach commented on #591
Yes, I actually wanted to work on that today 😂

[2020-06-23 20:13] vmarchaud commented on #591
I think we can

[2020-06-23 20:14] vmarchaud commented on #591
I think we can close this issue, maybe re-open a new one for `the AsyncLocalStorageContextManager`, WDYT ?

@michaelgoin I would suggest to try to tackle https://github.com/open-telemetry/opentelemetry-js/issues/1040

[2020-06-23 20:17] dyladan commented on #591
I really want #1040 to be done. I started work on it once before but got busy doing other things. If you want it @michaelgoin comment on the issue and i'll assign you.

[2020-06-23 21:04] michaelgoin commented on #1040
@dyladan Happy to take a stab at this.

[2020-06-23 21:06] dyladan commented on #1040
@michaelgoin great! I assigned you. I was probably going to tackle this by setting the context property in the span processor, but if that doesn't work for you feel free to go your own way

[2020-06-23 21:33] #1108 closed

[2020-06-23 22:03] rezakrimi commented on #1093
I see that most of them aren't really fixable (like use of `any` or not using all parameters when implementing interfaces). Is it okay to just make eslint to ignore certain rules on those parts of the code?

[2020-06-23 22:06] mayurkale22 commented on #1093
Sounds reasonable to me. @dyladan WDYT?

[2020-06-24 02:28] dyladan commented on #1093
I think that's fine in many cases. A lot of these rules have configs that allow you to ignore cases where the linting rules commonly fail also so that might be worth looking into.

[2020-06-24 02:29] dyladan commented on #1093
The other option is to use the `--silent` option when running lint, which ignores warnings. The advantage of this over marking it as ignored is that it will still highlight issues in your editor, which can help you catch common mistakes. Think this might be a case-by-case decision type of task.

[2020-06-24 02:46] #1219 closed

[2020-06-24 03:11] rezakrimi commented on #1093
We can make eslint ignore specific rules as well. For instance, we can disable `no-unused-vars` rule like this:
[code]
This way we can still catch errors using the linter, even in the ignored section.

[2020-06-24 03:12] mayurkale22 commented on #1087
Closed via #1216

[2020-06-24 03:12] #1087 closed

[2020-06-24 03:34] MadRabbit opened #1238 "Thenable objects don't seem to get access to the current span in a node app"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
latest, as in 0.9.0

### What version of Node are you using?
14.4

### What did you do?
So I have this ORM library that i'm trying to instrument. it has a thenable Query unit, that looks somewhat like this:

[code]

then net result of this trickery is that you can `await` on a query dire

[2020-06-24 04:54] MadRabbit commented on #1238
Here is a snippet to reproduce the issue:

[code]
the output of this looks like so
[code]

i hoper this helps

[2020-06-24 05:46] MadRabbit commented on #1238
poked at this a bit more. both variants work fine if I use node provider without an express app, so that does not seem like a culprit.

disabling the `express` plugin, doesnt change anything, i still see the same problem.
disabling the `http` plugin makes both variants to have the parent span as `undefined`, which i guess is expected

[2020-06-24 06:17] legendecas commented on #1238
This is related to https://github.com/nodejs/node/pull/33778. There isn't any Node.js version released with this patch yet. So maybe we can wait for a new release to verify this issue again.

[2020-06-24 06:40] MadRabbit commented on #1238
ah, that's neat, thanks! maybe they will release that in a few days

[2020-06-24 16:10] lykkin opened #1240 "ValueRecorder instrument should allow negative values"
According to the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#valuerecorder), the ValueRecorder instrument should allow negative values to be recorded.

[2020-06-24 16:18] lykkin opened #1241 "Absoluteness of instrument should not be configurable through options."
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

The properties of monotonicity and absoluteness are encoded in the instrument itself, rather than passed in as a descriptor by the user. Currently, instruments allow for absoluteness to be configured by the user upon instantiation.

[2020-06-24 17:15] rezakrimi commented on #1207
Here's the design proposal for adding metric support to the plugins: [Design Doc](https://docs.google.com/document/d/1Xg79QtegMBKg7lTzKGxMvser_Pr2WMK4a58EQ0f9XKg/edit)

[2020-06-24 18:33] mwear opened #1242 "OTLP/HTTP support for Node"
### Is your feature request related to a problem? Please describe.

The collector exporter supports JSON over HTTP for browser, and gRPC for Node. Since we already have the work in place, it'd be easy enough to add additional transport options to the collector exporter for node.

### Describe the solution you'd like

The Node collector exporter should default to gRPC as it does now, but provide co

[2020-06-24 20:35] naseemkullah commented on #1128
Closed via #1147

[2020-06-24 20:35] #1128 closed

[2020-06-26 00:59] dyladan opened #1249 "Add HTTP semantic convention for content size"
https://github.com/open-telemetry/opentelemetry-specification/pull/641

This will need to be added to the HTTP and HTTPS plugins, as well as to the Semantic Conventions module.

[2020-06-26 22:10] #1157 closed

[2020-06-26 22:20] forking-renovate[bot] opened #1250 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `packageRules: Each packageRule must contain at least one selector (matchPackageRules, matchPaths, matchLanguages, matchBaseBranches, matchMana

[2020-06-26 22:32] mayurkale22 commented on #1250
Thanks for report Mr. Renovate!

[2020-06-27 16:02] tiagonapoli opened #1252 "Metrics with NodeJS cluster mode"
I'm trying to use the Prometheus exporter with cluster mode, however each worker tries to spawn a new server to export metrics, which results in error. I thought of creating the `MeterProvider` only on the master process, so the exporter would be initialized only once, but I think this wouldn't work, since the workers would need to use the meter provider created.

The `prom-client`, which Promethe

[2020-06-27 20:18] philipp-bananaware opened #1253 "Support ECMA support due Angular 10 shows warnings"
**NB:** Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

### Is your feature request related to a problem? Please

[2020-06-29 14:32] blumamir opened #1255 "http plugin: no span attributes when http.get() throws"
### What version of OpenTelemetry are you using?
v0.9.0

### What version of Node are you using?
v13.11.0

### What did you do?
instrumented http module with @opentelemetry/plugin-http. then called http.get(url, options, cb) with invalid header which caused the function to throw an exception.

If possible, provide a recipe for reproducing the error.
[code]

### What did you expect to see?
Http spa

[2020-06-29 15:37] johnbigley commented on #902
Is support for ES5 planned?

[2020-06-29 19:34] xirzec commented on #1253
The request here would be to ship a ESM version of the lib, e.g. using the "module" entrypoint in package.json. This would allow bundlers who support ESM to not need to ingest CommonJS code.

[2020-06-29 19:58] dyladan commented on #1207
I took a look at the design doc and left some comments, but overall I think this is a good idea.

@rezakrimi did you happen to look through the spec to make sure that this proposal is compatible with current spec language? If it is not, I think this is valuable enough to make a change to the spec and I am happy to help with that process.

Curious what the other @open-telemetry/javascript-maintaine

[2020-06-29 20:29] rezakrimi commented on #1207
Thanks for the comments, I'll go through them ASAP.

I have looked into the specs and found nothing in conflict with the proposed design. But I'm not completely sure as I'm not very familiar with the specs. So I think it'll be a good idea if you could also have a look.

[2020-06-29 22:14] Brandon-Kimberly opened #1259 "Proposal: Use GitHub Actions for CI/CD"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

This issue is in reference to [issue 398](https://github.com/open-telemetry/community/issues/398) posted on the community repository. In this issue, we are proposing that all OpenTelemetry repositories *consider* using GitHub Actions as their CI provider

[2020-06-30 08:53] giri-jeedigunta opened #1260 "gRPC plugin issue | TypeError: Cannot read property 'replace' of undefined"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
[code]
### What version of Node are you using?
[code]
### What did you do?
I have a gRPC Client and Server applications. I'm trying to get the telemetry on the client application for both gRPC and http requests.

If possible, provide a recipe for reproducing the error.

A simple alive se

[2020-06-30 13:06] dyladan opened #1261 "Detect process resources"
https://github.com/open-telemetry/opentelemetry-specification/pull/635

Suggest adding a resource detector for process resources. This may be in a separate package, or at least should be node-only as the web browser does not make sense in this context.

[2020-06-30 16:23] obecny commented on #1207
@rezakrimi I read and commented on spec proposal

[2020-06-30 17:06] rochdev opened #1263 "Using diagnostic-channel for instrumentation"
- [x] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

Not sure if this has been discussed before, so please let me know if that's the case, but I was wondering why the actual instrumentation from plugins and context propagation was not done using [diagnostic-channel](https://github.com/Microsoft/node-diagnos

[2020-06-30 18:08] mayurkale22 commented on #1259
@dyladan @obecny ^^

[2020-06-30 18:10] mayurkale22 commented on #1250
Looks like Mr. Renovate is still not happy with the current config. I would appreciate if someone could give me some advice.

[2020-06-30 21:30] #1113 closed

[2020-06-30 21:30] #1118 closed

[2020-07-01 12:14] obecny opened #1265 "Zipkin in web"
I see more and more people are trying to use zipkin on web. Currently this is not possible, but refactoring zipkin to work fine in web should be quite straightforward. This can be achieved by having a platform specific code for transport only (XMLHttpRequest on web and http/https in node.js) - more less the same it works in ExporterCollector.
WDYT ?

[2020-07-01 13:10] dyladan commented on #1265
If it's not too much work, I don't see a reason not to implement it.

[2020-07-01 13:24] dyladan commented on #1259
I don't have any strong objections. I would be curious how build times are affected as I see the example C++ implementation does the entire pipeline in a single action. With our need for testing with multiple node versions, it may cause the build pipeline to become slow. If this can be mitigated though, I am happy to move to actions.

[2020-07-01 13:31] dyladan commented on #1260
I will look into this today

[2020-07-01 13:49] dyladan commented on #1263
I wasn't around when such early decisions were made, but I was also not aware of diagnostic-channel. One issue I see is that the diagnostic channel doesn't allow for any static analysis to make sure it is correct, where writing the instrumentations directly using a typescript API does. If we try to instrument modules which already support it then it might be a good place to start, but I don't see

[2020-07-01 15:20] dyladan opened #1266 "Ensure failed extraction does not modify context"
https://github.com/open-telemetry/opentelemetry-specification/pull/671

I believe our propagators already work this way, but this is a tracking ticket to make sure.

[2020-07-01 15:27] dyladan commented on #1260
@markwolff it looks like whatever original method which was wrapped with massWrap doesn't have a `path` property.

[2020-07-01 16:39] obecny opened #1267 "Update resources to use getEnv() from "core" instead of process.env directly"

[2020-07-01 16:53] connorlindsey opened #1268 "Broken Link: Plugin Guide"
The [Plugin Guide](https://github.com/open-telemetry/opentelemetry-js/blob/master/doc/plugin-guide.md) links to the BasePlugin which is a [broken link](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-core/src/trace/instrumentation/BasePlugin.ts#L29).

Which interface should this link to? There are a couple so I wasn't sure which link to add to the doc. Or shou

[2020-07-01 17:01] markwolff commented on #1263
I would support this effort since this was the original intent of diagnostic-channel. Diagnostic channel shouldn't conflict with any of the existing stuff OpenTelemetry does. Mirroring what Roch mentioned, the main benefit here would be a super thin way for library writers to emit events (which could be used for anything, not just by APMs) instead of having to take a dependency on OpenTelemetry AP

[2020-07-01 17:05] #920 closed

[2020-07-01 18:08] dyladan commented on #1263
Will still need patching for context extraction and propagation. If an event is emitted from a db driver that is all well and good, but what is its parent?

[2020-07-01 18:14] dyladan commented on #1268
The web and node base plugins should share the same public interface. I would link to the node one.

[2020-07-01 18:22] connorlindsey commented on #1268
Thanks, I'll update that.

[2020-07-01 18:50] markwolff commented on #1263
We expose [`channel.bindToContext(fn)`](https://github.com/microsoft/node-diagnostic-channel/blob/32372bd7e26bf0ea543fcfd9709397fecba3d636/src/diagnostic-channel-publishers/src/pg.pub.ts#L182-L187) to [enable subscribers to add their own propagation callback](https://github.com/microsoft/ApplicationInsights-node.js/blob/4b007cced0091d07c648c84436e02202b52ddb76/AutoCollection/diagnostic-channel/ini

[2020-07-01 18:52] obecny commented on #1146
this was already removed in https://github.com/open-telemetry/opentelemetry-js/pull/1137

[2020-07-01 18:52] #1146 closed

[2020-07-01 21:19] #1268 closed

[2020-07-01 21:46] #979 closed

[2020-07-02 08:54] kkruk-sumo opened #1273 "Error: Cannot assign to read only property 'headers' of object '[object Request]'"
### What version of OpenTelemetry are you using?

`0.9.0`

### What version of Node are you using?

`12.7.0`

### What did you do?

[code]

### What did you expect to see?

Fetch request to be sent and auto-instrumented by `opentelemetry-plugin-fetch`.

### What did you see instead?

An error:

[code]

### Additional context

`opentelemetry-plugn-fetch` is trying to change the `headers` attribute

[2020-07-02 17:39] dyladan commented on #1273
PTAL at #1274 as a fix

[2020-07-02 18:05] rochdev commented on #1263
The main advantage is that it's not reasonable to expect libraries to support OpenTelemetry internally, meaning that monkey-patching will always be necessary. Similar applies to Node where I don't think it would ever be considered to have OpenTelemetry built-in. However, a simple diagnostic channel could eventually land in both, removing the need for any monkey-patching. This would also benefit to

[2020-07-02 18:29] dyladan commented on #1263
Very interested in this. If this becomes a language-supported feature, then it makes obvious sense to support.

@rochdev @markwolff how would you suggest we get started with this? You mentioned few/no projects are currently exporting data using diagnostic channels. Does this mean we would still need to use the same plugins we do now, but instead of calling opentelemetry APIs in the patched methods

[2020-07-02 18:40] Qard commented on #1263
Yeah, no way Node.js would ever land the full OpenTelemetry in core, but a lower-level data channel is a definite possibility I’m working towards now. The shape of it is likely to evolve somewhat from the original Microsoft design though, so I’m not sure how much sense it makes to use it _right now_ but definitely worth tracking for future consideration.

[2020-07-02 19:06] vmarchaud commented on #1263
Node already have the [`trace_events`](https://nodejs.org/dist/latest-v12.x/docs/api/tracing.html) core module is pretty much focused on that use case, it already allow to "trace" dns/fs sync requests and more (you can also link trace between themselves).
However there are no javascript API exposed to user, not sure if it was discussed. I know @jasnell opened [this PR](https://github.com/nodejs/no

[2020-07-02 22:10] obecny opened #1275 "Create MinMaxLastSumCount Agrregator"
According to spec change https://github.com/open-telemetry/oteps/pull/117
We should rename `MinMaxSumCountAggregator` into `MinMaxLastSumCountAggregator` and use it as a default aggregator for ValueObserver and ValueRecorder

[2020-07-06 06:49] legendecas opened #1278 "Prometheus push gateway support"
### Is your feature request related to a problem? Please describe.

@opentelemetry/exporter-prometheus can act as a target for prometheus scrapping. However, there are conditions that the application doesn't run for a long enough time for prometheus to reach to it.

### Describe the solution you'd like

Add a prometheus push gateway exporter implementation to the repo.

### Additional context

- h

[2020-07-06 08:03] legendecas commented on #1039
I would like to work on this as part of https://github.com/open-telemetry/opentelemetry-js/issues/1278. I'm assigning myself.

[2020-07-06 08:42] vmarchaud commented on #1039
@legendecas I guess my PR (https://github.com/open-telemetry/opentelemetry-js/pull/1038) would be replaced by yours then ? The only thing that would be realy useful when rewriting the exporter is to use prometheus metric type (like histogram and summary)

[2020-07-06 08:44] vmarchaud commented on #982
Closing both the PR and this issue since the measure as been replaced by `ValueRecorderMetric`

[2020-07-06 08:45] #982 closed

[2020-07-06 18:41] markwolff commented on #1260
@giri-jeedigunta Can you include your package.json version of `grpc` as well? This seems like a scenario covered here:
https://github.com/open-telemetry/opentelemetry-js/blob/413edb5369536b9be960049edac3b2be96953649/packages/opentelemetry-plugin-grpc/test/fixtures/grpc-test.proto#L6

[2020-07-06 20:36] #1275 closed

[2020-07-06 21:59] rochdev commented on #1263
Wouldn't it be better if the design stays as close as possible? The idea being that if the design is standard, then it could be implemented in every language and become an actual standard of its own on which OpenTelemetry would sit in every language. I don't have enough knowledge of how other languages work to know if that would be feasible though, but given the simplicity of the design I think it

[2020-07-06 22:43] tannaga opened #1281 "unique trace id generated in the browser in Fetch Plugin"
- [ x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I am experimenting with [fetch plugin](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-fetch). I observed couple of things and would like to receive some advice around it.
1. Observed that trace id is uniquely

[2020-07-06 23:45] Qard commented on #1263
The issue is mainly around the design of the publish method. As it is currently, the inputs to the function will _always_ be allocated/constructed regardless of if there is actually a subscriber. For something intended to be used very often, this could get expensive fast. It needs some changes to allow lazy input construction. Something like:

[code]

or

[code]

The current model of sharing all e

[2020-07-07 03:08] giri-jeedigunta commented on #1260
gRPC version:
[code]
I will take a look at the test. Thank you !

[2020-07-07 03:40] giri-jeedigunta commented on #1260
@markwolff After updating the grpc to the latest version 1.24.4. I'm not seeing this issue anymore. I will do further testing and confirm.

[2020-07-07 06:03] legendecas commented on #1039
@vmarchaud the prom-client part of the https://github.com/open-telemetry/opentelemetry-js/pull/1038 will be replaced by a new serializer, yet the choice on the aggregator mapping still has to be done.

[2020-07-07 07:49] legendecas opened #1284 "Options to ignore parent SampledFlag in ProbabilitySampler"
### Is your feature request related to a problem? Please describe.

Spec https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#probability said that ProbabilitySampler can ignore the parent SampledFlag by a configuration

[2020-07-07 08:18] boris-lapouga opened #1285 "plugin-pg | error: TypeError: Cannot read property 'RECORD_AND_SAMPLED' of undefined"
### What version of OpenTelemetry are you using?
`"@opentelemetry/api": "^0.9.0",
    "@opentelemetry/core": "^0.9.0",
    "@opentelemetry/node": "^0.9.0",
    "@opentelemetry/plugin-dns": "^0.8.0",
    "@opentelemetry/plugin-grpc": "^0.9.0",
    "@opentelemetry/plugin-pg": "^0.8.0",
    "@opentelemetry/plugin-pg-pool": "^0.8.0",
    "@opentelemetry/tracing": "^0.9.0"`

### What version of Node ar

[2020-07-07 12:53] boris-lapouga commented on #1285
As embarrassing and silly, reinstalling `node_modules` solved the issue. 🤦

[2020-07-07 12:53] #1285 closed

[2020-07-07 12:54] boris-lapouga commented on #1235
True, came for that as well, seems like ignoreUrls is enforced when defining rules per plugin basis, but it's completely ignored.

Is there a way to define ignore rules at least on a global level?

[2020-07-07 14:23] dyladan commented on #1285
Happens to everyone

[2020-07-07 14:29] dyladan commented on #1281
You could create a span to be the parent of all `fetch` spans so that they are all a part of the same trace.

`x-b3-parentid` is only propagated when a call has a parent. Since these are root calls, they do not.

[2020-07-07 15:18] tannaga opened #1286 "regex for propagateTraceHeaderCorsUrls and ignoreUrls in fetch plugin"
- [x ] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I am trying out the [fetch plugin](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-fetch). I would like to add either a regex or just the host of my endpoints for `propagateTraceHeaderCorsUrls` and `ignoreUrls

[2020-07-07 15:22] tannaga opened #1287 "additional tags for individual spans in fetch plugin"
- [ x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first
I am trying out the [fetch plugin](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-fetch). I would like to add additional tags on some of the spans on need basis.

For example, in the below code snippet, i was

[2020-07-07 17:24] dyladan commented on #1287
I think you are looking for something similar to the http plugins's applyCustomAttributesOnSpan? https://github.com/open-telemetry/opentelemetry-js/blob/e93a86633bce5cc2ddeed4820adbcc5b60f88872/packages/opentelemetry-plugin-https/README.md#https-plugin-options

[2020-07-08 04:36] #1273 closed

[2020-07-08 11:23] giri-jeedigunta commented on #1260
@markwolff I've spent some time today to analyse this further. This issue is happening when I'm directly using the .proto file to define the service definition not a js file showcased in the official the example.

I have forked the repo and modified the existing gRPC example to reproduce the issue I'm facing.
Here it is: https://github.com/giri-jeedigunta/opentelemetry-js/tree/master/examples/grpc

[2020-07-08 12:42] tannaga commented on #1281
thank you for the clarification @dyladan

[2020-07-08 12:42] #1281 closed

[2020-07-08 14:16] obecny commented on #1287
Can you please describe problem in more details as well as what would be the desired solution. Do you want to add static tags for each span or only some spans and if so how would you decide then which. Should those tags be static or dynamic (some callback needed for example) etc.

[2020-07-08 14:23] obecny commented on #1286
yes it is doable. if you want to use regex you have to provide regex - here you added strings. String needs to match exactly.

[2020-07-08 20:37] jonahrosenblum opened #1290 "Cloud Run Graceful Termination Support"
# Is your feature request related to a problem? Please describe.

Google Cloud Run is implementing a new feature to support graceful termination, ideally open telemetry would also support this. In fact, this has already been requested before #523

### Describe the solution you'd like

Add process event handlers which will listen for SIGTERM signals sent to the process and initiate the shutdown met

[2020-07-09 15:01] obecny opened #1293 "AWS Lambda - http"
### Is your plugin request related to a problem? Please describe
Currently on lambda function all the incoming requests are not "catched" / "handled" by http module. This causes that the http plugin is not creating any new span and when you try to get currentSpan in handler function it returns undefined.
We should investigate this issue further and see if we can come out with some plugin solution

[2020-07-09 15:12] davidwitten opened #1294 "Add Summary Data Point Support to the Exporter Collector"
### Is your feature request related to a problem? Please describe.

The OpenTelemetry Collector can take [summary data points](https://github.com/open-telemetry/opentelemetry-proto/blob/master/opentelemetry/proto/metrics/v1/metrics.proto#L106). However, there are currently no MetricKinds/Aggregators that support it. So, for the time being, the collector exporter is not able to export Summary data

[2020-07-09 16:35] obecny opened #1295 "AWS lambda - process is killed before the span is being exported"
This is a simple scenario of lambda function
[code]
The span is not exported correctly as lambda seems to kill the process before it gets exported
When adding some timeout before the process get killed the span iss exported
[code]

So the idea is to implement some async method either on tracer or exporter or change the exporter method `shutdown` to be a promise and to be resolved when the last exp

[2020-07-09 16:35] obecny commented on #1295
@open-telemetry/javascript-maintainers && @open-telemetry/javascript-approvers

[2020-07-09 16:37] dyladan commented on #1295
I think this can be solved by adding a callback to the `forceFlush`. This will help us in other shutdown scenarios like described in #1290.

[2020-07-09 16:59] lykkin commented on #1295
FWIW, when I was working on something similar to this it was required to have a synchronous export pathway for the data to escape through. Lambda will freeze execution of the process after the lambda has been marked as complete (i.e. the response callback was called, the promise returned by the handler settles, or the process attempts to exit due to inactivity). In the case where the response call

[2020-07-09 17:08] dyladan commented on #1295
The behavior when the callback is called is dictated by the `context.callbackWaitsForEmptyEventLoop` property. If it is true, then any work on the event loop (like a flush) will keep the invocation running until it completes (or times out). If it is false, the execution environment is frozen immediately.

When using an `async` handler, the function is frozen immediately when the returned promise r

[2020-07-09 17:21] obecny commented on #1295
@dyladan do you know if there is a way to get access to this `callbackWaitsForEmptyEventLoop` function or somehow patch the whole flow so that we could have a plugin that does that automatically and waits until all the exporters are shutdown correctly ?

[2020-07-09 17:23] obecny commented on #1295
or maybe we can patch the whole `exports.handler`

[2020-07-09 17:34] lykkin commented on #1295
@obecny `callbackWaitsForEmptyEventLoop` is just a property on the `context` parameter passed into the handler, so it would suffice to have a method that sets it for a user, if we are worried about a user misconfiguring it. Depending on how much (or how little) code we expect the user to write, we could also patch the handler like you said. Something like
[code]

This does potentially modify the e

[2020-07-09 17:38] dyladan commented on #1295
In an autoinstrumentation I would suggest you either:

1. patch the handler, and prevent the wrapped handler from finishing until the export is complete
2. patch the underlying runtime itself. This is more risky, but it turns out the API of the RAPIDClient (their internal name for the runtime environment) is much simpler and more straightforward. This is going to be what I do for https://github.co

[2020-07-09 17:42] dyladan commented on #1295
Actually I have already been working on this and will have a PR shortly.

[2020-07-09 17:43] dyladan commented on #1295
@obecny if you have not started working on this, i actually already have an implementation of forceFlush callbacks that I can open a PR with

[2020-07-09 17:59] dyladan commented on #1295
I'll just open the PR, let me know if i should close it.

[2020-07-09 18:00] dyladan commented on #1290
Does #1296 solve your issue?

[2020-07-09 18:18] obecny commented on #1295
@dyladan great, no I haven't started working on that. I think the final fix / solution will need to do probably several things so I will wait until you make PR to see what you have discovered and done :) .

[2020-07-09 18:20] dyladan commented on #1295
Ok. Here it is https://github.com/open-telemetry/opentelemetry-js/pull/1296

All this PR does is provide a mechanism to wait for the flush to complete. The lambda plugin PR will be coming later. Probably early next week.

[2020-07-09 19:03] jonahrosenblum commented on #1290
I do not think so? I may be misunderstanding what this PR fixes but would this change cause shutdown to be automatically initiated if the process receives a SIGTERM? This is how this feature has been implemented in [Python](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L876).

[2020-07-09 19:13] dyladan commented on #1290
ah no. Ok I misunderstood what you were asking for.

[2020-07-09 20:22] markwolff commented on #1290
Is the Cloud Run using signals to end the process? Is the `beforeExit` or `exit` event not sufficient for catching its termination?

[2020-07-09 20:39] jonahrosenblum commented on #1290
Currently processed are SIGKILL'ed when an instance is scaled down, the new Cloud Run will send a SIGTERM and allow for a grace period before a SIGKILL is sent. In this period processes should send any data which has not been exported yet. So yes, I believe signals are being used. I do not know much about beforeExit and exit but I assume they would not work in this instance?

[2020-07-09 22:51] dyladan commented on #1294
@davidwitten are you volunteering or is this up for grabs?

[2020-07-09 22:53] dyladan commented on #1286
Your example would look like this:

[code]

[2020-07-09 23:18] davidwitten commented on #1294
@dyladan I'd be happy to do it, but I'm not sure what the next steps are. I noticed that in `OpenTelemetry-go` they just use the MinMaxLastSumCountAggregator and just set the 0th percentile to the min and the 100th percentile to the max. (code: [here](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/otlp/internal/transform/metric.go#L327)).

Should I do that as well? Or are

[2020-07-09 23:28] dyladan commented on #1294
I believe there are plans to add a histogram aggregator, but I can't remember who was working on that exactly. @vmarchaud maybe?

[2020-07-10 05:25] jonahrosenblum commented on #1290
I forgot to ask earlier but could I be assigned to this issue?

[2020-07-10 08:30] vmarchaud commented on #1294
I've indeed wrote one (althrough with an old spec) [there](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-metrics/src/export/aggregators/histogram.ts).
However i believe the summary and histogram are two different aggregator because they don't exactly export the same values.

[2020-07-10 09:46] BobLiu2046 opened #1301 "openTelelmetry auto instrumentation for node.js request library"
Hi Team,

We want to implement auto instrumentation for our application. based on my understanding, openTelelmetry will add a hook to the requests which are sent by the library like node.js http, https or express , so when we send requests with http, https or express routing, openTelelmetry will create span automatically.

Currently we are using "request" library[1]   to send requests. I check the

[2020-07-10 11:25] vmarchaud commented on #1301
`request` use `http` under the hood so you should get traces without issue

[2020-07-10 17:39] davidwitten commented on #1294
Are there any plans of making a Summary Aggregator? I noticed that in other languages, they just use MinMaxSumCount, and set the min to 0th percentile and max to 100th percentile. (E.g. in Java, Go), but that doesn't take advantage of the full utility of the Summary Data Point.

Also @vmarchaud, I noticed that the HistogramAggregator isn't used for any metric (code [here](https://github.com/open-t

[2020-07-10 22:01] #1075 closed

[2020-07-10 22:13] obecny opened #1303 "Update nock to v13 and use "delayConnection" instead of socketDelay"
Nock in version 13 removed socketDelay in favour of delayConnection. So to upgrade to v13 we have to change some unit tests.

More details here:
https://github.com/open-telemetry/opentelemetry-js/pull/1298

[2020-07-10 22:19] obecny commented on #1301
The plugin name which you need is then `@opentelemetry/plugin-http` and `@opentelemetry/plugin-https`

[2020-07-10 22:21] #1115 closed

[2020-07-11 15:08] vmarchaud commented on #1082
I think this one can be closed @obecny ?

[2020-07-11 15:12] vmarchaud commented on #928
I don't have much time to work on this so i prefer to de-assign myself. However from the initial work i've done, extracting the code from the library i've mentionned above is quite complex so i would in favor to add it as a dependency. Another solution is to re-write any of the above algorithms

[2020-07-13 13:04] dyladan opened #1306 "Metrics exemplars"
https://github.com/open-telemetry/oteps/pull/113

Still waiting on spec, but this OTEP merged. Creating this tracking issue.

[2020-07-13 13:04] dyladan commented on #1290
done

[2020-07-13 13:21] #1295 closed

[2020-07-13 19:10] dyladan opened #1307 "Ensure http/https semconv properly handles 499"
https://github.com/open-telemetry/opentelemetry-specification/pull/677

[2020-07-13 23:20] michaelgoin commented on #1040
Very sorry for neglecting this for so long. Plan to focus this week and getting something up there.

The one suggested path seems pretty clear around where to check the property and no-op and I'll continue to get more comfortable with how everything is plumbed to make sure that's the right approach.

But I did want to verify what  you mean by "setting the context property in the span processor." @

[2020-07-14 12:24] legendecas opened #1311 "Flaky test case 'CollectorTraceExporter - node without TLS, with metadata'"
[code]

As seen in https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-js/4586/workflows/59e2d122-0a06-424a-9ff9-631e44344860/jobs/25152/steps

[2020-07-14 15:52] Brandon-Kimberly opened #1312 "Add CI Job to Run Benchmark and Publish Results"
*Is your feature request related to a problem? Please describe.*

Yes. Currently the script used to benchmark must be run manually. This can lead to out-of-date or missing benchmark performance data.

*Describe the solution you'd like*

I would like a new job added to the CI pipeline that would run the benchmark script, then publish the results as an artifact. This job could run on ever push or ev

[2020-07-14 17:07] dyladan commented on #1040
Sure, I'm up for a chat. Go ahead and grab a 30m slot on my calendar https://calendly.com/daniel-dyla/30min

[2020-07-14 17:58] dyladan opened #1313 "Create a code style guide"
We should have a `style.md` where we document all decisions pertaining to code style such as https://github.com/open-telemetry/opentelemetry-js/pull/1310#discussion_r454349145. The linter is a good start, but linting can't solve every problem and there are always edge cases.

[2020-07-15 07:41] legendecas opened #1314 "docs(batcher): incorrect metricDescriptor field labels"
The doc says that custom batcher can determine aggregator for metrics by `metricDescriptor.labels`, while this is not true -- there are no `metricDescriptor.labels` in `MetricDescriptor`.

[code]

Link: https://github.com/open-telemetry/opentelemetry-js/blob/master/doc/batcher-api.md

Also, I'd believe it can be documented too that how do we declare a metrics that will be aggregated by the custom

[2020-07-15 10:14] kkruk-sumo opened #1315 "node-fetch module cannot be auto-instrumented"
### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

[code]

### What did you do?

I tried to enable Node.js auto-instrumentation together with [node-fetch](https://www.npmjs.com/package/node-fetch) dependency which is a wrapper for `http/https.request`.

Bug can be reproduced using the code:

[code]

If you change the `require("node-fetch")` to e.g. [

[2020-07-15 13:55] dyladan commented on #1284
It seems to me that this should be superseded by the `ParentOrElse` sampler? I'll create a spec issue to see what they think.

[2020-07-15 13:59] legendecas commented on #1284
If the ProbabilitySampler does not respect parent then it can be superseded by the ParentOrElse sampler composited with probability sampler. I think this is neat since they all do their own jobs.

[2020-07-15 14:04] dyladan commented on #1284
I created https://github.com/open-telemetry/opentelemetry-specification/pull/704

We'll see what the specs approvers think.

[2020-07-15 14:47] dyladan opened #1317 "Resource auto-detection OTEP merged"
https://github.com/open-telemetry/oteps/pull/111

An OTEP describing a resource auto-detection model was merged and spec will follow shortly. It doesn't seem too far off what we already have, but I want to create this ticket to ensure we're staying on top of any changes. I'm assigning @mwear for now since he wrote our auto-detection implementation.

[2020-07-15 14:49] dyladan opened #1318 "Spec change: Operating system resource semantic conventions"
https://github.com/open-telemetry/opentelemetry-specification/pull/693

[2020-07-15 15:16] dyladan commented on #1315
I'll look into this today

[2020-07-15 15:17] dyladan commented on #1314
@legendecas are you planning on fixing this? If so, assign yourself please. If not, can you mark it as up-for-grabs?

[2020-07-15 19:42] vmarchaud commented on #1314
I think it was a typo when i wrote this, it's indeed not possible. At the bottom with the complete version i use `if (metricDescriptor.name === 'requests')`.

I believe thats what i was achieving with the complete exemple at the bottom ? Was i wrong ?

[2020-07-16 02:38] legendecas commented on #1314
Yeah, you are right. I've missed that.

[2020-07-16 23:03] ericmustin opened #1322 "Implement capturing error type/msg/stacktrace as events per spec"
👋 Hello all, just adding a quick issue here surfacing this Spec PR for adding error/exception reporting as events that include metadata for the error type, message, and stacktrace. https://github.com/open-telemetry/opentelemetry-specification/pull/697

I think implementing this in opentelemetry-js could add value to the traces being generated, as currently error type and stacktrace aren't being ex