[2020-07-17 13:19] vmarchaud commented on #1322
If i'm correct this is still being discussed a little bit, might be better to wait the merge before trying to implement anything

[2020-07-17 13:27] ljcremer commented on #332
This still seems to be an issue and caused our platform to log 50M+ spans in two weeks with very little traffic on the platform.
Here is the related [issue ](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/issues/117)and the way we resolved it:

[2020-07-17 14:24] dyladan commented on #332
@ljcremer we are working on a new way to prevent these infinite loops by allowing exporters to set a context property during export which disables tracing. A quick glance at the exporter code looks like the header to disable tracing is set properly in the exporter, but I'll make sure the http/https plugins are properly respecting it.

[2020-07-17 16:10] aabmass commented on #332
@dyladan Looks like the Python SDK actually sets the context before the exporter is run, which is nice because the exporters don't need to do anything:

https://github.com/open-telemetry/opentelemetry-python/blob/672a89c7c6b2b302216cfdeb05b4105ca8db67c6/opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/controller.py#L59-L61

[2020-07-17 20:54] dyladan commented on #332
Yes I meant span processor. I often say "Exporter" to refer to the whole export pipeline or process.

[2020-07-17 20:55] dyladan commented on #1322
Looks like it merged.

[2020-07-17 20:58] dyladan commented on #1301
Closing this issue as the request library is already covered and tested by current plugins https://github.com/open-telemetry/opentelemetry-js/blob/e9b2cf9aeb1daf5ffbab800681bfe1cafc636576/packages/opentelemetry-plugin-http/test/functionals/http-package.test.ts#L80

Please feel free to reopen the issue if this doesn't work for you.

[2020-07-17 20:58] #1301 closed

[2020-07-17 23:01] reggiemcdonald opened #1327 "plugin-grpc does not filter outgoing requests from exporter"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Unless I'm mistaken, the grpc plugin doesn't filter outgoing rpc calls from an exporter, and there's no way to ignore specific rpc methods. This can lead to an infinite loop similar to what is described in [this issue](https://github.com/GoogleCloudPlatfo

[2020-07-18 01:52] #1260 closed

[2020-07-18 07:41] vmarchaud opened #1329 "improvement: use `@grpc/js` for grpc export to collector-exporter"
The `GRPC` package is *really* heavy, here a screenshot of the size of it in node_modules in one of my docker image:
![image](https://user-images.githubusercontent.com/2820968/87847705-90716e00-c8da-11ea-8795-39ecf13a508d.png)

`@grpc/js` is a pure javascript alternative that should be fine to replace as a drop-in.

I will try to look into this weekend

[2020-07-19 14:58] khayalan-mathew opened #1330 "Automatic metrics instrumentation"
Hello,
currently in a discovering phase of this project and noticed one thing. We have automatic instrumentation in case of tracing for http/grpc and some other stuff. But they only provide tracing for now and not any auto generated metrics (Like http request count for example). I also couldn't find any information regarding this, but I noticed, that it's always called automatic tracing. So now my

[2020-07-19 15:13] vmarchaud commented on #1330
It has been requested in the past there: https://github.com/open-telemetry/opentelemetry-js/issues/955 and https://github.com/open-telemetry/opentelemetry-js/issues/623, there is currently this PR (https://github.com/open-telemetry/opentelemetry-js/pull/1305) that tries to add metrics support in OT plugins

[2020-07-19 16:29] khayalan-mathew commented on #1330
@vmarchaud
Thanks, apparently I just searched for the wrong terms, sorry😢
Will close this, and it is a duplicate of #623 and #955

[2020-07-19 16:29] #1330 closed

[2020-07-20 18:45] dyladan commented on #1327
I believe these are both good ideas, and we are currently working on a method to use a context property to entirely disable telemetry tracing during exports.

@reggiemcdonald are you volunteering to add this functionality or just suggesting it?

[2020-07-20 20:00] reggiemcdonald commented on #1327
@dyladan Happy to work on implementing it!

[2020-07-21 10:08] BobLiu2046 opened #1332 "Open Telemetry Issue in GCP App Engine"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
  "@google-cloud/opentelemetry-cloud-trace-exporter": "^0.3.0",
    "@opentelemetry/core": "^0.9.0",
    "@opentelemetry/node": "^0.9.0",
    "@opentelemetry/plugin-http": "^0.9.0",
    "@opentelemetry/plugin-https": "^0.9.0",
    "@opentelemetry/tracing": "^0.9.0",
### What version of N

[2020-07-21 21:28] mwear commented on #1317
Here is a list of differences between the current implementation and [OTEP-111](https://github.com/open-telemetry/oteps/blob/master/text/0111-auto-resource-detection.md). The specification is still TBD, so small details, such as environment variable name, are probably still up to debate.

Currently the GCP and AWS EC2 detectors reside in the `@opentelemetry/resources` package.

Resources are curre

[2020-07-21 21:35] #1135 closed

[2020-07-22 01:32] anuraaga opened #1334 "Switch random ID generation to normal (not crypto) random"
I randomly noticed that trace and span IDs in this SDK use `crypto`, so they are secure random numbers. I quickly checked other languages, Java, Go, and Python, and they all seem to use normal random numbers. I know in Java the cost of secure random is very high and could easily impose a significant CPU cost on an app. I'm not sure about JS, but for consistency anyways, does it make sense to switc

[2020-07-22 02:22] EdZou opened #1335 "Hosting vendor supported exporters for OpenTelemetry"
AWS XRay Components

## Description:

Hello everyone, I am an AWS intern working on adding *Id generator, propagators and resource* components for AWS X-Ray Exporter under JavaScript SDK repository.

Similar components exist in the Java implementation:

Id Generator: https://github.com/open-telemetry/opentelemetry-java/blob/a59748a904e0cb1e2e4f8df50dd346a82f26ff1e/sdk_extensions/aws_v1_support/src

[2020-07-22 08:46] vmarchaud commented on #1335
I believe it should be hosted in seperate repo, see #890

Not sure but i believe the interface (and the default implementation) should be in `opentelemetry-core`. The custom implementation for AWS should be done in a seperate repo and given as an option for the tracer.

I think we would need to wait for https://github.com/open-telemetry/opentelemetry-specification/issues/637#issuecomment-644846847

[2020-07-22 11:38] #1242 closed

[2020-07-22 14:52] reggiemcdonald commented on #1327
@dyladan I've currently added the ability to filter out requests containing the `x-opentelemetry-outgoing-request` metadata. Would you be able to quickly take a look at the [current diff](https://github.com/open-telemetry/opentelemetry-js/compare/master...reggiemcdonald:1327-filter-exporter-requests) and let me know if I'm on the right track with it?

[2020-07-22 14:56] dyladan commented on #1327
Yes this looks like it is on the right track thanks for the work :)

[2020-07-22 15:01] reggiemcdonald commented on #1327
Awesome thanks :)

[2020-07-22 15:29] dyladan commented on #1317
I would prefer to have these as separate packages anyway.

Naming changes are simple :)

This wording seems to imply again that resources are different between the TracerProvider and the MeterProvider and, again, I am left wondering why this is. It would make more sense to me to have a single global resource. This is outside the scope of our SIG though and would be a spec issue I guess.

[2020-07-22 15:36] dyladan commented on #1335
It depends what is meant by "Resources". Is this simply resource detection, or some reporting of resources to x-ray? If it is detection, then the detector can live in the contrib repo. I have talked with other maintainers about this a few times and it seems like resource detection and possibly propagators may live in contrib, but that exporters should be hosted by the third party. Currently, the d

[2020-07-22 15:45] dyladan commented on #1334
Do you have a suggested "normal" method? I assume you are talking about using `Math.random()` multiple times to generate the required key length?

[2020-07-22 15:55] srjames90 opened #1338 "x-b3-parentspanid and x-b3-flags don't get propagated"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

"@opentelemetry/api": "^0.9.0"
"@opentelemetry/node": "^0.9.0"
"@opentelemetry/plugin-express": "^0.8.0"
"@opentelemetry/plugin-http": "^0.9.0"
"@opentelemetry/tracing": "^0.9.0"
"@opentelemetry/web": "^0.9.0"

### What version of Node are you using?
v12.16.1

### What did you do?
Wrote

[2020-07-22 16:01] srjames90 commented on #1338
I will work on this

[2020-07-22 19:03] dyladan opened #1340 "Ensure our attribute implementations are spec compliant"
https://github.com/open-telemetry/opentelemetry-specification/pull/722

Spec now has a single definition for attributes shared with resources and traces. Where applicable, ensure that our span attributes and resource attributes conform to required limitations.

[2020-07-22 19:28] aravinsiva opened #1341 "Remove Default Span Configuration"
Currently in Opentelemtry JS there is an instance of configuration for adding default span attributes. The use case for this overlaps heavily with the resource sdk. In addition seems this was just replicated from OpenCensus. Since this is just replicated functionality it is best to remove it.

The implementations can be found here:
- https://github.com/open-telemetry/opentelemetry-js/blob/e9b2cf9a

[2020-07-22 19:45] dyladan commented on #1341
@mayurkale22 do you have any opinion here? I was not around in the OC days or when this was introduced.

My gut feeling is to remove it.

[2020-07-22 20:03] mayurkale22 commented on #1341
I believe this field was there in the earlier version of specs. Seems like this concept is not present in other languages, I am fine to remove it.

[2020-07-22 20:19] dyladan commented on #1341
@aravinsiva are you planning on making a PR or should I mark this as up for grabs?

[2020-07-22 20:49] aravinsiva commented on #1341
I can go a head and take this on. No problem

[2020-07-23 01:18] anuraaga commented on #1334
Yeah I think it's calling it twice for 8 bytes for span id, four times for 16 bytes for trace id and concatenating the hex encode. It's not as simple as calling crypto but will make it consistent with the other SDKs.

[2020-07-23 18:35] dyladan commented on #1334
Did some quick benchmarks:

[code]

output:

[code]

[2020-07-23 18:43] dyladan commented on #1334
Based on this, I would say the cost comes first from the use of cryptographic randomness, second from `toString`. The "buffer math inline" case seems to be faster than the "math" case simply because it only calls `toString` once. Attempting to use array methods to make the code terser seems to have a nontrivial performance penalty which nearly nullifies the benefit of using the `Math` module.

[2020-07-24 03:18] anuraaga commented on #1334
Thanks for the benches! One last point to check might be manually hex encoding instead of using a built in one. We have it in browser, and it wouldn't be that hard to adapt to operate on ints returned by Random instead of a byte array

https://github.com/open-telemetry/opentelemetry-js/blob/e9b2cf9aeb1daf5ffbab800681bfe1cafc636576/packages/opentelemetry-core/src/platform/browser/id.ts#L43

[2020-07-24 03:21] anuraaga commented on #1334
Also for reference is the Java code which may be relatively simple to port to js

https://github.com/open-telemetry/opentelemetry-java/blob/6ca3d1deaf9687e08bad9969fa779b0cb92fb235/api/src/main/java/io/opentelemetry/trace/BigendianEncoding.java#L120

[2020-07-24 14:30] dyladan commented on #1334
In my experience, nothing is ever faster than the built in buffer hex encoding in node, which is implemented in native code. Even if we skip the byte array step and jump straight to string conversion (see case "direct string gen"), it is still slower than the built in hex encoding.

[2020-07-24 16:23] EdZou commented on #1335
Hello Daniel! @dyladan Really thank you for your time!
As we discussed on the SIG meeting this week, we may also open a folder for AWS Xray IdGenerator, my question will JS group open a "js-contrib/idGenerator" folder for id generator components, so we could add a "js-contrib/idGenerator/AWSXRayIdGenerator"? Or elsewhere should we add a folder for it?
Also, just to make sure we are going to add "j

[2020-07-24 16:54] dyladan commented on #1335
Empty folders cannot be committed to github so the first id generator package will need to create it.

[2020-07-24 16:55] EdZou commented on #1335
Got it, thank you!

[2020-07-24 16:57] dyladan commented on #1334
Based on this research, I would suggest we do "buffer math loop no arr" for nodejs, and "direct string gen" for web.

[2020-07-25 05:09] sidharthv96 commented on #1312
I'd like to work on this.

Deno is pushing benchmarks to a git repo in [their CI](https://github.com/denoland/deno/blob/master/.github/workflows/ci.yml#L159).

@dyladan Will a similar approach be enough? If so, any pointers to which repo should be used to push the data would be helpful.

[2020-07-25 09:39] ericmustin opened #1350 "Would a PR for plugin support for Logging Libraries (winston, bunyan, pino, etc) be accepted?"
Hello,

Just wondering whether, if I ported over the plugin/instrumentation for some of the logging libraries in dd-trace-js, such as winston or bunyan, would a PR be accepted against `opentelemetry-js-contrib`?

Winston, for example: https://github.com/DataDog/dd-trace-js/blob/master/packages/datadog-plugin-winston/src/index.js

more info: `https://datadoghq.dev/dd-trace-js/interfaces/plugins.win

[2020-07-27 16:36] markwolff opened #1351 "Cannot compile an app with @types/node v8 installed"
Although Opentelemetry supports  >=node8 at runtime, Typescript users may run into issues whenever breaking changes are introduced into the node typings. This repo uses the latest node14 types, which will break users whenever new types are introduced, like `NodeJS.Timeout`.

For Azure, we have [backwards compatability tests](https://github.com/microsoft/ApplicationInsights-node.js/tree/develop/Tes

[2020-07-27 16:39] dyladan commented on #1351
I think it's a good idea to run the compile step with multiple tsc versions, but to run a full bootstrap and test might be too expensive.

[2020-07-27 16:43] markwolff commented on #1351
Yep this is all it would take. The test app would just be a single file importing in `@opentelemetry/node` (or `@opentelemetry/node-sdk`!), and the test passes/fails based on the result of `tsc`

[2020-07-27 17:15] mayurkale22 commented on #1341
Closed via #1342

[2020-07-27 17:15] #1341 closed

[2020-07-27 17:39] dyladan commented on #1350
I have not seen anything in the spec. Previously, @obecny had created a similar plugin PR, but it was not merged at that time.

The issue I have with such a plugin is that it modifies user program behavior by modifying log output. At the very least, I would not want this installed/enabled by default without some user intervention saying that yes they do want a behavior change. Some logging librari

[2020-07-27 17:39] dyladan commented on #1350
Maybe we can get some guidance from the @open-telemetry/technical-committee here?

[2020-07-27 17:41] dyladan commented on #1351
In that case I think this is a great idea.

[2020-07-27 17:42] #329 closed

[2020-07-27 17:43] dyladan commented on #1312
Yes, I think a similar approach would be enough. I would push it to this repo.

[2020-07-27 17:47] obecny commented on #1350
FYI, I still have it in case there is desire to have it so it will be a matter of read that and fixing conflicts ;)

[2020-07-27 18:00] yurishkuro commented on #1350
According to the readme, http and grpc plugins are included directly in this repo, while all others are in contrib. I can understand http if it's based on stdlib, but why was grpc singled out?

I would recommend placing all plugins (unless they are for stdlib) into contrib.

[2020-07-27 18:05] dyladan commented on #1350
@yurishkuro http(s) is language built-in so it is in main, and gRPC from what I understand was identified early as an important plugin that MUST be supported by all SDKs, so it was also kept here. It can easily be moved to contrib though if it doesn't have the special status that I thought it did.

The question here though is about logging plugins. Is it acceptable to have an autoistrumentation wh

[2020-07-27 18:28] ericmustin commented on #1350
@yurishkuro fwiw i only opened the PR here for visibility, i didn't really intend to broach the topic of where all the plugins should live.

I tend to agree with @dyladan here.

If logging plugins were to land in `js-contrib`, they should be something that's explicitly enabled. This is the case in dd-trace-js currently fwiw (you pass in config flag or env var to enable).

That being said, if there

[2020-07-27 18:33] jonahrosenblum commented on #1306
I would like to claim this issue please.

[2020-07-27 19:39] #1190 closed

[2020-07-27 19:40] dyladan commented on #1350
Or the [registry](https://opentelemetry.io/registry/)?

[2020-07-27 19:43] dyladan commented on #1350
In bunyan it is very easy. We would have something like this:

[code]

And usage would look like this:

[code]

I haven't tested this code, but it should require only very little if any modification to get working.

[2020-07-27 23:31] reggiemcdonald opened #1355 "@opentelemetry/plugin-grpc-js is missing index.ts"
### What version of OpenTelemetry are you using?
0.9.0
### What version of Node are you using?
v14.4.0
### What did you do?

Modified the example [here](https://github.com/grpc/grpc/tree/v1.30.2/examples/node/dynamic_codegen) to use grpc-js and added a tracer similar to [the grpc example tracer](https://github.com/open-telemetry/opentelemetry-js/blob/master/examples/grpc-js/tracer.js).

### What d

[2020-07-27 23:40] reggiemcdonald opened #1357 "grpc-js example has missing dependency"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.9.0
### What version of Node are you using?
v14.4.0
### What did you do?
Ran the grpc-js example located [here](https://github.com/open-telemetry/opentelemetry-js/tree/v0.10.0/examples/grpc-js).

### What did you expect to see?
The example should run.
### What did you see instead?
An e

[2020-07-28 05:03] naseemkullah commented on #1096
Closed via #974

[2020-07-28 05:03] #1096 closed

[2020-07-28 05:04] naseemkullah commented on #1097
closed via #975

[2020-07-28 05:04] #1097 closed

[2020-07-28 05:13] naseemkullah commented on #1350
This is README worthy imho, and examples for pino and winston would be nice as well.
What's `!!(traceFlags & 0x1)` do btw?

[2020-07-28 08:56] vmarchaud commented on #1350
I know that [this](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/logs/data-model.md#trace-context-fields) was recently merged in the specs, don't know if it should apply to 3rd party logger or only to the future `logs-sdk`

[2020-07-28 14:40] sidharthv96 commented on #1312
@dyladan Not sure if pushing to this repo will work from within CI, I'm not very familiar with CircleCI.
I think the data has to be maintained in a separate repo, because otherwise there will be merge conflicts right?

Currently benchmark data is exported as JSON and stored with historical data.
Kinda stuck on the pushing part though.

[2020-07-28 15:23] dyladan commented on #1312
It should be implemented as a github action and can either be triggered by a master push, or a release publish. For an example of a release publish triggered build you can look at what we are doing for the docs right now at [.github/workflows/docs.yml](https://github.com/open-telemetry/opentelemetry-js/blob/master/.github/workflows/docs.yml)

[2020-07-28 16:11] reggiemcdonald commented on #1355
Resolved by #1358

[2020-07-28 16:11] #1355 closed

[2020-07-28 16:12] reggiemcdonald commented on #1357
I can fix this if someone can assign me to it

[2020-07-28 16:15] dyladan commented on #1350
`!!` casts to `Boolean` yes. It is a slightly more esoteric way to do it I guess. `!` is not, so `!!` is not-not.

`traceFlags & 0x1` checks to see if the first bit is set by doing a bitwise `AND` operation on traceflags and `00000001`. The idea is that the trace flag is only the first bit, so any `traceFlags` value with that bit set should still return true such as 1, 3, 5, etc (any odd number ha

[2020-07-28 16:17] dyladan commented on #1350
The idea behind the data model is that you should be able to convert any existing known logging data and convert it to our own data model so it can be ingested by backends. It should be losslessly convertible in both directions (conversion from source logs like `syslog` to our model and back to the source format should be "perfect").

[2020-07-28 20:10] davidwitten commented on #1294
@vmarchaud, I see that the HistogramAggregator isn't used for any metric (code [here](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-metrics/src/export/Batcher.ts#L50-L65)). What are the next steps for this? An option for the metric to use the HistogramAggregator vs. the default?

[2020-07-28 20:21] vmarchaud commented on #1294
@davidwitten sorry i didn't see the previous mention. This aggregator is required by the spec but doesn't bind to any metrics by default. There is an example [here ](https://github.com/open-telemetry/opentelemetry-js/blob/master/doc/batcher-api.md)on how to bind it to a metric

[2020-07-28 20:22] davidwitten commented on #1294
Ahh ok thanks!

[2020-07-28 20:51] ajbouh commented on #1315
Reading through the code I couldn't see how to disable this automatic resource detection.

Is there a standard way to do this or am I better off forking this repo and just disabling the code that runs it?

[2020-07-28 20:58] srjames90 opened #1363 "Add w3c TraceContext propagation integration tests"
W3c has an external validator to verify that the TraceContext spec is adhered to (https://github.com/w3c/trace-context/tree/master/test). Opentelemtry-python has already integrated these tests into their own repo (open-telemetry/opentelemetry-python#202), and I think it'd be good to do something like this for javascript.

### Describe the solution you'd like

The integration tests are run as part

[2020-07-28 21:41] dyladan commented on #1315
There isn't currently a standard way, but I'm working on a fix for this that I hope to open a PR for tomorrow. If it is a time sensitive matter, then yes I would fork the project temporarily.

[2020-07-28 21:47] dyladan commented on #1363
Thanks @srjames90, if possible it would be nice if you could do this with github actions instead of circle since we are moving more and more in that direction.

[2020-07-28 22:35] reggiemcdonald opened #1365 "Refactor grpc examples to use proto-loader"
### Describe the solution you'd like

The `grpc` and `grpc-js` examples use generated code from the proto files. It would be better to refactor the examples to use the proto-loader.

### Additional context

Discussed in #1362

[2020-07-28 23:09] EdZou commented on #1335
Final question for this issue.
I now know the exact requirement for AWS resources components, I am going to add AWS Beanstalk and Ecs resource detector, am I supposed to add code under [opentelemetry-resources/src/platform/node](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-resources/src/platform/node/detectors)? @dyladan

[2020-07-29 14:37] srjames90 commented on #1363
Yeah, I can try to figure that out.

[2020-07-29 15:02] dyladan commented on #1335
@EdZou unless it is time-sensitive, I would wait for the changes required by https://github.com/open-telemetry/oteps/pull/111 to land.

Specifically, resource detectors will be made to live in separate extension modules rather than living in our `@opentelemetry/resources` package.

[2020-07-29 15:36] dyladan opened #1367 "[Spec Noncompliance]: Missing Span.recordException"
Our `Span` class and API definition currently do not define the required `recordException` method.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#record-exception

[2020-07-29 17:28] xirzec commented on #902
To bump this thread again, I think for the purposes of how my team uses this, it would help greatly if `@opentelemetry/api` was compiled down to ES5 since that's our only runtime dependency. That shouldn't cause any big bloat from async since it's only the noop implementations. It's fine if all the actual implementations still continue to target es2017.

[2020-07-29 18:01] dyladan commented on #902
This seems like a good tradeoff to me. There is no "real behavior" in the API to worry about anyway. The only thing I would be concerned about would be the `global` handling.

I think compiling the API down to the lowest possible target is also a good idea because if we want any modules like db drivers or http clients to build in support for otel, they will not be able to support IE11 if the API a

[2020-07-29 18:34] dyladan commented on #902
Would like to get the opinion of @Flarna on that. There is no use of the `await` keyword in the API package, which avoids the polyfill that he pointed out in #593. I built it locally with to ES5, and here are the differences I have noticed

- No use of `class` keyword
- Use of `var` instead of `const` and `let`
- No use of arrow functions

Use of `Symbol` and `global` appears to be unchanged.

[2020-07-29 19:02] markwolff commented on #902
@dyladan I've stubbed something out here #1368 to begin with

[2020-07-29 19:41] Flarna commented on #902
We used transpile to ES5 for quite a while without problems. If `await` or generators are used polyfills are generated which may have visible impact to e.g. async hooks but this is not applicable in the packages we talk about.

I took a look into the api and context-base package and it seems the difference is small:
* `let`/`const` => `var`
* `class` => `function`
* arrow functions to normal funct

[2020-07-30 00:58] obecny opened #1370 "Move plugins-node-all to contrib and rename to instrumentation-node-all"
The package `plugins-node-all` has dependency of contrib repo and core repo. The problem is that the contrib repo hasn't been released yet so this packages is installing 2 different version of otel. This is causing the plugins not to share the context propagation correctly - for example B3 Propagator is losing context. This might be als connected that we are using `Map` and `symbol ` to save the c

[2020-07-30 15:46] dyladan commented on #1370
👍

[2020-07-30 20:47] michaelgoin commented on #1240
Happy to take this on, if desired.

[2020-07-30 20:58] dyladan commented on #1240
Assigned :)

[2020-07-31 02:35] #902 closed

[2020-07-31 13:28] #1357 closed

[2020-07-31 15:42] dyladan commented on #1367
Duplicates #1322

[2020-07-31 15:42] #1367 closed

[2020-07-31 21:30] michaelgoin commented on #1241
It appears this is currently only done through the ValueRecorder? As such, will likely naturally take care of this at the same time as allowing negatives for ValueRecorder.

[2020-08-02 15:05] vmarchaud commented on #1329
There are some issues with `grpc/grpc-js` that makes it hard to just swap them, i am no expert of grpc so i can't debug it further sadly.

One alternative would be to make a package with "optional" grpc package that we can not install but even there the current node implementation except it to be installed (see my branch).

Don't really know what's the way forward except heavily refactor the node

[2020-08-03 08:36] legendecas opened #1376 "Flaky test case 'Node SDK > Basic Registration > should register a tracer provider if a span processor is provided'"
### What version of Node are you using?

Node v12.

### What did you see instead?

Circle CI: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-js/4901/workflows/287a9bd4-99fc-43c5-b1ce-1d340c8f7798/jobs/26727

[code]

### Affected PR

- https://github.com/open-telemetry/opentelemetry-js/pull/1366

[2020-08-03 10:19] adelsz opened #1377 "[plugin-http] null-check socket before destructuring"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?

Node 12

### What did you do?

We use OpenTelemetry for tracing and for some requests we see destructuring errors inside `plugin-http` in our error logs.
This isn't consistently reproducible but it does happen sometimes. Error trace:
[code]

Looks like these occur because `response.socket` can be null

[2020-08-03 15:03] dyladan commented on #1377
@OlivierAlbertini can you look into this? It looks like the typings say that `socket` should always be defined, which is why we didn't catch this before. My first instinct is to try to move `utils.getIncomingRequestAttributesOnResponse` before `response.end` is called. I tried that locally and the tests seem to pass, but I'm not sure if I'm missing some edge case there.

[2020-08-03 15:15] vankop opened #1378 "ship esm version"
### Is your feature request related to a problem? Please describe.

ESM is more "friendly" for web.
Pros:
1. consumable for esm-first bundlers by default
2. easy to tree-shaking. Probably all tree-shaking should work
3. probably decrease transfer code size when one file (e.g. `esm.js`) shipped. (more compile-time optimization: e.g. mangling, compression)

### Describe the solution you'd like

Setu

[2020-08-03 15:37] dyladan commented on #1378
Would you like to be assigned this issue?

[2020-08-03 15:38] vankop commented on #1378
Yep

[2020-08-03 16:07] blumamir opened #1379 "getExtractedSpanContext does not return correct result with multiple versions of @opentelemetry/core are installed"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
My tracer is v0.9.0, and a plugin is using v0.8.3

### What version of Node are you using?
v13.11.0

### What did you do?
My project has a tracer with v0.9.0, and is using a plugin with v0.8.3.
1. I extracted a propagated context with `propagation.extract(...)`, under the hood, this oper

[2020-08-03 16:30] dyladan commented on #1379
Thanks for reporting this issue. Seems related to the issue https://github.com/open-telemetry/opentelemetry-js/issues/1370 reported earlier.

I can think of a few ways to fix this:

1. Change context keys to use Symbol.for so they are always the same key no matter what version of core is used
2. Move context key creation into the API, which is already guaranteed to be a "true global"
3. Check vers

[2020-08-03 16:46] obecny commented on #1379
it's the same problem I reported and described here -> https://github.com/open-telemetry/opentelemetry-js/issues/1370.
Each of the plugin have it's own folder `node_modules` and will use the api from there instead of sharing the same api , core etc. So we should cut a release on contrib repo asap so that the plugins can use the same core / api instead of having its own `node_modules`. Implementing

[2020-08-03 16:49] obecny opened #1381 "Create a night builds"
As per last sig we would like to have nightly releases

[2020-08-03 16:55] dyladan commented on #1379
Just made a PR to release contrib, but this issue will still exist.

API does not have this issue since it uses the global utils to ensure a single global API instance is used, even if multiple api instances of varying versions exist in the node_modules structure.

[2020-08-03 16:56] blumamir commented on #1379
Thanks @dyladan @obecny
In my opinion option 1 is a good fix in addition to the release of contrib repo.
I encountered the issue in [my plugin](https://github.com/aspecto-io/opentelemetry-ext-js/tree/master/packages/plugin-aws-sdk) which is not in contrib.
I can create a PR to change `Symbol()..` to `Symbol.for(...)`

[2020-08-03 16:57] dyladan commented on #1381
@obecny are you working on this or up for grabs?

[2020-08-03 16:58] obecny commented on #1381
leaving it for "up for a grabs" until I do few other things, so someone else might be interested in this, if not until I have "free" slot then will get back to it

[2020-08-03 17:03] dyladan commented on #1379
I agree, option 1 is also the option with the least impact. (no api or behavior change)

[2020-08-03 17:41] obecny commented on #1379
If `Symbol.for` is using runtime-wide symbol in theory we might have some name collisions and we end up to have some prefixed naming (this might be necessary anyway). Having that in mind, I would be in favour of creating api methods to create those symbols (option 2) as the only prefered way (maybe some lint rule too) so that we can add some prefix automatically. This way we if for any reason we w

[2020-08-03 18:55] dyladan commented on #1381
Would we prefer to release "nightly" once per day, or release a git sha version like `0.10.2-alpha.0+${SHA}`` every time master is merged?

In both cases, https://github.com/lerna/lerna/tree/master/commands/publish#--canary can be useful for this.

[2020-08-04 07:26] blumamir commented on #1379
@obecny  the current Symbol text is ['OpenTelemetry Context Key EXTRACTED_SPAN_CONTEXT'](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-core/src/context/context.ts#L26), which already contains few prefixes, and is only used as a key on the Context object. I believe runtime-wide name collisions are not relevant in this case.
In addition, [the project already i

[2020-08-04 15:09] dyladan commented on #1379
There is some discussion in the spec about requiring the API package to propagate baggage/correlations by default, because end-user applications will depend on it for behavior so it cannot be no-op. Because of this, the API will need to access context properties.

This leads me to think we should move the context symbols into the API package anyways, which solves this issue without introducing the

[2020-08-04 15:13] blumamir commented on #1379
There will still be `Symbol.for`, only it will be in the API package, no?
Like these:
[code]

[2020-08-04 15:19] dyladan commented on #1379
Actually after looking into it a little more, it doesn't need to be moved into the API.

No. The spec states that context keys are generated by calling an API, and that calling the API twice _never_ returns the same key, even if it is called with the same input.

I am proposing that the `trace` API exposes new methods like `api.trace.getActiveSpan(context)`. The context symbols become private memb

[2020-08-04 16:20] morigs commented on #275
Binary seems to be implementation dependent. And I could not find a single OpenTracing system that would support this format (I have checked Jaeger, Zipkin shim, Elastic APM).
So may be binary format implementation makes no sense

[2020-08-04 16:33] dyladan commented on #1379
In trying to open this PR, it is becoming much more complex than I thought. In the spec, the wording is this:

I think we have such a language restriction that will allow us to have an exception here. By far the simplest way to solve this problem is to use Symbol.for

[2020-08-04 16:48] blumamir commented on #1379
What is the intention?
Why would we want to call CreateKey more than once? and if called multiple times, why return different values?

[2020-08-04 17:06] dyladan commented on #1379
The intention is to make it impossible for keys to collide. I guess some languages use context propagation mechanisms that are well-known and used by many other things.

[2020-08-04 17:19] blumamir commented on #1379
Not sure I fully understand, but I'm in favor of the `Symbol.for(...)` option.
Maybe we can ask there for an example of why CreateKey should return different keys for the same values? so we can estimate if it's relevant to JS implementation

[2020-08-04 18:09] dyladan opened #1386 "Move stack context manager out of web"
As there is nothing web-specific about the stack context manager, and it may be useful in testing scenarios like #1344, we should consider moving the stack context manager out of web and into some place like core or into its own module.

[2020-08-04 18:20] #1338 closed

[2020-08-04 20:00] dyladan commented on #1376
This test is flaky because the plugin loading is taking too long. Even on my local machine, the test frequently takes longer than 1000ms. In a CI environment with limited resources, the 2000ms limit is exceeded often. This is not a problem in the other tests because the node tracer provider isn't loaded for each test.

I think the plugin system needs a drastic overhaul. Managing a list of plugins

[2020-08-04 20:26] Flarna commented on #1370
I think plugins should only depend on api, context-base and maybe semantic-conventions but not on core.
If someone replaces the SDK and decides to not base it on core for the default noop impl it should be not needed to adapt any plugin.

[2020-08-04 21:04] dyladan commented on #1370
I would take it one step farther and say that they should only depend on api and semantic conventions. Context base is an implementation detail that instrumentations shouldn't have to know about.

[2020-08-05 15:59] dyladan commented on #1377
I will look into this today

[2020-08-05 16:52] dyladan opened #1390 "Lint getting started guide"
_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-js/pull/1374#issuecomment-669307493_

[2020-08-05 17:30] carolinee21 opened #1391 "Add support for multiple module names in BasePlugin"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first
### Context:
Currently, plugins can only instrument a single module. Many cases like http/https, grpc/grpc-js, and mysql/mysql2 it would be desirable to have a single plugin for both modules.
Another use case: Hapi was recently renamed to @hapi/hapi. Both

[2020-08-05 18:39] dyladan opened #1392 "Environment Variable Configuration Spec"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md

This should probably be handled one section at a time to keep PRs small

[2020-08-05 23:41] #1335 closed

[2020-08-06 00:04] EdZou opened #1394 "Add container ID attribute for Resource constants"
### Is your feature request related to a problem? Please describe.

I am currently implementing AWS ECS resource detector, following the Java implementation [Java ECS Reource Detector](https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk_extensions/aws_v1_support/src/main/java/io/opentelemetry/sdk/extensions/trace/aws/resource/EcsResource.java)
Since Java implementation parsed cert

[2020-08-06 00:33] naseemkullah opened #1395 "revisit general semantic conventions"
https://github.com/open-telemetry/opentelemetry-js/blob/88cd842ecd2a49f1ce338049d7900d02231b7e49/packages/opentelemetry-semantic-conventions/src/trace/general.ts#L29

i.e. the above should not have the `NET_` prefix as per https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/span-general.md#general-remote-service-attributes

[2020-08-06 11:07] louisnow opened #1396 "Publish latest release to NPM as other packages are breaking"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.10.2

### What version of Node are you using?
14

### What did you do?
Cannot install 0.10.2 as it does not seem to be published on the npm resgistry though other packages already depend on it like [@azure/core-http](https://www.npmjs.com/package/@azure/core-http) which causes packages

[2020-08-06 11:16] scris commented on #1396
It might has connection with the npm issue. For more information, see [https://status.npmjs.org/](https://status.npmjs.org/)

[2020-08-06 11:31] #1396 closed

[2020-08-06 14:43] morigs commented on #275
@bg451 any thoughts on this? Should it be implemented and in what way?

[2020-08-06 17:14] #1294 closed

[2020-08-06 18:25] dyladan commented on #1294
@davidwitten why did you close this?

[2020-08-06 18:26] davidwitten commented on #1294
@dyladan I added support for summary data points in PR #1320

[2020-08-06 18:29] dyladan commented on #1294
Ah I forgot that merged. Please make sure to always add a reason when closing an issue.

[2020-08-07 15:10] dyladan opened #1405 "AsyncHooksContextManager context loss"
I have a simple use case which loses context when using `AsyncHooksContextManager`:

[code]
output:
[code]

Seems very similar to #752 and #1101

I thought this case should have been solved by #1099

/cc @vmarchaud

[2020-08-07 15:54] vmarchaud commented on #1405
@dyladan With which version you reproduced the issue ?

[2020-08-07 15:55] dyladan commented on #1405
Latest ot (0.10.2)

Multiple node versions including the latest of both 12 and 14.

The AsyncLocalStorageContextManager does not have this bug, but the version of node available in our target environment is running a version of node 12 that is not late enough to be able to use it.

[2020-08-07 16:05] vmarchaud commented on #1405
I can't reproduce with the following test (node v14.7.0, master branch):
[code]

And i believe this is tested with [this test](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-context-async-hooks/test/AsyncHooksContextManager.test.ts#L141)

[2020-08-07 16:12] dyladan commented on #1405
Following your example, another simple reproduction:

[code]

[2020-08-07 16:13] dyladan commented on #1405
I don't know what is different about it in the test environment vs in the reproduction.

[2020-08-07 16:14] dyladan commented on #1405
Fixed with one line:

[code]

I feel silly now

[2020-08-07 16:17] vmarchaud commented on #1405
Ahah no worries i already spent few hours trying to debug issue when i wasn't enabling the it. Wondering if we could warn at some point that it is used without being enabled

[2020-08-07 16:18] dyladan commented on #1405
Is there some reason we don't automatically enable?

[2020-08-07 16:26] vmarchaud commented on #1405
@dyladan At the root i believe we wanted to choose whent to enable it (because the performance hit only is there after the enable), but i believe it don't make much sense with our current internal usage. Would be a breaking change though so we might want to take a decision before GA

[2020-08-07 16:29] dyladan commented on #1405
I think if the user creates an async hooks context manager, the expectation that async hooks is enabled is a reasonable one.

[2020-08-07 18:42] Flarna commented on #1405
Sounds related: https://github.com/open-telemetry/opentelemetry-js/issues/758

FWIW the `AsyncLocalStorage` in node uses autoenable - even after `disable` was called.
`disable` is present mostly to have some emergency tool in case something goes wrong. And for the rare case it's really not needed anymore to allow GC to collect it.
Frequently disable/enable of a context manager will likely cause pr

[2020-08-09 08:03] morigs commented on #1307
Looks like 499 handling [is missing](https://github.com/open-telemetry/opentelemetry-js/blob/0596054d56ef6fca5b8c3bfb46b5ce78f2f677cf/packages/opentelemetry-plugin-http/src/utils.ts#L48) at least in http plugin (grpc uses different approach). Golang implementation [maps](https://github.com/open-telemetry/opentelemetry-collector/blob/11198b124dae659ee722e8594ae970e8bd959732/translator/trace/grpc_ht

[2020-08-10 02:21] dyladan commented on #1307
@morigs yep that's why I opened this issue. If you feel like tackling it let me know and i'll assign it to you.

[2020-08-10 02:24] dyladan commented on #1405
Maybe instead we should remove enable/disable from the interface and always auto-enable?

[2020-08-10 16:45] #1379 closed

[2020-08-10 18:18] #1363 closed

[2020-08-10 19:43] austinlparker opened #1410 "Resource auto-detection and SDK initialization."
- [ ] This only affects the JavaScript OpenTelemetry library
- [X] This may affect other libraries, but I would like to get opinions here first

Hi! I'm writing this to summarize an issue I've had in putting together workshop/training content for OpenTelemetry JS and how Node SDK initialization works. Right now, if you initialize a new `NodeSDK`, you are required to do so asynchronously - and my u

[2020-08-10 19:57] dyladan commented on #1410
This is an issue that has been tickling the back of my brain as well. The async nature of resource detection is unfortunate.

Previously floated ideas to fix this:

1. Resource is stored on the tracer provider as a Promise and awaited by the exporter
  - This makes it difficult to merge multiple resources together from different detectors
2. Resource is detected by the exporter
  - This is a probl

[2020-08-10 20:01] obecny commented on #1410
I will copy paste my response in PR

From I user perspective I want to make this

[code]
To achieve this I think we could delegate to start detecting resources in some "global object whatever we call it , resource detector, resource provider, etc.", it can be also attached to opentelemetry something like "opentelemetry.getResource which will be an observable in case the resource will change after

[2020-08-10 20:03] dyladan opened #1411 "Move resource detectors into their own package"
As discussed at the SIG meeting 8/5/2020, resource detectors for e.g. AWS, GCP, etc. should be in their own packages in the contrib repo.

@markwolff volunteered to handle this.

[2020-08-10 20:13] dyladan commented on #1410
That code example looks very reasonable to me

Resource does not change over time. It is read only.

Would love to see a PR of what it looks like. I tried to throw together something similar locally and ran into the problem that our SpanProcessor pipeline is completely sync, which is a problem. In order to fix this we need to make it so span processors can perform async operations.

[2020-08-10 20:17] #1318 closed

[2020-08-10 21:26] austinlparker commented on #1410
Could always do a deep copy of the "detected resources" object between providers, with some sort of lock to make sure that resource detection completed or timed out. That said, I'm having a hard time thinking of a situation where two providers in the same process would have different detected resources.

[2020-08-10 21:51] dyladan commented on #1410
Join the club. It is in the spec, so we don't really have a choice here unless we feel like crusading against it. @mwear has also harbored similar sentiments.

I recently was going to do just this, but because tracing is so near GA I didn't want to stir that particular pot.

[2020-08-10 23:04] obecny commented on #1410
Fixed in https://github.com/open-telemetry/opentelemetry-js/pull/1400

[2020-08-11 02:48] austinlparker commented on #1410
Is there errata about a 1:1 relationship between tracer providers and resources? Because it seems like you could be spec compliant by simply having the resource processor act like a caching layer - each provider would get a separate instance of the resource processor (so you aren't reassigning anything) but it'd pull from the same pool of values.

This doesn't seem to preclude the behavior I just

[2020-08-11 13:31] schickling opened #1412 "Auto-instrumentation doesn't work when using Yarn 2 with PnP"
### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

`v14.7.0`

### What did you do?

When using Yarn 2 with [PnP](https://yarnpkg.com/features/pnp) enabled (which is on by default), the plugin-based auto-instrumentation doesn't seem to work.

### What did you expect to see?

It should work as when not using PnP (i.e. `node_modules` being present).

##

[2020-08-11 14:49] dyladan commented on #1412
Removing the bug label as behavior with a non-standard dependency linker is not yet defined.

The issue here seems to be that `@opentelemetry/node` requires the plugins, but does not explicitly list them as dependencies. This is intentional because we can't know which plugins will be used in advance. They may even be plugins we didn't write and aren't aware of.

One potential solution to this migh

[2020-08-11 14:52] schickling commented on #1412
Thanks for this additional context. Makes sense.

I've run into similar problems when using bundlers (e.g. `esbuild` or `webpack`). I think this is a common enough scenario/pattern in modern applications that it's worth considering the change you've outlined.

[2020-08-11 15:11] dyladan commented on #1412
If we're going to make this change, it needs to be done before GA in my opinion as changing the plugin interface to allow manual plugin installation would be quite the breaking change.

[2020-08-11 17:45] TigerHe7 commented on #488
Discussed with @mayurkale22 and I will be looking into this

[2020-08-11 23:05] mwear commented on #1410
Just in case it got lost in the shuffle, #1400 has been updated with a variation on #1 from https://github.com/open-telemetry/opentelemetry-js/issues/1410#issuecomment-671557006

[2020-08-11 23:43] obecny commented on #1410
but it doesn't affect exporter, once the span or metrics goes to exporter it already has correct resource - not a promise

[2020-08-12 14:32] dyladan commented on #1376
Flaky test fixed in #1398

[2020-08-12 14:32] #1376 closed

[2020-08-12 14:49] dyladan opened #1414 "API SpanContext missing isValid API"
https://github.com/open-telemetry/opentelemetry-specification/pull/771

I think this can be implemented as a function or getter that returns a boolean. Currently our "isValid" is a standalone function that takes a spancontext.

[2020-08-12 14:51] dyladan opened #1415 "Add global error handler"
https://github.com/open-telemetry/opentelemetry-specification/pull/757

It looks like the default global error handler should be a log, but should be a function the user can configure to do whatever they want.

This error handler is for when the SDK itself errors, not when a monitored entity throws an error.

[2020-08-12 14:52] dyladan opened #1416 "Use OTEL_RESOURCE_ATTRIBUTES instead of OTEL_RESOURCE_LABELS"
https://github.com/open-telemetry/opentelemetry-specification/pull/758

[2020-08-12 16:37] jonahrosenblum opened #1417 "Trace and Meter Provider Specs Defaults"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

Most recent

### What version of Node are you using?

Not version specific

### What did you do?

Create a Trace/Meter Provider with custom configuration. For example:

[code]

### What did you expect to see?

The default config values, such as logLevel, will be set in the meter and tra

[2020-08-12 18:23] adamegyed commented on #1379
Just adding to this: the fix implemented here also affects the other methods in the global context api: `getParentSpanContext` and `getActiveSpanContext` when used from a separate import. Previously, they would be unable to detect the global context's SpanContext due to the uniquely generated symbols.

[2020-08-13 20:10] #1334 closed

[2020-08-13 20:18] EdZou opened #1422 "Add a vendor-guide documentation"
### Is your feature request related to a problem? Please describe.
As a new contributor to the OpenTelemetry project, I am working on the AWS X-Ray auto-instrumentation for AWS X-Ray in [opentelemetry-js](https://github.com/open-telemetry/opentelemetry-js). For my projects, I ended up spending a lot of time figuring out what the making sure which part of components will be held by OTel repository

[2020-08-13 23:07] obecny commented on #1307
is any1 working on that ?

[2020-08-14 06:29] TigerHe7 opened #1426 "In-line documentation on histogram buckets is incorrect"
**Bug:**
The documentation for the `histogram` type is incorrect in stating that the explicit bucket boundaries are inclusive upper bounds when they are actually inclusive lower bounds.

**In-line comment:**
https://github.com/open-telemetry/opentelemetry-js/blob/6eb51a2d669fe16f9b56e4ca37b3faae2c31dac2/packages/opentelemetry-metrics/src/export/types.ts#L56-L70

**Histogram aggregator implementati

[2020-08-14 08:37] arcanis commented on #1412
Just fyi, this isn't a PnP issue. It's a Node issue that PnP highlights more than node_modules can do. The problem is that because you're calling `require` on something that isn't listed as a dependency, you're subject to the hoisting whims. For example, take the following case. There's nothing special, just two incompatible telemetry versions used in two different deps:

[code]

Package managers

[2020-08-14 13:33] obecny opened #1429 "Collector Exporter - split into 3 packages"
Some people are using for example aws lambda, this means the size of overall matters and there is some limitation in package size. Currently we have grpc and protobufjs installed always. For this reason if someone wants to use the exporter and never want to use grpc or proto he could use an exporter package without grpc and proto. This would means splitting exporter into 3 packages:
collector-expo

[2020-08-14 13:33] obecny commented on #1429
@open-telemetry/javascript-approvers ^^

[2020-08-14 13:57] dyladan commented on #1429
Seems like a decent compromise to me. @mayurkale22 ?

[2020-08-14 14:01] obecny commented on #1429
Updated naming for packages ^^

[2020-08-14 17:24] sergioregueira commented on #1303
Please, assign this issue to me. I will submit the pull request before the end of the next week.

[2020-08-14 19:03] #1416 closed

[2020-08-14 23:01] mwear commented on #1429
FWIW. This is exactly what is being asked for in this specification issue: https://github.com/open-telemetry/opentelemetry-specification/issues/678.

[2020-08-14 23:17] mayurkale22 commented on #1429
Makes sense to me. This would definitely simply the collector codebase and provide an easy way to use it.

Couple of questions:
1) `@opentelemetry/exporter-collector` is for HTTP and can be used in both Node and Web right?
2) Seems like there will be some overlap of code (utils, types, const etc.) between these 3 packages, where do you plan to keep them?

[2020-08-14 23:18] mayurkale22 commented on #1429
Looks like you already answered the first question in the description. My Bad!

[2020-08-14 23:37] obecny commented on #1429
They will be in main package as they are needed there anyway - I have already started working on that :)

[2020-08-15 14:33] vmarchaud commented on #1329
Closing since the original problem will be solved by https://github.com/open-telemetry/opentelemetry-js/issues/1429

[2020-08-15 14:33] #1329 closed

[2020-08-17 03:05] Hongbo-Miao opened #1433 "Change title to OpenTelemetry Jaeger Trace Exporter in Node.js ?"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Just a suggestion, can we update the name in the doc from

to

like other packages such as [OpenTelemetry redis Instrumentation for Node.js](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/master/plugins/node/opentelemetry-plugin-redis) to

[2020-08-17 11:14] blumamir opened #1435 "plugin not loaded when requiring module internal file"
### What version of OpenTelemetry are you using?
v0.9.0

### What version of Node are you using?
v13.11.0

### What did you do?
I use [`aws-sdk plugin`](https://github.com/aspecto-io/opentelemetry-ext-js/tree/master/packages/plugin-aws-sdk) and the popular [`sqs-consumer`](https://github.com/bbc/sqs-consumer) package (with the [recommended usage from the README](https://github.com/bbc/sqs-consumer

[2020-08-17 12:47] #1314 closed

[2020-08-17 12:50] dyladan commented on #1435
Require in the middle has an option to intercept these internal file loads, but for plugins to support this would be incredibly difficult. In order to support this use-case, each file in the target module is a potential entry point and would have to be handled separately. I'm not sure it is feasible to do this.

[2020-08-17 14:44] blumamir commented on #1435
Thanks
I would expect that if an internal file is "require"d on an instrumented package, the plugin will be loaded on the *entry point*. It is common practice that same functions and data types are exported both from entry point and from internal files.
if I understand you correctly, you are talking about a different feature: to allow plugins to patch specific files which are not the entry point.

[2020-08-17 15:13] dyladan commented on #1435
So you are suggesting if `module/internal/file.js` is loaded, our plugin should patch `module` and hope that whatever was loaded gets patched?

[2020-08-17 15:26] blumamir commented on #1435
Yes
I think it's the responsibility of the plugin author to patch whatever needed from the module exports (top level), but he cannot control how users will `require` the package.
The above use case with `aws-sdk` and a common package which only requires internal files is an example. Eventually, the patch is applied to the `Request` object which is used from multiple files and exported from the top

[2020-08-17 15:45] blumamir commented on #1435
I see what you mean - it's a problem to load the package entry point if the user did not require it explicitly.
Do you have an idea of how to approach this situation? Currently, the plugin is not loaded and causing partial traces.

[2020-08-17 15:53] dyladan commented on #1435
Exactly. In the case of aws sdk where the package is recommended to be required using internal files, you may need to change your plugin config like this:

[code]

Obviously your plugin would need to detect that it is being loaded for a submodule rather than the top level module. It may even be easier to do this:

[code]

I have to admit I have not yet thought about the implications of loading a p

[2020-08-17 16:00] blumamir commented on #1435
Thanks, really appreciate the help.
I will play with it a bit and write here with my findings.
If you come up with any new thoughts, I'll be happy to discuss more.

[2020-08-17 20:07] sergioregueira opened #1436 "Support filtering functions to trace/ignore http(s) requests"
### Is your feature request related to a problem?

[Current implementation](https://github.com/open-telemetry/opentelemetry-js/blob/644edc374732fe71abbea3723616efff038c1679/packages/opentelemetry-plugin-http/src/utils.ts#L164) of `http` plugin allows people to filter out requests that they do not want to trace using either `ignoreIncomingPaths` or `ignoreOutgoingUrls` properties ([see types](https

[2020-08-17 21:14] #1426 closed

[2020-08-17 23:28] srjames90 commented on #1414
Since spanContext is an interface, we would have to change it to a class. I can take this.

[2020-08-18 12:29] #1433 closed

[2020-08-18 13:10] dyladan opened #1441 "Add dynamic metric configuration support"
https://github.com/open-telemetry/opentelemetry-specification/pull/751

[2020-08-18 13:19] blumamir commented on #1435
I'll need to postpone this research for a later time. Closing the issue for now.
Thank you for all the help

[2020-08-18 13:19] #1435 closed

[2020-08-18 14:20] dyladan commented on #1436
The outgoing use-case could be solved by #1040 but with incoming it is already too late.

[2020-08-18 14:21] dyladan commented on #1307
Fixed in #1418

[2020-08-18 14:21] #1307 closed

[2020-08-18 14:24] dyladan commented on #1394
Yes

[2020-08-18 14:25] dyladan commented on #1395
I believe this will likely be solved when we use the code generator here https://github.com/open-telemetry/build-tools/pull/5

[2020-08-18 14:26] dyladan commented on #275
We are mostly waiting for the spec here. We don't want to implement it then be forced to change later.

[2020-08-18 15:04] sergioregueira commented on #1436
Despite I am looking forward to that pull request, I think that feature does not solve this scenario. That solution allows people to **completely** stop tracing from that moment whereas I just want to omit **a specific part** and continue tracing the rest of it.

For example, imagine a scenario where a web service has to make a HTTP request to a external 3rd-party (for validation, automation, what

[2020-08-18 15:58] vmarchaud commented on #1436
I don't think so. I agree that allowing to filter on anything on the http request make sense (and we should have done it from the start)

[2020-08-18 16:08] dyladan commented on #1436
Sounds good to me

[2020-08-18 16:18] arcanis commented on #1412
Yep, dependency injection is a good solution too 👍

[2020-08-18 16:19] EdZou commented on #1394
Of course!

[2020-08-18 16:21] dyladan commented on #1412
I prefer to build the lower layers as explicitly as possible, then build the "magic" (like auto-detecting/auto-installing plugins) into wrappers around it. That way you can always drop down to the explicit version in the case that you have some unexpected failure.

[2020-08-18 18:56] ceastman-ibm opened #1442 "node.js istio - Cannot read property '0' of undefined"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.9.0

### What version of Node are you using?
12.8.3

### What did you do?

If possible, provide a recipe for reproducing the error.

### What did you expect to see?

### What did you see instead?

/home/node/app/node_modules/@opentelemetry/core/build/src/common/time.js:94
    let secon

[2020-08-18 19:05] dyladan commented on #1442
There is not a lot of information here to try to reproduce this bug. That time code is called all the time, rarely changes, and is very well tested so I wouldn't expect it to be broken.

[2020-08-18 19:15] BryanHunt opened #1443 "[JaegerExporter] ExporterConfig needs to be exported since it is API"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.10.2
### What version of Node are you using?
14.8.0
### What did you do?
import { ExporterConfig } from '@opentelemetry/exporter-jaeger';
If possible, provide a recipe for reproducing the error.
import { ExporterConfig } from '@opentelemetry/exporter-jaeger';
### What did you expect to

[2020-08-18 19:44] ceastman-ibm commented on #1442
@dyladan are their any guides for implementing open-telemetry in an istio environment? im thinking we have an integration issue since istio is creating and forwarding x-b3 headers which open telemetry is not expecting.

[2020-08-18 21:10] bradfrosty opened #1444 "Web example fails to minify with Webpack unless dependencies are explicitly transpiled"
### What version of OpenTelemetry are you using?
0.10.2

### What version of Node are you using?
12.14.1

### What did you do?

While attempting to setup the [web example](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-web), I was unable to run a production (minified) build.

The error while building I retrieved was the following:
[code]

I am not using the `

[2020-08-18 21:28] naseemkullah opened #1445 "Attributes helper function - convert a deep object to an attribute compliant single-depth kv object"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

`tracer.getCurrentSpan()?.setAttributes({..anObject});` works well if the depth is 1, but if it is beyond that we will get `[object Object]` as an attribute value.

It would be nice to have a function to run on an object to get an atrribute friendly singl

[2020-08-19 06:07] bernielomax commented on #1214
I too just encountered this. It would be amazing if support could be added for service workers.

[2020-08-19 08:00] sergioregueira commented on #1436
Some questions about it:
- Should it support multiple filtering functions or a single one?
- Would `return true` mean it has to be traced or omitted?

IMHO, a single one would be enough and `return true` would trace the request (inclusive filtering).

[2020-08-19 08:02] sergioregueira commented on #1436
By the way, feel free to assign me the issue :slightly_smiling_face:

[2020-08-19 08:21] sergioregueira commented on #1445
According to [the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/671f5abe0eb99451f86df6da8aa7cd4b14d22633/specification/common/common.md#attributes), the attribute value must be:

An object (flat or nested) should not be accepted, so I suggest to apply what it says about arrays and serialize it using `JSON.stringify()` (supported by both node and browser, so you

[2020-08-19 08:28] vmarchaud commented on #1436
@sergioregueira I would be in favor of breaking the backward compatiblity by replacing `url` by `req` altogether, adding another option feels like too much and adding a second argument like `(url: string, req: http.IncomingMessage) => boolean) feels weird. Do you have any take @dyladan ?

On the `return true`, i believe today we `true` means that the request is ignored so we should keep that.

[2020-08-19 13:02] dyladan commented on #1436
Think breaking backwards compatibility is probably fine here. I agree I don't want to have too many options to maintain and the request filter would be able to completely cover the url usecase easily.

[2020-08-19 13:33] gecgooden commented on #897
I'm interested in picking up this issue, but just wanted to clarify the solution.

I think the change is going to be in the framework plugins (eg express/koa/hapi), having it call `updateName` on the parent span when it has the route name available.

Also, if that is correct and the change will be in the opentelemetry-js-contrib repo, should this issue be closed or moved over to that repo?

[2020-08-19 13:40] vmarchaud commented on #897
@gecgooden There are [some code](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-http/src/utils.ts#L468) on the http plugin that should be removed too

[2020-08-19 17:37] sergioregueira commented on #1436
That is right, because those parameters use `RegExp | string` to define the requests that you want to exclude. Nevertheless, in this new approach, I think that we should understand `true` as `please, trace the request` to follow the same approach than [Array.prototype.filter()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/filter).

[2020-08-19 20:39] jonahrosenblum commented on #1290
@dyladan I believe this issue can be closed now?

[2020-08-20 18:07] #1290 closed

[2020-08-20 19:13] dyladan commented on #1436
Without knowing the way the current filter works and without reading any docs, I would assume returning true causes a request to be traced precisely because I would associate it with `Array.prototype.filter`. Following the principle of least surprise, I think we should mimic `Array.prototype.filter` or change the name from `filter` to something else like `ignoreRequestHook`

[2020-08-20 19:17] dyladan commented on #1214
The window.crypto library is removed in the latest build as far as I'm aware. We still depend on the performance API to gather accurate timing data. Maybe we could factor out a `Clock` interface that implements the `now` method and use a `performance` based implementation as the default. This would solve the issue without the need to publish an entire new build for service workers.

@obecny any th

[2020-08-20 19:59] tigrannajaryan opened #1450 "Populate implementation/spec compliance matrix"
In order to have a better understanding of where we stand in terms of implementing OpenTelemetry specification in various language SDKs we would like to have a compliance matrix that shows which features are implemented in which languages.

This will show how much work is remaining and tell us far away are we from being ready for GA.

The matrix is located here: https://github.com/open-telemetry/o

[2020-08-21 14:58] BryanHunt opened #1453 "[ZipkinExporter] ExporterConfig needs to be exported since it is API"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.10.2
### What version of Node are you using?
14.8.0
### What did you do?
import { ExporterConfig } from '@opentelemetry/exporter-zipkin';
### What did you expect to see?
No errors
### What did you see instead?
Module '"../node_modules/@opentelemetry/exporter-zipkin/build/src"' has no e

[2020-08-21 15:52] dyladan opened #1454 "Rename HTTPText to TextMap Propagator"
https://github.com/open-telemetry/opentelemetry-specification/pull/793

[2020-08-21 15:54] dyladan opened #1455 "Rename ParentOrElse to ParentBased and generalize to support all cases"
https://github.com/open-telemetry/opentelemetry-specification/pull/610

[2020-08-21 16:18] dyladan opened #1456 "It should be possible to propagate context with only the API"
https://github.com/open-telemetry/opentelemetry-specification/pull/719

When a span is started with a valid parent using the NoOp tracing API, the span's context should be the same as the context of the parent.

[code]

[code]

[2020-08-21 16:21] dyladan opened #1457 "Rename ProbabilitySampler to TraceIdRatioBasedSampler and make deterministic"
https://github.com/open-telemetry/opentelemetry-specification/pull/611

The probability sampler has been renamed to TraceIdRatioBasedSampler and the sampled flag must be deterministically derived from the trace id.

[2020-08-24 04:07] shivkanya9146 commented on #1453
I would like to work on this, please assign to me

[2020-08-24 04:09] shivkanya9146 commented on #1443
I would like to work on this, please assign to me

[2020-08-24 04:09] shivkanya9146 commented on #1455
I would like to work on this, please assign to me

[2020-08-24 11:52] obecny commented on #1450
Are we going to add one more column to this matrix "Browse / Web" to avoid confusion  @tigrannajaryan  ?

[2020-08-24 13:04] vmarchaud opened #1459 "exporter-collector-http: log error when it fails to export"
Currently the collector-exporter in HTTP just log that the export failed with only the status code. We should get the error and log it in the console for end users to find what's wrong.
For example i was debugging an 400 and to debug i had to publish another package with more logs to see that the error was:
[code]

cc @obecny do you want to tackle it ?

[2020-08-24 13:18] obecny commented on #1459
@vmarchaud sure

[2020-08-24 15:29] morigs commented on #897
Any progress on this? This is critical issue imho.
Are there any suggestions for implementation? Maybe add an option to disable adding path in the span name?

[2020-08-24 15:31] morigs commented on #897
[Spec](Are there any suggestions for implementation? Maybe add an option to disable the path in the span name?) says

[2020-08-24 16:34] #1429 closed

[2020-08-24 22:23] maxmil7 opened #1461 "Error loading plugin when it is already being patched by require-in-the-middle"
### What version of OpenTelemetry are you using?
[code]
### What version of Node are you using?
v12.17.0

### What did you do?
I was trying to integrate open telemetry modules for NodeJS with my app, and saw the following error when starting the app:

[code]
The issue is reproducible if you run the following piece of code:

[code]
### What did you expect to see?

`plugin-http` and `plugin-https` l

[2020-08-24 22:35] #1322 closed

[2020-08-25 13:26] #1454 closed, assigned to nobody

[2020-08-25 14:53] tigrannajaryan commented on #1450
I think I incorrectly used`Node.js` in the column header. It should be simply `JS` (we don't have a separate `node.js` SDK, do we?)

[2020-08-25 15:00] dyladan commented on #1450
We do not. I was already changing to JS in my PR which I will open today

[2020-08-25 17:00] morigs opened #1462 "Consider monorepo is not contributor friendly"
I believe monorepo is a good choice for projects with a lot of small highly coupled packages that share their dependencies. But this is a bad choice for projects with a lot of almost independent packages whose have high amount of dependencies not related to each other.
I have an average hdd (seagate barracuda 156MB/s). I want to contribute to a package inside opentelemetry-js (just one small PR th

[2020-08-25 18:42] dyladan commented on #1462
Performance concerns related to the monorepo structure have been a problem for a while. They also cause slow CI builds. This was a big reason why we decided to split the contrib packages into their own repo. In contrib, you can use each package independently by just running `npm install` without using lerna and be fine. In the main repo that doesn't work as well though since the packages are actua

[2020-08-25 18:47] #1040 closed

[2020-08-25 19:04] morigs commented on #1462
I fully understand the reasons.  But at the moment it is very difficult to contribute to the project.  We need a path for modifying a separate package without building and testing all the rest.

[2020-08-25 19:37] dyladan commented on #1462
@morigs for now, you can bootstrap a single package and only its dependencies by doing `lerna bootstrap --scope @opentelemetry/package-name --include-filtered-dependencies`

[2020-08-25 20:42] Hongbo-Miao opened #1464 "opentelemetry-collector service name issue with Prometheus"
### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?
Node 14

### What did you do?

To reproduce, use the demo at https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/collector-exporter-node

### What did you expect to see?

To send metric successfully to Prometheus, OpenTelemetry collector has to use name "collector" currently, and c

[2020-08-25 23:34] sodabrew commented on #1214
Note that Cloudflare's `Date.now()` returns the same for all calls servicing a given query in order to prevent timing attacks. Blog post with more information:  https://blog.cloudflare.com/mitigating-spectre-and-other-security-threats-the-cloudflare-workers-security-model/

[2020-08-25 23:35] sodabrew commented on #1214
`window.crypto` is implemented a bit differently, maybe close enough to be compatible with a small shim? https://developers.cloudflare.com/workers/runtime-apis/web-crypto

[2020-08-26 06:47] morigs commented on #1462
It sounds exactly like what I wanted. But doesn't work)
[code]
This is clean repository. I have done only `npm i` (without bootstrap)

[2020-08-26 14:05] dyladan commented on #1461
It looks like the issue is that `request` which is required [here](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-http/src/http.ts#L35) is not a type, but a concrete implementation. It is used [here](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-http/src/http.ts#L98). The plugin should _not_ require `http`

[2020-08-26 17:11] #1039 closed

[2020-08-26 18:30] morigs opened #1465 "A way to specify metric aggregator"
I cannot believe this functionality is still missing but also I cannot find any related issues/PRs. Feel free to close if it's a duplicate.

I am a library author. I need to expose a "latency" metric with ability to discover its avg and max values in the future. According to the otel spec I have chosen `ValueRecorder`:

[code]

As we can see [here](https://github.com/open-telemetry/opentelemetry-j

[2020-08-26 18:47] dyladan commented on #1465
Please refrain from using judgmental language

The metrics sdk is currently very beta and is known to be behind the spec. We've been focusing effort on tracing recently as tracing spec moves closer to GA.

@obecny is the maintainer with the best knowledge of metrics right now. @obecny are you aware of a way to set an aggregator?

[2020-08-26 18:49] vmarchaud commented on #1465
You can specify it by using a custom batcher, there is a doc here: https://github.com/open-telemetry/opentelemetry-js/blob/master/doc/batcher-api.md
I would suggest to read about the current situation (mainly about the story around [Metrics Views](https://github.com/open-telemetry/oteps/pull/89)) before making judgement.

[2020-08-26 18:53] morigs commented on #1465
Story for this misunderstanding. I just said what I was thinking. IMHO this is a must have feature and I'm ready to contribute  if we will reach consensus on API and implementation details

[2020-08-26 19:07] morigs commented on #1465
@vmarchaud I trying to figure out the way to do this.
I don't judge, I was trying to said "I'm not sure is this feature really missing or I don't know about it"

In fact as a library developer I have no control over Batcher. I can only create and update metrics. Am I wrong?

[2020-08-26 19:20] obecny commented on #1465
MinMaxLastSumCountAggregator will be removed soon and recorder will get MinMaxSumCount and observer will get LastValue only. You can create your own batcher and then do the aggregation to whatever you need as well (@vmarchaud mentioned this already) so you are not limited to any aggregator if you don't want to. The metrics as mentioned by @dyladan still lacks of few things due to spec changes and

[2020-08-26 19:43] vardani commented on #1377
@dyladan Hey, any updates on this?

[2020-08-26 19:56] morigs commented on #1465
Thanks for answers. If I understand correctly views API is what I was looking for.

May be consider creating a tracking issue?  This will allow to submit a PR with draft implementation as done in the python library
https://github.com/open-telemetry/opentelemetry-python/pull/596

[2020-08-27 05:20] morigs commented on #1465
So what is the recommended way to change the aggregator at the moment if a batcher is not available?

[2020-08-27 14:14] #1351 closed

[2020-08-27 20:22] michaelgoin commented on #1370
was about to start this work to move `plugins-node-all` to contrib (based off agreeing to a few meetings back) and figured I'd see if there was a related issue.

this seems to be it, so feel free to assign me.

[2020-08-27 22:30] maxmil7 commented on #1461
Thanks @dyladan for looking into it. I tried out your suggestion locally and it seems to resolve the issue. Would you accept a PR for it or will you be looking into it.

[2020-08-27 23:30] pauldraper opened #1471 "StatsD metric exporter"
### Is your feature request related to a problem? Please describe.

I want to export metrics via [StatsD](https://github.com/statsd/statsd), a common protocol used for many backends including Graphite.

### Describe the solution you'd like

StatsD exporter.

### Describe alternatives you've considered

-

### Additional context

-

[2020-08-28 10:42] AndrewGrachov commented on #1465
I use somthing like this. It's kinda hack, but, as mentioned above, metrics are in infancy

[code]

[2020-08-28 12:12] AndrewGrachov commented on #1093
Regarding **unused vars**:

Actually, there are a lot of code which mocks real one, like NoopExporter and so one. These params are needed to not break consistency between components,
There could be a convention to omit such parameters, like prefixing them with underscore

https://eslint.org/docs/rules/no-unused-vars#argsignorepattern

[2020-08-28 15:00] AndrewGrachov commented on #1465
Would be nice to specify aggergator per measure, but IDK what standard will say

[2020-08-28 15:03] vmarchaud commented on #1465
@AndrewGrachov Thats pretty much the goal of the views api which is discussed in the oteps repo.

Not sure to follow, when is a batcher not available ? There are no other choice right now.

[2020-08-28 15:30] morigs commented on #1465
Ok thank you. I think this question may be closed now.
But please consider creating tracking issue for views api implementation

[2020-08-28 15:30] #1465 closed

[2020-08-28 16:00] dyladan opened #1477 "[Metrics] Views API Tracking Issue"
But please consider creating tracking issue for views api implementation

_Originally posted by @morigs in https://github.com/open-telemetry/opentelemetry-js/issues/1465#issuecomment-682715873_

API OTEP: https://github.com/open-telemetry/oteps/pull/89
SDK OTEP: https://github.com/open-telemetry/oteps/pull/128

[2020-08-29 12:25] vmarchaud commented on #1263
For reference, @Qard opened an PR to land this into Node: https://github.com/nodejs/node/pull/34895 (also [the discussion](https://github.com/nodejs/diagnostics/issues/180) on the diagostics group)

[2020-08-29 16:26] Qard commented on #1263
Yep. Still very much experimental and will likely continue to evolve before it's ready to land.

[2020-08-30 21:34] maxmil7 opened #1479 "Context mixup when using wreck library to make downstream request"
### What version of OpenTelemetry are you using?
[code]
### What version of Node are you using?
v12.17.0

### What did you do?
We have a legacy service invocation library which uses [wreck@v12](https://github.com/hapijs/wreck/tree/v12-commercial) to invoke downstream services.

This library is used by express middlewares to make service calls to downstream services when an application receives a r

[2020-08-31 12:51] dyladan commented on #1479
I doubt this is an issue with the context manager, but with the plugin itself most likely. My best guess is that the span created in the middleware is being marked as the active span during that middleware execution, but not being removed as the active span when the middleware completes.

[2020-08-31 18:25] ChrisJBurns opened #1480 "VueJS with OpenTelemetry has async_hooks errors"
- [X] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I am currently in the process of writing a blog about DIstributed Tracing using OpenTelemetry. During my blog I will be creating several microservices that use OpenTelemetry and Jaeger to demonstrate the tracing capabilities. All code can be found on my p

[2020-08-31 18:57] vmarchaud commented on #1480
It's because you are using the node sdk inside the browser, please refer to https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-web

[2020-08-31 19:12] ChrisJBurns commented on #1480
Thanks @vmarchaud although I still aren't able to see any of the traces in the logs, probably because I've not set it up correctly with my VueJS App. Although due to the fact I won't be able to see the traces in Jaeger I'm probably spending a bit more time than I should on this to get it to work.

[2020-08-31 19:44] naseemkullah commented on #1350
BTW I am today doing something similar with https://github.com/pinojs/pino

I leave the `traceFlags` key as provided from context though, @dyladan any particular reason you modify it to `sampled` ?

[code]

[2020-08-31 19:46] naseemkullah commented on #1350
Also worth noting, for the http request logger https://github.com/pinojs/pino-http I also replace reqId with spanId as such:

[code]

[2020-08-31 19:47] dyladan commented on #1350
I think `sampled=1` is more readable to most people than `TraceFlags=1`. Sampled doesn't require previous knowledge of Trace Context spec and the associated TraceFlags.

[2020-08-31 20:49] #1414 closed

[2020-08-31 21:56] #1240 closed

[2020-08-31 21:56] #1241 closed

[2020-09-01 02:51] naseemkullah commented on #1471
https://github.com/open-telemetry/opentelemetry-specification/issues/374 should be of interest:

[2020-09-01 06:51] AndrewGrachov opened #1482 "Meter Labels typing only considers string values"
**What: **

Meter Labels are declared as map<string,string> [here](https://github.com/open-telemetry/opentelemetry-js/blob/cb6555a00fa862952c8d872591d7679da364e81f/packages/opentelemetry-api/src/metrics/Metric.ts#L170)
this makes labels set like ```{success: 'true'}``` being unnatural

**How it could be**
[code]
I would like to make a PR if its relevant, just want to know what  should be done rega

[2020-09-01 15:21] jmacd commented on #1471
It's still true that there's no statsd spec, although at least one document in the OTel org describes it now:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/receiver/statsdreceiver/README.md

Most systems that support statsd also support other formats, which is part of the reason that we haven't included statsd in the OTel specification.

That said, it's a very usefu

[2020-09-01 15:28] dyladan commented on #1471
I think we should add it to the contrib repo. It can be upgraded to main repo when the spec includes it.

[2020-09-02 15:39] dyladan opened #1485 "Implement TextMapPropagator Fields"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#fields

[2020-09-02 15:41] dyladan opened #1486 "TextMapPropagator Getter.keys"
Our current getter and setter arguments are just functions. They should be changed to be interfaces, and the getter should include a `keys` function. Changing them both to be interfaces now will make it easier to add additional required operations in the future.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#keys

[2020-09-02 15:42] dyladan opened #1487 "Rename ProbabilitySampler to TraceIdRatioBasedSampler and implement ratio sampling"
The probability sampler should be deterministic depending on the Trace ID.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#requirements-for-traceidratiobased-sampler-algorithm

[2020-09-02 15:45] dyladan commented on #1450
The spec compliance matrix is up to date. I will close this issue but maintain the list on an ongoing basis.

[2020-09-02 15:45] #1450 closed

[2020-09-02 16:10] dyladan commented on #1284
I think this is superceded by #1455 and #1487

Can this issue be closed or are you still working on this?

[2020-09-02 16:10] #1457 closed

[2020-09-02 16:12] michaelgoin commented on #1249
Per meeting, I can grab this.

[2020-09-02 16:12] dyladan commented on #897
Assigning @morigs because he opened the PR

[2020-09-02 16:15] dyladan commented on #1306
Unassigned because internship ended. If I'm wrong about that, please let me know.

[2020-09-02 16:17] dyladan commented on #1327
I believe this is fixed in https://github.com/open-telemetry/opentelemetry-js/pull/1353

I'm closing this issue. Please reopen if i'm mistaken.

[2020-09-02 16:17] #1327 closed

[2020-09-02 16:20] dyladan commented on #1455
@shivkanya9146 do you have an update on this?

[2020-09-02 16:24] dyladan commented on #1487
Assigning this to @legendecas because he is already working on the parent sampled flag in the probability sampler and this issue is related.

[2020-09-02 16:24] dyladan commented on #1455
@legendecas is working on the parent sampled flag in the probability sampler and this issue is related.

[2020-09-02 16:28] dyladan commented on #1074
@michaelgoin please comment so i can assign you

[2020-09-02 16:28] legendecas commented on #1284
@dyladan I think this one can be closed as #1279 has already landed. Closing.

[2020-09-02 16:28] michaelgoin commented on #1074
commenting so it can be assigned.

[2020-09-02 16:30] legendecas commented on #1284
Sorry, I misunderstood the ping. This one is not done yet.

[2020-09-02 16:47] dyladan commented on #1377
@OlivierAlbertini Do you have any idea what might have happened here?

[2020-09-02 16:51] dyladan commented on #1417
@naseemkullah can you take a look at this?

[2020-09-02 16:53] dyladan commented on #488
@mayurkale22 @TigerHe7 any update here?

[2020-09-02 16:55] dyladan commented on #1311
I think this is fixed with the recent updates to the collector exporter

[2020-09-02 16:55] #1311 closed

[2020-09-02 16:58] reyang commented on #1074
FYI in .NET and Python we renamed all the packages to use `instrumentation`:
* https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src
* https://github.com/open-telemetry/opentelemetry-python/tree/master/instrumentation

[2020-09-02 17:04] dyladan commented on #1235
We should update the global plugin options to only keep options which apply to every plugin. Behavior-changing options should be moved to plugin-specific configs.

[2020-09-02 17:30] naseemkullah commented on #1417
Sure @dyladan

[2020-09-02 18:26] dyladan commented on #1249
Oops looks like i assigned @obecny instead of @michaelgoin

[2020-09-02 18:33] dyladan commented on #1284
@legendecas What I am saying is that this issue and #1455 (assigned to @shivkanya9146) appear to be duplicates, are they not?

[2020-09-02 22:08] naseemkullah commented on #1487
do we need to  rename `OTEL_SAMPLING_PROBABILITY` env var to `OTEL_TRACE_ID_RATIO`?

[2020-09-03 01:19] obecny opened #1489 "BatchObserverMetric"
Try to refactor BatchObserverMetric to be independent from Metric due to this comment -> https://github.com/open-telemetry/opentelemetry-js/pull/1470#pullrequestreview-480438860

[2020-09-03 02:43] legendecas commented on #1284
@dyladan I think so. So this issue can be closed as it been superseded by #1455 in terms of spec changes.

[2020-09-03 02:43] #1284 closed

[2020-09-03 04:22] naseemkullah opened #1492 "eslint config: "@typescript-eslint/no-floating-promises": 2"
Thoughts on adding this rule?

- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

[2020-09-03 05:00] naseemkullah commented on #1417
#1491 and #1493 have been opened to address this

[2020-09-03 09:47] blumamir opened #1494 "setTimeout callback wrong context on node 10"
### What version of OpenTelemetry are you using?
v0.11.0

### What version of Node are you using?
v10.22.0
The issue is reproducible in nodejs v10.x.x, and does not exists in versions 11 and forward.

### What did you do?
[code]

### What did you expect to see?
Expected `timer 2` span to have it's own trace id and be the root span. Or a least to behave the same as `timer 3` which created a new tra

[2020-09-03 15:27] pauldraper commented on #1471
And FYI, there is already a Node.js StatsD client (`node-statsd`).

[2020-09-03 16:42] dyladan commented on #1492
While you're updating the eslint rules you may want to take a look at the current warns and determine if any of those rules should be disabled or have options configured. For instance, I know the following code will fail:

[code]

In this case we might want this to fail, but it may also be implementing some interface but just doesn't care about the first argument?

[2020-09-03 16:45] obecny opened #1495 "rename master to main"
With regards to this https://github.com/github/renaming, do we need to ensure in advance that our build will work fine, especially the cases that checks branch name when doing a release (canary ?)

[2020-09-03 17:09] naseemkullah commented on #1471
FWIW https://github.com/brightcove/hot-shots is also a good one

[2020-09-03 19:21] #1265 closed

[2020-09-03 19:39] #897 closed

[2020-09-03 19:43] obecny opened #1496 "Create / or port / a deep merge function that we can use for merging configs etc."

[2020-09-04 08:16] pskaarup commented on #1215
You are in a bit of luck with the zipkin exporter. While it isn't officially supported in WEB it does work in a browser if you throw enough polyfils after it. In my case babel was enough.

Additionally if you are use Jaeger as your tracing backend you should start the server with a few extra parameters. Take this example using the all-in-one docker

`docker run -ti -e COLLECTOR_ZIPKIN_HTTP_PORT=94

[2020-09-04 12:30] dyladan commented on #1215
There is an existing PR #1265 to officially support zipkin in web

[2020-09-04 13:07] vmarchaud opened #1498 "metrics-exporters: uncontrolable unhandled rejection when failing to export"
Currently in the Metric's Controller if the data fails to export we reject the promise here: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-metrics/src/export/Controller.ts#L56 which isn't at all handled (should be here: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-metrics/src/export/Controller.ts#L36), so the current

[2020-09-04 13:22] vmarchaud commented on #1332
[code]

[2020-09-04 13:26] vmarchaud commented on #1332
could not load plugin @opentelemetry/plugin-grpc

Those are actually warnings because you didn't install the plugins, you can ignore this.

This problem is about the express plugin, an issue is ongoing [here](https://github.com/open-telemetry/opentelemetry-js-contrib/issues/107)

About this export issue itself, i think the problem might comes from the stackdriver exporter itself, you could give a

[2020-09-04 17:23] flands opened #1499 "Remove non-inclusive language from tests"
# Is your feature request related to a problem? Please describe.

Non-inclusive language can be found in some tests

[code]

Note: other non-inclusive language remains as a result of `master` terminology on branches.

### Describe the solution you'd like

Non-inclusive language removed from tests

[2020-09-04 17:38] dyladan commented on #1499
Any reason to limit this to just tests?

[2020-09-04 22:52] ajbouh opened #1502 "Document that ZoneContextManager doesn't work with async/await code that targets ES2017+"
`ZoneContextManager` is based on zone.js, which is a part of the Angular project.

Unfortunately, zone.js can't track context within an `AsyncFunction` in the web browser: https://github.com/angular/angular/issues/31730

If my understanding of the OpenTelemetry APIs and documentation is correct, then this fact is probably very surprising to many OpenTelemetry users.

As an OpenTelemetry user, my c

[2020-09-05 14:57] ChrisJBurns commented on #1480
I believe this can be closed now, the jaeger-client doesn't work due to problems on this side but the OpenTelemetry seems to work as normal with the web package.

[2020-09-05 15:43] #1480 closed

[2020-09-06 07:12] blumamir commented on #1479
The express middleware gets its context from the previous middleware's `next()` call which invoked it. In your case it happens in the response callback of the outgoing HTTP call (via Wreck) which is run with the context of the HTTP span to `https://github.com`.
In my opinion, it's not obvious what the expected behaviour should be in this case.
Don't know what will happen if you add the express plu

[2020-09-06 07:49] vmarchaud commented on #1479
I believe @blumamir is right on why you are seeing this behavior, however i'm curious on how you are using `cls-hooked` @maxmil7, could you explain your current setup ?

[2020-09-07 16:33] Hongbo-Miao commented on #1498
Got same error, I notice my Sentry blows up because of this bug.
<img width="1681" alt="image" src="https://user-images.githubusercontent.com/3375461/92406359-674abc80-f16a-11ea-8a75-a8e743ebffd0.png">

[2020-09-07 19:23] maxmil7 commented on #1479
@blumamir thanks for sharing your insight. I did turn on express instrumentation but still saw the same issue.
I agree its not very obvious what the correct behavior should be, however the instrumentation results (especially when seen in Zipkin UI) can be confusing since it looks like the middleware service call initiated the request handler service call

[2020-09-07 19:51] maxmil7 commented on #1479
@vmarchaud currently our logging middleware creates a new context object for every request using the the [cls-hooked run](https://github.com/Jeff-Lewis/cls-hooked#namespaceruncallback) function.
We store the request specific info (logId, which connection thread to write etc) in the context object and access it as needed when generating logs.

Now that I think of it, since we don't store any `paren

[2020-09-07 22:16] johanneswuerbach commented on #591
As https://github.com/open-telemetry/opentelemetry-js/pull/1344 and https://github.com/open-telemetry/opentelemetry-js/issues/1040 are merged now I guess this can be closed?

[2020-09-08 08:03] blumamir commented on #1479
@maxmil7  I agree that the trace tree can look confusing and might not be what you expect to see. Your second http call (or middleware invocation) depends on the result of the first invocation, so there is a sense in setting it as the child at least in the purely technical perspective.
As another example, if you take the data from the http response and store it in DB, you would probably expect the

[2020-09-08 12:36] vmarchaud commented on #591
Well i guess. One question remains open i believe: do we want to enable the AsyncStorageContextManager by default with newer version of node 14 ?

[2020-09-08 12:42] vmarchaud commented on #1479
Yeah thats the behavior of promises based on the ECMA specs, downstreams contexts are created before executing the promises.

@blumamir is right on the fact that technically the second http call to `example.com` is the same as the one for `github.com` though. I'm not sure it's possible even with modification to the express plugin to change that behavior.

[2020-09-08 15:13] dyladan commented on #1487
There is no spec for it, so I guess we can do what we want: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md

I think probability is more clear to end users not familiar with our internals, and I think it is still accurate. Probability does not imply randomness.

[2020-09-08 17:48] dyladan commented on #1479
I think this idea deserves exploration. In express, middlewares can can be thought of in parent-child relations, but more often I think of them as more of a processing pipeline. If you have `A->B->C`, I don't think of middleware B as the parent of C, but just the processing step that happened before it. Just like how in a procedural program, I don't think of line 3 as being the parent of line 4.

[2020-09-08 17:55] dyladan commented on #1502
Hmm. I think at the very least we need some docs updates here, but I don't think this is actually a bug as there are no behavior changes requested.

Regarding the suggested docs, I think we should suggest that if users are using the Zone context manager, they should transpile to ES2015. If that is not an option, explicit context propagation is the fallback choice. The main reason for this is that

[2020-09-08 19:07] ajbouh commented on #1502
Ah you're right I did not specify a change in behavior beyond updating the documentation.

I can rectify this. First, I don't know whether or not opentelemetry-js should be targeting ES2017. This seems like it might be wrong?

Second, I don't think these APIs should be reliant on implicit global context to generate properly nested traces. Many of the functions seem to use a default parameter of `c

[2020-09-08 19:12] ajbouh commented on #1502
It's also (imo) clearly a bug that tracing in the browser is broken by default in modern browsers when using modern JavaScript.

Since wrong nesting for traces can mean missing or faulty propagation values, this bug can affect server side traces that use values from the browser implementation.

[2020-09-09 05:27] blumamir commented on #1479
I agree about the desired behavior in this case.
The fix in express plugin should be as easy as capturing the active span as the request enters the pipeline, storing it as a symbol property on the `req` object, and then executing each middleware with this context using `withSpan()`.
My point is that this is only a patch for express, but the problem is broader than this specific issue. When you wan

[2020-09-09 08:02] vmarchaud commented on #1479
I'm not against making a "fix" to express but i think this a broader issue, technically step C is a child of B (and the whole context management API assumes this). There will be other cases in the future where some users might find the spans relationships weird even though they are technically correct and we will need to draw a line at which we stop trying to "fix" them.
That's why i would hesitat

[2020-09-09 10:29] blumamir commented on #1479
Sure, I'll post here some examples:

**setTimeout**
I am currently trying to [fix an issue](https://github.com/open-telemetry/opentelemetry-js/issues/1494) with setTimeout in node10, which made me dive into context propagation across timers. Currently, context is propagated across timers which makes sense in my opinion:
[code]
`timer span` is the child of `main` span. But what about this common pa

[2020-09-09 10:38] habmic commented on #1479
Hi All, looking at this issue I wonder if it is something that OpenTelemetry as the infrastructure layer should resolve? I think this question of whether those spans should have child <> parent relation or sibling is a question of perspective rather than real technical questions.

In the technical aspect, one middleware is invoking the next meaning they have child <> parent relation. But each one

[2020-09-09 11:50] blumamir opened #1507 "zipkin exporter fails with http 400 when resource attribute contains boolean value"
### What version of OpenTelemetry are you using?
v0.11.0

### What version of Node are you using?
v12.18.3

### What did you do?
added boolean value to the resource labels, which is [valid value according to the type](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-resources/src/types.ts#L21)
[code]
And exported a span generated with this resource to [zipkin A

[2020-09-09 12:48] vmarchaud commented on #1479
You shouldn't have issues if you are using native Promise though. Context propagation should works across multiple calls. If not, i believe this is a bug.

That would require to access to the context stack (which is internal currently). I think it's worth checking how other languages handle those cases and if it's a common pain, see how the spec could be changed to allow this.

[2020-09-09 13:11] dyladan commented on #1479
Make sure you are calling `enable` on the context manager. I had a similar issue when I forgot that before.

[2020-09-09 16:29] dyladan commented on #1502
We are going to document that an end user application using the Zone context manager should target ES2015. If that is not possible, we will recommend users manually propagate context. Dropping implicit context management is not feasible as it would possibly violate spec, and much of the code is shared with node.js which propagates context without problems.

[2020-09-09 16:44] #591 closed

[2020-09-09 16:45] dyladan opened #1511 "Enable AsyncLocalStorageContextManager by default in some cases"
_Originally posted by @vmarchaud in https://github.com/open-telemetry/opentelemetry-js/issues/591#issuecomment-688837592_

[2020-09-09 18:17] obecny commented on #1464
This is not the issue with opentelemetry-js but rather how the docker and https://github.com/open-telemetry/opentelemetry-collector is working, @dyladan not sure if we can move this issue to a proper repo otherwise we can't do much about it

[2020-09-09 18:21] obecny commented on #1459
@vmarchaud I think this will be irrelevant once the global error handler is implemented -> https://github.com/open-telemetry/opentelemetry-js/issues/1415

[2020-09-09 18:22] Hongbo-Miao commented on #1464
@obecny you are right! Sorry, I created the issue when I just start to learn OpenTelemetry. I will move to that repo.

[2020-09-09 18:22] #1464 closed

[2020-09-09 18:26] vmarchaud commented on #1459
Well on the error handling side yes, one thing we could add on the error still is the response body.

[2020-09-09 18:27] Hongbo-Miao commented on #1464
Moved to https://github.com/open-telemetry/opentelemetry-collector/issues/1752

[2020-09-09 18:39] dyladan commented on #1464
For the record issues can indeed be moved, but you must have admin access on both the source and the target. Since we only have access on JS repos, we can't transfer issues to collector.

[2020-09-09 20:20] dyladan commented on #1499
Fixed in #1500

[2020-09-09 20:20] #1499 closed

[2020-09-09 22:08] dyladan opened #1513 "Use hex encoding for trace id and span id fields in OTLP JSON encoding"
https://github.com/open-telemetry/opentelemetry-specification/pull/911

[2020-09-09 22:09] dyladan commented on #1513
@obecny would you like to handle this since you are the most familiar with the OTLP implementation for JS?

[2020-09-11 16:30] dyladan opened #1521 "Consider removing the SIGTERM handler"
While working on #1501, I have become more and more convinced that we should remove the SIGTERM listener from our library. Regarding unload in the browser, I am less sure because I have less expericne, but I am leaning towards removing that too. My recommended solution would be to document how the exposed shutdown methods can be used within signal handlers of end-user applications.

## Reasoning (

[2020-09-11 17:02] obecny commented on #1521
There is a config param for that so you have to enable it explicitly to be able to use this whole mechanism. Browser just mimics this behaviour to be compatible on that too. I might imagine some people might use it but the majority of people might not. We are supporting now both cases so if you enable this you should know what you doing. I think after your changes you are now always registering th

[2020-09-11 18:53] dyladan commented on #1521
We still can't know if we should call process.exit or not in our handler. We could add a config for that, but then we're not simplifying the process for them at all. Is it really that much easier to have users pass `gracefulShutdown = true` than have them register a signal handler like `process.on("SIGTERM", () => { sdk.shutdown(); /* other shutdown tasks */ process.exit(0); });`?

[2020-09-11 18:59] dyladan commented on #1521
If we decide not to call process.exit, it will be impossible for the user to register their own handler which calls exit without the possibility of exiting while we are still shutting down the SDK.

If we decide to call process.exit, we may exit the process while the user has other signal handlers running and interrupt their work.

[2020-09-11 19:10] obecny commented on #1521
I think that's a perfect example and argument for not having the graceful shutdown. My understanding is / was that the graceful shutdown is something that was required from a spec etc. and that's why it was implemented. But it looks like it is not. If that is the case then I can just regret it hasn't been caught earlier especially that is causing some pain now :/. Personally if we don't need that

[2020-09-11 21:54] Flarna commented on #1521
SIGTERM is only one of the reasons why a process ends. There are also
* no handles left in libuv (e.g. all servers closed,...)
* `process.exit()` is called
* uncaught exception (and no `uncaughtException` listener is set)
* and unhandled rejection restults in an uncaught exception if command line argument `--unhandled-rejections=strict` is used
* Fatal errors
* SIGBREAK in windows

With quite some

[2020-09-11 21:57] obecny opened #1523 "NoopLogger"
Should we move the `NoopLogger` from core to api as we have with other noop implementations ?

[2020-09-12 00:09] Flarna commented on #1494
I think the problem is that `AsyncHooksContextManager` starts with an empty `_stack` instead `[Context.ROOT_CONTEXT]`.

1. Script starts with an empty context stack
1. `tracer.withSpan` creates and activates `ContextA` referring to parentSpan
1. Timer1 creates a `Timeout` and a `TIMERWRAP` resource and `ContextA` is propagated as expected into both new async ids
1. when timer2 is started context s

[2020-09-12 00:20] Flarna commented on #1479
I don't think so. Just think about how the code would look like with `await` or in a language where such calls are sync:
[code]
For me the root is the incoming request and it has two childs. The timing tells if they run in parallel or sequential.
But the DbRequest is not a subpart of the ClientRequest, its a followup - a sibling.

[2020-09-12 09:20] Flarna commented on #1494
Thinking once more about this the proposed change above may result in quite some side effects and even context loss where context is propagated correct now.
A simpler, isolated solution would be to just ignore `TIMERWRAP` in `AsyncHooksContextManager`. it's an internal object and context propagagtion works anyway because of the `Timeout` object used by each timer.

[2020-09-12 14:56] vmarchaud commented on #1494
@Flarna Thanks for diging into this issue, do you plan to make a PR to fix this ? Otherwise i'll implement what you suggested

[2020-09-12 15:01] vmarchaud commented on #1124
I think we should really fix this, its really common for people to think the sdk is not working when seeing those logs. Could we just log those as debug ? cc @open-telemetry/javascript-approvers

[2020-09-12 15:09] naseemkullah commented on #1124
FWIW I do find them useful to know which plugin I forgot to install. But it does not merit Error level as @vmarchaud  mentioned. Warn, Info or Debug are all more appropriate than Error.

[2020-09-12 15:13] tannaga opened #1524 "Class extends value undefined is not a constructor or null"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
v0.11.0

### Please provide the code you used to setup the OpenTelemetry SDK
I am using [tracer-web](https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/tracer-web) example.

### What did you do?
I am trying to play around with exporters. I tried out the [opentelemetr

[2020-09-12 15:15] naseemkullah commented on #1124
It's probably more Warn worthy for non default plugins that are explicitly enabled but not found, but implementing that check for explicitly enabled might be more logic than its worth. Let's just choose A lower level for 'em all.

[2020-09-12 15:22] vmarchaud commented on #1524
/cc @obecny

[2020-09-12 15:25] obecny commented on #1524
tracer-web - proto and grpc is not supported in web so only ` opentelemetry-exporter-collector` can be used in wweb, the proto adn grpc is for node only

[2020-09-12 17:20] tannaga commented on #1524
thank you @obecny
Is it something open for contribution?

Also I tried the proto in [`basic-tracer-node`](https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/basic-tracer-node) example I am getting the below error

[code]

[2020-09-13 08:14] Flarna commented on #1494
@vmarchaud I will create a PR after the weekend

[2020-09-13 12:22] vmarchaud commented on #1332
I'll go ahead and close this since i don't believe the problem comes from the the sdk itself, feel free to reopen if you believe its not the case.

[2020-09-13 12:22] #1332 closed

[2020-09-13 12:42] vmarchaud commented on #1124
Yeah my main issue is that when a default plugin is added, i need to add an entry in the tracing sdk to ignore this plugin specially. There is currently 13 default plugins, so by default if someone just want to use the `http` one, there will be 12 error logs at startup.

That would have been the best solution but since the config are merged there no way at the plugin loader level to know if the pl

[2020-09-13 16:57] legendecas opened #1528 "[Metrics] Metrics SDK export pipeline tracking issue"
As controllers are responsible for coordinating the Accumulator, Processor, and Exporter components in an export pipeline, it is important to continue the work of https://github.com/open-telemetry/opentelemetry-js/pull/1017 before we have a spec of the solid definition of such pipeline.

Another important change with the latest [spec of metrics sdk](https://github.com/open-telemetry/opentelemetry-

[2020-09-14 05:53] Flarna opened #1529 "add a .gitattributes file and specify line endings for generated js files to LF only"
Currently it depends on OS and git settings if CRLF or LF is used for cloned repos:
* Windows and git setting `core.autocrlf=true` results in CRLF
* Windows and git setting `core.autocrlf=input` results in LF
* Linux uses LF only

The version script uses `os.EOL`, therefore users with `core.autocrlf=input` end up with modified version.ts files after `npm install`.
lerna uses LF only so during `ler

[2020-09-14 12:27] dyladan commented on #1261
@mihirsoni can you comment on this issue so I can assign it to you?

[2020-09-14 17:04] mihirsoni commented on #1261
@dyladan  sure. I have already raised PR for the same.

[2020-09-14 17:09] dyladan opened #1533 "Handling of async resources"
I am creating this issue in the JS repo so we can discuss, but I believe this may also require a spec change.

In JS, in some cases it is impossible to gather resources synchronously. For instance in GCP, it is required to make a call to a remote endpoint, which cannot be done synchronously. For this reason, our resource detectors are asynchronous. Currently, the resource is provided to the Tracer

[2020-09-14 17:09] dyladan commented on #1261
That's why I wanted to assign you :)

[2020-09-14 17:46] dyladan commented on #1479
I also would think of it this way.

[2020-09-14 17:48] dyladan commented on #1523
Logging is an implementation detail of the SDK. The API has no bearing on it. The SDK internals could be changed to have different logging levels or behaviors with no difference in the public API.

[2020-09-14 18:11] obecny commented on #1124
FYI I'm refactoring default plugin instrumentation (started by @dyladan ) once this is done this might go away as the approach for plugin will be different. If this is not urgent you might think of delaying that until then.

[2020-09-14 19:37] Flarna commented on #1533
Would be interesting how other techs have solved this problem. I assume GCP resource detection via HTTP call is not JS specific.
Sure, other techs can do outgoing calls sync but on the other hand it's a race with spans created by other threads. I guess blocking all Java threads till resource detection is finished is also no option.

I agree with @dyladan that resources and spans should be decouple

[2020-09-14 19:40] dyladan commented on #1533
Asking this question in the maintainers gitter channel

[2020-09-15 02:00] obecny commented on #1523
but then we keep other noop implementations in api. Simple example: To avoid duplications if I want to implement a new plugin or anything else based only on api, I cannot define a default NoopLogger without using SDK, and because it is not in api I will have to import nooplogger from sdk or create a new one. This is jsut wrong and imho api should provide a default implementation for that.

[2020-09-15 02:09] obecny commented on #1533
My 3 cents:

Imho exporter should not care about resolving anything - whatever comes it will be send to the backend and nothing more. The point 5 should be changed to
`Make resource global and include it as a top-level API. On first export, the ***SPAN PROCESSOR*** resolves the glo...`

[2020-09-15 07:37] blumamir commented on #1479
This code is a syntactic sugar for the following code:
[code]
Each operation relays on the previous operation result (even if the result data is not used, it still relays on it to succeed and not throw). I don't think there is one right answer thought. Maybe the solution is to allow users to configure if they want the callback / promise to be run in the context of the plugin span or not.

Somethin

[2020-09-15 07:47] vmarchaud commented on #1124
That's fine for me, waiting for your PR then

[2020-09-15 08:12] Flarna commented on #1479
Yes, it relies on the result of the previous but it is not a part of the operation. Consider a outgoing http span and the corresponding incoming - they have a parent-child relationship as the one is a part of the other.

I don't think a TracerProvide global setup would be a good choice. If we really allow users to configure how spans are linked I would expect we need this on plugin level as they h

[2020-09-15 08:12] blumamir commented on #1479
I am using native promises, but patch the promise so the `then` and `catch` will be run with the span context:
[code]

Would love to discuss better alternatives to do the binding to the promise which supports chining

[2020-09-15 08:30] blumamir commented on #1479
I tend to agree in this case, although I believe it should be configurable. Maybe the default should be not to set context on outgoing callback, and user can choose to keep the default behavior in plugin configuration?

[2020-09-15 09:25] blumamir commented on #1494
Thanks @Flarna  for investing time and effort to debug and create a PR.
I really like the original idea, because currently async resource run with the context in which they were created if a context exists, and it makes sense to me that if no context existed, they should run with root context for consistency and uniformity.

I too think it's a dangerous change, but curious if you have some example

[2020-09-15 09:43] Flarna commented on #1494
I have no example but it would be easy to construct one. But such artificial samples are not really of help because in Javascript it's always easy to break half of the world... I have no real world example I could refer to.

Main reason why the current PR is only addressing `TIMERWRAP` is to get this problem fixed without extra risk.

The other part - to pass `ROOT_CONTEXT` if nothing else is set

[2020-09-15 12:49] vmarchaud commented on #1494
@Flarna We already fallback on `ROOT_CONTEXT` if there none in the stack ([here](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-context-async-hooks/src/AsyncHooksContextManager.ts#L38)), if i remember correctly i had other issues if i was setting the root as the first element on the stack.

[2020-09-15 13:09] dyladan commented on #1533
Making the span processor sync reintroduces the same problem that the export pipeline is now async. Calling `span.end` then immediately `exporter.forceFlush` will not work.

[2020-09-15 13:11] dyladan commented on #1533
Recommended by @trask in the maintainers channel:

Make the Resource a lazy wrapper around deferred resources and make `Resource.getAttributes` async.

[2020-09-15 13:28] Flarna commented on #1494
@vmarchaud Yes, that's true. But if there is already a context active then this one is used.
So in case of `TIMERWRAP` => `Timeout` the `TIMERWRAP` before callback pushed it's stored context on stack. The `Timeout` before callback didn't change the stack. As a result top of stack is the context from `TIMERWRAP`.

The same use case seen from resource point of view would be different. The active res

[2020-09-15 14:08] Flarna commented on #1533
`forceFlush` is on `SpanProcessor`. The spans arrive sync there and it can await the resource for calling export.

[2020-09-15 15:04] obecny commented on #1533
But it doesn't resolve any of our problem. It doesn't matter what will be the interface of resource. If the resource is async it needs to be resolved somewhere somehow at some point. Attaching resources at the very beginning to the span is imho wrong then. I would say that the span should be possible to serialize at any moment. Spec requires us to attach resource to every exported span, how we do

[2020-09-15 16:28] Flarna commented on #1533
@obecny Resource is imutable according to spec. Therefore your usecase of the service update doesn't apply to resource. Such information needs to be transferred by some other mechanism.

In general the resource is needed together with the spans as they identify the thing monitored. a span alone has just a traceId/spanId, only the resource give the context to which thing a span belongs.

[2020-09-15 17:40] dyladan opened #1534 "Update getting started guide to use node-sdk package"
The current getting started guide assumes the user will be starting using the SDK building block packages like tracing, node, and metrics. In the future, it is expected most users will use the SDK package as a starting point and it would be better for the getting started guide to reflect that.

[2020-09-15 21:53] obecny opened #1535 "http plugin - context propagation from headers for outgoing requests"
Discovered a bug with context propagation for outgoing request.
When setting a headers that are compatible B3 headers, the http plugin should create a new span using the parent context from headers. Exactly as it is done in our `_incomingRequestFunction`.
Without this the newly created span is not bound to parent context.

[2020-09-16 14:05] blumamir opened #1538 "exporter-collector-grpc && exporter-collector-proto: missing protos directory in v0.11.0 npm distribution"
### What version of OpenTelemetry are you using?
v0.11.0

### What version of Node are you using?
v12.18.3

### What did you do?
After upgrade to v0.11.0, I tried to use the grpc exporter, and got the following error in log:
[code]

When I checked under the build directory of the npm distribution of `@opentelemetry/exporter-collector-grpc`, it is missing the `protos` folder.
I found the following

[2020-09-16 14:14] vmarchaud commented on #1538
@blumamir Do you want to work on fixing this ?

[2020-09-16 14:22] blumamir commented on #1538
@vmarchaud Yes I'll create a PR soon

[2020-09-16 15:29] obecny commented on #1538
@blumamir it will be the sameI have updated the title it is the same for proto

[2020-09-16 15:32] obecny commented on #1524
fix is here https://github.com/open-telemetry/opentelemetry-js/pull/1539

[2020-09-16 15:45] obecny commented on #1524
Contributions are always welcome. It would be a separate package though, are you thinking about proto over xmlhttprequest or grpc as well ? It would require extra packages to be included which might be heavy for web. If you think this is something that can be useful please create a new issue and describe it. This way other people can comment it, thx

[2020-09-16 15:50] obecny commented on #1507
@blumamir are you suggesting that resource attributes should be also converted to string or reqular attributes should not ?

[2020-09-16 23:24] mwear opened #1542 "Single header B3 support"
### Is your feature request related to a problem? Please describe.

OpenTelemetry JS does not have single header support for B3. Other languages do:

* [go](https://github.com/open-telemetry/opentelemetry-go/blob/master/propagators/b3.go)
* [python](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/propagation/b3_format.py)
* [java](ht

[2020-09-16 23:25] mwear commented on #1542
I can start working on this. Let me know if there are any concerns about the idea, or approach.

[2020-09-17 01:42] maxmil7 commented on #1479
+1  I think this would be a great option for plugins which create and enter with a new span context. At least for http plugin, we might have to account for the following scenarios:

[code]
[code]
and promised based request libraries

Also, like the idea of setting `outGoingCallbackContext` to false at least for the `http` plugin

[2020-09-17 04:23] anuraaga opened #1544 "Confirm specification for runtime information"
open-telemetry/opentelemetry-specification#882 is adding a list of well-known runtime information to the specification to populate in the Resource. The author (me) only knows Java well and has guessed at helpful values for other languages. Please check the spec and update it if there is anything that should be fixed or could be more clear. Thanks!

[2020-09-17 06:43] Flarna commented on #1479
Please note that even if we add this option it will not work together with `await`.

It is possible to monkey patch `catch`/`then` on native promises but `await` uses the unpatched version.
So depending on how user writes the code the span linking may differ even if the difference in the usercode is just "boilerplate" code as mentioned above.

Besides that such configurations make it harder for to

[2020-09-17 06:49] blumamir commented on #1507
I suggest that resource attribute be converted to a String, as they are copied into zipkin `tags` which return error if value is not String.
Regular attributes, status code, and status message are already converted to String. It looks like the resource attributes where missed.

[2020-09-17 08:30] vmarchaud commented on #1479
I believe a fix is possible within the express plugin by storing the http span, however i don't see how it would be possible to implement a generic option inside the http plugin.

[2020-09-17 08:44] blumamir commented on #1479
You mean those tools won't be able to work consistently on traces and will need to assume both cases for the two possible configuration options?
In that case, I think the best solution is to change current behavior and not set span context on outgoing http callback.

[2020-09-17 08:50] blumamir commented on #1479
I think we need to remove the outgoing http span context from the event emitter callbacks as well. What do you think?

[2020-09-17 10:52] Flarna commented on #1479
I think so, or at least it's much harder for them. if child and sibling spans are mixed based on a configuration not known/supported within the tool they can not do any analysis based on this.
Syncing plugin configs with tools could improve this but in general these two items should work independent. And usually they are created by different people.

[2020-09-17 15:30] MarkSeufert commented on #1529
Can I tackle this one? cc - @alolita

[2020-09-17 16:24] maxmil7 commented on #1479
Hmm, so that would mean instrumenting the http calls manually instead of using the plugins correct?

Agreed, it might be possible. However, I think the issue will surface outside of express middlewares as well. Wherever we start chaining the http calls

If everyone agrees, I think this might be a good approach
@Flarna if the default behavior is not to set context for outgoing http callback, then i

[2020-09-17 16:36] Flarna commented on #1479
I think so yes. I may be needed to set the parent span of the HttpClient span as context in callbacks/emitter of the client req/res.

[2020-09-18 02:01] mwear commented on #1534
Does it make sense to do this before https://github.com/open-telemetry/opentelemetry-js/pull/1484 lands?

[2020-09-18 08:43] vmarchaud commented on #1479
I believe it's only a problem because express middleware are synchrone and call themselves. This would not be a problem in koa for exemple where each middleware is called asynchronously.

[2020-09-19 15:59] vmarchaud commented on #1479
I feel dumb for not seeing that the express plugin wasn't enabled in the code you given and that the problem was simply the context set by the http plugin. Anyway i've opened a PR to change the behavior.

[2020-09-19 16:14] vmarchaud opened #1547 "chore: remove `x-opentelemetry-outgoing-request` http header"
Since https://github.com/open-telemetry/opentelemetry-js/pull/1344 has been merged, we can remove that header.

[2020-09-20 15:21] galaxypandathatsalsoaunicorn opened #1549 "Bug report"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
Not sure
### What version of Node are you using?
Not sure
### Please provide the code you used to setup the OpenTelemetry SDK
?
### What did you do?
Apk
If possible, provide a recipe for reproducing the error.

### What did you expect to see?
An AI eventually
### What did you see instead

[2020-09-20 15:23] vmarchaud commented on #1549
Please fill the template and state what the problem exactly

[2020-09-21 00:20] zomble commented on #1461
For me, when following https://github.com/open-telemetry/opentelemetry-js/blob/master/getting-started/ts-example/README.md#getting-started-with-opentelemetry-js-typescript but then moving to set the specific plugins I want to load, specifying `http` & `https` gives me the same error as described above. Which led me to this issue.

[2020-09-21 16:18] #1494 closed

[2020-09-21 16:32] dyladan commented on #1538
Can this be closed now?

[2020-09-21 17:16] #1538 closed

[2020-09-21 18:11] dyladan commented on #1549
I believe this person is just trying to be funny by wasting resources.

[2020-09-21 18:11] #1549 closed

[2020-09-21 19:28] dyladan commented on #1461
@maxmil7 sorry this took so long but I opened a PR

[2020-09-21 19:28] #1521 closed

[2020-09-21 20:23] #1261 closed

[2020-09-21 21:13] #1340 closed

[2020-09-22 02:41] maxmil7 commented on #1461
No problem. Thanks @dyladan!

[2020-09-22 12:28] #1507 closed

[2020-09-22 17:48] #1461 closed

[2020-09-23 15:20] vmarchaud opened #1552 "Spans's parent must be passed as Context instead of Span(Context)s"
spec: https://github.com/open-telemetry/opentelemetry-specification/pull/875

[2020-09-25 00:03] carlo-808 commented on #1249
Greetings, I work with @michaelgoin at New Relic and he and I both decided I could take this issue to get more familiar with the project.  Can someone assign me this issue?  I'm looking forward to contributing to the project.  Thanks!

[2020-09-25 01:27] mwear commented on #1542
As I was digging into this, I realized there is quite a bit of variation in how different implementations handle the b3 trace flags and parent span id propagation. I opened this issue: https://github.com/open-telemetry/opentelemetry-specification/issues/1004 as a result.

[2020-09-25 13:59] dyladan opened #1554 "Disallow null attribute values"
https://github.com/open-telemetry/opentelemetry-specification/pull/992

[2020-09-25 15:50] reselbob opened #1556 "Help? Having trouble under Docker Compose getting trace information from my app into jaeger"
Hi:

I have a simple Node.js app the user the Open Telemetry Jaeger exporter to send trace information into Jaeger. It runs fine when I fire up the Jaeger as a Docker container then run the code from my machine's command line against `localhost`. However, when I try to run both the app and jaeger under Docker Compose within a Docker Compose network, the service registers and is apparent in the Jae

[2020-09-25 18:18] dyladan commented on #1556
Hmm nothing strikes me as obviously wrong with your docker-compose file. Have you tried enabling debug logging?

[2020-09-25 18:40] reselbob commented on #1556
@dyladan can you provide a link that tells me how to enable debug logging? Also, thanks for taking the time out of your day to help me out.

[2020-09-25 20:15] dyladan commented on #1556
Sure! There is no link I think, but the SDK exports a ConsoleLogger, which can be configured like this:

[code]

[2020-09-25 20:43] reselbob commented on #1556
Thank you @dyladan !

[2020-09-25 22:26] reselbob commented on #1556
@dyladan I am wondering if I could get some more detailed help from you. But, I don't feel at all comfortable asking for this help for free. If we can work out something, let's figure out a way to connect.

[2020-09-28 03:25] yiyu0x opened #1557 "Is it possible use the same trace through the Frontend to the Backend?"
As title, is it possible use the same trace through the Frontend to the Backend?

My Frontend is a web app, using `@opentelemetry/web`, Backend is a node app, using `@opentelemetry/node`. From my expectation, Jaeger should receive a trace that begins from my frontend to my backend.

[2020-09-28 07:14] vmarchaud commented on #1557
You'll need to setup the Jeager propagator, the doc is here: https://github.com/open-telemetry/opentelemetry-js-contrib/tree/master/propagators#jaeger-propagator

[2020-09-28 17:51] #1554 closed

[2020-09-28 18:04] mwear opened #1558 "wrap extracted span context in a propagate only span"
This spec change says that an extracted span context should be wrapped in a propagate only span that is stored in the context. This simplifies the current span logic to only have to worry about a current span, rather than having a special case for an extracted span context in addition to the current span.

https://github.com/open-telemetry/opentelemetry-specification/pull/994

[2020-09-28 22:43] mwear commented on #1558
See also: https://github.com/open-telemetry/opentelemetry-specification/issues/949

[2020-09-28 23:03] reselbob opened #1559 "Will to pay for some help resolving an issue I am trying to resolve running OpenTelemetry against Jaeger under Docker-Compose"
This is the issue.

[Having trouble under Docker Compose getting trace information from my app into jaeger](https://github.com/open-telemetry/opentelemetry-js/issues/1556#issuecomment-699133625)

I have some budget money available to get it resolved.

[2020-09-29 01:59] yiyu0x commented on #1557
Thanks for your help, but my backend seems not able to handle tracings from Traefik properly.
The Incoming headers have `uber-trace-id`, but my `server.js` seems not recgonizing the format.
In every incoming request, my `server.js` creates a new tracing. From my expectation, `server.js` should reuse the Traefik's `uber-trace-id`.

tracer.js:
[code]

server.js
[code]

[2020-09-29 12:17] vmarchaud commented on #1557
@yiyu0x Could you attach the output of the server ? Specially the headers part ?

[2020-09-29 12:19] vmarchaud commented on #1558
If i'm not mistaken that's exactly what https://github.com/open-telemetry/opentelemetry-js/pull/1527 is supposed to solve ?

[2020-09-29 22:35] xirzec commented on #1378
This looks like the same request as #1253

[2020-09-30 16:10] obecny commented on #1456
@vmarchaud hey, are you still working on that ?

[2020-09-30 16:10] obecny commented on #1487
@legendecas hey jsut wanted to ask what is the current status of this ticket, thx

[2020-09-30 16:11] obecny commented on #1074
@michaelgoin hey just wanted to ask what is the current status of this, thx

[2020-09-30 16:14] vmarchaud commented on #1456
I mean the PR is ready here: https://github.com/open-telemetry/opentelemetry-js/pull/1527

[2020-09-30 16:19] obecny commented on #1456
a yes, thx, we just need one more approve and we are good to go

[2020-09-30 16:43] michaelgoin commented on #1074
Hey @obecny, there were a few plugin changes in-play so I held off on this a bit and then got busy.

I'm probably going to hand this off to a coworker to be done soon. Otherwise, I'll tackle soon so it doesn't hold things up.

[2020-10-01 02:02] aabmass opened #1561 "Metric ExportResult other than SUCCESS causes UnhandledPromiseRejectionWarning: undefined"
I was seeing `UnhandledPromiseRejectionWarning: undefined` warnings when using a metric exporter. Running node with `--trace-warnings` gives a little more information but not a real trace unfortunately:

[code]

Eventually, I found the warning to be coming from exporters giving status of `ExportResult.FAILED_*` (anything other than `SUCCESS`). `PushController` just `reject()`s the promise here:

h

[2020-10-01 07:54] vmarchaud commented on #1561
This will be fixed once we merge https://github.com/open-telemetry/opentelemetry-js/pull/1514

[2020-10-01 14:09] #1547 closed

[2020-10-01 17:19] legendecas commented on #1487
@obecny I filed a PR #1562, please take a look at your convenience :)

[2020-10-01 19:03] #1511 closed

[2020-10-01 19:11] #1456 closed

[2020-10-01 19:38] vmarchaud commented on #1561
@aabmass Not in the current state i agree but this promise should be catched then sent to the global error handler (which the PR i mentionned implement)

[2020-10-02 00:23] mwear commented on #1561
Hello. Author of #1514 here. I just wanted to check in to see what the best way to solve this issue is. As you point out @aabmass, there isn't really a handle on an error to log in the push controller. It seems like the error handling needs to come a level further up, like in the `export` method of the given exporter. Out of curiosity, are you using the collector exporter, or prometheus exporter (

[2020-10-02 00:26] aabmass opened #1564 "SumObserver/UpDownSumObserver add() should observe a sum directly"
Apologies if there is an existing issue.

### What version of OpenTelemetry are you using?
v0.11.0

### What version of Node are you using?
v10.21.0

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?
Full typescript repo script:

[code]

### What did you expect to see?
The observers should be observing a sum value **directly**. The exported value shou

[2020-10-02 09:51] chgl opened #1565 "Allow setting the exported service name using the JAEGER_SERVICE_NAME environment variable"
### Is your feature request related to a problem? Please describe.

Quite a few options for the Jaeger exporter can already be configured using the JAEGER_ environment variables. However, the service name cannot.

### Describe the solution you'd like

Allow setting the exported service name using the JAEGER_SERVICE_NAME environment variable.

### Describe alternatives you've considered

Manually s

[2020-10-02 17:39] aabmass commented on #1561
@mwear I'm maintaining the Google Cloud Monitoring exporter. This comes up from [here in the exporter](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/f24701132053b1ddb7db5ff6c7598b72f2a02ac6/packages/opentelemetry-cloud-monitoring-exporter/src/monitoring.ts#L138).

We sometimes want to retry so we call the callback with `ExportResult.FAILED_RETRYABLE`, although I see this

[2020-10-03 16:59] #1487 closed

[2020-10-03 20:33] tannaga commented on #1524
Sorry for the delay in response. Yes I am thinking about using proto over http1.1 as well as in future with grpc.
Will create a new issue and we can track it there.
Thank you

[2020-10-03 20:33] #1524 closed

[2020-10-04 19:43] tmc opened #1568 "opentelmetry-collector exporter failing with "cannot unmarshal ID from string""
See https://github.com/open-telemetry/opentelemetry-collector/issues/1899

### What version of OpenTelemetry are you using?
0.11.0

### What version of Node are you using?
v14.8.0

### Please provide the code you used to setup the OpenTelemetry SDK

[code]
### What did you do?
Sent test spans via:

[code]

### What did you expect to see?

Sucessful spans written to opentelemetry-collector.

### Wh

[2020-10-05 13:53] tigrannajaryan commented on #1568
@open-telemetry/javascript-maintainers Collector now expects Trace ID and Span ID to be hex-encoded as it is defined in the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/otlp.md#request

[2020-10-05 16:18] mwear commented on #1561
Thanks for the information @aabmass. The reason I ask is that in #1514 the recommendation is to add a `catch` and use the global error handler in the `PushController` here:

https://github.com/open-telemetry/opentelemetry-js/blob/d8b1be8cc9918c76b9063780cd40f857332ef5b0/packages/opentelemetry-metrics/src/export/Controller.ts#L48-L60

The code path in the PushController rejects the promise based on

[2020-10-05 16:57] vmarchaud commented on #1561
@mwear Isn't it a problem with the spec then ? In the case of a `FAILED_NOT_RETRYABLE` i think the global error handler should be used which implies having the error in the `resultCallback`, [the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#exportbatch) currently allow only a "result" that can be either a success or a failure.

Note: th

[2020-10-05 16:58] vmarchaud opened #1569 "ExportResult.FAILED_RETRYABLE isnt spec compliant"
Note: the spec declare that any retry logic should be handled by the exporter so the result `FAILED_RETRYABLE` isn't spec compliant currently.

_Originally posted by @vmarchaud in https://github.com/open-telemetry/opentelemetry-js/issues/1561#issuecomment-703758889_

[2020-10-05 18:32] michaelgoin commented on #1074
@obecny

Is there any preference between the two possible conventions?

1. `opentelemetry-instrumentation-[item]`
2. `opentelemetry-[item]-instrumentation`

I'd normally lean towards option 1, as that is closer to the mostly used existing standard (`opentelemetry-plugin-[item]`) and leaves the differentiating item til the end. That being said, it looks like the Contrib repo has some instrumentatio

[2020-10-05 18:59] mwear commented on #1561
It looks like the go implementation has what we ultimately want. The export result has both a code and a wrapper error: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#go-spanexporter-interface. I think this is a bit a refactor and too much for #1514, but something we can consider.

[2020-10-06 04:03] tmc commented on #1568
Why was this change made? it seems like a departure from the protobuf json representation standard.

[2020-10-06 08:38] pauldraper opened #1571 "Publish new version"
It's been over a month since the last version (0.11.0).

There have been a number of changes since then, particularly with metrics.

[2020-10-06 13:16] tigrannajaryan commented on #1568
Discussion was here: https://github.com/open-telemetry/opentelemetry-specification/issues/786

[2020-10-06 17:00] aabmass commented on #1569
Just to clarify, `FAILED_RETRYABLE` will be removed altogether?

[2020-10-06 17:01] aabmass commented on #1561
@mwear for this issue specifically I think adding a `catch()` in PushController and logging a static string would be a big improvement. It took me quite a while to track down where `UnhandledPromiseRejectionWarning: undefined` was coming from (even with `--trace-warnings`). I can add specific logging to the Google exporter until a wrapped error is possible.

I also noticed #987 which could be a pa

[2020-10-06 17:22] dyladan commented on #1074
Option 1 allows all instrumentations to be grouped together when in a sorted list with other types of packages. It also follows established naming convention of `opentelemetry-{component type}-{name}` used by other component types like exporters, context managers, and propagators.

[2020-10-06 17:23] dyladan commented on #1569
I believe that is the desired end-state.

[2020-10-06 17:25] dyladan commented on #1564
The sum observer aggregates by adding. It seems to me you are looking for the ValueObserver

[2020-10-06 17:54] michaelgoin commented on #1074
Agreed, just wasn't sure if there was specific direction that resulted in 2. for those contrib libraries.

Sounds like I'll move forward with 1.

[2020-10-06 18:17] dyladan commented on #1568
@obecny was trying to implement the fix for this and removed calls to `core.hexToBase64` in `packages/opentelemetry-exporter-collector/src/transform.ts` but the grpc tests seem to fail. Seems like the conversion to base64 is required for grpc to correctly serialize the strings into byte arrays? Thought you might be better for this since you're more familiar.

[2020-10-06 18:48] obecny commented on #1568
collector and proto is instantly upgrading, our collector has been tested again ver 0.6 of collector (not proto). If you are using the latest there might've been already some changes. We are not supporting v 0.5.0 of proto. I'm in a process of updating to that now, and there are some significant changes especially for metrics. If you want to use it please use ver. 0.6 to see if the error is still

[2020-10-06 18:49] obecny opened #1574 "update proto ver. 0.5.0 and collector"

[2020-10-06 20:55] DazWilkin commented on #1556
I observe the same behavior using @reselbob's code and I'm unable to find issue with it (either).

I added @dyladan's `ConsoleLogger` but this generates no logs; I ran the `jaegertracing/all-in-one` container with `--log-level=debug` and this provided more details.

Using a single docker-compose file, I added HotRod (and a Golang example) and both correctly list when using "Find Traces".

I suspec

[2020-10-06 21:39] carlo-808 commented on #1249
@dyladan I have some questions about this issue.  Should we be calculating the value for `request_content_length` or just use the `content-length` header value to populate `request_content_length`?  For `request_content_length_uncompressed`, do we populate this value with the `content-length` header if no transport encoding is used OR should it be calculated as well?

[2020-10-06 23:12] aabmass commented on #1564
@dyladan I'm not trying to instrument anything in particular, just noticed that the implementation is different than my understanding of the spec. Have you seen [this part](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#sumobserver) (emphasis is mine):

As well as this part:

[2020-10-06 23:17] Obi-Dann opened #1575 "@opentelemetry/web does not work in web workers"
### What version of OpenTelemetry are you using?
0.11.0

### What version of Node are you using?
v12.18.3

### Please provide the code you used to setup the OpenTelemetry SDK
CodeSandbox editor url https://codesandbox.io/s/dark-brook-q5dmi?fontsize=14&hidenavigation=1&theme=dark
CodeSandbox preview  https://q5dmi.sse.codesandbox.io/

[code]

### What did you do?

Just load the page

### What did y

[2020-10-07 17:08] Asafb26 opened #1578 "baggage as CORRELATION_CONTEXT_HEADER instead of otcorrelations"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.11
### What version of Node are you using?
12
### Please provide the code you used to setup the OpenTelemetry SDK
[code]

Hello, I was planning to use open telemetry at my workspace but encounter an API issue between opentelemetry-ruby and opentelemetry-js - each of them uses a differe

[2020-10-08 00:13] mwear opened #1580 "Remove duplicate hostname resource attribute"
There were two host name attributes: `host.name` and `host.hostname`. This spec pr: https://github.com/open-telemetry/opentelemetry-specification/pull/838 removes the latter. We should do the same before usage proliferates.

[2020-10-08 01:39] mwear commented on #1558
@vmarchaud this is a little bit different. we're supposed to only store a current span in the context (not a span context). In case of an extracted span contexct, we should wrap the extracted context in a "fake" span and store that in the context. This will probably be an easier task with #1527 being completed.

[2020-10-08 07:22] vmarchaud commented on #1558
@mwear Got it, i have one question though: do we expect to be able to achieve this propagation only with the API ? Since we need context managers currently we are only able to do this with the SDK.

[2020-10-08 11:32] vishaltak opened #1582 "Jaeger Exporter Config not using Open Telemetry SDK environment variables standards"
- [ ] This only affects the JavaScript OpenTelemetry library
- [X] This may affect other libraries, but I would like to get opinions here first

While using OpenTelemetry Client for NodeJS and configuring it to use Jaeger Exporter, I have noticed that the exporter's config passed in the constructor can take a `host` parameter. This is the Jaeger Agent Host to be used. The default [here](https://gi

[2020-10-08 13:04] dyladan commented on #1558
@vmarchaud the API only propagation will not change. The difference is that when the propagator extracts a span context, instead of setting it on context using `setExtractedSpanContext` it will make a new nonrecording Span and store it as the active span.

[2020-10-08 13:07] dyladan commented on #1578
Thanks for the PR. That is the correct way to solve it.

[2020-10-08 18:07] vishaltak commented on #1565
@chgl - Should the environment variables be `OTEL_EXPORTER_JAEGER_*` as mentioned in the OpenTelemetry specification [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#jaeger-exporter) ?

Just trying to get information related to https://github.com/open-telemetry/opentelemetry-js/issues/1582

[2020-10-08 18:36] chgl commented on #1565
Interesting, thanks for pointing that out! I think ideally both `JAEGER_AGENT_HOST` and `OTEL_EXPORTER_JAEGER_AGENT_HOST` should be supported.

In this case though, there's no OTEL equivalent to the `JAEGER_SERVICE_NAME`, at least not yet: https://github.com/open-telemetry/opentelemetry-specification/issues/709

[2020-10-09 00:26] #1578 closed

[2020-10-09 05:15] vishaltak commented on #1565
What should be the precedence between the two? Jaeger has announced deprecation of it's agent/collector in favour of OpenTelemetry.

I could find `OTEL_JAEGER_SERVICE_NAME` in the Java SDK [here](https://github.com/open-telemetry/opentelemetry-java/tree/master/exporters/jaeger#configuration). I'm don't think it is consistent across the SDKs.

Also, the parameters used to intialize the Exporter are

[2020-10-09 05:15] TheAvalanche opened #1587 "Collector-exporter-node example is not working, no metrics are exposed"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.11.0
### What version of Node are you using?
v12.18.2
### Please provide the code you used to setup the OpenTelemetry SDK
`opentelemetry-js\examples\collector-exporter-node` (current git version `ae1185dbcdc41d666f7e9f47474ea8996dbc8968`)
### What did you do?
Followed the instruction i

[2020-10-09 13:23] #1542 closed

[2020-10-09 15:59] #1580 closed

[2020-10-09 17:50] obecny commented on #1587
I guess you are probably using the latest docker with collector 0.12 which is using proto ver. 0.5.0. If that is the case then you can either use ver 0.6 of collector or wait until this is going to be reviewed, merged and released -> https://github.com/open-telemetry/opentelemetry-js/pull/1588

[2020-10-12 12:40] ekremney commented on #1412
Hi @dyladan, any update on this one?

We're having the exact same problem (with webpack), auto-instrumentation doesn't work.

[2020-10-12 17:48] mwear opened #1590 "Extract B3 Propagator into its own package"
The B3Propagator is part of core, but according to the spec it should be distributed as an extension package.

[2020-10-12 19:04] michaelgoin commented on #1074
@dyladan @obecny I'm unassigned myself from this item so someone else can pick it up. I haven't been able to be as plugged in lately to maintain context and don't want to hold things up further.

[2020-10-12 20:40] mwear opened #1591 "Global error handler - default handler"
We recently added a global error handler in #1514. The default handler uses a `ConsoleLogger` at `LogLevel.Error`. This has the unfortunate side effect of spamming standard out during tests. Should we consider making the default global error handler a no-op instead?

[2020-10-12 20:42] obecny commented on #1591
my 3 cents: I would be in favor of having a noop as a default.

[2020-10-12 21:20] #1415 closed

[2020-10-12 21:20] #1317 closed

[2020-10-12 21:25] mwear commented on #1188
This is already being done and improvements are being discussed in #1533. Closing this issue.

[2020-10-13 16:31] #1479 closed

[2020-10-13 16:39] #1455 closed

[2020-10-13 18:33] madhusudhanjv opened #1593 "exporter-collector send beacon has limits and do not send all span traces"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
    "@opentelemetry/core": "^0.8.2"
    "@opentelemetry/exporter-collector": "^0.8.2",

### What version of Node are you using?
v14.11.0

### Please provide the code you used to setup the OpenTelemetry SDK
        const exporter = new CollectorExporter({
            serviceName: this.ser

[2020-10-13 18:46] obecny commented on #1513
@dyladan just to be sure, should I assigned this to you or I can commit fixes to proto update PR ?

[2020-10-13 20:34] obecny opened #1594 "Flaky test"
One test sometimes fails, doesn't happen very often - needs some investigations what can be the root problem for example:
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-js/5826/workflows/2f1a4ede-1de4-49e7-b2d4-2658855f9d3a/jobs/31354

[2020-10-14 07:35] vmarchaud commented on #1591
I think it would make sense in the test suite, however i believe we need to report errors for end user by default

[2020-10-14 11:17] Flarna opened #1596 "TraceState is mutated instead returning a new TraceState"
According to [spec ](https://github.com/open-telemetry/opentelemetry-specification/blob/f8ff8c36a53bb8255013406393db667ba1905de/specification/trace/api.md#tracestate) `TraceState` should be immutable and all mutating operations MUST return a new `TraceState`.

The [actual implementation](https://github.com/open-telemetry/opentelemetry-js/blob/be720b4f3eb7f3025888c9450cb3c6a2a7aecac3/packages/opent

[2020-10-14 15:35] Flarna commented on #1596
The use of `TraceState` together with `HttpTraceContext` seems to be problematic.

`HttpTraceContext` simply [serializes ](https://github.com/open-telemetry/opentelemetry-js/blob/be720b4f3eb7f3025888c9450cb3c6a2a7aecac3/packages/opentelemetry-core/src/context/propagation/HttpTraceContext.ts#L98) `spanContext.traceState`.

Therefore the caller of `inject` is responsible to get the needed data into

[2020-10-14 15:39] dyladan commented on #1596
I think this is an issue with the spec, not our specific implementation of it. Fortunately for us, nothing in JS is truly immutable 😉.

[2020-10-14 15:52] Flarna commented on #1596
Spec tells `Please note, since SpanContext is immutable, it is not possible to update SpanContext with a new TraceState. Such changes then make sense only right before SpanContext propagation or telemetry data exporting. In both cases, Propagators and SpanExporters may create a modified TraceState copy before serializing it to the wire.`.

From spec point of view it's allowed for a Propagator to c

[2020-10-14 15:57] bogdandrutu commented on #1596
@dyladan `TraceState` should also be `immutable` (do not offer mutators like `set` and `unset`, I know user can still access the internal member and change that) in order to have an `immutable` SpanContext (a.k.a SpanReference).

The mutators must either return a new object (copying everything from the parent) or you can use a Builder pattern or something similar that is idiomatic in JS

[2020-10-14 16:11] #1558 closed

[2020-10-14 16:40] Flarna commented on #1596
So in short to get my changes injected I have to:
- create a new `TraceState`
- create a new `SpanContext` which references above `TraceState`
- create a new `Context` which includes above `SpanContext` as current `Span` and pass it to `inject`

I think the last step is not possible as a `SpanContext` can't be converted into a `Span`. Besides that API offers nothing to put a `Span` on `Context` -

[2020-10-14 16:44] dyladan commented on #1596
After #1589 I believe step 3 is actually possible now.

[2020-10-14 17:57] Flarna commented on #1596
Ah yes, I looked into 0.11-
Quite a lot to do for just getting one more element propagated via TraceState.

[2020-10-14 18:05] bogdandrutu commented on #1596
Usually the TraceState should be changed when the Span is created not just before propagation, probably this is a bit of a unexpected behavior.

[2020-10-14 19:02] Flarna commented on #1596
@bogdandrutu As far as I understand spans are created by calling `tracer.startSpan()` and there is no parameter to define a new value for the `TraceState` used for the new span - it uses that one from parent or none.

Therefore I have to either "fake" a parent span with the new `TraceState` or create a dummy span for propagator as described above.

Another options would be to use a custom `Tracer`

[2020-10-19 11:36] #1574 closed

[2020-10-19 13:34] DisaPadla opened #1600 "Error loading @opentelemetry/plugin-http plugin"
# What version of OpenTelemetry are you using?
[code]
### What version of Node are you using?
`v14.8.0`
### Please provide the code you used to setup the OpenTelemetry SDK
[code]
### What did you do?

Just running my local server and get
[code]

### What did you expect to see?
plugin-http and plugin-https libraries should have registered without any error
### What did you see instead?
here was an

[2020-10-19 13:58] obecny commented on #1571
https://github.com/open-telemetry/opentelemetry-js/releases

[2020-10-19 13:58] #1571 closed

[2020-10-19 13:59] obecny commented on #1568
check latest ver. that has been released today (v.0.12.0)

[2020-10-19 15:08] obecny commented on #1564
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#interpretation
The 4 instruments have the same aggregation, if there is anything wrong in that documentation I think the best person to ask would be @jmacd , can you please share what's your take on this ?

[2020-10-19 16:11] DisaPadla commented on #1600
I found a solution. Sorry, my bad

[2020-10-19 16:11] #1600 closed

[2020-10-19 20:20] pauldraper commented on #614
If it's not used delete it.

Though two cents: plugins ought define separate interfaces with specific options.

[code]

[2020-10-19 21:09] #1486 closed

[2020-10-19 21:11] dyladan commented on #614
Yes this is the idea behind the new Instrumentation base. The old one unfortunately wasn't very flexible from a config/setup standpoint, but the new one will work exactly as you suggest here.

[2020-10-19 21:14] jufab opened #1601 "exporter-collector browser generate console error during sending trace"
### What version of OpenTelemetry are you using?

0.12.0

### What version of Node are you using?

v12.19.0

### Please provide the code you used to setup the OpenTelemetry SDK
N/A
### What did you do?

Just use the "tracer-web" example

### What did you expect to see?

No error in browser console

### What did you see instead?

Error during sending trace

[code]

[2020-10-19 21:16] jufab commented on #1601
I think i have an idea for the bugfix : i prepare a PR

[2020-10-19 22:21] pauldraper opened #1603 "Cannot read property 'spanId' of null"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

0.12.0

### What version of Node are you using?

6.14.4

### Please provide the code you used to setup the OpenTelemetry SDK

### What did you do?

[code]

If possible, provide a recipe for reproducing the error.

### What did you expect to see?

No error

### What did you see instead?

[2020-10-20 06:47] erlichmen opened #1606 "Breaking chnages with @opentelemetry 0.12.0 (createKey)"
@opentelemetry 0.12.0 has some breaking changes that affect some plugins, the createKey method has been replaced with createContextKey and that prevents some plugin from loading.

Here is a stacktrace of one of the loaded plugin error:
[code]

[2020-10-20 07:25] vmarchaud commented on #1600
@DisaPadla Could you share it here so people hitting this issue later will be able to fix it ?

[2020-10-20 07:26] vmarchaud commented on #1606
@erlichmen The release contained breaking changes however this is not expected. Could you share each package version that you are using ?

[2020-10-20 08:53] erlichmen commented on #1606
@vmarchaud I use the latest (AFAIK)

    "@opentelemetry/plugin-pg-pool": "0.10.0",
    "@opentelemetry/plugin-pg": "0.10.0",
    "@opentelemetry/plugin-express": "0.10.0",
    "@opentelemetry/plugin-https": "0.11.0",
    "@opentelemetry/plugin-http": "0.11.0",
    "@opentelemetry/plugin-grpc": "0.11.0",
    "@opentelemetry/plugin-grpc-js": "0.11.0",
    "@opentelemetry/plugin-dns": "0.10.0",

[2020-10-20 09:37] bhupesh-sf commented on #623
+1

Something like this will be great [Swagger-stats](https://github.com/slanatech/swagger-stats)

[2020-10-20 15:45] vmarchaud commented on #1459
I needed that for my deployment so i've developped it, hope you didn't started that in the mean time

[2020-10-21 11:52] Sebosek opened #1609 "OpenTracing collector exporter throws ReferenceError error"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.12.0

### What version of Node are you using?
v12.18.3

### Please provide the code you used to setup the OpenTelemetry SDK
opentelemetry.js
[code]
Docker compose file
[code]
Collector config:
[code]

### What did you do?
Send traces to the collecter and hopefully, from there they will

[2020-10-21 12:53] vmarchaud commented on #1609
Could you try with the collector `0.12.0` ? `latest` is already using 0.13.0: https://hub.docker.com/r/otel/opentelemetry-collector-contrib/tags

[2020-10-21 13:05] dyladan commented on #1606
I think the plugins are using a too-old version of core. The context methods have been moved to the API. The plugins should be updated and released with the latest core dependencies.

[2020-10-21 13:18] vmarchaud commented on #1606
@erlichmen In the mean it should works if you install the `@opentelemetry/core` version `0.11.0`

[2020-10-21 13:30] Sebosek commented on #1609
Hi @vmarchaud, thanks for the tip.
In fact, I've returned to update the bug, also I should clarify things a little bit.
Right now, I can see transactions in the Jaeger, the reason, why I wans't able to send traces is a Windows bug (https://github.com/docker/for-win/issues/3171) - I can't use port 55861, once I've mapped collector to the 30861 port, traces are corectly collected and exported to the

[2020-10-21 13:30] #1609 closed

[2020-10-21 13:37] Sebosek opened #1610 "OpenTracing collector exporter throws ReferenceError after trace export in Web application"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.12.0

### What version of Node are you using?
v12.18.3

### Please provide the code you used to setup the OpenTelemetry SDK
opentelemetry.js
[code]
docker-compose.yaml
[code]

collector-config.yaml
[code]

### What did you do?
I'm using the XHR plugin, each reported span after the repo

[2020-10-21 14:55] dyladan opened #1611 "Spec: No explicit parent Span/SpanReference allowed"
According to https://github.com/open-telemetry/opentelemetry-specification/blob/662baae949f01a8ecc950426bf09283be1b657de/specification/trace/api.md#span-creation, the only way to specify parent is using the context object. Explicit `parent` option is no longer allowed.

[2020-10-21 15:02] dyladan opened #1613 "Spec: SpanProcessor.onStart should receive parent context"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#onstart

update spec compliance matrix upon completion

[2020-10-21 15:04] dyladan opened #1614 "Spec: Document null values as invalid for Attributes"
According to the spec, null attribute values are invalid/undefined behavior. This should be documented.

Update the spec compliance matrix upon completion.

[2020-10-21 15:18] vmarchaud commented on #1611
I had already opened one here https://github.com/open-telemetry/opentelemetry-js/issues/1552 but if you have time to work on this i'll be happy to close the older one

[2020-10-21 15:19] vmarchaud commented on #1552
https://github.com/open-telemetry/opentelemetry-js/issues/1611

[2020-10-21 15:19] #1552 closed

[2020-10-21 15:38] dyladan commented on #1249
For `request_content_length`, simply using the header value should be fine. I'm not that familiar with the available headers but I think uncompressed will need to be calculated.

[2020-10-21 18:22] dyladan commented on #1552
@vmarchaud sorry about the dup

[2020-10-21 19:17] obecny commented on #1606
@erlichmen don't use the v.0.12.0 of main repo with v0.10.0 of contrib repo. use v0.11.0 of main repo instead

[2020-10-21 20:40] madhusudhanjv commented on #1593
Updating versions to 0.11.0 gave option to add header which made sure it is sent as XHR and resolved the data limit issue

[2020-10-21 20:40] #1593 closed

[2020-10-22 07:54] johanneswuerbach commented on #1561
I'm struggling a bit to understand why this issue isn't prioritised. Rolling out `@opentelemtry/tracing 0.12.0` caused a bunch of process exits for us due to unhandled promise rejections caused by this issue.

While we use Node 14, we already exit on unhandled promise rejections as done by default on Node 15 (https://github.com/nodejs/TSC/issues/916) so an unhandled rejection is causing our proces

[2020-10-22 10:19] vmarchaud commented on #1561
@johanneswuerbach Well this should have been fined with #1514, the metric controller doesnt reject anymore: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-metrics/src/export/Controller.ts#L57. Are you sure you are using the newest metrics sdk version ?

[2020-10-22 10:23] johanneswuerbach commented on #1561
Sorry, we are hitting this issue in the tracing BatchSpanProcessor https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-tracing/src/export/BatchSpanProcessor.ts#L110, not in the metrics controller.

I somehow mixed this up as the error and code in question looks pretty similar, should I create a new issue?

[2020-10-22 11:36] vmarchaud commented on #1561
@johanneswuerbach Yeah i think a new issue would be the way to go.

@aabmass Since the metric exporter doesnt throw anymore, are you okay with closing this issue ? We can totally open one to refactor to include the error inside the error handler as @mwear suggested

[2020-10-22 11:47] johanneswuerbach opened #1617 "BatchSpanProcessor ExportResult other than SUCCESS causes UnhandledPromiseRejectionWarning: 1"
With `@opentelemtry/tracing v0.12.0` we are observing unhandled promise rejections caused by the BatchSpanExporter not exporting results successfully https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-tracing/src/export/BatchSpanProcessor.ts#L110

While we use Node 14, we already exit on unhandled promise rejections as done by default on Node 15 (https://github.c

[2020-10-22 11:47] johanneswuerbach commented on #1561
Sorry for the noise, created https://github.com/open-telemetry/opentelemetry-js/issues/1617.

[2020-10-22 12:36] vmarchaud commented on #1617
Do you plan to work on this @johanneswuerbach  ?

[2020-10-22 13:23] #1596 closed

[2020-10-22 15:15] johanneswuerbach commented on #1617
I would have some capacity, but I would need some guidance what the solution should be here. Just remove the rejection?

[2020-10-22 15:19] vmarchaud commented on #1617
@johanneswuerbach The way to go should be to use the `globalErrorHandler` like the metric do: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-metrics/src/export/Controller.ts#L57

[2020-10-22 19:09] clehene commented on #1143
@yehudamakarov Also using react with grpc-web backend. Curious if you got this working. I believe there should be an issue for a grpc-web core plugin. I'll create it, but would like to connect if you're working on it.

[2020-10-22 19:18] bogdandrutu opened #1618 "Plugin for grpc-web using the new interceptors"
[grpc-web just announced the support for interceptors](https://grpc.io/blog/grpc-web-interceptor/), which will allow us to implement instrumentation for grpc-web.

Can this project provide an interceptor implementation for the grpc-web?

[2020-10-22 19:29] clehene opened #1619 "Better plugin organization: take into account common vs node vs web plugins"
The contrib has a separation already https://github.com/open-telemetry/opentelemetry-js-contrib/tree/master/plugins
However, I'm guessing core would also have some common parts (the "core" parts :) )
Also
`grpc-js` is only for node, but there's also a `grpc` plugin which is also for node. Not sure what the difference is.
It should be easy for someone that tries to create a plugin to understand wha

[2020-10-22 19:31] dyladan commented on #1619
I think we should probably split this into `web`, `node`, and `common` directories. Not just for plugins but for the whole project.

As far as plugins go, they should go into `contrib`.

[2020-10-22 22:43] yehudamakarov commented on #1143
I haven’t implemented this as of yet. Although I may start trying now that you mention this.

[2020-10-22 23:50] aabmass commented on #1561
@vmarchaud #1514 looks like it would have solved my issue 👍

[2020-10-22 23:50] #1561 closed

[2020-10-23 12:12] arminru opened #1620 "Spec: SpanProcessor.onStart MUST receive a mutable "read/write" span"
See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#onstart

Currently only an immutable `ReadableSpan` is passed:

https://github.com/open-telemetry/opentelemetry-js/blob/dc8082a844681bc03fa63572e8ede743d1b1b39e/packages/opentelemetry-tracing/src/SpanProcessor.ts#L29-L34

[2020-10-23 12:22] dyladan commented on #1620
Thanks for reporting this. The concrete span sent to onStart is already a `Span` so this should be a very simple change.

[2020-10-23 15:43] aabmass commented on #1564
I don't think there is anything wrong with the spec, although it could be more clear I suppose. The spec says `Add(increment)` vs `Observe(sum)`:

- [Counter](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#counter):

- [SumObserver](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#sumobser

[2020-10-23 16:07] dyladan commented on #1564
I am interpreting this the same way @aabmass is. Looks like the SumObserver is called with the current value of the sum, not the amount to increment by.

[2020-10-23 16:13] obecny commented on #1564
Should then `SumObserver` and `UpDownSumObserver` use the LastValue aggregator instead of Sum aggregator ?
If so does is mean that in fact `SumObserver` and `UpDownSumObserver` are nothing more than `ValueObserver`
Otherwise maybe they should use a different aggregator if so which one ?

[2020-10-23 16:55] mayurkale22 commented on #1620
Just curious to know the use-case where we need writeable span in SpanProcessor.onStart?

[2020-10-23 17:44] arminru commented on #1620
One use case for SpanProcessors is to add certain attributes on a span. The thread ID (of the starting span), for example, is a property that calls for being added automatically rather than bugging users with that. The `code.*` attributes could also be added automatically by a SpanProcessor which inspects the call stack.

[2020-10-23 17:46] dyladan commented on #1620
@mayurkale22 user @gasimgasimzada has already asked for this in gitter too

[2020-10-23 17:50] dyladan commented on #1564
<table>
<tr>
	<th>Instrument
	<th>Monotonic
	<th>Range
<tr>
	<td>SumObserver
	<td>True
	<td>>0
<tr>
	<td>UpDownSumObserver
	<td>False
	<td>>0
<tr>
	<td>ValueObserver
	<td>False
	<td>All numbers
</table>

[2020-10-23 19:34] jufab commented on #1610
I think this is the same bug than #1601

[2020-10-23 21:36] clehene commented on #1143
@yehudamakarov see https://github.com/open-telemetry/opentelemetry-js/issues/1618

[2020-10-23 22:02] aabmass commented on #1564
@obecny I think a big motivation behind observing the cumulative value directly with async instruments is that it is convenient most places you'd use an observer, e.g. getting the length of a queue (`observe(queue.length)`) or observing some OS counter like CPU time that is already summed. Otherwise you would have to store and subtract the previous value to get a delta to pass to the SDK `observe(

[2020-10-24 19:11] johanneswuerbach commented on #1617
Thanks @vmarchaud, PR created https://github.com/open-telemetry/opentelemetry-js/pull/1622

[2020-10-25 13:18] blumamir opened #1623 "exporter-collector-grpc traceId and spanId values in protobuf are incorrect"
### What version of OpenTelemetry are you using?
v0.12.0

### What version of Node are you using?
v12.18.3

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?
Used the exporter-collector-grpc to export traces to the latest version of [opentelemetry-collector](https://github.com/open-telemetry/opentelemetry-collector).
Then I used the [loggingExporter]

[2020-10-25 14:54] vmarchaud commented on #1623
@blumamir Which collector version are using ? If you are using the *latest* (`0.13.0`), could you try with `0.12.0` ? I have a setup working with this version.

[2020-10-25 15:21] blumamir commented on #1623
I tried with collector version v.0.12.0 and still see wrong traceId.
This is how I run the docker:
```docker run --rm -p 55680:55680 -v "${PWD}":/otel-local-config --name otelcol otel/opentelemetry-collector:0.12.0 --config otel-local-config/otel-config.yaml```

and this is the collector config:
[code]

[2020-10-25 15:29] blumamir commented on #1623
tried to run it now agains the [basic-trace-node](https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/basic-tracer-node) modified to export with grpc like this:
[code]

What I get in JS is:
[code]
`traceId` is valid 32 hex digits.

In collector I get this:
[code]

`traceId`: `6f6ebce77db76df77b7dc6f6f5febaddddb9f5c735e39efc` is 48 hex digits.

[2020-10-26 10:28] GasimGasimzada commented on #1620
@mayurkale22

For example, we have a tracer in the browser and for all spans we add http user agent, the current URL, and other custom attributes that are applicable to our app for all spans. In my case, I extends SimpleSpanProcessor and overrode `onStart`, which adds all the tags. Since the underlying JS object already had all the necessary attributes, I casted `ReadableSpan` to `Span`:

[code]

[2020-10-26 15:30] #1620 closed

[2020-10-26 16:06] #1502 closed

[2020-10-26 16:09] dyladan commented on #1623
I think this is most likely related to #1513 (implemented in #1588, released in https://github.com/open-telemetry/opentelemetry-js/releases/tag/v0.12.0).

The collector recently changed how it interprets trace and span ids. Either we incorrectly implemented the fix or you are using an incompatible collector version. Can you clarify exactly which collector version you're using?

[2020-10-26 16:10] #1513 closed

[2020-10-26 16:24] blumamir commented on #1623
I tested it both with opentelemetry-collector v0.12.0 and with collector v0.13.0 (latest)
The docker run command I used to run the collector is attached above

[2020-10-26 16:27] dyladan commented on #1623
@obecny Seems like there may be a bug in the id conversion using grpc.

[2020-10-26 19:35] dyladan commented on #623
The [metrics sdk](https://github.com/open-telemetry/opentelemetry-specification/blob/323cd1d8811d3e3df08bec689f9dacd6cb782888/specification/metrics/sdk.md) is still heavily underspecified and our implementation is an incomplete version of that incomplete specification. In my opinion it would be a mistake to implement too much on top of the current implementation.

[2020-10-26 20:00] dyladan commented on #1459
@vmarchaud does #1459 fix this issue?

[2020-10-26 20:05] vmarchaud commented on #1459
@dyladan Done, i though it was autoamtic if i tagged the issue in the PR title :/

[2020-10-26 21:00] #1590 closed

[2020-10-26 21:19] nijotz commented on #1249
PR #1625 opened to add this feature

[2020-10-27 07:58] jhbabon opened #1626 "@opentelemetry/metrics: The option "boundaries" for metrics is not propagated to the HistogramAggregator"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

Version `v0.12`.

### What version of Node are you using?

Node `14.10.1`

### Please provide the code you used to setup the OpenTelemetry SDK

`package.json`
[code]

`index.js`
[code]

### What did you do?

I'm trying to create a Promtetheus Histogram using a `ValueRecorder` metric, bu

[2020-10-27 18:02] obecny commented on #1623
so this is funny, when I added back conversion from hex to base64 grpc and proto works fine. So what is wrong with collector ? Was the spec `https://github.com/open-telemetry/opentelemetry-specification/pull/911` not implemented yet to collector when using proto ?

[2020-10-27 19:44] AndrewGrachov commented on #1626
will take it

[2020-10-27 20:08] vmarchaud commented on #1626
@AndrewGrachov Feel free to reach out if you have any questions

[2020-10-27 20:57] AndrewGrachov commented on #1626
OK, I see this is my "favorite" with otel :)

https://github.com/open-telemetry/opentelemetry-js/issues/1477

Guess we should remove histogram option from **createValueRecorder** metric options

[2020-10-27 20:57] AndrewGrachov commented on #1626
@jhbabon pls see #1465

[2020-10-27 23:58] obecny commented on #1623
@blumamir can you please check if this fix -> https://github.com/open-telemetry/opentelemetry-js/pull/1627, works for you ?

[2020-10-28 04:52] AndrewGrachov commented on #1626
The PR above should fix the issue, but I'm not sure if its logically correct to specify histogram-aggregator specific parameters within Base Metric class (which could be aggregated many ways)

[2020-10-28 08:26] jhbabon commented on #1626
Many thanks!

[2020-10-28 12:32] blumamir commented on #1623
@obecny Tested your fix and it works well now, both with gRPC and HTTP/JSON. Thank you for fixing it.

The one issue that I still think is problematic is the types in [this file](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-exporter-collector/src/types.ts).
`traceId` is sometimes typed as [Uint8Array](https://github.com/open-telemetry/opentelemetry-js/blob/

[2020-10-28 13:09] dyladan opened #1629 "Remove retryable failure from exporter.export"
According to the [spec for Exporter.ExportBatch](https://github.com/open-telemetry/opentelemetry-specification/blob/06d16d7db88c3e266636f84887de61e3363b5429/specification/trace/sdk.md#exportbatch), the result returned is no longer `SUCCESS`, `FAILED_RETRYABLE`, `FAILED_NONRETRYABLE`, but is just `SUCCESS`, or `FAILURE`. The new spec states that all retry logic should be handled by the exporter.

O

[2020-10-28 13:10] #1485 closed

[2020-10-28 13:23] dyladan opened #1630 "spec: sampler should receive Context instead of SpanContext"
https://github.com/open-telemetry/opentelemetry-specification/blob/06d16d7db88c3e266636f84887de61e3363b5429/specification/trace/sdk.md#shouldsample

[2020-10-28 13:50] vmarchaud commented on #1629
i've already opened an issue there: https://github.com/open-telemetry/opentelemetry-js/issues/1569, do you want to close the old one ?

[2020-10-28 14:05] dyladan commented on #1629
Ah. Sorry. Closed as duplicate

[2020-10-28 14:05] #1629 closed

[2020-10-28 14:52] AndrewGrachov commented on #1093
have time to fix that

[2020-10-28 15:53] dyladan opened #1633 "spec: isRecording becomes false after span.end()"
According to spec compliance matrix, this is not implemented in JS

https://github.com/open-telemetry/opentelemetry-specification/blob/master/spec-compliance-matrix.md

Either implement or fix matrix.

[2020-10-28 15:55] dyladan opened #1634 "Set status with StatusCode (Unset, Ok, Error)"
Our current status code is gRPC code

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#set-status

Update compliance matrix after fix

[2020-10-28 16:20] dyladan opened #1635 "Migrate tests to github actions"
According to maintainers SIG, CNCF would like to discontinue CircleCI support. We need a volunteer to migrate tests to Github Actions.

[2020-10-28 18:24] vmarchaud commented on #1633
I will take this

[2020-10-28 22:28] mwear opened #1637 "Gzip OTLP/JSON request bodies"
As discussed at the SIG meeting earlier today, we can improve the performance of our collector exporter by using gzip compression on request bodies.

[2020-10-28 22:33] mwear opened #1638 "Use http keep-alive for OTLP/HTTP"
As discussed at the SIG meeting earlier today, we can improve the performance of our collector exporter by reusing http connections with http keep-alive. This strategy would apply to proto over http and json over http export formats.

[2020-10-29 16:13] jtmalinowski commented on #1392
As per our chat in gitter, I'll start working towards this, and we'll see how well it's going after the first PR.

[2020-10-29 22:57] #1623 closed

[2020-10-30 15:03] #1617 closed

[2020-10-30 15:28] #1630 closed

[2020-10-30 16:00] #1613 closed

[2020-11-02 11:17] AndrewGrachov opened #1645 "collector metric export tests - refactoring needed"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

A lot of code duplicates , eg:

[grpc](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-exporter-collector-grpc/test/helper.ts#L99)

[proto](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opent

[2020-11-02 13:34] sureshballa opened #1646 "Trace Ids and span parent Ids are getting messed up on concurrent request of around 20 (rest based services)"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
"@opentelemetry/api": "^0.11.0",
        "@opentelemetry/exporter-prometheus": "^0.11.0",
        "@opentelemetry/metrics": "^0.11.0",
        "@opentelemetry/node": "^0.11.0",
        "@opentelemetry/plugin-express": "^0.10.0",
        "@opentelemetry/plugin-http": "^0.11.0",
        "@

[2020-11-02 13:54] christofferjerrebo commented on #1315
Any update on this issue? :heart:

[2020-11-02 14:29] dyladan commented on #1646
I'm not familiar with app insights. I assume tenant id and correlation id are app insights concepts? The code here looks correct at first pass. Are you sure this is not a problem with app insights? The response header use is not standardized. Can you link to the documentation for it?

[2020-11-02 14:32] sureshballa commented on #1646
@dyladan please ignore the code around tenant id and correlation id, its in house concepts we have. What I am reporting here is, for all spans corresponding 2nd HTTP request to 20th HTTP request, the parent id is linked in the first HTTP request trace id.

The reason I shared the middleware code, how I am grabbing the trace id for each HTTP request I am making. I am spitting it as response header.

[2020-11-02 14:32] dyladan commented on #1315
@christofferjerrebo there has been some progress but it is slow. The load ordering problem is a thorny one. The simplest solution is to disable automatic resource detection for now (or just uninstall the GCP resource detector). There is a new instrumentation module which should help this, but we still need to rewrite the default instrumentations to take advantage of it and preparing for GA has bee

[2020-11-02 14:35] dyladan commented on #1646
So, if you make multiple concurrent requests they all have the same root span?

If you wait for those requests to finish then make a new request, does the root span change to the new request?

[2020-11-02 14:38] sureshballa commented on #1646
@dyladan yes, all spans of 2nd to 20th HTTP request doesn't have corresponding parent ids to their own trace id. Instead parent id is referred to trace id of first HTTP request.

If I do not make concurrent request and do separate HTTP request then all things are good. Correct trace id as parent id for span

[2020-11-02 15:33] dyladan commented on #1646
hmm this sounds like a context leak to me. @vmarchaud do you have any ideas?

[2020-11-02 16:00] lonewolf3739 commented on #1634
Hi @dyladan, I am trying to address this in #1644. I would appreciate your review.

[2020-11-02 16:09] dyladan commented on #1634
@lonewolf3739 yes I saw thank you

[2020-11-02 18:47] #1633 closed

[2020-11-02 20:18] #1611 closed

[2020-11-02 20:42] #1453 closed

[2020-11-03 09:07] rahuledjx opened #1648 "Getting different number of spans in traces for same HTTP endpoint and same status on high load(10 Users)."
Please answer these questions before submitting a bug report.
### What version of OpenTelemetry are you using?
    "@opentelemetry/api": "^0.12.0",
    "@opentelemetry/core": "^0.12.0",
    "@opentelemetry/exporter-jaeger": "^0.12.0",
    "@opentelemetry/exporter-prometheus": "^0.11.0",
    "@opentelemetry/metrics": "^0.11.0",
    "@opentelemetry/node": "^0.12.0",
    "@opentelemetry/plugin-expres

[2020-11-03 18:14] #1443 closed

[2020-11-04 03:34] sureshballa opened #1649 "Enable option to expose the prometheus metrics endpoint from existing server port that service is running on."
### Is your feature request related to a problem? Please describe.

We are forced to run the prometheus metrics endpoint on different port when our service are already REST based services running on our own port. So in this case, we end up running two web server, one for prometheus metrics endpoint and other for our own business REST service (based on node express)

### Describe the solution you'd

[2020-11-04 13:52] vmarchaud commented on #1646
Yeah it sounds like a leak, could you share the list of dependencies that you use @sureshballa ? Also that would help you if you'd have a mininal code example that reproduce the issue.

[2020-11-04 14:59] dyladan commented on #1646
Minimal reproduction would be a big help. Maybe also disable all plugins except http/https and see if the issue persists. Then enable 1 by 1 until you find the plugin which causes the issue.

[2020-11-04 15:48] #1569 closed

[2020-11-04 15:49] dyladan commented on #1392
Any update on this?

[2020-11-04 16:12] jtmal-signalfx commented on #1392
I spent a couple hours on it last week, but I didn't manage to find time for it this week yet, I should be able to push something out tomorrow.

[2020-11-04 16:14] jtmalinowski commented on #1392
I spent a couple hours on it last week, but I didn't manage to find time for it this week yet, I should be able to push something out tomorrow.

[2020-11-05 13:39] GasimGasimzada opened #1652 "Customizable Clock API"
### Is your feature request related to a problem? Please describe.

We are currently using opentracing (not opentelemetry) and we are looking at migrating to opentelemetry for both server and client-side tracing. In our current implementation, we have a custom implementation for setting the clock (start and finish times) that is based on `performance.now()` and a custom time origin that is coming

[2020-11-05 13:41] vmarchaud commented on #1124
Closing since it will be fixed with the instrumentation class

[2020-11-05 13:41] #1124 closed

[2020-11-05 17:11] obecny opened #1654 "Convert XMLHttpRequest plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/browser/instrumentation.ts#L23)

[2020-11-05 17:12] obecny opened #1655 "Convert fetch plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/browser/instrumentation.ts#L23)

[2020-11-05 17:14] dyladan commented on #1654
Thanks for creating these issues. Are you creating for all instrumentations or just these two that you're working on? If not, I can create issues for the rest

[2020-11-05 17:18] obecny opened #1656 "Convert grpc plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:18] obecny opened #1657 "Convert grpc-js plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:19] obecny opened #1658 "Convert http and https plugin to instrumentation - it should become one package only now"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:21] obecny commented on #1658
@open-telemetry/java-instrumentation-approvers please decide about name for combined instrumentation for http and https plugin
My proposition is
`@opentelemetry/instrumentation-plugin`

[2020-11-05 17:22] dyladan commented on #1658
+1 `@opentelemetry/instrumentation-http`

[2020-11-05 17:30] vmarchaud commented on #1658
I will try to work on this this weekend

[2020-11-05 17:32] vmarchaud commented on #1658
Also i forgot to mention it in SIG but we need to think about how to strategy to migrate from our current plugin loader to the next instrumentation system.

[2020-11-05 17:38] obecny commented on #1658
For web plugins I will try to make it 100% backwards compatible - the code people have should not require any change. Will see how it goes and if that requires any changes in web tracer provider will do that too, but hard to say now yet.

[2020-11-05 17:39] obecny commented on #1658
typo :/

[2020-11-05 17:41] #1634 closed

[2020-11-05 20:10] bradfrosty commented on #1444
@dyladan sorry for the late response here. Thanks for the detailed answer, makes sense to me.

Do you expect significant behavior change from transpiling the dependencies? Should I be concerned if I transpile the deps from the application side?

[2020-11-06 07:01] lonewolf3739 commented on #1638
Hi @mwear, I would like to work on this.

[2020-11-06 07:37] vmarchaud commented on #1638
@lonewolf3739 Feel free to ping if you want some help !

[2020-11-06 09:36] lonewolf3739 commented on #1638
@vmarchaud , Thanks! I have a question regarding the value setting for header. What values should be set for `timeout` and `max` in the header. Is there any chance of reading them from env and if not available fallback to some default values?

[2020-11-06 09:45] vmarchaud commented on #1638
I think everything should be configurable from the exporter config (it should be possible to disable keep alive too). For the defaults, i believe nodejs already defaults no ?

[2020-11-06 13:02] #1601 closed

[2020-11-06 13:02] #1610 closed

[2020-11-06 14:08] lonewolf3739 commented on #1638
Yes, makes sense. May we should add some env like `CONNECTION_REUSE_ENABLE`?

Yes, it does.

Thank you.

[2020-11-06 16:39] obecny opened #1660 "Allow new instrumentation to be loaded automatically in node.js"
I think we should allow new instrumentation to be loaded automatically. Lets discuss is, if agree then this task would be to implement it and see what we can really achieve. With web plugins it is much easier and I did only one small change so that the whole flow will remain the same but it will also allow to have meter provider - if any plugin needs that.

@open-telemetry/javascript-approvers ^^

[2020-11-09 20:09] obecny opened #1663 "Deprecate Plugins in favor of instrumentations"
This issue is to make sure to deprecate each plugin (in NPM) after it will be converted to instrumentation

### Web Plugins
- [ ] XMLHTTPRequest
- [ ] fetch

### Node Plugins
- [ ] HTTP & HTTPS
- [ ] grpc
- [ ] grpc.js

[2020-11-10 03:29] longility opened #1664 "Question: Does trace context propagation supposed to be automatic with gRPC client?"
Here is a slimmed down configuration that I have.

[code]
[code]
I'm using apollo as my gateway and making grpc clients to my microservices. I do have other metadata that I'm adding manually, which I don't think should matter.

**Expectation**
I do not have to manually set metadata/headers for the grpc client when making calls. It should be automatic.

**Actual**
I don't see any trace context on m

[2020-11-10 08:54] TsvetanMilanov opened #1665 "BatchSpanProcessor exports spans multiple times"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.12.0

### What version of Node are you using?
12.16.1

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?

In the example code provided above, the `BatchSpanProcessor` is configured with batch size 5 and the code generates 12 spans without

[2020-11-10 16:56] #1654 closed

[2020-11-10 19:42] dyladan commented on #1664
You do have the right expectation. I'm looking into this now.

[2020-11-10 19:51] #1665 closed

[2020-11-10 20:35] longility commented on #1664
Thank you @dyladan . Let me know if you need more info or need me to try something.

[2020-11-10 21:33] jon-whit opened #1667 "Extract SpanContext's serialized`traceparent` and `tracestate`"
A lot of the work around HTTP trace propagation is backed by the [trace-context specification](https://www.w3.org/TR/trace-context). I often find myself needing to inject `traceparent` and `tracestate` fields into an HTTP header either for async message headers or in HTTP request/response headers in RESTful web APIs.

I notice that the [OpenTelemetry specification for propagation](https://github.c

[2020-11-10 21:38] dyladan commented on #1667
It is already exported natively from the opentelemetry sdk. It is included in the `@opentelemetry/core` package

[2020-11-10 21:41] jon-whit opened #1668 "Injecting `SpanContext` as `traceparent` and `tracestate` into Carrier"
A lot of distributed tracing adopters depend upon the [W3C TraceContext](https://www.w3.org/TR/trace-context/) specification to propagate `traceparent` and `tracestate`.

According to the [OpenTelemetry specification for Propagator Distribution](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#propagators-distribution)

I'm wonderin

[2020-11-10 21:42] #1668 closed

[2020-11-10 21:42] jon-whit commented on #1667
@dyladan ah great! I was not aware of that. Thanks 👍

[2020-11-10 21:42] #1667 closed

[2020-11-10 21:47] dyladan commented on #1667
It is actually the default exporter

[2020-11-10 21:48] jon-whit commented on #1667
@dyladan I thought the CompositePropagator is the default?
https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-core#composite-propagator

[2020-11-10 21:59] dyladan commented on #1667
Composite of the trace context propagator and the baggage propagator :)

[2020-11-11 15:31] dyladan commented on #1664
Are you sure you're using the right grpc plugin? We have plugins for `grpc` and for `grpc-js` which are different modules

[2020-11-11 15:46] #1614 closed

[2020-11-11 15:55] #1459 closed

[2020-11-11 16:10] #1626 closed

[2020-11-11 17:16] longility commented on #1664
I believe so. You can verify as I have my package dependencies shown in comment above. Here is a more slim version:
[code]
and in logs it shows this `PluginLoader#load: trying to load @grpc/grpc-js@1.1.8` and doesn't error after that line.

[2020-11-11 17:29] dyladan opened #1672 "Instrumentation Autoload"
Per the call today, we would like to be able to configure instrumentations like this:

[code]

[2020-11-11 17:43] dyladan commented on #1664
ok great thanks.

[2020-11-11 17:56] dyladan commented on #1392
From SIG:

I am going to create individual issues for each of these so that others can help speed the process. @jtmalinowski which of these have you already started work on so I can assign them to you?

[2020-11-11 17:59] dyladan opened #1674 "Propagator environment configuration"
Implement the environment variable specification for propagator configuration.

Please use the `getEnv('NAME')` function exported by core instead of directly using `process.env.NAME`.
Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#general-sdk-configuration

[2020-11-11 17:59] dyladan opened #1675 "General environment configuration"
Implement the general environment variable specification

Please use the `getEnv('NAME')` function exported by core instead of directly using `process.env.NAME`.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#general-sdk-configuration

[2020-11-11 18:00] dyladan opened #1676 "Exporter environment configuration"
Implement the environment variable specification for exporter configuration.

Please use the `getEnv('NAME')` function exported by core instead of directly using `process.env.NAME`.
Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#exporter-selection

[2020-11-11 18:02] dyladan opened #1677 "Batch Span Processor environment config"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#batch-span-processor

Implement the environment variable specification for batch span processor configuration.

Please use the getEnv('NAME') function exported by core instead of directly using process.env.NAME.

[2020-11-11 18:03] dyladan opened #1678 "Jaeger environment configuration"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#jaeger-exporter

Implement the environment variable specification for jaeger configuration.

Please use the getEnv('NAME') function exported by core instead of directly using process.env.NAME.

[2020-11-11 18:04] dyladan opened #1679 "Prometheus environment configuration"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#prometheus-exporter

Implement the environment variable specification for prometheus configuration.

Please use the getEnv('NAME') function exported by core instead of directly using process.env.NAME.

[2020-11-11 18:06] dyladan commented on #1674
Closed as part of #1675

[2020-11-11 18:06] #1674 closed

[2020-11-11 18:07] dyladan commented on #1392
Closed in favor of #1675, #1676, #1677, #1678, #1679

[2020-11-11 18:08] #1392 closed

[2020-11-12 00:25] jtmalinowski commented on #1392
Can you assign #1675 to me please.

[2020-11-12 13:11] jtmalinowski commented on #1675
Like I said in the original issue, I'm in progress on this.

[2020-11-17 11:46] Madamas opened #1682 "Fix canary release github action"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Most recent canary release listed in opentelemetry npm packages (e.g. [node](https://www.npmjs.com/package/@opentelemetry/node) package) were published 22 days ago after which all Github Actions for canary releases are failing with error
[code]
Were canar

[2020-11-17 15:24] svrnm opened #1683 "Move documentation to opentelemetry.io website?"
After I did some updates to the "Getting Started" guide of this project I saw that docs should be centralized: https://github.com/open-telemetry/opentelemetry.io/projects/1

I copied some of that into https://github.com/open-telemetry/opentelemetry.io/pull/325 and provided it as PR to the website project.

Please have a look there if this is in the interest of the opentelemetry-js project and if m

[2020-11-18 14:19] dyladan commented on #1682
No the github action is just broken and I've had other priorities. I'm looking into it now.

[2020-11-18 15:36] Madamas commented on #1682
thanks a million!