[2021-09-28 23:55] mustafain117 commented on #2353
Part of the issue here is the incorrect RequestOptions parameter for the http.get() function call. The host '::1' is actually just the hostname, changing the get request to :
[code]
produces the following:
[code]
The "http.url" is still incorrect however "http.host" is as expected.

"http.url" does not have the port appended due to the following condition which fails for ipv6 hostnames (https://gi

[2021-09-29 08:19] blumamir commented on #2353
I agree that it's most appropriate to be set on `hostname` and `port`. However, user can still use the above options configuration and node's http implementation will work correctly in this case, so I would expect that the instrumentation should work in this case too.

Node documentation is not so clear about it either:
[code]

From the docs, I can understand that setting hostname (or domain name,

[2021-09-29 09:52] john-yick opened #2507 "It looks like this package is no longer available from npm"
Searching for @opentelemetry/exporter-otlp-http on npm shows no results now.

![image](https://user-images.githubusercontent.com/17866270/135245879-644b5426-221b-48e7-8bf6-f972bfef598a.png)

[2021-09-29 10:08] Flarna commented on #2507
The rename from `@opentelemetry/exporter-collector` to `@opentelemetry/exporter-otlp-http` happened via #2476 which was after 0.25.0 release which is the current latest.
Once 0.26.0 is released (see #2505) it should show up on NPM.

@dyladan it seems publishing of canary versions seems to be not done for new/renamed packages. Is this intended?

[2021-09-29 13:07] #2145 closed

[2021-09-29 13:41] dyladan commented on #2413
The docs on github.io are automatically published when there is a release. This ensures the docs always reference the most recent released package and don't document unreleased changes.

[2021-09-29 17:41] legendecas opened #2510 "CI reliability: experimental tests consistent failure"
`node-tests-experimental` and `browser-tests-experimental` consistently fail with following messages:

[code]

However, I could not reproduce the problem locally. I believe it is related to https://github.com/open-telemetry/opentelemetry-js/commit/b66c650849ed4da78ab7d9acbbb50df6f8d58e37, /cc @dyladan. Retried CI with the full run and it fails consistently.

Links:
- https://github.com/open-teleme

[2021-09-29 17:43] dyladan commented on #2510
Hmm. the tests passed for the PR i merged. I wonder if it  is related to CI caching. Does changing a package.json file cause a test pass?

[2021-09-29 17:49] legendecas commented on #2510
Yeah, touching `package.json` works https://github.com/open-telemetry/opentelemetry-js/pull/2506/checks?check_run_id=3747563214

[2021-09-29 19:08] dyladan commented on #2510
Opened a PR to fix

[2021-09-29 21:21] #2389 closed

[2021-09-30 01:17] john-yick commented on #2507
@Flarna So it looks like the old package is available but the new one is not yet. Raised ticket as the ReadMe points to the new package that does not exist.

![image](https://user-images.githubusercontent.com/17866270/135369710-65c8e73c-f31f-45cb-9425-9cf21716e2c5.png)

[2021-09-30 08:41] #2510 closed

[2021-09-30 21:53] rektide opened #2515 "otel-context-async-hooks doc has 404 links to otel-context-base"
### What version of OpenTelemetry are you using?

master

### What version of Node are you using?

14.17.x

### What did you do?

Went to https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-context-async-hooks#what-is-a-contextmanager and clicked the first link, in "The definition and why they exist is available on the readme of the context-base package.".

### What

[2021-10-01 17:55] #1887 closed

[2021-10-03 20:40] RichardWright opened #2518 "Allow UpDown counters to be 'set'"
Currently Updown counters can only go up or down. They cannot be set to a specific value. The current prom client implementation allows this. It would be very useful and means we wouldn't have to maintain the current state to be able to increment/decrement. It's the main blocker for us using opentelemetry everywhere

[2021-10-04 20:07] dyladan commented on #2518
This issue would be better raised with specification of the API. You can see here, the only method on a counter or up/down counter is `add` https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#updowncounter-operations

[2021-10-04 22:04] RichardWright commented on #2518
You are of course right.

I await the avalanche of text justifying why a basic helper method would destroy the sanctity of the holy relics contained within.

[2021-10-04 22:05] RichardWright commented on #2518
tldr - metrics are pretty simple. But they seem to pretty hard to do certain quite basic things.

[2021-10-05 10:12] pirgeo commented on #2480
These are a few requirements that I think need to be fulfilled in order to meet the specification. Note that these are **only** API requirements, the SDK changes should be tracked in a separate issue.

- [ ] https://github.com/open-telemetry/opentelemetry-js/pull/2496
- [ ] Move from `Label` to `Attribute`*.
- [ ] Add a parameter to (optionally) specify `schema_url` on the `MeterProvider`.
- [ ] `

[2021-10-05 13:53] dyladan commented on #2480
I moved the task list to the main issue up top. @pragmaticivan feel free to edit it as you see fit.

[2021-10-05 14:54] dyladan commented on #2518
I'm not sure I'm getting your meaning. Are you saying you think we should add a helper method to our SDK which is not specified or are you saying you think it will be too hard to get it added to the spec? Or both?

[2021-10-05 15:35] llatinov opened #2521 "@opentelemetry/exporter-otlp-http is not available as npmjs package"
https://github.com/open-telemetry/opentelemetry-js/blob/main/examples/tracer-web/examples/fetch/index.js example shows a way to instrument fetch in browser.

Line 4: import { OTLPTraceExporter } from '@opentelemetry/exporter-otlp-http'; is not working, I cannot find any "@opentelemetry/exporter-otlp-http" in npmjs.org. Is there other artifactory location for this package?

[2021-10-05 16:11] Flarna commented on #2521
There is a mismatch between latest main branch and actual released/tagged component. Once https://github.com/open-telemetry/opentelemetry-js/pull/2513 is merged this should match again.

[2021-10-06 10:17] #2407 closed

[2021-10-07 17:50] michaeledavis-alto opened #2526 "@opentelemetry/sdk-trace-base is not available as npm package"
I am getting this error report from our npm install:

[code]

and am additionally unable to view the package on the website: https://www.npmjs.com/package/@opentelemetry/sdk-trace-base

It looks like you all have been renaming a lot of packages, so I'm hoping there is just a new name and that this wasn't intentionally unpublished?

[2021-10-07 19:11] michaeledavis-alto commented on #2526
Ah interesting!

The link to the package is working on npmjs.com now, and I'm able to see 0.25.0 in the version list: https://www.npmjs.com/package/@opentelemetry/sdk-trace-base.

Might have just been a transient issue with npmjs.com...

Thank you!

[2021-10-07 19:15] #2526 closed, assigned to nobody

[2021-10-07 23:09] KyleAMathews opened #2527 "Migration guide from opentracing to opentelemetry?"
I'm about to migrate some opentracing code to opentelemetry. Is there any gotchas to be aware of? It seems like the API is basically identical but I can't find any docs stating as much.

[2021-10-09 09:24] Flarna commented on #2521
The npm module exists but only in versioin 0.26.0 (see https://www.npmjs.com/package/@opentelemetry/exporter-otlp-http). Sample requests 0.25.0.

The samples require some version bump.

[2021-10-11 04:27] sureshballa opened #2530 "Upgrading to @opentelemetry/sdk-metrics-base@0.26.0 and @opentelemetry/exporter-prometheus@0.26.0, all metric names are postfixed with _total"
Upgrading to @opentelemetry/sdk-metrics-base@0.26.0 and @opentelemetry/exporter-prometheus@0.26.0, all metric names are postfixed with _total. This has impacted all our grafana dashboards. Is this anywhere documented, I couldn't find. And any reason why such post fix is needed?

Example:
Old metric name: incoming_event
New metrics name (just by upgrade): incoming_event_total

[2021-10-11 05:59] legendecas commented on #2530
Hi, can you share which version do you upgrade from?

[2021-10-11 18:16] sureshballa commented on #2530
Thanks, @weyert for informing me about this. It would be great to document such breaking changes explicitly (All our grafana dashboards are impacted and we nee update the underlying promql queries)

Also, is there any such convention for gauges? Please let me know.

[2021-10-11 21:48] #2299 closed

[2021-10-14 17:23] dios-david opened #2534 "status.code is UNSET in a successful https request trace"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
Node v14.18.1 (Alpine Linux v3.11)

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

I have a periodical fetch set up using Axios. I had an error where the promise returned by Axios did not resolve in the expected timeframe, so I checked the tracing for

[2021-10-14 18:33] ericmustin opened #2535 "Schema URL support Resource + api getTracer"
in addition to the API updates here: https://github.com/open-telemetry/opentelemetry-js-api/issues/125

OTEP-152 also defines a separate schema_url for resources as well as adds new merge behavior, https://github.com/open-telemetry/opentelemetry-specification/blob/49c2f56f3c0468ceb2b69518bcadadd96e0a5a8b/specification/resource/sdk.md#create

Just adding this issue to determine whether this is bein

[2021-10-15 02:28] lizthegrey commented on #1946
Is this essentially where this discussion landed, or is there a better proposed solution being tracked elsewhere?

[2021-10-15 05:45] frank-dspeed commented on #1946
@lizthegrey you are correct you got 3 options
1. loaders with version matrix (your proposed solution)
2. loaders with future detection  (less maintainance update effort)
3. user land code ```openTelemetryImport()``` (Only Cross Platform Solution that works in all JS Environments)
  3.1 bundler utils for injecting transpiling compiling (turns import into ```openTelemetryImport()```)
  3.2 custom lo

[2021-10-16 16:25] astorm commented on #1946
@lizthegrey  speaking as the original poster (and someone who's only tangentially involved in both the OpenTelemetry project and Node.js core project, but who watches both) it seems like this issue has landed on a stalemate.

The folks from Node.js core don't have a stable API for the module loader hooks, and the `node --experimental-loader "node_modules/import-in-the-middle/loader-$(node --versio

[2021-10-20 15:29] dyladan opened #2545 "Remove metric instrument bind/unbind"
The specification has removed the bound instruments from the API.

[2021-10-20 15:30] dyladan opened #2546 "Verify API compliance of MeterProvider.getMeter"
Ensure our implementation of get meter is compliant with the latest API specification. If not, create a PR to make it compliant.

After looking at spec it seems like the only parameters are name and version. Removing the extra config param is already opened by @legendecas

- [ ] #2563

[2021-10-20 15:32] dyladan opened #2547 "Metrics: configuration changes in MeterProvider and propagated to Meters"
If a configuration change is made to the MeterProvider, any Meter already created by it should use the new configuration without needing to be recreated.

[2021-10-20 15:33] dyladan opened #2548 "[api-metrics]: Create or verify compliance of Counter"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#counter

- Creation method
	- name (required)
	- unit (optional string)
	- description (optional string)
- Interface
	- Add
		- required increment amount
		- optional attributes
		- optional context
- Noop implementation

### Current Status 10/27

Currently we have bound and unbound versions. The u

[2021-10-20 15:34] dyladan opened #2549 "[api-metrics]: Create or verify compliance of UpDownCounter"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#updowncounter

- Creation method
	- name
	- unit (optional string)
	- description (optional string)
- Interface
	- Add
- Noop implementation

[2021-10-20 15:35] dyladan opened #2550 "[api-metrics]: Create or verify compliance of Async Counter"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-counter

- Creation method
	- name (required)
	- callback (required)
	- unit (optional string)
	- description (optional string)
- Interface
	- No methods
	- callback
		- observer argument
			- observe method
- Noop implementation

[2021-10-20 15:36] dyladan opened #2551 "[api-metrics]: Create or verify compliance of Async UpDownCounter"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-updowncounter

- creation method
- interface
- noop implementation

[2021-10-20 15:37] dyladan opened #2552 "[api-metrics]: Create or verify compliance of Histogram"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#histogram

- Creation method
- Interface
- Noop implementation

[2021-10-20 15:38] dyladan opened #2553 "[api-metrics]: Create or verify compliance of Async Gauge"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-gauge

- Creation method
- Interface
- Noop implementation

[2021-10-20 16:35] dyladan opened #2554 "Consider using a consolidated/shared proto implementation"
- Must support field presence (proto3 feature)

Possible packages for consideration
- https://github.com/open-telemetry/opentelemetry-proto/blob/main/Makefile
- https://github.com/protobufjs/protobuf.js/blob/master/cli/README.md#pbts-for-typescript
- https://github.com/stephenh/ts-proto

Ideally there will be a package like `@opentelemetry/proto` which handles all proto serialization tasks for the

[2021-10-20 20:31] dyladan commented on #2530
I would not revert the change as this is actually part of the openmetrics standard now. Retroactively updating the changelog seems like a reasonable step though.

_https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#counter-1_

[2021-10-21 18:46] dyladan commented on #2545
It was intentionally removed and we should remove it unless someone has a very compelling reason not to.

[2021-10-22 23:10] pkwarren opened #2562 "Add support for process.runtime.* attributes for Node resource detector"
### Is your feature request related to a problem? Please describe.

Other languages (like Go, Java) expose useful information in traces in the process.runtime.* attributes. For example:

[code]

### Describe the solution you'd like

Update @opentelemetry/resources package to add process.runtime.* attributes in https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-reso

[2021-10-27 06:48] OmkarKirpan opened #2564 "opentelemetry in istio environment"
We are trying to integrate opentelemetry in our microservices with istio. we are facing an integration issue since istio is creating and forwarding x-b3 headers which open telemetry is not expecting. Opentelemetry is not able to extract spans created by istio in x-b3-header.

Are there any guides for implementing open-telemetry in an istio environment?

[2021-10-27 13:23] dyladan opened #2565 "[api-metrics]: Remove BatchObserver"
The BatchObserver was removed from the spec in order to simplify it for a v1 release. After v1 it may be added back in, but we should remove it because we can't know what the final implementation will look like.

[2021-10-27 15:52] arquadrado opened #2567 "Using @opentelemetry/exporter-otlp-http with last collector version (0.37.1)"
Hi, this is mostly a support request since I've been navigating through the documentation for the past week and I feel totally lost.

Here's the context, I have a node js micro-service done with Fastify and I am trying add observability to it using opentelemetry.

I have a kubernetes cluster where I set up the micro-service, a collector service, zipkin and prometheus, to display traces and metrics

[2021-10-28 16:39] politician opened #2571 "`exporter-jaeger` not exporting traces to Jaeger when used with `sdk-node`"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

`v16.13.0`

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

1. Clone https://github.com/Olivr/app-node-js
2. `yarn install`
3. `yarn dev`
4. `open http://localhost:3000`

✅ It works when

[2021-10-29 03:03] legendecas opened #2574 "Update Metrics SDK to latest Feature-Freeze Spec"
This issue tracks work needed to meet the [SDK specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md).

- [x] https://github.com/open-telemetry/opentelemetry-js/issues/2593
- [x] https://github.com/open-telemetry/opentelemetry-js/issues/2592
- [x] https://github.com/open-telemetry/opentelemetry-js/issues/2590
- [x] https://github.com/op

[2021-10-29 12:28] bogdanoliinyk opened #2575 "Can not execute the operation on ended Span opentelemetry-instrumentation-http"
### What version of OpenTelemetry are you using?
0.18.0

### What version of Node are you using?
tested 12 and 14

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?
http request call

### What did you expect to see?
Span created and closed with all data set

### What did you see instead?
Can not execute the operation on ended Span

### Additional cont

[2021-10-29 20:20] bforbis commented on #692
Will this be implemented? Support for jaeger remote sampling has been added to the opentelemetry specification

See `OTEL_TRACES_SAMPLER =jaeger_remote` in the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#general-sdk-configuration)

[2021-10-29 20:22] dyladan commented on #692
Interesting. The SDK spec doesn't list the jaeger remote sampler as a built-in sampler. Maybe this is a spec oversight? https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#built-in-samplers

[2021-10-30 16:31] bforbis commented on #692
Can this issue be re-opened? I would like to have this functionality available.

[2021-11-01 13:04] dyladan commented on #692
Yes this issue can be reopened but it should likely be clarified in the spec if the jaeger remote sampler is a spec required component. If not, it would likely need to be implemented in the contrib repo.

[2021-11-01 14:35] qaas opened #2578 "Document the HrTime format"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Hi,

I am implementing openteletry for both python and JS. I would like that the docs are expanded on the HrTime format. For example:

`export declare type HrTime = [number, number];`

What do the first and the 2nd element of the list represent? I can ded

[2021-11-01 14:45] dyladan commented on #2578
Sorry for this oversight on the docs. I'll make sure it gets corrected.

You are correct that the first number is unix epoch seconds. The second number represents the partial second elapsed since that second in nanoseconds.

For example, the date `new Date(2021, 11, 1, 10, 40, 20, 50)` is represented in unix ms as `1638373220050`. This is `163837322` seconds and `050` ms. It would be represented i

[2021-11-02 08:12] #2546 closed

[2021-11-02 08:12] #2547 closed

[2021-11-02 09:41] raz-co-n opened #2580 "opentelemetry-instrumentation-grpc + nestjs grpc collision"
### What version of OpenTelemetry are you using?
0.26.0

### What version of Node are you using?
v14.18.0

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?
So I had a NestJS gRPC server up and running with two RPCs:
- Test (Unary)
- TestStream (Client side streaming)

I called `initTracing` in the main, right before calling NestJS `bootstrap`.

The `

[2021-11-02 10:44] fungiboletus opened #2582 "Is the CLA necessary ?"
Hi, I just suggested 3 lines of TypeScript to this project and I had to *read* and sign a long document full of technical legal text. It's not nice nor welcoming.

I contributed to a few projects on Github and it's very rare to be asked such things. I wonder why it's necessary for opentelemetry. Could you drop it ?

[2021-11-02 11:02] qaas commented on #2578
Thank you Daniel for your quick reply!
I thought the 2nd param will be time-related too :) but nanoseconds are like quantum physics time resolution :)

Do you want me to close this, as your reply is more than sufficient?

Best regards,
Dragos

[2021-11-02 11:03] vmarchaud commented on #2582
Thats a legal requirement so we know that we can legally use the code you suggested and there no intelectual property infrigment. You can find more detail there: https://en.wikipedia.org/wiki/Contributor_License_Agreement

[2021-11-02 12:01] fungiboletus commented on #2582
But why so many opensource JavaScript/TypeScript projects do not need a CLA then ? Reading the wikipedia article, it doesn't seem to add much value in addition to the open-source license, except in case of relicensing for corporate entities, which is more a negative thing.

[2021-11-02 12:16] dyladan commented on #2582
This project is a member project of the CNCF. It is the CNCF which requires the CLA so no there is no chance we could drop the requirement. I'm sorry if you feel it is a burden but for large organizations with many corporate contributors it is necessary.

[2021-11-02 12:22] fungiboletus commented on #2582
Fair enough. Sorry for the noise.

[2021-11-02 12:22] #2582 closed

[2021-11-02 12:33] dyladan commented on #2578
No it should be documented so others don't have the same question in the future.

[2021-11-02 17:16] #2486 closed

[2021-11-02 18:14] #2545 closed

[2021-11-02 18:54] obecny opened #2583 "resource-detector-aws, resource-detector-gcp"
Currently the package @opentelemetry/sdk-node from main repo depends on 2 packages from contrib repo

- @opentelemetry/resource-detector-aws
- @opentelemetry/resource-detector-gcp

Those packages  should be either moved to main repo or we should remove the dependency on them from @opentelemetry/sdk-node

both should work fine

[2021-11-02 19:10] #2565 closed

[2021-11-03 02:23] legendecas commented on #2583
I'd find installing potentially unused detectors in every environment very annoying.

[2021-11-03 04:59] anpatellll commented on #1386
I support this motion

[2021-11-03 14:22] dyladan opened #2585 "Allow non-string values for attributes"
According to the specification, attributes for metrics and traces now share a definition.

- [x] #2523
- [x] #2586 to support `attributes` field
- [x] https://github.com/open-telemetry/opentelemetry-js-api/issues/130
- [ ] #2587

[2021-11-03 14:24] dyladan opened #2586 "Update proto"
Upgrade the version of the proto in the various OTLP exporters to support latest features

- [ ] Move proto to a shared location if possible
- [ ] Use autogenerated JS from the proto repo if possible

[2021-11-03 14:28] dyladan opened #2587 "[metrics]: Use API common Attributes definition"
Related to https://github.com/open-telemetry/opentelemetry-js-api/issues/130 but does not depend on it because the public interface of the API will not change.

Depends on #2586

[2021-11-03 15:42] dyladan opened #2589 "Define MetricExporter interfaces"
The specification defines both push and pull metric exporters. These interfaces will need to be defined so that exporters can implement them.

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#metricexporter

Pending merge of https://github.com/open-telemetry/opentelemetry-specification/pull/2106 the specification has clarified the requirements of

[2021-11-03 15:45] dyladan opened #2590 "Implement MetricReader"
The MetricReader handles collecting metrics from all SDK instruments. It also handles shutdown and forceflush signals from the SDK.

Methods:
- Collect
- Shutdown

Required metric readers:
- Periodic exporting metric reader
	- Collects metrics on a time interval and passes them to a push metric exporter
	- Configurations
		- exporter
		- export interval (ms)
		- export timeout (ms)

[2021-11-03 15:47] dyladan opened #2591 "[metrics sdk]: verify and enforce attribute limits"
At this time, metric attributes are expected to use the same limits as the common attributes (trace):

- sdk attribute limits spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#attribute-limits
- attribute limits spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/common.md#attribute-limits

[2021-11-03 15:49] dyladan opened #2592 "Implement Views API"
Views should be configurable through a MeterProvider

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#view

TODO: update description with requirements for views API

- [x] Views should be able to select metrics using the following (all optional):
	- instrument type
	- instrument name (with wildcards)
	- meter name
	- meter version
	- schema url

[2021-11-03 15:51] dyladan opened #2593 "[metrics SDK] Specification compliant MeterProvider"
- [ ] Constructor
	- [ ] MetricExporters depends on #2589
	- [ ] MetricReaders depends on #2590
	- [ ] Views depends on #2592
- [ ] Meter creation
- [ ] Shutdown
- [ ] ForceFlush
- [ ] Views depends on #2592
- [ ] optional: Config update (must propagate to created meters)
	- for now it may be easier to not allow configuration to be updated after creation as it is an optional feature.

[2021-11-03 15:57] dyladan opened #2594 "Metrics examplars"
Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#exemplar

A metrics exemplar is a trace that is representative of the metrics being collected. The spec requires that exemplars be implemented in a way such that they may be disabled and that if disabled they should have no performance impact (collection should be disabled, not just export).

[2021-11-04 04:09] legendecas commented on #2589
I don't find a clear interface of the metrics data of the `exporter.batch(data)` in the spec: https://github.com/open-telemetry/opentelemetry-specification/issues/2073.

Currently, we define the exporter to batch with a series of `MetricRecord`. i.e. they are a record of (instrument descriptor, attributes, aggregated value). But I do find implementations like java define the metrics data as (instr

[2021-11-04 10:05] JamesJHPark commented on #2578
Hi, I would like to work on this issue. Can you please assign me this issue?

[2021-11-04 13:54] dyladan commented on #2589
That was also the same thing we did for the existing SDK and we will likely do the same thing again. Modeling the batch interface after the OTLP spec ensures we have all data required for OTLP export which should be everything in the data model so it is a good shortcut to make sure we're not missing anything important.

[2021-11-04 14:57] legendecas commented on #2589
@dyladan sorry but I'm not sure what you are suggesting. Do you suggest we should keep `exporter.batch(MetricRecord[])` as same as what we have now, or update it with the OTLP model like `exporter.batch(MetricData[])` which groups with metric names (metric record with different attributes were grouped together)?

The latter one (grouped form) can reduce the work on the exporter side if they can se

[2021-11-04 15:56] dyladan commented on #2589
Both are reasonable options. I was suggesting the second one, but the first one would mean we don't have to update all of our metrics exporters. Fortunately we don't have that many yet.

@legendecas unrelated but i'm not sure how else to contact you. are you on CNCF slack? we're trying to plan the metrics SDK and you've been pretty involved in metrics.

[2021-11-04 16:37] legendecas opened #2599 "Metric Aggregations"
SDK spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#aggregation

An Aggregation, as configured via the View, informs the SDK on the ways and means to compute Aggregated Metrics from incoming Instrument Measurements.

Aggregations:
- None
- Default
- Sum
- Last Value
- Histogram
- Explicit Bucket Histogram

[2021-11-04 16:39] dyladan commented on #2599
After #2598 I will create a new PR with a frame for the new SDK. It will probably be easier to do this work on top of that. Should have that PR ready by end of day today (Eastern US time).

[2021-11-04 16:55] dyladan commented on #2592
@legendecas I see you assigned yourself but I did a little of this already with the new SDK package frame. There is still a lot to do but I wanted to let you know.

[2021-11-04 16:56] legendecas commented on #2592
@dyladan Please go ahead. I was trying to bootstrap this but I found it will be easier if we have figured out how the internal data storage will be so I'm just started working on #2599. Remove assignments for now.

[2021-11-05 03:35] shidaying commented on #2599
On the front end, when can we expect metrics support

[2021-11-05 12:59] dyladan commented on #2599
Browser and node use the same code so they will both be implemented at the same time. I can't make any hard promises on timelines but I expect the API to be complete in the next few weeks and hope the SDK is in a useable beta state by the end of the year. Instrumentation will also take time and I'm sure there will be a period of fixes and improvements before metrics is declared stable. Hope that a

[2021-11-05 16:33] OlivierAlbertini commented on #2564
Hi OmkarKirpan,

You can use b3 propagator.
Like `opentelemetry.propagation.setGlobalPropagator(new B3Propagator());`

See [readme](https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-propagator-b3) for more details

[2021-11-05 16:51] OlivierAlbertini commented on #2571
Hi
I follow your step and I worked for me

![Capture d’écran, le 2021-11-05 à 12 50 15](https://user-images.githubusercontent.com/3801683/140548087-2bce9d71-53db-4bfc-8954-3e8863cb7c4d.png)

I set `require("./observability/tracer.sdk");` in index.js

[2021-11-05 19:03] #2578 closed

[2021-11-06 07:46] legendecas commented on #2589
https://github.com/open-telemetry/opentelemetry-specification/pull/2106 It's been clarified on spec. We should go with the `exporter.batch(MetricData[])` which groups with metric names (metric points with different attributes were grouped together) pattren.

[2021-11-07 06:19] sureshballa opened #2605 "Metrics SDK: How to get current instance of meter from host service (to add new metrics in libraries where we do not have access to host process or meter instance)"
### What version of OpenTelemetry are you using?
@opentelemetry/sdk-metrics-base@0.26.0

### What version of Node are you using?
14

I am the owner of multiple libraries that serves as basing building blocks for microservice and need to create new metrics specific to the library and track it part of the global meter that is initialized and exported to prom in host node based microservice

Host mic

[2021-11-07 09:42] sureshballa commented on #2605
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#meterprovider

[code]

How can we achieve this?

[2021-11-08 12:19] shidaying commented on #2599
dyladan, thank you very much for contribute to this.
i have some doubts, now i see have  @opentelemetry/sdk-metrics-base, all the functions in metrics-base will be cotained by new(stable) version?  can i feel free to use it？

[2021-11-08 13:21] dyladan commented on #2599
I can't make any promises that anything in the current release will be kept. I can almost certainly say that the `@opentelemetry/sdk-metrics-base` will have large breaking changes. I would _not_ recommend it for production at the moment.

[2021-11-08 13:36] shidaying commented on #2599
Right now it's just @OpentElemetry/demy-Jaeger, @OpentElemetry/demy-Zipkin, is there any way to import data to AWS other than through a Data Collector?
In addition, NOW I want to develop metric and log. Can you give me some suggestions or third-party libraries? Your reply is very important to me, thank you very much

[2021-11-08 13:48] dyladan commented on #2589
That isn't merged yet, but I'll add it to the issue description.

[2021-11-09 02:39] bennbollay opened #2606 "JaegerExporter caches sender, which locks process service.name for all Spans"
The call to [getSender](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-exporter-jaeger/src/jaeger.ts) caches the results of the sender generation, but the sender itself caches the `service.name`:

[code]

This produces much surprise when multiple spans with different SERVICE_NAME tags specified on them are supplied to the same exporter instance.

This can be wo

[2021-11-09 03:34] legendecas commented on #2605
@sureshballa The problem here is that in the library code you created a new meter provider with empty configurations. So the metrics created in library code won't be transported to the exporters that registered with the meter provider created in the host code.

The steps to resolve this are:

1. register the meter provider with api-metrics global registry: https://github.com/open-telemetry/opentel

[2021-11-09 15:06] sureshballa commented on #2605
Thanks, @legendecas for the solution

[2021-11-09 19:33] aabmass commented on #2606
@bennbollay the exporter is operating under the assumption that resource is immutable. It assumes the `SemanticResourceAttributes.SERVICE_NAME` it sees here is not going to change for the lifetime of the SDK and the exporter instance, which is a fair assumption. Based on our slack discussion I think you are trying to use the exporter directly without the SDK?

[2021-11-09 19:33] dyladan commented on #2606
Resource is immutable according to the specification.

[2021-11-09 22:50] bennbollay commented on #2606
@aabmass I'm calling the exporter.export directly, yes.

As a developer, my expectation was that parameters specified on the span are expected to be ephemeral; parameters that are constant would have been supplied during construction, rather than intuited on first span and then persisted forever more.

This seems like a micro-optimization and caused several days worth of hunting around before I wa

[2021-11-09 23:12] dyladan commented on #2606
it's not meant to be a performance optimization for the exporter. It's meant to ensure identity doesn't change between spans in order to not confuse backends.

That said, the immutability should be per-span-processor not per-exporter so it should be fine to remove the caching from the exporter itself. Would you like to make a PR for that or should I mark this up for grabs?

[2021-11-09 23:13] dyladan commented on #2606
Removing the bug label since this is working as designed, it's just a design we don't want :)

[2021-11-09 23:19] bennbollay commented on #2606
Are there backends that expect all of the spans in a batched request to have the same identity?  Is that part of the protocol specification?  Seems like it would break aggregators or forwarders, if that was the case...

I'm absolutely not informed enough about this space to have a strong opinion, but this sounds like it might be a "good idea to be defensive" that ended up being a "unnecessarily op

[2021-11-09 23:34] dyladan commented on #2606
Some exporters (like otlp) treat the resource as a separate object from the span and spans are attached to the resource. Backends can then determine that two spans came from the same tracer if they have the same resource. If the resource is ever mutated, then that backend would not know the spans are from the same tracer. As far as all of the spans in a batch having the same resource I don't think

[2021-11-10 02:23] astorm commented on #1946
It's been around 8 months since this issue was originally opened and just under a month since someone from the OpenTelemetry project chimed in.  My read on that is ESM/import support isn't a priority for the project and won't be forthcoming anytime soon -- which isn't the answer I wanted but is an answer I can work with.

I'm going to close this issue out -- if folks are interested in making this

[2021-11-10 02:37] legendecas commented on #2605
Closing as the question has been answered.

[2021-11-10 02:37] #2605 closed

[2021-11-10 02:44] legendecas commented on #2599
@shidaying I'm not sure I'm understanding your question. For OpenTelemetry logs support, the work has not been started yet on opentelemetry-javascript. And for OpenTelemetry metrics support, it is under the work to be refactored to be compliant with the latest specification.

In any condition, I would suggest you open a discussion thread at https://github.com/open-telemetry/opentelemetry-js/discus

[2021-11-10 09:44] bogdanoliinyk commented on #2575
Hi guys, is there any news ?
@dyladan @vmarchaud @bogdandrutu

[2021-11-10 13:08] dyladan commented on #2575
@vmarchaud pinged the wrong bogdan. I think he meant to ask if you @bogdanoliinyk want to make a PR

[2021-11-10 13:57] vmihailenco opened #2612 "otel-web: ZoneContextManager, attach and detach methods"
From what I understand, there is currently no way to activate/deactivate spans from hooks using ZoneContextManager, e.g. with vue-router

[code]

`StackContextManager` allows to do that, but it does not work with async functions so one must copy-paste some code from zone.js for most popular cases (looks like [SplunkContextManager](https://github.com/signalfx/splunk-otel-js-web/blob/main/src/Splunk

[2021-11-11 08:30] vanand-conga commented on #2205
Is there any way I can flush synchronously?

[2021-11-11 08:38] vanand-conga opened #2613 "The batched spans are not sent during unload of browser"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
1.0.0

### What version of Node are you using?
v16.x

### What did you do?
I'm creating the span to measure the time spent by an user in a page. On closing the tab/window (`beforeunload` event) im ending that span. I also calling the shutdown in the `unload` event.

### What did you expe

[2021-11-11 10:59] mhennoch commented on #2613
They should be sent. Can you make a repo with your example that reproduces it? Also which browser were you using?

[2021-11-11 14:58] vmarchaud commented on #2575
Yep, github username suggestions sometimes betray me :)

[2021-11-11 15:37] dennismeister93 opened #2615 "B3 Propagation from Kafka Message"
Hey :)

Could someone maybe answer me what I'm doing wrong?
I'm running a local Kafka where I'm producing and consuming messages.
I intentionally produce messages without injecting a Span but setting a header in a single B3 string format.

In my consumer I want to handle the message and extracting that TraceId from the header. So far so good this is working, but when I want to create a new Span fr

[2021-11-12 01:47] punkfest opened #2618 "jaeger-client is now deprecated"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Hello,

Library maintainer @yurishkuro announced a few days ago that [jaeger-client-node](https://github.com/jaegertracing/jaeger-client-node) is now deprecated. This library is still actively used by opentelemetry-js' `opentelemetry-exporter-jaeger`, see

[2021-11-12 02:36] politician commented on #2571
It does work for me as well now. Not sure what happened!

[2021-11-12 02:36] #2571 closed

[2021-11-12 15:17] bradfrosty opened #2620 "Allow instrumentations to be extendable"
### Is your feature request related to a problem? Please describe.

It is currently difficult as a consumer to extend functionality to the automatic instrumentations. The visibility of most methods are private. If I want to fix something locally or add something custom, I need to copy and paste the existing source or force typescript to ignore it.

### Describe the solution you'd like

I would lik

[2021-11-12 15:19] dyladan commented on #2620
The current reasoning for having most methods private is that once they are made protected they are considered a part of the public API. Private methods can be changed or removed without warning in bugfix releases. If we make them protected it increases the API surface and in turn the maintenance burden. IMO it is usually better to upstream changes as new configuration options.

Can I ask which pl

[2021-11-12 15:22] dyladan commented on #2620
Just so you know, it is possible to call private methods by using the `obj["property"]` syntax

[code]

[2021-11-12 15:28] bradfrosty commented on #2620
That makes sense regarding the public API. I am currently wanting to use the fix we're discussing in in this issue https://github.com/open-telemetry/opentelemetry-js-contrib/issues/548.

I didn't realize that was possible, so that makes things a little easier. However, how would I override a method that is called internally by another private method that I don't need to modify? For example:

[code

[2021-11-12 15:34] dyladan commented on #2620
Thats a little trickier. Best i've been able to come up with is this:

[code]

[2021-11-12 15:42] dyladan commented on #2620
Or if you want to make it a little clearer what your intent is:

[code]

[2021-11-12 15:56] dyladan commented on #2618
Seems like it must be. We're only using a small part of the client which isn't even a public API so it should be fairly trivial to reimplement.

It seems like if we want to copy their code exactly in a license-compliant way, we need to add a `NOTICES` file to this repo which states we're using their code and include the original copyright in the source file we are modifying? I have to admit i'm no

[2021-11-12 16:14] yurishkuro commented on #2618
See https://www.jaegertracing.io/docs/1.28/client-libraries/#copying-jaeger-code

[2021-11-12 16:42] dyladan commented on #2618
Perfect thanks

[2021-11-14 17:04] vmarchaud commented on #2615
Could you log the `extractedSpan` to verify it has the correct trace id/parent span id ? Also you you could wrap the end of the handleMessage:

[code]

[2021-11-15 08:03] dennismeister93 commented on #2615
Hey @vmarchaud  thank you very much for your respond :)

This is are the 2 spans now I'm creating in the code:

[code]

[2021-11-15 09:13] vmarchaud commented on #2615
I believe the sdk isn't registered, you should have a normal span for the span inside the `context.with`, could you share the version of all otel components you are using ?

[2021-11-15 09:26] dennismeister93 commented on #2615
Yes sure:

[code]

But in my console i can see 'Tracing initialized'
and when I acutally try to just:

[code]

I can see:
[code]

[2021-11-15 09:37] vmarchaud commented on #2615
Could you try to update to latest versions ? Specially `@opentelemetry/node`, i don't think you actually need it sinde you are using the node sdk

[2021-11-15 10:12] dennismeister93 commented on #2615
Ok I did, but nothing changed. :(
I'm a bit confused now what, where and how to use the packages I need... :D
I replaced @opentelemetry/node with @opentelemetry/sdk-trace-node in my "logic" file where I'm creating and registering the traceProvider and in my "initTracing" file I'm using @opentelemetry/sdk-node to start the SDK

[2021-11-15 20:10] pragmaticivan commented on #2480
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md is stable 🎉

[2021-11-16 14:18] #2612 closed

[2021-11-16 20:58] aabmass commented on #2606
Correct me if I'm wrong, but the sender looks like a "client" resource which keeps open a thrift connection. You would only want to create one for a given exporter, and not close the client every time, right? It isn't clear to me if you can update the service name after creating a client, and creating a new client for every request could be expensive.

Based on our discussion of your use case, you

[2021-11-17 16:30] lonewolf3739 commented on #2594
Happy to take this up if no one has already started working on it

[2021-11-17 16:31] dyladan commented on #2594
go ahead. You may want to keep an eye on #2625 since it changes what we have quite a bit

[2021-11-18 19:32] #2564 closed

[2021-11-19 09:31] legendecas commented on #2587
Submitted an issue on re-using the common `Attribute` interface: https://github.com/open-telemetry/opentelemetry-specification/issues/2143

[2021-11-19 11:24] rozingmichael commented on #1688
Is there any way to resolve this issue?
I'm facing it now with counter metrics that were sent from otel instance to elastic and showing in grafana dashboard.
Only viable option I currently see is to extend the OTLPExporterNodeBase and override the send method, but it's gonna be a pain to do so and apparently I'm not the only one facing this issue.

[2021-11-19 13:42] dyladan commented on #1688
The metrics SDK is currently considered extremely alpha. It is currently being rewritten to meet the most recent metrics specification. It will support both delta and cumulative aggregation temporalities.

[2021-11-19 14:00] rozingmichael commented on #1688
thanks @dyladan .
In the meantime I was able to hack the exporter by overriding the convert method.

[2021-11-21 10:56] vmarchaud commented on #2615
Sorry i've no idea :/ Could you create a sample project that reproduces the issue so i can try debug it on my laptop ?

[2021-11-22 15:58] #2550 closed

[2021-11-22 15:58] #2551 closed

[2021-11-22 15:58] #2553 closed

[2021-11-22 17:20] dyladan commented on #2587
Was advised by @jsuereth to emulate the collector behavior while the prometheus spec is finished.

[2021-11-23 03:24] legendecas commented on #2587
@dyladan can you elaborate on the emulation details? Like say do we need to export `0` and `"0"` to prometheus both as `"0"`?

[2021-11-23 03:46] bengl commented on #1946
Just a heads up for the folks in this thread who care about such things: The latest version of `import-in-the-middle` supports the latest version of loader hooks (and the previous one as well).

The way we use it in `dd-trace-js` is just putting it along side `require-in-the-middle`. Any hook is (mostly) compatible, so we just add them to both, that way it doesn't matter which way a module is load

[2021-11-23 04:22] lizthegrey commented on #1946
The pointy end is here. Thank you so very much for the offer to help @bengl. https://github.com/open-telemetry/opentelemetry-js/blob/fdab6422ae238b04beb2e92ac38153e35e5800ac/experimental/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L139

[2021-11-23 05:10] bengl commented on #1946
Here's a start. https://github.com/open-telemetry/opentelemetry-js/pull/2640

[2021-11-23 14:03] dennismeister93 commented on #2615
Sure @vmarchaud  there you go https://github.com/dennismeister93/opentelemetry-kafka-test

Sorry for replying late. Thank you! :)

[2021-11-23 22:23] millsp opened #2642 "Example for `context.with` yields undefined"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

14.16.0

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

[code]

### What did you expect to see?

[code]

### What did you see instead?

[code]
### Additional context

Relevant examples:

[2021-11-24 10:02] vmarchaud commented on #2642
You'll need to register a context manager, in node you should use https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-context-async-hooks to make context propagation work

[2021-11-24 17:01] vmarchaud commented on #1946
I'll reopen the issue while we are discuting the PR

[2021-11-25 03:58] legendecas opened #2643 "Precision loss on time_unix_nano"
### What version of OpenTelemetry are you using?

v1.0.1

### What version of Node are you using?

v14.18.1

### Please provide the code you used to set up the OpenTelemetry SDK

[code]

`core.hrTimeToNanoseconds` is used in otlp exporters heavily, yet it is losing precisions on converting the value to nanoseconds. In otlp proto, `time_unix_nano` is defined to be` fixed64` (i.e. integer with 64-bi

[2021-11-27 13:26] vmarchaud commented on #2615
@dennismeister93 I finally had the time to look into your issue and thanks a lot for the reproduction repo, thats helped me a lot ! Your problem is that the span is getting sampled, by default SDKs are using this [sampler](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#parentbased) which don't record the span is the parent is remote and the trace

[2021-11-29 06:38] #2471 closed

[2021-11-29 06:39] #2460 closed

[2021-11-29 06:39] #2458 closed

[2021-11-29 14:21] pichlermarc commented on #2591
At this time, the linked [spec document](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#attribute-limits) mentions that metric attributes are exempt from the common rules of attribute limits. So I guess this is not needed right now.

[2021-11-29 14:22] #2591 closed

[2021-11-29 17:01] gcampbell-mythical commented on #2464
I'm also using vite and seeing this issue. Neither `esModuleInterop` nor `transformMixedEsModules` fixes the issue.

[2021-11-30 14:48] pichlermarc commented on #1812
I think this issue was fixed by #2028
I went though the examples again and it seems like none of them depend on the contrib repository anymore.

[2021-11-30 16:18] svetlanabrennan commented on #1534
The [getting started guide ](https://opentelemetry.io/docs/js/getting-started/nodejs/) for Node.JS looks up to date so I think this issue can be closed.

[2021-11-30 16:58] dennismeister93 commented on #2615
Hi @vmarchaud
Ohh what a stupid mistake, I completely didn't think of that sampling :(
Thank you very very much for supporting and debugging that with/for me :)
I very appreciate this! :) Thanks!

[2021-11-30 18:17] #2615 closed

[2021-11-30 18:21] #1812 closed

[2021-11-30 18:50] #1534 closed

[2021-11-30 19:58] MannyPamintuanAtCare commented on #1534
❤

[2021-12-01 15:23] pichlermarc commented on #2348
I think this issue can be closed as this was already done in #2431 which replaced #2393

[2021-12-01 16:13] #2548 closed

[2021-12-01 16:13] #2549 closed

[2021-12-01 16:13] #2552 closed, assigned to dyladan

[2021-12-03 08:49] legendecas commented on #2574
Tried to sum up the internal design of the SDK: This is a prototype of the implementation described in https://docs.google.com/document/d/1EluDhj5UanNATS3hR8xx30sv55Se7uYjsGYslvNWHtc/edit#.

Please feel free to comment :).

[2021-12-03 20:28] millsp commented on #2642
Awesome, thank you! It might be worth adding a line in the docs for this? It seems obvious to me know, but when I first read the docs I got the impression that this would propagate with the default context.

[2021-12-03 20:45] vmarchaud commented on #2642
Well the issue is to where this should documented, we mostly don't document using the base sdk because its just shared code between broswer and node (althrough you can use it). Could you share you got an example with the basic provider so we can maybe add a note there ?

[2021-12-03 21:16] millsp commented on #2642
Is there a propagation for the browser that would allow for context propagation to work like in node (and that example)?

[2021-12-03 21:20] vmarchaud commented on #2642
Sadly browser don't have a context manager *exactly* like node, the closest is the zonejs (https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-context-zone) but i believe it doesnt support native async/await (explained there https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-sdk-trace-web#how-does-automatic-tracing-work if you target

[2021-12-05 14:27] vmarchaud commented on #2574
Overall i'm not familiar with all the new mechanisms of the sdk (specially metrics stream) so i won't help much providing feedback on the implementation but i've made few comments on the wording. I'm hoping to be able to re-visit it when PRs are made to help a little bit more on reviews

[2021-12-05 18:33] blumamir opened #2649 "Add optional attributes to SDK samplers"
### Is your feature request related to a problem? Please describe.

According [to the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#shouldsample), the sampling result consist of decision, attributes and trace state. However, [the current samplers in the SDK](https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetr

[2021-12-06 06:39] #2441 closed

[2021-12-06 06:39] #2419 closed

[2021-12-06 06:59] legendecas commented on #2649
New attributes returned by a sampler are already supported by the SDK: https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-trace-base/src/Tracer.ts#L125.

IMHO, AlwaysOnSampler is defined by the spec https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#alwayson and adding any features need a normative change on the s

[2021-12-06 08:30] blumamir commented on #2649
Yes, I use them with my custom samplers. SDK covers the setting of the attributes returned from the sampler, but there is currently no support for it in any of the existing SDK samplers. If the user wants to add attributes, he has to implement his own sampler.

The spec talks about the returned decision, but it says nothing about attributes. Since it's an optional extended configuration, I think i

[2021-12-06 09:01] blumamir commented on #2649
opened an issue for that in spec:
https://github.com/open-telemetry/opentelemetry-specification/issues/2198

[2021-12-06 09:06] legendecas commented on #2649
Note: Added waiting-for-spec label and removed up-for-grabs so that we don't confuse newcomers that this is ready to work on.

[2021-12-06 19:52] #2515 closed

[2021-12-06 20:10] KyleAMathews opened #2653 "How to combine multiple traces that get batched together?"
I have a system that can batch together multiple streams of work. How do I combine each of the N parent traces as the parent of the batch span?

[2021-12-06 20:11] dyladan commented on #2653
The best way to handle this is probably to use span links. In that case the batch span is its own root (or whatever triggers the batch to run may be a root) and it adds all the spans which added an item to the batch as a link.

It depends on your tracing backend though since they don't all support links.

[2021-12-06 21:47] silverlyra opened #2655 "context.active() broke in a TypeScript project with target ES2019"
### What version of OpenTelemetry are you using?

`@opentelemetry/api` 1.0.3
`@opentelemetry/sdk-trace-*` 0.24.1-alpha.20
`zone.js` 0.11.4

### What version of Node are you using?

N/A (Chrome 96)

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

As part of a recent deploy of our single-page app that uses OpenTelemetry, we changed our `tsconfig.jso

[2021-12-06 23:32] tigrannajaryan opened #2656 "Is it possible to rename "instrumentation library" to "instrumentation scope"?"
This initially came from a [discussion](https://github.com/open-telemetry/opentelemetry-specification/pull/1236#issuecomment-970464780) about introducing Logger Name.

While discussing the issue during the spec SIG meeting we came to a conclusion that the intent for "instrumentation library" was actually to have an "instrumentation scope".

The "instrumentation library" is currently used throughou

[2021-12-07 03:50] legendecas commented on #2656
In JavaScript SDK, the "instrumentation library" is defined as an interface https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-core/src/common/types.ts#L47. An interface describes an object shape. As long as the shapes of the two interfaces are identical, they can be used interchangeably. So the renaming in JavaScript would not introduce any breaking change if we a

[2021-12-07 09:33] t2t2 commented on #2655
First guess without example code is this is most likely caused by your code using async/await functions (es2017), which zone.js cannot accurately track due to lack of hooks for it in browsers (and most likely won't be supported in foreseeable future https://github.com/angular/angular/issues/31730)

Unfortunately the best fixes for this is to either run babel afterwards with plugins that transform

[2021-12-07 12:45] pichlermarc commented on #2590
I'd be happy to pick this one up if no one is working on it already.

[2021-12-07 13:59] legendecas commented on #2590
@pichlermarc Please go ahead! Also please take a look at the design doc of the SDK internals https://docs.google.com/document/d/1EluDhj5UanNATS3hR8xx30sv55Se7uYjsGYslvNWHtc/edit# and feel free to comment if you have any questions or ideas.

[2021-12-07 14:12] tigrannajaryan commented on #2656
Can you please clarify what you mean by "remove the old name"? The old name of the `InstrumentationLibrary` type or something else?

[2021-12-07 14:20] legendecas commented on #2656
The name `InstrumentationLibrary` is publicly exported and removing it will break user code. Like, the following example it no longer works:

[code]

[2021-12-07 14:41] tigrannajaryan commented on #2656
I understand. So, if we introduce an an alias `InstrumentationScope` and keep `InstrumentationLibrary` the rest of the API doesn't need to change? What other changes need to happen as a result of having `InstrumentationScope`? Should we rename types of function parameters elsewhere? Is that a non-breaking change?

[2021-12-07 14:49] legendecas commented on #2656
Ah, that reminds me that we need to change many property keys as well, which might break too:

- https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-trace-base/src/export/ReadableSpan.ts#L43
- https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-trace-base/src/Tracer.ts#L41
- https://github.com/open-telemetry/opentelemetry-js/b

[2021-12-07 15:04] dyladan commented on #2656
When @tigrannajaryan asks about 'breaking change' I assume he means the API surface. Nothing @legendecas has pointed out is in the API, nor is it in the surface of the SDK used by users. The API does not expose the name `InstrumentationLibrary` publicly in any way. The SDK only uses it as part of the data model, and users have no direct interaction with the type. This would change the property nam

[2021-12-07 15:11] tigrannajaryan commented on #2656
Yes, that's correct. To be more precise: any user-visible interface in this JS implementation that we declared and released as "Stable" and are no longer allowed to make breaking changes in.

Did we promise the stability of these interfaces to users?

[2021-12-07 15:13] dyladan commented on #2656
According to https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/versioning-and-stability.md#sdk-stability

So yes, I would say we definitely promise backwards compatibility on these interfaces.

[2021-12-07 15:31] tigrannajaryan commented on #2656
OK, so this is a breaking change for JS. This is all we need to know for now. I will close the issue. Thanks for checking.

[2021-12-07 15:31] #2656 closed

[2021-12-07 23:41] rltoSD commented on #1303
Hi, I can take over this issue @alolita

[2021-12-08 01:58] silverlyra commented on #2655
Ah, that’s surely it. Being able to just use `context.active()` did seem a little too good to be true. 😄 We’ll keep in mind that if we want to use native async/await, we’ll need to migrate to passing parent spans explicitly.

Thank you!

[2021-12-08 01:58] #2655 closed

[2021-12-08 02:04] spencerwilson commented on #1303
@dyladan should this be closed due to being fixed by https://github.com/open-telemetry/opentelemetry-js/pull/2652?

[2021-12-08 02:09] legendecas commented on #1303
Fixed by #2652

[2021-12-08 02:09] #1303 closed

[2021-12-08 15:04] #1722 closed

[2021-12-08 17:31] #2580 closed

[2021-12-09 14:24] #2599 closed

[2021-12-09 19:29] JamesJHPark opened #2662 "JS Docs are not getting updated"
The docs on github.io are published with releases. Currently, the OpenTelemetry SDK Reference [doc](https://open-telemetry.github.io/opentelemetry-js/) does not reference the recent changes after prior release, including the updates to links, compatibility matrix, and upgrade guidelines, documented in the README.md file. The OpenTelemetry SDK Reference doc needs to be updated to reflect the releas

[2021-12-09 21:25] dyladan commented on #2662
Created a PR

[2021-12-10 19:49] dpkirchner opened #2664 "Use current timestamp if no recent update for a counter"
**NB:** Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

### Is your feature request related to a problem? Please

[2021-12-10 20:09] #2662 closed

[2021-12-10 20:15] dyladan commented on #2649
You would like the sampler to apply a constant value to the attribute? If so, a span processor like `ConstantAttributeProcessor` might be more appropriate? Unless there is something sampler-specific about the attributes you're looking at. I think the feature in the spec is to allow sampling-relevant attributes to be added (like b3's sample debug flag or similar)

[2021-12-10 20:16] dyladan commented on #2413
@JamesJHPark are you still working on this or have these been fixed?

[2021-12-13 02:44] legendecas commented on #2592
The feature of extra dimensions is pending removal from v1.0: https://github.com/open-telemetry/opentelemetry-specification/pull/2215

[2021-12-13 06:39] #2507 closed

[2021-12-13 06:39] #2502 closed

[2021-12-13 06:39] #2500 closed

[2021-12-13 06:39] #2466 closed

[2021-12-13 11:42] meteorlxy opened #2665 "[Proposal] Extract basic packages for otlp exporters"
The current dependency graph of otlp exporters does not look reasonable:

- All the metrics exporters are depending on its corresponding trace exporter.
- All the exporter packages are depending on `exporter-trace-otlp-http` package.

![image](https://user-images.githubusercontent.com/18205362/145803321-cb6640b5-5a55-4bd5-b123-489d3381c600.png)

Here I propose to extract some basic packages to mak

[2021-12-13 19:14] vmarchaud commented on #2665
We discussed in the past that it might be better to refactor those packages so this is more than welcome, i don't see an issue with your proposal and looking for your PR :)

We already discussed on the naming for package that will be consumed by users so those won't changes, apart from base package names are fine

[2021-12-13 20:54] SunilManthenaG01 opened #2667 "node auto instrumentation does not export span when the server is listening on HTTP 2 protocol"
### What version of OpenTelemetry are you using?
"@opentelemetry/api": "^1.0.3",
    "@opentelemetry/auto-instrumentations-node": "^0.27.0",
    "@opentelemetry/sdk-node": "^0.27.0",
    "@opentelemetry/sdk-trace-base": "^1.0.1",

### What version of Node are you using?
14.16.1

### What did you do?

I created a trace.js file with auto instrumentation and console exporter. When the server is liste

[2021-12-13 21:55] JamesJHPark commented on #2413
@dyladan the broken links discussed in this issue description have been fixed in the [PR](https://github.com/open-telemetry/opentelemetry-js/pull/2463). This is also related to the issue #2662.

[2021-12-15 08:55] blumamir commented on #2649
I would like to enhance the spans with data about sampling decisions.
For example:
[code]

In the example above, I want to enrich only the root span for the trace (the one used for sampling) with information that can later help with debugging sampling issues. These can include config rule id in use and if config was available during span creation (fetching the config is async process and spans can

[2021-12-15 20:30] ides15 opened #2668 "Adding custom span attributes for errors in @opentelemetry/instrumentation-grpc"
I'm using `@opentelemetry/instrumentation-grpc:0.27.0` to instrument my calls to gRPC services. These spans eventually get exported to New Relic. There is a section in New Relic that will show the error details of a span that has an error status, but the span that is created by `@opentelemetry/instrumentation-grpc` doesn't include the `otel.status_description` attribute.
![image](https://user-imag

[2021-12-16 11:52] Bataran opened #2670 "Span event count limit doesn't work when set to 0"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
"@opentelemetry/api": "1.0.3",
"@opentelemetry/sdk-trace-base": "1.0.1"
### What version of Node are you using?
v16.13.0.
### Please provide the code you used to setup the OpenTelemetry SDK
[code]
### What did you do?

I started the script with OTEL_SPAN_EVENT_COUNT_LIMIT set to 0
`env O

[2021-12-16 12:20] Bataran opened #2671 "Span attribute count limit doesn't work by the specification"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
"@opentelemetry/api": "^1.0.3",
"@opentelemetry/sdk-trace-base": "^1.0.1"
### What version of Node are you using?
v16.13.0
### Please provide the code you used to setup the OpenTelemetry SDK
[code]
### What did you do?

I started the script with OTEL_ATTRIBUTE_COUNT_LIMIT set to 1 and OT

[2021-12-16 13:16] Bataran commented on #2671
Hi @dyladan, could you assign this to me? I'm already working on it

[2021-12-16 21:43] dyladan opened #2674 "Replace use of `api.SpanAttributes` with `api.Attributes`"
LGTM. Since we are marking `SpanAttributes` as deprecated, should we have a follow up task to replace usage with `Attributes`?

_Originally posted by @mwear in https://github.com/open-telemetry/opentelemetry-js-api/pull/142#pullrequestreview-834507299_

[2021-12-17 16:33] Nighttraveler opened #2675 "opentelemetry/exporter-metrics-otlp-http Does not send metrics to collector (with last collector version 0.40.0)"
Hello guys, We wanted to use https://github.com/GoogleChrome/web-vitals#browser-support to get metrics from some metrics from our browser instrumentation and send them through opentelemetry-js. In order to accomplish that we started to make some tests with the examples provided here.

### What version of OpenTelemetry are you using?
I'm using 0.27.0 opentelemetry-js version (this repo in main bran

[2021-12-17 20:47] morigs commented on #2675
Same issue here. Also tested with otelcol 0.41.0, otelcontribcol 0.40.0 and otelcontribcol 0.41.0

[2021-12-17 20:56] morigs commented on #2675
I believe this is due to inconsistencies between [payload of the Metrics](https://github.com/open-telemetry/opentelemetry-js/blob/27bbb11cde5a826ad084a6104a386e7955b36df9/experimental/packages/opentelemetry-exporter-trace-otlp-http/src/types.ts#L48) and [actual proto type](https://github.com/open-telemetry/opentelemetry-proto/blob/7d4cbec4a940edc92a87b173b8d130b24085607e/opentelemetry/proto/metric

[2021-12-17 20:57] dyladan commented on #2675
Yeah our proto is a little out of date. i'll update it

[2021-12-17 21:02] morigs commented on #2675
Looking forward! If any help is needed, just let me know

[2021-12-17 21:03] dyladan commented on #2675
I won't have time to tackle this until monday so if you want to do it before then I will try to keep an eye out for notifications and merge/release the fix over the weekend. If you can wait until monday i'll just handle it then.

[2021-12-20 06:39] #2386 closed

[2021-12-20 06:39] #2375 closed

[2021-12-21 06:40] morigs commented on #2675
@dyladan sorry for pinging you, is there any success?

[2021-12-21 20:35] paya-cz opened #2682 "Multiple service names in a single app"
I have a docker container that runs a nodejs process with multiple almost-independent modules. I want these modules to show as separate services in AWS XRay. The AWS Distro for OpenTelemetry uses `service.name` resource attribute on the `TracerProvider` to track traces for services. So far so good.

The problem is, I don't think I can override the `service.name` anywhere down the line via tracer i

[2021-12-22 02:26] #2348 closed

[2021-12-22 02:27] dyladan commented on #2592
@legendecas you've been pretty prolific in the metrics land so i wanted to ask if you were working on this or if you have a good idea of what still needs to be done here. I was going to work on this but want to make sure i'm not duplicating work.

[2021-12-22 03:21] legendecas commented on #2592
@dyladan I'm not currently focused on the views API. AFAICT, there are still some points left to do:

1. Renaming instruments with views and resolving name conflicts: https://docs.google.com/document/d/1EluDhj5UanNATS3hR8xx30sv55Se7uYjsGYslvNWHtc/edit#heading=h.iq59xk2dlq9o
  1. add the restriction to meet the spec statement: "the SDK MUST NOT allow Views with a specified name to be declared with

[2021-12-22 15:47] dyladan commented on #2534
@vmarchaud in this case we actually have no way for the application developer to set this span status when they are using the autoinstrumentation. I wonder what other SIGs are doing in cases like that.

[2021-12-22 15:49] dyladan commented on #2535
Marking as never stale since this affects the API and is required by the spec.

[2021-12-22 16:11] Rauno56 commented on #2534
The application developer doesn't have a way to set span statuses in most auto-instrumented cases and that's my understanding of the spec as well.

If the promise didn't resolve, I wonder where the 200 for HTTP status code comes from - does the promise eventually still resolves to 200, but only after the application has already rejected with timeout error or something.

[2021-12-22 16:30] dyladan commented on #2534
That's quite common actually since promises aren't cancellable. It may also be a bug in the instrumentation though if we treat 200 as some default value or something like that.

[2021-12-23 19:34] RomeroGaliza commented on #2675
Same issue here!

[2021-12-27 06:39] #2527 closed

[2021-12-27 06:39] #2521 closed

[2021-12-27 15:20] dyladan commented on #2370
In the case that headers are duplicated in code and env, the code should take precedence. We have had this come up in other places before too, just can't remember exactly where.

[2021-12-27 15:23] #2670 closed

[2021-12-27 20:44] erichsueh3 opened #2690 "Prometheus Exporter Tests Should Cover ObservableCounter and ObservableUpDownCounter Metrics"
The [Prometheus Exporter tests](https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-exporter-prometheus/test/PrometheusSerializer.test.ts) should cover metrics generated from ObservableCounter and ObservableUpDownCounter instruments. Currently, they test the 4 other instruments (Counter, Gauge, UpDownCounter, Histogram); these 4 instruments do cover the

[2021-12-29 02:38] asafpelegcodes opened #2692 "`@opentelemetry/instrumentation-graphql` Version `0.27.1` Missing `@types/graphql` dependency"
### What version of OpenTelemetry are you using?
1.0.4

### What version of Node are you using?
v16.11.0

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?
In a fresh folder
[code]
Add the build script to your `package.json`
[code]
Attempt to compile the typescript
[code]

### What did you expect to see?
I expected the file to compile successfully

##

[2021-12-29 13:52] lonewolf3739 commented on #2589
I'd be happy to pick this one up if no one is already working on it.

[2021-12-29 14:04] dyladan commented on #2589
@lonewolf3739 there is a draft PR by @pichlermarc open but he is out for the holiday. I believe he will be back on tuesday.

[2021-12-29 15:31] legendecas commented on #2664
In the working in process Metrics SDK design, there are two timestamps for a single metric time series representing a time window of the collected metrics.

Talking about the Prometheus, I'd believe when we adopt the new SDK in the exporter, it should export the end time of that time window. Since Prometheus expects cumulative aggregation temporality, the time window will be `(the time SDK starts,

[2021-12-29 15:33] legendecas commented on #2664
Marking as on-hold since the SDK is WIP and we should retake this issue when the exporters are ready to be migrated to the SDK.

[2021-12-29 15:34] dyladan commented on #2664
onhold issues should also be never-stale because they are expected not to have activity for a long time

[2021-12-29 16:06] legendecas commented on #2594
@lonewolf3739 a friendly question: are you planning to work on the integration of metric exemplars and the View API?

[2021-12-29 16:37] lonewolf3739 commented on #2594
@legendecas yes, that's why I didn't use _fixes_ in the PR description that would close this issue. And there is also tiny env related work to do. I will work on the wiring up the stuff as well when other components are ready.

[2022-01-03 09:18] legendecas commented on #2583
https://github.com/open-telemetry/opentelemetry-js/discussions/2698 can be one of the reasons that those detectors should not be static dependencies of sdk-trace-node as they may load arbitrary vendor dependencies like gcp-metadata and significantly increase the load time of the sdk-trace-node (gcp-metadata takes up ~20ms out of ~140ms sdk-trace-node load time).

[2022-01-03 21:00] dyladan commented on #2583
At the time this issue was created we discussed it in SIG and agreed to remove the dependency from sdk-node we just never got around to actually making the change.

[2022-01-03 21:19] dyladan commented on #2355
I would also expect the same. An argument can be made if its a good idea or not but if the developer puts two INMFs with the same filename in the array, there is a reasonable expectation they will both be applied.

[2022-01-04 14:36] RichardWright commented on #2518
@dyladan  We should add a help method.

[2022-01-04 18:33] dyladan opened #2700 "ot-shim: document the omission of scope manager"
There was an issue in opentracing to add a scope manager, but it doesn't look like it was ever implemented https://github.com/opentracing/opentracing-javascript/issues/112

What is our action item here? Should we just document on the shim that there is no scope manager so we have no shim for it?

_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-specification/issues

[2022-01-05 14:16] dyladan commented on #2518
Since you created this issue the metrics SDK has undergone a massive overhaul. @legendecas is our maintainer who has done most of the work on the metrics this round so i'd like to get his opinion. I'm curious what your use case is that requires a counter instead of an observable gauge, but also requires being able to set the value directly?

[2022-01-05 17:42] svetlanabrennan commented on #1233
I can tackle this issue.

[2022-01-05 18:03] Flarna commented on #2682
It will be quite hard to split services within a single process via `service.name`.
Each `TracerProvider` has it's export chain. If you want to use more `TracerProvider`s it's possible to use different values for `service.name` but then it's up to you to ensure that the right provider is used at the right place.

Once you start to use more `TracerProvider` instances you most likely need also more

[2022-01-05 18:27] dyladan commented on #2682
I just spoke with a user the other day and this was the solution they ended up using

[2022-01-05 18:28] dyladan commented on #2295
Trace context only deals with the protocol itself. How a process and the various agents decide which ids to use and how they share them is a separate issue. I was referring to otel spec.

[2022-01-05 19:04] #2682 closed

[2022-01-05 19:20] dyladan commented on #2353
I was going to suggest that we use the `URL` class to parse these attributes out but it seems like it would actually fail with that input even though node http library handles it properly:

[code]

[2022-01-05 19:20] dyladan commented on #2354
We currently support protobuf, json over http, and grpc

[2022-01-05 19:20] #2354 closed

[2022-01-06 02:02] gonejack opened #2705 "Incorret timestamps of XMLHttpRequestInstrumentation spans after system sleep on browsers."
Hi, I use this sdks to trace browser requests.
[code]

[code]

Everything works well on startup. But leaving the browser page there and let the computer sleep for one night, then the timestamps of every new spans will remain in yesterday.

<img width="982" alt="image" src="https://user-images.githubusercontent.com/2720676/148316172-ded00486-fa74-4ff4-b2a5-1f6b9ed48a66.png">

This bother me for sev

[2022-01-06 04:00] legendecas commented on #2518
It would be helpful to have a use case example to show the requirement to set on a synchronous UpDownCounter. In the new metrics API, the ObservableUpDownCounter is designed to be "set" with a cumulative value and the SDK is responsible for processing the value for both cumulative exporters like Prometheus and delta exporters.

[2022-01-06 06:34] blumamir commented on #2481
We should consider addressing this issue before releasing the exporter as stable, as changing it later might be a breaking change for users.

Just for reference, what other SDKs are doing:
- ruby is using **https** and the new port: https://github.com/open-telemetry/opentelemetry-ruby/blob/46020cc0ab9826b362854a6a913f30996ac528a2/exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb#L47
- pyth

[2022-01-06 07:33] #2649 closed

[2022-01-06 16:27] legendecas commented on #2593
Updated the OP to include the undetermined issue to unblock https://github.com/open-telemetry/opentelemetry-js/pull/2666.

[2022-01-06 16:50] dyladan commented on #2649
@blumamir do you no longer want/need this?

[2022-01-06 17:55] dyladan commented on #2481
We should probably at least create a spec issue so they know the inconsistency is there in already released 1.0 packages. I'll go ahead and do that.

[2022-01-06 21:09] lonewolf3739 commented on #2589
@legendecas  Do we want to model pull exporters around `MetricReader`? We have an exporter interface defined already which is basically same as `PushMetricExporter` interface def.

[2022-01-06 22:20] dyladan commented on #2589
It is my understanding that yes, pull metric exporters will implement the MetricReader interface.

Configuring a push metric exporter (or similar)

[code]

Configuring a pull metric exporter (or similar)

[code]

[2022-01-06 22:35] dyladan commented on #2705
This is something that has come up in the past. There have been attempts to fix it, but it isn't so easy. Using the performance clock is the only way to ensure that a clock is monotonic, an important property for our particular usecase. The system clock can drift and be updated during the lifetime of the process. Even if that happens, the performance clock will continue to return times as if the s

[2022-01-06 23:35] mattfysh opened #2708 "Allow module to be passed directly into plugins / bypass module hooks"
### Is your feature request related to a problem? Please describe

I use esbuild to create a JS bundle before deploying the bundle into a Docker container. This helps to keep build times and artifact sizes to a minimum. This results in no `node_modules` directory at the location where my nodejs process is running.

As a result, all instrumentations that use the (for example) `new InstrumentationNo

[2022-01-07 04:17] lonewolf3739 commented on #2589
I am wondering if we want to introduce any new interfaces. I think the existing interfaces are sufficient and we can make use of them. The push type exporters can implement the [`MetricExporter`](https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-sdk-metrics-base/src/export/MetricExporter.ts#L24) and prometheus style pull metric exporters can [`MetricR

[2022-01-07 05:45] legendecas commented on #2589
I agree that we don't need another new interface to describe the pulling exportation. In https://github.com/open-telemetry/opentelemetry-js/pull/2681 the MetricReader abstract class is intentionally implemented without the dependency on MetricExporter to allow various patterns of exporting.

[2022-01-07 18:48] #2590 closed

[2022-01-07 19:50] blumamir commented on #2481
Great, Thank you

[2022-01-07 19:53] dyladan commented on #2589
I think you are suggesting that both pull and push exporters would be implemented as MetricReaders directly rather than having a metric reader that takes a push exporter in the constructor? I would rather go the route we have already been going with a metric reader that takes an exporter because if we don't all push exporters would have to reimplement the logic to periodically collect and then exp

[2022-01-07 19:58] blumamir commented on #2481
I see now that your research came up with http being the spec default now. Thanks for that finding :)
I am closing the issue, and opening a different one for the missing environment variables

[2022-01-07 19:58] #2481 closed

[2022-01-07 20:10] dyladan commented on #2481
Created an issue for ruby https://github.com/open-telemetry/opentelemetry-ruby/issues/1078

Java is actually correct. That is the gRPC exporter. Python is also correct.

[2022-01-07 20:11] blumamir opened #2706 "otlp exporters: missing some environment variables from spec in SDK"
### Is your feature request related to a problem? Please describe.

According to [the spec for otlp exporter environment variables](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#opentelemetry-protocol-exporter), the following variable should be supported by the otlp exporter:
[code]

If I am not mistaken, these exporter options are not c

[2022-01-07 20:35] lonewolf3739 commented on #2589
No, you misunderstood me. I am suggesting only the pull exporters will implement the metric reader interface. The exporters like OTLP which are push model implement the [`MetricExporter`](https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-sdk-metrics-base/src/export/MetricExporter.ts#L24) interface. We may want to rename it `PushMetricExporter` to make

[2022-01-07 20:40] dyladan commented on #2589
Yeah that makes sense. Renaming to `PushMetricExporter` interface is definitely more clear I think too.

[2022-01-07 20:41] dyladan commented on #2706
I'm pretty sure `@grpc/grpc-js` supports both secure and insecure modes.

[2022-01-08 15:41] vmarchaud commented on #2705
Related: https://github.com/open-telemetry/opentelemetry-js/issues/852

[2022-01-08 15:41] Flarna commented on #2708
It's not that uncommon that an instrumentation hooks an internal file of a module because it has to patch some internal functions (see [here](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/81b3190af64bda14f87c5b0cbd6172bafda26408/plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts#L92) for an example).

As a result passing the fully imported module to the instrumenta

[2022-01-08 17:28] legendecas commented on #2589
@dyladan I think it would be better to have a spec note on the naming, as the spec is already suggesting implementing pull metric exporter as a metric reader.

[2022-01-10 07:07] legendecas commented on #2293
Assigning myself as I'm working on non-main-frame-context support on browsers.

[2022-01-10 13:43] blumamir commented on #2674
I vote yes.
That would also mean upgrading to api version 1.1.0
Is it possible that the `peerDependecies` protection be ignored and the user will have installed an old `api` version and new SDK version? causing them to fail

I guess we cannot avoid that, but wondering what problems users might face.

[2022-01-10 13:49] blumamir commented on #2674
I looked again and the change in api package is only in types, so it for sure expected to work in user code.
So positive yes for this change 👍

[2022-01-10 14:08] dyladan commented on #2674
Ah i didn't make it clear from the issue description this was something we already agreed upon, I just copied the original message from the previous thread

[2022-01-10 14:42] RazGvili commented on #2674
Hi,
I would like to work on it, please assign it to me.

Thanks!

[2022-01-10 16:02] dyladan commented on #2675
In order to get this working, the proto transformations need to be updated. The transformations are in `experimental/packages/opentelemetry-exporter-metrics-otlp-http/src/transformMetrics.ts` and depend on the types in `packages/exporter-trace-otlp-http/src/types.ts`. Because of this unfortunate coupling, the proto files, their types (hand rolled), and the transformations (also hand rolled) need t

[2022-01-11 18:52] RazGvili commented on #2674
Hi @dyladan,
To complete this task ill need `opentelemetry-js-api` version `1.1.0` to be published, it seems that there is a [PR](https://github.com/open-telemetry/opentelemetry-js-api/pull/151) for that.

Do you know the schedule for publishing 1.1.0?
current published version: 1.0.4([npm](https://www.npmjs.com/package/@opentelemetry/api))

Thanks!

[2022-01-12 15:41] #2671 closed

[2022-01-13 03:26] #2535 closed

[2022-01-13 07:20] Arattian opened #2713 "Support attributes with circular references in OTLP exporters"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
`
v16.13.0
`
### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

Sometimes nested libraries or us may generate objects with circular object references. It would be awesome if @opentelemetry will be able to successfully transform and serialize those objects

[2022-01-13 17:52] zizifn opened #2716 "Auto instrumentation missing HTTPS backend request tracing when use node-fetch"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
v16.11.0

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?

I use https://github.com/node-fetch/node-fetch make http backend request inside node. I found HTTPS request tracing is missing. HTTP

[2022-01-14 12:55] tiagojufr commented on #1315
I got `node-fetch` to send the traceid and spanid headers.
Code:
[code]
Dependencies:
[code]
Node version: `14.18.1`

[2022-01-14 22:15] svetlanabrennan commented on #2706
I'm interested in this issue. This relates to my retry logic issue.

[2022-01-16 11:49] shaicantor opened #2718 "Jaeger Exporter filters out links having a different link span id than the parent id"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
@opentelemetry/api@1.0.4
@opentelemetry/core@1.0.1
@opentelemetry/instrumentation-aws-sdk@0.4.0
@opentelemetry/auto-instrumentations-node@0.27.1
@opentelemetry/exporter-jaeger@1.0.1

### What version of Node are you using?
16.11.1

### Please provide the code you used to setup the OpenTe

[2022-01-16 12:34] blumamir commented on #2718
reference to the expected behavior in specification:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/jaeger.md#links

I think we need  to revisit this code and identify implementation gaps from the spec

[2022-01-18 09:59] pichlermarc commented on #2592
I'd like to help out with this one if @dyladan is okay with that. :)

[2022-01-19 15:10] Rauno56 opened #2721 "Discussion: Drop support for older Node.JS versions"
During the SIG meeting(2022-01-12) we discussed the process of dropping support for older Node.JS versions.
For me, it makes sense for us to officially support all supported Node versions and remove running tests from the old versions with a grace period so that we also could keep up with the advancements of the ecosystem and tooling.

We currently support ~~`>=8.5.0`~~`>=8.12.0`.
`node@8` was rel

[2022-01-19 15:20] Rauno56 commented on #2721
#### My proposal

* drop support for 8 and 10.
* remove the tests, builds, and compatibility layers(if we have any) for those versions.
* establish 6 month grace period for dropping support for EOLed node versions.

#### Arguments:

* OTel JS is a relatively young project - less legacy deployments, node@8 was already EOL when the first version of `@opentelemetry/api` available on npm was released(

[2022-01-19 15:38] legendecas commented on #2721
+1. It sounds good on 6 month period for dropping support for EOL node versions.

[2022-01-19 16:11] legendecas commented on #2721
While taking semver into consideration, should drop a node version support need a semver major or minor bump? If not, the applications that use a Node.js version (say v8.x) that goes out of grace period can be upgraded to a version that is incompatible with the Node.js version (say v8.x) just dropped support.

[2022-01-19 17:33] habmic commented on #2721
I did some research and found that NodeJS is publishing data about download per version (source: https://nodejs.org/metrics/summaries/version.csv)

It seems like there is a lot of usage in the older version of NodeJS. (below is the usage of version 6 and above from January this year)
![image](https://user-images.githubusercontent.com/7610573/150183302-9008f236-a245-47f5-94f9-6071456eaa05.png)

I d

[2022-01-19 17:35] dyladan commented on #2713
It looks like an attribute is being created with a circular reference. If that's the case, I would say this is a feature request and not really a bug. Can you provide an example of a circular reference that you would want to be exported and how you might expect that to look? Circular objects are not easily serializable in e.g. JSON.

[2022-01-19 17:43] dyladan commented on #2613
Talked about this in a SIG meeting. This seems to be caused because spans that are created during unload are batched by the batch span processor but never sent because the page is closed before the BSP sends them to the exporter. This can be solved by changing the BSP such that it immediatedly forwards spans similar to the simple span processor when a browser unload event is detected.

[2022-01-19 18:31] RubyKozel opened #2722 "How to do a batch observation with @opentelemetry/sdk-metrics-base@0.27.0"
- [x] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

Hi,

I was using the older @opentelemetry/api-metric and I was able to create a batch observer.
This was really efficient since you could observe multiple values at the same time.

Unfortunately, when you moved to @opentelemetry/sdk-metrics-base, this fea

[2022-01-19 20:07] morigs commented on #2713
In our case: we use opentracing shim. According to OT conventions, we create error log with `error.object` field. Sometimes error comes from http client, so it includes `res` object, which reference `req` object. And `req` object has a reference to `res`, so we have a cycle.
It's a border case, yes, but it is quite dangerous in production, because it can consume a lot of CPU and cause trace losses

[2022-01-19 20:10] dyladan commented on #2713
ok cool thanks for the additional info

[2022-01-20 02:33] legendecas commented on #2722
The spec intentionally removed the batch observation for the first GA/1.0 release. If you have to collect multiple async metrics with a single operation, you can throttle the async observation, like https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/packages/opentelemetry-host-metrics/src/metric.ts#L252.

[2022-01-20 08:20] RubyKozel commented on #2722
Hi @legendecas ,
Thanks for the quick response!

Yes that's what I basically did to overcome this, but it doesn't feel right
Are there any plans to add the batch observer back?

[2022-01-20 13:38] vmarchaud commented on #2721
I know node itself drop support only with major bump and i think that make sense since it can break user apps. I don't think supporting ^8.5 like we do right now is a problem so i'm fine keeping this until we bump to 2.0

[2022-01-20 13:53] dyladan opened #3314 "Formalize API release cadence"
We are currently preparing for the 1.1 release, but for features which did not make it into the release I believe we should have a more formal answer for when they may be expected to be released. I don't think we need anything very complicated or process-heavy, but I would suggest something like this:

- 1 minor release per month if there are new features ready
- 2 weeks before release, maintainer

[2022-01-20 14:15] dyladan commented on #2722
Yes there are plans to add it back, but it will not be included in the initial release of metrics.

[2022-01-20 14:41] RubyKozel commented on #2722
Thank you both.
I will follow up on the releases and until then I will use the workaround provided.

Closing this.

[2022-01-20 14:41] #2722 closed

[2022-01-20 23:04] alanwest commented on #1233
As discussed in this week's SIG meeting, I promised to share some context around other SIGs retry policies plus some ongoing discussions at the spec level. cc @svetlanabrennan @dyladan

### Which status codes are retryable?

#### OTLP/gRPC

The specification defines the retryable gRPC status codes [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol

[2022-01-21 02:24] legendecas commented on #1575
Closing as https://github.com/open-telemetry/opentelemetry-js/pull/2719 landed.

[2022-01-21 02:24] #1575 closed

[2022-01-21 23:19] sfishel-splunk opened #2729 "@opentelemetry/instrumentation-http uses "HTTP <method>" instead of route for span name"
I recently migrated to `@opentelemetry/instrumentation-http` from `signalfx-tracing`, and noticed a difference in how span names are generated for incoming requests. In the `signalfx-tracing` case, the URL route becomes the span name. In `@opentelemetry/instrumentation-http` the span name becomes "HTTP <method>".

I find the `signalfx-tracing` behavior much more useful for understanding the applic

[2022-01-21 23:33] sfishel-splunk opened #2730 "@opentelemetry/instrumentation-graphql sets `graphql.operation.name` span attribute to operation type"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What did you do?

I applied the above instrumentation configuration to an Apollo graphql server.

### What did you expect to see?

I expected the `graphql.operation.name` span attribute to be set to the operation name as defined [here](https://graphql.org/learn/queries/#oper

[2022-01-22 17:20] zizifn commented on #2716
Thanks! @dyladan I already `import` tracing.js in the first line.. And as I mentioned before, if I only import axios in my file, not actually use it, https tracing working fine.. If you need a sample demo project, I will create starter express project for this..

[2022-01-23 16:56] vmarchaud commented on #2729
This has been discusseda before, you can read https://github.com/open-telemetry/opentelemetry-js/issues/2487 to get the explaination

[2022-01-23 16:56] #2729 closed

[2022-01-24 06:40] #2333 closed

[2022-01-24 06:41] #2323 closed

[2022-01-24 09:44] legendecas commented on #2329
I'd believe we can set up alternative CI for the latest and older typescript versions for 1. testing generated d.ts compatibility, 2. source code compatibility. (1) should be the most common one since most consumers depend on the published d.ts files. (2) might not be that popular option since we didn't publish the ts source files anyway.

As TypeScript generally releases [every 3 months](https://

[2022-01-24 09:51] legendecas commented on #2376
Does this suggest removing the `opentelemetry-` prefix of the package directory name https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-sdk-trace-base?

[2022-01-24 10:05] vmarchaud commented on #2376
Yes

[2022-01-24 10:24] blumamir opened #2732 "Jaeger exporter does not transform links attributes"
### Is your feature request related to a problem? Please describe.
Following #2718 and #2731, I noticed that the jaeger exporter does not export links attributes.

Quote from [the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/jaeger.md#links):

### Describe the solution you'd like

Implement span links attributes as Logs as describe

[2022-01-26 14:59] chrskrchr opened #2740 "Add `properties` field to the `BaggageEntry` interface"
### Is your feature request related to a problem? Please describe.

The `opentelemetry-js` package currently adheres to the [`key`](https://w3c.github.io/baggage/#key) and [`value`](https://w3c.github.io/baggage/#value) definitions in the W3C baggage spec.  However, the W3C spec also defines a structured format for additional baggage metadata on each entry in the form of a [`property`](https://w3c

[2022-01-27 17:17] dyladan commented on #2705
Closing as a duplicate of #852

[2022-01-27 17:17] #2705 closed

[2022-01-31 13:16] #2718 closed

[2022-01-31 15:37] gcampbell-mythical commented on #2464
This is still an issue.

[2022-01-31 17:27] maorleger opened #2753 "@opentelemetry/api@1.1.0 has no compatible @opentelemetry/core version"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
@opentelemetry/core@^1.0.1
@opentelemetry/api@^1.0.0

If possible, provide a recipe for reproducing the error.

[code]

### What did you expect to see?

Successful install of the two latest packages

### What did you see instead?

[code]

### Additional context

I feel like installing th

[2022-01-31 18:02] dyladan commented on #2753
The semver range is strict because adding a field/method/parameter to an interface would be non-breaking for users (minor change) but would be breaking for the SDK (the sdk doesn't implement that new method).

I changed the npm labels so that `@latest` points to `1.0.4` and `@next` points to `1.1.0`. This should make it so that an installation that doesn't specifically ask for `@next` should get t

[2022-01-31 18:05] maorleger commented on #2753
No worries, thanks for the quick response!

[2022-01-31 18:05] #2753 closed

[2022-01-31 18:08] dyladan commented on #2753
@maorleger https://github.com/open-telemetry/opentelemetry-js-api/pull/156

[2022-01-31 19:01] dyladan commented on #2480
@pragmaticivan all items are checked. Can this PR be closed?

/cc @legendecas

[2022-01-31 19:13] pragmaticivan commented on #2480
@dyladan LGTM!

[2022-02-01 01:00] chrskrchr commented on #2740
@dyladan - thanks for adding the `up-for-grabs` label.  Does that imply that you're in support of this feature request?  If so, I can take a stab at the implementation.

I logged this feature request against the `opentelemetry-js` package, but it looks like it would actually be best suited in the `baggageEntryMetadataFromString()` function in the `opentelemetry-js-api` package:

https://github.com

[2022-02-01 06:18] legendecas commented on #2480
Closing for now. Thank you everyone for making this happen!

[2022-02-01 06:18] #2480 closed

[2022-02-02 18:57] legendecas opened #2755 "Stable package tests CI failure on Node.js v16"
[CI](https://github.com/open-telemetry/opentelemetry-js/actions/workflows/unit-test.yml) is constantly failing on Node.js v16 for stable packages tests since https://github.com/open-telemetry/opentelemetry-js/commit/ee2342bdb03095ad771581b684a2b59e3bd3c905 was merged.

[2022-02-02 20:10] Flarna commented on #2755
I tried to take a look local but for me even `npm install` fails with
[code]

[2022-02-02 20:59] Flarna commented on #2755
I was able to reproduce this local. For whatever reason `@opentelemetry/api` v1.0.4 is installed as a dependency within sdk-trace-node which results in having two API versions (1.0.4 and 1.1.0) in build.

As the SDK has 1.0.4 and others have 1.1.0 the version check in API tells the 1.1.0 users (e.g. context-async-hooks) that it is incompatible.

I have no idea why 1.0.4 gets installed here as rang

[2022-02-03 07:10] enosi-rl opened #2756 "Why does BatchSpanProcessor.onStart() not include the parentContext param?"
- [x] This only affects the JavaScript OpenTelemetry library

Related to this [issue](https://github.com/open-telemetry/opentelemetry-js/issues/1613) & related PR where the other onStart() signatures were updated.

The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#onstart) says:

BatchSpanProcessor.onStart is [currently](https://github.co

[2022-02-03 07:29] Flarna commented on #2756
The `BatchSpanProcessor` doesn't do anything in `onStart` therefore it's valid to skip specifying arguments it doesn't use. Even `onStart()` would be valid to still fulfill the `implements SpanProcessor`.

On caller side in SDK the context is given, see https://github.com/open-telemetry/opentelemetry-js/blob/ee2342bdb03095ad771581b684a2b59e3bd3c905/packages/opentelemetry-sdk-trace-base/src/Span.ts

[2022-02-03 08:11] Flarna commented on #2756
created #2757

[2022-02-03 08:51] enosi-rl commented on #2756
Thanks for the quick response.

Sorry, I understood the *language* reason for it, but was curious if there was a specification or other reason that I'd missed.

Obviously #2757 answers that :-)

[2022-02-03 09:00] Flarna commented on #2756
I would say it was just an oversight and as there is no tooling to tell us about such issue.

I fear that there are more similar places as it is quite common to skip arguments you don't use (to avoid that lint complains about unused arguments). Not sure if there is a lint rule to tell us such problems.

[2022-02-03 23:31] enosi-rl commented on #2756
Yes, [SimpleSpanProcessor](https://github.com/open-telemetry/opentelemetry-js/blob/d61f7bee0f7f60fed794d956e122decd0ce6748f/packages/opentelemetry-sdk-trace-base/src/export/SimpleSpanProcessor.ts#L48) has the same issue.

[2022-02-04 06:29] Flarna commented on #2756
That is covered by my PR. For this case I know the history - the additional context argument was added in spec after the spanprocessors were already implemented a while.

[2022-02-05 17:59] #2755 closed

[2022-02-05 18:23] legendecas opened #2764 "Flaky test: @opentelemetry/sdk-trace-base should have an entered time for event"
I've observed several failures on the same test case across different CI runs.

Link: https://github.com/open-telemetry/opentelemetry-js/runs/5060952073?check_suite_focus=true
[code]

[2022-02-06 04:35] Grunet commented on #2293
Fwiw I tried taking a stab at adapting [one of the browser console exporter examples](https://github.com/open-telemetry/opentelemetry-js/blob/main/examples/tracer-web/examples/fetch/index.js) for Deno Deploy to see how far I could get, and I was actually able to make it through to the end with a minimum of monkey patching.

Here's the Deno Deploy code I used. All of the hacks are just below the im

[2022-02-06 04:50] Grunet commented on #1214
Fwiw [I've learned](https://community.cloudflare.com/t/how-to-time-a-worker-function/221054/8?u=grunet) that Deno Deploy added support for the Performance API and the other usual timing mechanisms, but limited their resolution to mitigate the security concerns (more discussion around that in this [issue](https://github.com/denoland/deploy_feedback/issues/53) and to contrast, Cloudflare's reasoning

[2022-02-06 10:15] vmarchaud commented on #2740
Yeah generally that means anyone is free to take a shot at the PR. If i recall correctly there was a discussion about what to do with the metadata since there was no behavior spec'ed (https://github.com/open-telemetry/opentelemetry-js-api/blob/main/src/baggage/types.ts#L47) and was settled to stay like this until there was one.

[2022-02-06 10:33] vmarchaud commented on #2293
I think the main thing that will be missing for correct deno support is a correct context manager, the zone start to fail as soon as you use async/await (in your example you use promises so it works fine).
For this someone will need to take a shot at https://github.com/denoland/deno/issues/7010

[2022-02-06 10:45] #2756 closed

[2022-02-06 14:27] chrskrchr commented on #2740
Thanks, @vmarchaud!  I'll take a stab at the implementation early this week.

My only question at this point is how to make this change in a backwards compatible way (see the very end of the message for the actual question :smile:).  I'm proposing we add a new `properties` field to the `BaggageEntry` type defined in the `opentelemetry-js-api` lib:

https://github.com/open-telemetry/opentelemetry-j

[2022-02-06 16:08] chrskrchr commented on #2740
Another option would be to break from the existing baggage metadata pattern and NOT introduce a new `baggageEntryPropertiesFromRecord` function in the API package.

We could still introduce the new `properties` field on the `BaggageEntry`, but leave the initialization of that field entirely up to `opentelemetry-core`.  This might require us to simplify the `BaggageEntry.properties` field type to a

[2022-02-06 16:15] vmarchaud commented on #2740
I believe it would be better to add utils/properties to the `BaggageEntryMetadata` type, it will only require a minor bump then. Note that since the content of metadata isn't spec'ed your utils need to handle un-parsable content.

[2022-02-06 18:00] Grunet commented on #2293
(Been trying to read around and unpack your insight after confirming it didn't work with async/await...trying to summarize my understanding below)

Am I correct in understanding that browsers today (and maybe for the foreseeable future) don't offer a way to maintain context across native async/await, and so there's no way to update zone.js (or any userland approximation of zones/other constructs t

[2022-02-06 18:06] chrskrchr commented on #2740
I'd originally considered adding it to `BaggageEntryMetadata` and doing the deserialization within [baggageEntryMetadataFromString()](https://github.com/open-telemetry/opentelemetry-js-api/blob/main/src/baggage/utils.ts#L41), but it felt a little odd to do that within the `@opentelemetry/api` package given that the rest of baggage serialization/deserialization was happening within `@opentelemetry/

[2022-02-06 18:41] vmarchaud commented on #2293
Exactly, this is a known issue and i believe the general agreement is to have a system added into EMCAScript but no one had the time/resource to push it through. The last one was actually @legendecas (https://github.com/legendecas/proposal-async-context)

Currently yes, but from the few discussions i have seen in Deno there is interested from the core team for diagostics tooling and context manage

[2022-02-07 06:37] #2291 closed

[2022-02-07 06:37] #2277 closed

[2022-02-07 07:32] Flarna opened #2769 "API version required by SDK"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

In #2737 API range was extended from `>=1.0.0 <1.1.0` to `>=1.0.0 <1.2.0` to add support for 1.1 but keep compatible as much as possible.
Unfortunately this resulted in broken CI for nodejs 16 (see #2755).
In #2759 API version range in SDKs was narrowed t

[2022-02-07 17:48] dyladan commented on #2606
I think this is still an issue

[2022-02-07 18:14] dyladan commented on #1214
We've done some work recently to enable web workers which I suspect improved this situation. Not sure if there is anywhere that the work still todo on that is documented

[2022-02-08 02:30] legendecas commented on #1214
The sdk-trace-base and sdk-trace-web on the main branch (not yet published) should work in the worker environments since https://github.com/open-telemetry/opentelemetry-js/pull/2719 was landed. However, the web instrumentation (like fetch and xhr) and exporters are still focused on the main-frame context (by using document-based APIs), which may not work as expected. These will need a load of work

[2022-02-09 08:28] vin-mad commented on #1252
Hi @tiagonapoli facing the same issue...did you a solution for this

[2022-02-09 09:37] RubyKozel opened #2772 "@opentelemetry/exporter-metrics-otlp-proto is not sending metrics and failing on Unsupported Media Type errors"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

14.18.2

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

Was trying to export custom metrics to dynatrace via this library. I configured a list of custom attributes, and provided the URL

[2022-02-09 10:28] arminru commented on #2772
Hi @RubyKozel!
The DT metrics ingest endpoint you are using here is not an OTLP endpoint - it does not accept OTLP Protobuf (neither in binary nor JSON encoding) but a generic metrics ingestion format not related to OTel. The @dynatrace/opentelemetry-exporter-metrics package produces this generic metric ingestion format from OTel metrics and can be used with this API, please continue using this on

[2022-02-09 12:55] RubyKozel commented on #2772
Hi @arminru ,

Ok, I understand.
I see there's an option to initialize a Meter Provider via the Node SDK - will it be supported if I pass down the dynatrace exporter to the Node SDK initialization?

[2022-02-09 12:57] chrskrchr commented on #2740
@legendecas @vmarchaud - can we please keep this issue open?  #2766 was only the first part of the fix.  I still need to submit a PR to `@opentelemetry/api` to expose the new `BaggageEntryMetadata.properties` field as described in this comment:

https://github.com/open-telemetry/opentelemetry-js/issues/2740#issuecomment-1030883926

[2022-02-09 12:59] dyladan commented on #2772
If you are referring to the `@opentelemetry/sdk-node` package that should work, but if it doesn't you should open an issue on the opentelemetry-js repository and mention me in it

[2022-02-09 13:27] RubyKozel commented on #2772
Alright, thank you both @dyladan, @arminru !

[2022-02-09 13:27] #2772 closed

[2022-02-09 15:52] legendecas opened #2773 "Update Prometheus Exporter with latest Metrics SDK"
After the major refactoring of Metrics SDK, we should update the Prometheus exporter to adopt the changes.

- [x] https://github.com/open-telemetry/opentelemetry-js/issues/2775
- [ ] New Feature: Prometheus Compatbility Spec https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#prometheus-compatibility
- [ ] Name Conversions (https://github.com/

[2022-02-09 15:56] legendecas opened #2774 "Update OTLP Metrics Exporter with latest Metrics SDK"
After the major refactoring of Metrics SDK, we should update the OTLP Metrics Exporter to adopt the changes.

- [x] https://github.com/open-telemetry/opentelemetry-js/issues/2775

[2022-02-09 16:06] dyladan opened #2775 "Refactor metrics export data model to match proto"
In our current data model, we call the exporter with a list of points. Each point has attached information like the instrumentation library, resource, attributes, metric type, etc. This produces a lot of duplication because many points will be generated from the same library, and all points in the same export typically have the same resource. The data model implied by the proto and used in other p

[2022-02-10 17:25] legendecas commented on #2774
@Rauno56 This is a tracker issue like https://github.com/open-telemetry/opentelemetry-js/issues/2574 to track the implementation progress of the OTLP metrics exporter. Any topics about the implementations are welcome.

[2022-02-10 19:50] maorleger opened #2779 "registerInstrumentation hooks not firing in ESM"
Please answer these questions before submitting a bug report.

Please refer to a minimal repro project that answers the first 4 questions here: https://github.com/maorleger/opentelemetry-esm/

### What did you expect to see?
When using ESM, and httpInstrumentation registered, I expected http spans to be produced

### What did you see instead?
No spans

### Additional context
The linked repro demon

[2022-02-10 20:44] Flarna commented on #2779
see #1946, I would recommend to continue the discussion there.

A short summary (likely incomplete):
ESM works different and monkey patching like in CSM is history. To get instrumentaions working loader hooks are needed which are still experimental in current node versions and work in progress. loader hooks API has change a few times since node 12 and will change in the next releases to get them i

[2022-02-10 20:58] dyladan commented on #2773
This may depend on #2775

[2022-02-10 21:59] dyladan commented on #2774
This will depend on #2775

[2022-02-11 02:14] legendecas opened #2782 "Define reentrant safety of JavaScript Metrics API callbacks"
- [x] This only affects the JavaScript OpenTelemetry library

As https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-counter-creation states:

We should define the reentrant safety of JavaScript Metrics API callbacks.

[2022-02-11 16:21] AlexRRR opened #2784 "Jaeger exporter: bundling with webpack not possible."
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
`"@opentelemetry/api": "^1.0.4",`
### What version of Node are you using?
node14
### What did you do?
Deploying a serverless function to Openwhisk using the jaeger-exporter from this library.

### Additional context
As discussed in https://github.com/open-telemetry/opentelemetry-js/issue

[2022-02-11 16:23] dyladan commented on #2784
Bumping to latest is probably fine. We are going to be vendoring the code in our own repository soon too anyway

[2022-02-14 07:35] #2413 closed

[2022-02-14 16:14] itobby opened #2786 "Grpc OpenTelemetry Collector Exporter not showing traces with webpack"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
        "@opentelemetry/core": "^1.0.1",
        "@opentelemetry/api": "^1.0.4",
        "@opentelemetry/exporter-trace-otlp-grpc": "^0.27.0",
        "@opentelemetry/resources": "1.0.1",
        "@opentelemetry/sdk-metrics-base": "^0.27.0",
        "@opentelemetry/sdk-trace-base": "^1.0

[2022-02-14 20:19] dyladan commented on #2786
the exporter loads the proto files async when it is initialized. Most likely the proto files are not included in the webpack bundle. Your module rules only seem to pick up .ts, .js, and .node files. The proto files are .proto.

[2022-02-15 03:39] michaelfig commented on #867
What is the desired behaviour to support Resource?  If there is clear guidance, I should be able to implement it.

I tried appending `resource.attributes` to the attributes for each Prometheus metric, but that looks like it might be too many attributes or too much data (especially for the unit tests, which have a full path to Node.js as the `service.name`).

[2022-02-15 03:59] legendecas commented on #867
It is going to be specified at https://github.com/open-telemetry/opentelemetry-specification/pull/2266 to drop all resource attributes, only converting `job` and `instance` to Prometheus labels.

[2022-02-15 14:32] Nighttraveler opened #2787 "BatchSpanProcessor not working with OTLP PROTO exporter"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
[code]
### What version of Node are you using?
`v12.16.3`
### Please provide the code you used to setup the OpenTelemetry SDK
Simply use the provided example `otlp-exporter-node` and use proto exporter with the BatchSpanProcessor

[code]
### What did you do?
Simply use the provided examp

[2022-02-15 14:43] #2787 closed

[2022-02-15 15:33] itobby commented on #2786
@dyladan Would you be able to give an example on this?
I have tried a few things to no avail. Including copying the physical proto files.
Despite seeing those protos file, the traces still don't show up with webpack.

[2022-02-15 18:45] ides15 commented on #2668
Bump

[2022-02-16 14:53] EddieEldridge opened #2791 "Using OTLPTraceExporter and OTLPMetricExporter together causes empty data"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
``v12.22.1``

### Please provide the code you used to setup the OpenTelemetry SDK
[code]
### What did you do?
Tried to send OTLP trace data to NewRelic.

### What did you expect to see?
My trace data to be created and ingested correctly.

### What did you see instead?
The following error: ```One or mor

[2022-02-16 15:00] RubyKozel opened #2792 "OTLPTraceExporter doesn't export spans when using auto instrumentations for multiple applications"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

0.27.0

### What version of Node are you using?

14.18.2

### Please provide the code you used to setup the OpenTelemetry SDK

URL - is the URL to the Dynatrace API endpoint

[code]

[code]

### What did you do?

I tried to use the auto instrumentation feature with dynatrace.

### What

[2022-02-16 15:54] dyladan commented on #2792
Is this working with other exporters/backends? Trying to determine if this is an issue with the sdk, the exporter, or dynatrace

[2022-02-16 15:54] arminru commented on #2792
(1) If the entire code including package versions matches exactly then maybe your settings or environment variables (URL, API token, the permissions for that token) don't match. Did you inspect the log output?
(2) Do they not show up at all or just as "Value not stored"?
(2)+(3) Did you try setting up a different exporter (like the logging exporter or Jaeger) to check if you can see them there?

[2022-02-16 16:39] Rauno56 commented on #2721
Yes, that would technically mean a major version bump.

I don't think there's a reliable way to know how many people will be affected by this, unless vendors come forward and share usage statistics about their customer-base.

Are major bumps something we want to avoid? Why?

[2022-02-16 17:26] Flarna commented on #2792
Is it ensured that http/express is imported *after* SDK was started?

[2022-02-16 17:37] RubyKozel commented on #2792
@dyladan - it's two different backends, one is working the other is not
@arminru the environment variables for each application is the same. Both application also export metrics with the Dyntarace metric exporter and we see it from both. Regarding the resources - they are shown as "Value not stored". I didn't try a different exporter, that's a good idea, I'll try another one and let you know.
@Fla

[2022-02-16 17:46] arminru commented on #2792
Depending on your compliance and privacy settings you need to add the respective attribute keys to an allow/capture list. There should be a link to configure the allow lists for spans and resources right below the attributes screen in the trace viewer or you can find it under Server-side service monitoring on your settings page.

[2022-02-16 18:43] dyladan commented on #2792
@RubyKozel this sounds like it is most likely a configuration issue with your Dynatrace environment. I would suggest you open a support case and report back here if that turns out not to be the problem.

[2022-02-17 15:25] dyladan commented on #2792
It's here https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/metapackages/auto-instrumentations-node/src/utils.ts#L23

[2022-02-17 22:29] Hramkanvas commented on #2333
@djknowles21 hello, any updates on this? I'm having similar troubles

[2022-02-18 01:45] bharathiram commented on #1471
Any updates on this issue?

[2022-02-19 07:12] sonai95 opened #2797 "Opentelemetry instrumentation amqplib ack issue"
I am trying to send a message to a Queue then receive it and ack that. We are persisting the span data(field with symbol keyname) that is added to the message during receive. And at the time of ack I am passing that span inside the message with delivery_tag.

Issue:
The span for the process is not coming. It comes only with instrumentation timeout error after some time.

My workaround:
When puttin

[2022-02-20 16:31] naseemkullah opened #2799 "NodeSDK should take a serviceName prop"
Add a convenience prop because

[code]

  is imho verbose for this option which is always needed, also it requires explicitly installing `'@opentelemetry/resources'` and `'@opentelemetry/semantic-conventions'`

Would be added here (among other places):

https://github.com/open-telemetry/opentelemetry-js/blob/b756b7c36dfb8a3735130a1e02b57084b06a52ae/experimental/packages/opentelemetry-sdk-node/src/

[2022-02-20 23:24] evgeniy-khatko opened #2800 "AggregationTemporality is not checked against when exporting metrics"
### What version of OpenTelemetry are you using?
"@opentelemetry/api": "^1.0.4",
"@opentelemetry/core": "^1.0.1",
"@opentelemetry/sdk-metrics-base": "^0.27.0",
"@types/signalfx": "^7.0.2",
"signalfx": "^7.4.1"

### What version of Node are you using?
v12.22.1

### Please provide the code you used to setup the OpenTelemetry SDK. What did you do?
If possible, provide a recipe for reproducing the err

[2022-02-21 02:14] legendecas commented on #2800
This version of metrics SDK is not yet supporting aggregation temporality processing. That is to say, the SDK can only export cumulative metrics data.

We are currently working on a new version of metrics SDK. With a major refactoring, the feature is supported and will be compliant with the metrics specs. You may track the work progress at https://github.com/open-telemetry/opentelemetry-js/issues/

[2022-02-21 03:56] evgeniy-khatko commented on #2800
Thank you for quick response, @legendecas!

There's quite a few changes in this feature request. I want to make sure that the exporter implementation I'm working on will survive these changes with minimal impact :).

Could you confirm that my understanding of the spec for 2 very basic use cases is correct:

- Report every request latency as a separate measurement to SFX (SFX type = gauge).
I'm usi

[2022-02-21 06:00] legendecas commented on #2800
@evgeniy-khatko

I'm using Histogram with boundaries representing the latency measurement and counts of "1" (meaning a single measurement in each bucket). E.g. assuming 1 sec intervals:
1 sec => 3 requests with latencies 10, 9, 19 => boundaries = (10, 9, 19), counts = (1, 1, 1)

I'm not sure if I understand the "every request latency as a separate measurement" correctly. If you mean you would like

[2022-02-21 06:38] #2642 closed

[2022-02-21 06:38] #2501 closed

[2022-02-21 06:57] evgeniy-khatko commented on #2800
Hi @legendecas, appreciate your help!

You understood the latency use case right. Based on what Exemplar spec that would indeed work! Looks like I missed them in a first place because I could not find any usage examples (and I still can't :)). I can dig into the code, but if you have any usage example, would be great! All I found for now is this PR: https://github.com/open-telemetry/opentelemetry-

[2022-02-21 07:15] legendecas commented on #2800
The current version is about going to be discontinued once the new experimental SDK releases. However, the new experimental SDK may still need some time before we can release the first alpha version.

Since no new features will land on the current version anymore, and if the new features are important to your exporters, the experimental SDK would be a better choice.

[2022-02-21 07:17] evgeniy-khatko commented on #2800
Will looks into this, thanks again!

[2022-02-21 07:17] #2800 closed

[2022-02-21 09:52] Flarna commented on #2797
@sonai95 I think this is no generic OTel issue, it's more an issue of the amqplib instrumentation you use. I think it's better to ask there for help.

[2022-02-21 16:39] naseemkullah commented on #2799
Thoughts @open-telemetry/javascript-maintainers ?
Putting on hold until there is agreement to move forward on this, will close if not

[2022-02-22 13:46] #2589 closed

[2022-02-22 15:20] dyladan commented on #2775
@seemk any update on this? I am holding #2746 for it

[2022-02-23 13:41] seemk commented on #2775
Should have the PR soonish, if not by today then by tomorrow

[2022-02-24 09:40] ShogunPanda commented on #1688
I was able to achieve this in a clean way without hacking the exporter. I'm on 0.27.0:

[code]

Hope this helps!

[2022-02-24 19:02] dyladan opened #2804 "OTLP JSON exporter cannot be released"
Currently, we are preparing to release the OTLP trace exporters as 1.x 🎉

Unfortunately, because [OTLP JSON is experimental](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#otlphttp) we cannot release the JSON exporter as 1.x and it must be held back to 0.x 😢

This is important because the transformations from our internal representation to th

[2022-02-24 19:13] dyladan commented on #2799
I completely agree. The current API to create resources in the NodeSDK module is very annoying to use, and service.name is important enough to have its own special handling.

[2022-02-24 19:32] dyladan commented on #2587
Looks like the collector handles this here: https://github.com/open-telemetry/opentelemetry-collector/blob/model/v0.45.0/model/pdata/common.go#L370

The suggested mapping to follow the collector:

- "string" => "string"
- true => "true"
- false => "false"
- int => base 10 string representation
- floating point => same as go's `strconv.FormatFloat(doubleVal, 'f', -1, 64)`
	- format byte 'f' (-ddd.d

[2022-02-25 08:55] vmarchaud commented on #2804
I would be in favor of 2), i think it's better to have a "real" GA to avoid misunderstanding for users. (Btw i also think https://github.com/open-telemetry/opentelemetry-js/pull/2746 is preferable over https://github.com/open-telemetry/opentelemetry-js/pull/2691 for now, we could still switch back to codegen once it covers every issue)

[2022-02-25 08:59] vmarchaud commented on #2799
I agree too, is there any other required field or maybe some that are not required but strongly suggested to set that we could offer as top level config ?

[2022-02-25 13:11] dyladan commented on #2804
One more advantage of #2746 is that it separates the transformation code from the code that encodes protobuf which makes it easier to pack a small bundle for the web. I'll try to get that PR updated today.

[2022-02-25 14:05] dyladan commented on #2665
@legendecas you linked my PR to this but I don't believe my PR fully addresses this but is really just a prerequisite

[2022-02-26 00:48] naseemkullah commented on #2799
I guess whatever is here https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/README.md#attributes-with-special-handling ? Which is just service.name today

[2022-02-26 11:32] naseemkullah commented on #2799
So I think we could use our `SemanticResourceAttributes` const  as a source of truth and have it all, very nicely abstracting away the current api to create resources completely, here is what I was thinking:

1. `Object.keys(SemanticResourceAttributes).map(camelCase)` which creates an array of prop names (in a flat style, not nested, e.g. `serviceName`, `serviceVersion`, etc. not `service.name, se

[2022-02-26 21:28] Ancient-Dragon opened #2806 "GRPC exporter for web clients"
**NB:** Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

### Is your feature request related to a problem? Please

[2022-02-27 03:03] legendecas commented on #2665
@dyladan sorry about miscategorization. please feel free to remove the link.

[2022-02-27 07:40] lukiano opened #2808 "OpenTracing shim: TraceId not kept when creating a child span with References.followFrom"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

v1.0.1 except the API which is v1.0.4

### What version of Node are you using?

v14

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

I have a custom OpenTracing implementation that exports and propagates in the Zipkin format and I'm tes

[2022-02-28 07:19] morigs commented on #2265
Does anyone know if this has been fixed?

[2022-02-28 16:32] legendecas commented on #2265
Sorry for the late response. The spec didn't define an option `constLabels`, and the option has been removed since v0.27.0 of the metric api/sdk release.

[2022-02-28 16:43] morigs commented on #2265
Okay, thx 😞

[2022-02-28 16:43] #2265 closed

[2022-02-28 20:30] seemk commented on #2775
Forgot we had holidays here, my bad for giving a misestimation. Anyways the PR is now open :pray:

[2022-03-01 10:42] #2764 closed

[2022-03-01 19:41] jamesarosen commented on #1214
Is there a list of things left to do for service-worker support?

[2022-03-02 08:18] mohanramegowda opened #2810 "Instrumentation of Node.js application developed in typescript"
We are planning to develop Node.js application in Typescript and we want to do the instrumentation using opentelemetry. Can you please help us with the documentation or sample project for the same.

[2022-03-02 15:18] #1544 closed

[2022-03-02 17:52] legendecas commented on #1214
We don't have a concrete list of to-do yet.

Please note that since Environments like Cloudflare workers are disabling precise clocks (even `Date.now()` is frozen), the timing may still not work as expected even though the OpenTelemetry SDKs are compatible with Worker API. This may affect Span creation time, end time, and durations.

[2022-03-02 19:00] boutell opened #2812 "Is context-async-hooks suitable for production use?"
- [X] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Hello,

I'm wondering if context-async-hooks is considered suitable for production use. I see that it enables the automatic instrumentation of traces for mongodb and other libraries that don't receive the express "req" directly, which is absolutely amazin

[2022-03-02 20:37] boutell commented on #2812
To be a little more helpful, I got this response on a related question posed on the nodejs repo:

https://github.com/nodejs/diagnostics/issues/194#issuecomment-1057310131

It looks like `AsyncLocalStorage` is actually mostly declared stable, along with `AsyncResource`, but `Async_Hooks` itself is not and there's discussion of long-term removal, maybe, although that can't really be done without bre

[2022-03-02 21:59] Flarna commented on #2812
`AsyncLocalStoreage` is built on top of async hooks. From Otel point of view one works as good as the other.

The resons why the one is stable the the other is experimental is that async hooks API "leaks" node internal details. This results in an API surface which may change because of internal changes - so it would break the semver contract if moved to stable.

Also node.js domain module uses asy

[2022-03-02 22:44] boutell commented on #2812
Thanks! I appreciate that you don't have numbers on the overhead. I would
be curious if you would consider it a major impact in the context of a web
application. I assume if it was really ugly it would somewhat defeat the
purpose of OpenTelemetry as it would mostly be measuring its own impact.

On Wed, Mar 2, 2022 at 4:59 PM Gerhard Stöbich ***@***.***>
wrote:

--

THOMAS BOUTELL | CHIEF TECHNOLOG

[2022-03-03 07:45] Qard commented on #2812
In a promise-heavy application, it's not uncommon to see 20-30% cpu overhead when turning on async_hooks or AsyncLocalStorage. Possibly more in extreme cases. It's a lot less than the 200%+ it used to be, but still noticeable.

[2022-03-03 12:51] boutell commented on #2812
Ah, I see. Very important to know. I will definitely avoid bringing it into
production code situations in non-optional ways then. Thanks for the advice.

When just using the ***@***.***/api` module for Open Telemetry
compatibility that's not an issue, correct? It's only an issue if the SDK
is actually in play?

On Thu, Mar 3, 2022 at 2:46 AM Stephen Belanger ***@***.***>
wrote:

--

THOMAS BOUTELL

[2022-03-03 14:25] dyladan commented on #2812
The API on its own does not enable a context manager and therefore does not enable async_hooks or AsyncLocalStorage. You can also manually propagate context without enabling a context manager if you never register the SDK as a global instance, but then as @Flarna mentioned you will not be able to use any auto-instrumentations.

[2022-03-03 14:51] boutell commented on #2812
Great! I figured but this is helpful to have confirmation on. Appreciate the info.

In ApostropheCMS, which I'm working on adding OpenTelemetry support to, we potentially could do it the other way and still get a decent percentage of the information, but the auto instrumentation is just far too useful and our clients should be fine with enabling OpenTelemetry SDK in environments where they need th

[2022-03-03 14:51] #2812 closed

[2022-03-03 15:24] dyladan commented on #2265
@morigs if this is an important option for you it may be reimplemented in the new SDK. The reason it is removed is mostly because during the rewrite we're focusing on only features mandated by the spec in order to get the release out in a timely way.

[2022-03-03 15:27] dyladan commented on #2810
There are several examples in the root of this repository as well as documentation at opentelemetry.io. If you have specific questions not covered by the documentation you can ask them but this question is too general to be actionable.

[2022-03-03 15:27] #2810 closed

[2022-03-03 15:27] dyladan commented on #2370
This is not stale

[2022-03-03 15:30] dyladan opened #2815 "feature request(express): option to ignore `express.static` files"
### Discussed in https://github.com/open-telemetry/opentelemetry-js/discussions/2798

<div type='discussions-op-text'>

<sup>Originally posted by **thpoiani** February 19, 2022</sup>
🙇 Thank you for this project and support.
I have a question: How to ignore static files using `http` and `express` instrumentation?

[code]

[2022-03-03 15:33] dyladan commented on #2534
Closing as this currently follows the guidelines set in https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#status

[2022-03-03 15:33] #2534 closed

[2022-03-03 15:48] morigs commented on #2265
Thanks for asking. Currently, it's not critical. I fully understand the reasons for removing it.
However, it looks quite handy. I don't suggest reimplementing it, however I suggest considering this (maybe creating some discussion with a poll or something)

[2022-03-03 16:12] TylerHelmuth opened #2816 "OTLP/HTTP trace exporter does not use OTEL_EXPORTER_OTLP_ENDPOINT as a base URL correctly."
# Bug Report

## Symptom

`OTEL_EXPORTER_OTLP_ENDPOINT` is not being treated as a base url in the OTLP HTTP trace exporter as [per the OTLP/HTTP spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#endpoint-urls-for-otlphttp). Instead, the signal endpoint is being appended only if it is not already present. Method in question is [appendRe

[2022-03-03 17:49] dyladan commented on #2806
Hmm sorry for the incorrect docs. The OTLP/HTTP exporter works in the web and exports using JSON over HTTP.

[2022-03-04 08:42] Ancient-Dragon commented on #2806
No worries, that's why I made this a feature request to see if a grpc-web exporter could be made, if not please feel free to close this.

[2022-03-04 15:55] #2562 closed

[2022-03-05 08:32] vmarchaud commented on #2806
If i'm not mistaken there is no way of using the official grpc client in the browser ? There are alternatives (https://github.com/improbable-eng/grpc-web or https://github.com/grpc/grpc-web) but this would requires making new exporters i believe

[2022-03-05 08:36] vmarchaud commented on #2816
In the spec you linked, the [second example](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#example-2) made is the opposite to what you are saying:
- the url is set to `https://collector.example.com/v1/metrics`
- the exporter send metrics to `https://collector.example.com/v1/metrics`

If we must follow your reasoning, the example should b

[2022-03-05 14:12] TylerHelmuth commented on #2816
Unless I'm missing something example 2 is about the signal specific environment variables. I believe we are handling those correctly and not modifying them at all.

But OTEL_EXPORTER_OTLP_ENDPOINT should be treated as a base url, and always have the signal endpoint added. I believe the regex we are using will only add the signal endpoint if it is not already present at the end of the string.

[2022-03-05 15:44] Ancient-Dragon commented on #2806
Yes that is the ask of this feature request, to make a new exporter library using the grpc-web dependency.

[2022-03-06 09:16] #2775 closed

[2022-03-07 03:48] legendecas commented on #2782
The spec has [updated](https://github.com/open-telemetry/opentelemetry-specification/pull/2361) to define that:

We should follow the latest definition.

[2022-03-09 07:17] legendecas commented on #2773
I'm working on this to check if there is anything to do to finalize the first alpha version of metrics SDK.

[2022-03-09 20:12] Flarna opened #2826 "attributes config in OTLPExporters"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I'm a bit confused regarding the [`attributes?: SpanAttributes` config](https://github.com/open-telemetry/opentelemetry-js/blob/c6dab2a6e721208c7ef08c85d8a80c0870e8a8b3/packages/exporter-trace-otlp-http/src/types.ts#L347) in OTLP exporter.

The config is

[2022-03-11 20:54] mplachter commented on #2774
Any update on this as #2775 seems to be closed now.

[2022-03-13 14:52] joelmukuthu commented on #2708
Hi @mattfysh, did you find any other workarounds besides marking all instrumentation and instrumented modules as esbuild externals?

[2022-03-14 06:39] #2264 closed

[2022-03-14 10:16] dyladan commented on #2774
We are approaching a useable release of the metrics rewrite and this is one of the last things that will be required before we can release an alpha so I expect it to be on deck soon

[2022-03-14 11:47] doronkopit5 opened #2831 "Unable to extract baggage on grpc-js instrumentation"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

Using 0.27.0

### What version of Node are you using?

14

### What did you do?

I am using the baggage to propogate between services and on my grpc-server I get this error message on all messages with baggage:

`Failed to inject with W3CBaggagePropagator. Err: headerValue.split is not

[2022-03-15 13:54] akbarnafisaj opened #2833 "Persistence Exporter in Javascript library"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Does Opentelemetry JS have similar feature to [Persistence Exporter](https://github.com/open-telemetry/opentelemetry-swift/blob/main/Sources/Exporters/Persistence/README.md) ?

[2022-03-15 22:08] svetlanabrennan opened #2834 "Incorrect span timestamp for node version 8.11.4 to 8.10.0"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?
v8.11.4 but this issue exists for versions 8.11.4 to 8.10.0

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

Use node v8.11.4. Start the tracing file. Generate some spans. You'll notice th

[2022-03-16 04:22] mattfysh commented on #2708
Unfortunately no - the OpenTelemetry framework is currently tightly coupled with the module system, which creates these types of problems for bundled JS.

It would certainly be great to have this new feature soon - as it is becoming a burden having to manage two sets of dependency versions (one where the code is written, and another where deployed with OTel)

[2022-03-16 12:20] Rauno56 commented on #2721
Technically we don't have to drop Node support in API.

The issue is growing in contrib with having increasing number of issues because the instrumented libs do not even support node 10. CI is currently [failing](https://github.com/open-telemetry/opentelemetry-js-contrib/runs/5568604791?check_suite_focus=true) because of this.

However, we can drop support for old node versions in problematic comp

[2022-03-16 13:21] Ben-Mark opened #2837 "How to add the trace-id's into the http request/response headers?"
Hi,
How can I append/add the trace-id's and span-id's etc in the http request and response headers?
if that's not possible, how can I intercept the request and add it so I can push a PR for a new plugin?

- [ V ] This only affects the JavaScript OpenTelemetry library
- [ V ] This may affect other libraries, but I would like to get opinions here first

[2022-03-16 13:27] dmathieu commented on #2837
This is doable using [propagators](https://opentelemetry.io/docs/reference/specification/context/api-propagators/).
There are several built-in propagators in the [core package](https://github.com/open-telemetry/opentelemetry-js/blob/f59c5b268bd60778d7a0d185a6044688f9e3dd51/packages/opentelemetry-core/README.md#built-in-propagators).

You need to use the same propagation mechanism across all your s

[2022-03-16 13:58] dyladan commented on #2721
There is nothing in the versioning doc that states if major version releases are allowed in the SDK. It also doesn't specifically say a major version bump is needed to drop support for old runtimes (for example, the go SDK seems to only maintain compatibility for the previous 2 versions of go).

[2022-03-16 15:35] alexandernanberg commented on #1436
This looks to be fixed by https://github.com/open-telemetry/opentelemetry-js/pull/2704, would be great if it could be published!

[2022-03-16 15:40] vmarchaud commented on #2721
I don't think we count instrumentations as part of the SDKs ?  Or maybe core ones ?

We will have the issue either way, some instrumented libs might only support 16 right now and we will not be able to easily maintain them too.

[2022-03-16 15:46] alexandernanberg commented on #1436
@dyladan That is awesome, thanks! 🎉

[2022-03-16 16:22] medikoo opened #2839 "Reliable documentation on generated telemetry"
e.g. I'm looking at [`@opentelemetry/instrumentation-http`](https://github.com/open-telemetry/opentelemetry-js/tree/038bbdb67ad16d6fd8a26a3a81e42726ceccf04e/experimental/packages/opentelemetry-instrumentation-http) I see instructions on how it can be setup, but I don't see any documentation on the produced outcome.

What are the telemetry properties generated? Where can I find reliable documentati

[2022-03-16 22:18] svetlanabrennan commented on #2834
It looks like the startTime and endTime are set [here](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-core/src/common/time.ts#L48) which is using [perf_hooks](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-core/src/platform/node/performance.ts#L17) that calls `performance.timeOrigin`.

There was an [node issue](https://githu

[2022-03-17 08:07] dyladan commented on #2834
Probably. I know at least @Rauno56 was in support of dropping node 8 support completely anyway.

[2022-03-17 11:41] joelmukuthu commented on #2708
Thanks for responding. In case it helps, I navigated the maintenance burden by putting the external dependencies in a workspace (Yarn or NPM) and then installing them via `npm install --prefix ./the/workspace/`. At least that way they are also managed by the package manager.

[2022-03-17 14:17] #2831 closed

[2022-03-18 13:50] domasx2 opened #2843 "NPM packages are missing "esm" and "esnext" builds"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
1.10

### What version of Node are you using?
v14.18.3

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?
* Installed latest (1.1.0) version of otel deps
* Added example setup snippet
* Tried to build app (using Parcel)

### What did you exp

[2022-03-18 18:42] mplachter opened #2845 "BatchSpanProcessor not a valid SpanProcessor"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
`1.1.0`

### What version of Node are you using?
`v16.13.0`

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

Use a BatchSpanProcessor as a SpanProcessor on `1.1.0` with the `NodeSDK`

### What did you expect to see?

The `BatchSpanProces

[2022-03-19 12:03] vmarchaud commented on #2833
Not currently, but this shouldn't be too hard to implement by extending the batch exporter there: https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-trace-base/src/export/BatchSpanProcessorBase.ts

[2022-03-19 12:08] vmarchaud commented on #2826
I think this pre-date the ressource concept (https://github.com/open-telemetry/opentelemetry-js/commit/a370a477cfe7655882519215ad8d957647ed9415#diff-1a3856739afae4654e870ec5308913f90261da0c0e589d8c1b27c84d6c6dab85R181) and was introduced orignally for adding span attributes which wasn't even used at the time. Then PR after PR the name stayed but ended up on the resource

[2022-03-19 15:32] legendecas commented on #2833
I think we need to define it in the spec first for us to release it as a built-in one.

[2022-03-19 17:53] Flarna commented on #2845
The sdk-node 0.27.0 is not compatible with the 1.1.0 OTel components. Therefore this results in having two version of sdk-trace-base installed and you try to put an 1.1.0 `BatchSpanProcessor` into a `sdk-node` using 1.0.x.

I know this is not really nice but you should stick on 1.0.x until a new version of sdk-node is released.

[2022-03-20 15:55] davehorton commented on #1940
FWIW I'm a Node.js programmer of 10 years, spent an hour reading this thread and many others + docs, and still cant figure out how to make child span link properly to parent.

[2022-03-21 06:39] #2567 closed

[2022-03-21 06:39] #2518 closed

[2022-03-21 06:39] #2356 closed

[2022-03-21 06:39] #2260 closed

[2022-03-21 10:32] pichlermarc commented on #2592
As far as I can tell the only thing missing for this to be done is exemplar reservoir support for views. I need to do some reading before I can pick up work on this, as I am not too familiar with it yet.

[2022-03-21 20:24] aabmass commented on #2272
@dyladan should this issue stay open? Looks like a missing MUST requirement

[2022-03-22 17:08] #2843 closed

[2022-03-22 17:15] legendecas opened #2852 "Flaky browser test"
I've seen several times of these kinds of random CI failures.

Links:
- https://github.com/open-telemetry/opentelemetry-js/runs/5647907182?check_suite_focus=true
- https://github.com/open-telemetry/opentelemetry-js/runs/5648434572?check_suite_focus=true (https://github.com/open-telemetry/opentelemetry-js/pull/2745)

[code]

[2022-03-23 15:17] domasx2 opened #2855 "Add sideEffects: false to package.json for packages to enable tree shaking"
Apologies if this is not supposed to be a bug type, wasn't sure which issue type fits best!

### What version of OpenTelemetry are you using?
1.1.1

### What version of Node are you using?
16.14.2

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?
I'm PoCing using opentelemetry-js in a library aimed at web application. It's rather hefty and produces a

[2022-03-23 15:21] dyladan opened #2856 "Implement exemplars"
As far as I can tell the only thing missing for this to be done is exemplar reservoir support for views. I need to do some reading before I can pick up work on this, as I am not too familiar with it yet.

_Originally posted by @pichlermarc in https://github.com/open-telemetry/opentelemetry-js/issues/2592#issuecomment-1073733817_

Moved from views issue because it was pushed to after GA by spec

[2022-03-23 15:22] dyladan commented on #2592
Closing because views is implemented. Exemplars pushed to after GA. Opened a new issue for that.

[2022-03-23 15:22] #2592 closed

[2022-03-23 16:26] pichlermarc commented on #2774
I'd like to 'pick this one up if nobody is working on this yet. :slightly_smiling_face:

[2022-03-23 16:56] Rauno56 commented on #2834
Discussed this in SIG meeting - the docs need to be updated to state support from node 8.12 and up.

[2022-03-23 17:37] dyladan commented on #2721
Yes I'll reach out to ted

[2022-03-23 17:48] dyladan opened #2857 "Document earliest supported node version as 8.12 in the SDK"
Discussed this in SIG meeting - the docs need to be updated to state support from node 8.12 and up.

_Originally posted by @Rauno56 in https://github.com/open-telemetry/opentelemetry-js/issues/2834#issuecomment-1076571625_

[2022-03-24 08:18] pichlermarc commented on #2856
We could rename this to "Add Exemplar support to `MeterProvider.addView()`" to clarify.
I'm working on another issue right now which is higher priority since it this one is pushed to after GA, so this issue is still up for grabs. :slightly_smiling_face:

[2022-03-24 22:17] svetlanabrennan commented on #2857
I can take this issue.

[2022-03-25 03:37] legendecas commented on #2855
I think the problem for us to adopt the `sideEffects` property to be shipped with `package.json` is that we need a reliable tool to verify our settings are correct -- we can not declare a side-effectful file as side-effect-free, that will break consumers.

[2022-03-26 01:52] legendecas opened #2864 "AggregationTemporality Controls"
Spec change: https://github.com/open-telemetry/opentelemetry-specification/pull/2404

The concept of "preferred temporality" is removed from the spec. Temporality is now supposed to be decided by the MetricReader which can take a callback which decides temporality.

Originally posted by @dyladan https://github.com/open-telemetry/opentelemetry-js/pull/2821#discussion_r835623688

[2022-03-26 02:39] ringerc opened #2865 "Help wanted for @opentelemetry/instrumentation-http: TypeError: Invalid value "undefined" for header "authorization""
- [x] This only affects the JavaScript OpenTelemetry library

I'm looking for help/advice on tracking down an error when enabling `@opentelemetry/instrumentation-http`  in a node app via `@opentelemetry/auto-instrumentations-node`

I'm a node ignoramus, but I'm hoping that even if it's a stupid question it'll help someone else later. When enabling tracing with `--require tracing.ts` and either of

[2022-03-26 02:57] ringerc commented on #2865
Further investigation showed that opentelemetry-http was actually irrelevant. It's a completely unrelated issue with the app that seems to have been introduced at the same time I started trialling instrumentation for it.

[2022-03-26 02:57] #2865 closed

[2022-03-26 04:03] ringerc commented on #1534
It's quite confusing that the docs in opentelemetry-js diverge so much from those in the node docs as a newbie, this might merit revisiting.

[2022-03-26 04:13] MannyPamintuanAtCare commented on #1534
Hi Craig! (@ringerc)

When you have a moment would you kindly point out a few divergences?

I'd be more than happy to support in updating the docs 🙂

[2022-03-26 20:20] naseemkullah commented on #2799
took on a different approach that allows adding all semantic resource attributes directly in the node SDK config, wondering what your thoughts on this is, its still sort of low level but we avoid explicitly installing '@opentelemetry/resources' and '@opentelemetry/semantic-conventions'

[2022-03-28 04:00] Xianyong opened #2868 "W3CTraceContextPropagator failed to extract a given carrier. Please help."
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
[v1.1.1](https://github.com/open-telemetry/opentelemetry-js/releases/tag/v1.1.1)

### What version of Node are you using?
v16.14.0

### Please provide the code you used to setup the OpenTelemetry SDK
const opentelemetry = require('@opentelemetry/api');
const {W3CTraceContextPropagator} =

[2022-03-28 06:39] #2295 closed

[2022-03-28 06:39] #2259 closed

[2022-03-28 07:32] Flarna commented on #2868
You call the propagator with wrong arguments, it requires 3 arguments see [here](https://github.com/open-telemetry/opentelemetry-js/blob/da22673d102d3ecb6364a39be968cd8d666cc136/packages/opentelemetry-core/src/trace/W3CTraceContextPropagator.ts#L97).

Note, if you call the propagator via the API (use the global installed propagator instead your local instance) the signature is slightly different (

[2022-03-28 12:08] Xianyong commented on #2868
@Flarna, Thanks a lot for your help. The exception was gone. But the console does not give me the right output.

That's, spans named "'bona_test_auth'" and "doWork"  don't inherit the traceid of the carrier propagated by the HTTP request.

--- Console Output ---
Listening for requests on http://localhost:8080
{
  traceparent: '00-**eb8c381706109e7a001dfa80caee2aae**-**435e29ee95e67099**-01'
}
{

[2022-03-28 12:14] Flarna commented on #2868
Please try to format the code you post in an easier readable way.

You call `startSpan` with wrong number of arguments, see [here](https://github.com/open-telemetry/opentelemetry-js-api/blob/bafcf0d0756e6ecc79fcc75f221b9dd17641eba5/src/trace/tracer.ts#L39) second argument is `SpanOptions`, third argument is `Context` but you pass `Context` as second argument.

[2022-03-28 12:43] sstone1 opened #2869 "latest @opentelemetry/sdk-node incompatible with latest @opentelemetry/api"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

[code]

### Please provide the code you used to setup the OpenTelemetry SDK

N/A

### What did you do?

Updated all dependencies to latest, as above.

### What did you expect to see?

No dependency errors or warnings during installation.

[2022-03-28 12:54] Flarna commented on #2869
see https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix

[2022-03-28 17:28] sstone1 commented on #2869
@Flarna I think that tells me that I need 0.28.0 of the `@opentelemetry/sdk-node` package, but that doesn't exist yet?

[2022-03-28 20:06] Flarna commented on #2869
There is work ongoing to get the experimental packages (metics, sdk, instrumentations) released in version 0.28.0. Until this happens it's needed to stay on API 1.0.x and SDK 1.0.x.

[2022-03-28 20:40] dyladan commented on #2869
I'll remove the `latest` labels from the incompatible packages and apply `next` labels so they can be installed manually if needed.

[2022-03-28 23:27] maorleger commented on #2869
👋 Just wanted to drop in and mention that removing 1.1.0 as latest is problematic for folks who are using @opentelemetry/sdk-trace-base 1.0.0 (and @opentelemetry/sdk-trace-node)...

Our CI started failing with unmet peer dependencies. Today we reference:

[code]

[code]

Is that something you want to change upstream or are you planning to leave those as is? If the latter, can you let me know which

[2022-03-29 02:23] Xianyong commented on #2868
Thanks so much. It works now by following your suggestions.

[2022-03-29 06:29] Flarna commented on #2869
For SDK and API the latest tag is now again on 1.0.x. Therefore if latest is used for everything it should work again.

[2022-03-29 09:55] #2868 closed

[2022-03-29 15:04] sstone1 commented on #2869
Thanks @Flarna and @dyladan, this has resolved the problem our end. We use Renovate to manage our dependencies and it was picking up the incompatible packages tagged latest.

[2022-03-29 15:04] #2869 closed

[2022-03-29 20:16] RichiCoder1 commented on #1214
I'm interested in this, and it's worth noting that `Date.now()` is more accurate than you'd think as it's frozen during _code execution_ and will still progress normal during I/O operations (e.g. subrequests).

So it's still possible to capture the full requests execution time as long as a significant portion of the workers execution time is spent doing I/O, which I'd argue is the normal case for

[2022-03-30 13:34] francisdb opened #2873 "NodeSDK support for OTEL_TRACES_EXPORTER, ..."
### Is your feature request related to a problem? Please describe.

To consolidate configuration for all our services we would like to configure the node sdk fully through the use of env vars like we do for the java/ruby sdk

see the related specs here:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#otlp-exporter
https://github.co

[2022-03-30 16:47] dwashko opened #2875 "How is instruementation-http ignoreOutgoingRequestHook supposed to be formatted"
We have tried many different ways to implement ignoreOutgoingRequestHook option and none of them have worked. For instance, I want to filter out any requests that contain monitoring in the host part of the request. Here is an example of the code:

[code]
It looks like the option is requiring a function to return true, in this case whether 'monitoring' is in the req.hostname. We have tried many dif

[2022-03-30 19:20] Rauno56 commented on #2721
Talked about this in the SIG meeting again and the consensus between the people who did participate in the discussion was that the best balance is to drop support for any EOL node versions whenever we are making a major release.

By the spec we are expected to support any old major versions for a year after the next major release has been cut(3 years for the API) so that covers the grace period.

[2022-03-30 19:26] Rauno56 commented on #2857
Fixed in #2860

[2022-03-30 19:26] #2857 closed

[2022-03-30 19:26] Rauno56 commented on #2834
Fixed in #2860

[2022-03-30 19:26] #2834 closed

[2022-03-31 03:23] legendecas commented on #2875
The new option `ignoreOutgoingRequestHook` and `ignoreIncomingRequestHook` has not been released in any version yet. I think it is going to be released in the next v0.28.0 version soon.

[2022-03-31 09:33] legendecas commented on #2852
Case 2:

[code]

Links:
- https://github.com/open-telemetry/opentelemetry-js/runs/5768068153?check_suite_focus=true

[2022-03-31 14:17] dwashko commented on #2875
That would make sense!

[2022-03-31 14:17] #2875 closed

[2022-03-31 20:31] svetlanabrennan opened #2876 "Unable to export when using gzip compression with OTLP/HTTP and OTLP/PROTO trace exporters"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

`v16.14.0`

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

If possible, provide a recipe for reproducing the error.

Can use this example to reproduce the error: https://github.com/newre

[2022-04-01 14:27] gDaugirdas commented on #1940
Any progress on this? Literally same here, some working code-snipped would help

[2022-04-01 14:57] Flarna commented on #1940
What's wrong with [this sample](https://github.com/open-telemetry/opentelemetry-js/blob/main/examples/basic-tracer-node/index.js)?

[2022-04-01 15:56] davehorton commented on #1940
That is actually what I was looking for (and have basically since implemented).  Most of the examples I was seeing relied on the use of `context.with` which due to the nature of my code I could not use.  Thanks

[2022-04-02 07:50] vmarchaud commented on #2876
Shouldn't we set the correct length after compression instead ?

[2022-04-02 10:11] janquijano commented on #707
What's the solution for 1.0.4? There's no getSpan anymore.

[2022-04-02 10:45] triblondon opened #2880 "Manually set parent span on active span?"
I have the problem that my cloud provider (Google App Engine) is modifying inbound `traceparent` headers - likely to provide a span into their Cloud Trace product, but I can't find any way to make that span visible to my opentelemetry collector.  As a result, I have missing spans in my reporting:

<img width="647" alt="image" src="https://user-images.githubusercontent.com/1735391/161379554-f8ec56f

[2022-04-02 20:45] Flarna commented on #707
@janquijano it's still here, was moved from top level into trace namespace, see https://github.com/open-telemetry/opentelemetry-js-api/pull/47

[2022-04-02 20:52] Flarna commented on #2880
implement a propagator class similar as [`W3CTraceContextPropagator`](https://github.com/open-telemetry/opentelemetry-js/blob/5d9ed3faa519279f2c68209a8ea9e1c213a4899e/packages/opentelemetry-core/src/trace/W3CTraceContextPropagator.ts#L73) - just change the header names or add `x-traceparent` - what ever you prefer in your usecase.

To get it regitered as global propagator pass it to `tracerProvide

[2022-04-02 20:53] Flarna commented on #2876
this would require to first gzip everything in memory as HTTP headers have to be sent first instead of streaming the data.

[2022-04-04 07:53] legendecas commented on #2464
The fix should have been released in v1.1.0.

[2022-04-04 07:53] #2464 closed

[2022-04-04 13:08] majelbstoat opened #2882 "Ability to customize name of spans in http-instrumentation"
### Is your feature request related to a problem? Please describe.

instrumentation-http is really useful, but in an application that makes lots of outgoing requests as part of a single trace, all of them have the name `HTTP(S) GET`, which makes it very hard in certain UIs to understand at a glance where the requests are being  made to. In addition, I'd like to be able to easily differentiate betw

[2022-04-04 13:58] Flarna commented on #2882
If adding a new attribute like `__spanName__` is an option I assume you can control what your backend tool shows (otherwise it would be useless).
The attributes contain already more details like url,... so tools can already build up a better name if they want.

Or do you miss any details in the attributes?

[2022-04-04 14:46] majelbstoat commented on #2882
The attached PR demonstrates how `__spanName__` would be used - essentially as an internal mechanism only, not something ever exported. Essentially a hook to customize that logic, albeit maybe a slightly magical one.

As you say, changing startOutgoingSpanHook to also return a name would break backwards compatibility, which I why proposed this approach as something simple that provides the need (a

[2022-04-04 16:14] pichlermarc opened #2884 "`parseUrl` from `sdk-trace-web` does not support relative paths anymore"
The changes from #2689 might have introduced a breaking change to `1.1.0` that causes relative paths to not be parsed anymore.

The current implementation of `parseUrl` now throws when providing relative paths as parameter as it calls the `URL` constructor with it. It previously tolerated relative paths. This caused tests for `instrumentation-fetch` and `instrumentation-xml-http-request` in #2871

[2022-04-05 07:48] pichlermarc commented on #2774
After #2871 has merged, the exporters still need to be updated to use the `otlp-transformer` package for this issue to be actually done. They will be in a usable state, but they it will be quite outdated on the OTLP side.

I will do that in a follow-up PR to unblock everyone who is currently waiting on #2871.

[2022-04-05 08:48] pichlermarc opened #2885 "Update example from `opentelemetry-sdk-metrics-base` to latest versions"
The `opentelemetry-sdk-metrics-base` currently contains an outdated example that is not linked by `lerna` and therefore uses (also outdated) packages from `npm`. This issue includes updating the example to the new metrics packages once they are released (`0.28`) to `npm`. The package should also be moved to the `examples/` directory.

[2022-04-05 14:42] markandrus commented on #2786
I also ran into this issue when using esbuild to bundle my application for AWS Lambda. The problem for me was this line

https://github.com/open-telemetry/opentelemetry-js/blob/5d9ed3faa519279f2c68209a8ea9e1c213a4899e/experimental/packages/exporter-trace-otlp-grpc/src/util.ts#L40

in conjunction with these lines

https://github.com/open-telemetry/opentelemetry-js/blob/5d9ed3faa519279f2c68209a8ea9e

[2022-04-05 14:42] pichlermarc opened #2886 "Update proto versions of OTLP exporters"
In #2871 the OTLP Metrics Exporters were updated to the latest **SDK**.
This issue includes a few linked items that can be split up into multiple PRs.

Ideally done first:
- [x]  refactor: Move `OTLPExporter*Base` from `exporter-trace-otlp-http` to a new package `otlp-exporter-base` so that the metrics exporters do not need to depend on the trace exporters anymore.

Can be done after the refactor:

[2022-04-05 14:45] pichlermarc commented on #2774
Thanks! I created a single issue with all of these items on it (#2886) :slightly_smiling_face:

[2022-04-05 17:51] markandrus opened #2887 "Compile protos statically instead of importing them dynamically"
@opentelemetry/exporter-trace-otlp-grpc uses [@grpc/proto-loader](https://github.com/grpc/grpc-node/tree/master/packages/proto-loader) to load protos at runtime, dynamically producing a package definition that can be passed to `grpc.loadPackageDefinition`. The relevant code can be found [here](https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/exporter-trace-otlp-gr

[2022-04-06 15:21] dyladan commented on #1940
Takeaway here I guess is to add documentation to the website

[2022-04-06 15:22] dyladan opened #2888 "Document setting manual span parent on website"
Takeaway here I guess is to add documentation to the website

_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-js/issues/1940#issuecomment-1090397163_

The user was having a hard time finding a good example on how to use context, setSpan, and so forth to manually parent a span. Better documentation on the website would have been a big help.

[2022-04-06 15:24] dyladan commented on #2880
Can you confirm this resolves the issue?

[2022-04-06 15:28] dyladan commented on #2786
It is possible to precompile .proto files into their json representations or to static JS but there are other considerations such as bundle size and performance impact there. The proto files are loaded by protobufjs to define the serialization format.

[2022-04-06 15:31] dyladan commented on #2887
Similar work is already ongoing here. We created the otlp-transformations package to handle the data manipulation and will be splitting the serialization for protobuf into its own package.

[2022-04-06 17:06] svetlanabrennan commented on #2816
As discussed during the SIG meeting, `OTEL_EXPORTER_OTLP_ENDPOINT` is used for a general endpoint (without a path) so the js sdk doesn't need to check if there is a path in this endpoint and instead just append the path to it.

It's up to the user to set the correct endpoint (containing no path) when using `OTEL_EXPORTER_OTLP_ENDPOINT` which is how the spec reads about this. And the SDK will appen

[2022-04-06 17:21] gustavotsuji commented on #2810
Maybe a Typescript getting started version might be useful
I have the same problem here

[2022-04-06 18:13] #2856 closed

[2022-04-06 18:13] dyladan commented on #2674
@RazGvili are you still planning to work on this? The 1.1 API was released

[2022-04-06 18:23] dyladan commented on #2674
This is fixed by #2881

[2022-04-06 18:25] markandrus commented on #2887
Thank you! I will sit tight and wait

[2022-04-06 18:25] #2887 closed

[2022-04-06 18:28] #2876 closed

[2022-04-06 19:53] dyladan commented on #2721
As pointed out by @Flarna in https://github.com/open-telemetry/opentelemetry-js-api/pull/159 the API doesn't use perf hooks and does not have the bug which necessitated the bump to 8.12 and I think it can be left alone so we don't have to worry about if it is a breaking change or not for the API

[2022-04-07 14:33] pranshuchittora commented on #1728
Facing same issue while instrumenting my FE app with [SigNoz.io](https://github.com/signoz/signoz).
Looks like clock skew is happening only with Chromium based browsers (and not always).

![Screenshot 2022-04-07 at 15 51 47](https://user-images.githubusercontent.com/32242596/162223632-f52b93da-3e5d-464d-9724-fdd7e8ea93ee.png)

[2022-04-07 18:10] dyladan commented on #1728
Looks like you're running into #852 which is slightly different than this issue.

[2022-04-07 18:54] jamesdesmond opened #2894 "Typeerror from generated js code"
First, apologies if this is the wrong repo to file this issue.
I am running a gRPC OpenTelemetry server on port 9090 that works with both the Python and Java OpenTelemetry libraries from PyPi / Maven.
I cloned the repo, and ran `make gen-js`.
I then added these .js files to my Node project.
I invoke a LogsServiceClient:
[code]

I get the following output in the console:
[code]
My package.json deps

[2022-04-08 07:59] pichlermarc commented on #2852
Case 3:

[code]

https://github.com/open-telemetry/opentelemetry-js/runs/5875767862?check_suite_focus=true (main)

I noticed as well that some `instrumentation-fetch` tests have been failing while working on some of my previous PRs. I hope I have not introduced additional flakiness in the last one (#2871).

[2022-04-08 08:48] Flarna commented on #2852
We should really aim to get some browser experts into the team. It's not just about flaky tests, also the dependencies (see #2187) to e.g. webpack/karma (and related plugins) are not update since quite a while.

[2022-04-10 04:07] triblondon commented on #2880
It did! Thanks for the pointer :-)

On Wed, 6 Apr 2022 at 19:55, Daniel Dyla ***@***.***> wrote:

[2022-04-11 05:31] sgracias1 commented on #2675
I ran a test with the OTL trace exporter and also noticed it fails to connect to the collector for version > 0.42.0. Does this issue track the trace exporter as well, or should that be a separate issue?

[2022-04-11 06:39] #2716 closed

[2022-04-11 06:39] #2376 closed

[2022-04-11 06:39] #2258 closed

[2022-04-11 09:30] #2880 closed

[2022-04-11 14:21] tigrannajaryan commented on #2894
@open-telemetry/javascript-maintainers I moved the issue to this repo, I think it is JS-specific.

[2022-04-11 14:23] dyladan commented on #2894
@tigrannajaryan it may be JS specific but I've never seen or used the code gen used by this user. I'm not sure who added it to the proto repo but our protobuf exporters use the .proto files directly and aren't using this code gen.

[2022-04-11 14:31] tigrannajaryan commented on #2894
@dyladan As far as I know the JS code gen in the proto repository merely checks that the code gen is possible (doesn't fail).

I think the JS SIG should make the call on what is a canonical way to use OTLP protobufs in JS.

[2022-04-11 18:00] jamesdesmond commented on #2894
@vmarchaud I can confirm that I want to export logs. Thank you for the information I really appreciate it!

[2022-04-11 18:25] jamesdesmond commented on #2894
I attempted to use these same .js files generated from `make gen-js` in opentelemetry-proto to send a Metric instead.

While doing so I receive the following error:
[code]

[2022-04-12 06:55] askoufis commented on #1214
We've hacked around the fact that `performance` isn't available within cloudflare workers with a little [ESBuild plugin](https://esbuild.github.io/plugins/#using-plugins). It replaces the built version of [this file](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-core/src/platform/browser/performance.ts) with a shim that _seems_ to give decent duration measurem

[2022-04-12 09:42] Rauno56 commented on #2187
There was similar work done on contrib: https://github.com/open-telemetry/opentelemetry-js-contrib/pull/963

[2022-04-13 13:41] #2713 closed

[2022-04-13 13:41] #2674 closed

[2022-04-13 15:34] hejkerooo commented on #2675
```"message":"Bad Request","name":"OTLPExporterError","data":"{\"code\":3,\"message\":\"unknown field \\\"doubleSum\\\" in v1.Metric\"}","code":"400"}```

This is the error I'm receiving when using metrics exporter

[code]

[code]

[2022-04-13 17:12] Rauno56 opened #2899 "Support `1.0.x` range in trace SDK"
The message on the SIG meeting today(2022-04-13) was quite clear: New SDKs should work with the old APIs at all times.

Trace SDK packages should support older API

* `@opentelemetry/sdk-trace-base`,
* `@opentelemetry/sdk-trace-node`,
* `@opentelemetry/sdk-trace-web`.

Current range: `>=1.1.0 <1.2.0`.

That ideally would apply to both minor versions of the SDK: `1.0` and `1.1`.

[2022-04-13 19:00] dyladan commented on #2899
Fixed in #2892

[2022-04-14 11:11] legendecas commented on #2884
I would like this to wait for https://github.com/open-telemetry/opentelemetry-js/pull/2892 so that we can properly test it with `instrumentation-fetch` or `instrumentation-xhr`. `parseUrl` is not used anywhere in `sdk-trace-web` so it is not so easy to test it well.

[2022-04-14 20:49] Flarna commented on #2769
Refs: #2892

[2022-04-14 22:33] svetlanabrennan commented on #1959
I think we can close this issue.

I tested ignoring urls with an example app and it was working correctly (`/healthCheck` endpoint is ignored).

My tracing.js file:

[code]

And my packages:

[code]

[2022-04-15 15:48] #1959 closed

[2022-04-15 18:36] #2078 closed

[2022-04-15 19:42] svetlanabrennan commented on #1980
I assume we can close this issue since the getting started guide was updated a few times since March 2021.

[2022-04-15 19:46] svetlanabrennan commented on #1979
I think this issue can be close. The README.md no longer mentions LogLevel.

[2022-04-17 18:13] Grunet commented on #2293
It doesn't address the main context propagation blocker, but in case it's helpful I made a [small polyfill](https://deno.land/x/sendbeacon_polyfill@0.0.1) for navigator.sendBeacon in Deno, as I noticed that was missing and it was either going to be polyfilling that or XmlHttpRequest in order to get the browser HTTP/JSON exporter to work there.

With that I was able to get a full flow through Deno

[2022-04-18 03:15] legendecas commented on #2899
Closed as #2892 landed

[2022-04-18 03:15] #2899 closed

[2022-04-18 06:25] legendecas commented on #1979
Closing. Please feel free to reopen if there is anything new to update.

[2022-04-18 06:25] #1979 closed

[2022-04-18 06:27] legendecas commented on #1980
Closing. Please feel free to reopen if there is anything new to update.

[2022-04-18 06:27] #1980 closed

[2022-04-18 06:40] #2257 closed

[2022-04-18 06:58] legendecas commented on #2784
@dyladan Sounds like this issue could be merged into https://github.com/open-telemetry/opentelemetry-js/issues/2618?

[2022-04-18 14:56] vmarchaud commented on #2779
I'll close this one since most of the discussion is around #1946

[2022-04-18 14:56] #2779 closed

[2022-04-18 18:08] prebours opened #2903 "Dynamic Header for OTLPTraceExporter - Package @opentelemetry/exporter-trace-otlp-http"
### Is your feature request related to a problem?
I am using the package `@opentelemetry/exporter-trace-otlp-http` to export the trace from the browser to the tracing server.

The tracing server is behind an authenticated proxy, where the token is provided through the authorization header.

Currently, we can provide custom headers when the exporter is created:
[code]
The token can change overtime

[2022-04-18 18:41] dyladan commented on #2903
Hmm there are several ways this could be solved I guess

- The `setHeaders` call you suggested
- A more general `setConfig` call
- A headers callback which is called on each export request to get a new set of headers
- passing the headers object by reference and mutating it (this might actually already work) but is probably the least stable

[2022-04-18 19:02] dyladan commented on #2784
It likely will be fixed by #2618 but isn't really the same issue. I can go either way.

[2022-04-19 03:21] legendecas commented on #2784
Tried to take another look and I found that `@opentelemetry/exporter-jaeger` has a semver `^3.15.0` on `jaeger-client`. I didn't find there is a problem to use `@opentelemetry/exporter-jaeger` with jaeger-client upgraded to v3.19.0 as long as the local lock files like package-lock.json is been updated.

I'm closing this as there isn't anything we need to do to fix the problem. Please feel free to

[2022-04-19 07:14] shmilyoo opened #2905 "propagator-jaeger extract header(traceFlag 0) returned result is incorrect, but traceFlag 1 is ok"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
@opentelemetry/propagator-jaeger: 1.0.1

### What version of Node are you using?
node 14,16

### What did you do?
extract jaeger header,  uber-trace-id: '0000000000000000ffc0efb753f8cd38:ffc0efb753f8cd38:0000000000000000:0'
return spanContext
{
    traceId: '0000000000000000ffc0efb753f8c

[2022-04-19 10:03] blumamir opened #2907 "ResourceAttributes type does not comply with spec"
The type for `ResourceAttributes` is defended [here](https://github.com/open-telemetry/opentelemetry-js/blob/f92466980c71fb1dde30ddd4ed7ee87c76b36421/packages/opentelemetry-resources/src/types.ts#L21) as:

[code]

However, the spec says [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/sdk.md#resource-sdk) that:

And when following the "Attribute

[2022-04-19 14:44] dyladan commented on #2907
No likely not intentional

[2022-04-19 16:06] pichlermarc opened #2910 "Default Instrument unit does not comply with spec"
Currently the spec states [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#instrument-unit) that:

However, the current implementation does change `undefined` and `null` units to `'1'` in `createInstrumentDescriptor()`, which is different from the empty string. An empty string is usually kept.

The Metrics API and SDK specs does not define

[2022-04-19 17:29] dyladan commented on #2910
Hmm that's an interesting one. AFAIK the "default unit" was `'1'` at one point, which is probably why null/undefined was transformed to `'1'`. Empty string not being transformed seems like a reasonable behavior as well because a user specifically included a string. Reading the spec I think we should treat null/undefined as empty string and not transform to `'1'`

[2022-04-19 19:32] saikiran1043 opened #2911 "Access request headers in _idGenerator while starting span"
### Requirement
- We are using openTelemetry in our nodejs server side api. We wanted to generate custom trace Id, by appending some values passed in the request headers (eg:- clientId).

### Problem
- I see, there is an option to  pass [`custom idGenerator`](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-trace-base/src/Tracer.ts#L55) to the `NodeTraceProvi

[2022-04-19 19:51] dyladan commented on #2911
We initially implemented the ID generator to satisfy the x-ray requirement to add timestamps to the trace ID which didn't require access to the request object, headers, etc. For what it's worth, when using W3C trace IDs the recommendation of the spec is to randomly generate IDs if possible and it is specifically discouraged to add potentially identifying info or info which would compromise the glo

[2022-04-19 20:14] saikiran1043 commented on #2911
Thanks @dyladan for the response. Below is the complete use case

- We have multiple API consumers, all consumers are currently not ready to use trace propagation and ingesting logs into common place as provider.
- But, consumers want to generate an Id and pass it in request headers to API. That is needed to used as trace id instead of generating.
- This is because consumers can call multiple diff

[2022-04-19 20:38] dyladan commented on #2911
Why can the consumer not pass a full W3C header if they can pass a trace ID? Then the default behavior would work fine. They don't need to have a full tracing solution to generate a valid header.

[2022-04-19 20:50] saikiran1043 commented on #2911
We tried a similar option. Since we use B3 Propagation, consumers can pass `X-B3-TraceId`, but they are not ingesting into a common place.

- On provider side, it is able to re use the trace Id passed by consumers in X-B3-TraceId. But, since they are not ingesting into common place. And, now Provider span is a child of the consumer Trace/span which is actually not present, when we tried to lookup

[2022-04-20 07:44] pichlermarc commented on #2910
+1 for treating null/undefined as an empty string. This allows backends to distinguish between a truely undefined unit and `'1'` being used on purpose.  :slightly_smiling_face:

This sounds like a candidate for "good first issue". :slightly_smiling_face:

[2022-04-20 08:37] svrnm opened #2912 "Add or change resource detection to be synchronous"
### Is your feature request related to a problem? Please describe.

As of now resource detection is happening asynchronous, this means that spans that are generated early at application start might be lost (e.g. lambdas) or the whole application needs to be wait for the detection promise to fulfill, something like

[code]

This is especially problematic when the SDK is loaded in a "don't touch my

[2022-04-20 09:22] blumamir commented on #2912
I had the same issue and ended up implementing a sync api for the detectors and implemented a few sync detectors with the api.
Code can be found [here](https://github.com/aspecto-io/opentelemetry-ext-js/tree/master/detectors)

I can upstream it to the core repo if there is interest.

This will mean that users will have to choose between the following alternative:
- Using only sync detectors and au

[2022-04-20 09:29] Flarna commented on #2912
What about packing the resource into a Promise/Future? This one can be created sync and it's immutable.
Whoever needs resource has to await it. As far as I know that's only exporters for now.

[2022-04-20 12:54] svrnm commented on #2912
This would be a good starting point for sure, nobody needs to reinvent the wheel!

What would be the issue with having **only sync detectors**?

* Slow down of application startup? How significant is this impact, are we talking about tens of milliseconds or seconds? I assume this can also depend on the resource detection (like a API is called and that API for whatever reason is slow and taking 5 s

[2022-04-20 16:57] andyfleming commented on #2910
I'll tackle this 👍

[2022-04-20 16:59] #2911 closed

[2022-04-21 15:44] martinxluptak opened #2916 "Metric attributes not being exported to/from collector"
**Describe the bug**
The attributes (labels) of collected Metrics in my application utilizing `opentelemetry-collector` are not being exported.

I am making a simple node.js request counter:
[code]

**What did you expect to see?**
I can verify that the metric is being exported in both logging and otlp exporters. However, the statusCode attribute is not exported via OTLP and is also missing in the

[2022-04-21 17:22] legendecas commented on #2593
Closing as all necessary PRs are merged.

[2022-04-22 07:27] martinxluptak commented on #2916
attaching a `DiagConsoleLogger()` instance verified the data is being sent and this is likely an issue with the collector.

[2022-04-22 07:27] #2916 closed

[2022-04-22 09:05] blumamir commented on #2912
It is not always possible. If the detect function involves some API call then it cannot block in JS and has to be awaited. As far as I understand it, This would mean that cloud providers' detectors will not be able to be used when sync resource detection is necessary.

א

Where do we have it?

I only investigated it in ruby, which blocks the thread until resources are resolved. This is not possibl

[2022-04-22 09:11] blumamir commented on #2912
The resource is currently part of the `TracerProvider` and `ReadableSpan` interfaces, so it will need to be changed there as well which is a big breaking change.
At aspecto we wrote a `SpanProcessor` that implements some logic based on the resource which is invoked at `onEnd`, thus can not trivially await the `resource`.

If we can make it work, I think this is the best option.

[2022-04-22 12:10] dyladan commented on #2912
One example is GCP where it is required to call the gcp metadata server to get some resource attributes.

At the SIG meeting we talked briefly about this. At least ruby, java, python all simply block startup.

Most other SIGs are able to block execution. Those that aren't (I think erlang?) just decided to use sync only. We are the only one that has an async startup process.

[2022-04-24 09:55] #2905 closed

[2022-04-24 10:19] blumamir opened #2922 "Remove eslint-config-airbnb-base dependency"
This repo [has dependency on `eslint-config-airbnb-base`](https://github.com/open-telemetry/opentelemetry-js/blob/4584c36026ac491e6bc07f9151473e3a7b3e3608/package.json#L54), but it is used only for examples packages:
1. [here](https://github.com/open-telemetry/opentelemetry-js/blob/4584c36026ac491e6bc07f9151473e3a7b3e3608/examples/.eslintrc.json#L5)
2. [here](https://github.com/open-telemetry/open

[2022-04-24 14:31] osherv opened #2925 "Add request/response hooks to grpc instrumentation"
Enable users of the grpc plugin to register hooks on grpc request and response (server and client, unary and stream). The hooks are called before the stream begins to handle data, allowing the plugin user to register to events.

Can you please assign this to me? :)
I'll start working on it once i get assigned to

[2022-04-25 03:22] legendecas commented on #2922
I believe they are just leftovers and can be cleaned up.

For unifying linter rules across repos, I'd find adopting a mature linter rule package would be a maintainable way. Or we'd have to sync the rules across the repos every time we changed it. I recall that we previously used gts for a while but moved away from it (https://github.com/open-telemetry/opentelemetry-js/pull/2204, I think prettier

[2022-04-25 06:40] #2252 closed

[2022-04-26 22:05] svetlanabrennan commented on #1093
Should this issue remain open if the above prs fixed some lint warnings?

I do see about 65 lint warning (as of today) when I run it in `main`. Should we consider fixing those or are we accepting those lint warnings?

[2022-04-26 22:08] svetlanabrennan commented on #1083
We can close this issue since GTS and prettier was removed in [this pr.](https://github.com/open-telemetry/opentelemetry-js/pull/2204)

[2022-04-27 02:12] legendecas commented on #1093
I think it is still valuable to fix the warnings.

[2022-04-27 03:50] legendecas commented on #1083
@svetlanabrennan  thank you for triaging the issues.

[2022-04-27 03:50] #1083 closed

[2022-04-27 12:36] zydemail commented on #1076
how to fix this problem？

[2022-04-27 15:27] dyladan opened #2932 "Review SDK exports to ensure concrete classes are not used in interfaces"
It is very possible. We can't remove those exports now unfortunately, but we can remove them from the interfaces we export. I'll create an issue to do a more thorough review.

_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-js/issues/2931#issuecomment-1111140307_

[2022-04-27 16:26] dyladan opened #2934 "Deprecate support for EOL Node versions"
In the SIG meeting today we discussed our tooling issues and decided that it is time to drop support for old EOL node versions at least 8 and 10. This depends on the spec PR https://github.com/open-telemetry/opentelemetry-specification/pull/2510

- Stop testing old versions
- Update devDependencies which were held back by those old versions

[2022-04-27 16:26] dyladan opened #2935 "Extend tests to test node 18"
Node 18 is officially released. The CI should be updated to test it and node 16 should be added to the backwards-compatiblity tests.

[2022-04-27 16:29] dyladan commented on #2934
Duplicate of #2721

[2022-04-27 16:29] #2934 closed

[2022-04-27 16:30] dyladan commented on #2721
We will also need to define an official policy for which versions to drop so that users can be sure of when they will be supported to on older runtime versions

[2022-04-27 17:01] Keimille commented on #2935
@dyladan just attended the SIG for the first time and looking to get involved. I can take this one, if that is okay.

[2022-04-27 17:34] blumamir commented on #2797
sorry, I only now seen it.
I worte the instrumentation.
are you using `opentelemtry-instrumentation-amqplib` or `@opentelemtry/instrumentation-amqplib`?

[2022-04-27 17:38] blumamir commented on #2797
The `opentelemtry-instrumentation-amqplib` is deprecated and has been upstreamed to the [contrib repo](https://github.com/open-telemetry/opentelemetry-js-contrib) which is the right place to open issues for it. If you can supply a code snippet that reproduces it that would be amazing

[2022-04-27 23:48] AWinterman opened #2936 "Instrumentation examples should use new NodeSDK style"
It is confusing as a new comer to see contradictory or different examples about how one should go about configuring the collector. Examples should be unified in the new way of doing things.

- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

[2022-04-28 05:40] Flarna commented on #2936
Setup/configuration of collector is not JS specific and should be most likely discussed in the collector repository.

Regarding SDK setup there is no new/old way.
* Using (still experimental) `NodeSDK` tries to give you as much as OTel can.
* Using `BasicTracerProvider`/`NodeTracerProvider` gives you only traces.

It depends on the use case what fits better. e.g. in AWS lamda or similar FaaS setup

[2022-04-28 06:36] AWinterman commented on #2936
This is the open telemetry js repository, correct?

I'm aware there is an old and a new way. That fact is not acknowledged in most documentation, which is confusing for beginners.

How should a new comer distinguish the new and old way? How are they to know which examples pertain to which way?

[2022-04-28 08:11] pichlermarc opened #2937 "Rename `InstrumentationLibrary` -> `InstrumentationScope`"
`InstrumentationLibrary` has been renamed `InstrumentationScope` in the spec. The trace SDK was already released when this change was made, but we should make it now. Other SDK signals have already implemented this change.

[2022-04-28 12:27] AWinterman commented on #2936
Of course. I'm happy to help out there

- Can trace setup be used interchangeably in the two ways?
- Is one deprecated?

Perhaps all that's needed is additional examples of the new way?

[2022-04-28 19:23] svetlanabrennan commented on #2668
@ides15

The `otel.status_description` you see in New Relic will be shown when you add a description to a span status and it will be added as the `status_description` attribute.

Example:

[code]
<img width="365" alt="NR Attributes Screenshot" src="https://user-images.githubusercontent.com/50715937/165829752-b1cd6d27-d682-4a83-b5d4-495bd2760eb0.png">

When you set an error status on a span along w

[2022-04-29 13:43] Flarna commented on #2936
Yes, for trace you can use `NodeTracerProvider` or `NodeSdk`. `NodeSdk` uses `NodeTracerProvider` internally - it's just a higher level entry point which covers more then tracing.
In browser the entry point to setup tracing is `WebTracerProvider` (there is no `BrowserSdk`)

`NodeTracerProvider` and `WebTracerProvider` are based on `BasicTracerProvider`. It's even fine to use this one to setup trac

[2022-04-29 15:11] ruifernando7 opened #2942 "Load configuration from environment variable"
Is there any built-in environment variable to configure serviceName and jaeger exporter?

- [ ] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

[2022-04-29 21:23] smith commented on #2885
This example is very similar to the example in https://github.com/open-telemetry/opentelemetry-js/tree/main/examples/prometheus. Would it make sense to remove it?

[2022-04-29 21:50] smith commented on #868
The "Observer example" linked above is a 404; it may of been moved but I'm pretty sure it now refers to https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-sdk-metrics-base/examples/metrics/metrics/observer.js.

[2022-04-29 21:52] smith commented on #1703
I think this can be closed.

[2022-04-29 23:01] smith commented on #2530
Looks like this should be closed as it is behaving according to spec.

[2022-04-30 06:55] legendecas commented on #1703
Histogram type instrument has implemented in the latest metrics SDK.

[2022-04-30 06:55] #1703 closed

[2022-04-30 09:43] #2907 closed

[2022-04-30 16:59] cchatfield opened #2943 "OTLPExporterBrowserBase cannot be invoked without 'new'"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
1.2.0 with 0.28.0

[code]

### What version of Node are you using?
14 +

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

[code]

If possible, provide a recipe for reproducing the error.

### What did you expect to see?

exporter instanti

[2022-05-01 00:28] Keimille commented on #2935
I've extended tests for node 18. But `npm install` breaks with node 18. Should investigating this be a part of this issue? Don't mind digging in further and including fixes in the PR.

[2022-05-01 15:24] cchatfield commented on #2943
If I change the import

[code]

to

[code]

it is working. Not sure why it was defaulting to esm or if the esm module target was below es6/es2015

[2022-05-02 06:40] #2606 closed

[2022-05-02 07:57] pichlermarc commented on #2885
You're right, it's very similar. As far as I can tell the example was removed in #2939 anyway, so I'll close this issue

[2022-05-02 07:57] #2885 closed

[2022-05-02 15:04] sgracias1 opened #2945 "exporter-trace-otlp-proto cannot communicate with collector version > 0.42"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
Using version 0.28 of exporter-trace-otlp-proto

### What version of Node are you using?
Using version 16.0.0

### Please provide the code you used to setup the OpenTelemetry SDK
tracing file

`
const { HttpInstrumentation } = require('@opentelemetry/instrumentation-http');
const { NodeT

[2022-05-02 15:11] pichlermarc commented on #2945
Hi! This will also be fixed by #2929. :slightly_smiling_face:

[2022-05-02 16:37] sgracias1 commented on #2945
@pichlermarc tyvm :)

[2022-05-02 23:15] pizzaz93 commented on #2888
Would [https://opentelemetry.io/docs/instrumentation/js/instrumentation/#create-nested-spans](https://opentelemetry.io/docs/instrumentation/js/instrumentation/#create-nested-spans) be this code example documented?

[2022-05-03 11:13] danielgblanco opened #2947 "`null` port when using ignore matchers in `opentelemetry-instrumentation-http`"
### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

[code]

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

[code]

### What did you expect to see?

[code]

### What did you see instead?

[code]

### Additional context

There seems to be an issue in the `opentelemetry-instrumentation-http` when gettin

[2022-05-03 20:20] svetlanabrennan commented on #2873
I'll like to work on this issue please.

[2022-05-04 06:50] legendecas commented on #868
The observer API is still experimental. It is likely going to be improved before the GA of the metrics SDK. I'll keep track of this at https://github.com/open-telemetry/opentelemetry-js/issues/2574

[2022-05-04 10:26] SoftMemes opened #2951 "Context is lost when using async generators"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

Tested on 1.1.0, 1.1.1, 1.2.0 with 0.28 of contrib

### What version of Node are you using?

v16.13.2

### Please provide the code you used to setup the OpenTelemetry SDK

As per example on https://github.com/open-telemetry/opentelemetry-js with addition of registering a custom instrume

[2022-05-04 11:59] Flarna commented on #2951
Please provide a reproducer showing how you setup otel and how you set the span as active on context.

Does `trace.getSpan(context.active())` work for you e.g. withing an incoming HTTP request if you use the HttpInstrumentation?

[2022-05-04 15:32] dyladan commented on #2943
The code you provided shown in the error:

[code]

Does not appear in the packages we publish. Are you sure you're not doing some sort of transpilation step?

[2022-05-04 16:04] dyladan commented on #2947
Assigned you since you're already working here

[2022-05-04 16:05] dyladan commented on #2937
In metrics we can do a simple rename but in traces we have to keep the old name. We can mark the old name `@deprecated` in the js docs and remove when we do 2.0

[2022-05-04 16:34] JamieDanielson commented on #2945
Reviewing the files in the provided zip, it looks like the issue may be with the endpoint being used. The `docker-compose.yml` shows `OTC_HOST=http://otel-collector:55681/v1/trace`. [v0.43.0 of Collector](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.43.0) removed the path of `v1/trace` in [PR 4720](https://github.com/open-telemetry/opentelemetry-collector/pull/4720) be

[2022-05-04 16:51] dyladan commented on #2945
I figured it would be something like that.

[2022-05-04 16:53] pichlermarc commented on #2945
Ohh, that makes sense. I foolishly assumed that it was a proto issue too.
I'll unlink this issue from #2886 and #2929.

[2022-05-04 17:12] dyladan commented on #2945
Why does it work with 50 then? did they bring back the old path?

[2022-05-04 17:16] dyladan commented on #2943
Ah i was looking in `build/src` not `build/esm`. Seems like the issue is that the base class is in `otlp-exporter-base` which is missing the `esm` and `esnext` directories in the `files` array of the package.json which makes it fall back to `"main": "./build/src/index.js"` when `"module": "./build/esm/index.js" is missing.

[2022-05-04 17:27] danielgblanco commented on #2947
Thanks, yes the PR linked above should close this.

[2022-05-04 17:58] pichlermarc commented on #2945
I did not try it with this particular setup but with a basic custom example that also uses `0.28` from npm. With that it also worked for v0.43. This is why I assume that @JamieDanielson is correct. 🙂