[2019-05-15 17:25] draffensperger opened #3 "Request: separate package with only TS interfaces and enums"
I've been working on the [OpenCensus Web](https://github.com/census-instrumentation/opencensus-web) project, which uses types from OpenCensus Node. However, one of the challenges we ran into is that the `@opencensus/core` NPM package that had the core trace/stats model types also imported Node-specific libraries like continuation-local-storage, etc. That made it hard to pull in the types only to m

[2019-05-15 19:10] mayurkale22 commented on #3
+1 and If possible we can use [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) to host  OpenTelemetry related type definition files. Might be once library is stable / production ready.

[2019-05-15 20:27] draffensperger commented on #3
Interesting - my impression was that DefinitelyTyped is primarily used for libraries written in vanilla JS but that expose additional type files. What would be the advantage of that over having a dedicated types package as part of the library?

A major advantage I'd see of a package (say `@opentelemetry/types` or similar) would be that we could modify it as part of the same monorepo as other packa

[2019-05-20 21:03] bg451 opened #4 "Should ending a span force its children to end by default?"
Howdy y'all, I've been combing through the opencensus-node code in preparation of the node merger happening.

In opencensus-node, there's this interesting bit of code in [(Span).end](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/trace/model/span.ts#L333) that forces all children spans to end when the parent span ends. I don't think this should b

[2019-05-20 22:04] mayurkale22 commented on #4
This looks like a legacy implementation and I am not sure about the logic. I think we should not close child spans forcefully (by default), and like the idea of passing an option to force child spans to end.

Few questions floated in my mind,
- Does it cause memory leakage if anyone failed to end the span, due to bad code?
- How does it get visualized in Zipkin, Jaeger etc exporters? Does it creat

[2019-05-21 20:28] SergeyKanzhelev commented on #4
it is a good point that cross languages spec needs to document this decision. As an experiment, I've added `spec-needed` label and corresponding issue: https://github.com/open-telemetry/opentelemetry-specification/issues/18

[2019-05-23 01:27] rochdev commented on #4
There are tons of valid use cases for a child span to finish after its parent, and in some cases even start after its parent is finished. This is especially true in Node where everything happens asynchronously.

What is the use case for the configuration option? When would you want to auto finish the children?

[2019-05-23 01:39] rochdev commented on #3
`DefinitelyTyped` is mostly used when the module itself doesn't include the definition files, or when there are cases where you want the definition files only without pulling the library. In general it's better to include the definition files directly in the module, or as proposed above in a separate module with just interfaces.

I'm not a fan of using TypeScript for this type of project however b

[2019-05-23 11:16] hekike commented on #4
+1 on not closing child spans automatically. For the same reason, I find it hard to get span ending casualty right around closing an operation.

[2019-05-23 11:19] hekike opened #5 "Exposing tracer property on spans"
`Span` has a private `tracer` property, `NoRecordSpan` doesn't. I'd prefer to make tracer always available on Span like in OpenTracing. Coming from OpenTracing, I found it challenging not having `tracer` available on spans, especially that first I assumed it is and started to use it, then my code broke one `NoRecordSpan`(s).

[2019-05-23 14:27] draffensperger commented on #3
These are some interesting points - we should discuss this more at the community meeting for this. I generally favor TypeScript since its allows for catching a lot more bugs at compile time vs. run time and has nice editor features.

Regarding testing `async/await` that would be replaced by callbacks, would it have been possible to test it by executing the full build and then doing something like

[2019-05-23 14:41] vmarchaud commented on #3
In this regard, what is the target version of both the node and browser implementation ? I believe a lot of choice will result of that.
For example, the opencensus-node [only support node 8 and newer](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/package.json#L30), so we could target `es6` as an output for node however it will be a problem if we loo

[2019-05-23 17:33] draffensperger commented on #3
From what I can tell, it's kind of tricky to write packages that work for both Node and browser (e.g. [this article](https://nolanlawson.com/2017/01/09/how-to-write-a-javascript-package-for-both-node-and-the-browser/) about it that highlights some challenges). Even seemingly simple things can differ between Node and browser, e.g. getting the high-performance time (`hrtime` in Node, `performance.no

[2019-05-23 18:09] SergeyKanzhelev commented on #5
What do you need a tracer for? Is it because multiple apps can be hosted in a single process and you need app-specific tracer? Or because of this: https://github.com/census-instrumentation/opencensus-specs/issues/249 - ability to restore the scope without holding on to scope object?

[2019-05-23 18:18] rochdev commented on #3
*Disclaimer: we don't support the browser at this time.*

What we did is write the tracer in a way that is independent of the platform it runs on. Then we have a `./platform` folder which contains a `node` and (eventually) a `browser` folder and they have different implementations for different things. For example, `platform.now()` would use `process.hrtime()` in Node and `performance.now()` in th

[2019-05-23 19:13] rochdev commented on #3
The nice editor features in my opinion is the only feature of TypeScript. It's been demonstrated many times that type safety has nearly no benefit for a properly tested application. In general, the opposite ends up happening: reliance on types increases and the number of tests decreases along with code coverage.

For a library, this is made even worse because there is no way to control if the user

[2019-05-23 19:15] rochdev commented on #3
Browsers always need tooling to bundle/minify/etc anyway, so I agree in this case that a few of the downsides I mentioned above are required regardless of using TypeScript. However, since JavaScript code is valid TypeScript code, isn't it possible to use `tsickle` on plain JavaScript, similar to the capability of the TypeScript compiler?

[2019-05-24 07:52] hekike commented on #5
None of them. We prefer manual instrumentation without CLS overhead and it’s easier to start a child span if we don’t need to pass both tracer and root span around. Alternative could be:
span.startChildSpan().startChildSpan()...

[2019-05-29 18:44] mayurkale22 opened #6 "Proposal: Package Structure"
This is my initial proposal to kick of the discussion on npm packages for OpenTelemetry Node.

- **opentelemetry/types**
A separate package with only TS interfaces and enums. Originates from https://github.com/open-telemetry/opentelemetry-node/issues/3

- **opentelemetry or opentelemetry/api or opentelemetry/core**
This is the core npm package for OpenTelemetry. It contains the public API which is

[2019-05-29 18:48] SergeyKanzhelev commented on #6
There is a discussion on how to call it: https://github.com/open-telemetry/opentelemetry-specification/issues/30

[2019-05-29 23:22] mayurkale22 opened #7 "supported node versions"
The [opencensus-node ](https://github.com/census-instrumentation/opencensus-node/blob/master/package.json#L28-L30)only support **node 8 and newer**. The [opentracing/basictracer-javascript](https://github.com/opentracing/basictracer-javascript) does not specify what are the node versions supported in package.json nor documentation. There are implicit versions supported in the Travis file : https:/

[2019-05-30 00:15] draffensperger commented on #6
What's the motivation for having a separate `opentelemetry/transport-*` package group rather than `opentelemetry/instrumentation-[transport]` like `opentelementry/instrumentation-http`, etc.? Are transports interestingly different because of the need to propagate context and so are a different group?

I'm fine with it, just wanted to clarify!

[2019-05-30 00:33] mayurkale22 commented on #6
Absolutely. To me, `transport` sounds more familiar when it comes to HTTP/2 and GRPC protocols. Having said that, I am fine with re-using `opentelemetry/instrumentation-[transport]` name.

[2019-05-30 12:25] rochdev commented on #7
We currently support Node 4 at Datadog. We cannot realistically use OpenTelemetry without at the very least support for it. However, we can easily port our work for these older versions to OpenTelemetry. In general, it's not too difficult to support Node 4 compared to Node 8. The biggest issues are context propagation and native addons, but in our experience it's not too difficult to support it.

[2019-05-30 12:49] rochdev commented on #6
It's a bit unclear where the no-op implementations are stored. Should it be a different package or should it be part of this one?

My vote goes to `core` if it contains *any* behavior, or `api` if it's only interfaces.

As discussed in https://github.com/opentracing/opentracing-javascript/issues/112#issuecomment-433982906, this package should be split into multiple different packages.

For example

[2019-05-30 12:58] rochdev commented on #6
Since a lot of the packages above could be used for the browser as well, should the name of this repo be changed to something like `opentelemetry-js`?

[2019-05-30 13:16] rochdev commented on #6
Thinking about this a bit more, I think this could be externalized as an external project since context propagation is a generic cross-cutting concern. Maybe `opencontext`?

The benefits would be that users could use this to store anything, so they could use it as a replacement for [continuation-local-storage](https://github.com/othiym23/node-continuation-local-storage) and [cls-hooked](https://gi

[2019-05-30 15:51] tedsuo commented on #4
Sounds like there is agreement that we should not close the child spans (I agree as well).

Also, I feel this is a spec (cross-language) issue, and it should work the same in all languages.

[2019-05-30 16:40] draffensperger commented on #6
I like the idea of calling this `opentelemetry-js`. It will require more complex CI checks since we would want to test out the browser packages in multiple browser and the Node packages on multiple Node versions, but it would enable us to keep everything in sync much better than separate repos.

[2019-05-30 17:27] mayurkale22 opened #8 "Configure CircleCI"
Same as https://github.com/open-telemetry/opentelemetry-python/issues/6

Reference: https://github.com/census-instrumentation/opencensus-node/pull/536

[2019-05-30 18:00] mayurkale22 commented on #6
IMO this package will have `api` interfaces and no-op implementations. This might look like this,
[code]
I am in favor of `core`, but I think other languages(Java, Python and Go) are going with `api`.

[2019-05-31 09:15] hekike commented on #7
The best would be following Node's active releases cycle and supporting the active versions (8, 10 and 12 today). But as I guess OpenTelemetry will be in TypeScript too it will kind of define the minimum version, which is 4.x today: https://github.com/microsoft/TypeScript/blob/master/package.json#L29
Although looks like their CI runs only on active Node releases, which I found weird, so maybe I'm

[2019-05-31 09:32] hekike opened #9 "Separate Context Propagation from Tracer API"
## Context

Context Propagation/Continues Local Storage (CLS) is not part of the language, JavaScript or the runtime Node's offering. Although there is some [work in Node Core](https://github.com/nodejs/diagnostics/issues/124) to support [distributed tracing use-cases](https://docs.google.com/document/d/1g8OrG5lMIUhRn1zbkutgY83MiTSMx-0NHDs8Bf-nXxM/preview), the solutions today like [node-continuat

[2019-05-31 09:54] hekike commented on #9
I just saw the conversation already started about separation here:
https://github.com/open-telemetry/opentelemetry-node/issues/6

[2019-05-31 10:52] hekike commented on #9
I learned today that the proposed API won't fit more complex uses-cases probably where operations are put in a queue and will run later in a different context. However, I still believe we should have a conversation about how to handle separation.

[2019-05-31 14:12] vmarchaud commented on #7
Maybe could we make a specific build of open-telemetry to support really old version (0.10/12, 4, 6) which would not follow the master branch ? It would avoid adding shims on newer versions.

[2019-05-31 16:44] rochdev commented on #9
Why the distinction between a root span and a child span? I can't find this in the spec and it doesn't seem necessary. A span is automatically a root span if it has no parent. It also makes it more difficult to use as if you don't know whether there is a parent you need an additional condition instead of just passing `null` or `undefined` as the parent.

As discussed in #6 I think the context prop

[2019-05-31 17:00] rochdev commented on #7
This approach cannot work for APM vendors since we don't control which version of Node our customers use. Every time the minimum requirement is bumped, it should be done carefully and we have to discuss the impacts.

This is one of the [many reasons](https://github.com/open-telemetry/opentelemetry-node/issues/3#issuecomment-495348355) I'm not a fan of using TypeScript as the main language for this

[2019-05-31 17:44] draffensperger commented on #6
Would you expect the `core` implementation to be Node-specific or would it be shareable with the browser (similar to the OpenTracing tracer)?

The benefit of making it cross-platform would be code sharing, but then we need separate hooks for the platform specific parts. Alternatively, as long as the `api` keeps a clean set of types that `core` implements, we could have a `core-web` that is optimiz

[2019-05-31 21:21] rochdev commented on #6
I would try to keep as much code as possible shareable, and add more modules for platform specific code. Then some parent module can compose the correct modules together and register them with each other.

For example, say there is a `web-tracer`. It would use `automatic-tracer` and register `context-zones` on it as the context propagator.

I think this approach could allow more different combinat

[2019-05-31 22:37] hekike commented on #7
I think everyone understands that a holistic instrumentation alignment like OpenTelemetry is not possible without having the main APM players on board. I'd recommend to take a more data-driven approach here and make a final decision based on it.

_The 98% comes from the 55% LTS + 43% current, but as I said, data from actual instrumentation would be probably more accurate data. People who fill a fo

[2019-05-31 22:42] hekike commented on #9
@rochdev
1. I used the current OpenCensus APIs as an example, I think the API distinction between starting child and parent span should be a separate conversation. Personally, I liked the single API in OpenTracing.

2. I think we are on the same page 👍

3. Looks like you are familiar with these use-cases. What do you think, how would a suitable API look like?

[2019-06-03 13:09] draffensperger commented on #6
My coworker @crdgonzalezca is doing some experimental work to build a Zone-based tracer for the browser. You can check out some of his very early stage work here: https://github.com/census-instrumentation/opencensus-web/pull/87

Since we haven't built it yet, I'm not really sure what it will take to make Zone.js do what we want. I like the idea of sharing code between the browser and Node, but I t

[2019-06-03 13:43] rochdev commented on #6
There was also some work done for context propagation specifically in https://github.com/opentracing/opentracing-javascript/pull/113/files#diff-e02a2e69cef841e50802298da59382a3

I definitely agree with that. Otherwise, the more we wait, the more difficult it will be to support the browser because of things we won't have thought about. In general I find that tests are a lot more difficult to share

[2019-06-03 13:50] rochdev commented on #9
It's not really possible to do it in the library natively without using `AsyncResource`, which some libraries have already started implementing. However, this wouldn't support older versions of Node (which may not be necessary but that's another discussion).

From the user's perspective, I think a simple `bind(target, span)` method is usually enough, where `target` is any kind of bindable object/f

[2019-06-03 20:39] mayurkale22 opened #11 "Enable renovate on this repo"
Let's make sure our dependencies are up to date.

https://github.com/census-instrumentation/opencensus-node/pull/233

[2019-06-03 20:41] mayurkale22 opened #12 "Enable code coverage"
Setup Codecov(https://codecov.io/) for unit tests, and enforce minimum threshold to >= 80%.

[2019-06-03 22:50] bg451 opened #13 "Bootstrap special interest group"
Since it doesn't seem like a special interest group has been formally set up for the node repo, I'd like to propose setting up a SIG similarly to how the  [dotnet](https://github.com/open-telemetry/community#net-sdk) group did theirs. This means setting up a weekly 30 minute sync up, each meeting with a proposed agenda, and a publicly viewable document with meeting notes.

An example of a first me

[2019-06-03 23:03] mayurkale22 opened #14 "Package Manager: npm or yarn"
Decide which package manager to use. Both [OpenCensuse Node](https://github.com/census-instrumentation/opencensus-node) and [opentracing-javascript](https://github.com/opentracing/opentracing-javascript) are using npm.

Originates from https://github.com/open-telemetry/opentelemetry-node/pull/2#discussion_r290065691

[2019-06-03 23:21] mayurkale22 commented on #13
+1. I think we should meet every **Wednesday at 9 AM PDT** and similar to others we can use google doc to keep track things. I started with this [doc](https://docs.google.com/document/d/1fiOmIHyCUofqLR13U44x1isUloXXJWfEH8yPhG8MoDs/edit#), but was waiting for cross language specs to get ready.

[2019-06-03 23:27] mayurkale22 opened #15 "Typescript vs Pure Javascript"
Originates from https://github.com/open-telemetry/opentelemetry-node/issues/3#issuecomment-495348355

[2019-06-04 10:15] spidergears commented on #14
+1 for yarn

[2019-06-04 15:42] vmarchaud commented on #13
Sorry for posting this there but i didn't find the information anywhere else: what is the process to join the working group on the nodejs implementation ?

[2019-06-04 15:43] vmarchaud commented on #14
+1 for yarn

[2019-06-04 16:02] vmarchaud commented on #15
+1 for Typescript mainly for the experience as a developer of the future implementation, competition and static check are a must have for me.

If the con is compatibility with older versions, i believe having specific bundle (with shim for promise for exemple) for older versions is the easiest way.

[2019-06-04 16:31] SergeyKanzhelev commented on #13
@vmarchaud typically participating in SIG (special interest group) consist of being active on this repo, attending regular meetings and contribute. There are different level of engagement with the project described [here](https://github.com/open-telemetry/community/blob/master/community-membership.md).

For the regular meeting - @open-telemetry/node-maintainers I'd suggest to take an initiative an

[2019-06-04 19:12] rochdev commented on #14
+1 for yarn

[2019-06-04 19:22] rochdev commented on #15
+1 for JavaScript with corresponding TypeScript definition files. This would provide all the benefits of both JavaScript and TypeScript, without all the disadvantages of going completely with TypeScript. Static checks are supported with this model for example.

There are many downsides to using TypeScript as described in https://github.com/open-telemetry/opentelemetry-node/issues/3#issuecomment-49

[2019-06-04 19:31] c24t commented on #15
FWIW we're considering using type hints in the python API package but not the SDK. It's an apples-to-oranges comparison since type hints are a language feature and don't e.g. require transpiling code, but gives us the same benefit of a well-defined API and optional static checks for the implementation.

[2019-06-04 19:41] rochdev commented on #15
One thing also is that it's easy to move from JavaScript to TypeScript if necessary (especially if the definition files are already done) but the opposite is not true, especially with many transpilation features enabled, so it would be safer to start with JavaScript.

[2019-06-04 19:42] mayurkale22 commented on #15
+1 for Typescript. With TypeScript,
- I can trust my code at runtime (**Strongly-typed** or supports static typing).
- Better code structuring and **object-oriented programming** techniques.
- Code easier to understand (and refactor).
- Will help everyone collaborate easily, can increase productivity.
- Better IDE support
- My development experience is fantastic.

[2019-06-04 19:59] rochdev commented on #15
You cannot for a library that is used by a majority of JavaScript users. Tests are still needed for most types (false sense of safety).

A lot of JavaScript patterns and best practices deviate from OOP and tend to be more on the functional side. They are usually very difficult to type properly.

I would argue that it makes the code a hell of a lot verbose, but I agree that the intent is clearer an

[2019-06-04 21:33] mayurkale22 commented on #15
These are some interesting and valid points, let's continue this discussion in SIG meeting. @vmarchaud @rochdev @bg451 @hekike @danielkhan @justindsmith Can you please update availability [here](https://github.com/open-telemetry/opentelemetry-node/issues/13) or [gitter channel](https://gitter.im/open-telemetry/opentelemetry-node).

[2019-06-05 06:18] jinmel commented on #13
@mayurkale22 the doc isn't public is there a way to keep track of what SIG is up to?

[2019-06-05 06:18] jinmel commented on #14
+1 for yarn

[2019-06-05 06:34] mayurkale22 commented on #13
The doc is public now, will use same doc to host meeting notes/action items.

[2019-06-05 06:39] jinmel commented on #15
+1 for Typescript

I agree with @rochdev there are many pure javascript hacks/flexibility however while this works great for small optimizable packages, I don't think its the same for large project like this one.

since we are holding many cross dependent packages in one repository I think it is helpful for developers to have common strong data type.

[2019-06-05 07:45] vmarchaud commented on #13
@mayurkale22 I'm fine for every **Wednesday at 9 AM PDT**, i believe it's a little bit short for making one in few hours but we could schedule it for the 12 maybe?

[2019-06-05 13:26] hekike commented on #14
+ 1 for yarn

_Some OSS libraries use npm over yarn to avoid an extra dependency for contribution. I think with documentation this gap can be bridged, also probably yarn is popular enough today.
As yarn is faster which would make it more convenient to manage our many packages and it's dependencies. I advocate for it._

[2019-06-05 14:01] draffensperger commented on #15
First @rochdev I appreciate your concerns on using TypeScript, and we should definitely consider both sides for key design decisions like this. I agree that for TS to work smoothly for us we will need the tooling to make incremental TDD and local dev easy. TypeScript 3.4 recently added a feature for [Faster subsequent builds with the --incremental flag](https://devblogs.microsoft.com/typescript/an

[2019-06-05 14:30] draffensperger commented on #3
To respond to the question on the ability of the Closure compiler to optimize plain JS: yes, it can do that too, but it has less ability to optimize, since it [uses types for some optimizations](https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-the-Closure-Compiler). I don't have numbers on how large the effect is, but that extra types-based optimization is a major motivati

[2019-06-05 19:31] mayurkale22 opened #17 "Add opentelemetry/types package"
A separate package with only TS interfaces and enums. This is based on https://github.com/open-telemetry/opentelemetry-node/issues/3 and discussion in SIGs meeting. This is also useful if some vendors want to use only types and build their API/Implementations.

It would be nice to split this ask in multiple PRs. Maybe, first PR is to add initial package structure with README, package.json, LICENSE

[2019-06-05 22:30] rochdev commented on #15
It was agreed at today's meeting that TypeScript will be the language for this project. However, there are a few key things to keep in mind to make sure that we are able to provide the best developer experience and minimize issues between supported versions while using TypeScript. I will open an issue to discuss TypeScript guidelines to be added to the project once the initial skeleton is merged.

[2019-06-05 23:37] mayurkale22 commented on #8
I had a word with @bogdandrutu and others, there is no hardcore rule of using TravisCI here.

As discussed in the SIGs meeting everyone has good experience of CircleCI and will go with the majority.

[2019-06-05 23:39] mayurkale22 commented on #15
@bogdandrutu and @SergeyKanzhelev any thoughts ?

[2019-06-06 00:06] SergeyKanzhelev commented on #15
TS would be OK with us. It will give the best return on the bucks. And later we can cover whatever edge scenarios needed.

[2019-06-06 00:20] mayurkale22 opened #18 "Add CONTRIBUTING guide"
Set/Define guidelines for repository contributors.

[2019-06-06 08:02] danielkhan commented on #14
+1 for npm because it's still the standard.

- **Ease of use:** In large deployments at customers, installing open telemetry will be part of the build system. DevOps engineers just got used to npm. Why make them install another dependency?

- **Security:** While yarn just uses cloudflare to point back at the npm registry, I have seen cases where the build systems at customers had very strict white

[2019-06-06 11:06] danielkhan commented on #7
This is our (Dynatraces) release policy: https://www.dynatrace.com/support/help/shortlink/nodejs#support--desupport

It is based on real usage stats and it works well.

[2019-06-06 11:37] vmarchaud commented on #14
@danielkhan I believe we are just discussing the client we will use in scripts defined in `package.json` and with lerna. All customers will be free to use either yarn or npm to use OpenTelemetry

[2019-06-06 12:10] vmarchaud commented on #7
@danielkhan Cool ! So following your document we can target node 8 since the plan is to release a first version in september (which will not be e-o-l for node 6 but close enough)

[2019-06-06 12:28] danielkhan commented on #7
@vmarchaud - yes supporting 8-12 (maybe 13) in September looks like a safe bet.

[2019-06-06 12:38] danielkhan commented on #13
This was a bit of a short notice here. Also please consider that we spawn multiple timezones and that European folks may need to re-arrange their evening plans.
I get that we have to move fast and that's great but given the fact that decisions have been made on the meeting that were based on issues that were open for not even 2 days, an earlier heads-up would have been desirable.

[2019-06-06 17:42] mayurkale22 commented on #7
Just to have more data points, @bg451 (lightstep) promised to share stats about active node versions. @bg451 Please update the thread once you get time. Thanks

[2019-06-06 19:25] draffensperger opened #19 "How to represent timestamps?"
The OpenCensus Node project used `Date` for span start/end times ([code link](https://github.com/census-instrumentation/opencensus-node/blob/075bebd3c3edd3b5c74502096dc9fe100b06f9a3/packages/opencensus-core/src/trace/model/types.ts#L373)). That has the downside of only only having millisecond accuracy. OpenTracing JS uses `number` for milliseconds since the epoch ([code link](https://github.com/op

[2019-06-06 19:30] draffensperger opened #20 "Rename to `opentelemetry-js`?"
@rochdev had this idea in https://github.com/open-telemetry/opentelemetry-node/issues/6#issuecomment-497320318

I would like us to make sure the core packages are compatible with the browser, and I think it will be easier to have Node + browser instrumentation code all living in the same repo to make it easier to keep everything up to date when refactorings happen.

I think the rename would be goo

[2019-06-06 19:35] mayurkale22 opened #21 "Managing packages with Lerna?"
Background: OpenCensus Node uses [Lerna](https://github.com/lerna/lerna) to organize codebase into multi-package repositories. Lerna give us the ability to build libraries and apps in a single repo without forcing us to publish to npm or other registries. This results in faster code-test-debug cycles by sharing components locally.

https://hackernoon.com/the-highs-and-lows-of-using-lerna-to-manage

[2019-06-06 19:36] mayurkale22 commented on #20
@bogdandrutu and @SergeyKanzhelev any thoughts?

[2019-06-06 19:47] bogdandrutu commented on #19
More granularity better :) I would go with something that has ns but not available us is good.

[2019-06-06 19:53] bogdandrutu commented on #20
If the goal is aligned across the SIG members to develop this package node independent I am fine with the raname. @mayurkale22 is everyone on board with this? Do you need an escalation on this?

[2019-06-06 20:06] draffensperger commented on #21
I'm definitely open to Lerna, but in my limited experience with it for OpenCensus Web, it often felt like onre more dependency to have to manage (upgrade for security fixes, etc.) and that a lot of its functionality might be able to be replaced using simple scripts or tricks as explained in the gist above.

[2019-06-06 20:09] draffensperger commented on #19
Another option is to use a tuple type of `[seconds, nanos]` like [process.hrtime](https://nodejs.org/api/process.html#process_process_hrtime_time) returns

[2019-06-06 20:12] SergeyKanzhelev commented on #20
Should there be another repo like `-js-api`? node and web may keep corresponding repositories with extra packages. Some logic may be very much node or web specific

[2019-06-06 20:15] draffensperger commented on #20
The downside to separate repos is that then refactoring is kind of hard, because you can't have a single PR that changes the API and also all the users of the API, and it's harder to keep the API in sync in the dependent packages between versions. In contrast, if it's all in one repo, you can make sure that changes to the API package pass all the CI tests for both Node-specific and browser-specifi

[2019-06-06 20:16] SergeyKanzhelev commented on #20
than it's for @open-telemetry/node-maintainers to decide. If you up for the challenge - than go ahead. There is an inercection of people who knows both worlds. But sometimes people are only familiar with either of two and it may be harder for them to contribute

[2019-06-06 20:18] draffensperger commented on #20
@mayurkale22 could you bring this up in the next SIG and see what people think?

[2019-06-06 20:45] mayurkale22 commented on #20
Sure, will update the thread once we have some conclusion after the meeting.

I'd prefer to keep both in the same repo., because we can work on both the version (server and browser) simultaneously without forcing us to publish to npm or other registries to share the types and core packages. And wherever is applicable we can mention, this package is intended for use both on the Node and in the brow

[2019-06-06 22:41] bg451 commented on #7
I looked at our metrics of reporting lightstep tracers and broke it down by node version with these results.
v8.x - 53%
v10.x - 39%
v11.x - 5%
v12.x - 3%

No tracers are running on anything below v8.x

[2019-06-07 06:26] danielkhan commented on #21
When working with OpenCensus I had the problem that the build on master was broken for some time because one component had a problem. To me, this whole experience felt very much like a monolithic approach with a lot of moving parts involved.

Here, I usually manage each dependency as a separate module. I simply add the local relative path as dev dependency and run `tsc -w` in them. This gives a ve

[2019-06-07 07:01] danielkhan commented on #20
Just my 2 cents: I am not really fond of this approach of anti-componentization as it creates large interdependent project, as already mentioned in #21. I would prefer well-defined interfaces and APIs.
It's always possible to check out two or more repos and use them as dev dependency without pushing anything to any registry.

The question should be, what the functional overlap between browser and

[2019-06-07 13:13] rochdev commented on #19
Here is a quick summary of the differences between a `Number` object (for example returned by `performance.now`) and a tuple (for example returned by `process.hrtime`)

* **Number**: Maximum granularity of 0.2µs. Easier to work with.
* **Tuple**: Maximum granularity of 1ns. A bit clunkier to work with but it's just 2 numbers so not too bad.

What is the use case for granularity higher than 0.2µs?

[2019-06-07 13:14] rochdev commented on #19
In general I think I would vote for a tuple representation internally and accept both a tuple or a `Number` as input.

[2019-06-07 13:22] rochdev commented on #21
In my experience using it in a few large projects, it's really a must-have for monorepos. Using scripts is possible, but it becomes very cumbersome very quickly, and in the end you end up pretty much rewriting Lerna but as a less feature complete, more difficult to use, and with more bugs implementation since it's not an external project that can be contributed to easily.

I'd say this is a genera

[2019-06-07 13:24] rochdev commented on #21
Most of the downsides mentioned in the articles are also mitigated by combining Lerna with TypeScript and Yarn.

[2019-06-07 14:17] rochdev commented on #20
I prefer a single repo as well. I used to be against it because I believed it promotes coupling, but then I realized that it's very possible to couple many repos together anyway. It also gets really painful to keep multiple repos in sync. This is even more true as the number of repos increases. It's also a lot easier for users who simply want to mix and match different packages if they all use the

[2019-06-07 15:53] justindsmith commented on #20
My initial reaction is (also) to support the single-repo, but we can discuss further in the SIG.

[2019-06-08 00:29] draffensperger commented on #21
I'm fine with use of Lerna, just wanted to make sure including it is worth the extra weight of an extra dependency, sounds like in this case it is worth it!

[2019-06-08 00:36] draffensperger commented on #20
What I did to manage keeping the types in sync between [opencensus-web](https://github.com/census-instrumentation/opencensus-web) and  [opencensus-node](https://github.com/census-instrumentation/opencensus-node/tree/master/packages) was to write a kind of hacky [copy-types script]*https://github.com/census-instrumentation/opencensus-web/blob/master/packages/opencensus-web-types/scripts/copy-types.

[2019-06-10 18:58] mayurkale22 opened #22 "TypeScript Guideline"
Originates from https://github.com/open-telemetry/opentelemetry-node/pull/2#discussion_r290961592

[2019-06-10 19:00] mayurkale22 commented on #22
@rochdev would you be willing to make a stub in documentation on TypeScript Guideline?

[2019-06-10 20:50] rochdev commented on #22
I will take some time this week to do it.

[2019-06-10 20:55] rochdev commented on #22
Where should the guideline live?

[2019-06-10 21:28] mayurkale22 commented on #22
I think it can live in root directory (opentelemetry-node), similar to [CONTRIBUTING.md](https://github.com/open-telemetry/opentelemetry-node/pull/23). WDYT?

[2019-06-12 07:34] danielkhan opened #26 "Create an @opentelemetry org on npm"
Came across this, while reviewing #25.

I think we should create a dedicated @opentelemetry org on npm.
`opentelemetry-types` would then become `@opentelemetry/types`.
As many projects (like Babel) chose this route, this looks like a good practice.

[2019-06-12 15:24] rochdev commented on #22
After thinking about this a bit more, I'm not sure a guideline is needed. It should be enough to change the `tsconfig.json` to disable all features related to transpilation. I will open a separate issue for this. Feel free to close this one.

[2019-06-12 15:29] rochdev opened #27 "Update base tsconfig.json to disable all compiler options except type checking"
As previously discussed, TypeScript compilation supports many compilation features to alter code depending on the ECMAScript and environment targets. This is problematic since many different targets must be supported with a single build output. It also makes testing much more difficult since in some cases it may make a specific language construct completely unavailable.

Any feature not related to

[2019-06-12 15:30] rochdev commented on #22
Opened #27

[2019-06-12 15:37] rochdev commented on #26
I agree. I completely missed that in the review as I assumed this was already the case.

[2019-06-12 16:29] mayurkale22 opened #28 "Add Tracer API"
Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tracing-api.md#tracing-api

The API should also include no-op implementations for some classes, see the [java client](https://github.com/open-telemetry/opentelemetry-java/tree/master/api/src/main/java/io/opentelemetry/trace) for details.

[2019-06-12 16:30] mayurkale22 opened #29 "Add Span API"
Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tracing-api.md#span

[2019-06-12 18:01] mayurkale22 commented on #21
All agreed to use Lerna in today's meeting.
- It has its shortcomings (extra dependency) but it’s worth using it.
- OpenCensus uses it and worked well.
- It doesn't have the overhead on end users.

[2019-06-12 18:01] #21 closed

[2019-06-12 18:07] mayurkale22 commented on #8
@bg451 volunteered to help with this.

[2019-06-12 18:10] mayurkale22 commented on #7
We have decided (in today's meeting) to start with **Node 8 and newer** versions and switch back to Node 6 if needed.

[2019-06-12 18:58] mayurkale22 commented on #29
OpenTracing Span class: https://github.com/opentracing/opentracing-javascript/blob/master/src/span.ts

OpenCensus Span interface: https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/trace/model/types.ts#L314

[2019-06-13 08:38] danielkhan commented on #26
As we seem to all agree on that, who should create the organization?

@bogdandrutu, @tedsuo, do we have a best practice on who should own such external accounts?

[2019-06-13 21:19] #17 closed

[2019-06-14 15:51] rochdev opened #33 "Change license from Apache-2.0 to MIT or BSD"
**Is your feature request related to a problem? Please describe.**

The Apache-2.0 license is basically non-existent in the Node and JavaScript communities. Most projects use MIT and some commercial vendors prefer to use the slightly more strict BSD family of licenses. There are almost no JS projects using Apache-2.0. This could result in issues since most of the community won't know the implicati

[2019-06-14 16:16] SergeyKanzhelev commented on #33
@caniszczyk can you please help with this? Is there some write up in CNCF already regarding the licenses?

[2019-06-14 18:59] rochdev commented on #20
I believe there was an agreement to rename the repository. We should probably do that sooner rather than later since the more we wait the more contributors will be impacted.

[2019-06-14 20:36] SergeyKanzhelev commented on #20
@open-telemetry/node-maintainers can you please confirm that you requesting this change. Happy to accommodate.

[2019-06-15 03:02] draffensperger commented on #33
What are the restrictions that Apache-2.0 has that MIT would not? (I confess to not being as familiar with the nuances of these licenses as I probably should be)

[2019-06-17 13:46] rochdev commented on #33
I'm no expert either, but the one that comes to mind is to have to add the copyright to every file in the project, and in any other projects who want to use those files. This is unnecessary noise and would generally be used to protect copyright for a vendor. Since this work is community-driven and attribution cannot be given to any single vendor, it renders such attribution mostly useless.

As I a

[2019-06-17 14:10] rochdev commented on #19
To clarify my above comment, the `Number` input would be as milliseconds with a decimal component. This is the precision that is used by JavaScript for timestamps.

[2019-06-17 16:56] SergeyKanzhelev commented on #33
It kind of is as CNCF helps us make intellectual property vendor neutral and protect it. As well as protecting users of this project.

I'm not against MIT as it is recommended license for Microsoft OSS. I think MS will be happier if it's MIT, but perfectly fine with Apache. I know Google is opposite and they like Apache license more. And there might be reasons why CNCF recommends Apache.

As for c

[2019-06-17 17:18] #13 closed

[2019-06-17 17:55] caniszczyk commented on #33
Yes, see: https://www.cncf.io/blog/2017/02/01/cncf-recommends-aslv2/

The CNCF IP Policy is clear, Apache-2.0:
https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy

There are no implications since Apache-2.0 and MIT/BSD are permissive in spirit and there are no issues really combining them.

[2019-06-17 17:55] danielkhan commented on #33
AFAIK, the attribution is not a must criterion but best practice.
Besides that, Apache-2 has some wording on patents but the general opinion by lawyers is, that the same is true for MIT implicitly.

[2019-06-17 18:00] SergeyKanzhelev commented on #33
@rochdev do you have more questions or feedback? Is there any implications to DataDog w.r.t. contributions or your customers with the current license that CNCF can help resolve?

If not - I'd suggest to close the issue. I will post the license link to Community readme page.

[2019-06-17 19:33] #18 closed

[2019-06-17 19:50] mayurkale22 commented on #22
Closing this one based on https://github.com/open-telemetry/opentelemetry-node/issues/22#issuecomment-501324038

[2019-06-17 19:50] #22 closed

[2019-06-17 20:12] mayurkale22 commented on #20
👍

[2019-06-17 20:16] mayurkale22 commented on #28
OpenTracing api: https://github.com/opentracing/opentracing-javascript/blob/master/src/tracer.ts#L49

[2019-06-17 21:47] rochdev commented on #33
There are no implications for Datadog. This is a personal observation that the Node community is much more comfortable with MIT/ISC/BSD. My point is that there should be a reason for using a specific license and no valid reason was provided so far. This is especially true when there is an implication on a per-file basis.

In general, I feel the CLA requirement will already discourage many contribu

[2019-06-17 22:25] draffensperger commented on #33
I think it would be cool for the `npm run test` command to check for the right license preambles similar to lint checks and for `npm run fix` to not only properly format code (Prettier via `gts`, fix TSLint, etc.) but also to add the necessary license boilerplate. That could be explained in the contributing guide and could be part of the CI build with a nice explanation for the contributor to just

[2019-06-17 22:28] rochdev opened #37 "Add setAttributes to make it easier to add them in bulk."
**Is your feature request related to a problem? Please describe.**

In JavaScript, it's much easier to use a map-style object to add multiple attributes at once. Having to call `setAttribute` multiple times is thus unnecessary and requires more code, especially if copying from an existing object.

**Describe the solution you'd like**

It should be possible to add multiple attributes using a single

[2019-06-17 22:37] rochdev commented on #33
Is there a way to actually fail linting if license headers are not present? I think it would be even better if this can simply be handled by the linter. I know it's possible to write extensions for ESLint, but I don't know if TSLint has similar functionality.

It also sounds like the license header could be [a lot smaller](https://github.com/open-telemetry/community/issues/113).

My preference sti

[2019-06-17 22:42] draffensperger commented on #19
One of the weirdnesses with using `Number` for milliseconds is that gets progressively less accurate at the number increases. So if you get values from `performance.now()` they will have nanosecond accuracy since they are generally close to zero (assuming your browser window hasn't been open for too long and your Node process hasn't been running for < 90 days). However, for epoch millis you only h

[2019-06-17 22:48] draffensperger commented on #33
Per that linked convo, it seems like the header may be required? I found it annoying and also wished we didn't need it - but if it can at least be a 1-liner that would be great.

We may be in luck on the TSLint side, see https://palantir.github.io/tslint/rules/file-header/

[2019-06-18 14:33] rochdev commented on #19
In any case we would always have 0.2µs precision since the result from `performance.now()` needs to be added to the timestamp when the process was started to get the correct start/end times. Personally I think this is an acceptable precision loss for the simplicity of using numbers. For more precision, we can additionally support tuples (which would also need to be added to the process start times

[2019-06-18 14:36] rochdev commented on #33
That's great news! A one liner and this rule would definitely be a lot less painful. I think for a first iteration this works.

[2019-06-18 14:37] rochdev commented on #33
Are there any organization contributing to OpenTelemetry who actually prefer Apache-2.0 and can give some more context why?

[2019-06-18 15:33] danielkhan commented on #33
I think we should stick to apache 2 because

1. the header is a may and not a must
2. CNCF recommends it
3. The CLA also reflects very much of the Apache 2 license (like patents) - so if someone is fine with the CLA they will also be fine with the license
4. Many developers have to add some header to their code and there are lots of tools for each IDE
5. This has only to be done once for every new

[2019-06-18 16:56] SergeyKanzhelev commented on #20
Renamed

[2019-06-18 17:48] rochdev commented on #33
**Please note that I'm answering the above for completeness only. If we can automate the license with the linter and reduce the header to a one liner or remove it completely I'm fine with closing this issue.**

We should confirm this, but it seems to be the case according to https://github.com/open-telemetry/community/issues/113#issuecomment-502184330

We should not blindly follow recommendations

[2019-06-18 17:50] rochdev commented on #33
One interesting thing I've noticed in the [article above](https://www.cncf.io/blog/2017/02/01/cncf-recommends-aslv2/) is the mention that Apache-2.0 is roughly equivalent to BSD+CLA. Does this mean we could remove the CLA?

I'm really just trying to reduce the barrier to entry since it may happen that at some point our users will need to contribute to OpenTelemetry.

[2019-06-18 17:58] caniszczyk commented on #33
@rochdev The CNCF IP Policy requires Apache-2.0, it's baked in the charter and everyone agrees to and understands: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy

Please tell me how this "conflict with the community" ?

[2019-06-18 18:05] danielkhan commented on #33
[code]
There is nothing to confirm - it's part of the license.

How exactly does it conflict with the community?
Can you make a case about any part of the license that you doubt would work with the community?

This is really a minor ask and how many contributors really add a new file compared to editing an existing one going forward?

And all of OpenCensus was Apache 2.0. Plus it's a CNCF standard

[2019-06-18 18:31] #20 closed

[2019-06-18 19:33] bg451 commented on #14
Has a decision been made here?

[2019-06-18 19:40] rochdev commented on #33
Missed that, thanks for clarifying.

All I'm saying is this is not a license that is usually used for JavaScript projects, which may be confusing to contributors if they don't know the implications. Please note that this was based on the assumption that the header is mandatory, which it's not. By automatically adding the header, this concern is also invalidated.

Very valid point. Once the API has

[2019-06-18 20:04] rochdev opened #38 "Review file and folder structure casing and relationship"
**Is your feature request related to a problem? Please describe.**

Right now it's not easy to correlate a file with its content. A usual TypeScript project has the name of the file match what it exports. For example: https://github.com/microsoft/TypeScript-Node-Starter/tree/master/src

**Describe the solution you'd like**

There should be a TSLint rule if possible with the below rules:

* Class a

[2019-06-18 23:10] draffensperger commented on #19
Well, to convert a `performance.now` timestamp to a nanosecond-precision ISO timestamp, you can separate the fractional and whole number parts of both the origin and `performance.now` numbers, add them separately, and then create the ISO timestamp string based on the separately added whole millisecond and fractional millisecond parts, see [this code that does that](https://github.com/census-instru

[2019-06-18 23:54] draffensperger commented on #38
Yes - this is the [class-name](https://palantir.github.io/tslint/rules/class-name/) rule that is already enforced in the packages [via gts](https://github.com/google/gts/blob/master/tslint-rules.json)

I like this though I'm not sure how to

I'm fine with enforcing camelCase for filenames. The [TS book style guide concurs](https://github.com/basarat/typescript-book/blob/master/docs/styleguide/styl

[2019-06-19 00:20] mayurkale22 opened #40 "Add DistributedContext API"
Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/distributedcontext-api.md

[2019-06-19 00:22] mayurkale22 opened #41 "Add resources API"
Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resources-api.md

[2019-06-19 00:22] mayurkale22 opened #42 "Add Sampling API"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sampling-api.md

[2019-06-19 04:45] mayurkale22 commented on #38
+1

What should be the TSLint rule for name of the test files? (either `index.test.ts` or `test-index.ts` or `test_index.ts`)

[2019-06-19 15:51] rochdev commented on #19
This would mean a change of how the time is reported though. It means `end()` should be called with the duration and not the end time. This would indeed allow a higher precision in most cases if internally it's always stored as a tuple, depending on how the data is reported.

I think it's worth a discussion if that makes high precision possible with `Number`. The only downside is that precision wo

[2019-06-19 17:15] rochdev commented on #14
The decision is to go with `yarn`. This was reconfirmed in today's SIG meeting.

[2019-06-19 17:27] rochdev opened #43 "Add TSLint rule to enforce Apache headers in every file"
**Is your feature request related to a problem? Please describe.**

As discussed in #33, the license should be added automatically to every file to avoid users forgetting to add it, or add it in an inconsistent way.

**Describe the solution you'd like**

TSLint can be used for this purpose with the [file-header](https://palantir.github.io/tslint/rules/file-header/) rule. The header should also be

[2019-06-19 17:28] rochdev commented on #43
@caniszczyk @bogdandrutu Could you confirm what a minimal one-liner license would look like as discussed in https://github.com/open-telemetry/community/issues/113?

[2019-06-19 17:31] #14 closed

[2019-06-19 17:36] rochdev commented on #19
This was discussed at today's SIG meeting, and for now a `Number` will be used as milliseconds for the end time.

This is (potentially) temporary however and we still need to discuss what would be the best approach. One discussion that probably needs to happen in the specification repository first is whether `end()` should accept a duration or an explicit end time.

[2019-06-19 17:49] rochdev commented on #19
Opened https://github.com/open-telemetry/opentelemetry-specification/issues/139 to discuss end time VS duration and making the timestamps available on the cross-language API.

[2019-06-19 17:53] rochdev commented on #33
We discussed this a bit at today's SIG meeting and basically we can leave this issue open with 2 action items:

* Add TSLint rule to enforce Apache headers in every file. (#43)
* Discuss with CNCF to make licensing more flexible. This will probably take a lot of time.

If anyone has any explicit requirements for Apache-2.0 at their company and can provide the reasoning why they need it, please sha

[2019-06-19 20:06] mayurkale22 opened #46 "Add Context-* package and implementation"
Add separate packages for Context Propagation/Continues Local Storage (CLS). The primary objective of CLS is to implement a transparent context API, that is, we don't need to pass around a `ctx` variable everywhere in application code.

In today's (06-19-19) SIG meeting, we have decided to implement generic API, so that it can be used outside OpenTelemetry project.

**opentelemetry/context-base**

[2019-06-19 20:07] danielkhan opened #47 "Optimize traceId and spanId generator for performance and factor out server/browser specific apis"
As discussed on https://github.com/open-telemetry/opentelemetry-js/pull/35 there a ways to create those random ids in a more performant way. Additionally, we should make it browser/server agnostic by factoring out the individual random id generation.

[2019-06-19 20:09] rochdev commented on #38
@draffensperger I'm not sure your suggestions are the same as what I described above. Let me provide a few examples of what I meant just to make sure.

Class example: `Entry.ts`
Singleton/function example: `randomBytes.ts`
Utilities example: `some-util.ts`
Folder example: `/distributed-context/`

This makes it easy to know what is the content of the file. The most important part is the files where

[2019-06-19 22:14] SergeyKanzhelev commented on #33
@rochdev I suggest to go from opposite and find more justifications not to require Apache-2.0. Single license across projects makes life of vendors and big end users easier. Less legal work to do.

I'm not sure what kind of "blocking argument" you are seeking for. And I'm not sure any company legal team will completely block any other license or openly comment on all the implications they "perceiv

[2019-06-19 22:43] mayurkale22 commented on #29
Closed via #31

[2019-06-19 22:43] #29 closed

[2019-06-20 09:08] danielkhan commented on #26
Ping: @open-telemetry/node-maintainers could you provide your npm usernames?
I'll go ahead and create the org, add you as admins.

[2019-06-20 14:10] draffensperger commented on #19
I like the idea of just picking epoch millis and moving on for now.

But to clarify a bit of what I meant - what I was envisioning was that both the start and end times would be in `performance.now` timestamps such that both could be high-precision relative to each other and other events in the spans collected from the Node process for the request.

Only when they need to be converted to epoch tim

[2019-06-20 15:07] rochdev commented on #19
I like this idea a lot. However, this may not be possible in other languages. How should this be described in the spec?

[2019-06-20 15:21] draffensperger commented on #19
Well, most other languages just have nice nanosecond-level timestamps, or at least native 64-bit ints that could make representing a nanosecond-level epoch time easy :(

If we were going to write something in the specs for this, my sense would be to say that implementations may choose to use a monotonic clock timestamp for span start/end times and event times if that helps improve accuracy or ease

[2019-06-20 15:36] mayurkale22 opened #50 "Configure CircleCI workflows"
Originates from https://github.com/open-telemetry/opentelemetry-js/pull/39 (Adds CircleCI configuration).

[2019-06-20 17:05] mayurkale22 commented on #8
Closed via #39, Thanks @bg451

[2019-06-20 17:05] #8 closed

[2019-06-20 18:49] #37 closed

[2019-06-20 19:55] mayurkale22 opened #51 "Add Metrics API"
Specs: https://github.com/open-telemetry/opentelemetry-specification/pull/137

Metrics proposal doc: https://docs.google.com/document/d/1-oFRwkaHVlLM8hTB8NPy-rTcfCZFX5PR4PhZCiK4rCE/edit

[2019-06-20 20:01] mayurkale22 commented on #26
https://www.npmjs.com/settings/opentelemetry/packages - Done. Feel free to close the issue if everything looks good.

[2019-06-21 08:53] daft300punk opened #52 "Getting 'Cannot find module 'crypto'.' on bootstrapping"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
Current master branch

### What version of Node are you using?
10.16

### What did you do?
If possible, provide a recipe for reproducing the error.
```npm run bootstrap```

### What did you expect to see?
Successful bootstrap

### What did you see instead?
[code]

### Additional context

[2019-06-21 17:14] mayurkale22 commented on #52
Thanks for reporting this! #53 will solve this one, I tried locally and confirmed to be working.

[2019-06-21 17:20] #52 closed

[2019-06-21 17:22] mayurkale22 commented on #52
Feel free to reopen the issue if there's something that #53 doesn't solve.

[2019-06-24 17:38] mayurkale22 commented on #3
Closing this, we have already decided/implemented the separate package with only TS interfaces and enums.

[2019-06-24 17:38] #3 closed

[2019-06-24 17:39] mayurkale22 commented on #15
Closing this, agreed to use **TypeScript** for the project.

[2019-06-24 17:39] #15 closed

[2019-06-24 17:43] mayurkale22 commented on #4
Closed via https://github.com/open-telemetry/opentelemetry-specification/issues/18

[2019-06-24 17:43] #4 closed

[2019-06-24 21:48] bg451 commented on #50
Adding some context: When you use workflows, file state is not maintained by default so you have to `yarn install` at every step, which is not great. Even if you restore from cache, you lose the state in the next build step. You need to set up [data sharing using workspaces](https://circleci.com/docs/2.0/workflows/#using-workspaces-to-share-data-among-jobs). The nodejs workflow example CircleCI pr

[2019-06-25 13:51] #26 closed

[2019-06-25 16:20] rochdev commented on #50
Not sure I understand why the CircleCI example doesn't work. Caching can be done at the job level.

[2019-06-25 17:34] mayurkale22 opened #58 "Allow `span` type along with `SpanContext` everywhere"
This avoids the caller having to always call `span.context()` if they are referencing a `span`.

Originates from: https://github.com/open-telemetry/opentelemetry-js/pull/55#discussion_r297277254 and https://github.com/open-telemetry/opentelemetry-js/pull/31#discussion_r293994931

[2019-06-25 19:06] bg451 commented on #50
It's a case of what's cleaner to do in the config file. You can use workspaces after the initial cache get->install->cache to share your dependencies across all jobs, or add a cache get line to every job description.

[2019-06-25 21:09] rochdev commented on #50
It's actually discouraged to share cache across jobs that run in parallel to avoid race conditions. It's also better in general IMO to cache per-job since it avoids having to reinstall everything for a small change.

[2019-06-26 19:45] mayurkale22 commented on #46
Assigned to @vmarchaud as per offline discussion, Thanks for the initiative and help.

[2019-06-28 00:43] #41 closed

[2019-06-28 20:33] mayurkale22 opened #69 "Use V8 builtin coverage reporting"
# 🚀 Feature Request
V8 provides a native way of getting code coverage.

Here's a [blog post](https://medium.com/the-node-js-collection/rethinking-javascript-test-coverage-5726fb272949) about it.

# Motivation
Make coverage 2-3x faster than `nyc`.

[2019-06-28 23:24] caniszczyk commented on #43
sorry something like:

// Copyright OpenTelemetry Contributors. SPDX-License-Identifier: Apache-2.0

[2019-07-01 18:14] mayurkale22 commented on #40
Closed via #36

[2019-07-01 18:14] #40 closed

[2019-07-02 16:21] #12 closed

[2019-07-03 17:43] mayurkale22 commented on #28
Python's Tracer API for reference: https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-api/src/opentelemetry/trace/__init__.py#L123

[2019-07-03 18:05] #42 closed

[2019-07-04 19:19] mayurkale22 opened #80 "TraceState : validate maximum number of items"
Based on https://w3c.github.io/trace-context/#tracestate-field, there can be a maximum of **32** `list-members` in a list. We have decided to truncate the list instead of throwing exception/error when the defined limit is crossed.

TODOs:
https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-core/src/trace/TraceState.ts#L19

https://github.com/open-telemetry/opentel

[2019-07-05 11:16] danielkhan opened #81 "Casing of names"
I just saw that Event.ts and Sampler.ts are uppercase while we stick to lowercase for the rest.
Do we have a convention for that?

[2019-07-05 13:31] rochdev commented on #81
Duplicate of https://github.com/open-telemetry/opentelemetry-js/issues/38

[2019-07-05 13:31] #81 closed

[2019-07-05 19:06] draffensperger opened #82 "Add browser unit tests for `@opentelemetry/core`"
Since the `@opentelemetry/core` package is intended to have shared code that should be usable in either Node or the browser, we should create browser tests for it.

Initially I suggest unit tests with Karma. Longer term, it would be great to use Sauce Labs to do genuine cross-browser functional testing, likely just for the `master` branch.

[2019-07-05 19:15] draffensperger opened #83 "Separate `core` package Node/browser specific code into `platform` folders"
There is a de-factor standard for a `"browser"` field in the `package.json` (see [package-browser-field-spec](https://github.com/defunctzombie/package-browser-field-spec)) that webpack, Rollup, etc. respect.

It allows us to specify replacement modules for when the package is used in the browser instead of Node. So we could structure things like this:
[code]
[code]
[code]

Then in our `package.jso

[2019-07-05 22:10] rochdev commented on #83
The problem with this approach is that the entrypoint is not the platform. The platform is used by the entrypoint.

The way we do it is to allow switching platform. So in `browser.js` it's possible to do something like `platform.use(browser)`.

Another potential alternative if the standard supports that would be to do what you mentioned above but in the subpackage `opentelemetry-platform` instead

[2019-07-05 22:13] rochdev commented on #83
Nevermind, I didn't know you could change multiple files.

[2019-07-08 17:00] mayurkale22 opened #86 "Add no-op implementations of Tracer API"
Dependency on https://github.com/open-telemetry/opentelemetry-js/pull/85#pullrequestreview-259027302

.NET Reference:  https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Trace/NoopTracer.cs

Java Reference: https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/trace/DefaultTracer.java

[2019-07-08 21:33] mayurkale22 commented on #83
Can we close this one via #84?

[2019-07-08 21:33] mayurkale22 commented on #82
Can we close this one via #84?

[2019-07-09 00:47] draffensperger commented on #82
Yep!

[2019-07-09 00:47] #82 closed

[2019-07-09 00:47] draffensperger commented on #83
Yep!

[2019-07-09 00:47] #83 closed

[2019-07-09 17:17] #28 closed

[2019-07-09 23:28] mayurkale22 opened #90 "Add opentelemetry/basic-tracer package and implementation"
Originates from https://github.com/open-telemetry/opentelemetry-js/issues/6

With this user will have a full control over the instrumentation and span creation. The base package doesn't load Continuation Local Storage (CLS) or any instrumentation plugin by default.

[2019-07-09 23:36] mayurkale22 opened #91 "Add opentelemetry/node-tracer package and implementation"
Originates from https://github.com/open-telemetry/opentelemetry-js/issues/6.

Add an automatic tracer (automatically patches well-known modules) with CLS or https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-context-async-hooks package.

OpenCensus implementation: https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-nodejs-bas

[2019-07-10 17:10] hekike opened #92 "Optional strict mode to help surface issues around correctness"
**Is your feature request related to a problem? Please describe.**

We have already made some tradeoffs around accepting incorrect configuration or data without blowing the SDK up. For example using `getCurrentSpan` with `NopScopeManager` or passing different format to `inject()`. I expect we will log warnings or errors about these edge cases, but I could imagine an extra `strict` (default: false)

[2019-07-10 19:40] mayurkale22 commented on #43
@draffensperger FYI

[2019-07-11 00:45] draffensperger commented on #92
Related to this, I would like to have the option to make it so that no logging takes place in a production browser context (`console.log` statements don't really help your end user), and even so that all logging could be stripped out by optimizing compilers like Closure.

I think making the logging utilities live under the `platform` folder and respond to some global config could enable both of th

[2019-07-11 13:14] draffensperger commented on #43
@mayurkale22 did you get official confirmation from CNCF folks that this short form header is allowed?

[2019-07-11 17:41] mayurkale22 opened #96 "Update README.md with high level description, useful links, license info etc."
Similar to https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-types/README.md

Packages:

- [x] opentelemetry-core
- [x] opentelemetry-types
- [x] opentelemetry-scope-base
- [x] opentelemetry-context-async-hooks
- [x] opentelemetry-basic-tracer
- [x] opentelemetry-node-tracer

[2019-07-11 19:29] vmarchaud commented on #96
I'll handle readme's for both scope packages

[2019-07-11 21:22] #69 closed

[2019-07-11 23:45] markwolff opened #97 "Codecov: file prefix missing leads to 404"
### What did you do?
If possible, provide a recipe for reproducing the error.
`$ yarn codecov`
Viewing a source file at https://codecov.io/gh/open-telemetry/opentelemetry-js/tree/master/src leads to 404 because it is missing a `packages/opentelemetry-<package>/` prefix.

### What did you expect to see?
Files are viewable from [codecov.io](https://codecov.io)

### Additional context
Can be solved b

[2019-07-12 00:07] mayurkale22 commented on #97
This can be solved by adding (one of the approach) `codecov.yml` in each package with [fixing paths](https://docs.codecov.io/docs/fixing-paths). Similar to https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-exporter-stackdriver/codecov.yml.

Would you like to stub a PR on this?

[2019-07-12 00:14] markwolff commented on #97
@mayurkale22 Yes I can take this one. An alternate approach is to run [codecov-bash](https://docs.codecov.io/docs/about-the-codecov-bash-uploader) during the circleCI pipeline so that each package doesn't have an additional `codecov.yml`. Is there a benefit to having `codecov` being run via npm-scripts during local dev?

[2019-07-12 00:21] mayurkale22 commented on #97
Sounds good to me. Is it possible to see report package-wise? Like core: 90%, scope-base: 85% etc.

No and you won't be able to upload codecov reports from local dev.

[2019-07-12 07:53] vmarchaud commented on #97
I've had the issue with one my project and i've keep the report per package by using `-p ../..` when using the `codecov` cli, exemple [there](https://github.com/vmarchaud/openprofiling-node/blob/master/packages/openprofiling-core/package.json#L12)

[2019-07-12 18:43] #97 closed

[2019-07-15 21:09] bg451 opened #104 "Support 64bit integers for metrics"
The [metrics specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics-api.md#createdoublemeasurement) calls for two different types of measures: Long and Double. JavaScript has equivalents for these: `BigInt` and `Number` respectively, however`BigInt` is still a fairly new addition to ecmascript specification so it isn't supported by older brow

[2019-07-15 21:19] vmarchaud commented on #104
`BigInt` support has landed on node in 10.4.0 but it's possible to use [jsbi](https://github.com/GoogleChromeLabs/jsbi) as a polyfill in both node and the browser if needed.

[2019-07-15 23:23] mayurkale22 commented on #104
I agree with @bg451's approach. Only thing is if they measure type is `Long ` (or Long typed `Measure`/`Measurement`.) and provided value with decimals, SDK should either throw an exception or log the error otherwise exporters would crash or throw un handled exceptions.

*_this is more like a question/discussion, so removed bug label._

[2019-07-16 00:21] draffensperger commented on #104
I'd like to avoid making BigInt / jsbi a requirement for users, since it would add weight to the JS bundles that get shipped to the browser.

That said, you can't do fully accurate `Long` type counting with the regular JS `number` (though for smaller counts they work pretty well). I would be inclined to focus the UI on `number`, and make BigInt use either not included initially or an optional add-

[2019-07-16 00:22] draffensperger commented on #104
There is also the [long.js](https://github.com/dcodeIO/long.js) library, which is likely lighter weight than jsbi since it only needs 64-bit support. Again, something I'd recommend we look at down the road.

[2019-07-16 01:30] bg451 commented on #104
Some more food for thought from https://github.com/open-telemetry/opentelemetry-js/pull/105/files#diff-1a629a23a3811f06e38fba44580c10bdR42

[code]

I guess there's this question of how far we should deviate from the spec, and imo I think this would be a win for API simplicity.

[2019-07-16 12:50] draffensperger commented on #104
What if we have a single interface, and make the type for it accept something like `number|bigint`?

Then in our implementation, we make sure that the `bigint` dependency is pluggable in some way (maybe different packages, one with it, one without it?). In the code we can do a `typeof value === 'number'` check to determine the type of the input value for whether to use a `number` or `bigint`, and

[2019-07-16 15:11] rochdev commented on #104
How will metrics be sent to the server? This is important because some formats like JSON simply don't support Long. There are also certain libraries that expect a specific format from a specific library, like `msgpack-lite` requires `int64-buffer` and Protobuf has a similar requirement.

[2019-07-16 18:25] #80 closed

[2019-07-16 19:40] draffensperger commented on #104
The way the OpenCensus service's grpc-gateway works is that you can give a `value` field and a string for the number, something like `{value: {int64Value: "string of the 64-bit number"}}`. For OpenCensus Node it uses gRPC for the OpenCensus service exporter and for the Stackdriver exporter I think. For OpenCensus Web, I pretty much just used double values for all `number` on export, but would have

[2019-07-17 23:35] #86 closed

[2019-07-18 22:15] mayurkale22 opened #109 "Add API to get and init GlobalTracer"
This API provides a static global accessor for telemetry objects `Tracer` and `Meter` (this may be later).

Specs on [Obtaining a tracer](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tracing-api.md#obtaining-a-tracer).

OpenTelemetry-java also has a global OpenTelemetry instance that, among other things, holds a reference to a global tracer: https://githu

[2019-07-22 18:55] OlivierAlbertini opened #111 "Update links from README.md"
## Current Behaviour

- Readme (at https://github.com/open-telemetry/opentelemetry-js/blob/master/README.md) contains a broken anchor on the community page link. https://github.com/open-telemetry/community#nodejs-sdk.
- Readme (at https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-types) contains a deprecated useful link (For more about OpenTelemetry **Node**: ht

[2019-07-22 19:04] OlivierAlbertini commented on #96
I can handle opentelemetry-core
Let me know if you want a proposal for opentelemetry-scope-base, opentelemetry-context-async-hooks (We can always improve them)

[2019-07-22 19:36] mayurkale22 opened #114 "SDK: Add Plugin Loader"
Follow up of #110

Add a `PluginLoader` (or similar) class providing functionality to hook into module loading and apply plugins to enable tracing.

IMO this should get called in automatic tracer constructor to load all default/configured (ex: `http`, `grpc`, `express`, `mysql` etc) plugins.

[2019-07-22 19:49] #111 closed

[2019-07-22 20:58] OlivierAlbertini opened #116 "Integrate typedoc with docusaurus"
**Is your feature request related to a problem? Please describe.**
- There is no automated management of Typedoc
- I would be nice to have seamlessly integrate Marketing + Development + API documentation all under one domain.
- TypeDoc doesn't manage mutliple versions. [Docusaurus can do it](https://docusaurus.io/docs/en/versioning)

**Describe the solution you'd like**
Creation and integration of

[2019-07-22 21:30] OlivierAlbertini opened #117 "Integrate commitlint and husky"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm always frustrated when I see different standardization in the commit message history. (xD).
More seriously, I think it would be productive to have standardization of commit messages. Something that we could use for generating CHANGELOG

[2019-07-23 02:54] mayurkale22 opened #119 "Add NoRecording Span"
Originates from https://github.com/open-telemetry/opentelemetry-js/pull/99#issuecomment-513325536

[2019-07-23 03:00] mayurkale22 opened #120 "Implement console exporter"
Format and sends span data to the console.

[2019-07-23 03:05] mayurkale22 opened #121 "OT/OC backwards compatibility requirements"
Similar to https://github.com/open-telemetry/opentelemetry-java/issues/302

[2019-07-23 16:54] mayurkale22 opened #122 "Update README for opentelemetry-tracer package"
Similar to #96

[2019-07-23 17:24] mayurkale22 opened #123 "Tracer API: Replace unknown type with BinaryFormat"
https://github.com/open-telemetry/opentelemetry-js/blob/39ca4699eec563aef958ed04a585574d9140f7f3/packages/opentelemetry-types/src/trace/tracer.ts#L77-L79

[2019-07-23 17:25] mayurkale22 opened #124 "Tracer API: Replace unknown type with HttpTextFormat"
https://github.com/open-telemetry/opentelemetry-js/blob/39ca4699eec563aef958ed04a585574d9140f7f3/packages/opentelemetry-types/src/trace/tracer.ts#L89-L91

[2019-07-23 20:40] OlivierAlbertini commented on #120
Hi @mayurkale22
When you says:

Do you mean by using the `debug` package in order to do something like `NODE_DEBUG=opentelemetry-js:scope*`

Thanks.

[2019-07-23 20:51] mayurkale22 commented on #120
This would be simple trace exporter to export span data to the console. Something similar to OpenCensus: https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/exporters/console-exporter.ts#L36

Related: Here are list of standard exporters that SDK should support: https://github.com/open-telemetry/opentelemetry-specification/issues/6

[2019-07-23 23:15] OlivierAlbertini commented on #120
I started to add interfaces but:

After reading the spec, I think exporters should have `SpanData` instead of `Span`, WDYT ?
If yes, this PR should be resolved before https://github.com/open-telemetry/opentelemetry-js/pull/72

[2019-07-24 00:11] mayurkale22 commented on #120
https://github.com/open-telemetry/rfcs/pull/8 is under review, to remove/replace SpanData.

In OpenTelemetry Java, `Span` (mutable object) and  `SpanData` (immutable object, used to report out-of-band completed spans) are converted to Span proto before sending it to exporter for publishing.

Is on hold temporarily, will take appropriate action based on rfcs conclusion.

I would suggest to hold on

[2019-07-24 15:54] #123 closed

[2019-07-24 15:54] #124 closed

[2019-07-24 16:21] vmarchaud opened #127 "Inspect possible optimization for performance"
- [`Object.setProperty` in async hooks scope](https://github.com/vmarchaud/opentelemetry-js/blob/asynchooks-scope-manager/packages/opentelemetry-scope-async-hooks/src/AsyncHooksScopeManager.ts#L81)

[2019-07-24 17:06] mayurkale22 commented on #119
We have decided to go with solution 1: Use three different types of spans.

**NoopSpan** - Singleton, all the operations are no-op. (low allocation)
**NoRecordingSpan** - all the operations are no-op except context propagation.
**RecordingSpan** - all real operations (context propagation and recording).

Action items:
1. Make current [NoopSpan](https://github.com/open-telemetry/opentelemetry-js/bl

[2019-07-24 17:37] mayurkale22 opened #129 "Rename tracer to node-tracer"
Rename `opentelemetry-tracer` package to `opentelemetry-node-tracer`. This is a node specific tracer and it contains three things that should be platform specific: 1. Utilities (platform) 2. Scope (AsyncHooksManager) 3. Plugins (Plugin Loader).

https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-tracer

This is based on today's(07/24) SIG discussion.

[2019-07-24 20:08] #129 closed

[2019-07-25 03:01] mayurkale22 opened #132 "PluginLoader: Check if version and supportedVersions are satisfied"
Originates from https://github.com/open-telemetry/opentelemetry-js/pull/126#discussion_r307077202

Add a function to check whether the given version of the module is supported by the PluginLoader.

[2019-07-25 16:36] #117 closed

[2019-07-25 19:24] mayurkale22 opened #133 "Add karma tests for basic-tracer"
`basic-tracer` module is intended for use both on the server and in the browser. So it makes sense to configure Karma tool to test code/module in real (multiple) browsers.

Reference : https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-core/package.json#L14

[2019-07-25 22:25] mayurkale22 commented on #120
@OlivierAlbertini Here is the spec for the exporter https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-exporter.md.

[2019-07-26 10:46] kaushikchaubal commented on #122
Hi @mayurkale22 , I am happy to pick this up but not sure what exactly needs to be updated in the README.

I saw the two readme.md files in the `opentelemetry-basic-tracer` and `opentelemetry-node-tracer` packages. They have a TODO to demonstrate API. Is that what is expected to be updated?

I am keen to start contributing to this community so any help with this will be appreciated.

[2019-07-26 12:28] kaushikchaubal commented on #132
I am assuming this can't be actioned because the PR (https://github.com/open-telemetry/opentelemetry-js/pull/126/) is not merged to master yet

[2019-07-26 16:54] mayurkale22 opened #137 "Create exported const of NoopSpan instance"
This is required in order to achieve low allocation for no-op span type.

https://github.com/open-telemetry/opentelemetry-js/blob/ca9617853cb706663e4c8beea7be8125fff761aa/packages/opentelemetry-core/src/trace/NoopTracer.ts#L29

And mentioned in https://github.com/open-telemetry/opentelemetry-js/pull/99#discussion_r302964449

[2019-07-26 17:26] mayurkale22 opened #138 "Span: set spanId in the constructor"
Originates from https://github.com/open-telemetry/opentelemetry-js/pull/102/files#r307475774

Could we provide the option of setting the `spanId` in the constructor?

**web tracing use case:**  the server sends back the parent span ID for the server side render of the initial load, and then the client needs to create a span after the fact for the client side part of the initial load, that will be

[2019-07-26 17:38] mayurkale22 commented on #132
Yes, you're right. I will update this issue when dependent PR gets merged.

[2019-07-26 17:46] mayurkale22 commented on #122
Actually, I have modified the tracer README.md files in #134 and #135. Demonstrate API section can be added later.

Meantime, feel free to look https://github.com/open-telemetry/opentelemetry-js/labels/up-for-grabs issues for contributions. Also, we have gitter channel https://gitter.im/open-telemetry/opentelemetry-node where we discuss few stuff. I would suggest joining channel to get involved in

[2019-07-26 21:42] bg451 commented on #138
This is an open question in the span data removal RFC. The use case for passing in a span ID seems pretty clear albeit feels very specific and I have some concern about exposing too much on the API surface.

 https://github.com/open-telemetry/rfcs/pull/8/files#diff-f62a07a10e742d00e2ef6471e1d80d13R33

[2019-07-27 00:01] draffensperger commented on #138
Thanks for the pointer. I commented there as well. Alternatively, we could make `spanId` be a mutable property on the `Span`.

I realize this is a specific case, but it's important to get web tracing to work well, so I'd like to make sure we have a story for it. I'd prefer not to use `SpanData` as that to me feels like extra complexity (and extra bytes of JS code).

[2019-07-29 19:22] mayurkale22 opened #143 "SDK: consider to add start method on Tracer with config param"
Originates from https://github.com/open-telemetry/opentelemetry-js/pull/118#discussion_r307941385

This method will help us to pass config params on to the tracer. Currently, the `BasicTracerConfig` is defined at the [constructor](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-basic-tracer/src/BasicTracer.ts#L46).

[2019-07-29 21:14] mayurkale22 opened #144 "use duration for Node because it provides higher precision as a number than an end time"
Originates from https://github.com/open-telemetry/opentelemetry-js/pull/102#discussion_r308262107

It is true that Node processes that have been running for > ~90 days will begin to get accuracy slightly less than nanosecond accuracy for performance.now timestamps, but accuracy of 10 nanos still applies for performance.now timestamps even for processes that have been running for 2 years (try runni

[2019-07-29 23:19] #137 closed

[2019-07-30 17:16] vmarchaud commented on #46
I think this issue can be closed since both implementation have been merged

[2019-07-30 17:20] mayurkale22 commented on #46
Sure, thanks @vmarchaud for the PRs to close this.

[2019-07-30 17:20] #46 closed

[2019-07-30 17:22] mayurkale22 commented on #122
Closed via #134, I will open another issue to add an example.

[2019-07-30 17:22] #122 closed

[2019-07-30 17:23] mayurkale22 commented on #90
Closed via #131, #99 and #102.

[2019-07-30 17:23] #90 closed

[2019-07-30 19:41] mayurkale22 commented on #91
Closed via #107 and #140.

[2019-07-30 19:41] #91 closed

[2019-07-31 20:53] mayurkale22 opened #151 "sdk: move traceId generation in Tracer instead of Span"
As per SIG meeting, the `Tracer` should be responsible for creating the `traceId` instead of `Span`. `traceId` is required beforehand to make the sampling decision, especially when `SpanContext` coming from the wire is `null`.

https://github.com/open-telemetry/opentelemetry-js/blob/081469fec2b2522a79b64ec2c923f357f1ff377b/packages/opentelemetry-basic-tracer/src/Span.ts#L64
Move above logic in `Tr

[2019-07-31 21:00] mayurkale22 opened #152 "Consider to move BasePlugin out of core package"
Originates from https://github.com/open-telemetry/opentelemetry-js/pull/110#discussion_r307398780.

`BasePlugin` is a Node platform specific concept wherein `opentelemetry-core` is intended for use both on the server and in the browser.

In SIG meeting(7/31), we have decided to keep `BasePlugin` in the core package for now, but in the future will consider moving it out of the core package if requi

[2019-08-01 00:05] draffensperger commented on #152
I'm not totally clear on how `BasePlugin` will be used for web implementations and whether it will fit in exactly, but we can figure that out later on!

[2019-08-02 14:46] OlivierAlbertini commented on #120
@mayurkale22 sorry for the delay...

One thing that I notice is that I don't have access to the `parent` property of the `Span`
So without this I don't know how I can display spans with a hierarchy (e.g RootSpan > ChildSpan).

Perhaps it's not needed at this time and I just display all spans passed ?

Thanks in advance for your feedback.

[2019-08-02 14:49] danielkhan opened #156 "Supporting vendor specific metadata on Span"
As this topic keeps re-emerging, I'd like to kick-off a discussion about providing a formal way to provide vendor-specific metadata on spans.

I am advocating for a formal way / a dedicated property because it would make sure that a span is still well defined and typed, even if vendors want to use it as a container for some proprietary use cases.

As far as I understand it, the use case is that
_A

[2019-08-02 17:40] mayurkale22 opened #157 "Add HTTP plugin"
Add `opentelemetry-plugin-http` to allow the user to automatically collect trace data. The package should be used by both server and client. This should be based on `BasePlugin` interface: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-core/src/trace/instrumentation/BasePlugin.ts#L20

OpenCensus reference implementation: https://github.com/census-instrumentat

[2019-08-02 17:42] mayurkale22 opened #158 "Add gRPC plugin"
Add `opentelemetry-plugin-grpc` to allow the user to automatically collect trace data. This should be based on `BasePlugin` interface: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-core/src/trace/instrumentation/BasePlugin.ts#L20

OpenCensus reference implementation : https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-i

[2019-08-02 18:04] mayurkale22 commented on #96
Closed via #134, #148 #122

[2019-08-02 18:04] #96 closed

[2019-08-02 18:05] mayurkale22 commented on #109
Closed via #118

[2019-08-02 18:05] #109 closed

[2019-08-03 17:33] OlivierAlbertini commented on #120
Should rebase once https://github.com/open-telemetry/opentelemetry-js/pull/149 is merged

[2019-08-03 19:22] OlivierAlbertini commented on #157
This PR https://github.com/open-telemetry/opentelemetry-js/pull/146 should be merged before.
And Tracer (from node-tracer) should expose the new feature.

[2019-08-03 20:17] OlivierAlbertini opened #159 "Add plugin-http and plugin-grpc packages"
Similar to #96

In progress : #157 #158

[2019-08-04 03:53] #159 closed

[2019-08-04 11:18] vmarchaud commented on #157
@OlivierAlbertini I fail to see why #146 need to be merged, it only add internal stuff to the ah propagation which will not be exposed anyway

[2019-08-04 12:04] OlivierAlbertini commented on #157
Hello @vmarchaud

For HTTP plugin, we need to wrap request and response object for event emitters. I though that this PR added the propagation for event emitters.

[2019-08-04 12:18] vmarchaud commented on #157
I was going to explain the bind method but you edited your comment ^^
Also note that the binding of event emitters for req/res is mostly done to propagate the scope for future spans than the actual patching

[2019-08-05 16:26] rochdev commented on #156
While correct, I feel the statement is incomplete. The requirement also includes things like propagation, and sometimes might not even be related at all to the exporter. The idea is that vendors should be able to attach arbitrary data to the span at any point, and alter or recover it at any point, regardless of the current state of the span lifecycle. This should be implemented in a way that won't

[2019-08-05 17:57] #50 closed

[2019-08-05 18:05] mayurkale22 opened #162 "Tracer: Increase feature coverage"
<img width="691" alt="Screen Shot 2019-08-05 at 11 04 48 AM" src="https://user-images.githubusercontent.com/6525361/62485186-e05e3000-b770-11e9-8613-a4023acefd08.png">

[2019-08-05 18:06] mayurkale22 opened #163 "ScopeManager: Increase feature coverage"
<img width="780" alt="Screen Shot 2019-08-05 at 11 05 59 AM" src="https://user-images.githubusercontent.com/6525361/62485252-11d6fb80-b771-11e9-90d4-579070431241.png">

[2019-08-05 22:28] #114 closed

[2019-08-05 22:32] mayurkale22 commented on #132
@kaushikchaubal FYI, #126 is merged now. Feel free to work on this issue.

[2019-08-06 05:32] danielkhan commented on #156
@rochdev, would it be possible for you to sketch out an API surface that would fulfill that?

[2019-08-06 12:15] vmarchaud commented on #156
I feel having some kind of `Interceptor` API on the different lifecycle's event of the span would allow for this behavior.
First list of event that comes to my mind:
- create
- end
- serialized (for propagation)
- deserialized (for propagation)
- export

[2019-08-06 12:41] OlivierAlbertini opened #165 "Set explicit rules about naming convention"
**Is your feature request related to a problem? Please describe.**
PR review should not need to check naming convention as it should be caught by CI.

Here an existing package: https://www.npmjs.com/package/tslint-consistent-codestyle#naming-convention

I will check if newer tslint version does already this...

[code]

**This is an example. Don't hesitate to add your requirements by adding a comme

[2019-08-06 15:32] OlivierAlbertini opened #166 "[http-plugin] Include trace ID in response headers for incoming requests"
**Is your feature request related to a problem? Please describe.**
- Having trace id in headers can help to debug slow requests we see in
the browser by looking up the trace ID found in response headers.
- It can help the propagation

**Describe the solution you'd like**
Inject trace id in the response header and only for incoming requests.

Should we make this behaviour optional and disabled by d

[2019-08-07 10:11] danielkhan commented on #156
Hooks were discussed on one our meeting on 2019-07-17 and I agree that this would be great to have.
I am not sure if it would solve the metadata topic. I would more think of a 'vendor' property that can contain anything a vendor wants to pass along. Ideally indexed by some namespace like a vendor prefix.

[2019-08-07 10:34] danielkhan commented on #166
I think this would be something that needs to be discussed on the specification level.

Reasons
- The browser can serve any backend which may be Java, Python, Go, so a Node.js only solution is not viable.
- There are plans to establish a standard on w3c Trace Context that will cover response headers.
- There are some security considerations around it because it means that the trace id might uninte

[2019-08-07 10:36] danielkhan commented on #165
@OlivierAlbertini - SGTM. Would you be open to take this one and provide a PR?

[2019-08-07 13:09] OlivierAlbertini commented on #165
Sure

[2019-08-07 13:15] OlivierAlbertini commented on #166
@danielkhan Thanks for your response. Should we move this issue to another repo ?

[2019-08-07 13:33] vmarchaud commented on #166
https://github.com/open-telemetry/opentelemetry-specification would be the correct place

[2019-08-07 14:50] OlivierAlbertini commented on #166
Thanks @vmarchaud

I close this issue and we could reopen a new one after resolving this one https://github.com/open-telemetry/opentelemetry-specification/issues/206

[2019-08-07 14:50] #166 closed

[2019-08-07 15:18] rochdev commented on #162
I don't think this is the best choice of words. The goal is not to increase code coverage, but to cover all functionalities. If that on its own doesn't cover everything then the code probably needs a refactor.

In short, code coverage is not a goal, but a side effect of having tests for all functionalities.

[2019-08-07 15:19] rochdev commented on #162
FWIW I'm mentioning this because I've seen this kind of "increase code coverage" work result in tests that are written just to go through the code path without actually testing anything.

[2019-08-07 15:37] #119 closed

[2019-08-07 15:47] rochdev commented on #156
I agree these are 2 different topics. Basically I would expect the hooks to interact with the metadata, but it's unrelated to having an explicit API for the metadata.

Maybe it could be as simple as some kind of `setVendorMetadata(name: Symbol, meta: unknown)` method. By using a `Symbol` we would ensure there is no conflict.

[2019-08-07 15:52] #151 closed

[2019-08-07 19:53] mayurkale22 opened #173 "SDK: Implement Jaeger exporter"
Per the SIG: we need at least one exporter to do end-to-end testing and to see how all the pieces fit together.

This should implement the `SpanExporter` https://github.com/open-telemetry/opentelemetry-js/pull/149/files#diff-7fa774bb736a6ccd712567c2f91e2a02R26 and use `ReadableSpan` https://github.com/open-telemetry/opentelemetry-js/pull/150 to export the data.

Reference implementation : https://

[2019-08-07 19:54] mayurkale22 opened #174 "SDK: Implement Zipkin exporter"
Per the SIG: we need at least one exporter to do end-to-end testing and to see how all the pieces fit together.

This should implement the `SpanExporter` https://github.com/open-telemetry/opentelemetry-js/pull/149/files#diff-7fa774bb736a6ccd712567c2f91e2a02R26 and use `ReadableSpan` https://github.com/open-telemetry/opentelemetry-js/pull/150 to export the data.

Reference implementation : https://

[2019-08-07 19:56] mayurkale22 commented on #174
@hekike Feel free to assign to yourself, if you're interested.

[2019-08-07 21:31] draffensperger commented on #166
Something to note as well is that the browser can currently only read the `Server-Timing` response header in JS code, and that only in modern browsers.

What we did in OpenCensus Web to pass the trace ID back to the browser client was to have the server set a `window.traceparent` variable in the rendered template.

I would love to have optional trace response headers in the spec and have a proposa

[2019-08-08 19:04] bg451 opened #181 "util: Add OpenTracing to OpenTelemetry shim"
In order for OpenTracing users to migrate to OpenTelemetry, we should provide a shim that allows existing OpenTracing instrumentation to report directly to OpenTelemetry.

A lot of OpenTracing initialization looks something like this
[code]

Ideally all a user has to do something like
[code]

[2019-08-08 20:25] danielkhan commented on #156
That sounds good to me @rochdev. I will see if other languages would want that as well.

[2019-08-08 20:42] #163 closed

[2019-08-09 00:09] OlivierAlbertini opened #185 "[http-plugin] Normalize url for http.route attribute and operation name"
There is an interesting details in the spec:

https://github.com/open-telemetry/opentelemetry-specification/blob/600149f531ad62efb3a3dc96007781c3604ebdec/specification/data-semantic-conventions.md#http-client

We could integrate something like https://www.npmjs.com/package/url-value-parser
This library normalises urls by detecting uuid / int.

- The detector engine could be overridable and we coul

[2019-08-09 12:00] danielkhan commented on #185
You are right but I'd like to add that dedicated instrumentation for frameworks like express should override this assumption with the route that matched.

[2019-08-09 13:05] draffensperger commented on #185
Also, given that the `url-value-parser` could get some aspects of the URL wrong, my sense is that it should be an opt-in feature via a config flag (or maybe opt-out if people feel strongly enough).

[2019-08-09 14:23] vmarchaud commented on #185
I would think instrumenting different frameworks would be the way to go, but is it possible to change the name of a parent span from a child one ?

[2019-08-09 14:43] danielkhan commented on #185
Yes, you are right and looking at OC, I don't see dedicated express instrumentation and it simply uses a `path` which is

[code]

If we want to ensure that someone that switches from OC to Otel gets the same aggregation as before (and this should be a goal), we should use the same behavior here.

[2019-08-09 14:47] danielkhan commented on #185
Yes - that came to my mind as well though - in principle - the default behavior of it looks solid.
I was also thinking of cases where a numeric ID might identify a specific route - because why not.

I agree with the risk of adding this. Also in conjunction with backward-compatibility. I would not be fond of adding such a configuration parameter because if we don't know the implications, the user w

[2019-08-09 15:00] rochdev commented on #185
This can only be done reliably in the backend with pattern matching. I don't think we should try to handle this at the tracer level. I would keep `http.route` exclusive to actual routers. If the user wants a different behavior, they can always set the attribute manually.

[2019-08-09 19:07] OlivierAlbertini commented on #185
but this not solve the operation name issue e.g:

![Capture d’écran, le 2019-08-09 à 15 03 41](https://user-images.githubusercontent.com/3801683/62802945-1d029200-bab7-11e9-810e-5513b3773964.png)

Could we add a function in config in order to set the operation name like we do for the attributes ?

[2019-08-10 21:38] hekike opened #190 "HTTP Client for Exporters"
Using the raw Node Core HTTP client comes with some functionality questions.
For example, do we need to consider implementing the followings:

- Following redirect
- Configurable timeout
- Retry logic
- Authentication / Configurable HTTP headers

Do we want to use a third-party npm library and maybe expose it's configuration to the user or should we go with the built-in `http.request` and implemen

[2019-08-11 00:45] hekike opened #191 "Span Event should have a timestamp"
Events should have a `timestamp`:
https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-types/src/trace/Event.ts

and `span.addEvent(..)` should set it:
https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-basic-tracer/src/Span.ts#L80

Related spec:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specificati

[2019-08-11 17:35] OlivierAlbertini opened #193 "Plugins should get logger from PluginLoader"
Plugins should get logger from pluginLoader.
It's needed for http plugin.
See PR https://github.com/open-telemetry/opentelemetry-js/pull/161

[2019-08-11 19:01] hekike commented on #174
@mayurkale22 I think don't have a perm to assign.
PR: https://github.com/open-telemetry/opentelemetry-js/pull/192

[2019-08-12 18:05] mayurkale22 opened #194 "API/SDK usage based on current implementation"
I tried to put one simple example together to get the initial feeling of current APIs and BasicTracer SDK.

[code]

Some key observations:
1. Personally, I don't like passing compulsory param (`NoopScopeManager`) See line # 7.
1. If I use `NodeTracer`, I should not have to manually pass the parent span it should fetch it internally from `getCurrentSpan()` - from the current context. See line # 16-

[2019-08-12 20:39] mayurkale22 commented on #194
/cc @bg451 @danielkhan @hekike @OlivierAlbertini @rochdev @draffensperger @vmarchaud @markwolff

[2019-08-12 20:57] vmarchaud commented on #194
1. I thought the BasicTracer would create a NoopScopeManager by default if none is given in options.
3/4. Would be needed to enable/disable/load specific plugins for the NodeTracer, so yeah the PR is needed

[2019-08-12 21:00] mayurkale22 commented on #191
We already have an interface called `TimedEvent`, which represents a timed event. https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-types/src/trace/TimedEvent.ts#L23

[2019-08-12 22:47] mayurkale22 commented on #194
Per SIG and https://github.com/open-telemetry/opentelemetry-js/pull/99/commits/41112ddc690385fc6fff7cb4ddeab30557b1fd6e, scopeManager is a required option. I think explicitly mentioning scopeManager eliminates the require for log, throw or swallow stuff. But personally, I would prefer optional param.

[2019-08-12 23:05] draffensperger commented on #194
What if we made it an optional param with a default value of `NoopScopeManager`?

I know we discussed the global tracer stuff at length, but I personally would prefer something like this:
[code]

In that case the basic tracer would be given a definite value of scope manager by default, but it could be overridden in the call to `start` and calling `initGlobalTracer` isn't needed.

That said, I'm op

[2019-08-12 23:11] draffensperger commented on #190
Another question related to this: do we care about the Zipkin exporter working for the web? Typically I would think the exporter story for the web should just be to export to the OpenTelemetry agent and then have it handle actual exporters, but I figured I'd ask.

[2019-08-12 23:14] mayurkale22 commented on #190
This makes sense to me and I'd prefer this route.

[2019-08-12 23:41] draffensperger opened #196 "Make Span implement ReadableSpan via getters instead of regular properties"
Currently the ReadableSpan class has public properties like `links`, `attributes`, etc. That means that a user who is writing code in JavaScript and has not read the documentation carefully and is inspecting a `Span` object in the console would see a public `attributes` field and might assume they could modify them directly since they aren't underscore prefixed.

An idea I had for how to address t

[2019-08-13 13:01] rochdev commented on #185
The integration can do it directly, I don't think it should require a custom function to be configured. If the operation name should be the route, then let's just always set the operation name to the route, unless the user has already provided a different operation name.

[2019-08-13 13:36] rochdev commented on #196
I think the same issue exists if the user looks at the code and not at a console log entry. Maybe one option would be to revert to an actual `SpanData` class, but have a `_span` property on it that holds the original span? This is of course more costly since a new object needs to be allocated, and would also duplicate data, but it would make it clear that the span should not be accessed.

In gener

[2019-08-13 13:40] rochdev commented on #191
I think the idea is to merge both. The spec doesn't mention having 2 classes, and returning an `Event` from `addEvent` with a timestamp on it makes a lot more sense since it cannot happen that an event didn't occur at a specific point in time.

[2019-08-13 16:45] bg451 commented on #194
Looking at this I'd definitely like to add some global static methods so getTracer() won't have to be used so often.

I'll do a similar exercise with a toy http server and share the code here.

[2019-08-13 16:52] markwolff commented on #158
@OlivierAlbertini are you working this? Else I can claim it. @mayurkale22

[2019-08-13 16:56] mayurkale22 commented on #158
Hey @markwolff welcome back! AFAIK no one is working on this, @OlivierAlbertini Could you please confirm the same?

[2019-08-13 17:28] vmarchaud commented on #158
From his message on the gitter is on holiday until friday but i'm pretty sure he's only worked on the http plugin

[2019-08-13 17:32] mayurkale22 opened #197 "SDK: Implement console logger"
Consider to add `ConsoleLogger` instead of using `NoopLogger` everywhere. The `ConsoleLogger` should implement `Logger` [interface](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-types/src/common/Logger.ts#L20). The wrapper would not do much except add the concept of a log level to `console`.

Originates from https://github.com/open-telemetry/opentelemetry-js

[2019-08-13 19:17] mayurkale22 commented on #138
You can pass `SpanContext` while creating the `Span` ->  https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-basic-tracer/src/Span.ts#L46, which contains `spanId` and `traceId`. Does this address your concern?

[2019-08-13 22:24] danielkhan commented on #194
@bg451 I'm interested to see your suggested approach but wouldn't a `const tracer = opentelemetry.getTracer()` solve the problem anyway?

[2019-08-13 22:39] danielkhan commented on #194
@mayurkale22
I'm looking at it blindly from a usability perspective:
In # 32 you call `.start()` - where is the `.start()` for everything that came before the `.stop()` in # 25?

I kind of like the approach of explicitly having to define a ScopeManager as it removes ambiguity.
If I copy/paste the code from the documentation, I instantly know what it is doing. Otherwise, I would have to look up the

[2019-08-13 22:46] danielkhan commented on #191
@rochdev `timedEvent` comes from here: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#gettimedevents

But looking at this https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-events it looks as if the time is also specified on a regular event.

Looking at this, I find the sentence

rather

[2019-08-13 23:56] draffensperger commented on #196
To clarify, I'm not suggesting this idea of getters / setters as something we should definitely do, but it was an idea that came to me that I wanted to share.

If people feel comfortable with the current approach for ReadableSpan, that's fine with me, as it seems pretty simple and yet still conforms to the spec.

[2019-08-13 23:59] draffensperger commented on #138
Yes, that would, but if I recall correctly the specs wanted to encourage people to create spans via the tracer, which currently always generates a random span ID (https://github.com/open-telemetry/opentelemetry-js/blob/a27536e5bb6ae67e3a78ffb1ef9671ebcdffcd8d/packages/opentelemetry-basic-tracer/src/BasicTracer.ts#L65).

I'll update the title of this to reflect that.

[2019-08-14 10:55] danielkhan opened #199 "Load plugins when Node.js tracer is started"
Known modules like for HTTP or GRPC are wrapped by hooking into the module loader and we need to do that when the tracer is ready to use.
`tracer.start()` would be the ideal location to add this functionality.

[2019-08-14 11:27] danielkhan opened #200 "util: Add OpenCensus to OpenTelemetry shim"
To allow OpenCensus users to migrate to OpenTelemetry we need a shim that exposes an OpenCensus API surface.

In userland OC is used like this:
[code]

The shim could be applied like this:
[code]

[2019-08-14 13:14] vmarchaud commented on #199
PR: https://github.com/open-telemetry/opentelemetry-js/pull/168

[2019-08-14 17:02] mayurkale22 commented on #199
I think good to have this issue, PR is still under review/discussion.

[2019-08-14 22:25] #191 closed

[2019-08-15 00:21] mayurkale22 commented on #6
As mentioned in the SIG meeting, these are the new package names I would like to advocate.

1. opentelemetry/basic-tracer -> **opentelemetry-basic-sdk**
By default basic-sdk contains support for all the telemetry signals i.e. tracing, metrics, logs etc. It is possible to have separate packages for each telemetry signal, but currently not covered under default SDKs(basic-sdk and node-sdk) implement

[2019-08-15 16:25] draffensperger commented on #6
What about having `opentelemetry-basic-sdk` just re-export the exported symbols from `opentelemetry/basic-tracer` (and perhaps in the future `opentelemetry/basic-metrics` and `opentelemetry/basic-logs`, etc.)?

That way if someone wants to use e.g. just traces or just metrics as a power user they still can

[2019-08-15 17:42] mayurkale22 opened #204 "Add b3 propagator"
Add B3 propagator that converts `SpanContext` to/from "**x-b3-***" Headers. This should implement the `HttpTextFormat` interface.

See: https://github.com/openzipkin/b3-propagation

OpenCensus reference implementation: https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-propagation-b3

[2019-08-16 11:58] vmarchaud commented on #9
I believe we've implemented that with the different `ScopeManager` available so it's safe to close this one

[2019-08-16 12:00] vmarchaud commented on #27
I believe this one has been fixed with https://github.com/open-telemetry/opentelemetry-js/pull/34

[2019-08-16 16:40] mayurkale22 commented on #9
Agreed, closed via #103

[2019-08-16 16:40] #9 closed

[2019-08-16 16:42] mayurkale22 commented on #27
Closed via #34

[2019-08-16 16:42] #27 closed

[2019-08-16 18:28] OlivierAlbertini commented on #158
I confirm

[2019-08-16 21:28] mayurkale22 commented on #200
As discussed in the SIG meeting, we planned to update OpenCensus codebase directly, will do API redirect and ship a final version of the OpenCensus as a thin wrapper over OpenTelemetry.

[2019-08-16 21:28] #200 closed

[2019-08-16 21:31] #7 closed

[2019-08-16 21:33] mayurkale22 commented on #33
Closing this as per https://github.com/open-telemetry/community#license, feel free to open again if you disagree.

[2019-08-16 21:33] #33 closed

[2019-08-17 23:01] bkspace commented on #162
Will pick this one up as a small first one :)

[2019-08-19 13:07] rochdev commented on #191
If `addEvents` adds an `Event` with a timestamp, and `getTimedEvents` returns these `Event` types, then it matches exactly the specification.

[2019-08-19 19:39] OlivierAlbertini opened #209 "[http-plugin] Refactor tests once exporter available"
Now, http plugin tests use several classes for auditing spans. Once this PR is merged https://github.com/open-telemetry/opentelemetry-js/pull/149 we should remove `SpanAudit`, `SpanAuditProcessor` and `ProxyTracer` in order to register a fake exporter.

This should reduce/simplify code.

[2019-08-20 16:37] #162 closed

[2019-08-21 15:56] OlivierAlbertini commented on #194
I think both approach is good and I prefer to make it optional (in the long term run).
But I think @danielkhan is right. People will be less frustrated to use the SDK at the beginning.

[2019-08-21 16:11] OlivierAlbertini opened #210 "Plugin config optional vs required"
Hello,

I would like your feedback on this topic, because I don't have a strong opinion on it. I'm referring to https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-types/src/trace/instrumentation/Plugin.ts#L32
comparing to [Opencensus](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/trace/instrumentation/base-plug

[2019-08-21 18:08] OlivierAlbertini opened #211 "Make logger properties public instead of private in BasicTracer class"
Reference: https://github.com/open-telemetry/opentelemetry-js/blob/8ea2016bf40024f0cf492d9f7771a3a92009db5f/packages/opentelemetry-basic-tracer/src/BasicTracer.ts#L47

Related to this issue: https://github.com/open-telemetry/opentelemetry-js/issues/193

Logger is `private` in `BasicTracer` class and if we make it public we could avoid this issue above. Otherwise, we have to pass logger everywhere

[2019-08-21 18:12] OlivierAlbertini commented on #43
Any news on this issue ? I'm waiting to merge this one for doing https://github.com/open-telemetry/opentelemetry-js/issues/165

[2019-08-21 18:59] draffensperger commented on #211
Do we expect that end users will want to access it? Or at least are we OK if they do?

If so, I'm fine with making it public.

[2019-08-22 01:30] OlivierAlbertini commented on #185
Ok. I close this issue since people can do it during the integration.

[2019-08-22 01:30] #185 closed

[2019-08-22 21:01] mayurkale22 opened #214 "Proposal: Plugin configuration options"
This is my initial proposal to kick of the discussion on plugin configurations.

Currently, `PluginConfig` accepts value with only bolean flag. If `true`, plugin is loaded otherwise skip it. `PluginOptions` designed to pass configuration options to each plugins. All fields are optional. We can have some defaultConfig with default configuration values.

_TODO Pointer:_ https://github.com/open-telem

[2019-08-22 21:13] OlivierAlbertini commented on #214
I would add the option to specify the package for each plugin in order to provide custom if needed. It will reduce possible frustrations.

[2019-08-22 21:40] mayurkale22 commented on #214
@OlivierAlbertini Hmm, I agree. What do you think about below configs? Instead of having the same options on each plugin I tried to take it out from the plugins which means (for example) `ignoreMethods` config would be applicable for all configured/enabled plugins. Users won't have options to customize the options based on the plugin.

[code]

[2019-08-22 22:11] OlivierAlbertini commented on #214
I prefer your previous version:
[code]
But I would add:
[code]
and we could provide an interface that specify all accepted plugins:
https://www.typescriptlang.org/play/index.html#code/KYDwDg9gTgLgBASwHY2FAZgQwMbDgBQBsBXAc2QGEIl0FSBnOAbwCg44ALGGMALgMywEmQgB4AEtzBEylarVIA+ANxtOU+v3yCYwsZJ4zySKjToqWLAL4tQkWIhRosuAiWOmFzNcCSYARoTA-P4QEEGYSKrsYDgA1pikwXD0MFDIpKo2tuDQ8MioGDh4BtLucmakcKCoSAAmjEYVXt7sAPQA

[2019-08-22 22:17] markwolff opened #216 "[BasePlugin]: implement internalFilesExports"
**Is your feature request related to a problem? Please describe.**
gRPC plugin requires patching of a function which is an internal file export. OC BasePlugin implementation included this, but this functionality does not currently exist in OT.

OC impl
https://github.com/census-instrumentation/opencensus-node/blob/ef5712fd3b279b0e80494322231232047b06f9e6/packages/opencensus-core/src/trace/instrume

[2019-08-22 22:34] mayurkale22 commented on #214
Second option looks more elegant to me, but it does not offer plugin level config/option. Do we expect users to use config based on plugin like enhancedDatabaseReporting `true` for mongodb and `false` for redis?

[2019-08-22 22:53] OlivierAlbertini commented on #214
From a user perspective, I don't want to read all PluginConfig fields to see if it's useful or not for grpc plugin (particularly if I use only grpc plugin).

What do you pass to the plugin itself.. the hole PluginConfig ?
Also we can't disable a specific plugin.

[2019-08-23 17:33] mayurkale22 commented on #214
In case of OPTION 1: specific plugin config.
In case of OPTION 2: the whole PluginConfig.

In case of OPTION 1: `grpc:  { enabled: false }` would work.
In case of OPTION 2: We have to exclude the plugin from plugins Object. i.e. If I need only http and mongodb, I would do something like this:
[code]

[2019-08-23 19:42] bg451 opened #219 "BasicTracer does not set links or attributes from SpanOptions"
I've been writing tests for the opentracing->opentelemetry shim and have been using the basic tracer packaged for a concrete implementation to test again. I've found that when passing links or attributes through SpanOptions, the span is started without either being applied.

### What version of OpenTelemetry are you using?
Branch is at `b208b2b`

### What version of Node are you using?
v10.16.0

#

[2019-08-23 21:34] mayurkale22 commented on #219
`BasicTracerConfig` has `defaultAttributes` property, which will be applied to every span created by the Tracer (Useful to add infrastructure and environment information to your spans). For each `Span`, we have a `setAttribute` method to add other (or span related) attributes. I am not sure if we still need `attributes` on `SpanOptions`. I'd propose to remove the `attributes` from `SpanOptions`.
h

[2019-08-23 21:42] mayurkale22 opened #220 "Remove BinaryFormat and HttpTextFormat from Tracer"
Originates from specs: https://github.com/open-telemetry/opentelemetry-specification/pull/214 and https://github.com/open-telemetry/opentelemetry-specification/issues/112

[2019-08-23 21:45] bogdandrutu commented on #220
That is not yet approved :)

[2019-08-23 21:52] mayurkale22 commented on #219
Or is it unavoidable dependency for OpenTelemetry shim?

[2019-08-26 19:30] Flarna opened #222 "Ensure exceptions are properly handled and propagated"
follow-up on https://github.com/open-telemetry/opentelemetry-js/pull/161#discussion_r317711422

**Is your feature request related to a problem? Please describe.**
Ensure proper exception handling:
* Exceptions thrown by wrapped functions should not result in bad state in OT.
* OT code should ensure that no exceptions triggered by it's own code escape.

**Describe the solution you'd like**
Wrapped

[2019-08-27 07:34] vmarchaud commented on #222
On the AsyncHooksScopeManager (default in Node) side, exceptions are already handled (see [there](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-scope-async-hooks/src/AsyncHooksScopeManager.ts#L63)). The NoopScopeManager doesn't do anything so it don't need to have try/catch blocks.

For me most of the "exceptions-prone" code is in the plugins, which should a

[2019-08-27 12:55] Flarna opened #224 "Avoid changing polymorphic structure during patching"
Followup on https://github.com/open-telemetry/opentelemetry-js/pull/161#discussion_r317842989

**Is your feature request related to a problem? Please describe.**
See discussion linked above. By adding a method on the prototype of the derived class which exists already on base class the polymorphic structure changes which is a side effect monitoring should avoid.

**Describe the solution you'd like

[2019-08-27 13:12] Flarna opened #225 "Avoid side effects by installing event listeners"
followup on https://github.com/open-telemetry/opentelemetry-js/pull/161#discussion_r317842380

**Is your feature request related to a problem? Please describe.**
Use of OT should not result in side effects to user application by installing event listeners which change behavior.

**Describe the solution you'd like**
Installed listeners should take care to restore/execute the default behavior, e.g.

[2019-08-27 17:29] OlivierAlbertini opened #226 "Unable to create multiple child spans with the same traceid for requests"
Hello,

Since #146 is merged, I try to add the following test:
[code]
The first iteration works but after we lose the getCurrentSpan() return null because delete method in Async scope class is called.

In order to reproduce, you can clone https://github.com/open-telemetry/opentelemetry-js/pull/161/files#diff-9b663d16d799f5f4830dbfb0c9d012f1R245 the related repo and paste the test (see above) for r

[2019-08-27 17:42] vmarchaud commented on #226
I will take care of that

[2019-08-28 12:37] Flarna commented on #222
This should cover exceptions from original call to avoid leaks/hanging spans in OT.
Whats missing is to ensure that plugin triggered exceptions never escape the plugin. Most likely there is not that much to do in such cases besides log something to ease fixing these condition.

[2019-08-28 12:54] Flarna commented on #222
Not sure if checking _everything_ at all places is really the best approach as it results in a lot noise in code. It means more or less to replace most type definitions from node with `unknown`.
An alternative would be to check at "known/risky" places but additional wrap OT parsing/processing code with `try/catch ()` blocks as safeguard.
I would also vote for some aligned approach across plugins a

[2019-08-30 17:18] #204 closed

[2019-08-30 22:28] #157 closed

[2019-09-04 22:55] mayurkale22 commented on #209
@OlivierAlbertini I'd like to get your reviews on #234, this should help you to get ride of `SpanAudit`, `SpanAuditProcessor` and `ProxyTracer` in modules.

[2019-09-05 16:34] bg451 commented on #51
During the SIG meeting on 9/4/19, we discussed releasing an alpha for the end of september. Since the metrics specification currently has some in flight RFCs, the API is bound to change anyway so it might be best to design against the latest RFCs, specifically [RFC 3](https://github.com/open-telemetry/oteps/blob/master/text/0003-measure-metric-type.md). I'll be closing #105 and creating a new PR w

[2019-09-05 16:52] vmarchaud opened #236 "node-tracer: review if config can be optional when creating it"
Currently all fields of the config are optional so we may allow later on for it to be optional too for the API to be simpler

[2019-09-05 17:54] OlivierAlbertini commented on #210
Another argument for making config mandatory https://github.com/open-telemetry/opentelemetry-js/pull/227/files#diff-58617f715d03c32994cc1932cee56146R50

[2019-09-05 20:43] #219 closed

[2019-09-07 00:27] #132 closed

[2019-09-09 16:53] mayurkale22 commented on #209
@OlivierAlbertini #234 is merged now, if you have the bandwidth feel free to take this one  :)

[2019-09-09 22:58] #173 closed

[2019-09-09 23:42] mayurkale22 opened #242 "Remove redundant posttest:lint script"
Remove redundant posttest:lint script  from the below modules. We already have a separate CircleCI job to do the [code style and linting check](https://github.com/open-telemetry/opentelemetry-js/blob/master/.circleci/config.yml#L55).

![Screen Shot 2019-09-09 at 4 39 51 PM](https://user-images.githubusercontent.com/6525361/64573532-7a8d3700-d320-11e9-8dc1-78409422ddf7.png)

[2019-09-10 05:23] mayurkale22 opened #243 "Exporter/Jaeger: use correct startTime and duration from ReadableSpan"
Code pointer:
https://github.com/open-telemetry/opentelemetry-js/blob/c020efe4c9ab29299dbb4f218687adbd8b82951a/packages/opentelemetry-exporter-jaeger/src/transform.ts#L83

The initial part of this is already being handled by #206, we need to rebase Jaeger Exporter based on that.

[2019-09-10 16:57] mayurkale22 opened #245 "examples: provide an example for HTTP plugin"
Provide a full example on how the OpenTelemetry JS library can be used to relate client and server spans and export them to Jaeger/Zipkin backend using OpenTelemetry Jaeger/Zipkin exporter.

This example could reside in top level `examples/` or `samples/` folder.

[2019-09-10 17:00] mayurkale22 commented on #245
Example reference: https://github.com/census-instrumentation/opencensus-node/tree/master/examples/http

[2019-09-10 17:02] mayurkale22 commented on #245
Depends on #199

[2019-09-10 20:55] #214 closed

[2019-09-10 21:22] mayurkale22 opened #248 "SDK: Add Prometheus metrics exporter"
Per the [Big Board](https://docs.google.com/spreadsheets/d/1FHt3uJgQWN-UWbgV4uMIPUr36JiJCfZ7ryQbHfurjKA/edit#gid=0): We need to have atleast one metrics exporter (**Prometheus**) for Alpha release.

Reference implementation : https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-exporter-prometheus

[2019-09-10 21:37] mayurkale22 opened #249 "Rename TraceOptions to TraceFlags to be w3c compatible"
Based on https://github.com/open-telemetry/opentelemetry-specification/pull/234

https://github.com/open-telemetry/opentelemetry-js/blob/8279133f645f56e0866c8c3f186f6e9fd89ce232/packages/opentelemetry-types/src/trace/trace_options.ts#L22

[2019-09-10 21:40] mayurkale22 commented on #120
This is unblocked now by #234, Let me know if you're still on this.

[2019-09-10 21:42] mayurkale22 opened #250 "examples: provide an example for gRPC plugin"
Same as #245 but blocked by #158.

Reference implementation: https://github.com/census-instrumentation/opencensus-node/tree/master/examples/grpc

[2019-09-10 21:50] mayurkale22 opened #251 "Feat: Enforce TraceParams Limits"
Continuation of #227. Limits should be enforced on each span in order to prevent an unbounded memory increase for long-running spans.

Active params limits (on number of `Link`s, `Attributes` and `Event`s) can be obtained through this method ->
https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-basic-tracer/src/BasicTracer.ts#L167-L169

Reference implementation i

[2019-09-11 15:39] danielkhan opened #253 "Add project status to readme"
**Is your feature request related to a problem? Please describe.**
In the spec SIG  meeting it was brought up that all sub projects should have a status on top of their readme that shows which components are ready / in progress.

**Describe the solution you'd like**
Add and maintain a project status section in README.md.
This should contain:
- APIs: Trace, Metrics, Baggage, Context Propagation
- E

[2019-09-11 16:58] #209 closed

[2019-09-11 19:14] mayurkale22 commented on #158
Closed via #215

[2019-09-11 19:14] #158 closed

[2019-09-11 20:02] mayurkale22 opened #254 "Add opentelemetry/exporter-prometheus package"
Part of #248

[2019-09-13 20:50] mayurkale22 commented on #250
@markwolff would you be willing to make a stub on this?

[2019-09-13 20:52] mayurkale22 commented on #47
@danielkhan Is this still valid issue?

[2019-09-13 21:40] mayurkale22 opened #261 "Add baseline benchmark suite"
Add baseline `benchmark` suite, which can be run with `npm run benchmarks`

- Benchmarks no-op implementation
- Benchmarks `BasicTracer` implementation
- Benchmarks `NodeTracer` implementation

[2019-09-13 22:20] #43 closed

[2019-09-16 16:17] bg451 opened #264 "Add noop metrics implementation"
With the [metrics API](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-types/src/metrics) in place, we need to add a noop implementation into the opentelemetry-core package. The implementation should have accompanying tests that ensure the noop implementation won't cause a crash, similar to the tracer's testing [here](https://github.com/open-telemetry/opentele

[2019-09-16 22:42] markwolff commented on #250
@mayurkale22 Sure I can take this

[2019-09-17 04:11] mayurkale22 commented on #121
Same as #181

[2019-09-17 04:11] #121 closed

[2019-09-17 15:32] OlivierAlbertini opened #274 "Avoid private properties in constructors"
from this comment : https://github.com/open-telemetry/opentelemetry-js/pull/262#discussion_r325150861

It's not be desirable to have arguments underscore prefixed
We should remove this from `TracerDelegate`.

[2019-09-17 16:20] bg451 opened #275 "Add binary format implementation for the OpenTracing shim"
The translation bit needs to be implemented in the shim for inject and extract.

https://github.com/open-telemetry/opentelemetry-js/pull/212/files#diff-9f2d2c0cae5f33d14b502a2e85407f4cR134

https://github.com/open-telemetry/opentelemetry-js/pull/212/files#diff-9f2d2c0cae5f33d14b502a2e85407f4cR153

[2019-09-17 16:56] #165 closed

[2019-09-17 17:52] bg451 opened #276 "Add tracer implementation for the browser"
The goal here is to create an initial pass at a package that contains a tracer implementation that works in the browser. This means creating a new package called opentelemetry-tracer-web which pulls in the basic tracer along with [any platform specific code](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-core/src/platform/browser), scripts to compile and mini

[2019-09-17 17:52] bg451 commented on #276
FYI @obecny is working on this, can't seem to add him as an assignee quite yet

[2019-09-17 17:55] draffensperger commented on #276
My understanding is that the basic tracer should have the small-scale platform specific code like calculating timestamps, etc. To the extent that it's currently Node-specific we should fix that and write Karma tests for it

Would you see `opentelemetry-tracer-web` as including any kind of automatic context propagation or collection of initial load spans? In OpenCensus Web we had separate packages

[2019-09-17 17:57] draffensperger commented on #274
cc/ @rochdev

[2019-09-17 20:46] #249 closed

[2019-09-17 21:04] #254 closed

[2019-09-17 21:55] mayurkale22 commented on #133
I think @draffensperger started working on this, but I can't add him as an Assignee.

[2019-09-17 23:12] obecny commented on #276
Ok I have added platform specific for Span for performance.now(). The `opentelemetry-tracer-web` will use BasicTracer. Just looking at NodeTracer my assumption now is that I need to add appropriate Scope Manager partially based on AsyncHooksScopeManager.

[2019-09-17 23:17] draffensperger commented on #133
Yes, I've started on this. I ran into a blocker around https://github.com/open-telemetry/opentelemetry-js/pull/206.

[2019-09-17 23:27] draffensperger commented on #276
I actually think the code for `performance.now` should be handled within the BasicTracer and even Core packages themselves. You can follow the same pattern we used for generating span IDs. See:

https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-core/src/platform/browser/id.ts

That gets swapped in when using webpack by this line: https://github.com/open-telemetr

[2019-09-17 23:33] draffensperger commented on #276
I think the way we would get an early win with this approach is to make a browser-specific example of using the `basic-tracer` package directly using a say, sample React app built with webpack or rollup. At that point we know the core SDK is browser compatible.

Then as a future action, we can make an `opentelemetry-tracer-web` that does fancier things around getting spans for the initial page loa

[2019-09-18 00:21] obecny commented on #276
Yes this is exactly where I'm adding this as you said (Span is part of BasicTracer and it was using `performance.now()`) :) the same way it is done with your mentioned example `browser` field in package.json. I have also added the karma for BasicTracer to simulate "browser". Once I finish the `WebScopeManager` - I think adding some real example that can be opened in browser is also essential for b

[2019-09-18 15:08] #226 closed

[2019-09-19 01:20] #251 closed

[2019-09-19 03:31] #199 closed

[2019-09-19 17:39] mayurkale22 opened #284 "Exporter/Jaeger: add forceFlush and timeout options"
Originates from https://github.com/open-telemetry/opentelemetry-js/pull/282#discussion_r325931242

[2019-09-19 18:00] markwolff opened #285 "Move internal files loader to separate Node only package"
**Is your feature request related to a problem? Please describe.**
https://github.com/open-telemetry/opentelemetry-js/pull/240

**Describe the solution you'd like**
Internal files loader implementation currently lives in BasePlugin since it would cause circular dependency issues if it lived in PluginLoader. As a result, it will be unsuccessfully run in the browser. It should be moved into a node.j

[2019-09-19 18:12] mayurkale22 opened #287 "fix(exporter-zipkin): add main property - entry point to the module"
`"main": "build/src/index.js"` is missing in `package.json`.

[2019-09-19 18:46] #264 closed

[2019-09-19 20:32] vmarchaud commented on #236
I believe its good to close this one since https://github.com/open-telemetry/opentelemetry-js/pull/257 has landed

[2019-09-19 20:32] #236 closed

[2019-09-19 22:32] mayurkale22 commented on #243
Closed via #281

[2019-09-19 22:32] #243 closed

[2019-09-19 22:34] mayurkale22 commented on #253
Can this be closed via #268 ?

[2019-09-19 22:35] mayurkale22 commented on #174
closed via #192

[2019-09-19 22:35] #174 closed

[2019-09-19 22:50] danielkhan commented on #253
Yes indeed.

[2019-09-19 22:50] #253 closed

[2019-09-19 22:56] mayurkale22 opened #291 "Plugin/HTTP: add codecov script"
setup `codecov` script for HTTP plugin.

`"codecov": "nyc report --reporter=json && codecov -f coverage/*.json -p ../../"`

[2019-09-19 22:57] mayurkale22 opened #292 "Plugin/gRPC: add codecov script"
setup `codecov` script for gRPC plugin.

`"codecov": "nyc report --reporter=json && codecov -f coverage/*.json -p ../../"`

[2019-09-20 04:30] #287 closed

[2019-09-20 09:32] danielkhan commented on #190
In [SIG meeting 2019-08-14](https://docs.google.com/document/d/1S_pN7sBU7wO6cBP2hDSAt3bjSWdWdm6jWeUikC9KrcY/edit?pli=1#heading=h.9ztel4q5pndg) it was concluded that this should be the responsibility of the package.

Closing. Please reopen if you disagree. FYI @hekike

[2019-09-20 09:32] #190 closed

[2019-09-20 11:12] OlivierAlbertini commented on #120
Hi @mayurkale22
Sorry for the delay.

Spec question:

Should we display spans with a hierarchy ?

Finally, I can be unassigned and work on https / http2 or I can take this one depending the priority. I dont' have big bandwidth sept/oct (should be better after).

[2019-09-20 11:26] OlivierAlbertini opened #295 "Improve performance to Zipkin exporter"
# Current behaviour

Zipkin exporter use `JSON.stringify` when exporting spans.
https://github.com/open-telemetry/opentelemetry-js/blob/b58965c97e5be0b556d83d0000eff0e3c7e25209/packages/opentelemetry-exporter-zipkin/src/zipkin.ts#L165

# Desired behaviour

- We could use https://github.com/fastify/fast-json-stringify (or something else)
- It use Schema to speed up.
- We should add tests in order t

[2019-09-20 13:06] draffensperger commented on #295
Could you make some benchmarks to see how much of a performance issue this actually would be in a production app? My understanding is that most spans would not be sampled anyway, and we only would export to Zipkin a smallish number of spans.

I see bringing in a new library as potentially exposing end users to security risks / bugs if the dependency encounters those at some point vs. the safe and

[2019-09-20 15:40] danielkhan opened #296 "Create a opentelemetry-metrics package"
**Is your feature request related to a problem? Please describe.**
Feature

**Describe the solution you'd like**
Similar to the `opentelemetry-basic-tracer` we need a module that holds all logic that is common to tracing.
As first use case, the exporter infrastructure will go in there.

[2019-09-20 16:58] #291 closed

[2019-09-20 17:29] OlivierAlbertini commented on #295
I would be happy to make a benchmark. Do you have some exemples that could inspire me in order to provide to you something with added values or tools/packages that I could use.

I just want to avoid making a clunky benchmark.

Any feedback would be appreciate.

[2019-09-20 17:33] mayurkale22 commented on #292
Closed via #294

[2019-09-20 17:33] #292 closed

[2019-09-20 17:35] mayurkale22 commented on #285
Related PR #152

[2019-09-20 17:46] mayurkale22 commented on #120
Sure, I will take care of this.

[2019-09-20 18:13] #222 closed

[2019-09-20 18:13] mayurkale22 commented on #295
I don't have experience with benchmarking tool, but was thinking to use `@clevernature/benchmark-regression` to perform regression tests.

https://www.npmjs.com/package/@clevernature/benchmark-regression

[2019-09-20 20:23] #181 closed

[2019-09-20 20:42] mayurkale22 opened #298 "Add Usage instructions for OpenTracing shim package"
Add some basic example how to use the shim.

[2019-09-20 22:07] #216 closed

[2019-09-21 02:39] OlivierAlbertini opened #303 "Replace placeholders in license files"
We should not have placeholders in LICENSE files

e.g Copyright [yyyy] [name of copyright owner]

It should be "Copyright 2019, OpenTelemetry Authors"

[2019-09-21 10:00] vmarchaud opened #305 "scope-manager: describe how they works and their limitations"

[2019-09-21 11:25] danielkhan opened #306 "Copy / adapt metrics exporter classes from opencensus"
Looking at [Java](https://github.com/open-telemetry/opentelemetry-java/pull/541), we see that the metrics infrastructure will be copied and adapted from OpenCensus.

We should use the [OpenCensus metrics export implementation](https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-core/src/metrics/export) as a starting point as well.

The proto definition can be

[2019-09-21 12:18] OlivierAlbertini commented on #303
placeholders should not be replaced

[2019-09-21 12:18] #303 closed

[2019-09-21 13:29] OlivierAlbertini opened #307 "keep placeholders in license"
From https://github.com/open-telemetry/opentelemetry-js/issues/303

We should keep placeholders in license files.

[2019-09-21 14:54] danielkhan opened #309 "ExportResult should not be exclusive to tracing"
**Is your feature request related to a problem? Please describe.**
Right now `ExportResult` is [defined in basic-tracer](packages/opentelemetry-basic-tracer/src/export/ExportResult.ts), yet it would be needed when exporting metrics as well

**Describe the solution you'd like**
Move ´ExportResult` into òpentelemetry-types`.

**Describe alternatives you've considered**
Duplication of ExportResult wo

[2019-09-21 15:35] #307 closed

[2019-09-21 21:22] OlivierAlbertini opened #311 "PluginLoader can't load internal NodeJS modules (require-in-the-middle)"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.0.1

### What version of Node are you using?
10.16.3

### What did you do?
If possible, provide a recipe for reproducing the error.
[code]

### What did you expect to see?
- @opentelemetry/plugin-http should patch http module

### What did you see instead?
- PluginLoader#load: trying l

[2019-09-22 13:32] OlivierAlbertini commented on #295
Thanks Mayur, I will give a try

[2019-09-22 17:39] OlivierAlbertini opened #313 "plugins don't get config"
Based on this PR #229
We shouldn't use `options` (public) but `_config` (protected) coming from `BasePlugin`.

Impacted plugins:
- grpc
- http

[2019-09-22 19:18] #242 closed

[2019-09-22 19:52] OlivierAlbertini opened #316 "Gets null / undefined for "URL" attribute in some cases"
We don't have nice formatting for URL attribute.

For example :
`http.get({ path:"/helloworld", port: 8080 })`

We should get: `http://localhost:8080/helloworld`

But we got `undefined://undefined/helloworld`

We don't have this issue in incoming requests so we should reuse the same function.

[2019-09-23 16:10] draffensperger commented on #295
I actually think something you just do as a one-off would be fine - say a simple Node server that processes a hello-world type request, samples at 100% and exports to Zipkin. Run local server and local zipkin and then hammer it with traffic say with Apache bench or similar. See how it performs with the native `JSON.stringify` vs. `fast-json-stringify` and see the performance change in the overall

[2019-09-23 16:42] OlivierAlbertini commented on #295
Simpler indeed and good timing since I did https://github.com/open-telemetry/opentelemetry-js/pull/318

[2019-09-23 18:48] mayurkale22 opened #321 "Build failure"
[code]

[2019-09-23 19:03] markwolff commented on #321
Probably because of https://github.com/mapbox/node-pre-gyp/issues/477
I fixed it locally by adding `node-pre-gyp` as a devdep to the grpc package.json

[2019-09-23 22:28] #311 closed

[2019-09-23 22:32] mayurkale22 commented on #321
Closed via #322

[2019-09-23 22:32] #321 closed

[2019-09-23 22:34] mayurkale22 commented on #309
AFAIK `ExportResult` is SDK related concept, I am not sure if you want to move it to `types`.

[2019-09-23 22:37] danielkhan commented on #309
The question is if it should live in basic-tracer then because it is also needed for metrics.

[2019-09-23 22:41] mayurkale22 opened #323 "command not found: yarn clean or npm run clean"
With NPM
[code]

With YARN
[code]

Root cause: `rimraf`  is missing in devDependencies.

[2019-09-23 23:01] #316 closed

[2019-09-23 23:31] #284 closed

[2019-09-24 07:49] #323 closed

[2019-09-24 17:16] markwolff opened #327 "Plugin/gRPC: patching does not work when used with makeGenericClientConstructor"
Please answer these questions before submitting a bug report.

### What did you do?
If possible, provide a recipe for reproducing the error.
gRPC plugin currently patches `makeClientConstructor`. Example in #326 uses `makeGenericClientConstructor`, which is simply a re-export of the internal method `makeClientConstructor`. Patches should be applied to both of these functions.

[2019-09-24 17:24] markwolff opened #328 "Plugin/gRPC: Metadata usage prevents span/client propagation"
### What version of OpenTelemetry are you using?

0.0.1

### What did you do?

When the grpc creates a new instance of `Metadata`, it uses `new grpc.Metadata()`. This causes checks done by `grpc::client.js` of `metadata instanceof Metadata` to fail. To resolve this, new Metadata instances should be newed up using `new this._moduleExports.Metadata()`.

[2019-09-24 18:01] bg451 commented on #309
considering we're adding metrics, i think there's some refactoring that needs to happen so that we end up with `opentelemetry-sdk-tracer`, `opentelemetry-sdk-common/types/whatever`, `opentelemetry-sdk-metrics`.

While this gets figured out though I think copying ExportResult in metrics pr is a totally reasonable solution

[2019-09-24 18:11] #313 closed

[2019-09-24 18:36] bg451 opened #329 "Add baggage support to the opentracing shim"
Baggage isn't truly support with the OpenTracing shim. Currently `setBaggage` just applies the baggage item as an attribute to the span and that's it. I think that there's a few ways to split this problem up, the first being in process baggage propagation. Basically if I set a baggage item on span A, then create a child span B and C, that baggage item should be attached to B and C. I think in proc

[2019-09-24 19:51] OlivierAlbertini opened #330 "Make NodeTracer config optional"
all properties in config `NodeTracerConfig` are optionals. We should make the object optional.

Right now for instantiating `NodeTracer` we can do:

[code]
We should do:
[code]

[2019-09-24 20:09] OlivierAlbertini opened #332 "Avoid infinity loop when exporter use http to send spans"
**Is your feature request related to a problem? Please describe.**

Right now, I must use this config to avoid infinity loop:
[code]

**Describe the solution you'd like**
We should handle this internally. Perhaps we could use a specific header that will be handled by http plugin for ignoring outgoing request with that header?

[2019-09-24 20:16] vmarchaud commented on #332
We have a specific header with Opencensus to avoid this issue: https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-instrumentation-http/src/http.ts#L46

[2019-09-24 20:36] OlivierAlbertini commented on #332
should we set `x-opentelemetry-outgoing-request` ?

[2019-09-24 23:46] nstawski commented on #296
Looks like this issue is done, can you change its status?

[2019-09-24 23:51] #120 closed

[2019-09-25 01:37] #330 closed

[2019-09-25 06:51] vmarchaud commented on #332
@OlivierAlbertini i'm good with the header you set in the PR

[2019-09-25 11:55] vmarchaud commented on #296
Closing since #297 is merged

[2019-09-25 11:55] #296 closed

[2019-09-25 11:56] vmarchaud commented on #210
Closing since #314 has been merged

[2019-09-25 11:56] #210 closed

[2019-09-25 12:17] #306 closed

[2019-09-25 15:59] mayurkale22 commented on #298
@bg451 would you be willing to make a stub on this? :)

[2019-09-25 16:52] mayurkale22 opened #336 "chore: add 'private: true' for metrics and prometheus packages"
These packages are work in progress, will exclude them from alpha release.

[2019-09-25 16:53] mayurkale22 commented on #336
/cc @danielkhan

[2019-09-25 16:54] mayurkale22 opened #337 "Add usage instructions for node-sdk package"
Getting ready for Alpha release.

https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-node-sdk#usage

[2019-09-25 16:55] mayurkale22 opened #338 "Add usage instructions for HTTP plugin package"
Getting ready for Alpha release.

https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-http#usage.

Another option is to add a link for HTTP example.

[2019-09-25 16:56] mayurkale22 commented on #338
/cc @OlivierAlbertini

[2019-09-25 16:56] mayurkale22 opened #339 "Add usage instructions for gRPC plugin package"
Getting ready for Alpha release.

https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-grpc#usage.

Another option is to add a link for gRPC example (https://github.com/open-telemetry/opentelemetry-js/pull/326).

[2019-09-25 16:57] mayurkale22 commented on #339
/cc @markwolff

[2019-09-25 18:20] bg451 opened #340 "Add flush interval for Jaeger exporter"
During the SIG meeting today, @mayurkale22 mentioned a possible bug with the Jaeger exporter where Jaeger client only flushes when its span buffer reaches a size threshold, meaning that if you have a very low throughput system it might take a very long time for spans to get sent to Jaeger.

Looking at code, the exporter uses Jaeger's UDPSender, which is a fairly simple, low level piece of code tha

[2019-09-25 20:30] mayurkale22 commented on #340
+1 for flush interval option.

Another option could be, when we done with append logic just trigger the flush call https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-exporter-jaeger/src/jaeger.ts#L84-L92.

This should work nicely with both SpanProcessors (`BatchSpanProcessor` and `SimpleSpanProcessor`). In case of `BatchSpanProcessor`, append+flush will fire only

[2019-09-25 20:36] #245 closed

[2019-09-25 21:38] #336 closed

[2019-09-25 22:04] #327 closed

[2019-09-25 22:04] #328 closed

[2019-09-26 13:21] draffensperger opened #345 "Style fix: export utility functions directly without container class"
JS/TS has the concept of modules as containers for code, so there isn't a need for a wrapper `Utils` class at there would be in Java.

The `opentelemetry-plugin-http` has two such Utils classes:

https://github.com/open-telemetry/opentelemetry-js/blob/b1255217a6f491756335fcb0945f4c8f205e0200/packages/opentelemetry-plugin-http/test/utils/Utils.ts

https://github.com/open-telemetry/opentelemetry-js/

[2019-09-26 13:21] draffensperger commented on #345
See mention of this in https://github.com/open-telemetry/opentelemetry-js/pull/335/files#r328119196

[2019-09-26 16:12] #338 closed

[2019-09-26 16:35] #250 closed

[2019-09-26 18:50] OlivierAlbertini opened #347 "[plugin-http] error handling (in line with spec)"
# Spec

ref: https://github.com/open-telemetry/opentelemetry-specification/pull/153 (not merged yet)

This means that `applyCustomAttributesOnSpan`, `ignoreOutgoingUrls `, `ignoreIncomingsUrls ` should have `try/catch`

If everyone is agree, I can provide a PR.

[2019-09-26 19:08] mayurkale22 opened #350 "BatchSpanProcessor test failing intermittently"
Looks like need to increase the timeout interval.

<img width="711" alt="Screen Shot 2019-09-26 at 12 07 09 PM" src="https://user-images.githubusercontent.com/6525361/65717473-458a1f80-e056-11e9-9647-e7e2da96d100.png">

[2019-09-26 19:28] #340 closed

[2019-09-26 19:45] OlivierAlbertini opened #351 "Add option instructions for HTTP plugin package"
Getting ready for Alpha release.

https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-plugin-http#http-plugin-options.

Another option is to add a link to types.ts file.

[2019-09-26 22:43] mayurkale22 opened #354 "Build is failing"
[code]

[2019-09-26 22:56] mayurkale22 commented on #354
This is matching with latest grpc release (`1.24.0` -> 3 hours ago)

[2019-09-27 00:09] OlivierAlbertini commented on #354
https://www.npmjs.com/package/@types/protobufjs

[2019-09-27 08:29] #354 closed

[2019-09-27 09:11] #298 closed

[2019-09-27 10:06] #339 closed

[2019-09-27 10:07] #351 closed

[2019-09-27 13:17] #332 closed

[2019-09-27 17:45] mayurkale22 commented on #305
Thank you @vmarchaud for the work! Closing this via #344

[2019-09-27 17:45] #305 closed

[2019-09-27 22:49] danielkhan opened #359 "Add examples folder to learna"
**Is your feature request related to a problem? Please describe.**
By adding examples to lerna, we can resolve dependencies as we are doing it in packages, making running and testing them during development easier.

**Describe the solution you'd like**
Add `examples/*`to lerna.

[2019-09-27 23:40] #359 closed

[2019-09-28 14:32] danielkhan opened #362 "Complete readme for node-sdk"
**Is your feature request related to a problem? Please describe.**
The `node-sdk` readme still contains placeholder text and is incomplete.

[2019-09-28 19:31] OlivierAlbertini opened #364 "[plugin-http] should handle aborted request"
**Describe the solution you'd like**
When a request is aborted, the span should keep a trace of it.
I think that we could handle it without listening 'abort' event.

[2019-09-28 19:45] OlivierAlbertini opened #366 "[http-plugin] should we handle timeout event ?"
**Is your feature request related to a problem? Please describe.**
For now, we don't handle timeout event.
From NodeJS doc:

If we listen to `timeout` event we could add `span.addEvent` in order to notifying people that this has occurred ?

**Describe alternatives you've considered**
- Don't handle timeout event

[2019-09-28 20:37] danielkhan opened #368 "Plugins won't load when linked via lerna"
When running the [http example](https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/http ) in the lerna bootstrapped project, plugin loader won't find `@opentelemetry/plugin-http`, logging

[code]

[2019-09-28 20:44] #362 closed

[2019-09-28 20:45] mayurkale22 commented on #337
Closed via #367

[2019-09-28 20:45] #337 closed

[2019-09-28 21:42] OlivierAlbertini opened #370 "[http-plugin] increase coverage"
Based on `nyc`, it misses some tests. We should increase the coverage in order to avoid possible regression / ensuring behaviours are good.

[2019-09-28 22:23] OlivierAlbertini opened #372 "[lerna] changelog management"
From SIG meeting discussions.

**Describe the solution you'd like**
[lerna-changelog](https://github.com/lerna/lerna-changelog)
[code]
then we do:
[code]
It will print the changelog in the terminal. In this way, we can tweak a bit before publishing.

**Describe alternatives you've considered**
- fully automated:
e.g
[code]
When running with ` "conventionalCommits": true,`, lerna version will use t

[2019-09-29 00:16] OlivierAlbertini opened #373 "[plugin-http] attribute specs update"
There is new attributes and some of them have been renamed.
Ref: https://github.com/open-telemetry/opentelemetry-specification/pull/263

[2019-09-29 00:29] #370 closed

[2019-09-30 06:08] #364 closed

[2019-09-30 13:53] OlivierAlbertini commented on #347
I also added a comment on spec repo in order to know how those exceptions can affect the span status : https://github.com/open-telemetry/opentelemetry-specification/pull/153/files#r329587443

[2019-09-30 14:10] Oberon00 commented on #373
Note that this PR is fresh and not approved yet. I wouldn't start implementing this just now, as it is not unlikely that it will change in response to reviews.

[2019-09-30 14:28] OlivierAlbertini opened #375 "Add HTTPS plugin"
Add opentelemetry-plugin-https to allow the user to automatically collect trace data. The package should be used by both server and client. This should be based on BasePlugin interface: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-core/src/trace/instrumentation/BasePlugin.ts#L29

We should:
- Implementing the patch (by specializing the `HttpPlugin` class)
-

[2019-09-30 17:02] mayurkale22 opened #376 "Move resource to SDK"
Based on specs: https://github.com/open-telemetry/opentelemetry-specification/pull/254

[2019-09-30 18:14] mayurkale22 commented on #375
Feel free to assign to yourself, if you have the bandwidth to work on this. 👍

[2019-09-30 18:17] mayurkale22 commented on #19
Closed via https://github.com/open-telemetry/opentelemetry-js/pull/206

[2019-09-30 18:17] #19 closed

[2019-09-30 18:40] OlivierAlbertini opened #377 "HTTP example doesn't work with Jaeger"
### What version of OpenTelemetry are you using?
`^0.0.1`

### What version of Node are you using?
`10.9.0`

### What did you do?
If possible, provide a recipe for reproducing the error.
use `examples/http`
Read the README in order to use Jaeger.

### What did you expect to see?
Spans in Jaeger UI.

### What did you see instead?
I see errors in the terminal

For the server:
[code]
For the client:

[2019-09-30 19:29] mayurkale22 commented on #377
I have opened the fix #378, please take a look.

[2019-09-30 19:56] OlivierAlbertini commented on #295
Using the http example in this repo (without the `setTimeout` on the server side):

First ab test is "as is", second is by removing the `JSON.stringify` and applying a RAW transformation (in order to avoid a dep) because span is not so complex (Jaeger does this too).

[code]

Should we let the `JSON.stringify` ?

[2019-09-30 20:40] mayurkale22 commented on #377
@OlivierAlbertini Thanks for reporting this! Feel free to reopen the issue if there's something that #378  doesn't solve.

[2019-09-30 20:40] #377 closed

[2019-09-30 20:49] mayurkale22 commented on #295
This is great 💯. Could you please use `fast-json-stringify` and run the same test?

[2019-10-01 16:33] draffensperger commented on #295
Looks like you are saving ~10ms at the 50p latency, and ~140ms at the 99p latency.

I'm interested in what you said about "applied a RAW transformation (in order to avoid a dep)" - might that be a way to have better performance without introducing a dependency?

Do you know if `fast-json-stringify` supports a mode where you only include it as a dev dependency and not an install dependency? If you

[2019-10-01 18:54] #347 closed

[2019-10-01 22:39] mayurkale22 opened #384 "gRPC plugin is not working correctly when loaded with @grpc/proto-loader"
When a proto file is loaded with [@grpc/proto-loader](https://www.npmjs.com/package/@grpc/proto-loader), gRPC plugin instrumentation is not working correctly. `Client` and `Server` traces has different traceIds.

**Client Traces:**
![Screen Shot 2019-10-01 at 3 35 12 PM](https://user-images.githubusercontent.com/6525361/66005715-1feb8480-e461-11e9-8a4a-88190f46fea0.png)

**Server Traces:**
![Scree

[2019-10-01 22:41] mayurkale22 commented on #384
/cc @markwolff

[2019-10-01 23:34] markwolff commented on #384
Haven't looked into this yet, but it's probably for a similar reason that patching the internal function `makeClientConstructor` didn't also patch the externally re-exported `makeGenericClientConstructor`. Did this scenario work in OC?

[2019-10-02 18:15] #345 closed

[2019-10-02 18:40] OlivierAlbertini opened #393 "Combine https/http plugins"
From discussion : https://github.com/open-telemetry/opentelemetry-js/pull/379#discussion_r330241539

We should combine http and https plugins

[2019-10-03 14:13] OlivierAlbertini opened #394 "[plugin-http] Create a span builder"
Instead of building all attributes in the HttpPlugin class, ctor should take a `SpanBuilder` that add attributes to the span.

In this way,

- HttpPlugin will be easier to read.
- People who specializes  this plugin could pass their spanBuilder in order to add attributes they want. (this argument would lead to the discussion of having  the option to pass `applyCustomAttributesOnSpan`, so no need t

[2019-10-03 18:53] OlivierAlbertini opened #397 "[plugin-http] leaks when requests don't listen to 'data'/'readable' events"
## What version of OpenTelemetry are you using?
`^0.0.1`

### What version of Node are you using?
'all'

### What did you do?
If possible, provide a recipe for reproducing the error.
[code]

### What did you expect to see?
The current span should end

### What did you see instead?
Span is not ended

I'm not sure about the use case but if http package authorizes it, we should be compatible as well.

[2019-10-03 21:43] #375 closed

[2019-10-03 22:09] markwolff commented on #285
I think a solution to this is to use [`{ internals: true }`](https://github.com/elastic/require-in-the-middle#api) in PluginLoader and having plugins implement patches the internal modules when needed. Is this ritm option not acceptable due to perf reasons?

[2019-10-04 00:22] mayurkale22 opened #402 "Implement Metrics SDK"
Following [#105 and #297], implement Metrics in the SDK package.

~Also, consider to rename `packages/opentelemetry-metrics` -> `packages/opentelemetry-metrics-sdk`.~

- [x] Add initial skeleton
- [x] Add `Counter` and `Gauge` support
- [x] add `registerMetric` and `getMetrics`
- [x]  Implement "createMeasure" (v3 milestone)

[2019-10-04 10:03] z1c0 opened #403 "Implement Named Tracers and Meters"
The "Named Tracers and Meters" RFC (https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md) has been approved and was added to the specification (open-telemetry/opentelemetry-specification#264).

Please make sure to also update the documentation if necessary (tracer, meter creation).

OpenTelemetry language repositories now need to implement this mechanisms.

[2019-10-04 16:52] #376 closed

[2019-10-04 17:12] markwolff opened #404 "[Plugin]: Add postgres plugin"
**Describe the solution you'd like**
Add plugin similar to mongodb plugin (#205) for the [node.js postgres driver](https://www.npmjs.com/package/pg)

**Additional context**
This can be assigned to me if this is a plugin that this project would like to have.

[2019-10-04 18:57] obecny opened #405 "[Plugin] - WebTracer - add "document-load" plugin"
I want to start adding auto instrumentation for WebTracer and as first thing would be simply the document load. But together with this I'm thinking of the architecture and how to structure things.
NodeTracer (TracerSDK)  does this by creating a PluginLoader which is kind of cool and I thought that maybe thats the way to go. Then the first plugin for web tracer would be something like `document-loa

[2019-10-04 19:00] obecny commented on #405
The plugins then would be lazy loaded so they won't be bundled together with WebTracer. The Plugin Loader would be responsible for that

[2019-10-04 19:06] dyladan commented on #405
Would we then have `opentelemetry-plugin-node-*` for things that are specific to node?

[2019-10-04 19:08] mayurkale22 commented on #404
Thanks for opening the issue.

+1 to add this plugin. The (`pg`) module seems to have enough downloads (4m/month) on npm to mean that there are a lot users - **Substantial use**.

@open-telemetry/node-approvers and @open-telemetry/node-maintainers WDYT?

[2019-10-04 19:12] vmarchaud commented on #404
Sure, you can find a opencensus implementation there that i've done at my old company: https://github.com/keymetrics/pm2-io-apm/blob/master/src/census/plugins/pg.ts

[2019-10-04 19:16] obecny commented on #133
added here https://github.com/open-telemetry/opentelemetry-js/pull/334

[2019-10-04 19:18] mayurkale22 commented on #405
As it is possible to have some of the plugins shared between node and browser, I would suggest to follow `opentelemetry-plugin-*` pattern.

[2019-10-04 19:27] obecny commented on #405
We will have more and more plugins in a future and it might be misleading which one is supported in browser only and which one in node only or both. Just looking at repo now we already have 3 plugins for http, are they going be all supported in browser too ?

[2019-10-04 20:16] dyladan commented on #405
The 3 that exist are for the Nodejs standard library modules and afaik browser support for them is N/A

[2019-10-04 20:52] markwolff commented on #405
Maybe the plugins could be folder organized based on their supported environments: `nodejs/opentelemetry-plugin-mongodb`, `web/opentelemetry-plugin-document-load`, `js/opentelemetry-plugin-purejslibrary`

[2019-10-04 20:53] dyladan opened #406 "Issue template and README table for plugin support tracking"
**Describe the solution you'd like**
I would like to have a table of current plugin support status on the README page so that users can clearly see which plugins are currently supported, being worked on, and/or will be worked on soon without diving into the code.

| Module Name  | Support Status | Weekly Downloads |
| ------------- | ------------- |------------------|
| http/https  | Supported  |

[2019-10-04 21:26] mayurkale22 commented on #406
WDYT of https://github.com/open-telemetry/opentelemetry-js/pull/407?

[2019-10-04 22:18] danielkhan opened #408 "Make package structure more consistent"
Triggered by #389 @mayurkale22 and I started a discussion on the overall consistency of our package naming and we came up with the following scheme:

[code]

`@opentelemetry/sdk-metrics` can later be appended by a platform if we need a specialization which would lead to`@opentelemetry/sdk-metrics-node` and `@opentelemetry/sdk-metrics-web`

Linking the very first discussion on naming #6 for backref

[2019-10-04 22:23] mayurkale22 commented on #408
@OlivierAlbertini @vmarchaud @rochdev @hekike @draffensperger @bg451 @markwolff @obecny @dyladan WDYT?

[2019-10-04 22:31] mayurkale22 commented on #408
Mapping between old package name to new name.

Old Name | New Name
----------| --------------
@opentelemetry/sdk-base | @opentelemetry/sdk-base
**@opentelemetry/tracer-basic** | **@opentelemetry/sdk-tracing**
**@opentelemetry/node-sdk** | **@opentelemetry/sdk-node**
**@opentelemetry/tracer-web**| **@opentelemetry/sdk-web**
@opentelemetry/sdk-metrics | @opentelemetry/sdk-metrics

[2019-10-04 22:32] obecny commented on #408
I wonder if we even need `sdk-*` ?  I agree to remove `basic` it might means different things for different people.
I would go even simpler:
[code]
and the reason is that we already have a word `opentelemetry` in front of them

[2019-10-05 02:38] dyladan commented on #408
I am trying to imagine what using the final product is going to look and feel like to end users. In my mind there are a few types of users:

1. application owners that want to trace their apps (little to no code modification)
2. library owners that want to build in OpenTelemetry support directly rather than relying on plugins (heavy code modification)
3. OpenTelemetry plugin developers (including

[2019-10-07 13:10] draffensperger commented on #285
Would the performance cost be a one time cost when the app starts up, or would it add performance expense to every request?

[2019-10-07 13:22] vmarchaud commented on #285
@draffensperger I believe it would be only used to patch the exported modules, so at startup.

[2019-10-07 14:16] OlivierAlbertini commented on #225
Quickly make a test by wrapping the request.emit function (not all use cases were handled but it could be just slowest if I did)

## Without wrapping the emit function
[code]

## Wrapping the emit function
ref: https://github.com/VilledeMontreal/opentelemetry-js/tree/feature/http-request-wrap-emit
[code]

I ran this test multiple times and wrapping the emit function seems to be the slowest. We cou

[2019-10-07 16:34] draffensperger commented on #285
OK, then I would expect the performance impact would not be a major concern here unless it were really big.

[2019-10-07 17:35] mayurkale22 commented on #384
No, it is not working as expected.

[2019-10-07 18:08] #276 closed

[2019-10-07 18:18] mayurkale22 commented on #384
Strangly, with OC when I used lowercase method name in protos: https://github.com/open-telemetry/opentelemetry-js/pull/385/files#diff-a10e9a452e0c1da7f8f0d0f5a70622e4R12, everything works well. Maybe, we are not patching all the client methods properly: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-grpc/src/grpc.ts#L336-L341

[2019-10-07 18:22] markwolff commented on #384
Yes the lowercase stuff was a bug I found in OC as well which would be fixed by [this](https://github.com/open-telemetry/opentelemetry-js/pull/400/files#diff-671cbf0fed27b96717e412e39a4dfc30R371-R376). If the lowercase name works in OC, then I shouldn't have to use `{ internals: true }` and there is a bug with the existing patching.

[2019-10-07 18:34] bg451 commented on #276
Woohoo! Awesome work @obecny!!!

[2019-10-07 18:49] mayurkale22 commented on #384
Possible. While testing found out https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-plugin-grpc/src/grpc.ts#L328 is not getting called when using proto-loader.

[2019-10-07 18:53] mayurkale22 commented on #133
@obecny This can be closed via #334, right?

[2019-10-07 18:54] obecny commented on #133
@mayurkale22 yes

[2019-10-07 18:57] mayurkale22 commented on #133
Ok great, closing via #334.

[2019-10-07 18:57] #133 closed

[2019-10-07 19:26] bg451 commented on #408
Do we want more fine grained package naming for web code to reduce bundled code size? That way if someone is using only the metrics implementation, they don't have to also import the tracer code.

[2019-10-07 19:45] mayurkale22 opened #410 "Add README.md for tracer-web example"
Include `README.md` for [tracer-web](https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/tracer-web) example.

[2019-10-07 19:58] danielkhan commented on #408
As mentioned, this can be done as needed. We won't publish metrics with the alpha so we can decide as we build out metrics.

[2019-10-07 19:59] #309 closed

[2019-10-07 20:02] rochdev commented on #408
I tend to agree with @obecny. The entire repo is basically the SDK, no need to specify that at every package really.

[2019-10-07 20:03] rochdev commented on #408
I think there should be more fine-grained packages, but there should still be the aggregate that is bigger but easier to install to get started.

[2019-10-08 20:01] #408 closed

[2019-10-09 15:30] draffensperger commented on #405
My main suggestion here is that we don't rely on plugins as runtime objects or any kind of `require` function usage, since I think that could put limits on how people bundle their code. E.g. webpack, Rollup, Closure, etc. all support ES6 modules but may collapse them down into a flattened code bundle rather than having them as runtime objects.

What if the plugin model looked something like this:

[2019-10-09 16:58] dyladan opened #416 "Create a getting started guide"
**Is your feature request related to a problem? Please describe.**
As a new user/contributor to the project, I was frustrated with the lack of basic examples and guides to run the software and see a trace.

**Describe the solution you'd like**
A getting started guide that a user with no experience with tracing or OpenTelemetry can use to see a simple trace generated on their own machine.

**Descri

[2019-10-09 17:39] OlivierAlbertini commented on #416
Also I'm wondering if the getting started guide can be in multiple languages on the blog ?
/cc @tedsuo

[2019-10-09 17:43] OlivierAlbertini commented on #372
@draffensperger / @vmarchaud
Don't hesitate to share how it works with openCensus.

[2019-10-09 20:05] bg451 commented on #403
This is turning out to be a much bigger code change than expected, especially around the node SDK.

Following the specification instructions, I started by adding a `TracerFactory` type that has the function `getTracer(name?: string, version?: string)`. In `@opentelemetry/core`, `initGlobalTracer` becomes `initGlobalTracerFactory` and we end up with something like
[code]
so that ergonomically exist

[2019-10-09 20:17] dyladan commented on #416
@OlivierAlbertini multiple languages like javascript/go or like English/German?

[2019-10-09 20:44] OlivierAlbertini commented on #416
English/German

[2019-10-09 20:47] dyladan commented on #403
@bg451 would you expect span processors added via `opentelemetry.getTracer().addSpanProcessor` to be on `opentelemetry.getTracer('http-plugin')`? When I read the spec I read that as creation (if needed) of a new Tracer with its own set of configs and span processors.

[2019-10-09 20:51] bg451 commented on #403
@dyladan Yeah I would. The person using `opentelemetry.getTracer('http-plugin')` is writing an shared instrumentation library (not an end user), so they wouldn't be doing any configuration and also doesn't know where the end user wants the spans to go.

[2019-10-09 21:12] dyladan commented on #403
This just feels like deviating from the spec a little too much for me. Could the tracer factory return a wrapper class around the global tracer that implemented naming but delegated everything else to the wrapped tracer?

FWIW the ruby implementation also would not satisfy your constraint https://github.com/open-telemetry/opentelemetry-ruby/pull/114. I didn't find another OpenTelemetry language th

[2019-10-09 21:22] bg451 commented on #403
The otep provides an example of something similar in the Prior art section:

My understanding of named tracers is that traditionally 3rd party libraries ould instrument themselves with opentracing and use the global tracer. This way, users could also get visibility of what was happening in their dependencies. There was this tag in opentracing called [component](https://github.com/opentracing/speci

[2019-10-09 21:24] bg451 commented on #403
I think this is worth bringing up to the specification because it is really not clear what the desired side effects are.

[2019-10-09 21:47] yurishkuro commented on #403
Why is it not ideal? If tracers are moving one level down by becoming namespaced (instead of being a singleton), then exporters naturally have to move one level up, to the factory.

[2019-10-09 22:21] markwolff opened #418 "Request(plugin-postgres): pg-pool"
Related to #417

**Is it applicable for Node or Browser or both**
Node.js

**Do you expect this plugin to be commonly used (Weekly downloads)**
- [pg-pool](https://www.npmjs.com/package/pg-pool): 800k DLs/week; dependency of `pg` -- more important!
- [pg-cursor](https://www.npmjs.com/package/pg-cursor): 50k DLs/week

**Additional context**

For "complete" postgres support, the [`pg.Pool`](https://

[2019-10-09 23:21] obecny commented on #403
Can we simply allow two things so you would be able to inject the exporter during the initialisation, but we can add function to tracer to update this at any given time too in  case you  want to use a different exporter later.

[2019-10-10 00:43] dyladan commented on #403
I think it is probably worth bringing up with spec. Even if we decide what we want, the spec should make it more clear than it does. If the spec isn't cleared up, then different implementations may have different behaviors as we already see with the Ruby PR implementing in a naive way that would not share span processors among multiple tracers.

# A
[code]

# B
[code]

# C
[code]

- According to @

[2019-10-10 03:37] yurishkuro commented on #403
All 3 are incorrect.

[2019-10-10 06:36] z1c0 commented on #403
As @yurishkuro said, all 3 are incorrect.
Setting a `spanProcessor` must move up to the `TracerFactory`

Maybe the .NET implementation helps (https://github.com/open-telemetry/opentelemetry-dotnet/pull/239)

[2019-10-10 12:58] dyladan commented on #403
Thank you @z1c0 that's what I thought but I wanted to make sure.

Perhaps the spec should mention that setting span processor moves to the factory in order to minimize confusion between implementations. In this case, the ruby implementation needs to be amended. The current version (https://github.com/open-telemetry/opentelemetry-ruby/blob/7122835f6cc874e02d75e94078dafce6cbb4a99c/sdk/lib/openteleme

[2019-10-10 13:02] z1c0 commented on #403
Thanks @dyladan, I can see how this causes confusion.
I will make sure to update the specification where necessary and comment on the ruby repository.

[2019-10-10 14:38] dyladan commented on #403
@draffensperger Ruby and .NET also have implemented but Ruby is a very minimal implementation. .NET was implemented by the OTEP and spec writer.

`withComponent` doesn't give the core benefit which is that naming tracers becomes the default recommended approach. If you build a tracer without a name, nothing stops you from never calling `withComponent` and many libraries may never do so. If the fac

[2019-10-10 14:43] draffensperger opened #419 "Automate NPM publish via CircleCI"
I think we should automate publishing of packages to NPM via CircleCI. This reduces the amount of effort involved in doing a release and thus I think could motivate us to release more often. (Not clear that it provides a security benefit over a maintainer manually publishing - some day I would love authenticated signed builds for that where you can audit that an NPM package was build from a signed

[2019-10-10 15:45] obecny commented on #403
If I understand correctly in my case it should look like this
[code]

instead of what I like much more and I think is more intuitive and natural from js
[code]

ConsoleExporter - just a simple exporter to show spans in console nothing fancy so far

[2019-10-10 17:12] bg451 commented on #403
Okay I'm going to continue forward with the factory approach, but I agree with @obecny that the exporter should go into the configuration of the tracer.

[2019-10-10 17:27] dyladan commented on #403
I don't see any reason that both can't work. That would be a question for specification though. I think @z1c0 is going to bring it up with them, but maybe we should make an issue to track these types of questions.

[2019-10-10 21:54] OlivierAlbertini commented on #419
Interesting. By looking OpenCensus repo I see that You have one Github release (one tag) for all packages.

I think it's fine (to me).

How do you manage the changelog ?
initial discussion https://github.com/open-telemetry/opentelemetry-js/issues/372

[2019-10-11 05:08] draffensperger commented on #419
I think keeping the same release version for all packages simplifies things. It's fine to release a package even if nothing changed to it, but having internal version skew is hard to track.

In OpenCensus (Node & Web), we managed the CHANGELOG manually. But if we can automate that, that would be awesome!

The more of the release process we can automate the better because it would enable us to roll

[2019-10-11 05:09] draffensperger commented on #372
In OpenCensus the CHANGELOG, README and EXAMPLES process was manual. Here were the steps for OpenCensus Web: https://github.com/census-instrumentation/opencensus-web/blob/master/RELEASING.md

[2019-10-11 14:18] obecny opened #422 "Create the transport layer and refactor exporters so that they can be used both in node and web"
Now the jaeger and zipkin depends on `http` node module. We could create either in base or core a transport layer that is platform specific and then refactor exporters so that they can be used in node and browser.

[2019-10-11 15:06] OlivierAlbertini commented on #422
just a note. Jaeger doesn't use http node module.

[2019-10-11 15:41] obecny commented on #422
Yes you right jaeger uses the `udp sender` but still you won't be able to use it in browser. I used some shortcut but my idea is to be basically to be able to use all exporters in web and then simply decide what to use as a transporter.

[2019-10-11 15:49] z1c0 commented on #403
The question where these configurations objects need to go, seems to be highly controversial. I think we need to be very clear in the specification on this, so I created an issue in the specification repository. We should continue this discussion there: https://github.com/open-telemetry/opentelemetry-specification/issues/304

[2019-10-11 17:04] mayurkale22 commented on #422
IMO the ideal way is to have the browser clients send/write to the [OpenTelemetry Collector](https://github.com/open-telemetry/opentelemetry-collector) via HTTP/JSON and have the collector send to one or more tracing backends.

The best reference architecture would be **Browser > OpenTelemetry Agent > OpenTelemetry Collector > Destination(s)**. WDYT?

[2019-10-11 17:20] obecny commented on #422
Lets take the real life example - exactly what I'm doing now.
As a developer I'm trying to add a new plugin (Document Load) in this moment. I want to be able to easily debug what I'm doing inside the browser and I want to see the results and spans easily - can be in console as a start and then maybe I would like those spans to sent to jaeger or zipkin (locally) and then compare if it looks as I th

[2019-10-11 17:23] mayurkale22 commented on #419
+1. This will also help us to keep single `CHANGELOG.md` across the project.

[2019-10-11 17:35] mayurkale22 commented on #6
I'm going to close this issue via #408. Do add a comment if you think this is incorrect.

[2019-10-11 17:35] #6 closed

[2019-10-11 18:51] #397 closed

[2019-10-11 19:55] OlivierAlbertini commented on #419
Ok. Based on the discussion, I think we could use the first solution described https://github.com/open-telemetry/opentelemetry-js/issues/372
in order to automate a bit... There is still manual things to do but it will be a lot easier for the releaser. WDYT ?

[2019-10-11 20:17] OlivierAlbertini commented on #422
@obecny
As a developer, I would prefer to use the same way than I did on node side:
[code]

WDYT ?

[2019-10-11 20:25] draffensperger commented on #422
Can you use a `platform` section in the Zipkin exporter to isolate its use of the `http` module, similar to how we do it for `performance.now` for the browser vs. `process.hrTime` for Node? It could use XMLHttpRequest for the browser to send the spans to zipkin.

In general, I like the idea of exporting spans via the OpenTelemetry Collector, or actually even writing mini-collector type code that p

[2019-10-11 20:47] mayurkale22 commented on #422
Looks like this is mainly useful for local development purposes, does it makes sense to modify Zipkin Exporter only and keep Jaeger Exporter as it is or vice a versa ?

[2019-10-13 00:44] OlivierAlbertini opened #423 "[Plugin]: Add dns plugin"
**Is your plugin request related to a problem? Please describe.**
Add traces in order to get useful dns operations information

**Is it applicable for Node or Browser or both**
`Node`

**Do you expect this plugin to be commonly used**
Weekly Downloads: `unknown`

**What version of plugin are you interested in using**
Node Versions: `>=10` but we can be compatible with `8` as well

**Additional con

[2019-10-14 21:19] xirzec opened #426 "@opentelemetry/types 0.1.0 has no type files"
### What version of OpenTelemetry are you using?

v0.1.0

### What version of Node are you using?

v10.16.3

### What did you do?
If possible, provide a recipe for reproducing the error.

1. npm install @opentelemetry/types

### What did you expect to see?

Inside the node_modules folder for the package, some typings files.

### What did you see instead?

Only a package.json, a README.md, and a LI

[2019-10-14 21:31] mayurkale22 commented on #426
Thanks for reporting this! Looks like the same issue with all other packages. I am investigating this.

[2019-10-14 21:42] OlivierAlbertini opened #427 "When refactoring (moving files) some links have been broken"
We should fix all broken links

[2019-10-14 22:02] OlivierAlbertini opened #429 "Keep jaeger in the latest version in docs"
In the documentation, we should keep Jaeger to the latest version.
We need to remove any specific versions references

[2019-10-14 22:27] #429 closed

[2019-10-15 16:41] markwolff commented on #384
Looked into this, it is because of lerna linking. The grpc-plugin's devdep `grpc` internal files are patched because it grabs the `basedir` [within the plugin](https://github.com/open-telemetry/opentelemetry-js/blob/5ddf65d95468c269410ef990e94cecc1a28f2e6d/packages/opentelemetry-plugin-grpc/src/grpc.ts#L533-L535). For a production sample, I'd imagine it would work because the dev dependency won't

[2019-10-15 17:49] #427 closed

[2019-10-15 21:45] obecny opened #435 "Add new ZoneScopeManager for web"
If you have any suggestions, thoughts, things I should be aware of when implementing the new `ZoneScopeManager` that will support async operations please share it, thank you.

[2019-10-15 21:52] obecny commented on #422
As a summary: there is already ConsoleSpanExporter which I extended a bit. @OlivierAlbertini the tracer is calling `addSpanProcessor`.
So the only thing to consider now is to have a new task to refactor zipkin only so that it can be used in browser too, using the `platform`.

[2019-10-15 21:55] obecny commented on #435
cc @mayurkale22 @draffensperger

[2019-10-15 22:51] draffensperger commented on #435
I think we could base this loosely on the [OpenCensus Web tracer that uses Zone.js](https://github.com/census-instrumentation/opencensus-web/blob/68aa988732e03f2de49ebc0213c3b2525aa5b68b/packages/opencensus-web-core/src/trace/model/tracer.ts#L90).

Also, I think the core functionality of the scope manager should bring in Zone.js as a peerDependency, and call the package something like `opentelemet

[2019-10-15 23:37] #426 closed

[2019-10-15 23:53] mayurkale22 commented on #426
Published in `0.1.1`, let us know if you encounter any issues!

[2019-10-16 18:25] #372 closed

[2019-10-16 22:17] mayurkale22 commented on #416
This might help you to write the guide -> https://github.com/open-telemetry/opentelemetry-dotnet#opentelemetry-tracing-quickstart-collecting-data, ptal.

[2019-10-17 20:20] mayurkale22 opened #438 "Allow specifying a timestamp when creating Events"
Based on the issue: #213

The spec [defines](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-events) an Event as follows:

Please update the API and corresponding SDK implementation(s).
https://github.com/open-telemetry/opentelemetry-js/blob/17690e6fc62ee88eae4d9aef0e19202335e78218/packages/opentelemetry-types/src/trace/span.ts#L59-L66

[2019-10-17 22:58] mayurkale22 opened #440 "Host API Documentation"
Per SIG meeting, decide where to host the generated docs (`npm run docs` or `yarn docs`). Also, decide when to update the same, either on every new release or every pull requests merge.

Few hosting options:
- Github pages

- Some external domain similar to opentracing - https://opentracing-javascript.surge.sh/

/cc @danielkhan

[2019-10-18 01:32] OlivierAlbertini commented on #440
How do you manage multiple versions (1.0.0, 2.0.0...) when packages will be released for production ? Do we display only the last ?

[2019-10-18 01:41] mayurkale22 commented on #440
I think always display the latest one and with the help of `CHANGELOG` users will be able to see when it got added. Another option is to use `@version` tag with newly added API, but I am not sure whether it is supported with `typedoc`.

[2019-10-18 01:44] mayurkale22 opened #441 "Implement LabelSet in metrics"
Based on the specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-user.md#label-set-calling-convention

[2019-10-18 02:53] draffensperger commented on #440
Can we use GitHub pages with this repo to start with and then potentially move to a hosted domain? I think GitHub pages supports custom domains

[2019-10-18 10:00] obecny commented on #438
@mayurkale22 would that make sense if I take it and make necessary changes so that I can finish the `document-load` plugin by adding time for events as discussed with @draffensperger in PR #433 ?

[2019-10-18 15:12] mayurkale22 commented on #438
Sure, I have assigned to you. Thank you 😊

[2019-10-18 18:18] mayurkale22 commented on #422
As discussed in the SIG, will add/implement agent exporter (similar to https://github.com/census-instrumentation/opencensus-web/tree/master/packages/opencensus-web-exporter-ocagent) to send data to [OpenTelemetry Collector](https://github.com/open-telemetry/opentelemetry-collector). At this moment, will not update the Zipkin/Jaeger exporter to support web use-case.

I think we should reconsider th

[2019-10-18 21:03] mayurkale22 commented on #384
I am fine with the option 1. Do you think I should merge the example - gRPC example using proto-loader #385?

[2019-10-18 21:38] markwolff commented on #384
I think thats fine. It just wont work if using it by cloning this whole repo.

[2019-10-18 22:43] mayurkale22 opened #442 "Add MetricsExporter interface"
Specs issue : https://github.com/open-telemetry/opentelemetry-specification/issues/157

Similar to `SpanExporter` interface, add `MetricsExporter` interface -> An interface that allows different metrics services to export recorded data to the backend.

[2019-10-18 22:45] mayurkale22 opened #443 "Add/Implement ConsoleMetricsExporter"
Dependency on #442.

This would be simple metric exporter to export recorded data to the console. Something similar to OpenCensus: https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/exporters/console-exporter.ts#L86

[2019-10-19 07:38] #261 closed

[2019-10-19 09:48] zoidbergwill commented on #442
Is this issue and #443 blocked by open-telemetry/opentelemetry-specification#157 ?

[2019-10-19 12:59] OlivierAlbertini commented on #440
a solution : https://github.com/TypeStrong/typedoc/issues/737#issuecomment-439382488

[2019-10-21 21:23] mayurkale22 opened #446 "Allow recording links only at Span creation time"
Remove `addLink` support from the `Span` API and allow only during Span creation.

For more details about why see https://github.com/open-telemetry/opentelemetry-specification/pull/258

[2019-10-21 21:42] obecny opened #447 "Use Sinon Fake Timers to improve and speed up tests"
https://sinonjs.org/releases/v7.5.0/fake-timers/

Now some unit tests are using `setTimeout` with for example 1s of waiting. This waiting can be simulated with Sinon Fake Timers and speed up unit tests

[2019-10-21 22:16] mayurkale22 opened #448 "Fix: IsRecordingEvents -> IsRecording"
Original issue: https://github.com/open-telemetry/opentelemetry-specification/issues/44

Reference code:
https://github.com/open-telemetry/opentelemetry-js/blob/9855636c9ec939775e79559b0fe067224c591e0d/packages/opentelemetry-types/src/trace/span.ts#L99-L105

[2019-10-21 23:53] mayurkale22 opened #450 "Add IsRemote field to SpanContext, set by propagators"
Add a `IsRemote` field to `SpanContext` and set to `true` when deserializing a propagated SpanContext (from a remote parent).

Original issue: https://github.com/open-telemetry/opentelemetry-specification/issues/187

SpanContext based on specs: https://github.com/tsloughter/opentelemetry-specification/blob/45ee51310c4f8504cbdcdc4c2c460f13ede7a394/specification/api-tracing.md#spancontext

[2019-10-21 23:57] #350 closed

[2019-10-22 17:48] mayurkale22 opened #452 "(Metrics) Implement "createMeasure""
Implementation of `createMeasure` in the Metrics SDK is not done.

Part of [#402]
Follows [#437]

https://github.com/open-telemetry/opentelemetry-js/blob/284829683c80837ef2c84411b1321299a0c7c4a1/packages/opentelemetry-metrics/src/Meter.ts#L46-L52

API Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics.md#measure

[2019-10-22 18:03] mayurkale22 opened #453 "`UpdateName` doesn't trigger sampling decision"
As per the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#updatename), `UpdateName` should re-trigger the **make sampling decision** logic.

[2019-10-22 18:09] mayurkale22 commented on #453
Question: what to do when `Sampler` doesn't consider the `name` field to make the sampling
 decision, ex: [ProbabilitySampler](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-core/src/trace/sampler/ProbabilitySampler.ts#L25)? Is this feature only applicable to the `Sampler` whose sampling behavior based on `Span` name ?

[2019-10-22 18:16] mayurkale22 commented on #5
Closing via https://github.com/open-telemetry/opentelemetry-specification/issues/21

[2019-10-22 18:16] #5 closed

[2019-10-22 18:44] bogdandrutu commented on #453
The specs says that it is implementation detail if the sampler is recheck or not. I would suggest to not call again the sampler for the moment

[2019-10-22 20:41] xiao-lix commented on #448
@mayurkale22 Would it be fine if I take this?

[2019-10-22 20:44] mayurkale22 commented on #448
Sure, I have assigned to you. Thanks for taking the initiative. :)

[2019-10-22 22:33] obecny opened #455 "Fix karma coverage for browsers tests"

[2019-10-22 23:31] #448 closed

[2019-10-23 14:46] draffensperger opened #456 "Add resource timing spans with events to DocumentLoad plugin"
I would suggest that we use the [Resource Timing API](https://developer.mozilla.org/en-US/docs/Web/API/Resource_Timing_API/Using_the_Resource_Timing_API) to get spans for all of the resource timing events that occur before the end of the `load` event in the browser as part of the `DocumentLoad` plugin. Each span should include any network events (DNS resolution, SSL handshake, request start, etc.)

[2019-10-23 16:23] draffensperger opened #457 "Allow linking the server-side HTML render with client side HTML fetch spans"
When an HTML page is loaded, it's nice to be able to see the overall page load as a span with a span for the initial HTML fetch as well. If the HTML fetch is slow, it's nice to see what on the server took a while (e.g. database calls, view render, etc.). This would be a feature request for the `DocumentLoad` plugin to make this work.

To get the server and client spans joined for the HTML fetch, w

[2019-10-23 16:26] danielkhan opened #458 "CircleCI fails on Node 13"
As per @obecny Circle CI build is failing with Node 13.
We have to verify what's not working

[2019-10-23 16:48] danielkhan commented on #442
It's right now implemented here: https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-metrics/src/export/types.ts#L344

shutdown is missing.

[2019-10-23 17:32] #405 closed

[2019-10-23 17:32] #438 closed

[2019-10-23 18:16] #446 closed

[2019-10-23 18:27] OlivierAlbertini commented on #458
Not sure why it's failing with Node 13 since in circleci it's defined like :
[code]

[2019-10-23 18:30] obecny commented on #458
@OlivierAlbertini I have added this, previously it was
[code]
so it was taking the latest

[2019-10-23 18:31] OlivierAlbertini commented on #458
ok! Should we close this issue ?

[2019-10-23 18:32] obecny commented on #458
I think this is about reverting this back and investigate why is it failing when using latest

[2019-10-24 16:24] #450 closed

[2019-10-25 00:44] xiao-lix commented on #441
Would it be fine if I take this?

[2019-10-25 00:47] OlivierAlbertini commented on #441
Sure

[2019-10-25 16:16] dyladan commented on #440
If we want to host in GitHub Pages, here is how we can do it using circle ci to update docs each time master is built https://github.com/dyladan/opentelemetry-js/tree/ci-docs

Output looks like this https://dyladan.github.io/opentelemetry-js/

This is the change I made to make it work https://github.com/dyladan/opentelemetry-js/commit/f5be3d89f33e4ce08659a6f0e988c1e05f871b0d

Right now the ssh key

[2019-10-25 16:35] mayurkale22 commented on #440
This looks really good 💯 IMO we should update the API docs on every release (post release script) rather than each time master is built. Otherwise users would see un-released features/APIs in the docs, that might lead to confusions and all. On top of that, the API update happens once in a while. WDYT?

[2019-10-25 17:14] dyladan commented on #440
Yea I agree that it should happen on release. Is there some way to automate that? I don't know what our current release mechanism is, but if it adds a tag that could be used as a filter. We could also keep a branch named `release` or `latest` or similar.

[2019-10-25 18:41] dyladan commented on #440
Additional note: Since the `@opentelemetry/types` is going to be the "official" public documentation for the API, we should change its README to reflect that. Currently the title is "OpenTelemetry Types" which should probably be changed to "OpenTelemetry API". Additionally, some quick usage examples could be added there. I'm working on a getting started guide for #416 that would be a good idea to

[2019-10-25 19:28] mayurkale22 commented on #440
Sounds good to me. May be "OpenTelemetry API for JavaScript"

https://github.com/open-telemetry/opentelemetry-js/blob/91fd682b8607b61fb1696ebd65b27eca32b66a95/packages/opentelemetry-types/src/trace/tracer.ts#L52-L53 Do you mean something like this?

[2019-10-25 19:35] dyladan commented on #440
No I just mean more end-to-end examples. The getting started guide will focus on how can I set up a tracing backend and use auto instrumentation to get traces, but there are additional use cases that should be covered. How can a library author add OpenTelemetry support and so on.

[2019-10-25 21:18] dyladan commented on #440
Updated it so that it only runs on semver style git tags (`v0.0.0`) and no other branches https://github.com/dyladan/opentelemetry-js/blob/bcbcfcbffd20f676e54fd36a3b8a8642e0d207d3/.circleci/config.yml#L120

One issue is that this depends on the git tag being created, which is not always the case currently (e.g. current release has no tag). Maybe we should talk about release automation in general a

[2019-10-29 01:42] danwild opened #464 "Web browser span exporters should support navigator.sendBeacon"
*When* a web browser compatible span exporter package is developed, it will need a way to reliably ensure any open spans are ended and exported when user navigates away from the browser window (for context - I've just been [experimenting crudely](https://medium.com/@danwild.io/observability-for-front-end-web-clients-with-opentelemetry-and-jaeger-in-5-minutes-343f719fbf5a) with wiring up zipkin exp

[2019-10-29 03:00] danwild commented on #464
Worth noting that `sendBeacon` has limitations on transmission format due to security issues, [e.g. application/json](https://medium.com/@longtermsec/chrome-just-hardened-the-navigator-beacon-api-against-cross-site-request-forgery-csrf-690239ccccf) which might make things a little tricky.

[2019-10-29 17:40] mayurkale22 opened #465 "Validate Metric names"
Per [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-user.md#metric-names), Metric names conform to the following syntax:
- They are non-empty strings
- They are case-insensitive
- The first character must be non-numeric, non-space, non-punctuation
- Subsequent characters must be belong to the alphanumeric characters, '_', '.', and '-'.

A

[2019-10-29 18:03] dyladan commented on #465
I can take this

[2019-10-29 18:22] markwolff commented on #452
I can take this one if it is still up-for-grabs

[2019-10-29 20:46] bg451 opened #515 "javascript: uses unsafe-eval"
Howdy,

Something recently came up with lightstep's javascript tracer implementation that I wanted to relay here. The protobuf library for browser javascript uses `eval`, creating a csp violation. There are currently two open tickets with no response: https://github.com/protocolbuffers/protobuf/issues/5464 and https://github.com/protocolbuffers/protobuf/issues/6770. There's an alternative protobuf

[2019-10-30 17:45] obecny commented on #464
@danwild thx for pointing this out. There is not yet dedicated exporter for a web browser - this is going to be implemented in near future.

[2019-10-30 19:18] #404 closed

[2019-10-30 19:31] mayurkale22 opened #467 "MIssing Codecov report"
Issue: Intermediately Codecov base report is missing. See #https://github.com/open-telemetry/opentelemetry-js/pull/417#issuecomment-547608410 and https://github.com/open-telemetry/opentelemetry-js/pull/466

Also, saw "**Unable to find commit in GitHub**" in [codecov](https://codecov.io/gh/open-telemetry/opentelemetry-js). Not sure if these things are related. Need to do some investigation.
<img wi

[2019-10-31 12:27] obecny commented on #467
@mayurkale22 it looks like this message is showing already for some time and from about 9-10 days almost each commit

[2019-10-31 13:55] dyladan commented on #368
I just ran into this issue. It looks like a symlink resolution issue https://github.com/nodejs/help/issues/1212

It can possibly be fixed by removing `'examples/*'` from the packages array in the `lerna.json`. Testing locally right now and I'll make a PR if it fixes it.

[2019-10-31 15:04] dyladan opened #471 "Importing @opentelemetry/core fails with no other dependencies"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

0.1.1

### What version of Node are you using?

10.15.0

### What did you do?
If possible, provide a recipe for reproducing the error.

1. create a new node.js project
2. install `@opentelemetry/core`
3. import `@opentelemetry/core`

### What did you expect to see?

Useable OpenTelemetr

[2019-10-31 21:23] #465 closed

[2019-11-01 14:15] obecny commented on #457
please assign this to me

[2019-11-01 14:15] obecny commented on #456
please assign this to me

[2019-11-01 16:33] mayurkale22 commented on #471
@dyladan Can we close this one via https://github.com/open-telemetry/opentelemetry-js/pull/472?

[2019-11-01 16:36] dyladan commented on #471
yes

[2019-11-01 16:36] #471 closed

[2019-11-01 16:50] dyladan commented on #471
@mayurkale22 I was just thinking about this. The program crashed. Failing to load a plugin should not cause a crash right? The actual crash was not during plugin load but was in the line that logs the traceId. Something along the lines of `cannot access traceId of undefined`. Should I open another issue for that?

[2019-11-01 16:54] mayurkale22 commented on #471
Sure, please provide a recipe for reproducing the error.

[2019-11-01 18:34] dyladan commented on #471
I was creating the bug and realized I was mixing up 2 different bugs. Current state is fine :)

[2019-11-01 19:00] mayurkale22 opened #474 "Consider how to deal with already registered metric"
### Summary:
A given `metric` is only meant to be registered once, this issue is to decide how to handle duplicate or already registered `metric` (Currently not permitted and cause an error with Prometheus).

### Possible Solutions:
- Option 1: Replace the old registered metric by the new: This seems to be problematic, especially when you use the same `name` but different `type` or `unit`. This mi

[2019-11-01 19:27] dyladan commented on #474
It is my opinion that Option 3 is the only currently viable option as option 1 may create problems with different backends (maybe this is handled by individual exporters?) and option 2 is not compatible with current spec (incorrect usage should not throw).

Option 3 may be confusing at first (generally I would expect it to behave like other `Set`-like APIs which overwrite rather than ignore if you

[2019-11-01 20:11] #455 closed

[2019-11-03 20:03] #442 closed

[2019-11-03 22:00] zhongcai1 opened #476 "E404 when installing @opentelemetry/plugin-document-load"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

### What version of Node are you using?
node --version
v10.15.3

### What did you do?
I am trying to run opentelemetry example/tracer-web, but see following error when running
npm i

npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@opentelemetry%2fplugin-docum

[2019-11-03 22:44] mayurkale22 commented on #476
This package is not yet released, it will be available with 0.2.0 (Maybe next week).

[2019-11-04 19:38] lizthegrey opened #481 "coverage runs take 2 min out of every circleci build"
See https://circleci.com/gh/markwolff/opentelemetry-js/673 for instance -- the fact that each different JS version is repeating the same code coverage (6x) reports results in extensive queuing for the entire otel organization.

Can you consider only running full coverage reports on a subset of environments?

[2019-11-04 19:48] bogdandrutu commented on #481
In Java we run coverage only for one version

[2019-11-04 20:04] mayurkale22 commented on #481
I think it makes sense to remove code coverage from each different JS version and keep only two coverage report -> node (maybe `node:11`) and browser (`node:12-browsers`).

Also, somehow [Install Dependencies](https://github.com/open-telemetry/opentelemetry-js/blob/master/.circleci/config.yml#L25-L27) job takes > 3m almost every time, need to do some investigation.