[2021-04-14 14:41] Rauno56 commented on #2110
Playing with the idea a bit further, for that to be implemented, we need to change how we use `require-in-the-middle` or change `require-in-the-middle` itself.

1. Change how we use `require-in-the-middle`. Currently we wrap require every once for every patch fn any instrumentation has. That buries the real `require` potentially very deep into those calls, makes it difficult to unwrap that later(i

[2021-04-15 23:17] jessebond2 commented on #1949
I'd like to second this request. I'm profiling the impact on our production build and noticing that adding a number of opentelemetry packages is adding roughly 60kb~ to the final build, which is really large. It will have a negative impact on frontend performance...

[2021-04-16 08:27] vmarchaud commented on #1949
@jessebond2 Could you please provide the list of otel dependencies you are using ? If you can also have the details of which package is the heaviest, that would help a lot !
For information: there are work done to ship ESM version (https://github.com/open-telemetry/opentelemetry-js/pull/2112) so components are better treeshaked (at least we hope)

[2021-04-17 05:18] huanbd opened #2116 "Error when send trace from web to opentelemetry-collector"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
[code]

### What did you do?
I use [this sample](https://github.com/open-telemetry/opentelemetry-js/tree/main/examples/tracer-web/examples/xml-http-request) with configuration
[code]
### Environment
Browser: Firefox 87.0 / Chrome 90.0
Opentelemetry-collector: 0.23

### This is error :
[c

[2021-04-17 15:53] vmarchaud commented on #1676
Requested clarification from the spec: https://github.com/open-telemetry/opentelemetry-specification/issues/1622

However it seems that Ruby just check if dependency are installed (https://github.com/open-telemetry/opentelemetry-ruby/pull/604/files#diff-e6a05d2b9d8d72a4c1ab589e75a9aa34e484e073af6443d428929c0c554f93eaR201), it would be easily be possible for the node SDK (harder for the browser tho

[2021-04-18 11:59] weyert commented on #2110
Yeah, great idea, I think this would allow people that forked libraries (e.g. typeorm) and published under a different name to still use the existing instrumentation libraries. E.g. instead of `typeorm` using `@company/typeorm`

[2021-04-19 03:59] naseemkullah commented on #393
`@opentelemetry/instrumentation-http` now combines them: https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-instrumentation-http 🎉

[2021-04-19 03:59] #393 closed

[2021-04-19 13:08] seemk opened #2119 "instrumentation: respect multiple instrumentation module definitions with different supported versions"
### What version of OpenTelemetry are you using?

`0.18.2`

### What version of Node are you using?

`v14.16.0`

This came up when isntrumenting pino (https://github.com/open-telemetry/opentelemetry-js-contrib/pull/432), the idea was to support multiple versions of pino, so I set up multiple definitions corresponding to each `pino` version:

[code]

This however does not work due to faulty logic i

[2021-04-19 15:45] dyladan commented on #2119
Thanks for bringing this up because that was sort of the whole reason for having multiple definitions in the first place :) (also to support things like http and https in the same instr)

[2021-04-19 17:14] obecny commented on #2119
on it

[2021-04-19 17:15] dyladan commented on #2119
He already opened the fix #2120

[2021-04-19 17:16] obecny commented on #2119
I see

[2021-04-20 02:18] anuraaga opened #2123 "improv: use `semantic-conventions` for resource attributes"
Currently there are constants for many resource namespaces.

https://github.com/open-telemetry/opentelemetry-js/blob/c0b021be5782ebee6a23015c992dc496b105dad2/packages/opentelemetry-resources/src/constants.ts

~~But there isn't one for FAAS yet. Once there is, we can use it from the aws lambda resource detector.~~

EDIT @vmarchaud: We should remove those hardcoded values and use the one defined in

[2021-04-20 08:06] vmarchaud commented on #2123
I'm wondering if there is a definition somewhere (like the `semantic-conventions`) that we can use to code-generate them.

[2021-04-20 08:11] anuraaga commented on #2123
Yeah the definition is at https://github.com/open-telemetry/opentelemetry-specification/blob/main/semantic_conventions/resource/faas.yaml

[2021-04-20 08:16] vmarchaud commented on #2123
Well if there are defined on the semantic conventions, its already available [there](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-semantic-conventions/src/resource/ResourceAttributes.ts) (it's generated), there even faas attributes.

[2021-04-20 08:17] CathalAherne opened #2124 "Cloudwatch percentiles always return 0"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
"@opentelemetry/metrics": "0.18.0",

### What version of Node are you using?
"@opentelemetry/node": "^0.18.0",

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?
This metric data was exported to cloudWatch but returns 0 for percentiles. Ave

[2021-04-20 08:19] anuraaga commented on #2123
@vmarchaud Oh, sorry! Didn't realize there was a different file. Guess the existing `CLOUD_RESOURCE` type of constants are deprecated, makes sense.

[2021-04-20 08:47] vmarchaud commented on #2123
I think we should remove those and use semantic conventions though, i'm re-opening so someone can pick it up

[2021-04-20 11:44] Flarna opened #3310 "Add suport to flush via API"

[2021-04-20 15:44] #1675 closed

[2021-04-20 16:03] #2119 closed

[2021-04-20 18:02] jtmalinowski commented on #1676
Just an opinion but I like supporting `OTEL_TRACES_EXPORTER` in NodeJS and not supporting it in the browser. On the server-side it potentially allows configuring exporting by devops without touching the application code, on the client-side I can't see any significant benefits.

[2021-04-20 18:06] dyladan commented on #1676
I agree that dynamically configuring the exporter in the browser seems like extremely questionable value.

[2021-04-20 18:43] obecny opened #2131 "instrumentation class _enabled"
convert private `_enabled` in class `InstrumentationBase` for node to be protected so inherited class can use it.

[2021-04-20 19:41] joshua-tso opened #2132 "Is there a reason why this try is not caught?"
https://github.com/open-telemetry/opentelemetry-js/blob/c516264ed0c01b714770c5d2a8ca78fd793625d9/packages/opentelemetry-context-async-hooks/src/AsyncHooksContextManager.ts#L48

[2021-04-20 19:45] vmarchaud commented on #2132
That's because we don't want to catch errors thrown within `.with` which is user code

[2021-04-20 19:45] dyladan commented on #2132
What would you expect a catch block to do? The function is already called, and the finally block ensures context is restored properly regardless of if the function throws. Omitting the catch block ensures that the caller receives the exception. It is equivalent to simply rethrowing.

This is a common pattern when cleanup needs to be performed regardless of success/failure.

[code]

[2021-04-20 19:46] dyladan commented on #2132
[code]

[code]

[2021-04-20 20:22] #2132 closed

[2021-04-21 00:19] jessebond2 commented on #1949
Hey @vmarchaud, sorry for the delayed response. Here's the list of packages I tried using and the incremental size diffs each package added. This was from the output of our production webpack build.

![image](https://user-images.githubusercontent.com/30394856/115479127-9b0bbb80-a1fc-11eb-8a2e-f20fee6be31d.png)

[2021-04-21 04:57] roastedmonk commented on #707
Will this not require span.end()?

[2021-04-21 06:35] Flarna commented on #707
Nope, you get a reference to an existing span or `undefined`. No span is created/started here. As the span here is started by someone else the responsibly to end it is still there not here.

[2021-04-21 06:56] Rauno56 commented on #2131
It's also something I looked for when writing `restify` instrumentation.

[2021-04-21 10:08] Rauno56 commented on #2106
That's the old autoloader trying to find the plugins and failing. These modules will not actually be instrumented because of this. However, you are going to see spans because of the call to `registerInstrumentations` of course.
The old autoloader is removed from the `main` and 1.0 will ship without it.

[2021-04-21 12:24] CyberHippo commented on #2106
Thanks for the explanation @Rauno56. I will close the issue.

[2021-04-21 12:24] #2106 closed

[2021-04-21 14:22] carlosalberto opened #2136 "Consider renaming JaegerHttpTracePropagator to JaegerPropagator"
As there's a single Jaeger propagation format, it may be handy to simply call it `JaegerPropagator`.

[2021-04-21 14:23] carlosalberto opened #2137 "Implement `Baggage` support for Jaeger propagation"
Jaeger propagates tracing information but baggage values as well.

[2021-04-21 14:24] carlosalberto opened #2138 "`TraceContext` should exist under trace/"
`TraceContext` propagates tracing related information, so it should go under the trace/ subsection, instead of context/ (this is also what other SIGs do).

[2021-04-21 14:25] carlosalberto opened #2139 "Rename `TracerParams` to `SpanLimits`"
This is the new name as stated in the Specification.

[2021-04-21 14:26] carlosalberto opened #2140 "`TracerProvider` should expose `forceFlush()`"
Also `SpanExporter` added support for `forceFlush()`, but it was done in 1.1, not in 1.0 - for your consideration ;)

[2021-04-21 14:27] carlosalberto opened #2141 "Consider not exposing `getActiveSpanProcessor` at `Tracer` level"
Although not clearly stated in the Specification, usually this functionality is _only_ exposed at the `TracerProvider` level. Not a strong feeling though.

[2021-04-21 14:28] carlosalberto opened #2142 "Consider adding the `Propagator` suffix to tracecontext/baggage propagators"
This is mostly a (so called) aesthetic change, as other SIGs append the `Propagator` suffix to all propagators, in order to be verbose about their specific functionality.

[2021-04-21 14:31] carlosalberto opened #2143 "`TracerProvider`'s newly set `Resource` should have service name set"
As per the [Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/README.md#service) when a `TracerProvider` sets its `Resource` it should provide a default value for `service.name`, if none was specified.

[2021-04-21 16:34] weyert commented on #2139
👋

[2021-04-21 16:37] weyert commented on #2141
:wave:

[2021-04-21 16:39] weyert commented on #2140
:wave:

[2021-04-21 16:59] dyladan commented on #2141
@weyert @obecny you should decide between yourselves who is doing this

[2021-04-21 17:12] Ancient-Dragon opened #2144 "Issues with joining traces between fetch instrumentation and java service"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
    "@opentelemetry/api": "0.17.0",
    "@opentelemetry/context-zone": "0.17.0",
    "@opentelemetry/core": "0.17.0",
    "@opentelemetry/exporter-collector": "0.17.0",
    "@opentelemetry/instrumentation": "0.17.0",
    "@opentelemetry/instrumentation-fetch": "0.18.2",
    "@opentelemet

[2021-04-21 17:15] dyladan commented on #2144
My first thought is that it looks like you're at least using incompatible versions. Please look at https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix

It also looks like you're not calling `tracerProvider.register`?

[2021-04-21 17:17] Ancient-Dragon commented on #2144
I will try using version v0.17.0 of the lib, but I can see traces being generated which was why I wasn't too worried about that. But will give it a go. I am calling tracerProvider.register, its right after I add the spanProcessor.

[2021-04-21 18:47] obecny commented on #2141
@weyert if you want to work on it - fine for me just please comment on it. You should check all examples / readme everywhere to make sure it will be updated correctly if it will be using `getActiveSpanProcessor` on tracer. Please let me know

[2021-04-21 19:29] dyladan commented on #2144
@obecny any ideas? i'm less familiar with the web setup process than you are

[2021-04-21 19:58] rgarcia opened #2145 "no exported member 'LogLevel'"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

latest published release

### What version of Node are you using?

v12

### Please provide the code you used to setup the OpenTelemetry SDK

the example here https://github.com/open-telemetry/opentelemetry-js/blob/main/getting-started/ts-example/README.md#initialize-a-global-tracer

###

[2021-04-21 19:58] obecny commented on #2144
1. well if you are using mixed instrumentation versions that will depend on different api version then you will never have a chance to use a  context manager - all traces will be disconnected as it you register everything without context manager.

2. You are also not using any context manager - this way it is also impossible to have traces being connected. To fix this use ZoneContextManager
[code]

[2021-04-22 08:11] vmarchaud opened #2146 "improv: naming sdks"
Discussed at the SIG, its really confusing to have the sdk term for `@opentelemetry/node` and `@opentelemetry/web` (which are the tracing sdks) and the "sdk" term of package with more components (ex: `@opentelemetry/sdk-node`).
I think we should have:
- `@opentelemetry/node-tracing` which is the node tracing sdk
- `@opentelemetry/browser-tracing` which is the browser tracing sdk
- `@opentelemetry/

[2021-04-22 09:41] Ancient-Dragon commented on #2144
Hi @obecny, are you sure that I need all of this, I can see that by default the tracer provider will use the W3C trace context, and I can see with that same implementation just with the xml-http instrumentation that my traces get linked up. The issue I think is case is that the fetch library does not append the traceparent header by default, once I tried using the b3 propagatorI could see it addin

[2021-04-22 11:22] Rauno56 commented on #2146
I'd name them from ordering tokens("isSdk", platform, bundle type) from general to specific:

- `@opentelemetry/sdk-*` SDKs of any kind,
- `@opentelemetry/sdk-node-*` SDKs for node,
- `@opentelemetry/sdk-node-tracing` tracing SDKs for node,
- `@opentelemetry/sdk-node-all` all-in-one bundle.

[2021-04-22 18:00] weyert commented on #2145
I think you are looking for:

[code]

[2021-04-22 18:26] alokp opened #2147 "GRPC instrumentation doesn't extract from B3 multi propagator"
### What version of OpenTelemetry are you using?

0.19.0

### What version of Node are you using?

14

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

I am running a GRPC server. My client sends zipkin tracing headers (x-b3-traceid, x-b3-spanid and x-b3-sampled)

### What did you expect to see?

I was expecting the B3Propagator to extract the trac

[2021-04-22 18:36] #1253 closed

[2021-04-22 18:36] #1378 closed

[2021-04-22 19:54] obecny commented on #2141
ok too late started working on that :D

[2021-04-22 20:05] obecny commented on #2141
@open-telemetry/javascript-maintainers I'm affraid we won't be able to do that
https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-tracing/src/Span.ts#L80
We use this information to be able to call onStart on specific processor. Due to this I think we should close it without changing anything, unless you have strong opinion on this and know how we could fit this, al

[2021-04-22 20:09] dyladan commented on #2141
Since carlos said he didn't have a strong feeling and this is only an SDK concern, not API, I think it's fine to close.

[2021-04-22 20:10] #2141 closed

[2021-04-22 21:45] Flarna commented on #2141
The `Tracer` has a reference to it's `TracerProvider`. We could pass it to the `Span` constructor. Or we add a public getter on `class Tracer` to get the `TracerProvider` instead the `SpanProcessor`.

But not sure if it is worth the effort.

[2021-04-23 02:46] SunilManthenaG01 opened #2152 "Is there a plan to make @opentelemetry/exporter-jaeger usable in browser based application. Currently is there any way we can hit the jaeger from browser"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

[2021-04-23 19:25] jpettit commented on #1214
Any update on this?

[2021-04-23 19:28] dyladan commented on #1214
No update. The tight constraints of service workers, particularly their security considerations, make it very difficult to implement tracing. The performance API is removed specifically to disallow accurate timings. If someone was willing to contribute a solution or even a proposal I would be happy to consider it.

[2021-04-23 22:01] weyert opened #2156 "Github release for 0.19 missing"
We released a new version of the packages as part of 0.19 but there is no Github release for 0.19

[2021-04-25 07:40] vmarchaud commented on #2156
cc @dyladan

[2021-04-25 12:52] vmarchaud opened #2157 "improv(tests): add e2e test with collector for all of our collector exporters"
Sure, but i think it would make sense to make test with the collector (end to end pretty much) itself in our pipeline so this doesn't require manual testing in the future

_Originally posted by @vmarchaud in https://github.com/open-telemetry/opentelemetry-js/issues/2117#issuecomment-824831352_

[2021-04-25 13:36] vmarchaud commented on #2137
Spec: https://www.jaegertracing.io/docs/1.21/client-libraries/#propagation-format

[2021-04-25 14:26] vmarchaud commented on #2146
cc @open-telemetry/javascript-approvers

[2021-04-26 04:11] contractormarketplace opened #2162 "Spans from Node.js code NOT registering with the collector."
We have a simple .js file that we run through node as follows :-

'use strict';

const opentelemetry = require('@opentelemetry/api');
const { BasicTracerProvider, ConsoleSpanExporter, SimpleSpanProcessor } = require('@opentelemetry/tracing');
const { CollectorTraceExporter } = require('@opentelemetry/exporter-collector');
// const { CollectorTraceExporter } = require('@opentelemetry/exporter-colle

[2021-04-26 14:08] jorgelbg opened #2160 "instrumentation-grpc: Undefined path attribute in clientMethodTrace"
### What version of OpenTelemetry are you using?

0.19.0  from the `main` branch

### What version of Node are you using?

v14.16.1 / macOS 10.15.7

### Please provide the code you used to setup the OpenTelemetry SDK

example from [examples/grpc](https://github.com/open-telemetry/opentelemetry-js/tree/main/examples/grpc).

### What did you do?

Running the grpc instrumentation example:

[code]
and

[2021-04-26 19:28] mhirsch opened #2161 "Problem assigning parent span to manually created spans"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

@opentelemetry/api@0.18.1
@opentelemetry/node@0.18.2
@opentelemetry/tracing@0.18.2

### What version of Node are you using?

nodejs-14.16.1-1.fc33.x86_64

### Please provide the code you used to setup the OpenTelemetry SDK

This is a very much reduced test case that uses the `NoopTracer

[2021-04-26 19:50] mhirsch commented on #2161
Thank you! I even looked at that example and didn't get it. Sorry, and I really appreciate your help.

[2021-04-26 19:50] #2161 closed

[2021-04-27 05:30] contractormarketplace opened #2163 "Spans from Node.js code NOT registering with the collector."
opentelemetry-js/examples/collector-exporter-node/tracing.js is NOT working as expected. It does NOT connect to the collector to record spans.

We expect this to generate spans in the collector. However, the collector is NOT receiving these spans.

**Environment
OS: Ubuntu 20.04.2 LTS
Collector Version aws-otel-collector-0.8.0
Dataprepper Version 0.8.0-beta

[2021-04-27 05:32] contractormarketplace commented on #2163
The collector config and data prepper config are attached.
[trace_analytics_no_ssl.yml (1).txt](https://github.com/open-telemetry/opentelemetry-js/files/6382070/trace_analytics_no_ssl.yml.1.txt)
[otel-collector-config.yml.txt](https://github.com/open-telemetry/opentelemetry-js/files/6382072/otel-collector-config.yml.txt)

[2021-04-27 06:48] Flarna commented on #2163
Closing as this seems to be a dup of #2162

[2021-04-27 06:48] #2163 closed

[2021-04-27 16:45] vmarchaud commented on #2156
https://github.com/open-telemetry/opentelemetry-js/releases/tag/v0.19.0

[2021-04-27 16:45] #2156 closed

[2021-04-27 21:50] Ancient-Dragon commented on #2144
Hi @obecny, don't suppose you have any update on the response I posted above?

[2021-04-28 12:08] thisthat opened #2164 "ParentBasedSampler should not drop invalid SpanContext"
### What version of OpenTelemetry are you using?
0.19.0 from the `main` branch.

### What version of Node are you using?
v14

### What did you do?

[code]
### What did you expect to see?
The decision to be `RECORD_AND_SAMPLED`

### What did you see instead?
The decision was `NOT_RECORD`

### Additional context
The SDK spec says for the [shouldSample](https://github.com/open-telemetry/opentelemetry

[2021-04-28 13:28] dyladan commented on #2144
If you are making a request to a different origin you will need to set the `propagateTraceHeaderCorsUrls` configuration on the fetch instrumentation. This is to prevent the header from causing CORS violations

[2021-04-28 13:34] Ancient-Dragon commented on #2144
I already have that setup on both instrumentations, and I can see the b3 header being added when I use that propagator, but I don't when not using the B3 Propagator.

[2021-04-28 13:43] Flarna opened #2166 "Sampler doesn't honor SpanOptions#root"
`Tracer#startSpan()` ignores any parent if `options.root` is `true`.

The followup call to sampler passes the `context` as is but not `options.root`.

As a result the sampler may use a different parent then tracer.

[2021-04-28 14:44] obecny commented on #2144
Yes all of the parts I described are needed. By default we are enabling tracecontext and baggage. If it is enough for you then you don't need to use B3 as you already noticed they are propagated already. I used B3 as an example propagator, but you can disable enable anything depends on yr needs, however you still need at least one propagator to propagate things correctly.

[2021-04-28 16:07] #2164 closed

[2021-04-28 20:39] obecny commented on #1676
not sure if this is already not too late, but I was proposing long time ago we split each exporter into at least 2 things, "converter" and "transporter" with exporter collector it will happened quite soon - the function for converting will be exported into new package right ?.

I can imagine we could have some builder pattern that could build the exporter pipeline like this.

[code]

[2021-04-28 20:42] dyladan commented on #1676
This seems like a big change for limited value since most exporters have 1 preferred transport

[2021-04-29 08:12] #2138 closed

[2021-04-29 14:04] dyladan commented on #2144
I think what he's saying is that he doesn't see the traceparent header when using fetch, so the defaults are not working for him.

[2021-04-29 16:08] naseemkullah commented on #1923
After hitting this issue today (and getting help from @vmarchaud [thanks again!]), I'd like to confirm my agreement to a high level method on `tracer` such as `tracer.startSpanAsActive()`

[2021-04-29 22:47] vreynolds commented on #2030
Chunking up the updates:
- ~~add shim constructor with custom propagators~~ [done]
- spanShim.setTag updates
- spanShim.log updates
- span context immutability and managing association with span

I can work on the setTag updates next, will not claiming anything else at the moment :)

[2021-04-30 13:43] weyert opened #2170 "ReferenceError: Cannot access 'FALLBACK_OTEL_TRACES_SAMPLER' before initialization"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.19

### What version of Node are you using?
14.5.0

### Please provide the code you used to setup the OpenTelemetry SDK
N/A

### What did you do?
I am trying to run some unit tests in CI and Jest was throwing this error:

[code]

If possible, provide a recipe for reproducing the error.

[2021-04-30 13:45] dyladan commented on #2170
`FALLBACK_OTEL_TRACES_SAMPLER` is already declared above `buildSamplerFromEnv`...

From the code I'm looking at this should definitely not be happening. I wonder if either tsc or webpack is doing some mangling? What tests were causing this? I haven't seen this failure in our CI yet.

[2021-04-30 13:48] weyert commented on #2170
Oh these our my project's tests :)

[2021-04-30 13:48] dyladan commented on #2170
I think this might be a bug with your program, not with our library. Can you provide a repro?

[2021-04-30 13:51] weyert commented on #2170
I was thinking this call is problematic: https://github.com/open-telemetry/opentelemetry-js/blob/c516264ed0c01b714770c5d2a8ca78fd793625d9/packages/opentelemetry-tracing/src/config.ts#L37

As it calls `buildSamplerFromEnv` which uses `FALLBACK_OTEL_TRACES_SAMPLER` but `FALLBACK_OTEL_TRACES_SAMPLER` is not defined above `DEFAULT_CONFIG`.

But yeah, I agree it should crash :)

[2021-04-30 13:56] mhennoch commented on #2144
I tried to reproduce it but it seems to work fine.  Can you create an example app for just the frontend part?

[2021-04-30 14:04] dyladan commented on #2170
![image](https://user-images.githubusercontent.com/1612643/116706280-78ffff00-a99b-11eb-8d70-03669b34d119.png)

you're right. easy to fix though

[2021-04-30 14:07] dyladan commented on #2170
https://github.com/open-telemetry/opentelemetry-js/pull/2171

[2021-04-30 14:08] dyladan commented on #2170
JS function hoisting hoists the function `getConst` but does not hoist the const being returned. Even though it appears in the code that the const is declared before the function, during runtime it is actually not.

[2021-04-30 14:49] svrnm commented on #2123
I could take this one. Please also see my comment on semantic conventions here: https://github.com/open-telemetry/opentelemetry-js-contrib/pull/447#discussion_r623934101

[2021-04-30 17:16] obecny commented on #2144
There is already example for fetch the same as xhr
https://github.com/open-telemetry/opentelemetry-js/tree/main/examples/tracer-web/examples/fetch
remove the B3Propagator if you want the traceparent and it works fine for me

![image](https://user-images.githubusercontent.com/1250998/116730100-59db8e80-a9e8-11eb-8679-0545aed51d5d.png)

[2021-04-30 17:37] dyladan commented on #2144
@obecny he is asking @Ancient-Dragon for a runnable example of it broken, not an example of it working

[2021-04-30 20:45] #2142 closed

[2021-05-01 06:56] vmarchaud opened #2174 "feat: implement `getConfig`/`setConfig` on base instrumentation class"
Context: https://github.com/open-telemetry/opentelemetry-js-contrib/pull/463/files#r623829680

We already discussed this when migrating some plugins to instrumentation but this is mostly used to be able to dynamically update instrumentation configuration at runtime. Even though i'm not sure if anyone has used this in production, that allows us to test them easily since we don't have to recreate th

[2021-05-01 07:00] #2170 closed

[2021-05-01 16:38] pauldraper commented on #538
`const enums` are a TypeScript misfeature.

They force downstream consumers to have a TypeScript compiler that reads and inlines the value.

And they offer no real benefit. Doesn't make code faster. Saves a scant handful of bytes.

[2021-05-02 02:08] dyladan commented on #538
There is no more types package so I think this should be closed.

Const enums don't require downstream to have typescript. They compile to point of use string constants. That's the whole point. The absolutely miniscule performance benefit that may exist is not worth the trade off imo

[2021-05-02 06:05] prondubuisi opened #2175 "Error with basic-tracer-node-example"
I am trying to check out the example for the [above ](https://github.com/open-telemetry/opentelemetry-js/tree/main/examples/basic-tracer-node/docker/ot) and I get the following error while running the `docker-compose up ` command

`ERROR: The image for the service you're trying to recreate has been removed. If you continue, volume data could be lost. Consider backing up your data before continuing

[2021-05-02 13:16] pauldraper commented on #538
Apparently it doesn't matter anymore, but FYI..."compiling to point of use" requires the point of use to have a compiler. JS-only consumers cannot use anything that's a const enum.

[2021-05-02 14:24] dyladan commented on #538
No it's done at our compile time not at users compile time. The output JS just has string literals

[2021-05-02 14:37] vmarchaud opened #2177 "bug: tracing sdk depend on `src` dir from core"
https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-tracing/src/config.ts#L26

[2021-05-02 19:11] wisecodecraft commented on #1594
Is this still an open issue?

[2021-05-02 19:23] pauldraper commented on #538
I suppose, yeah, JS consumers just need written documentation on what the runtime values are. (Still gonna call this a TS misfeature though.)

[code]

TS consumer:

[code]

JS consumer:

[code]

[2021-05-02 20:49] Flarna commented on #538
I think const enums are fine for internal use but quite useless / error prone if used in exports of a module.

[2021-05-03 11:48] dyladan commented on #538
I think we are all in agreement.

[2021-05-03 12:58] pauldraper opened #2181 "withSpan/withSpanAsync helpers"
I have to rewrite this in every project. Is there somewhere this can fit?

[code]

[2021-05-03 13:04] Flarna commented on #2181
maybe https://github.com/open-telemetry/opentelemetry-js-api/pull/54 will fit your needs?

[2021-05-03 13:43] Rauno56 opened #3313 "Errors in global registration are likely to be eaten"
https://github.com/open-telemetry/opentelemetry-js-api/blob/main/src/internal/global-utils.ts uses diag logger to report issues with registering globals.

This is not adequate when the user doesn't control both of the installed packages registering those globals(that is definitely most cases) because they would then have no way to configure the logger to actually show those messages in the first p

[2021-05-03 14:05] dyladan commented on #1594
No we're migrated off circle

[2021-05-03 14:05] #1594 closed

[2021-05-03 15:59] dyladan commented on #2139
@weyert any movement on this?

[2021-05-03 15:59] dyladan commented on #2140
@weyert any movement on this?

[2021-05-03 16:06] mmanciop opened #2182 "Support for activating automatic instrumentation via the NODE_OPTIONS env var"
**NB:** Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

### Is your feature request related to a problem? Please

[2021-05-03 16:09] MSNev commented on #538
I don't believe that we are all in agreement.

Const enums are not a mis-feature or useless / error prone for exported modules. If you have a JS user they can pass anything they like so the "error prone" nature exists for all API's.

I've not had cycles recently to look at this, but it's also possible that this can be done after 1.0.0 without breaking anything, which is why I've not been pushing t

[2021-05-03 16:52] dyladan commented on #538
Happy to reopen if there is dissent :)

[2021-05-04 11:09] vmarchaud commented on #2182
You should use the node sdk (https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-sdk-node) to achieve that, note that currently it doesn't support enabling exporter via environment (but this is in progress)

[2021-05-04 17:03] #2136 closed

[2021-05-04 20:27] obecny commented on #2181
Well I would be happy to have this on api global level as stated here but seems it will not happen very soon. Unfortunately you are not the only one that see huge benefits in having such easy helpers, me too and I'm annoyed of using otel without such things. I was even thinking of simply creating a package called something like `@opentelemetry-js-api-helpers` etc. putting this anywhere and then si

[2021-05-04 21:36] pauldraper commented on #2181
Sounds like API is the right place. Thanks! Closing the issue here.

[2021-05-04 21:36] #2181 closed

[2021-05-05 07:04] svrnm commented on #2182
@mmanciop this does not need to be provided by the open telemetry packages OOTB, you can create such a solution for yourself. Here is a quick example:

https://github.com/svrnm/opentelemetry-automatic-instrumentation

All you need to do is run `npm install` in the `instrumentation` folder, then go into the `application` folder and start the app with injection:

[code]

This does not invalidated yo

[2021-05-05 07:30] svrnm opened #2184 "Standardise implementation of non-official attributes"
As discussed [here](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/447#discussion_r625869033) there are different cases of resource/span and other attributes within instrumentation libraries. I open up this issue for the case of attributes that are either not yet standardized or  unique to Node.JS/WebJS or unique to the instrumented library (like express, hapi, restify).

As of no

[2021-05-05 12:17] mmanciop commented on #2182
Thanks, I was missing the `../instrumentation/inject.js` path ;-)

[2021-05-05 12:17] #2182 closed

[2021-05-05 13:20] dyladan commented on #2182
You can also use the `-r` flag directly without using an env variable if you have control over the CLI

[2021-05-05 15:09] dyladan commented on #2184
I think the answer to this is basically yes. There is really no downside.

The answer to this is also yes, but I don't know if we should decide. This seems like a question for the spec.

[2021-05-05 15:55] dyladan commented on #2160
Closed in #2179

[2021-05-05 15:55] #2160 closed

[2021-05-05 16:37] pauldraper opened #2186 "Rationale for what to put in core and contrib"
What's the approach followed in deciding whether to contribute to open-telemety/opentelemetry-js and opentelemetry-js-contrib ?

I understand it could make sense to divide, but to the ignorant eye, it seems pretty arbitrary.

`opentelemetry-intrumentation-http` is a "core" package but `opentelemetry-instrumentation-net` is a "contrib" package. Why?

Looked through docs, issues, and PR to see if th

[2021-05-05 18:45] pauldraper commented on #2072
The oldest supported version by AWS Lambda, Google Cloud Functions, and Azure Functions is Node.js 10.

Considering that Opentelemetry hasn't even yet had a stable release, I'd be surprised by very large intersection of Node.js 8 + Otel.

[2021-05-05 18:49] dyladan commented on #2072
I agree. It would be nice if we had some metrics from npmjs.com on which versions of node/npm downloaded the package regularly. Now that the API is out of this repo we could probably more easily move to yarn and drop the node 8 requirement for packages in this repo. We could almost certainly do it for the contrib repo.

[2021-05-05 19:10] pauldraper commented on #2072
I just should have looked at end-of-life. Node.js 8 support expired Dec 2019.

In fact, Node.js 10 EOL was actually last month (April 2021).

As a general, I suggest supporting versions -- or maybe just LTS versions -- in active support (12, 14, 15, 16).

[2021-05-05 19:53] dyladan commented on #2072
For SDK I think that's fair. For API I think we have to go back much further. If we want libraries to build in first-party support for the otel API, we have to impose as few restrictions on them as possible. SDK users are our users, so we can decide on our own restrictions there.

[2021-05-05 19:54] dyladan commented on #2072
I can't make this decision alone. I think this requires consensus from at least the other @open-telemetry/javascript-maintainers

[2021-05-05 19:57] obecny commented on #2162
I checked yr example again this docker example
https://github.com/open-telemetry/opentelemetry-js/tree/main/examples/collector-exporter-node/docker
it works fine for me
![image](https://user-images.githubusercontent.com/1250998/117200392-c214e080-adeb-11eb-9973-baf2c11a3651.png)

I have upgrade the docker also to latest image ver. 26 just need to remove `queued_retry` and it worked too.

I'm not s

[2021-05-05 19:59] dyladan commented on #2186
Probably should document it in a readme or contributing md.

Things that go in core:

1. Anything required to be spec compliant. if an exporter is required by spec, it goes in core. Similarly propagators, et cetera.
2. Extremely high-value instrumentations that huge numbers of users will want and use. For now, this essentially just means http(s), fetch, xhr, and grpc. Being built-in helps a lot he

[2021-05-05 20:05] obecny commented on #2072
The api itself doesn't depend on any package, also doesn't require anything that is not supported on node 8. So I think we should not be really so strict to raise up the api support from node ver. 10 or even 12. From what I know the node 8 works just fine so don't see a reason why we should remove support if we don't have to. Besides we already support it right ?.

With regards to sdk itself I wou

[2021-05-05 20:07] dyladan commented on #2072
Yarn doesn't work on node 8. That means we can't run our test infrastructure using yarn for the node 8 tests. The reason to drop support here would be to switch back to yarn because it is a much faster lerna bootstrap that uses fewer resources.

[2021-05-05 20:10] obecny commented on #2072
well we can use yarn for other versions and keep 8 as it is. I don't see this as a must to drop support for ver. 8. Some people might be still using it then we we should limit them ?

[2021-05-05 20:10] pauldraper commented on #2072
Up to you of course, but my 2c is that Node 8 users are comfortable using an unsupported old version of Node.js; they can use an unsupported old version of `@opentelemetry/api`.

I have no expectation for a library to continuing support past the platform itself.

[2021-05-05 20:30] vmarchaud commented on #2186
Vendor specific components are still split around, i believe we don't aim for all of them to be on contrib if i'm not mistaken ? (Even though if they want they could host it there like aws is doing)

[2021-05-05 20:35] vmarchaud commented on #2072
I would prefer to do a GA with the oldest LTS (ie 12) for SDK and node 8 for API (which has a seperate CI etc so seperate tooling seems fine)

[2021-05-05 20:46] dyladan commented on #2072
I agree with @vmarchaud

Even if node 8 is supported now, if one of our deps drops support for it then we will need to push a breaking change to update that dep.

[2021-05-05 20:51] Flarna commented on #2072
Instrumentations usually depend also on `@opentelemetry/semantic-conventions` and `@opentelemetry/instrumentation` - which in turn depends on `require-in-the-middle` (which has some more deps), `semver` and `shimmer`.

If we want to be instrumenation friendly these packages should be also considered for the node 8 league.

[2021-05-05 23:47] anuraaga commented on #2072
Thanks for the nice discussion! FWIW "We can keep it unofficially working but not officially supported." seems reasonable to me, but also agree with @Flarna's concern that in practical cases there will be a few more libraries needed for instrumentation.

[2021-05-06 00:11] dyladan commented on #2072
Sure. If instrumentation is back compatible with 8, then that also opens the possibility for someone who cares enough to implement an 8 compatible sdk if they really want.

[2021-05-06 06:30] Flarna opened #2187 "Update brower specific dev dependencies"
There are several PRs from @renovate-bot to update dev dependencies which are stalled because browser tests fail: #2169, #1598

I did a short look into this and it seems it's not that easy to update as one depends one the other. e.g
* karma-webpack 5 depends on webpack 5
* webpack 5 is not supported by istanbul-instrumenter-loader
* ...

I'm not familiar enough with brower environments to get this

[2021-05-06 15:20] DanielGorlo commented on #1524
Might be joining the party late here but I was wondering if anyone got protobuf exporter to run from client side.

[2021-05-08 07:45] #2123 closed

[2021-05-08 07:57] vmarchaud opened #2193 "crash when using aws-lambda instrumentation"
I've been running into an exception where the JS auto-instrumentation attempts to load `package.json` from the base path of a lambda handler. Is there a way to customize the path from `/var/task/src/handlers/my-function-name/package.json` to a higher level `/var/task/package.json` or `/opt/my-extension/package.json`?

Copying the package.json into the expected locations causes the instrumentation

[2021-05-08 07:57] vmarchaud commented on #2193
I believe this is happening because lambda have a require path behavior than node itself, i'm converting this into an issue since its a bug in the base instrumentation class

/cc @anuraaga @willarmiros

[2021-05-10 07:02] jbadeau commented on #2152
I am logging to Jaeger using:

[code]

[2021-05-10 08:48] svrnm commented on #2184
Okay, I can once again go through the different packages of js and js-contrib and see how to unify them. My proposal would be to have them similar to semantic-conventions _within_ the package, i.e. ResourceAttributes.ts and TraceAttributes.ts (or SemanticAttributes.ts)

Will ask it there then.

[2021-05-10 09:22] SolarLiner opened #2196 "Fetch instrumentation does not keep original request headers"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.19
### What version of Node are you using?
v15.13.0
### Please provide the code you used to setup the OpenTelemetry SDK
[code]
### What did you do?
Nothing more than installing the packages and adding the above snippet imported at the entrypoint of the application.

[repro project](htt

[2021-05-10 13:15] dyladan commented on #2152
The jaeger exporter doesn't work in the browser, but the zipkin exporter does. Fortunately, jaeger speaks the zipkin protocol so you can use the zipkin exporter to send spans to jaeger.

[2021-05-10 13:24] SunilManthenaG01 commented on #2152
Ok nice, so basically in the browser, we need to use Zipkin's and log to a proxy url. Will try that one.
@dyladan  and @jbadeau thank you for your help.

[2021-05-10 13:24] #2152 closed

[2021-05-12 05:54] eunice98k commented on #1303
Hi, is this still up for grabs? If so, could I pick this up?

[2021-05-12 13:19] obecny commented on #1303
@eunice98k yes it is still valid, I'm assigning this to you, thank you

[2021-05-12 13:50] mhennoch commented on #2196
![image](https://user-images.githubusercontent.com/72463136/117984849-dc494400-b340-11eb-8418-662c5a81a3e2.png)

Seems to work for me in Chrome and Safari. What browser and version are you using?

[2021-05-12 13:56] sergioregueira commented on #1303
I am sorry. I have been quite busy these months.

Let me update the issue today before the end of the day (UTC) to clarify why it is blocked.

[2021-05-12 15:44] eunice98k commented on #1303
Sounds good! Thank you.

[2021-05-12 15:47] #2099 closed

[2021-05-12 15:58] #1676 closed

[2021-05-12 16:39] willarmiros commented on #2193
Thanks for bringing this up, here's the problematic require in the base instrumentation: https://github.com/open-telemetry/opentelemetry-js/blob/1758fa6e84333c9c43cc468c5e99dd3646f7e3c7/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L76

One suggestion is we could use [pkginfo](https://www.npmjs.com/package/pkginfo) which is made for this use case. All it does is recur

[2021-05-12 23:21] sergioregueira commented on #1303
My progress is available in this (very outdated) pull request: #1504. As its description says, the major release changed the expected behavior and some tests can no longer be reproduced.

To simulate several specific scenarios, I had to replace some setup blocks that were using `nock` with custom http servers. I was close to fixing them all when I ran into a bug in the code itself (not the tests).

[2021-05-12 23:27] sergioregueira commented on #1436
It has been a long time since latest message, but I will resume the task this week.

[2021-05-13 07:54] eunice98k commented on #1303
This is super helpful. Thank you!
Will get working on it and ping you if I have any questions 😁

[2021-05-13 09:52] vmarchaud commented on #2193
I would prefer to have this logic in the base instrumentation to avoid the dependency indeed (specially since we only need this code for the node platform)

[2021-05-13 09:55] #2140 closed

[2021-05-13 10:11] #2139 closed

[2021-05-13 10:20] #2166 closed

[2021-05-13 15:14] kkruk-sumo opened #2205 "Auto shutdown in collector-exporter can hurt performance in some browsers"
- [X] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Hi 👋

`@opentelemtry/exporter-collector` by default adds event listener for the `unload` event on browser platforms.
According to MDN it can hurt website's performance when doing back/forward buttons:

See [Avoid unload and beforeunload](https://developer

[2021-05-13 15:16] kkruk-sumo commented on #2205
CC @davidwitten and @dyladan

[2021-05-13 15:34] kkruk-sumo commented on #1721
@bradfrosty I described my concerns about the `unload` event handler in issue https://github.com/open-telemetry/opentelemetry-js/issues/2205 .

Actually I can't see a way to implement such automatic flushing in the collector exporter, because spans waits in `BatchSpanProcessor` and then are processed by some exporter.

Did you succeed with some PR about it? I was thinking about providing browser i

[2021-05-14 15:04] dyladan commented on #2193
I don't believe that amazon has a different require behavior. They do change some of the require path configuration, but I believe the resolution behavior is still the documented node behavior.

[2021-05-14 15:06] dyladan commented on #2193
When is this bug triggered? I assume not for all lambda invocations, so does it only happen when the user application doesn't have a package.json? Which module is being intercepted that uses the user's application as the base path? Is it the load of the user application itself?

[2021-05-16 10:36] skadefro commented on #2032
Any progress on this ? Do you need me to update the certificates in the sample ?
I just tested with @opentelemetry/exporter-collector-grpc@0.19.0
and the error has changed to
[code]

[2021-05-17 17:46] naseemkullah commented on #1923
closed via https://github.com/open-telemetry/opentelemetry-js-api/pull/54 which adds `tracer.startActiveSpan(name, opts?, context?, fn(span))` 🎉

[2021-05-17 17:46] #1923 closed

[2021-05-17 17:51] naseemkullah opened #2210 "[Tracer] implement startActiveSpan()"
### Is your feature request related to a problem? Please describe.

`startActiveSpan()` was added to api via https://github.com/open-telemetry/opentelemetry-js-api/pull/54, once a release is cut, this new method should be implemented in https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-tracing/src/Tracer.ts

[2021-05-17 17:53] naseemkullah commented on #1923
follow up to implement in Tracer created: https://github.com/open-telemetry/opentelemetry-js/issues/2210

[2021-05-17 18:21] dyladan commented on #2210
@naseemkullah are you planning on implementing this?

[2021-05-17 18:22] naseemkullah commented on #2210
Yep, as soon as the api release is cut and I can find some time.

[2021-05-18 00:29] willarmiros commented on #2193
Based on @adambartholomew's original issue, it sounds like there was a package.json at the root of the function bundle (at `/var/task`), but this error still occurred because it was searching in the baseDir `/var/task/src/handlers/my-function-name`.

One thing I'm unclear on is what exactly `require-in-the-middle` is intended to be used for. My understanding is it's a way to safely require modules

[2021-05-18 13:46] dyladan commented on #2193
`require-in-the-middle` intercepts the require of instrumented modules. For instance the `mysql` instrumentation registers a RITM hook for the `mysql` module. When the customer app calls `require('mysql')`, our hook is fired before the require returns the module to the user app. In this hook we patch anything we need. The basedir is typically the directory of the instrumented module (in this case

[2021-05-18 14:48] dyladan commented on #620
Hmm I originally thought yes we could close it, but the linked docs show how to use the instrumentation package to write an instrumentation. We still need to document what our requirements are to accept them into the contrib repo.

[2021-05-18 14:49] mhennoch commented on #47
Node and browser random number generation separated, crypto API(this is what was expensive) is not used anymore so I think this can be closed. @dyladan

[2021-05-18 14:50] mhennoch commented on #152
As BasePlugin is history this can be closed @dyladan ?

[2021-05-18 14:52] #152 closed

[2021-05-18 14:52] mhennoch commented on #295
Seems like consensus was reached to keep using JSON.stringify? So this can be closed @dyladan

[2021-05-18 14:52] #47 closed

[2021-05-18 14:52] vmarchaud commented on #1824
Closing since it has been implemented on the instrumentation package

[2021-05-18 14:52] #1824 closed

[2021-05-18 14:54] mhennoch commented on #447
Seems like faketimers is used in tests, I have used it at least.  So this can be closed? @dyladan @obecny ?

[2021-05-18 14:59] mhennoch commented on #587
At least web-tracer examples seem to work like @obecny described so can this be closed? @dyladan

[2021-05-18 15:13] mhennoch commented on #785
More discussion here: https://github.com/open-telemetry/opentelemetry-js/discussions/1830. Not sure if we should close this or what the verdict is. Discussion mentions some PRs being opened but nothing is linked here. @dyladan

[2021-05-18 15:16] svrnm opened #2211 "getEnv() for platform "browser" does not work with service workers"
### What version of OpenTelemetry are you using?
0.19

### What did you do?

I try to use opentelemetry-web & opentelemetry-tracing within a [Service Worker](https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers)

### What did you expect to see?

A working tracer.

### What did you see instead?

An error that `window` is not defined in `getEnv`, since Service Wo

[2021-05-18 15:31] mhennoch commented on #808
I think this is fixed, possibly by https://github.com/open-telemetry/opentelemetry-js/pull/1748? @dyladan

[2021-05-18 15:55] dyladan commented on #2211
`const _window = window ? (window as typeof window & RAW_ENVIRONMENT) : (self as ???);` is similar to what we've done in the API and other places https://github.com/open-telemetry/opentelemetry-js-api/blob/41109c83a9784d689f319f2c5d953b3874c694a3/src/platform/browser/globalThis.ts#L19

[2021-05-18 16:25] mhennoch commented on #1095
This is done no? @dyladan

[2021-05-18 16:37] mhennoch commented on #1215
We have zipkin support for web and this seems like a CORS issue anyways so close this? @dyladan

[2021-05-18 16:41] mhennoch commented on #1207
Seems like the linked PR was closed so this can be closed also? @dyladan @obecny

[2021-05-18 16:44] mhennoch commented on #1206
Issue was fixed close it? @obecny @dyladan

[2021-05-18 16:47] #1207 closed

[2021-05-18 16:47] #1206 closed

[2021-05-18 16:49] #447 closed

[2021-05-18 16:50] #587 closed

[2021-05-18 17:19] mhennoch commented on #1286
This works. Close? @obecny @dyladan

[2021-05-18 17:21] obecny commented on #1286
yes, thx for cleaning up stuff @mhennoch

[2021-05-18 17:21] #1286 closed

[2021-05-18 17:22] #1215 closed

[2021-05-18 17:22] #1095 closed

[2021-05-18 17:22] #808 closed

[2021-05-18 17:37] mhennoch commented on #1350
As we have winston, bunyan, pino instrumentations now I'm going to guess the answer was yes and this can be closed? @dyladan

[2021-05-18 17:42] mhennoch commented on #1370
Seems like the PR is merged and this is fixed, close? @obecny @dyladan

[2021-05-18 17:44] #1370 closed

[2021-05-18 17:50] mhennoch commented on #1394
Seems like this is fixed. @dyladan

[2021-05-18 17:57] mhennoch commented on #2110
I think this will fix https://github.com/open-telemetry/opentelemetry-js/issues/1391 also

[2021-05-18 18:01] mhennoch commented on #1395
I think a lot of the semantic convention stuff has been fixed? At least NET_PEER_SERVICE is PEER_SERVICE now so maybe this can be closed? @dyladan

[2021-05-18 18:05] mhennoch commented on #1411
This seems to be done, close? @dyladan

[2021-05-18 18:06] #1411 closed

[2021-05-18 18:06] dyladan commented on #1395
we now auto-generate our semantic conventions package so this should be done

[2021-05-18 18:06] #1395 closed

[2021-05-18 18:16] mhennoch commented on #1496
Seems like done. @obecny @dyladan

[2021-05-18 18:17] mhennoch commented on #1495
I think we made it and this can be closed @obecny

[2021-05-18 18:18] #1495 closed

[2021-05-18 18:18] #1496 closed

[2021-05-18 18:55] willarmiros commented on #2193
Ok that makes sense. I think the root issue here is that the Lambda instrumentation follows a different pattern for declaring its target module instrumentation. Typically, instrumented modules are well-defined module names (e.g. `mysql`) that are the same as the name of their NPM package and have a package.json available at the root by definition. The Lambda instrumentation is [targeting](https://

[2021-05-18 18:58] dyladan commented on #2193
I'm pretty sure (3) is already the case.

[2021-05-18 19:02] willarmiros commented on #2193
I think it's required? https://github.com/open-telemetry/opentelemetry-js/blob/1758fa6e84333c9c43cc468c5e99dd3646f7e3c7/packages/opentelemetry-instrumentation/src/platform/node/types.ts#L45

[2021-05-18 19:04] dyladan commented on #2193
Ah I think probably we made it required so authors would have to manually put `*` if they _really_ meant to support all versions (it is ~~very hard~~ impossible to write an instrumentation that really works across all versions of some package).

[2021-05-18 19:30] vmarchaud commented on #2193
Could we not lookup the version if we see `*` in the supported versions then ?

[2021-05-18 19:31] dyladan commented on #2193
That's what I was thinking. If the `supportedVersions.contains('*')` we shouldn't have any reason to even attempt to find the package.json

[2021-05-18 19:38] #1394 closed

[2021-05-19 05:43] Flarna opened #2212 "Use API 0.19.0"
API 1.0.0-rc.1 has been released and includes several breaking changes.

We should adapt core to use api 1.0.0-rc.1

Maybe someone started already with this. Please leave a message to avoid double work.

Update: it's API 0.19.0 to target

[2021-05-19 06:57] blumamir commented on #2212
Just encountered this issue in my setup.
dependency on `"@opentelemetry/api": "^1.0.0-rc.0"` no longer works as it now fetches `1.0.0-rc.1`

[2021-05-19 07:07] Flarna commented on #2212
There was a discussion about this, see https://github.com/open-telemetry/opentelemetry-js-api/issues/15

I guess that time no one expected breaking changes like this to happen in the rc phase.

Does this mean the new API release broke a lot user setups?

[2021-05-19 07:15] Flarna commented on #2212
I start on a PR now.

[2021-05-19 07:15] blumamir commented on #2212
Our SDK is currently broken on fresh installations due to this issue.
Any suggestion on how to fix this until new otel SDK packages are published?

[2021-05-19 07:20] svrnm commented on #2211
Looks like there is still a lot of TypeScript I have to learn 🤣

I'll try to come up with an PR for that, thanks for calling out the existing solution in the api

[2021-05-19 07:32] Flarna commented on #2212
Maybe pin the API version in the package.json of your SDK?

[2021-05-19 07:40] blumamir commented on #2212
that works well for otel-sdk packages as they have peer dependency on `api`, but we also use instrumentations which have [caret dependency on `"@opentelemetry/api": "^1.0.0-rc.0"`](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/plugins/node/opentelemetry-instrumentation-ioredis/package.json#L64), and that install new rc version with no option to lock API version to `rc.0`.

[2021-05-19 07:45] Flarna commented on #2212
I think at least with npm it should work as pinning `1.0.0-rc.0` at one place is compatible with `^1.0.0-rc.0` at other places and as a result it should de-duplicate it. But maybe other package managers have a different opinion in this. could be also that a leftover package-lock.json has impact here.

[2021-05-19 07:53] blumamir commented on #2212
Thanks @Flarna
Tested it with both npm and yarn and couldn't get it to pin the `api` version used by instrumentation packages. Perhaps it should be a peer dependency in instrumentations as well?

[2021-05-19 08:14] Flarna commented on #2212
I created a PR to pin to 1.0.0-rc.0.
Update to rc.1 is not that simple as it requires at least https://github.com/open-telemetry/opentelemetry-js/pull/2202

[2021-05-19 08:20] blumamir commented on #2212
Great, thank you.
To my understanding, the issue will still exist for installations that depend on contrib repo (instrumentations). Should we pin or limit the semver range there as well?

[2021-05-19 08:48] Flarna commented on #2212
I'm also preparing a PR for contrib to pin API.

[2021-05-19 09:31] blumamir commented on #2212
Do you plan to change contrib to use peer dependency like core packages? or just pin the api regular dependency to `1.0.0-rc.0`?

[2021-05-19 09:47] Flarna commented on #2212
both, see https://github.com/open-telemetry/opentelemetry-js-contrib/pull/491

[2021-05-19 12:32] dyladan commented on #2212
We are releasing the old rc.0 as rc.2 to fix users who have depended on carat ranges. We will deprecate all `1.0.0-rc.x` versions on npm. New release candidates will be released as `0.x.y` versions so that they can follow semver.

[2021-05-19 12:34] dyladan commented on #2212
@blumamir I am deeply sorry that I broke your users. Please let me know if there is anything I can do to help mitigate the damage. See above for the remediation steps we have taken so far.

[2021-05-19 13:05] dyladan commented on #2212
For details see https://github.com/open-telemetry/opentelemetry-js-api/issues/74

[2021-05-19 13:20] #1350 closed

[2021-05-19 14:03] dyladan commented on #2212
As far as I know @obecny is already working on the updated core version for the changes. This issue should be changed to reference `0.19.0` as we will be using `0.x.y` moving forward.

[2021-05-19 16:15] shyam1975 commented on #2162
@obecny thanks for your feedback. Upon further review I was able to get this to work. Thank you for your time. You can close this ticket.

[2021-05-19 17:22] #2162 closed

[2021-05-20 12:50] gruber76 commented on #2145
Documentation will need to be updated. Not sure where else this may be but the NodeJS Getting Started page step 1 doesn't work as written, any more.

[2021-05-20 14:49] deepakkhetwal opened #2215 "Bug with .19 version"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
.019
### What version of Node are you using?
14.15
### Please provide the code you used to setup the OpenTelemetry SDK
 const opentelemetry = require('@opentelemetry/api');
    const { BasicTracerProvider,  SimpleSpanProcessor, ConsoleSpanExporter } = require('@opentelemetry/tracing');

[2021-05-20 17:58] dyladan commented on #2215
Core version `0.19.x` is compatible with API version `1.0.0-rc.0`. It looks like you are probably using API version `0.19.0`.

[2021-05-21 00:40] yordis commented on #2215
[code]

[code]

It is definitely kind of confusing, I haven't get it to work yet

[2021-05-21 01:56] yordis opened #2218 "Make Singleton/Registration explicit"
- [x] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

### Context

Hey there, I notice that some of the classes hide the fact that they register themselves as global objects, for example:

https://github.com/open-telemetry/opentelemetry-js/blob/c85fbe6682b9a8fd52e4b99bdbb079833b04e845/packages/opentelemetry-

[2021-05-21 11:57] dyladan commented on #2215
using the alpha versions of the core you can expect things to be broken more often than not. I suggest you use the latest official release 0.19.0 of the SDK packages and 1.0.0-rc.2 of the API

[2021-05-21 12:34] Flarna commented on #1947
I have just learned that this repo published canaries releases to NPM (e.g. 0.19.1-alpha.33). If something similar is done for API it would allow to use the new API here and adapt. Even further down to contrib would be possible.

This would avoid the need to release API just to have something in hand to adapt core.

see also https://github.com/open-telemetry/opentelemetry-js-api/pull/70#issuecomme

[2021-05-21 12:36] dyladan commented on #1947
This could actually be helpful right now as currently updating core is blocked on an unreleased API fix.

[2021-05-21 12:39] Dharin-shah opened #2220 "Dynamically add an instrumentation plugin"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Would want to know if we can expose autoLoaderUtils to allow adding instrumentation dynamically, or is it already solved with something else.

for eg:
I am using
[code]

would want to add new instrumentation dynamically. How do i extract existing instrume

[2021-05-21 12:42] Dharin-shah commented on #2218
+1 to this. Its not very obvious whats happening with the current design.

[2021-05-21 12:55] Dharin-shah commented on #2220
NVM, the function is stateless

[2021-05-21 12:55] #2220 closed

[2021-05-21 15:58] yordis commented on #2215
@dyladan yeah I got it to work,

[code]

[2021-05-23 06:59] RubyKozel opened #2223 "Security vulnerabilities caused by path-parse in @opentelemetry/instrumentation"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.19.0
### What version of Node are you using?
14.15.0
### Please provide the code you used to setup the OpenTelemetry SDK
A code sample is not relevant.

We are using whitesource to scan our repositories for security vulnerabilities, and it is complaining about a possible ReDos attack t

[2021-05-25 21:00] #2174 closed

[2021-05-26 10:53] mhennoch commented on #2196
@SolarLiner any chance that you can help me reproduce it?

[2021-05-26 10:57] mhennoch commented on #2144
@Ancient-Dragon any chance that you can take a look at this?

[2021-05-26 16:09] dyladan opened #2231 "Browser tests failing"
Browser tests seem to be failing on OSX hosts. Can people please comment below if they are able to run the browser tests and what operating system they're using?

[2021-05-26 16:15] vmarchaud commented on #2231
Works with ubuntu 20.04, node v14.6.1, karma 5.2.3 and running `yarn run test:browser` on `@opentelemetry/core` package

[2021-05-26 16:24] vreynolds commented on #2231
Failing on osx 11.3.1, node 15.12.0, karma 5.3.2

[code]

[2021-05-26 17:04] CTJyeh opened #2232 "Is there a way to generate a whole opentelemetry.min.js.?"
Is there a way that generate opentelemetry and all of its modules into a minified file?  I am looking to include this for all my pages instead of including individual modules.

[2021-05-26 18:13] #2232 closed

[2021-05-26 18:35] dyladan commented on #2231
@vreynolds can you check out my PR, run a bootstrap and see if it fixes for you? Downgrading karma-webpack worked for me.

[2021-05-26 19:23] mhennoch commented on #2231
Did a fresh clone, npm i and run compile on OS X and test:browser works fine 🤔

[2021-05-26 20:46] #2231 closed

[2021-05-26 23:44] cole-easton commented on #1303
Can I pick this up?

[2021-05-27 12:51] Dharin-shah opened #2235 "How to load in the types when using typescript with opentelemetry api"
The error i am seeing
[code]

My Code
[code]

my tsconfig
[code]

package.json
[code]

[2021-05-27 13:05] Flarna commented on #2235
Could you try with compatible versions of API and core? see https://github.com/open-telemetry/opentelemetry-js/#compatibility-matrix
API 0.20.0 was released recently and work to use it in core is ongoing but not yet finished.

[2021-05-27 13:21] Dharin-shah commented on #2235
@Flarna, thanks a lot. It works after downgrading :).

[2021-05-27 13:21] #2235 closed

[2021-05-28 15:22] Dharin-shah opened #2239 "Register http instrumentation after the server has started"
hi, i am trying to use opentelemetry as a plugin to a system, and the plugins are loaded after the server has started. And i believe thats the reason why, auto-loading traces like http are not getting loaded.
Is there a possible work-around for this ?

[code]

[2021-05-30 20:28] delaneyj commented on #1792
Not sure if this is the right place for this but `https://opentelemetry.io/docs/js/instrumentation/` still references parent.  I do feel like the `parent` made sense, but had to wrap the 0.19 version to make some sense to me.
1. I don't understand why tracer is separate from context.  When would you be creating spans that hit multiple tracers?  If you are splitting up wouldn't this be at the colle

[2021-05-31 16:29] kkruk-sumo commented on #1721
@bradfrosty I had some time so I prepared a PR for that. You can review it at #2243.

[2021-06-01 19:07] #2143 closed

[2021-06-01 19:42] dyladan commented on #1721
I think BSP is the correct place to implement this. Exporters don't implement batching because it's offloaded on the span processor. If a user really can't wait for their telemetry data they will likely either use SSP, use BSP with this option disabled, or use BSP and manually flush when their particular situation demands.

[2021-06-01 19:48] dyladan commented on #1792
Thanks for bringing this up. For now you can see an updated doc in the API repo [here](https://github.com/open-telemetry/opentelemetry-js-api/blob/main/docs/tracing.md).

Tracer is separate from context because it may propagate additional information like baggage, or in the future metrics/logs related information. There is a lot of context and history for this decision, too much for a single githu

[2021-06-01 20:04] BrynCooke commented on #1587
I think there may still be an issue.
Using:
- @opentelemetry/exporter-collector-*: "^0.19.0"
- otel/opentelemetry-collector:0.27.0
- prom/prometheus:v2.27.1

Neither of the counters expose metrics. However, the value recorder does work.
[code]

Switching to PrometheusExporter give all the metrics:
[code]

[2021-06-01 20:14] #2210 closed

[2021-06-01 20:16] vmarchaud commented on #1303
@cole-easton Do you know if @eunice98k is still working on this ? If not i don't see any issue

[2021-06-01 22:40] delaneyj commented on #1792
YES!  Coming from Go where it's `ctx = ctx.WithValue(...)` all the way down I basically want the same here.  The `setSpan` felt wrong but didn't know if something like `tracer.withParent` already existed and I just wasn't seeing it.  I open to really anything similar to the context story from Go.  The `context` object didn't seem to match as its a singleton, not something that's sent down the call

[2021-06-02 01:34] deepakkhetwal opened #2245 "Azure function on kubernetes - ConsoleSpanExporter is logging trace object on multiple lines. How we can make it single line"
I am running azure function on kubernetes with json enabled for container logging. I am currently using ConsoleSpanExporter to std out logs to container, but challenge is, console exporter logged trace object, of each statement is being treated as separate line as shown below - traceid , parentid all are in different line. How can we make it all together in one line? I was following the github cod

[2021-06-02 12:40] bradfrosty commented on #1721
Hey @kkruk-sumo I've been a bit busy, so I haven't been able to work on a PR. We've been maintaining manual flush logic for this use case in our OTel configuration, which is working for us now. Thanks for looking into this!

[2021-06-02 22:52] boningh opened #2250 "Tracer.startSpan, api.isInstrumentationSuppressed is not a function, example/tracer-web"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
opentelemetry-js

### What version of Node are you using?
Tried with both 12 & 14, threw same error.

### Please provide the code you used to setup the OpenTelemetry SDK

### What did you do?
I cloned opentelemetry-js repo and follow the README under example/tracer-web, but error was thr

[2021-06-03 12:46] dyladan commented on #2250
Please include the versions of components you are using.

[2021-06-03 13:10] Gio-Jimdo commented on #2250
I can corroborate this experience with package versions:

[code]

[2021-06-03 13:13] dyladan commented on #2250
API 0.20.0 will be compatible with the SDK components 0.20.0 when they are released later today. For now, SDK components should use API `1.0.0-rc.3`.

For full context on why the API version was "downgraded" from 1.x to 0.x, take a look at https://github.com/open-telemetry/opentelemetry-js-api/issues/74

[2021-06-03 13:14] dyladan commented on #2250
You can track the release of the SDK which will be compatible with API 0.20.0 at #2246 but keep in mind that the document load instrumentation you're using will also need to be updated and released.

[2021-06-03 13:46] Gio-Jimdo commented on #2250
Thank you, @dyladan!!

Using this version scheme, I'm able to work with spans as expected.

[code]

[2021-06-03 14:00] #2250 closed

[2021-06-03 16:05] boningh commented on #2250
Thank you guys!

[2021-06-04 08:41] chen572 opened #2252 "Instrumentation-grpc ignoreGrpcMethods problem"
## **The Problem**

We're using istio service mesh in k8s with envoy ext auth provider in gRPC which implements `rpc Check` which we wanna trace but we also use the gRPC health probe for health checking in k8s which also implements a `rpc Check` which we don't want to trace and the `@opentelemetry/instrumentation-grpc` give you the option `ignoreGrpcMethods` which let you say what gRPC methods you

[2021-06-04 17:30] vmarchaud commented on #2212
We can close this since we released since then both 0.19 and 0.20 :)

[2021-06-04 17:30] #2212 closed

[2021-06-04 17:30] vmarchaud commented on #2215
We just released 0.20 for all components that should works fine !

[2021-06-04 17:30] #2215 closed

[2021-06-05 15:42] superbiche commented on #1683
Would be great. Finding the proper documentation and examples for a node + browser + PHP stack probably took me as long as actually implementing the first traces.
It would probably also encourage users to write complete examples - which do lack - on a single repo

[2021-06-05 21:36] Flarna opened #2257 "InstrumentationAbstract#setConfig doesn't honor enabled flag"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Enabling of an Instrumentation is done automatically if user is not explicit disabling it. See [InstrumentationAbstract constructor](https://github.com/open-telemetry/opentelemetry-js/blob/d4df2f7ebaaaf433bd84b568c482e2788103ab71/packages/opentelemetry-in

[2021-06-05 21:43] Flarna opened #2258 "InstrumentationAbstract#getConfig should return the type of the concrete instrumentation"
### Is your feature request related to a problem? Please describe.

Quite a lot instrumentations extend the config. The `protected _config: types.InstrumentationConfig;` member is accessible to them but it misses the extra configuration options.

### Describe the solution you'd like

The type returned by `getConfig ` and accepted by `setConfig` should be that one from the concrete instrumentation

[2021-06-06 07:30] vmarchaud commented on #2257
I think we should respect it when defined, othersiwe consider that it should be enabled

[2021-06-06 10:23] srikanthccv opened #2259 "Resource doesn't use env detector to detect `OTEL_RESOURCE_ATTRIBUTES`"
### What version of OpenTelemetry are you using?
0.20.0

### What version of Node are you using?
v15.11.0

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you expect to see?

Resource attributes contain any key-values provided in `OTEL_RESOURCE_ATTRIBUTES`.

### What did you see instead?

Setting env didn't do anything.

[2021-06-06 10:35] Flarna commented on #2257
It might be needed to disable and enable an instrumentation to ensure the new settings are applied everywhere. On the other hand this could cause problems if this includes unpatch and repatch.

[2021-06-07 02:20] anuraaga opened #2260 "TypeError: Cannot redefine property: when shimming"
From https://github.com/aws-observability/aws-otel-lambda/issues/99

It seems that based on certain build systems like esbuild it's possible to create a bundle which doesn't work well with shimmer. Is this something that can be worked around or is inevitable and a symptom of these build systems making the result closer to a type-safe language than a dynamic one?

[2021-06-07 08:55] vmarchaud commented on #2260
Looking at the code (https://github.com/othiym23/shimmer/blob/master/index.js#L14), it seems the object is enumerable but not updatable. I think this is a case that should be handled by shimmer but that surely means that instrumentation would not work.

[2021-06-07 21:48] obecny commented on #2245
I would then not use `ConsoleSpanExporter`. You can easily create your own exporter and register instead, then you can have full control over it.

[2021-06-07 22:05] obecny commented on #2079
somewhere some function that will catch error first
[code]

[2021-06-07 23:40] maorleger opened #2262 "Span#context / Span#spanContext in @opentelemetry/api"
When switching from @opentelemetry/api@1.0.0-rc1 to @opentelemetry/api@0.20.0 we noticed that `Span#context` has been renamed to `Span#spanContext`.

I was just wondering what the plan is going forward - is there a plan to reconcile 1.0.0-rc.* and 0.* so that they are compatible?

If not, should we consider 0.21.0 the latest at this time and `Span#spanContext` is the most current name for this met

[2021-06-08 08:50] vmarchaud commented on #2262
(I'm closing this but feel free to ask other question / details)

[2021-06-08 08:50] #2262 closed

[2021-06-08 10:35] brunoluiz opened #2264 "@opentelemetry/exporter-collector-grpc not connecting after 0.20.0 upgrade"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

- Collector: `otel/opentelemetry-collector-contrib:0.27.0`
- SDK: 0.20.0

### What version of Node are you using?
v12.20.0

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

Call `OpenTelemetry.register({ serviceName: 'service', url: 'loc

[2021-06-08 15:38] morigs opened #2265 "constantLabels option for Metric not working"
Please answer these questions before submitting a bug report.

OpenTelemetry JS 0.18.0
Nodejs 15.5.0

SDK setup:

[code]

I'm creating metric as following:

[code]

Then I'm using created metric:

[code]

I'm expecting to see `http_server_duration` metric with the following labels: `framework_name`, `operation_type` and `additional_label`. But actually there is only `additional_label` and no `fram

[2021-06-08 17:28] sv2 commented on #2264
FYI, it will not connect if `url` parameter is specified, and the value is without protocol, i.e. 'localhost:4317'. In my tests, if I specify protocol 'grpc://' it connects as expected in 0.20.0:

[code]

[2021-06-08 23:46] brunoluiz commented on #2264
Tomorrow I will try to find sometime to understand why it is not sending trace data across. Meanwhile, I opened a PR to fix the defaults and document this a bit better.

[2021-06-10 08:11] fungiboletus opened #2271 "How to use service.name resource attribute since the 0.20.0 release ?"
Hei,

Since the 0.20.0 release and the pull request #2227 it seems that `serviceName` is deprecated and we should use `service.name` instead. I havn't easily found this information in the changelog, it did require some digging to understand why the service name was now a very long `unknown_service:/path/to/node`. Documentation says `Use service.name Resource attribute instead.` but it wasn't about

[2021-06-10 08:33] julien-sugg commented on #2271
Hi,

You may be able to define it when instantiating your trace provider.

e.g.:

[code]

[2021-06-10 09:16] Rauno56 commented on #1533
@Flarna, do you mean that if a span starts off with resource unset, then, according to the spec, it cannot be added at the exporter?

[2021-06-10 10:49] fungiboletus commented on #2271
Thanks ! It works.

[2021-06-10 10:49] #2271 closed

[2021-06-10 12:44] Flarna commented on #1533
@Rauno56 Yes, the exporter uses the Resource "captured" by span at start. If a resource element is added/changed later it's not updated for in progress spans.

Besides that backends may assume that a specific set of resources is a unique description of a process. So they may cache it somehow or use it as a key in a map of processes.

[2021-06-10 13:11] Rauno56 commented on #1533
I guess I lack certain knowledge about the topic to continue the argument:

1. Can resource description change during a lifetime of a process(form @obecny, it seemed "yes", you indicate "no")?
2. Is it absolutely required for a span to know its resource description fully at the time of its start?
3. Does "resource is immutable" mean
  a) resource attribute on a span is immutable; *or*
  b) SDK has

[2021-06-10 13:42] vmarchaud commented on #1533
@Rauno56 We've add a discussion about this and explained few things there: https://cloud-native.slack.com/archives/C01NL1GRPQR/p1623080369097000

[2021-06-10 13:56] aabmass opened #2272 "Expose counts for dropped attributes/events/links in ReadableSpan"
Regarding span limits, the spec says [here](https://github.com/open-telemetry/opentelemetry-specification/blob/0cb45c779a0b8a78d669aaf61c1b39ffab7dc0ae/specification/trace/sdk.md#:~:text=counts%20for%20attributes%2C%20events%20and%20links%20dropped%20due%20to%20collection%20limits%20must%20be%20available%20for%20exporters%20to%20report%20as%20described%20in%20the%20exporters%20specification):

How

[2021-06-10 14:12] Flarna commented on #1533
Currently the `Resource` class is implemented immutable. If you merge two `Resource` instances a new one is returned but the two originals are unmodified (similar as `Context`).

* `Span#resource` is readonly and initialized with `Tracer#resource` at creation
* `Tracer#resource` is readonly and initialized with `TracerProvider#resource` at creation
* `TracerProvider#resource` is readonly and initi

[2021-06-10 19:42] gamblea commented on #2271
This was very helpful and fixed my issue! I was running into the same issue when running a node.js project locally. I was unable to pass the Semantic Attributes through an env variable on macOS.

Thank you @julien-sugg

Just wondering if there are limitations with passing Semantic Attributes through environment variables right now?

[2021-06-10 20:52] vreynolds opened #2273 "Span.recordException must allow additional attributes according to spec"
Not sure if this ought to be labelled a "bug" or "discussion". I noticed a discrepancy between [span.recordException](https://github.com/open-telemetry/opentelemetry-js/blob/7750282034ee58bdd257446c2970f01307d7522a/packages/opentelemetry-tracing/src/Span.ts#L189) and the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#record-exception)

Spe

[2021-06-11 09:34] vmarchaud commented on #2273
I'll move this into the API repo (https://github.com/open-telemetry/opentelemetry-js-api/blob/main/src/trace/span.ts#L128)

[2021-06-11 10:19] andreabrigantisky commented on #2264
Using the 0.20.0 locally I see that the serviceName is ignored and instead I see traces with this scaring format:

`unknown_service:/Users/abt19/.nvm/versions/node/v14.17.0/bin/node: HTTP POST`

Maybe it's related to the missing traces.

[2021-06-11 18:16] MSNev commented on #2205
Agree we shouldn't "shutdown" on unload, but we should perform a synchronous flush to ensure all telemetry is sent -- unless we have some sort of backing store (disk for node, and LocalStorage / IndexedDb (Slow!!!)) to ensure we can replay any unsent events on reload etc

[2021-06-12 15:50] elsonz commented on #1887
same problem causing rollup warn "Error when using sourcemap for reporting an error: Can't resolve original location of error."

[2021-06-13 07:15] seanyu4296 opened #2277 "doc: Getting started typescript still uses logLevel"
Examples are not updated

This one still exposes `logLevel` but that isn't available afaik https://github.com/open-telemetry/opentelemetry-js/blob/main/getting-started/ts-example/README.md

Correct me if i am wrong

[2021-06-13 07:21] seanyu4296 opened #2278 "Example and tests for otel collector exporter is not updated still uses `serviceName`"
The opentelemetry collector exporter is not updated. In examples and tests, It still uses `serviceName` for config and looking at the codebase it does not expose that anymore.

I wonder how these got in if we use typescript

https://github.com/open-telemetry/opentelemetry-js/blob/a3b77387012a5f53c193efdefcbf5f6272876e4d/packages/opentelemetry-exporter-collector/test/node/CollectorTraceExporter.tes

[2021-06-13 09:02] elsonz opened #2279 "Mixing `require` and `import` cause problem when using rollupjs for bundling"
https://github.com/open-telemetry/opentelemetry-js/blob/a3b77387012a5f53c193efdefcbf5f6272876e4d/packages/opentelemetry-tracing/src/BasicTracerProvider.ts#L38

If mixing `require` and `import`, `require` keyword will still exist in the output that rollup generated for browser, causing error "require is undefined".

https://github.com/rollup/rollup-plugin-commonjs/issues/239#issuecomment-337892945

[2021-06-14 16:47] delaneyj commented on #2278
In the updated example just a heads up
[code]
both libraries also are still on 0.20.0

[2021-06-14 17:18] aabmass opened #2281 "SDK can not be installed with @opentelemetry/api@1.0.0"
There is no released version of the SDK compatible with the 1.0.0 api release from last week. The newest API version is not usable. This was fixed in https://github.com/open-telemetry/opentelemetry-js/pull/2276 but needs to be released.

### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
[code]
### Please provide the code you used to setup the OpenTele

[2021-06-14 17:27] seanyu4296 commented on #2278
Thanks @delaneyj 🙏

[2021-06-14 19:12] vmarchaud commented on #2281
cc @dyladan don't know if you wanted to wait for a particular PR to release a SDK version compatible with 1.0 (which should stay in the 0.x version i expect) ?

[2021-06-15 14:11] morigs opened #2284 "Outdated docs in opentelemetry-resources"
[Readme of opentelemetry-resources](https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-resources) mentions `SERVICE_RESOURCE` enum (package `@opentelemetry/resources`) with resource attributes keys.
But actually, there is no such exported member.
These keys were moved to the `ResourceAttributes` in the `@opentelemetry/semantic-conventions` package.
Documentation sh

[2021-06-16 12:52] #1721 closed

[2021-06-16 12:56] dyladan commented on #2281
yes we will keep it in the 0.x versions for now. I was not waiting for any particular PR

[2021-06-16 12:59] dyladan commented on #2278
The first one was allowed because of the `as any` on line 64.

The second one was allowed because examples aren't type checked.

[2021-06-16 13:09] dyladan commented on #2277
The getting started guide is woefully out of date

[2021-06-16 13:10] dyladan commented on #1887
we'll discuss this in SIG today

[2021-06-16 13:14] seanyu4296 commented on #2278
Can we remove the any then?

Ohhh I see how can we enable type checking in the examples do we add some github actions

[2021-06-16 13:14] dyladan commented on #2278
The examples aren't written in typescript. in order to enable type checking, they would need to be modified for it. This is something we've talked about in the past but just haven't gotten to

[2021-06-16 13:15] dyladan commented on #2278
Sure do you want to make a PR?

[2021-06-16 13:17] dyladan commented on #2264
@brunoluiz have you had any luck figuring out what happened?

[2021-06-16 13:21] #2079 closed

[2021-06-16 13:26] dyladan commented on #2257
I think automatically enabling/disabling is probably dangerous. Maybe instead we could emit some `onConfigurationChanged` event and let the instrumentations deal with it how they want.

[2021-06-16 14:38] dyladan commented on #2245
I agree with @obecny the console span exporter really isn't meant for production use, but more as a development tool. If you have specific needs I would create your own exporter.

[2021-06-16 14:52] aabmass commented on #2281
Why not use the most recent and now stable 1.0.0 release though? If we want people to use 1.0.0, it should be compatible with *any* SDK.

[2021-06-16 18:16] MSNev commented on #2279
We could *probably* safely enable the ```esModuleInterop``` for the build, but...

You can use the ```transformMixedEsModules``` in the latest version of the rollup commonjs plugin ```@rollup/plugin-commonjs```

https://www.npmjs.com/package/@rollup/plugin-commonjs#transformmixedesmodules

[2021-06-16 18:19] xirzec commented on #1253
@t2t2 This didn't seem to fix the problem for `@opentelemetry/api`?

[2021-06-16 20:28] dyladan commented on #1887
There are several source map related `tsconfig` flags we could potentially enable. Currently we generate source maps but don't inline the sources into the sourcemaps, nor do we inline the sourcemaps into the generated JS files.

To generate sizes I did for each:

[code]

<table>
<tr>
	<th>Inline Maps
	<th>Inline Sources
	<th>JS/map size
	<th>Pack size
<tr>
	<td>no
	<td>no
	<td>7.0M
	<td>632k
<tr>

[2021-06-17 12:10] dyladan commented on #2279
@elsonz can you confirm if this works to fix your issue?

[2021-06-17 15:43] #2131 closed

[2021-06-17 16:36] alisabzevari commented on #1390
I would like to work on this one.

[2021-06-17 16:58] #2281 closed

[2021-06-18 11:06] brunoluiz commented on #2264
No luck, but about the serviceName above, I am quite sure this might be the culprit: https://github.com/open-telemetry/opentelemetry-js/commit/56c032ec71c0baa0120a5cc841c015a290fad654

I just don't understand how this is actually set. I wonder if it is just through env variables or there is an undocumented way to do so.

[2021-06-18 12:34] chadfaurie opened #2291 "grpc collector require protocol or returns empty string"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.21.0

### What version of Node are you using?
16

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

If possible, provide a recipe for reproducing the error.

### What did you expect to see?

I exected metrics and traces to be exported

#

[2021-06-18 15:30] sv2 commented on #2264
I managed to set service name like this:

[code]
There are notes in readmes of opentelemetry-exporter-* packages, which says service name is now not the part of exporter config. So looks like it was removed ....

The OpenTelemetry Collector Exporter does not have a service name configuration. In order to set the service name, use the service.name resource attribute as prescribed in the OpenTelemet

[2021-06-18 15:54] elsonz commented on #2279
thanks! `transformmixedesmodules` works!

At first, I modified the esm code in node_modules, and use `patch-package` for a patch. It's also another way to work around.
[code]

[2021-06-18 15:55] #2279 closed

[2021-06-18 19:29] dyladan commented on #1390
Awesome thanks!

[2021-06-20 06:37] alexander-bzikadze opened #2293 "Deno Support"
Are there any plans for supporting [Deno runtime](https://deno.land/)? Perhaps it is a bit early to speak of it, however it seems rather possible due to low number of dependencies for opentelemetry implementation. Deno tries to support browser APIs so providing support might be rather easy.

It's already possible to import some opentelemetry-js libs via [skypack](https://www.skypack.dev/search?q=o

[2021-06-21 21:13] skadefro commented on #2032
Not sure if anyone is reading this, but tried updating all packages from 0.19.0 to 0.21.0
Now, it does not even work with http anymore ... Same error as above ...
Am I using the product wrong? Are we not supposed to connct the client library to and instance of opentelemetry-collector ? If not, then what are suppose to be use to collect the metrics and spans ?

[2021-06-23 00:47] weyert opened #2294 "Unable to instrument prerelease tagged packages"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
I am using the most recent version of Opentelemetry 0.22

### What version of Node are you using?
14.17.0

### Please provide the code you used to setup the OpenTelemetry SDK
N/A

### What did you do?
I am trying to write my own custom instrumentation of an internal package which is vers

[2021-06-23 11:56] kamtschatka opened #2295 "Discuss how to handle multiple agents trying to modify the tracecontext headers"
- [ ] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first
- [x] I am not quite sure if it affects other libraries as well, it definitely affects the JavaScript OpenTelemetry library though

This is basically the followup for https://github.com/w3c/trace-context/issues/451

The scenario described there is the foll

[2021-06-23 12:18] dyladan commented on #2295
This looks to me like a spec issue. Any language where you can have multiple agents would possibly be affected.

[2021-06-23 15:42] #2284 closed

[2021-06-23 15:59] dyladan commented on #2032
I'll look into your sample code today

[2021-06-23 16:22] dyladan commented on #2294
My vote is for 2 here

[2021-06-23 17:54] #2184 closed

[2021-06-23 17:55] svrnm commented on #2277
Would it make sense to review the existing docs, throw away what's not relevant any more and move everything into the "official docs" on the homepage (see #1683 as well). I can help with that.

[2021-06-23 20:47] obecny opened #2299 "ResourceAttributes"
Currently the package `@opentelemetry/resources` and `@opentelemetry/semantic-conventions` expose `ResourceAttributes` which might create the name collisions and confusions what is what. I would think of renaming one of them.
At first I thought of `@opentelemetry/resources` but it simply sounds already very good so maybe semantic conventions should be exposed under different name for example `Sema

[2021-06-24 08:20] skadefro commented on #2032
I have update the repo with a fresh certificate, since the old one had expired.

[2021-06-25 20:25] weyert commented on #2299
Yeah, sounds good to me

[2021-06-25 23:20] vreynolds commented on #2032
Not sure if related, but I just saw the same error when I didn't configure the otlp-grpc exporter with secure credentials:

[code]

[2021-06-28 01:05] vreynolds opened #2303 "OTEL_EXPORTER_OTLP_HEADERS not honored by gRPC exporter"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I noticed that the gRPC exporter does not honor `OTEL_EXPORTER_OTLP_HEADERS` (or variants) when setting up [metadata](https://github.com/open-telemetry/opentelemetry-js/blob/ed8c1ab7414b148c8aa7811caaf0e131d376f759/packages/opentelemetry-exporter-collecto

[2021-06-28 12:08] vmarchaud commented on #2303
I believe this is indeed an oversight, i implemented `OTEL_EXPORTER_OTLP_HEADERS` for http but i don't remember seeing that it was applicable to grpc too. Do you want to tackle this ?

[2021-06-28 14:49] vreynolds commented on #2303
Yep, I will work on a PR. Thanks for confirming!

[2021-06-29 07:22] kamtschatka commented on #2295
you mean an otel spec issue(https://github.com/open-telemetry/opentelemetry-specification) or a trace-context issue?

[2021-06-29 09:27] darrenparkinson opened #2305 "Getting Started Docs lead to TypeError Cannot read property 'ERROR' of undefined"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

[code]

### Please provide the code you used to setup the OpenTelemetry SDK

Copy / Pasted straight from the Getting Started docs:

[code]

### What did you do?

I copy/pasted the docs from the website and followed directions on the websi

[2021-06-29 16:25] dyladan commented on #2070
I took this one because we had a user ask us to update and it has been a while since the last update. #2306

[2021-06-29 16:44] pragmaticivan opened #2307 "Add public getters and ability to set custom MeterProvider on Node SDK"
### Is your feature request related to a problem? Please describe.

on `packages/opentelemetry-sdk-node/src/sdk.ts`

This class only accepts meterProvider and traceProvider configs, but not actual instances of those classes. There's also not a way to get the current properties in the class making it harder to extend the SDK.

### Describe the solution you'd like

Introduce 2 new methods and config

[2021-06-29 18:35] Flarna commented on #2307
The SDK installs the `TracerProvider` and `MeterProvider` global via API (same is valid for `ContextManager` and `Propagator`).

Therefore the correct way to access them is via API, e.g. `api.trace.getTracerProvider()`.

Please note that typical API users (e.g. instrumentations creating spans/metrics,...) should not care about if/which SDK is used and how it is configured. Nor should they try to r

[2021-06-29 19:02] pragmaticivan commented on #2307
@Flarna it makes sense, the problem is that it's all happening on `start` method https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-node/src/sdk.ts#L146 not on previous setup.

[2021-06-29 19:08] Flarna commented on #2307
Could you provide some more insight why `start` is problematic? What use case do you have which is not working?

If you call `api.trace.getTracerProvider()` before the SDK has been started you get a Proxy which then forwards to the real provide once it's available.

The `TracerProvider` is created in `start()` so why would a getter help here?

[2021-06-29 20:26] pragmaticivan commented on #2307
If a metric exporter is configured: https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-node/src/sdk.ts#L86

It will set a Meter config here: https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-node/src/sdk.ts#L99

When a MEter Config is available in the class, on `start()`  https://github.com/open-telemetry/opentelemetry-js/b

[2021-06-29 21:26] pragmaticivan commented on #2307
Btw, it's important to have a setter because on shutdown it is using the instance reference. (It's probably is using the same memory point as the global as they are using the same param though)
https://github.com/open-telemetry/opentelemetry-js/blob/c25ac926861134b8d06ad6c934d5132f315b6541/packages/opentelemetry-sdk-node/src/sdk.ts#L187

[2021-06-30 05:47] Flarna commented on #2307
I still don't understand your Problem. First start the SDK and then use the Providers via API.

If you start using a TracerA from TracerProvider1 and later you replace TracerProvider1 by TracerProvider2 any span from TracerA will still use the export pipeline from TracerProvider1, not the new one. So you would end up in a strange mixup of several export chains and maybe even spans not linked toget

[2021-06-30 13:00] #2147 closed

[2021-06-30 13:09] #2303 closed

[2021-06-30 14:54] #2070 closed

[2021-06-30 14:54] #2305 closed

[2021-06-30 16:01] blumamir commented on #2299
How about `ResourceAttributesNames`, or `ResourceAttributeKeys` for semantic-conventions?
as these are not the attributes themselves, only their names.

BTW, isn't this package auto-generated from the proto files in the specification repo?

[2021-06-30 16:06] sureshballa commented on #1703
Just wanted to check if we have any update on this. Or a sample code of how we can leverage value recorder to implement histograms.

[2021-06-30 16:48] dyladan commented on #2299
Should mirror the naming scheme of hte span attributes and semantic conventions

[2021-06-30 21:55] jessebond2 commented on #2264
This change to serviceName is unintuitive. I just ran into the same issue.

[2021-07-02 04:08] jonchurch opened #2318 "Package template node engine version"
Currently in the package template package.json the [engines field](https://github.com/jonchurch/opentelemetry-js/blob/main/packages/template/package.json#L22) is set to `>=8.0.0`. Should this be `>=8.5.0`, to be in line with the [current Node support range](https://github.com/jonchurch/opentelemetry-js#node-support) for OTLP?

I'm submitting a PR to address this, because I figure the answer is yes

[2021-07-02 18:51] jonchurch commented on #2175
Looks like this can be closed since #2222 was merged in?

[2021-07-02 18:52] #2175 closed

[2021-07-04 07:03] #2318 closed

[2021-07-04 07:10] vmarchaud commented on #614
Apparently this has been discused at the spec level "recently": https://github.com/open-telemetry/opentelemetry-specification/pull/1659

[2021-07-04 07:13] vmarchaud commented on #2264
this is required by the specification to use the resource sdk to do this: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/README.md#service. I'm pretty sure we can override this at the exporter level (see [jaeger](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/jaeger.md#re

[2021-07-04 17:06] habmic opened #2320 "Missing http.target in HTTP Outgoing spans to sampling using ParentBasedSampler"
Hi,
We are trying to have a sample rate on a specific use case in a customer app. Service is having an interval that every X seconds send an API call to another service. This means the root span is an HTTP Outgoing, we would like to apply the sampling rule on a specific `http.url` (/api/v1/test for example).

ParentBasedSampler is the sampler we use, and it decides to sample are not when a span is

[2021-07-04 22:34] jufab opened #2321 "Traces send by http protocol fail in new Otel collector receiver"
### What version of OpenTelemetry are you using?
0.23.0

### What version of Node are you using?
v14.15.2

### Please provide the code you used to setup the OpenTelemetry SDK
All code is here https://github.com/open-telemetry/opentelemetry-js/tree/main/examples/tracer-web
### What did you do?
I used this project example and new Otel collector (0.29.0).

### What did you expect to see?
Traces OK in

[2021-07-05 00:15] dgarciarubio commented on #2321
This could be because the open telemetry collector has been updated in version 0.29.0 to require the `Content-Type: application/x-protobuf` request header as mentioned in open-telemetry/opentelemetry-collector#3540.

[2021-07-05 12:56] jufab commented on #2321
I think `application/x-protobuf` is for GRPC protocol. `application/json` is for HTTP protocol

[2021-07-06 07:07] mhennoch opened #2323 "Handling potentially missing browser API usage"
Can we force some kind of rules/checks to make sure that at least browser facing code checks for API existence?

From @johnbley [comment](https://github.com/open-telemetry/opentelemetry-js/pull/2280#issuecomment-870589055)

[2021-07-06 10:28] niko-achilles commented on #2321
yes i tried also yesterday the 0.29.0 release of the image of otel/opentelemetry-collector:0.29.0 .

When using for tracing web, zone.js makes a POST Request type of xhr and the response is 404 not found.
The Preflight requests OPTIONS are responding with a status of 200, OK and allowed methods POST.

also after reading the specs, i read that The client MUST set "Content-Type: application/x-protob

[2021-07-06 12:51] ritwizsinha commented on #2277
Hello, I am new to opentelemetry and was trying it out locally when I encountered this issue firsthand. I was looking for making some contribution to OpenTelemetry and would love to start with this. I would like to work on this issue, if someone could just direct me to the relevant sources

[2021-07-06 12:52] dyladan commented on #2277
Where did you see the getting started docs? This should be fixed

[2021-07-06 12:53] svrnm commented on #2277
@ritwizsinha have a look here: https://github.com/open-telemetry/opentelemetry-js/blob/main/getting-started/README.md

Best you make fork, clone the repo locally and edit the README.md while going through the tutorial.

[2021-07-06 12:53] dyladan commented on #2277
Ahh the website changes aren't merged yet. https://github.com/open-telemetry/opentelemetry.io/pull/621

You can see the updated version here: https://github.com/open-telemetry/opentelemetry-js/blob/main/website_docs/getting_started/nodejs.md

[2021-07-06 12:54] ritwizsinha commented on #2277
Okay Thank you

[2021-07-06 13:35] svrnm commented on #2277
Ah, I was confused from the last time if and how we keep both (getting_started, website_docs) up until they are streamlined.

FYI, I just pushed: https://github.com/open-telemetry/opentelemetry-js/pull/2324 also in that context.

[2021-07-06 16:38] jonchurch commented on #1889
I think this can be closed as this doesn't relate to the current main branch. Also, the example was accurate at the time of publication. The instructions specified running `node -r ./tracing.js app.js` which did initialize the tracing. It's an odd pattern IMO, but worked properly according to the directions.

[2021-07-06 17:01] jonchurch commented on #1862
Interestingly, they still don't work as written. But only because webpack is trying to run tests that don't exist for these examples.

I think this issue can be closed, I'll open a new one for the webpack failure.

[2021-07-06 17:07] jonchurch opened #2325 "Tracer-Web example `npm start` fails"
To the best of my knowledge, a change introduced in https://github.com/open-telemetry/opentelemetry-js/pull/2225 added a [line to the webpack config](https://github.com/open-telemetry/opentelemetry-js/blob/6ed8d92559df68ef1fd3273598a1860ee5197e53/examples/tracer-web/webpack.config.js#L11) for the web-tracer example that broke the happy path for running the examples.

To reproduce:

[code]

It atte

[2021-07-06 17:10] dyladan commented on #2325
Single line PR incoming 🚀

[2021-07-06 18:26] #2325 closed

[2021-07-06 20:00] jufab commented on #2321
To help
tracer-web generate this http request

[2021-07-06 21:16] treethought commented on #2293
Another thing to be aware of for deno support is the use of XHR. Since deno [does not support XHR](https://github.com/denoland/deno/issues/2191#issuecomment-673509901), when trying to use opentelemetry/metrics via [jspm](https://jspm.org/), an error is thrown when creating the request

[code]

[2021-07-07 06:11] Flarna opened #2329 "Typescript compatiblitly"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Followup on https://github.com/open-telemetry/opentelemetry-js-contrib/pull/549#discussion_r664733898

Currently we use the latest version of typescript in our CI setup and we also use the latest features like `override` keyword. Besides such "visible" fe

[2021-07-07 06:16] NathanielRN opened #2330 "OTLP HTTP Exporter Should Not Use the GRPC Port"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

`0.23.0`

### What version of Node are you using?

`14`

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

The opentelemetry-collector has default OTLP receivers for gRPC run on port `4317` and HTTP run on `55681`

https://github.com/open

[2021-07-07 12:22] LeDominik commented on #1649
I think this is an important feature -- most of our services are [express](https://expressjs.com)-based and we'd just want to hook up /metrics endpoint on the existing HTTP server

[2021-07-07 14:55] djknowles21 opened #2333 "Http Spans are not linked / does not set parent span"
Hello,

I'm manually implementing tracing within my NodeJs server and I'm running into an issue with the span traces are not linking or setting the parent span.

i.e
[code]

In Jaeger I know that all spans needs to share the same traceID so I'm trying to start spans with a the traceId that is being passed through services.

- [ ] This only affects the JavaScript OpenTelemetry library
- [ ] This ma

[2021-07-07 15:50] cletustboone commented on #1963
@sazzer that method is now at `otel.trace.setSpan`.

[2021-07-07 18:50] niko-achilles commented on #2321
yes it wokrs with curl. In code where you use for web try this:
[code]
Note do not specify in headers object nothing `headers: {}` .

Mysteriously when i use `headers: {"Content-Type": "application/json"}` in code i see in the network console that the zone.js xhr request applies `Content-Type: "application/json" application/json`

And also if you delete the     headers: {} object in code then zone

[2021-07-07 19:05] niko-achilles opened #2335 "bug(exporter-collector): headers are appended to existing one"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
"@opentelemetry/context-zone": "^0.23.0",
"@opentelemetry/exporter-collector": "^0.23.0",
"@opentelemetry/instrumentation": "^0.23.0",
"@opentelemetry/auto-instrumentations-web": "^0.23.0",
"@opentelemetry/propagator-b3": "^0.23.0",
"@opentelemetry/tracing": "^0.23.0",
"@opentelemetry/we

[2021-07-07 20:48] jufab commented on #2321
if you specify headers config, you force to use xhr and not beacon.

In the code

https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-exporter-collector/src/platform/browser/CollectorExporterBrowserBase.ts#L44-L45

You use xhr if an headers config is present.
In `send` method

https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-export

[2021-07-07 21:55] niko-achilles commented on #2321
thanks @jufab  for the insights. It is a surprise for the developer point o view that the Collector Trace Exporter behaves in that way with and without headers config. But good know since now with your insights i can experiment with otel/collector version 0.29.0.

[2021-07-07 22:02] jonchurch commented on #2333
I've been trying to figure this out, and I'm still not sure really. But I do believe that your current approach is flawed in that startSpan doesn't take the options you are passing it, there is no parentSpan value [so far as I can tell](https://github.com/open-telemetry/opentelemetry-js-api/blob/35224c7e3442f8f965bd543f2d1c8a8c70b47351/src/trace/SpanOptions.ts#L25).

I think you will need to set a

[2021-07-08 07:44] alisabzevari commented on #1637
Seems like the efforts for this is stopped. Can I work on this?

[2021-07-08 11:16] djknowles21 commented on #2333
I've seen a lot discussion on how to set parent spans but I haven't came across a solution to set. In some examples, I've seen they just pass the parent span into the creation of the new span.

i.e
[code]
 But this doesn't seem to set the parent span, for the context object it doesn't accepts a Span Context for this so I'm not sure passing the parentSpan will work.

In the documentation it says pa

[2021-07-08 12:25] Flarna commented on #2333
The API how to specify a parent has changed over time. In the past it was possible via an explicit `parentSpan` property in options but this was removed. Now it works only via context (third argument of `startSpan`).

See https://github.com/open-telemetry/opentelemetry-js/blob/611a30f19145e7294efdc587efc863410c900604/examples/basic-tracer-node/index.js#L48-L49 for a sample.

[2021-07-08 12:57] djknowles21 commented on #2333
I see, I gave this a try and it sets the parent span, if I want to link spans from one service to another how can I do that manually?

I am sending the traceId from one Node Server to the other but how do I go about linking it to the spans so in Jaeger they show up.

Do I need to spend the whole span context then assign the parent of the span in the other server to the passed span context?

[2021-07-08 13:05] Flarna commented on #2333
Propagation between processes is done via [PropagationApi](https://github.com/open-telemetry/opentelemetry-js-api/blob/14655bc1730d01d2e6ac153abba2f472c7a71b5d/src/api/propagation.ts#L45).

On client side you call `inject()` to inject a context into some object which is sent along with the actual message. On server side you call `extract()` which returns a context you then pass to `startSpan()`.

[2021-07-08 13:42] djknowles21 commented on #2333
I'm using the HTTP instrumentation for both of my servers so shouldn't it be doing that already in that case?

I'm creating a package that is using opentelementry for tracing and other services that can be installed on my other servers. So in the package, it's using HTTP instrumentation that will get each request and trace it.

For each incoming request, it would get the request start a span so si

[2021-07-08 14:36] Flarna commented on #2333
Yes, if you install and initialize the HTTP instrumentation spans should be created on server and client side and they should be linked.

At least as long as the `ContextManager` is able to propagate the context through the async operations you use in your code between start of incoming request and the outgoing request.

see the [http sample](https://github.com/open-telemetry/opentelemetry-js/tree

[2021-07-08 17:08] djknowles21 commented on #2333
I think I'm missing something. My spans are still not showing up together or propagating the span id.

[code]

recordRequest Method
[code]
This should get each request and extract the context from the header to the incoming requests.

Does anything look off?

[2021-07-08 19:07] jonchurch commented on #2333
@djknowles21 Not certain it will help you, but [here is an adapted example](https://github.com/jonchurch/otel-issues/tree/master/jaeger-trace-propagation) meant to demonstrate auto propagation w/ Jaeger and the http auto instrumentation. Service A and B are run in their own processes, as is the client.

It's meant to be a proof of concept that shows that propagation happens automatically when all

[2021-07-09 07:45] alisabzevari commented on #1267
I would like to work on this. But, would you please elaborate what do you mean by resources?
I searched the repository and except some necessary cases in tests, there was no usage of `process.env`.

[2021-07-11 07:32] vmarchaud commented on #1267
I think he meant https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-resources/src/platform/node/detectors/EnvDetector.ts but that has been changed since then so i don't think this still stand today

[2021-07-11 07:32] #1267 closed

[2021-07-11 07:48] vmarchaud commented on #2333
I would advise to use a `NonRecordingSpan` that wraps your span context, there is a method for this in the API: https://github.com/open-telemetry/opentelemetry-js-api/blob/e1745d19b9bdfd1af7d805a6b2c32a5a5dbf4d15/src/trace/context-utils.ts#L63
[code]

[2021-07-11 07:57] vmarchaud commented on #2335
This is duplicate with https://github.com/open-telemetry/opentelemetry-js/issues/2321 so i'll close this one, the problem comes from the collector exporter / collector itself and not zonejs

[2021-07-11 08:06] #1862 closed

[2021-07-11 08:07] #1889 closed

[2021-07-11 12:10] niko-achilles commented on #2335
hi @vmarchaud , this issue was raised because of the usage of CollectorTraceExporter api .
The situation is thatbform developer point of view the explicit setup CollectorTraceExporter as follows:
[code]
results in a headers object where Content-Type is set twice. "Content-Type": "application/json application/json"

If i implicit define it as follows:
[code]
results are that the headers object hat

[2021-07-11 12:15] vmarchaud commented on #2335
I believe i understood the issue which is duplicate of https://github.com/open-telemetry/opentelemetry-js/issues/2321 (fixes is here #2336), isn't that the case ?

[2021-07-11 12:48] niko-achilles commented on #2335
@vmarchaud  i think actually not .
This issue may rather be an improvement than a bug because:
if headers config is present , xhr is used
else if not headers config is present , beacon is used

Additionally if headers config is present and the application developer provides explicit the Content-Type: "application/json"
then xhr is used and the Content Type is applied twice: "Content-Type": "applic

[2021-07-12 08:44] vmarchaud commented on #2335
This is because headers can't be used as-is with beacon (see [this](https://w3c.github.io/beacon/)), thats one of the things that #2336 should fix.

Could you provide a full example of this ? I can't reproduce locally

[2021-07-12 09:57] niko-achilles commented on #2335
sure, setup: https://github.com/niko-achilles/otlp-logzio-fullstack/blob/dev/frontend/lib/useOpentelemetry.js#L29

then in network tab of chrome dev tools i see this:

![Screenshot from 2021-07-12 12-45-52](https://user-images.githubusercontent.com/15736120/125268519-74978100-e310-11eb-9ad2-57cf4a447d0a.png)

 Notice:
Request Headers -> Content-Type: application/json application/json
applied twice

[2021-07-12 13:32] djknowles21 commented on #2333
Thank you guys for your recommendations, I'm trying to figure them out now.

@jonchurch  Thank you, it gives me a bit of sanity check. For the Http Instrumentation examples, they are making the http call from one server to the other within the implementations themselves. With my package, I won't be making the http calls within it. I'm trying to implement it in a way that when each request/response

[2021-07-12 16:44] obecny commented on #2323
I think that would be a correct approach.I'm just wondering if we could simply have something like `isSupported` function where we can check for existence of needed api. if that returns false, then we don't use the instrumentation at all - stop it at the very beginning (enable function for example?). It would be just few lines without changing so much code in many other places

[2021-07-13 15:54] niko-achilles commented on #2335
hi @vmarchaud managed to reproduce locally given the infos above ? I am asking with the motivation that maybe i have done something wrong on the setup on my side ?    i get  `Request Headers -> Content-Type: application/json application/json`

[2021-07-13 20:20] vmarchaud commented on #2335
I did not, i'll reopen this in the mean time but if you have the time to make PR that would be welcome :)

[2021-07-13 22:14] niko-achilles commented on #2335
@vmarchaud i checked the code in opentelemetry-js/utils : https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-exporter-collector/src/platform/browser/util.ts#L59
And because of the `XMLHttpRequestStandard` as documented here: https://xhr.spec.whatwg.org/#the-setrequestheader()-method

when setting the same header twice , the value(a.k.a body) of the header is append

[2021-07-14 14:40] dyladan opened #2346 "Ensure all examples are working"
All examples should be working before we go to GA. This may require updating some of the examples API 1.x.

[2021-07-14 14:43] dyladan opened #2347 "Add minimal setup to README"
When users first visit the project, the README should contain a minimal snippet of code they can add to their projects to get started right away. Right now it requires multiple clicks for a new user to get anything useful.

[2021-07-14 14:47] dyladan opened #2348 "Use lerna independent versioning"
Before we release this repo as `1.0`, we need to ensure we can hold the metrics packages back as `0.x`. We also need processes in place for backporting bug fixes to older minor versions after we reach `1.0`.

This should include tooling for automatic release management as well as updating the contributing.md

[2021-07-14 16:05] gregoryfranklin commented on #2193
Is there consensus on the solution?

The most recent suggestion was to only read the package.json if supportedVersions does not contain `*`.  This will resolve the lambda issue because the lambda instrumentation does have `*`.

[2021-07-14 16:53] #2330 closed

[2021-07-15 03:20] pragmaticivan commented on #1306
Howdy! Is anyone making any progress on this one?

[2021-07-15 07:07] CptSchnitz commented on #2346
Hi i would like to work on this.
two quick questions:

1. If i find some problems, should i open a PR for each example or one big PR for everything?
2. Is #1812 also relevant to this?

[2021-07-15 07:13] Flarna commented on #2346
I think if a change needed is just a missing import, some minor rename or change of a version it's fine to combine several fixes in one PR. But if there is more to do a dedicated PR is usually better.

[2021-07-15 10:39] blumamir opened #2353 "http instrumentation: url and host attributes are sometime wrong for outgoing requests with ipv6 address"
this is an issue found by @Flarna  in [this PR](https://github.com/open-telemetry/opentelemetry-js/pull/2349/files#r669863742)

### What version of OpenTelemetry are you using?
v0.23.0

### What version of Node are you using?
v12.18.3

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?
run the above code

If possible, provide a recipe for reproducing t

[2021-07-15 11:46] MikeGoldsmith opened #2354 "Add support for protobuf to OTLP exporter"
It would be good to update OTLP exporter to support exporting data using protobuf.

This is espcially useful, given that [OTLP/HTTP](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#otlphttp) JSON format is experimental where the binary format is stable.

_Originally posted by @vmarchaud in https://github.com/open-telemetry/opentelemetry-js/pul

[2021-07-15 14:00] Rauno56 opened #2355 "Only the first `InstrumentationNodeModuleFile` for each path is applied"
### What version of OpenTelemetry are you using?

Current version:

- `@opentelemetry/instrumentation@0.23.0`
- node@14

### Please provide the code you used to setup the OpenTelemetry SDK

Any instrumentation code works as a base. Prepend `InstrumentationNodeModuleFile` with for the same path to the `files` array before the one that actually works and the second one will be ignored.

### What did

[2021-07-15 14:11] Rauno56 opened #2356 "`InstrumentationNodeModuleFile` requires name to be prefixed with the package name"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

Current versions:

- `@opentelemetry/instrumentation@0.23.0`
- node@14

### Please provide the code you used to setup the OpenTelemetry SDK

`InstrumentationNodeModuleFile` instances require a name to be prefixed, but in fact it would be more helpful if it either was not required or if

[2021-07-15 16:01] adambartholomew commented on #2193
I took a stab at this back in May, and ended up stashing it as  it didn't match the exact solution proposed above. I was honestly just hoping someone more experienced would pick it up.

It was extremely challenging to do a simple `supportedVersions.contains('*')` as the code is forked for two separate flows- Modules, and files. Additionally, the `module.moduleVersion` is also patched prior to thes

[2021-07-15 19:02] vmarchaud commented on #1306
@pragmaticivan Our current metrics API/SDK is well behind the specification so this isn't something to work on the short term i believe

[2021-07-17 07:54] CptSchnitz commented on #2346
I went over all of the examples, and all of them worked except metrics, Prometheus and opentracing-shim that were missing @opentelemetry/api so it was impossible to run them.
I opened a PR to fix those, and upgrade the @opentelemetry/api version for all of them to the latest.

[2021-07-17 08:32] vmarchaud commented on #2356
I'll update because thats not a bug, its just how the whole require hook works currently (althrough it can be modified)

[2021-07-17 08:33] vmarchaud commented on #2355
I'm not sure to see why it would make sense to have two patches for the same file ?

[2021-07-17 08:45] #2294 closed

[2021-07-17 09:01] #1255 closed

[2021-07-17 09:01] #2320 closed

[2021-07-17 09:05] vmarchaud opened #2359 "instrumentation: implement new api"
In the specs meeting it looks like there will be a different way to doing this (if I'm reading and listening correctly)

https://github.com/open-telemetry/oteps/blob/8335c9a53cdf3398075dd9523d3752522c0ece28/text/0165-instrumentation-api.md

_Originally posted by @MSNev in https://github.com/open-telemetry/opentelemetry-js/pull/2332#discussion_r669172941_

[2021-07-19 15:38] CptSchnitz opened #2364 "Rename exporter-collector"
It would be a good idea to rename the exporter to a better  and clearer name.

A name like exporter-otlp will be easier to understand for newer people, and inline with the rest of the SDKs.

Also before GA is a good time to make such a change.

[2021-07-19 18:46] vmarchaud commented on #2364
cc @open-telemetry/javascript-approvers

[2021-07-19 20:49] schickling commented on #1315
Can you provide further instructions @dyladan? I don't seem to have much luck with the following versions:

[code]

[2021-07-19 23:40] vreynolds commented on #2347
I can pick this up

[2021-07-20 00:46] kolanos commented on #2354
@MikeGoldsmith Is https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-exporter-collector-grpc not using protobuf with grpc?

[2021-07-20 07:49] vmarchaud commented on #2354
@kolanos It is, but it should be possible to use the proto encoding with the HTTP protocol, there already is one for node (https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-exporter-collector-proto) but it would be theorically possible to make it work in the browser (and so merge it with the normal exporter-collector)

[2021-07-20 08:24] vmarchaud commented on #1315
@schickling Could you provide an complete example of how do you load all compoments ? Now that we have the new instrumentation system this should works as long as you register the instrumentation before loading the exporter

[2021-07-20 08:38] schickling commented on #1315
@vmarchaud could you clarify what you mean by "register the instrumentation before loading the exporter". I've followed the structure and order of the following [example out of the readme](https://github.com/open-telemetry/opentelemetry-js/blob/56de304a99158dfad424410e65d99e1940c8635d/examples/http/README.md).

[code]

I'm doing pretty much the above with the [collector exporter](https://github.co

[2021-07-20 08:43] vmarchaud commented on #1315
You should move the `new HttpInstrumentation()` at the top:
[code]

[2021-07-20 19:33] Renaud009 opened #2367 "Link browser tracing auto-instrumentations together"
Hello everyone, I'm new in otel ecosystem so excuse me if my question is stupid.

I'm working on a poc that sends browser traces from an angular application to tempo/zipkin using otel-collector. I enabled most auto-instrumentaiton that i found available for the browser (xml-http-request, fetch, document-load, user-interactions). If properly configured, api call traces are propagator with the backe

[2021-07-21 02:38] Shawnyeungcf opened #2368 "amqplib instrumentation: could not extract connection attribute protocol from user supplied url"
Get message while using amqplib instrumentation.

[code]

![image](https://user-images.githubusercontent.com/19815012/126421637-4ea9b996-fa3f-4aa4-9c2f-5998688ea6ba.png)

Full code `tracer.js`, and imported this file at the starting line of entry main js file.
[code]

[2021-07-21 15:57] #2335 closed

[2021-07-21 21:20] vreynolds opened #2370 "Code should take precedence over environment variables"
The `OTEL_EXPORTER_OTLP_HEADERS` environment variable and its variants will clobber headers set in the code config. For example, see [grpc setup](https://github.com/open-telemetry/opentelemetry-js/blob/11719ed943fb2b7713c80d27d67e656cfa4bfc5c/packages/opentelemetry-exporter-collector-grpc/src/CollectorExporterNodeBase.ts#L52) or [http setup](https://github.com/open-telemetry/opentelemetry-js/blob/

[2021-07-22 09:25] Rauno56 commented on #2355
Patching different methods or exported classes for example.

Especially useful if classes move around in the package. In that case(and in general actually from the point of the view of the instrumentation) it makes more sense to structure your code according to patched classes, not files.

If we decide it makes sense to have the instrumentation be fully file-specific, we have chosen the sub-optima

[2021-07-22 22:34] trentm opened #2371 "no git tags or CHANGELOG.md entries for v1.0.0 and v1.0.1?"
Hi. I noticed that the recent v1.0.0 and v1.0.1 npm-published releases do not have git tags, CHANGELOG.md entries, or GitHub "releases". I'm not sure if that could be intentional. Thanks.

[2021-07-22 23:36] trentm commented on #2371
Ug, I apologize. This was intended for the https://github.com/open-telemetry/opentelemetry-js-api/ repo.

[2021-07-22 23:36] #2371 closed

[2021-07-23 01:02] chengtangzheng2021 opened #2375 "set env OTEL_RESOURCE_ATTRIBUTES=service.name=myservicename got unknown_service:node"
### What version of OpenTelemetry are you using?
0.23.0

### What version of Node are you using?
v8.10.0

### What did you do?

adding auto tracing to node js express service app
with jaeger exporter
set env of OTEL_RESOURCE_ATTRIBUTES=service.name=myservicename
and/or
set env of OTEL_SERVICE_NAME=myservicename
### What did you expect to see?
the service name shown in tracing is:
myservicename

##

[2021-07-24 14:43] vmarchaud commented on #2370
`OTEL_EXPORTER_OTLP_HEADERS` can be merged with code defined headers where as the `OTEL_EXPORTER_OTLP_ENDPOINT` can be merged with the code defined one, hence this behavior. Or maybe i misunderstood what you said ?

[2021-07-24 14:44] vmarchaud commented on #2368
Closing since this has been answered in discussion: https://github.com/open-telemetry/opentelemetry-js/discussions/2369

[2021-07-24 14:44] #2368 closed

[2021-07-24 14:44] #2367 closed

[2021-07-25 08:02] vmarchaud opened #2376 "chore: remove opentelemetry prefix from packages"
https://github.com/open-telemetry/opentelemetry-js/pull/2340#discussion_r668120047

[2021-07-26 04:36] pragmaticivan commented on #2307
hi @Flarna

My current problem is strictly towards MeterProvider:
Because all the setup happens in a isolated manner on start:

[code]

To setup libs like:

[code]

ex: https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/packages/opentelemetry-host-metrics

The whole sdk starts without allowing the change to setup more metrics in the meterProvider.

[2021-07-26 08:00] Flarna commented on #2307
If I understand you correct it's not possible to call `api.metrics.getMeterProvider()` after SDK startup (as indicated [here](https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-api-metrics#api-methods)) and use it to setup more metrics.
Is my understanding correct?

[2021-07-26 13:47] pragmaticivan commented on #2307
Yes, the problem is that you can't set a global meter because it will be overwritten regardless by the nodejs SDK.

[code]
In this block, it doesn't care if there's already a global meter provider. It sets a new one every time the config is set. So no way to plug metric plugins into the provider after all instrumentation is already set.

[2021-07-26 14:36] Flarna commented on #2307
There should be only one place where a global provider is set. If you use the SDK then the SDK controls it so this seems to be correct for me.

If every instrumentation library tries to set a new `MeterProvider` the result would be a big mess.

The public getter you want is available: `api.metrics.getMeterProvider()`.

If you need a different `MeterProvider` implementation for some reason you can

[2021-07-26 14:40] dyladan commented on #2307
I don't think he is trying to have an instrumentation set up the meter provider but I must admit I don't think I have a good picture of the full usecase he is trying to solve.

@pragmaticivan can you provide a full description of the usecase rather than just the feature?

[2021-07-26 16:05] vreynolds commented on #2370
The environment headers do get merged with the config ones, but the merge will also overwrite any duplicate header keys.

For example, if I define `{foo: bar}` in code config, and then set `HEADERS:foo=baz`, then the exporter will use `baz` (environment > code config). Whereas the endpoint has the opposite preference (code config > environment > default endpoint).

Does that make sense? I'm wonder

[2021-07-26 19:25] #2347 closed

[2021-07-27 20:10] #1637 closed

[2021-07-28 16:29] preston commented on #2321
Does this appear to be the same issue? https://stackoverflow.com/questions/68552810/opentelemetry-collector-404ing-at-http-localhost55681-v1-traces?noredirect=1#comment121154538_68552810

If so, I suspect that pretty much everyone attempting to use this lib is failing. :-/  I know I've already spent more than a few hours with various example projects and still haven't successfully submitted any tr

[2021-07-30 12:01] mogest commented on #2321
I've found a terrible workaround which is working for my particular use case.  The code falls back to using XHR if there's no sendBeacon available, so I've added this to my codebase for the time being until it's fixed up:

[code]

[2021-07-30 12:30] niko-achilles commented on #2321
@mogest
if you use opentelemetry-collector of version 0.29.0 then,
an elegant workaround to fallback to xhr without mutating the `navigator.sendBeacon` property is to define the config of Collector Trace exporter as follows:
[code]
or if you want to be explicit, update npm packages to version 0.24.0 :
[code]

note opentelemetry-collector of version 0.29.0 is released and that workaround may not be

[2021-08-02 10:24] MartinNovak1991 opened #2386 "The same code, two environments ...."
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
    "@opentelemetry/api": "^0.21.0",
    "@opentelemetry/context-zone": "^0.21.0",
    "@opentelemetry/exporter-collector": "^0.21.0",
    "@opentelemetry/instrumentation": "^0.21.0",
    "@opentelemetry/instrumentation-document-load": "^0.21.0",
    "@opentelemetry/instrumentation-fetch

[2021-08-02 18:29] jasonkuhrt opened #2387 "TypeError: Cannot read property 'INFO' of undefined"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

`^0.24.0`

### What version of Node are you using?

16.4

### Please provide the code you used to setup the OpenTelemetry SDK

NA

### What did you do?

https://github.com/prisma/cloud-spike-nextjs-opentelemetry

In a Nextjs app I have a file with simply this:

[code]

If possible, prov

[2021-08-02 20:12] jasonkuhrt commented on #2387
solution is to install @opentelemetry/api 😕

[2021-08-02 20:14] dyladan commented on #2387
At install time there should have been a warning that there was an unmet peer dependency. I wonder if there would be any way at runtime to warn/log/throw if the API is not installed... NPM 7+ will automatically install peer dependencies so this will be less of a problem as more people update.

[2021-08-02 20:19] jasonkuhrt commented on #2387
Yeah, we do something similar for `nexus-prisma`

https://github.com/prisma/nexus-prisma/blob/main/src/lib/peerDepValidator.ts

I've been meaning to OSS that, and then you can at least consider using it.

[2021-08-02 20:21] dyladan commented on #2387
We do not take external dependencies in SDK components (with some very specific and thoroughly considered exceptions), but since that code is MIT licensed we could simply copy the implementation

[2021-08-02 20:21] #2387 closed

[2021-08-02 20:22] jasonkuhrt commented on #2387
Yep

[2021-08-02 20:22] dyladan commented on #2387
Happy to discuss in discussions, new issue, or on slack

[2021-08-02 20:24] jasonkuhrt commented on #2387
@dyladan I'm about to go on a week long hiking trip haha. The code is ok ish but I would probably refactor a bit before putting out as a proper package. If I get to it I'll post back as a probably better place to copy-paste from or gather some kind of inspiration anyways.

[2021-08-02 20:24] pragmaticivan commented on #419
I can assume this can be repurposed to Github Actions https://github.com/open-telemetry/opentelemetry-js/blob/main/.github/workflows/canary.yaml ? https://github.com/open-telemetry/opentelemetry-js/blob/main/RELEASING.md

https://github.com/googleapis/release-please could also be a great fit here for tagging/releasing on github.

[2021-08-02 20:31] dyladan commented on #419
Wow I hadn't seen release-please. It might work really well for the API repo, but unfortunately doesn't appear to support lerna repos

[2021-08-02 20:32] dyladan commented on #419
There is an existing pair of release actions in the contrib repo which we could repurpose, but we also need to be able to release only some packages and maintain different version numbers between different packages.

[2021-08-02 20:38] pragmaticivan commented on #419
I can take a deeper look but I'm almost sure it supports mono repo including Lerna and workspaces: https://github.com/googleapis/release-please/blob/master/docs/manifest-releaser.md

I personally use https://github.com/google-github-actions/release-please-action in one of my projects. It works well.

[2021-08-02 20:43] pragmaticivan commented on #419
Example of repo using the manifest releaser with lerna: https://github.com/googleapis/repo-automation-bots

[2021-08-02 20:45] pragmaticivan commented on #419
Release Pr example: https://github.com/googleapis/repo-automation-bots/pull/2269

[2021-08-02 21:03] dyladan commented on #419
That looks really awesome. Sorry if I'm being silly or missing something obvious but I don't see a lerna.json file in there or any other references to lerna? I assume it works with or without lerna and we would probably just switch the lerna mode to independent and they would not interfere with each other?

[2021-08-02 21:08] pragmaticivan commented on #419
I'm still new to RP with lerna but on the manifest-release md it has a section for nodejs:

The node-workspace plugin builds a graph of local node packages configured in release-please-config.json and the dependency relationships between them. It looks at what packages were updated by release-please and updates their reference in other packages' dependencies lists. Even when a particular package w

[2021-08-02 21:10] dyladan commented on #419
I'm thinking about creating a test branch with release-please on it and letting it create a release PR to see what it looks like. If I do, do you know what will happen when I close the PR it has created? Will that cause problems down the line?

[2021-08-02 21:13] pragmaticivan commented on #419
It should not be a problem as long as you remove the GitHub label (tag) it will create in the PR.

FYI, if you want to test it as a PR, you need to change the `default branch` it will be looking for. (I actually added that feature myself a while ago).

For safety and adjustment purposes, I would test it on the API repo first because It's simple enough.

[2021-08-02 21:51] dyladan commented on #419
The final part I'm missing is that it seems like the package.json is modified directly without running `npm version` to update the version https://github.com/googleapis/release-please/blob/master/src/updaters/package-json.ts

This means our [version update script](https://github.com/googleapis/release-please/blob/master/src/updaters/package-json.ts) is not run and `version.ts` file is not updated

[2021-08-02 22:08] pragmaticivan commented on #419
The purpose of this lib is to automatically determine the next version based on conventional commits.

If you need to manually set a version, you can use release-as for both all the packages or individual packages: https://github.com/googleapis/release-please/blob/master/docs/manifest-releaser.md#configfile

[2021-08-02 22:09] pragmaticivan commented on #419
For single package repository it's easier: https://github.com/googleapis/release-please#how-do-i-change-the-version-number

[2021-08-03 07:44] Rauno56 opened #2389 "Logger prints unformatted strings after ComponentLogger addition"
Please answer these questions before submitting a bug report.

### Versions

- `@opentelemetry/api@1.0.2`,
- `@opentelemetry/instrumentation@0.24.0`
- `node@14`

### Please provide the code you used to set up the OpenTelemetry SDK

HTTP example with log level set to `DEBUG` works.

### What did you do?

I'm running an example with HTTP instrumentation enabled. Logs show:

[code]

### What did you

[2021-08-03 08:59] Flarna commented on #2387
I would assume that `require('@opentelemetry/api')` fails before the above code line is reached. Why does this require succeed but doesn't return the contained types?

[2021-08-03 12:21] frank-dspeed commented on #1946
Out of my more in deep understanding Monkey Patching is not needed on the require level as you can already define alternates inside the package.json so running it from a folder with a diffrent package.json or import map which is also supported hooks into the loading via nativ methods

[2021-08-03 12:26] dyladan commented on #2387
The error is `Cannot read property 'INFO' of undefined`. The only place where `something.INFO` exists in that file is `DiagLogLevel.INFO`. If `DiagLogLevel` is undefined, then that probably means there is a version of the API installed somehow (possibly by an instrumentation, or a dev dependency, or even a global dependency?) which is too old to have the diag log level. We should maybe ask people

[2021-08-03 14:33] dyladan commented on #2346
Fixed by #2358

[2021-08-03 14:33] #2346 closed

[2021-08-03 15:14] jasonkuhrt commented on #2387
IIUC I think this section needs to be updated https://github.com/open-telemetry/opentelemetry-js/blob/main/getting-started/ts-example/README.md#install-the-required-opentelemetry-libraries

[2021-08-03 15:27] pierlucg-xs opened #2391 "Express.js example missing"
The examples README.md points to a non-existing express.js example: https://github.com/open-telemetry/opentelemetry-js/blame/main/examples/README.md#L19

Considering that Express.js is the most widely used Node.js web application framework, I feel like that example should definitely be present.

Cheers :)

[2021-08-03 15:28] dyladan commented on #2391
It was moved to the contrib repo https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/express

The examples readme should be updated to remove it and to point to the contrib repo for additional examples.

[2021-08-03 20:23] quickgiant opened #2394 "Span Processors do not respect sampled flag when exporting"
### What version of OpenTelemetry are you using?
`@opentelemetry/api@1.0.2`
`@opentelemetry/tracing@0.24.0`
`@opentelemetry/exporter-jaeger@0.24.0`

### What version of Node are you using?
`14.17.3`

### What did you do?

* Set up a `BasicTracerProvider`
* Add a sampler that downsamples traces using the `RECORD_ONLY` sampling decision
* Add a `BatchSpanProcessor` or `SimpleSpanProcessor`
* Add an

[2021-08-04 08:16] Flarna commented on #2394
The sampling decision is checked in [Tracer](https://github.com/open-telemetry/opentelemetry-js/blob/3b9cd16a8eeed7a262bdfea4c93098861b4c1ba0/packages/opentelemetry-tracing/src/Tracer.ts#L106-L109) and it creates a `NonRecordingSpan` (via ) or a "real" `Span` depending on this.
`SpanProcessor.onStart()` is  called in `Span` [constructor](https://github.com/open-telemetry/opentelemetry-js/blob/3b9c

[2021-08-04 14:26] quickgiant commented on #2394
In the "Sampling" section of the specification, the flag you're referring to is called `IsRecording`, but there's a second flag, `Sampled`, which is the one I'm referring to. The [sampling decision has 3 possible values](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#shouldsample), `DROP`, `RECORD_ONLY`, and `RECORD_AND_SAMPLE`. The check in `Tra

[2021-08-04 17:22] #1689 closed

[2021-08-04 19:08] quickgiant commented on #2394
Yes, the bug was encountered when using a custom sampler that uses `RECORD_ONLY`. I see how the included samplers would hide the issue.

[2021-08-04 19:55] lonewolf3739 commented on #2259
From [Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/sdk.md#specifying-resource-information-via-an-environment-variable)

Since `EnvDetector.detect` is an async function, it can't be used inside a constructor.

@open-telemetry/javascript-approvers & @open-telemetry/javascript-maintainers What do you think about adding a `init/create` factory fu

[2021-08-05 14:32] pragmaticivan commented on #2307
I ended up going another with a different solution. WIll close that ticket, thanks!

[2021-08-05 14:32] #2307 closed

[2021-08-05 19:13] #2146 closed

[2021-08-06 15:52] Rauno56 opened #2403 "Spec: implement an option to limit length of values of attributes and metric values"
Ref: https://github.com/open-telemetry/opentelemetry-specification/pull/1130

[2021-08-07 00:13] vreynolds commented on #2030
@carlosalberto do you think the Span/SpanContext Shim [section](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/compatibility/opentracing.md#opentelemetry-span-and-spancontext-shim-relationship) applies to OTEL-JS? I'm trying to wrap my head around it, and it _seems_ out of scope because:

* the requirement is stemming from multithreading concerns (not super f

[2021-08-07 13:24] vmarchaud commented on #2259
I believe there was a lot of debate around this in this PR: https://github.com/open-telemetry/opentelemetry-js/pull/1484
The last answer of daniel there sums it up well but overall this should be handled at the spec level

[2021-08-07 14:05] #2394 closed

[2021-08-08 06:54] lonewolf3739 commented on #2259
Thanks for linking the prior work and discussion.

[2021-08-08 07:58] blumamir commented on #2259
I encountered the same problem and ended up writing a sync version of the resource detectors I am using:
https://github.com/aspecto-io/opentelemetry-ext-js

Hope we can find a good solution for that which can be implemented in the SDK as using the async resource detectors is sometimes inevitable (for a small amount of the usecaes), but is practically very problematic for otel setup

[2021-08-09 15:54] CptSchnitz commented on #2403
will the length limit will be configurable from the code, or only from env?

[2021-08-10 06:32] legendecas opened #2407 "Update semantic conventions to v1.6.0"
### Is your feature request related to a problem? Please describe.

Otel Spec released v1.6.0. We should keep the semantic conventions up to date.

### Additional context

Just blocked by the issue https://github.com/open-telemetry/build-tools/issues/59.

[2021-08-10 18:12] kcirone opened #3311 "Lighter-weight no-op API packaging"
There is currently no easy way to get the basic OpenTelemetry constructs - tracer, span, context - without uptaking the whole API tree including diag logging, etc.  For implementations where No-Op is the default but conditional, it would be beneficial to have a lighter-weight API structure that minimizes footprint.

[2021-08-10 22:01] #2321 closed

[2021-08-11 15:45] #1774 closed

[2021-08-12 12:49] kkruk-sumo opened #2410 "Instrumentations are enabled twice on bootstrap"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
`12.7.0`

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

Then bundled using `webpack@^5.50.0`.

### What did you do?
I run the provided code in Firefox and set breakpoints on `enable` and `disable` methods of `DocumentLoadInstrumentation`.

### What did you expect to see?
T

[2021-08-12 20:45] justinabrahms opened #2413 "Found some broken links."
https://open-telemetry.github.io/opentelemetry-js/

I clicked "SDK docs" in the readme, which took me to https://open-telemetry.github.io/opentelemetry-js/

There, I opened both the getting started guide and the node auto-setup thing in this paragraph:

Both were broken links, which was unexpected.

[2021-08-17 08:08] banothurameshnaik commented on #2403
Hey,

I would like to contribute to this feature if no other working on the same.

@Rauno56 can you assign this to me.

[2021-08-18 04:58] banothurameshnaik commented on #2403
Hey all,

I implemented the option to limit length of attribute values (not yet for metrics).

Please have a look into #2418

[2021-08-18 11:50] chris-armstrong opened #2419 "Allow libraries for instrumentation to be provided directly instead of accessed via dynamic require()"
### Is your feature request related to a problem? Please describe.

The instrumentation provided by @opentelemetry/instrumentation for NodeJS does not work if a bundler is used or if dynamic require is unsupported in that environment.

### Describe the solution you'd like

It should be possible to provided the already require'd / imported module to the `InstrumentationBase` subclass for instrument

[2021-08-18 20:23] Flarna commented on #2419
`@opentelemetry/instrumentation-http` is operating on node.js built in modules http and https which will be never bundled by e.g. webpack. As a result the current approach will work fine even in that cases.

For normal modules like e.g. ioredis, mongodb patch after load will only work if you can ensure that noone accesses/caches an unpatched export or uses it to create an instance of some class.

[2021-08-18 21:22] chris-armstrong commented on #2419
I'm finding it doesn't work for http/https because require-in-the-middle cannot hook `require()` after webpack has replaced them for it.

I'm not sure about these cases but I could give them a go to see if it's possible to address those with this approach.

[2021-08-18 22:02] chris-armstrong commented on #2419
Please see #2420, which is the approach I've found useful as a workaround to address the scenarios where `require()` has been replaced by the bundler. I've used it successfully to get `@opentelemetry/instrumentation-http` working in a webpack environment. It seems to be required when the module has already been loaded by webpack by another module (because webpack caches the require() internally)

[2021-08-18 23:55] Uttam92477 commented on #1688
@sanjbane Were you able to achieve this functionality?

[2021-08-19 01:14] Uttam92477 opened #2422 "Metric counter clear is not working as expected"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
[code]
### What version of Node are you using?
v14.17.0

### Please provide the code you used to setup the OpenTelemetry SDK
[code]
### What did you do?
I created a setInterval to automatically clear the counters after every interval. So that the new export created will have fresh values

[2021-08-20 00:14] sanjbane commented on #1688
No I was not able to achieve the functionality.

However I realized that it is not needed either. The counters are all cumulative and that plays well with the observability trend UI. So we are currently using cumulative values for our software.

[2021-08-20 04:16] legendecas commented on #2410
The problem also prevents derived instrumentation class from defining their own fields, like:

[code]

The `Instrumentation.enable` should be called after the derived class constructor is finished.

[2021-08-20 04:26] legendecas commented on #2410
Currently, the documentation of instrumentation all show two approaches to enable instrumentation:

1. call `instrumentation.enable` manually, (https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-instrumentation#usage-in-web)
2. use autoLoader: `registerInstrumentations({ instrumentations: [new Instrumentation()] })`, (https://github.com/open-telemetry/opentelemetry

[2021-08-23 21:46] #1390 closed

[2021-08-24 09:01] Rauno56 commented on #2403
Reopening it because the spec has two other attributes:

[2021-08-24 12:41] banothurameshnaik commented on #2391
@dyladan
Can I correct this link? and raise a PR?(If allowed, you can assign to me).

[2021-08-25 00:26] banothurameshnaik commented on #2403
@Rauno56
I will continue working on implementing these two attributes also.
Will raise another PR.

[2021-08-25 04:52] forking-renovate[bot] opened #2427 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] fix(deps): roll back dependency @opentelemetry/instrumentation-express to ^0.24.0
 - [ ] chore(deps): update dependency eslint-plugin-import to v2.24.2

## Edited/Blocked

These updates have been manually edited so Ren

[2021-08-25 16:08] aabmass opened #2428 "HttpTraceContextPropagator should not have "HTTP" in the name"
The W3C TraceContext propagator is called [HttpTraceContextPropagator](https://github.com/open-telemetry/opentelemetry-js/blob/c62ea117a6148a075fe04b2778996f9a0e3ae278/packages/opentelemetry-core/src/trace/HttpTraceContextPropagator.ts#L73). I don't think the "HTTP" prefix should be in the name, since propagation is carrier-agnostic. Other OTel SDK names:

- In Java, it's [`W3CTraceContextPropagat

[2021-08-25 16:24] dyladan commented on #2428
Discussed in SIG. We like `TraceContextTextMapPropagator`

[2021-08-27 15:42] longility opened #2436 "Code to support environment variables for exporter does not meet spec."
### What did you do?

[code]

I added an env var like so `OTEL_EXPORTER_OTLP_ENDPOINT=http://example.com`

### What did you expect to see?
For the exporter collector to send successfully and internally, automatically append `v1/traces` and `v1/metrics`.

### What did you see instead?
However, it did not append like the spec says it should if I understand it correctly to where I had to add an env v

[2021-08-28 02:21] banothurameshnaik commented on #2391
Here is the PR with changes #2437, Please have a look.

[2021-08-28 05:35] Anusha-Gurajapu commented on #2354
I would like to pick this up. Please assign this to me.

[2021-08-30 08:08] #2391 closed

[2021-08-30 11:35] MartinNovak1991 commented on #2386
Any idea?

[2021-08-30 12:29] dyladan commented on #2386
I can't think of anything that would cause this. There isn't really enough info here to effectively debug. Can you provide a reproduction?

[2021-08-30 14:15] akashdeep-sharma opened #2441 "Context Propagation between 2 services"
I am trying to pass the Context in the header of the http call. and trying to get that header in the second service which i recieving the context.
` @Get()
  getHello(@Headers() request: any): any {
    const track = trace.getTracer('Tracer');
    this.context1 = JSON.parse(request.ctx);
    console.log(JSON.stringify(this.context1) + 'current context');
    const activeSpan = trace.getSpan(contex

[2021-08-30 14:17] dyladan commented on #2441
Are you using any autoinstrumentation libraries or are you trying to do manual propagation?

[2021-08-30 14:18] akash19980 commented on #2441
I am using HTTP Instrumentation and AWS instrumentation

[2021-08-30 14:20] dyladan commented on #2441
If you are using the http instrumentation then you should not manually have to extract context from headers or inject, it should be automatic. I may be misunderstanding what you are trying to do? What do you mean by "not able to change the context for the HTTP span when I hit the endpoint."?

[2021-08-30 14:27] akash19980 commented on #2441
![image](https://user-images.githubusercontent.com/16352400/131354774-55a2d52f-f070-41a4-aa03-994b570d7fc2.png)
So basically in this, you can see we are having 2 different service maps for service1 and service2. We are trying to get a connected trace. Service1-HTTP is hitting the service2-sqs and that is inserting a message to sqs.

[2021-08-30 14:28] dyladan commented on #2441
If you are trying to propagate context through an SQS call, i'm not sure the current version of the aws instrumentation does that. Maybe @willarmiros can shed some light here.

[2021-08-30 14:31] akash19980 commented on #2441
![image](https://user-images.githubusercontent.com/16352400/131355556-a5ac0cad-6abd-4be0-9467-3df9879f585d.png)
What i want is a connected service map basically first im trying to solve that. We should not have different clients

[2021-08-30 15:00] willarmiros commented on #2441
It seems like `Service1-HTTP` is hitting `internal-otel-test-lb` before relaying its request to service2-sqs. Is it possible `internal-otel-test-lb` is not propagating trace context to service2-sqs? Can you share some code of how this call is being made between services?

[2021-08-30 15:43] vanand-conga opened #2442 "How can we sample spans based on duration?"

[2021-08-30 15:51] #2442 closed

[2021-08-30 16:18] obecny commented on #2428
would be in favour of making them shorter `W3CTraceContextPropagator` and `W3CBaggagePropagator` ?

[2021-08-30 16:37] dyladan commented on #2428
Sounds good to me

[2021-08-30 20:19] #2428 closed

[2021-08-31 05:43] MartinNovak1991 commented on #2386
There is nothing to reproduce ... Behavior is immutable.

The same piece of code (comment above) gives two different payloads. If I run this code on localhost (on my PC), consoleExporter writes data to console correctly, collectorExporter sends data to collector pretty correctly. But if I run this code on remote server (running on HTTPS), consoleExporter writes data to console correctly too, BUT c

[2021-08-31 07:29] MartinNovak1991 commented on #2386
Here is possible to see consoleExporter data and collectorExporter payloads from localhost instance:
![OT_localhost](https://user-images.githubusercontent.com/71878667/131461033-76fb3716-c6a1-4fd2-ae06-1992987c8b12.png)

and here the same code on remote server seen in my browser:
![OT_server](https://user-images.githubusercontent.com/71878667/131461367-763b1dcb-3232-4671-b47a-1ed79e95c720.png)

[2021-08-31 11:34] akash19980 commented on #2441
I am passing the context in the header when i am hitting ```internal-otel-test-lb```. I am able to set the context for the custom spans that I create but not for the automatic spans that are generated in service 2 and also custom spans are not showing up in the service map
![MicrosoftTeams-image (12)](https://user-images.githubusercontent.com/16352400/131495368-1d00fcb8-184e-4fd2-834f-7fa42181bbee

[2021-08-31 18:19] #2436 closed

[2021-09-01 12:36] dyladan commented on #2386
@obecny any idea? This is a weird one

[2021-09-01 12:38] dyladan commented on #2386
My best guess is that it has something to do with your build process. Perhaps the production build is stripping something important.

[2021-09-01 13:07] obecny commented on #2386
This is weird but this might be related to your server and how the browser treats cross domain requests and headers. That would be the first thing to check, I dont see if browser is doing preflight request and if so what is the whole request and response that is coming from yr servers. If server doesn't set cors and allow all headers that are being used many unpredictable things could happen. Can

[2021-09-01 13:13] dyladan commented on #2413
Thanks for bringing this up :)

[2021-09-03 16:00] alisabzevari commented on #2389
I just checked the usage of `%s` and `%d` in the project and it seems to be fairly easy to replace all of them with template literals. I would also vote for using template literals since it is more like idiomatic Javascript.
Let me know if you agree, then I will create a PR to fix this.

[2021-09-06 10:40] Rauno56 commented on #2389
You mean to replace usages of `%s` and `%d` in the instrumentations(namely HTTP instrumentation) with template literals? I agree.

[2021-09-06 10:43] alisabzevari commented on #2389
Yes, I searched in all the packages but we can change it only in instrumentation packages.

[2021-09-06 12:41] wong2 commented on #2364
yes, it's confusing

[2021-09-06 14:35] Rauno56 commented on #2389
Everything that uses ComponentLogger has this problem, so, at least eventually, all of those should be changed.

[2021-09-06 15:27] alexisbel1 opened #2458 "Manual context propagation across microservices behind Pub/Sub system"
Hi everybody,

I would like to propagate the trace context across multiple microservices behind a Pub/Sub system (we are currently using Azure Service Bus and there is no existing instrumentation for this library) so I can have the complete trace for my application.

However, I was not able to find how to implement it, in the documentation or in the examples provided. From my understanding, I shou

[2021-09-06 20:54] lonewolf3739 commented on #2458
You will need to use `HttpTraceContextPropagator` (renamed to `W3CTraceContextPropagator` on main) for this. Hope this snippet helps.
[code]

[2021-09-07 05:02] gauravsaralMs opened #2459 "Status code getting set as 1 even when http request is successful"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

"@opentelemetry/instrumentation-http": "^0.24.0"

### What version of Node are you using?

12

### Please provide the code you used to setup the OpenTelemetry SDK

N/A

### What did you do?

normal web app which makes http request to other services

### What did you expect to see?

no e

[2021-09-07 05:17] gauravsaralMs commented on #2459
my bad looks like `status: { code: 1 },` is actually successful.

[2021-09-07 05:17] #2459 closed

[2021-09-07 15:59] stephenhong opened #2460 "Unable to send traces with @opentelemetry/exporter-collector-grpc"
Hello team, I'm trying to use `@opentelemetry/exporter-collector-grpc` and I'm able to get it to work when I have `url: 'grpc://localhost:4317'` for my `collectorOptions`. But I'm unable to send traces to a collector running on a different ec2 instance. For example, if I have an otel collector running on an ec2 with ip address 1.2.3.4 on port 2222, having `url: 'grpc://1.2.3.4:2222'` doesn't work.

[2021-09-07 16:53] Rauno56 commented on #2364
@CptSchnitz, this seems to have quite a lot of support, would you like to draft a PR for it?

[2021-09-07 18:35] CptSchnitz commented on #2364
sure!

[2021-09-07 21:20] obecny commented on #2460
Are you actually able to send any simple hello world example using grpc between those 2 servers ?

[2021-09-07 22:02] obecny commented on #2422
I think you are confusing here 2 things a counter is a monotonic metric, it can be only rise up. The way how the data is handled and displayed it is a backend responsibility and it is a different story (different aggregators and temporality). This way the data will be presented correctly based on time and different period of time.
You should probably not use the same metric in the way you are tryi

[2021-09-07 23:33] JamesJHPark commented on #2413
@alolita - please assign me this issue

[2021-09-08 00:03] alolita commented on #2413
@dyladan can you please assign @JamesJHPark to work on this issue? ty!

[2021-09-08 00:26] Uttam92477 commented on #2422
Thanks a lot for the detailed explanation @obecny. I understand it a bit better now. I still am wondering though,
What is clear() function supposed to do? The reason i am asking is, from a layman perspective, there is counter and a clear function in that counter, one would expect when counter is 10 and clear function is called, the counter would be cleared and become 0.

Either way, I will go thro

[2021-09-08 00:26] #2422 closed

[2021-09-08 01:43] stephenhong commented on #2460
Not with grpc, which is why I am asking the otel community if this is even possible. However, I was able accomplish the use case with `@opentelemetry/exporter-collector`.  I have a nodejs application running on one ec2 (let's call this ec2 A) and an otel collector running on another ec2 (let's call this ec2 B). I was able to send traces from ec2 A to ec2 B using `@opentelemetry/exporter-collector`

[2021-09-08 11:05] CptSchnitz commented on #2364
@Rauno56 I got some questions

1. should it be renamed to `exporter-otlp` or `exporter-otlp-http`?
2. should the other exporter collector be renamed (proto and grpc)?

[2021-09-08 11:32] wong2 commented on #2364
+1 for exporter-otlp-http

It takes me a while to realize it's a http exporter instead of some base exporter others relying

[2021-09-08 11:43] gauravsaralMs commented on #2459
Just in case some one is running into similar issue with lightstep then try
changing lightstep collection url from https://ingest.lightstep.com:443/api/v2/otel/trace to https://ingest.lightstep.com:443/traces/otlp/v0.6

Ref: https://docs.lightstep.com/docs/satellite-release-notes#2021-01-26_23-02-36z

`
New versioned endpoint for OTLP/HTTP v0.6 at /traces/otlp/v0.6. This endpoint properly handles

[2021-09-08 22:12] #2403 closed

[2021-09-08 23:21] vreynolds commented on #2364
If I understand it correctly, there's more nuance:
- opentelemetry-exporter-collector is OTLP/HTTP (JSON)
- opentelemetry-exporter-proto is OTLP/HTTP (binary)
- opentelemetry-exporter-grpc is OTLP/gRPC

exporter-otlp-http-json? 😅

[2021-09-09 01:06] mmarchini commented on #200
Was this implemented somewhere? I only see OpenTracing shim on `utils` and the latest OpenCensus version is not a wrapper over OpenTelemetry.

[2021-09-09 08:27] legendecas opened #2464 "Reference of require in esm build of base sdk packages"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

0.25.0

### Please provide the code you used to setup the OpenTelemetry SDK

- index.js
[code]

- index.html
[code]

### What did you do?

Build the file with vite or rollup in esm mode (commonjs is not enabled) and access in browser.

[code]

### What did you expect to see?

The script

[2021-09-09 10:01] legendecas commented on #2464
Typically, for packages like `lodash.merge` that use the pattern `module.exports = ...` should be able to work with typescript option [`esModuleInterop`](https://www.typescriptlang.org/tsconfig/esModuleInterop.html) enabled.

With that option enabled, we can `import pkg from 'pkg'` from packages either using the pattern `module.exports = ...` or `export default ...`.

Notably, Node.js built-in mod

[2021-09-09 10:53] nozik commented on #2193
@vmarchaud The PR was merged (https://github.com/open-telemetry/opentelemetry-js/pull/2450) - should we close the ticket?

[2021-09-09 13:43] Rauno56 commented on #2364
Had to look it up, but that's my understanding as well.

I'm sure there will be different preferences for that, and "the absolute most correctest" way would probably be to mention both the transport and the format as @vreynolds put it.

I'd **personally** leave some of that information implied.

- `exporter-otlp-json` - implied http
- `exporter-otlp-http` - implied proto
- `exporter-otlp-grpc`

..

[2021-09-09 17:21] #2193 closed

[2021-09-10 08:35] kkruk-sumo opened #2466 "instrumentation-fetch doesn't support array headers"
### What version of OpenTelemetry are you using?

0.24.0

### What version of Node are you using?

14.15.4

### Please provide the code you used to setup the OpenTelemetry SDK

### What did you do?

[code]

### What did you expect to see?

Fetch to be sent with the `custom: 1` header.

### What did you see instead?

Fetch being sent with `0: custom,1` header.

### Additional context

The `_addHead

[2021-09-10 09:06] Rauno56 commented on #2403
Awesome work independently taking this from start to finish, @banothurameshnaik! Thanks!

[2021-09-14 02:55] meteorlxy commented on #2464
As a workaround, you can enable `build.commonjsOptions.transformMixedEsModules` to make it work in vite now.

[code]

[2021-09-14 03:02] legendecas commented on #2464
@meteorlxy Thanks for the suggestion. However, the problem in this issue is that the esm builds officially published can not be imported with Node.js built-in ECMAScript modules support too, that is, the ESM build product is not a valid esm build product.

[2021-09-14 03:07] meteorlxy commented on #2464
Yes, I also noticed this problem yesterday. However, I don't think it's a good idea to enable `esModuleInterop`, because that option is kind of "contagious". It might require projects who depend on opentelemetry to enable `esModuleInterop`, too 🤔

I'd prefer to replace `lodash.merge` to `lodash-es` or some other alternatives that is esm-friendly.

[2021-09-14 03:50] legendecas commented on #2464
I don't quite get a point of the "contagious" problem. As the option is just about the import behavior in enabled files, but not export behavior. Would you mind sharing any links about the "contagious" problem so that we can reach the same understanding of the options?

[2021-09-14 06:24] legendecas commented on #1528
Closing as spec updates. This is no longer valid.

[2021-09-14 06:24] #1528 closed

[2021-09-14 06:27] Flarna opened #2471 "ESM build targets ES5 resulting in polyfills for await"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

The ESM typescript build targets ES5 currently for everything.
see https://github.com/open-telemetry/opentelemetry-js/blob/07b19ad19e7045d48bbbba1fd8c319066619c256/tsconfig.base.esm.json#L2
and
https://github.com/open-telemetry/opentelemetry-js/blob/07b19

[2021-09-14 09:25] legendecas commented on #2471
ESM is available since ECMAScript 2015 (aka. es5). So it doesn't make sense to targeting es5 when building esm targets.

[2021-09-14 09:34] Flarna commented on #2471
as far as I remember ECMAScript 2015 is es6.
to avoid the `await` polyfills completly target ES2017 is needed but using target ES2015 (or ES6) already removes quite some of it

[2021-09-14 09:45] legendecas commented on #2471
@Flarna sorry, a typo.

`tsconfig.base.json` is already targeting es2017. That's default language version that we are publishing.

A naive investigation on feature matrix of modern browsers:

 - | `await` | `import` statement
 --- | --- | ---
Chrome | 55 | 61
Firefox | 52 | 60
Edge | 14 | 16

- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/await#browser_compatibility

[2021-09-14 15:35] vadymrybak opened #2475 "Instrumention/tracing works fine while running in dev mode but stops after building minified version with webpack"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

`v14.16.0`

### Please provide the code you used to setup the OpenTelemetry SDK

[code]

### What did you do?

export OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"
export OTEL_SERVICE_NAME="workflow-ui-node-dev"

If possible, provid

[2021-09-14 16:46] Flarna commented on #2475
Instrumentations use [require-in-the-middle](https://www.npmjs.com/package/require-in-the-middle) and as the name indicates this depends on `require` the modules to instrument.
If you bundle them into a webpack file they get no longer required and as a result not instrumented. You have to exclude the modules you want to instrument (express, grpc,...), see https://webpack.js.org/configuration/exter

[2021-09-14 17:45] dyladan commented on #2464
Do you have an alternative suggestion if not esmoduleinterop?

@meteorlxy provided an example in #2467. Here it is: https://github.com/meteorlxy/esmoduleinterop-issue

I would definitely prefer not to require our customers to enable es module interop if they don't want to, but providing a broken ESM build is also not acceptable. Is lodash.merge the only broken dependency? It is only used for confi

[2021-09-14 18:11] vadymrybak commented on #2475
Thanks. So I tried configuration below, and when running "node index.js" after running the build i'm getting error:

[code]

ReferenceError: HttpInstrumentation is not defined

[2021-09-15 07:02] CptSchnitz commented on #2364
hi didn't had the time to work on it yet and just started.
I got another question:
should the rename also include all the internal code mentions of the collector in the packages, or just the exported classes and interfaces? it makes the PR much bigger, and it can be done in a later stage, or separately for each package.

[2021-09-15 07:56] vmarchaud commented on #2364
Only the exported classes make more sense, we could improve it later on

[2021-09-15 08:07] obecny commented on #2364
my 3 cents:

- exporter-otlp-json
- exporter-otlp-proto
- exporter-otlp-grpc

[2021-09-15 08:13] CptSchnitz commented on #2364
i agree, the only thing that will be slightly "weird" is that both proto and grpc will depend on the json because it has the base class.

[2021-09-15 08:19] vmarchaud commented on #2364
Thats just implementation details, we could in the future make a dedicated util pkg that host base classes and remove the direct dependency so i think thats fine to do it like this

[2021-09-15 15:46] vadymrybak commented on #2475
Found a solution but cannot explain it. Can someone help me with that? Basically the problem was inside tracer.ts:

[code]

As soon as I move these two imports (mentioned below) to the top of the file, tracing stops working

[code]

If they remain in the spot like I pasted above - then everything works fine!

[2021-09-15 15:53] dyladan commented on #2364
https://github.com/open-telemetry/opentelemetry-js/pull/2476

[2021-09-15 16:09] Flarna commented on #2475
Instrumentations need to be installed before the modules to instrument are `require`d.
I assume that `@opentelemetry/exporter-collector-grpc` and/or `@opentelemetry/sdk-node` require relevant modules and as a result they end up in node.js module cache uninstrumented.

[2021-09-15 18:41] #2364 closed

[2021-09-16 15:08] vadymrybak commented on #2475
Thanks again for stepping in and trying to resolve this.

Yesterday I finally figured it out. This is purely my bad. I missed very important sentence in the start up guide:

Maybe this could be in **bold** :) But, anyway, after running node command with -r option and providing tracing.js file - everything works like a charm.

[2021-09-17 14:39] #2475 closed

[2021-09-17 21:45] pragmaticivan commented on #2413
Assuming this issue should be closed?
ref: https://github.com/open-telemetry/opentelemetry-js/pull/2463

[2021-09-17 21:59] pragmaticivan opened #2480 "Update Metrics API to latest Feature-Freeze Spec"
This issue tracks work needed to meet the [API specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md)

## General

- [x] https://github.com/open-telemetry/opentelemetry-js/pull/2523
- [x] https://github.com/open-telemetry/opentelemetry-js/pull/2529
- [x] https://github.com/open-telemetry/opentelemetry-js/issues/2545
- [x] https://github

[2021-09-17 22:03] justinabrahms commented on #2413
@pragmaticivan No. There are still several broken links on https://open-telemetry.github.io/opentelemetry-js/ including at least 2 links for the getting started guide.

[2021-09-18 19:38] vmarchaud commented on #1074
I think we can close this one since it has been some times since we migrated to instrumentations

[2021-09-18 19:38] #1074 closed

[2021-09-19 11:37] blumamir opened #2481 "otlp grpc exporter creating Insecure connection by default"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
latest - 0.25.0

According to the [specification for otlp](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#configuration-options), exporter should honor the following environment variables:
[code]
Which has a default of `false` -

[2021-09-19 12:14] vmarchaud commented on #2481
Not sure how we should default to secure connection when it requires user to config certificates, that means the exporter just doesn't work out of the box ?

[2021-09-19 12:26] blumamir commented on #2481
Secure connection does not require user to configure certificate, it means you open a TLS channel to the server and the client verify server certificate with the root ca certificate that is installed on the OS. If the client chooses to, he can set a custom root certificate using `OTEL_EXPORTER_OTLP_CERTIFICATE` variable, but that's [optional in the grpc api](https://github.com/grpc/grpc-node/blob/

[2021-09-19 12:42] vmarchaud commented on #2481
I know that but i would expect people to use the collector exporter in a internal network, not to send data across the internet. Thats why the default URL is localhost, if you deploy a local exporter on every node it will work out the box.
I guess that was discussed at the spec level, but improving an use case while deteriorating another seems weird, thats just my 2 cent.

[2021-09-19 13:13] blumamir commented on #2481
The default URL is also set as secured in the spec: `https://localhost:4317`.
You are right that if someone is using a collector in an internal network that doesn't use a secure connection, he will have to set `OTEL_EXPORTER_OTLP_INSECURE=1` for his setup to work.
I guess that the default secure connection was chosen for security reasons, to make it harder for users to send unencrypted data when t

[2021-09-20 11:49] nozik opened #2482 "aws-lambda instrumentation v0.25.0 depends on v0.24.0 OTEL core/trace packages"
### What version of OpenTelemetry are you using?

aws-lambda instrumentation v0.25.0

### What version of Node are you using?

v15.12

### Please provide the code you used to setup the OpenTelemetry SDK

N/A

### What did you do?

I've imported the latest aws-lambda instrumentation into my code and noticed this inconsistency, see [here](https://github.com/open-telemetry/opentelemetry-js-contrib/bl

[2021-09-20 21:06] PaurushGarg commented on #2389
@dyladan- please assign me this issue. I am working in @alolita team.
Tag: @alolita

[2021-09-20 21:11] JamesJHPark commented on #2413
@dyladan - Hi, I was wondering if the issue of broken links on https://open-telemetry.github.io/opentelemetry-js/
may be related to timeline of the updates in gh-pages index.html? I have noticed the change to Upgrade guidelines for 0.25.x to 1.x.y from recent commits to README.md in main is also not reflected on the page. Thank you.

[2021-09-20 22:35] JamesJHPark commented on #2278
@dyladan - please assign me this issue. I am working in @alolita team. Thank you

[2021-09-21 05:39] willarmiros commented on #2482
This will be fixed by https://github.com/open-telemetry/opentelemetry-js-contrib/pull/660, which itself is blocked by https://github.com/open-telemetry/opentelemetry-js-contrib/pull/661. Hopefully both will be included in the next release of the AWS Lambda instrumentation.

[2021-09-21 15:17] sureshballa opened #2483 "OpenTelemetry AbstractAsyncHooksContextManager of opentelemetry-context-async-hooks is stopping the flow of execution"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
"@azure/monitor-opentelemetry-exporter": "^1.0.0-beta.4",
"@opentelemetry/api": "^1.0.3",
"@opentelemetry/core": "^0.24.0",
"@opentelemetry/exporter-prometheus": "^0.24.0",
"@opentelemetry/instrumentation-express": "^0.25.0",
"@opentelemetry/instrumentation-http": "^0.25.0",
"@openteleme

[2021-09-21 15:22] vmarchaud commented on #2483
What make you think that the problem comes from the AsyncHooksContextManager ? Did you test without it to see if you still have the problem ?

Could you also precise which node version you are using (not just the major), it's important because we do not use the same implementation after/before 14.8.0

[2021-09-21 22:08] lizthegrey commented on #1946
https://github.com/DataDog/dd-trace-js/pull/1582/files is the equivalent change that was done to dd-trace-js.

I was bitten by this breaking for some (but not all) of my instrumentation when I moved to ESM, because I imported knex (which is cjs), which in turn loads postgres, and that instrumentation kept working. But the code loaded directly from my ESM main module (express, http) didn't get auto

[2021-09-21 22:40] mustafain117 commented on #2278
@dyladan Can you please assign this to me
CC: @alolita

[2021-09-21 23:44] mustafain117 commented on #2145
@alolita I would like to work on this issue(updating getting started docs for typescript), please assign this to me.

[2021-09-22 03:22] legendecas commented on #2480
According to the tracking project https://github.com/orgs/open-telemetry/projects/8, implementations of Java and .net are expected to be experimental before the feature-freeze stage. And Metrics SDK spec is expected to reach feature-freeze at 9/30/2021.

[2021-09-22 03:29] pragmaticivan commented on #2480
Would that block development for experimental packages? This was also done in the go package 20 days ago: https://github.com/open-telemetry/opentelemetry-go/commit/a7b9d02167267d999732292de60c5cdbbd8f7d3b

[2021-09-22 08:00] weyert commented on #2480
I think the idea was to wait until the SDK spec is finalised based on experience last time were the spec quite a bit while working on developing it.  Think this time it's decided to wait it's all set in stone before start working on it.

@pragmaticivan But you can always start making a list of difference between current implementation and the draft Metrics SDK :)

[2021-09-22 09:41] willarmiros opened #2486 "Remove metrics exporters before declaring OTLP exporters stable"
Creating this issue to follow up from the discussion in #2468, where the community agreed that we should not release the exporter packages as `1.x` stable if they depend on experimental packages like ones for metrics.

We agreed to create 3 new packages, one for each protocol, in the experimental subdirectory for the metric exporters.

[2021-09-22 12:08] vmarchaud commented on #2480
Nothing, you are free to start working on it. As @weyert said we (contributors at the time) invested quit a bit of time to have a initial version at the time which was pretty much out of date as soon as the implementation was done so there was some kind of agreement on waiting stable spec before working on this.

[2021-09-22 13:11] MartinNovak1991 commented on #1887
Any update?

I would like to debug some functions .... I need source-maps to debug this issue -> [(https://github.com/open-telemetry/opentelemetry-js/issues/2386)]

I found out code behind:

`CollectorExporterBase.prototype._export = function (items) {
        var _this = this;
        return new Promise(function (resolve, reject) {
            try {
                diag.debug('items to be sent',

[2021-09-22 13:19] MartinNovak1991 commented on #2386
Please, check this:  https://github.com/open-telemetry/opentelemetry-js/issues/1887

I found out OT function is intercepted, but Im not able to debug  a breaking point because of missing source-maps.

[2021-09-22 17:42] hectorhdzg opened #2487 "Use recommended Span names for incoming requests when using HTTP instrumentation package"
Currently Span names created for incoming server requests looks like this "HTTP GET", OpenTelemetry Spec mention to use HTTP route instead eg: "/api/users/{user_id}".
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#name

We found the issue while updating Azure Monitor Exporters for OpenTelemetry, other languages are actually

[2021-09-22 20:32] dyladan commented on #2487
The built in http server doesn't have route information. Following the guidelines you linked, we use the low cardinality alternative. If you need route names, you have to get them from the instrumentation for whatever http framework you're using. The express instrumentation for example uses routes for span name. Actually, I believe the express instrumentation updates the span name from the incomin

[2021-09-22 20:45] hectorhdzg commented on #2487
I'm currently testing using native http module with createServer method, I can see Span attributes have http.route being populated but is not being used to set the Span name, so the info is in there but is not being used.
![image](https://user-images.githubusercontent.com/39923391/134419176-174f1269-0145-43dd-a57d-5cb286ede690.png)

[2021-09-22 20:47] dyladan commented on #1887
There have been no updates. I think we can inline the sources in the sourcemaps without issue. Those that are very sensitive to size will not be loading sourcemaps anyway and those that use sourcemaps require sources.

[2021-09-22 20:48] dyladan commented on #1887
https://github.com/open-telemetry/opentelemetry-js/pull/2488

[2021-09-22 20:48] dyladan commented on #2386
I created a PR to inline sources in maps https://github.com/open-telemetry/opentelemetry-js/pull/2488

[2021-09-22 20:50] dyladan commented on #2487
In our case, we do not have low-cardinality route names. If you sent a request to `/user/123`, the route attribute would not be `/user/:id` it would be `/user/123` which is unsuitable for span names according to the specification.

[2021-09-22 20:52] dyladan opened #2489 "Remove http.route from http span attributes"
It seems to me we should actually not be setting the route parameter.

_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-js/issues/2487#issuecomment-925319744_

According to the spec, the http.route parameter should be the low-cardinality template route like `/user/:id`. In the http instrumentation, we don't have access to that information and we populate the whole

[2021-09-22 20:53] dyladan commented on #2480
I am pretty sure the spec is settled enough to work on now.

[2021-09-22 20:58] hectorhdzg commented on #2487
Got it thanks for the explanation.

[2021-09-22 21:02] #2487 closed

[2021-09-22 21:14] dyladan commented on #1946
Seems like the changes are relatively simple to make

They create a small shim that returs iitm only on supported node versions like this:

[code]

Then when they call `hook` they also call `esmHook`.

[code]

Simple in theory, though I'm not sure if this would have other impact we're not aware of at the moment. Particularly concerning is that the documentation for the hooks API specifically state

[2021-09-22 21:17] lizthegrey commented on #1946
"experimental" heh

so in order to enable include-in-the-middle, it requires running Node with `-loader`, so users will need to specify that flag when starting to opt in, otherwise I believe it'll no-op to register an override with include-in-the-middle given it won't be called at all.

but if we don't implement this, it becomes an area of missing features/lack of parity I fear :)

[2021-09-22 21:18] dyladan commented on #2481
IMO if spec says default should be secure we should do that. Discussions around insecure by default should happen in spec repo not here unless there is a language-specific extenuating circumstance, which I do not believe there is.

[2021-09-22 21:20] mcollina commented on #1946
Supporting ESM is going to be a moving target for a year or so. I recommend to follow up on this and inform the loaders team of any blockers: https://github.com/nodejs/loaders.

(The API for loaders is going to change soon)

[2021-09-22 21:26] dyladan commented on #1946
If we implement this it can be done in the instrumentation package where we already wrap ritm exactly for this type of scenario. Implementation in one place would make it available to all instrumentations.

It seems we have at least a few options:

1. update our hook method so all instrumentations automatically get esm support
2. expose a second hook method with experimental esm support that instr

[2021-09-22 21:47] weyert commented on #1946
My understanding is that diagnostic_channel would be the right way to approach this but then you still have the chicken-egg problem as the package needs to instrument

[2021-09-23 04:15] frank-dspeed commented on #1946
The only valid real solution is offering 2 packages 1x CJS 1x ESM under diffrent package names.
There are probally Zero Customers / Developers that build a App in a Single Version with conditional exports.

[2021-09-23 09:29] mcollina commented on #1946
I have recently added this to both fastify and undici.

[2021-09-23 12:18] vmarchaud commented on #1946
Don't think so, `diagnostic_channel` is useful for some instrumentations (ones that only create span like for databases) but as soon as we need to propagate context (across process boundary) its not sufficient.

[2021-09-23 13:03] vmarchaud commented on #2489
Note that we override it if another instrumentation (for http frameworks) has given the low cardinality route https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-instrumentation-http/src/utils.ts#L494

[2021-09-23 13:04] dyladan commented on #2489
that's fine but if you're not using one of those instrumentations then it's a duplicated field (with http.target) so there's no reason to have it.

[2021-09-23 16:01] mcollina commented on #1946
this is not strictly true. In Fastify we only publish when we create a new server - mainly for folks to instrument in their own way.

[2021-09-23 17:04] mustafain117 commented on #2489
@dyladan I can work on this, please assign this to me.

[2021-09-23 18:09] weyert commented on #1946
I am wondering what's easier to convince package maintainers to instrument with `diagnostic_channel` or `@opentelemetry/api`. Personally, would prefer the latter :D

[2021-09-23 18:10] dyladan commented on #1946
There's no real reason a package maintainer couldn't support both

[2021-09-24 01:14] astorm commented on #1946
Thanks all for reviving this old issue, the original poster (me) appreciates it.  It seems like there's a great opportunity here for collaboration between APM vendor engineers (via OpenTelemetry) and the node core engineers who've noticed that APM vendors aren't always as involved as they'd like :)

@mcollina it sounds like @dyladan's main concern is about the stability of the current loader hooks

[2021-09-24 08:08] banothurameshnaik commented on #2466
Issue is at https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-instrumentation-fetch/src/fetch.ts#L168

I think, adding type check (to handle `string[][]` case) in line [L168](https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-instrumentation-fetch/src/fetch.ts#L168), [L163](https://github.com/open-telemetr

[2021-09-24 08:24] kkruk-sumo commented on #2466
@banothurameshnaik Unfortunately I don't have time right now to work on it so go ahead. I don't see an option to assign someone to this issue. It looks like I don't have permissions to do it.

[2021-09-24 08:28] Flarna commented on #1946
Regarding loaders: There is a complete rework ongoing and it will take a while. [First step](https://github.com/nodejs/node/pull/37468) already landed on master and I assume it will break import-in-the-middle.
There is a dedicated loaders team in node core working on this (see https://github.com/nodejs/loaders/). I would not expect that loaders get out of experimental that soon.

Please note also

[2021-09-24 16:39] bengl commented on #1946
@dyladan

Modules will fail to load and apps will likely crash. This will be fixed _very_ soon. See below.

@astorm

The change currently on Node.js master replaces a few hooks with a single one. We'll make that change (_very_ soon) in `import-in-the-middle` supporting both the old hooks and the new one. Our plan is to remain up-to-date with whatever's happening in Node.js core, supporting as far

[2021-09-25 07:03] mcollina commented on #1946
It would be amazing to have more APM vendors involved in implementing and maintaining Node.js instrumentation.

Unfortunately it's going to be a moving target and there is nothing we can do about it. Part of the instability is also due to certain corner-cases that needs to clarified/specified by TC39.

Given Node.js release cadence, changes will not be weekly but rather monthly/quarterly. I recomm

[2021-09-25 12:54] #2278 closed

[2021-09-25 15:03] astorm commented on #1946
@dyladan it sounds like @bengl, the maintainer of `import-in-the-middle`, is committed to being on top of stopping and fixing crashers if/when the loaders API is revved.  This seems (from my naive point of view) enough to make `import-in-the-middle` no more risky than the other third party dependencies used by the open telemetry project.  Is this enough for you to be comfortable using it?  If not

[2021-09-25 15:05] astorm commented on #1946
Ah, I see, my apologies @mcollina  for pulling you into an area you don't work in.

[2021-09-25 15:58] astorm commented on #1946
@mhdawson @GeoffreyBooth :wave: pulling you in because you seem (per: https://github.com/nodejs/loaders/issues/34) to be the Node.js loaders team/group.  If that's not the case A. My apologies and B. if you know better people for these sorts of questions please let us know.

Can either of you recommend a _safe_ way to adopt the current loaders APIs?  We're basically looking for a way that we can a

[2021-09-26 04:38] frank-dspeed commented on #1946
@astorm I am not currently working on the loaders api it self but i am familar with the NodeJS API Release cycles and processes. Experimental has nothing to do with crashing it is a message and flag that indicates that the API should exist while we do not fully know how it will look like.

So Expermientel Means in general that you can adopt it save but you need to commit to the fact that you need

[2021-09-27 04:50] GeoffreyBooth commented on #1946
Basically, no. What @frank-dspeed said.

The whole point of experimental APIs is that they are subject to breaking change at any time. The loaders API in particular is changing more than most experimental APIs, hence its [docs](https://nodejs.org/api/esm.html#esm_loaders) have six separate warnings along the lines of “Note: This API is currently being redesigned and will still change” and “Note: T

[2021-09-27 06:31] frank-dspeed commented on #1946
When you want to maintain loader api changes without linking directly to the nodejs version and without detecting the version.

future detection would be a better way to maintain api changes. You only need to maintain a set of api calls and expected results

then you can conditional if else load the right working implementation.

[2021-09-27 07:10] frank-dspeed commented on #1946
Oh by the way i am voting total against usage of nodejs only features like loader hooks there are far more performant ways to run js without NodeJS you should implement what ever you plan to  implement in userland

[2021-09-27 07:56] MartinNovak1991 opened #2500 "Wrong content-type in CollectorTraceExporter header"
### What version of OpenTelemetry are you using?
  "@opentelemetry/api": "^1.0.0",
    "@opentelemetry/context-zone": "^0.24.0",
    "@opentelemetry/exporter-collector": "^0.24.0",
    "@opentelemetry/instrumentation": "^0.24.0",
    "@opentelemetry/instrumentation-document-load": "^0.24.0",
    "@opentelemetry/instrumentation-fetch": "^0.24.0",
    "@opentelemetry/instrumentation-user-interaction

[2021-09-27 07:58] vmarchaud commented on #1946
I'm not sure to understand what you meant here ? Is that an advice to not use loader hooks API from node because there are other platforms (ex deno) ?

[2021-09-27 09:08] frank-dspeed commented on #1946
@vmarchaud your correct but i did not mean deno in special GraalJS for example or node-graal and also the other stuff like just-js there are tons of engines out there.

The most big case that already has Partial opentelemetry support is for example the GraalVM Stack from Oracle that uses opentelemetry via the Quarkus Project and also has a js Engine Called GraalJS which is 100% ES2021 Compatible a

[2021-09-27 09:31] meteorlxy opened #2501 "[Feature Request] Provide a way to customize http client of exporter-otlp-http"
### Is your feature request related to a problem? Please describe.

OTEL provides different exporters for web and node in `@opentelemetry/exporter-otlp-http`, because we need to use XHR in web, and use http module in node.

However, users may need to use OTEL in other environment, which does not support XHR nor http module.

For example, mini programs are very popular in China (I think @legendecas

[2021-09-27 10:00] echoontheway commented on #2501
Sounds good! If @opentelemetry/exporter-otlp-http-base is provided, I think it's also very convenient for Hippy(https://github.com/Tencent/Hippy) which is popular used in my company to extend the exporter.

[2021-09-27 10:18] vmarchaud commented on #1946
We already have platform specific code (between node / browser) for instrumentations so we will most likely need to keep doing this since i don't think there is a platform agnostic way to hook to `import`.

[2021-09-27 10:20] vmarchaud commented on #2500
This has been fixed with https://github.com/open-telemetry/opentelemetry-js/pull/2336 and released in 0.25.0

[2021-09-28 03:10] sureshballa commented on #2483
Hi, we figured out this issue, the introduction of Dynatrace One Agent in our environment has caused this issue. Apparently Dynatrace OneAgent and OpenTelemetry compatibility issue

[2021-09-28 04:13] legendecas commented on #2501
I'm very excited to see wider support of OpenTelemetry on various JavaScript environments.

I believe the condition also applies to Deno and Cloudflare Worker. They don't provide native XHR support but only fetch API support. Obviously they don't support opentelemtry/node packages as they're Web API *compatible* platforms. Also, as XMLHttpRequest and Navigator.sendBeacon are not supported on Web S

[2021-09-28 06:24] Flarna opened #2502 "deprecated renamed packages on NPM and point to new ones"
Several packages have been renamed recently (e.g. `@opentelemetry/tracing`, `@opentelemetry/node`,...).

I think they should be marked as deprecated on NPM and point to the corresponding new package.

[2021-09-28 07:12] frank-dspeed commented on #1946
@vmarchaud or there is one a wrapper is such a hook

[code]

Now you will maybe say ok but that means rewriting code and that is also not fully true here some major design aspects of ECMAScript kick in. JS is Transported as text so it can get patched before execution or init via simply String Manipulation.

I am working on a  lot of custom loader and transpiler stuff i can imagin ways to create to

[2021-09-28 08:16] vmarchaud commented on #1946
I don't think rewriting code on the fly is easier than using native API. I'm not against it but to my knowledge there no existing tooling to do this easily and cross platform.

[2021-09-28 08:20] vmarchaud commented on #2483
I'm closing this since its resolved but i'm intrigued, @dyladan are you aware of this issue ?

[2021-09-28 08:20] #2483 closed

[2021-09-28 08:24] vmarchaud commented on #2501
I'm not personally against introducing support for additional platforms (there is one issue for deno already #2293) but that would require someone have time dedicated to maintain them.

[2021-09-28 09:08] mcollina commented on #1946
It's not possible to rewrite code at runtime using ESM on V8-based platforms. The loader hooks are necessary because they can be run _before_ the module is actually loaded. Once loaded, it's cached forever.

[2021-09-28 10:06] Flarna commented on #2483
Dynatrace OneAgent disables the OTel SDK if the corresponding OneAgent Feature to record OTel spans is activated.
There are several reasons to do this:
* OneAgent has already quite some instrumentations included (http, mongodb, grpc, redis,...)
* OneAgent has already context propagation (in process and between processes) included

Having both active at the same time results in unneeded overhead an

[2021-09-28 13:30] frank-dspeed commented on #1946
@mcollina your partial right but we got for example support for https://nodejs.org/api/esm.html#esm_data_imports

the pattern is relativ easy we fetch the .js we parse it with acorn (rollup) we fetch the dependencies and so on it is relativ straight forward we can pull that of in less then 2 weeks i could write a set of steps to get it done.

[2021-09-28 13:33] mcollina commented on #1946
My recommendation as a user of this library is to use Loaders, not transpiling/editing all the dependency tree.

[2021-09-28 13:37] mhdawson commented on #1946
I'd like to make sure we make the right connections and foster collaboration on this. @GeoffreyBooth do you think the loaders team is the right place for this collaboration?

[2021-09-28 14:04] GeoffreyBooth commented on #1946
Yes, for instrumenting apps in general and naive packages that don't offer instrumentation features. I think there's a diagnostics group that's better for discussing instrumentation for packages that want to use those APIs, but loaders will probably still be involved for getting such packages privileged placement when running apps.

[2021-09-28 14:04] frank-dspeed commented on #1946
@mhdawson your invited to join CNCF as also Node and close the gap you simply start of with a proposal a NodeJS member will help you with your first steps.

[2021-09-28 14:06] frank-dspeed commented on #1946
@GeoffreyBooth shouldn't the devtools protocol already provide all that needed apis ? I am from the Chromium Team and we use that for all kind of APM stuff and telemetry. As far as i know NodeJS makes no diffrence there the only part that we can not examin there inside nodejs is the C usage.

[2021-09-28 14:56] Flarna commented on #1946
@frank-dspeed The instrumentations here mainly wrap functions. I don't think this is available via devtools protocol.
e.g. consider the fs module which a `fs.read("file", cb)` API. The instrumentation intercepts `require("fs")` and replaces the `read` export by a wrapped function. Once this wrapped `fs.read()` is called is starts a span, wraps the cb with a closure referring to this span and calls

[2021-09-28 17:49] #2489 closed

[2021-09-28 18:15] dyladan commented on #2502
Thanks for bringing this to my attention

[2021-09-28 18:40] dyladan commented on #2501
In this case, I think having `exporter-otlp-{protocol}-base` was already in the plan anyway in order to more easily support node and web in `exporter-otlp-{protocol}-{platform}`. If someone wants to make and support a new platform from there, i think it would be acceptable for it to live in the contrib repo.